Player 1 choose:
<br>
<form action="/choice1" method="post">
    <input type="hidden" name="choice1" value="Rock">
    <input type="submit" value="Rock">
</form>
<form action="/choice1" method="post">
    <input type="hidden" name="choice1" value="Paper">
    <input type="submit" value="Paper">
</form>
<form action="/choice1" method="post">
    <input type="hidden" name="choice1" value="Scissors">
    <input type="submit" value="Scissors">
</form>
<br>


Player 2 choose:

<br>
<form action="/choice2" method="post">
    <input type="hidden" name="choice2" value="Rock">
    <input type="submit" value="Rock">
</form>
<form action="/choice2" method="post">
    <input type="hidden" name="choice2" value="Paper">
    <input type="submit" value="Paper">
</form>
<form action="/choice2" method="post">
    <input type="hidden" name="choice2" value="Scissors">
    <input type="submit" value="Scissors">
</form>
<br>

<br>
<form action="/mpmatch" method="get">
    <input type="submit" value="See who won!">
</form>
