<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>This is Rock Paper Scissors!</title>
</head>

<body>
  <div>
    <ul>
      <li><a href="/" class='li_home'>Home</a></li>
      <li><a href="https://github.com/Unicornelia" class='li_rest' target=_blank>Creator's Github</a></li>
      <li><a href="/about" class='li_rest'>About</a></li>
    </ul>
  </div>

  <img src='/css/unicorn_cat.jpg'></img>

  <footer>
    <p>Unicornelia</p>
  </footer>
</body>
</hmtl>
