<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>About the author</title>
</head>

<body>
  <div class="header">
    <ul>
      <li><a href="/" class='li_home'>Home</a></li>
      <li><a href="https://github.com/Unicornelia" class='li_rest' target=_blank>Creator's Github</a></li>
      <li><a href="/about" target=_blank class='li_rest'>About</a></li>
    </ul>
  </div>
  <img src='/css/unicorn_cat.jpg' width=70% height=70%></img>
  <footer>
    <a href='http://unicornelia.com' target=_blank><p>Unicornelia</p></a>
  </footer>
</body>
</hmtl>
