<%= "Right, #{@name}; select an action:" %>
<form action='/result' method='post'>
  <button name='action' value='Rock'>Rock</button>
  <button name='action' value='Paper'>Paper</button>
  <button name='action' value='Scissors'>Scissors</button>
  <button name='action' value='Lizard'>Lizard</button>
  <button name='action' value='Spock'>Spock</button>
</form>
