<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>This is Rock Paper Scissors!</title>
</head>

<body>
  <div class="header">
    <ul>
      <li><a href="/" class='li_home'>Home</a></li>
      <li><a href="https://github.com/Unicornelia" class='li_rest' target=_blank>Creator's Github</a></li>
      <li><a href="/about" target=_blank class='li_rest'>About</a></li>
    </ul>
  </div>

  <div>
    <h1>Goodbye!</h1>
    <h1> Here is the guide to the <a href='http://www.theuselessweb.com/'>useless Internet</a> as a farewell gift</h1>
  </div>
</body>
</hmtl>
