<html>
<center>
  <h1>
  <%= @player %> chose <%= @choice %>!<br>
  <br>
  </h1>
  <h2>
  <%= @game %>
  </h2>
  <br>
  <br>
  <form action="/play" method="post">
      <input type="submit" name="new_game" value="Play again">
  </form>
</center>
</html>
