<form action='/move' method='post'>
  <div>
    <button type="submit" name='move' value='Rock'>Rock</button>
  </div>
</form>
<form action='/move' method='post'>
  <div>
    <button type="submit" name='move' value='Paper'>Paper</button>
  </div>
</form>
<form action='/move' method='post'>
  <div>
    <button type="submit" name='move' value='Scissors'>Scissors</button>
  </div>
</form>