<style>
#draw{
  position: absolute;
  top: 250px;
  left: 565px;
  width: 400px;
  height: 300px;
  border: solid 0px;
}
</style>

<html>
<body bgcolor="#F38181">

<div id="draw">
Its a draw!
</div>

</body>
</html>
