<head>
  <title>Rock Paper Scissors: Results</title>
  <link href="/style.css" type="text/css" rel="stylesheet">
</head>

<body>

<%= @game.players[0].name %> chose <%= @game.results[:player1] %> but <%= @game.players[1].name %> also chose <%= @game.results[:player2] %>!
<br>
<strong>It was a draw</strong>.

<br>
<br>
<a href="/play"><button>Play again?</button></a>
<br><br>
<a href="/"><button>Start again with a new name</button></a>

</body>