<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
    <title>Enter your name</title>
  </head>

  <body>

    <h1>Enter your name</h1>
    <form action="/one-player" method="post" style="display: inline-block;">
      <label for "player_1_name">
        Player 1 Name
      <input type="input" name="player_1_name">
      </label>
      <input type="submit" value="Go!">
    </form>

  </body>
</html>
