<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
    <title>Enter your name</title>
  </head>

  <body>

    <h1>Enter your name</h1>
    <form action="/play" method="post" style="display: inline-block;">
      <label for "player_1_name">
        Name
      <input type="input" name="player_1_name">
      </label>
      <input type="submit" value="Go!">
    </form>

    <!-- if play mode != 1player -->
    <!-- add 2nd form here  -->

  </body>
</html>
