<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
    <title>Enter your name</title>
  </head>

  <body>

    <% if @play_mode == "1 Player" %>
    <h1>Enter your name</h1>
    <form action="/one-player" method="post" style="display: inline-block;">
      <label for "player_1_name">
        Player 1 Name
      <input type="input" name="player_1_name">
      </label>
      <input type="submit" value="Go!">
    </form>
    <% end %>

    <% if @play_mode == "2 Player" %>
    <h1>Enter your names</h1>
      <form action="/two-player" method="post" style="display: inline-block;">
      <label for "player_1_name">
      Player 1 Name
      <input type="input" name="player_1_name">
      </label>
      <label for "player_2_name">
      Player 2 Name
      <input type="input" name="player_2_name">
      </label>
      <input type="submit" value="Go!">
      </form>
    <% end %>

  </body>
</html>
