<h1>Rock, paper scissors!</h1>
<form action="/name" method="post">
  <label for="name">
    Enter your name to play:
    <input type="text" name="name" id="name">
  </label>
  <input type="submit" value="Start">
</form>
