<h3>Select your weapon of choice:</h3>

<form action="">
  <% RandomWeaponGenerator::AVAILABLE_WEAPONS.each do |weapon| %>
    <input type="radio" name="weapon" value="<%= weapon.to_s %>"><%= weapon.to_s.capitalize %>
  <% end %>
</form>