
<form action="/game" method = "post">
 <div class="container">
<div class="jumbotron">
        <h1>Hey <%= @name %>!</h1>
        <p class="lead">Pick an image Rock, Paper or Scissors?<p>What is your name?</p>
        <input type="text" name="name"><p>
        <p><button type="submit" class="btn btn-primary">Lets Play</button></p>
      </div>
      </div>
