<h3>Choose Your Move:</h3>
  <select name="Rock...">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    <option value="lizard">Lizard</option>
    <option value="spock">Spock</option>
  </select>
   <input value="Submit" type="submit">
 </form>
