<body bgcolor="#E6E6FA">

<% if @type == 1 %>
  <h1><center>Make your selection
  <br>
  <br>
  <img src="http://images.natureworldnews.com/data/images/full/5316/rock-paper-scissors.jpg?w=600">
  <center><form action="/result">
    <select name="selection">
      <option value="Rock">Rock</option>
      <option value="Scissors">Scissors</option>
      <option value="Paper">Paper</option>
    </select>
    <input type="submit" value="Choose">
  </form>
<% elsif @type == 2 %>
<h1><center>Choose your weapon <%= @name %>:
  <br>
  <br>
  <img src="http://a599.phobos.apple.com/us/r1000/105/Purple/v4/b9/8a/30/b98a3075-8ec2-6294-c8bc-beeedea6027d/mzl.xafmpgzv.png" height="350" widht="350">
  <br>
  <form action="/result2">
    <center><select name="selection">
      <option value="Rock">Rock</option>
      <option value="Scissors">Scissors</option>
      <option value="Paper">Paper</option>
      <option value="Lizard">Lizard</option>
      <option value="Spock">Spock</option>
    </select>
    <input type="submit" value="Choose">
  </form>
<% end %>