<div>
<form action="/results" method = "post">
 <div class="container">
<div class="jumbotron">
        <h1>Hey <%= @name %>!</h1>
        <h2>You have chosen <%=@player_choice%><h2><br/>
        <p><button type="submit" class="btn btn-primary">Did you win?</button></p>
      </div>
      <p><center><img src="http://bit.ly/1FingNS" width="240" height="320"><p>
      </div>
      </form>
