<!DOCTYPE html>
<html>
<head>
<title>Rock Paper Scissors</title>
</head>

<body>
Welcome <%= @game.player.name %>

<h3>Make your choice</h3>

<form action='/choice' method='post'>
  <input type='radio' id='rock' name='choice' value='rock'> Rock
  <input type='radio' id='paper' name='choice' value='paper'> Paper
  <input type='radio' id='scissors' name='choice' value='scissors'> Scissors<br>
  <input type='submit' value='play'>
</form>

<% unless @game.player.choice == nil %>
You chose <%= @game.player.choice %>
<% end %>
<br>
<% unless @game.chose_hand == nil %>
Your opponent chose <%= @game.chose_hand %>
<% end %>

<br>

  <% unless @game.winner == nil %>
  <%= @game.winner %>
  <% end %>


</body>
</html>
