<!DOCTYPE html>
<html>
<body>

  <p><%= @player_1_name %></p>

  <input type="submit" value="Rock" formaction="/stand_off?player_1_weapon=R">
  <input type="submit" value="Paper" formaction="/stand_off?player_1_weapon=P">
  <input type="submit" value="Scissor" formaction="/stand_off?player_1_weapon=S">

</body>
</html>
