<form action="/outcome"  method="post">
  <label for="move">Thanks <%= @name %></h1>, now select your move:</label>
  <select id="move" name="move" size="3">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select><br><br>
  <input type="submit">
</form>