<!DOCTYPE html>
<html>
<body>

  <p>Player 1: <%= @player_1.name %></p>

  <form method='post'>
    <input type="submit" value="Rock" formaction="/stand_off?player_1_weapon=R">
    <input type="submit" value="Paper" formaction="/stand_off?player_1_weapon=P">
    <input type="submit" value="Scissor" formaction="/stand_off?player_1_weapon=S">
  </form>

  <% if @result %>
    <p><%= @result %></p>
    <p><%= @player_2.name  %> used <%= @player_2.weapon %></p>
  <% end %>

</body>
</html>
