<div>
  Hello, <%= @player_name %>!
</div>
<div>
  Choose your weapon!
</div>
<% @available_weapons.each do |weapon| %>
  <% weapon_name = weapon.to_s %>
  <div>
    <a href="/play/weapon?weapon=<%= weapon_name %>"><%= weapon_name %></a>
  </div>
<% end %>