<!DOCTYPE html>
<html>
<body>

  <p>Player 1: <%= @player_1.name %></p>

  <form method='post'>
    <input type="submit" value="Rock" formaction="/stand_off?player_1_weapon=R">
    <input type="submit" value="Paper" formaction="/stand_off?player_1_weapon=P">
    <input type="submit" value="Scissor" formaction="/stand_off?player_1_weapon=S">
  </form>

  <p><%= @result %></p>

</body>
</html>
