<html>
  <head>
    <style type="text/css">
      body{
        background-color: #e0e0e0;
      }
      .X {
        position: absolute;
        transform: translateX(-50%) translateY(-50%)
        text-align: center;
        font-family: Pacifico, Calibri;
        font-size: 3em,
      }
  </style>
  </head>
  <body>
    <h1 class ='X' style='left: 45%; top: 50%;'>You chose <%= @choice %></h1>
  </body>
</html>
