<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
    <title>Rock Paper Scissors</title>
  </head>

  <body>
    <h1>Rock Paper Scissors</h1>

    <form action="/mode" method="post" style="display: inline-block;">
      <input type="submit" value="1 Player" name="play_mode">
      <input type="submit" value="2 Player" name="play_mode">
    </form>

  </body>

</html>
