<body style="background-color:powderblue;">

<center><h1> Welcome to Rock Paper Scissors! </h1>

<h2> Please register or log in below: </h2>

<a href="/registrations/signup">Register</a><br>
<br>
<a href="/sessions/login">Log In</a>
<br>
<br>
<img src="https://screenrant.com/wp-content/uploads/spock-vulcan-salute-star-trek.jpg" width="300" height="150">
</center>

</body>
