<div>
  Welcome to the Rock Paper Scissors game!
</div>
<div>
  Please enter your name below to get started
</div>
<div>
  <form action="play">
    <input type="text" name="name" required>
    <input class="button" type="submit" value="Start game">
  </form>
</div>