<form action="/player_move" method="post">
  <div>
    <label for="Rock">Rock: </label>
    <input type="radio" name="item" value="Rock">
    <label for="Paper">Paper: </label>
    <input type="radio" name="item" value="Paper">
    <label for="Scissors">Scissors: </label>
    <input type="radio" name="item" value="Scissors">
    <h2><input type="submit" value="Fight!"></h2>
  </div>
</form>
