<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Rock Paper Scissors Lizard Spock</title>
</head>
<body>
<h2>Rock Paper Scissors Lizard Spock</h2>

Welcome to the game, please enter your name below.
<br><br>

<form action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Start playing">
</form>

</body>
</html>
