<head>
<style>

body {
  background: linear-gradient(#009999, #00ffff)
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}

h2 {
  font-family: 'Dancing Script',cursive;
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}

form {
  font-family: 'Dancing Script',cursive;
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}
</style>
</head>


<h1>Welcome to Rock Paper Scissors</h1>
<h2> Sign in to play</h2>
<form action="/names" method= "post">
  <label for="player_1">
    Player name
    <input type= "text" name= "player_1">
  </label>
  <input type= "submit" value= "Submit">
</form>
