<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Rock, Paper, Scissors, Spock, Lizard</title>
</head>
<body>
  <br><br><br><br><br><br><br><br><br><br><br><br>
    <h1> How many players? </h1>
    <form action='/players' method='post'>
      <input type='submit' value='One' name='number_of_players'>
      <input type='submit' value='Two' name='number_of_players'>
    </form>
  </div
</body>
</html>
