<h1> Rock Paper Scissors </h1>

<form action="/play" method="post">
    <p> What is your name? <input type="text" name="player_name"> </p>
    <p> Choose your weapon:
    <select name="weapon">
      <option value = "rock" selected>rock</option>
      <option value = "paper">paper</option>
      <option value = "scissors">scissors</option>
    </select>
    </p>

    <p> Hit submit when you're ready to play! <input type="submit" value="Submit"> </p>
</form>
