<DOCTYPE! html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Rock Paper Scissors</title>
</head>

<body>

<h1> ROCK PAPER SCISSORS! </h1>

<form action = "/names" method = "post" >

  <label form="player_1_name"></label>
  <input type="text" name ="player_1_name">

  <input type="submit" value="Register">

</form>

</body>

</html>
