<!DOCTYPE html>
<html>
  <body>
    <h1>Play Rock Paper Scissors</h1>

    <form action="/names" method="post">
      <label for="player_name">
        Please enter your name to play
        <input type="text" name="player_name"><br>
      </label><br>
      <input type="submit" value="Play">
    </form>
  </body>
</html>
