<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>This is Rock Paper Scissors!</title>
</head>

<body>
  <div>
    <ul>
      <li><a href="/" class='li_home'>Home</a></li>
      <li><a href="https://github.com/Unicornelia" class='li_rest' target=_blank>Creator's Github</a></li>
      <li><a href="/about" target=_blank class='li_rest'>About</a></li>
    </ul>
  </div>

  <div class='intro'>
    <h1>Hello this is Sparta!</h1>
    <h1>Just kidding, this is Rock Paper Scissors!</h1>
  </div>

  <div>
    <img src="/css/rock.png" height=10% width=10% ></img>
    <img src="/css/paper.jpg" height=10% width=10%></img>
    <img src="/css/scissor.png" height=10% width=10%></img>
    <img src="/css/spock.jpg" height=10% width=10%></img>
    <img src="/css/lizard.jpg" height=10% width=10%></img>
  </div>

  <div>
    <form action="/play" method='POST'>
      <fieldset>
        Player's name:<br>
        <input type="text" name="player1" placeholder="name"><br><br>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
  </div>

  <footer>
    <p>Have fun!</p>
  </footer>
</body>
</hmtl>
