<style type="text/css">
  body {
    color: purple;
    background-color: #d8da3d }
    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  form {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  }
</style>
<h1 style="color:blue;margin-left:30px;">Welcome to Rock Paper Scissors</h1>
<h2>Please enter your name below</h2>
<form action='/name' method='POST'>
  <label for='player'> Player: <input type="text" name="player"> </label>
  <input type="submit" value="Submit" >
</form>
