<!DOCTYPE html>
<head>
<title>Rock, Paper, Scissors - Start screen</title>
<link rel="stylesheet" type="text/css" href="/index.css" />
</head>
<body>
<div id="main">
  <h1>Rock, Paper, Scissors</h1>
  <h2><i>Enter your name below</i></h2>
  <form id= "name" action="/names" method="post">
    <input type="text" name="player1_name">
    <input type="submit" value="Submit">
  </form>
</div>
</body>
