<h1>Rock Paper Scissors Deathmatch Challenge</h1>
<h2>Please sign in to play</h2>
<form action="/name" method="post">
  <div>
    <label for="player_one">Player one:</label>
    <input type="text" name="player_one_name">
    <input type="submit" value="Submit">
  </div>
</form>