<form action='/names' method='post'>
  <label>Player 1:</label>
  <input type='text' name='Player 1'><br>
  <label>Player 2:</label>
  <input type='text' name='Player 2'><br>
  <input type='submit' value='Go!'>
</form>>