<!DOCTYPE html>
<html>

<head>
  <title>This is Rock Paper Scissors!</title>
</head>

<body>
  <div>
    <h1>Hello this is Sparta!'
      'Just kidding, this is Rock Paper Scissors'</h1>
    </div>

    <div>
      <form action="action_page.php">
        First player's name:<br>
        <input type="text" name="player1" value="name"><br>
        Second player's name:<br>
        <input type="text" name="player2" value="name"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>



</hmtl>
