<link rel="stylesheet" type="text/css" href="/styles.css">
<p><form action='/game' method='post'>
  <input type='text' name='name' value='Enter your name' onfocus="if (this.value=='Enter your name') this.value=''"><br>
  <button><p>Start Game</p></button>
</form></p>