<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <title> Rock, Paper, Scissors </title>
  </head>

  <body class='title_page'>
    <div class='main'>
      <h1> Rock, Paper, Scissors! </h1>

      <div class='form' >
        <form action="/names" method="post">
          Enter Name: <input type="text" name="name">
          <br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>

  </body>
</html>
