<h1>ROCK/PAPER/SCISSORS/LIZARD/SPOCK</h1>

<img src='./images/rocky.gif' style="border: 5px solid red; margin-left: auto; margin-bottom: 3em" />

<h2>Name Thyself!</h2>

<form action="/game_page" method="post">
<h3>Name:</h3>
  <input type='text' name='name'>
</form>