<h1>Rock Paper Scissors Competition</h1>
<h2>Enter your name to play</h2>
<form action='/names' method='post'>
  <label for ='name'>
    Player name
  <input type ='text' name='name'>
</label>
<input type='submit' value='Submit'>
</form>


 <!-- <input type="text" name="name"> -->
