<form action='/enter_names' method='post'>


        <label for="human_player1"> Player 1 Name </label>

        <input type='text' name='human_player1' autofocus>

        <label for="computer"> Computer Name </label>

        <input type='text' name='computer'>



        <input type='submit' value='submit'>
</form>
