<!DOCTYPE html>
<html>
  <head>
    <div style='text-align: center; font-family: Helvetica'>
  </head>
  <body>
    <img src='http://www.oykugumus.com/wp-content/uploads/2015/08/RockPaperScissors_Logo.jpg'>
    <h2> Enter your name to play </h2>
    <form action="/names" method="post">
      <label for="player_1_name">
        Player name:
        <input type="text" name="player_1_name">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
