<div class="content">
  <div class="w3-card-4">
    <header class="w3-container w3-blue">
      <h1>Welcome to Rock/Paper/Scissors</h1>
    </header>

    <div class="w3-container pad20">
      <form action="/players" method="post">
        Please enter the player names:<br>
        <br>
        <label for="player_1">
          Player 1:
          <input type="text" name="player_1">
        </label><br>
        <br>
        <label for="player_2">
          Player 2:
          <input type="text" name="player_2">
        </label><br>
        <br>
        <input class="w3-btn w3-ripple w3-blue" type="submit" value="Submit">
      </form>
    </div>

    <footer class="w3-container w3-blue">
      <h5>Footer</h5>
    </footer>
  </div>
</div>