<center><h1> Rock Paper Scissor</h1>
<form action="/result" method="post">
  <input type="text" name="name" value="Name">
  <select name="options">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissor">Scissor</option>
  </select>
  <input type="submit" value="Play">
</form></center>