<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Public/style_sheets/style.css">
<!--

The head tag is where information about the html page itself is added, such as
information about a title (tab name) for the document, scripts, styles and other
meta information (data about data, i.e. describes the contents of the html doc).

-->
  </head>
  <body>
    <h1 class="page_title">Welcome to Rock,&nbsp; Paper,&nbsp; Scissors!</h1>
      <br></br>
      <form class="form" action="/name" method="post">
      <b id="enter_name">Your Name: </b><input id="name_filler" type="text" name="player_name">
      <input class="submit_button" type="image" src="Public/images/submit_button.png" value="Submit Name">
      </form>
  </body>
</html>
