<!DOCTYPE html>
<html>
<body bgcolor="#C0DCFF">
  <div align="center">
    <br>
    <br>
    <h1>Welcome! Pick your poison!</h1>
    <form action="/choice" method="post">
      <button type="Submit" name="rock">Rock</button>
      <button type="Submit" name="paper">Paper</button>
      <button type="Submit" name="scissors">Scissors</button>
      <button type="Submit" name="lizard">Lizard</button>
      <button type="Submit" name="spock">Spock</button>
    </form>

  </div>
</body>
</html>
