<html>
<head>
</head>
<body>
choose players:
<br>
<form action="/players1" method="get">
  <button  type="submit">1 Player</button><br>
</form>

<form action="/players2" method = "get">
  <button type="submit">2 Players</button>
</form>
</body>
</html>
