<html>
<body bgcolor="#F38181">

<style>
#name-boxes{
  position: absolute;
  top: 250px;
  left: 565px;
  width: 400px;
  height: 300px;
  border: solid 0px;
}
</style>


<div id="name-boxes">
<p size="30:px" >-----------------Enter your names-----------------</p>
<form action="/names" method="post">
 <input type="text" name="Player_1_name">
 <input type="submit" value="Submit">
</form>
</div>


</body>
</html>
