<body bgcolor="#E6E6FA">
<div>
  <center><img src="https://www.rockpaperscissorsshop.com/themes/rockpaper/resources/images/logo.png">
</div>
<div>
  <br>
  <div><center><h1>Rock Paper Scissors Challenge,</h1><br>
  <h2>by Daryl Watson</h2>
  <br>
  <br>
  Start by entering your name
  <br>
  <br>
  <form action="/name" method="post">
    <input type="text" name="name">
    <input type="submit" value="Go!">
  </form>
</div>