<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h2>Welcome to Rock Paper Scissors!</h2>
    <h3>Please enter you name:</h3>
    <form action="/" method="post">
       <input type="text" id="player_name" name="player_name">
       <br>
       <input type="submit"  value="Submit">
    </form>
  </body>
</html>
