<h2>Rock Paper Scissors!</h2>

Welcome to the game, please enter your name below.
<br>

<form action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
