<!DOCTYPE html>
<html>
  <head>
    <title>Rock,Paper,Scissors</title>
  <head>
  <body>
    <form action='/play' method='post'>
      <label> Marketer: Register here
      <input type='text' name="name" >
      <input type='submit' value="Submit">
    </form>

  <body>
</html>
