<h1>Welcome to Rock Paper Scissors</h1>
<h2>Please enter your name below</h2>
<form action='/name' method='POST'>
  <label for='player'> Player: <input type="text" name="player"> </label>
  <input type="submit" value="Submit">
</form>
