<!DOCTYPE html>
<html>
<body>

  <h1>Welcome to Rock-Paper-Scissors</h1>

  <h2>Please enter your name</h2>

  <form action='/player_name' method='post'>
    Your name:<br>
    <input type="text" name="player_1_name">
    <input type="submit" value="Play">
  </form>
</body>
</html>
