<html>
<center>
  <h1>What's your name?</h1>
  <form action="/name" method="post">
      <input type="text" name="player" minlength="3" size="35">
      <input type="submit" value="Submit">
  </form>
</center>
</html>
