Welcome to Rock, Paper, Scissors! Please enter your name below.

<form action='/get-names' method="post">
  <label for="player1">Player 1:</label>
  <input type="text" id="player1" name="player1">
  <button name="submit" type="submit">Let's Go!</button>
</form>
