
</div>
<form action="/game" method = "post">
 <div class="container">
<div class="jumbotron">
        <h1>Hello! </h1>
        <p class="lead">Do you wanna play Rock Paper, Scissors?<p>What is your name?</p>
        <input type="text" name="name"><p>
        <p><button type="submit" class="btn btn-primary">Lets Play</button></p>
      </div>
      </div>



