<div align="center">
<form action="/result" method="post">

  Enter Player1: <input align ="center" type="text" name="player1">
<select name="option1">
  <option value="scissors">Scissors</option>
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
</select>


  Enter Player2: <input align ="center" type="text" name="player2">
<select name="option2">
  <option value="paper">Paper</option>
  <option value="rock">Rock</option>
  <option value="scissors">Scissors</option>
</select>
  <input align ="center"type="submit" value="Play">

</form>

</div>
