<h1>Are you ready to play?</h1>
<h2>ROCK PAPER SCISSORS</h2>
<form action="/choose_RPS" method="post">
  <label for="name">
    Please enter your name:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Submit">
</form>
