<h1>Rock paper sissors </h1>
<form action="/play" method="post">
		<label for="player1">Player 1</label>
		<input type="text" placeholder="Enter name here.." name="player1" >
	<!-- <fieldset id="player2">
		<label for="player2">Player 2</label>
		<input type="text" placeholder="Player 2" name="player2" >
	</fieldset> -->
		<!-- <input type="radio" name="playerno" id="p1" value="1" checked>One player<br> -->
		<!-- <input type="radio" name="playerno" id="p2" value="2">Two players<br> -->
		<input type="checkbox" name="lizardspock"> Add <i class="fa fa-hand-lizard-o" title="lizard" aria-hidden="true"></i> and <i class="fa fa-hand-spock-o" title="Spock" aria-hidden="true"></i>?
	<input type="submit" value="Play">
</form>

