<h2>What's your name?</h2>
<form class="form" role="form" action = "/game" method = "post">
 <div class="form-group">

   <input type="text" name = "name" class="form-control">
 </div>

 <button type="submit" class="btn btn-primary btn-block btn-lg">Play <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
</form>
