<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css_index.css" ></head>
<body>
<!-- <div class="round-button"><div class="round-button-circle"><a href="http://example.com" class="round-button">Button!!</a></div></div -->
  <h1 style="color:blue;margin-left:30px;">Welcome to Rock Paper Scissors</h1>
<h2 style="color:blue;margin-left:50px">Please enter your name below</h2>


<form action='/name' method='POST' placeholder="Name...">
  <label for='player'> Player: <input type="text" name="player"> </label>
  <input type="submit">
</form>
</body>
</html>
