<div style='text-align: center; font-family: Helvetica'>
<img src='http://www.oykugumus.com/wp-content/uploads/2015/08/RockPaperScissors_Logo.jpg'>
<div>
  <div {background-image: url("http://wallbasehq.net/images/big/rock_paper_scissors_rock_paper_scissors_digital_art_hands_palm_wallpaper-13613.jpg");}>
  <h2> Enter your name to play </h2>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player name:
      <input type="text" name="player_1_name">
    </label>
    <input type="submit" value="Submit">
  </form>
