<h1>Rock, Paper, Scissors!</h1>
<h2>Which will you choose?</h2>
<div>
  <form action="/play" method="post">
    Name: <input type="text" name="player_name" />
    <input type="submit" value="Play!" />
  </form>
</div>
