<form action="/names" method="post">
  <label for="Player1_name">
    Enter your name Player1:
  </label>
  <input type="text" name="Player1_name">
  <label for="Player2_name">
    Enter your name Player2:
  </label>
  <input type="text" name="Player2_name">
  <input type="submit" value="Submit">
</form>
