<!doctype html>
<html lang="en">
  <head>
    <title><%= @title || "RSPLS GAME " %></title
    <meta charset="utf-8">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>RSPLS</h1>
      </header>
      <section>
        <%= yield %>
      </section>
    </div>
  </body>
</html>