<body bgcolor="#E6E6FA">
<h1><center>Welcome <%= @name %> </h1>
<br>
<center><h2>Rock, Paper, Scissors</h2>
<br>
<img src="http://www.lisaleeishan.com/wp-content/uploads/2013/12/RockPaperScissors_Logo.jpg" height="200" width="200">
<br>
<br>
<a href="/game">Click here</a>
<br>
<br>
<h2>Rock, Paper, Scissors, Lizard, Spock</h1>
<br>
<br>
<img src="http://i.ytimg.com/vi/3GKnZwx8mX8/maxresdefault.jpg" height="200" width="200">
<br>
<br>
<a href="/game2">Or click here</a>
<br>
<br>