<!DOCTYPE html>
<html>
<head>
<style>
body {
    background: url("https://inspirationhut.net/wp-content/uploads/2015/09/190.jpg") no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
h3 {
    text-align: center;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
form {
display: inline-block;
text-align: center;
}
.buttonHolder { text-align: center; }
</style>

</head>
<body>

  <h1>You lose!</h1>

  <div class="buttonHolder">
    <form action="/play" method= "get"  >
      <button type="submit">PLAY AGAIN</button>
    </form>
  </div>

</body>
</html>
