<link rel="stylesheet" type="text/css" href="/styles.css">
<h1 class='flashing'><%= session[:name] %></h1>
<% if @total_players.odd? %>
<p>No other player</p><br>
<form action='/multi' method='post'>
<p><button value='Check again'>Check again</button></p>
</form>
<% else %>
  <%= erb :game %>
<% end %>
