<html>
  <body>
    <h1>Enter your name below:</h1>
    <form action="/display-name" method="post">
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
