<form action='/results' method='post'>
        <input type='submit' value='ROCK'>
</form>


<form action='/results' method='post'>
        <input type='submit' value='PAPER'>
</form>

<form action='/results' method='post'>
        <input type='submit' value='SCISSORS'>
</form>
