<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/play_styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Choose A Move</title>
  </head>

  <body>
    <div id="content">
      <div id="match-info">
        <h1><%= @game.current_player.name %> <span id="small-vs">vs</span> MA-RPS3000</h1>
        <p id="choose-a-move">choose a move</p>
      </div>

      <div class="visuals">
        <img id="player-hand" src="svg/rock.svg">
        <img id="opponent-hand" src="svg/rock.svg">
      </div>
    
      <div class="moves">
        <form action="/match" method="POST">
          <input type="submit" name="choice" value="ROCK">
        </form>

        <form action="/match" method="POST">
          <input type="submit" name="choice" value="PAPER">
        </form>

        <form action="/match" method="POST">
          <input type="submit" name="choice" value="SCISSORS">
        </form>

        <form action="/match" method="POST">
          <input type="submit" name="choice" value="LIZARD">
        </form>

        <form action="/match" method="POST">
          <input type="submit" name="choice" value="SPOCK">
        </form>
      </div>
    </div>
  </body>
</html>
