<h1>Welcome <%= @name %>. Get ready for an epic battle.</h1>

<form action="result" method='post'>
  <input type="submit" value="ROCK!" name="player_choice">
</form>

<form action="result" method='post'>
  <input type="submit" value="PAPER!" name="player_choice">
</form>

<form action="result" method='post'>
  <input type="submit" value="SCISSORS!" name="player_choice">
</form>
