<h1>Let's play Schnick, Schnack, Schnuck</h1>
<H3>Welcome <%= @player_name %> </H3>

<form>
<input type="radio" name="rock" value="rock"> Rock
<input type="radio" name="paper" value="paper"> Paper
<input type="radio" name="scissors" value="scissors">Scissors
<input type="submit"value="Come at me!">

</form>

