<body style="background-color:powderblue;">
<center>
<h1> Let's Play! </h1>

<form action="/result" method="post">

<input id="rock" name="choice" type="radio" value="rock">
<label for="rock"> Rock</label><br>
<input id="paper" name="choice" type="radio" value="paper">
<label for="paper"> Paper</label><br>
<input id="scissors" name="choice" type="radio" value="scissors">
<label for="scissors"> Scissors</label><br>
<input type="submit" value="Play!">
</form>

<img src="https://d1x7zurbps6occ.cloudfront.net/product/xlarge/528483-152879.jpg" width="300" height="400">
</center>
</body>
