<form>
  Rock: <input type="checkbox" name="choice" value="Rock">
  Paper: <input type="checkbox" name="choice" value="Paper">
  Scissors: <input type="checkbox" name="choice" value="Scissors">
</form>
