<%= @player_1_name %>
<br>
<form action="/result" method="get">
  <label>Rock</label>
  <input type='radio' name='player_choice' value='Rock'>
  <label>Paper</label>
  <input type='radio' name='player_choice' value='Paper'>
  <label>Scissors</label>
  <input type='radio' name='player_choice' value='Scissors'>
  <br>
  <input type='submit' value='Play'>
</form>
