<h1>Rock Paper Scissors</h1>

<h2><%= @player %> has joined a game of Rock Paper Scissors<h2>

<form action="/result" method="post">
  <label for="choice">
    Please choose </label><br>
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
</form>
