<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
  </head>

  <body>

    <h3><%= @game.player_1.name %>, choose your move</h3>

    <form action="/result" method="post" style="display: inline-block;">
      <input type="submit" value="Rock" name="move">
      <input type="submit" value="Paper" name="move">
      <input type="submit" value="Scissors" name="move">
      <input type="submit" value="Spock" name="move">
      <input type="submit" value="Lizard" name="move">
    </form>


  </body>

</html>
