<html>
  <head>
    <style type="text/css">
      body{
        background-color: #e0e0e0;
      }
      .X {
        position: absolute;
        transform: translateX(-50%) translateY(-50%)
        text-align: center;
        font-family: Pacifico, Calibri;
        font-size: 3em,
      }
  </style>
  </head>
  <body>
    <h1 class ='X' style='left: 37%; top: 35%;'>Choose between rock, paper and scissors:</h1>
      <a href='/game_rock' id=rock>
      <img class ='X' style='left: 30%; top: 50%;' src='https://images-na.ssl-images-amazon.com/images/I/61IoSzyFe2L._AC_UL320_SR226,320_.jpg' alt='start' width=176 height=225>
      </a>
      <a href='/game_paper' id="paper">
      <img class ='X' style='left: 50%; top: 50%;' src='http://www.pvhc.net/img128/jgmmehfwgnpguybvisrb.png' alt='start' width=200 height=200>
      </a>
      <a href='/game_scissors' id="scissors">
      <img class ='X' style='left: 70%; top: 50%;' src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Circle-icons-scissors.svg/2000px-Circle-icons-scissors.svg.png' alt='start' width=200 height=200>
      </a>
  </body>
</html>
