<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <title> Let's Play! </title>
  </head>

  <body class="title_page">

    <h1> <%=@game.name%>, choose your weapon! </h1>

    <form action='/selection' method="post">

      <div class='row clearfix'>
        <div class='col-4' id='first'>
          <img src="rock.png"><br>
          <input type="radio" name="choice" id="Rock" value="Rock"> Rock</input>
        </div>

        <div class='col-4' id='second'>
          <img src="paper.png"><br>
          <input type="radio" name="choice" id="Paper" value="Paper"> Paper</input>
        </div>

        <div class='col-4' id='third'>
          <img src="scissors.png"><br>
          <input type="radio" name="choice" id="Scissors" value="Scissors"> Scissors</input>
        </div>
      </div>

      <div class='row'>
        <div class='button'>
          <input class='button2' type="submit" value="Submit">
        </div>
      </div>

    </form>

  </body>
</html>
