<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Public/style_sheets/style.css">
  </head>
  <body>
    <h1 class="page_title">Lets Play Rock,&nbsp; Paper,&nbsp; Scissors!</h1>
    <h2 class="players"><%= @player_name %>:&nbsp;<%= @player_score %>&nbsp;&nbsp;<b>vs
    </b>&nbsp;&nbsp;Computer:&nbsp;<%= @computer_score %></h2>
    <form id="player_options" action="/in-game" method="post">
      <select id="choose" name="game_options">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
      </select>
      <button id="play" name="computer_move" type="submit">Play Hand</button>
    </form>
  </body>
</html>
