<h1>Ok <%= @player_1_name %>, choose your weapon</h1>
<br />
<form action="/result" method="post">
<a name="rock" href="/result">Rock</a>
<a name="paper" href="/result">Paper</a>
<a name="scissors" href="/result">Scissors</a>
</form>
