Player 1: <%= @player_one_name %>

<h2> Choose your weapon! </h2>

<div>
  <form action="/rock" method="post">
    <input type="submit" value="Rock">
  </form>
</div>

<div>
  <form action="/paper" method="post">
    <input type="submit" value="Paper">
  </form>
</div>

<div>
  <form action="/scissors" method="post">
    <input type="submit" value="Scissors">
  </form>
</div>