<div>
	<% if @choice %>
	You chose <%= @choice %>
	<br>
	Player Two chose <%= @comchoice  %>
	<br>
	<%= @winner %>
	<% else %>
	<p>Please choose from one of the following choices:</p>
	<form action="/player" method="post">
	<button type="submit" value="rock" name="choice">Rock</button>
	<button type="submit" value="paper" name="choice">Paper</button>
	<button type="submit" value="scissors" name="choice">Scissors</button>
	</form>
	<% end %>
</div>