<%= "Player's name is" %>
<div id="allofthelights">
    <canvas width="150" height="75"></canvas>
    <h1 contenteditable="true"> <%= @username %></h1>
</div>

Now make your choice:

<form>
<input type="radio", name = 'option', value = 'Rock'> Rock<br>
<input type="radio", name = 'option', value = 'Paper'> Paper <br>
<input type="radio", name = 'option', value = 'Scissors'> Scissors<br>
</form>
