<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Public/style_sheets/style.css">
  </head>
  <body>
    <h1 class="page_title">Lets Play Rock,&nbsp; Paper,&nbsp; Scissors!</h1>
    <h2 class="players"><%= @player_name %>&nbsp;<b>vs</b>&nbsp;Computer</h2>
  </body>
</html>
