<head>
  <title>Rock Paper Scissors: Decision</title>
  <link href="/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<h2><%= @game.players[0].name %> vs <%= @game.players[1].name %>!</h2>

<form action="/choice" method="post">
  <button name="rock" >ROCK</button>
  <button name="paper" >PAPER</button>
  <button name="scissors" >SCISSORS</button>
  <br>
  <img src="rock.png" alt="rock" style="width: 25vw;"/>
  <img src="paper.png" alt="paper" style="width: 25vw;"/>
  <img src="scissors.png" alt="scissors" style="width: 25vw;"/>
</form>
</body>