<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors!</title>
  <meta name="author" content="Rob Brentnall">
  <meta name="description" content="Play Rock, Paper, Scissors now and let off a little steam!">
  <meta name="keywords" content="rocks, paper, scissors, game">
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"> <!-- TODO - ADD FAVICON -->
  </head>
  <body>
    <main class="main">
      <h1>Rock, Paper, Scissors!</h1>
      <h2>Player name: <%= session[:player_name] %></h2>
    </main>
  </body>
</html>
