<h1 align='center'>Select enter your decision and hit throw!</h1>
<h1 align='center'>Lets Play<%=@name%>!</h1>


<form action="/decide" method="post">
  <label for="player_1_name">
    Rock, Paper or Scissors?
    <input type="text" name="selection">
  </label>
  <input type="submit" value="Throw!">
</form>
