<h1>Rock Paper Scissors</h1>

<h2><%= @player %> has joined a game of Rock Paper Scissors<h2>

<form action="/choice" method="post">
  <div>
    <label for="player_choice">
      Please choose one<br>
      <input type="radio" id="choiceRock"
             name="player_choice" value="rock">
      <label for="choiceRock">Rock</label>
      <input type="radio" id="choicePaper"
             name="player_choice" value="paper">
      <label for="choicePaper">Paper</label>
      <input type="radio" id="choiceScissors"
             name="player_choice" value="scissors">
      <label for="choiceScissors">Scissors</label>
    </label>
  </div>
  <input type="submit" value="Go">
</form>
