Welcome <%= @game.name %> </br>
To play Rock, Paper Scissors enter a choice:</br>
<form action="/play" method="post">
<input type="submit" name="choice" value="Rock" />
<input type="submit" name="choice" value="Paper" />
<input type="submit" name="choice" value="Scissors" /></br>

You chose <%= @game.choice.to_s.capitalize%></br>

<div id="option">
  Opponent chose <%= @game.random_option.to_s.capitalize %>!
</div>

</form>
