<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "<%= url("css/style.css")%>" >
  </head>
  <body>
    <div class="image">
      <img src="images/bg.jpg" alt=""/>
    </div>
    <div class="formsection">
      <form action="/entry_2" method="post" class="center">
      <h1>Player 2</h1> <br>
        <input class="inputbar" type="text" name="player_2_move"><br>
        <button class="btn" type="submit"> Submit move! </button>
      </form>
    </div>

  </body>
</html>
