<form action='/play' method="post">
  <button class="butotn" name="choice" value="Rock">Rock</button>
  <button class="button" name="choice" value="Paper">Paper</button>
  <button class="button" name="choice" value="Scissors">Scissors</button>
</form>

<% if params[:choice] %>
  <p> You chose <%= @player_choice %>... </p>
  <p> The computer chose <%= @cpu_choice %>... </p>
  <p> So obviously <%= @result %> </p>
<% else %>
  <p></p>
<% end %>



<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
  $('.b').click(function() {
    alert( "str" );
  });
</script> -->