<html>
  <head>
    <style type="text/css">
      body{
        background-color: #e0e0e0;
      }
      .X {
        position: absolute;
        transform: translateX(-50%) translateY(-50%)
        text-align: center;
        font-family: Pacifico, Calibri;
        font-size: 3em,
      }
  </style>
  </head>
  <body>
    <h1 class ='X' style='left: 32%; top: 35%;'>Choose between rock, paper and scissors:</h1>
    <form action='/game' method='post'>
      <input type='image' name='choice' value='rock'class ='X' style='left: 25%; top: 50%;' src='https://images-na.ssl-images-amazon.com/images/I/61IoSzyFe2L._AC_UL320_SR226,320_.jpg' alt='start' width=176 height=225>
    </form>
    <form action='/game' method='post'>
      <input type='image' name='choice' value='paper'class ='X' style='left: 45%; top: 50%;' src='http://www.pvhc.net/img128/jgmmehfwgnpguybvisrb.png' alt='start' width=200 height=200>
    </form>
    <form action='/game' method='post'>
      <input type='image' name='choice' value='scissors'class ='X' style='left: 65%; top: 50%;' src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Circle-icons-scissors.svg/2000px-Circle-icons-scissors.svg.png' alt='start' width=200 height=200>
    </form>
  </body>
</html>
