<h1><%=@game.player_1.name.capitalize%> vs Computer</h1>

<h3>Choose rock, paper or scissors</h3>

<form action="/rock" method="post">
  <button type="submit">ROCK</button>
</form>

<form action="/paper" method="post">
  <button type="submit">PAPER</button>
</form>

<form action="/scissors" method="post">
  <button type="submit">SCISSORS</button>
</form>
