<html>
  <head>
    <style type="text/css">
      body{
        background-color: #e0e0e0;
      }
      .X {
        position: absolute;
        transform: translateX(-50%) translateY(-50%)
        text-align: center;
        font-family: Pacifico, Calibri;
        font-size: 3em,
      }
  </style>
  </head>
  <body>
    <h1 class ='X' style='left: 37%; top: 35%;'>Choose between rock, paper and scissors:</h1>
      <a href='/play/rocks'>
      <img class ='X' style='left: 40%; top: 50%;' src='https://images-na.ssl-images-amazon.com/images/I/61IoSzyFe2L._AC_UL320_SR226,320_.jpg' alt='start' width=200 height=100>
      </a>
      <a href='/play/rocks'>
      <img class ='X' style='left: 50%; top: 50%;' src='http://pixelartmaker.com/art/e09a4700bb13a1c.png' alt='start' width=200 height=100>
      </a>
      <a href='/play/rocks'>
      <img class ='X' style='left: 60%; top: 50%;' src='http://pixelartmaker.com/art/e09a4700bb13a1c.png' alt='start' width=200 height=100>
      </a>
  </body>
</html>
