Hello, <%= @turn.player_name %>

<form action="/play" method="post">
  <input type="submit" name="option" value="Rock">
  <input type="submit" name="option" value="Paper">
  <input type="submit" name="option" value="Scissors">
</form>

You chose <%= @turn.player_option %>!

<div id="opponent">
  The opponent chose <%= @turn.opponent_option.to_s %>!
</div>

<% if @turn.win? %>
  You win!
<% elsif @turn.lose? %>
  You lose!
<% else @turn.draw? %>
  Its a draw!
<% end %>
