<%= @game.player_1.name %> vs <%= @game.player_2.name %> <br>
Welcome <%= @game.current_turn.name %>

<form action="/check" method="post">
    <button name="selection" value="rock" type="submit">Rock</button>
    <button name="selection" value="paper" type="submit">Paper</button>
    <button name="selection" value="scissors" type="submit">Scissors</button>
</form>
