Player 1: <%= @player_one_name %>

<h2> Choose your weapon! </h2>

<div>
  <form action="/play" method="post">
    <input type="submit" name="weapon" value="Rock">
    <input type="submit" name="weapon" value="Paper">
    <input type="submit" name="weapon" value="Scissors">
  </form>
</div>

<% if @player_one_weapon %>
  <div><%= @player_one_name %> has chosen <%= @player_one_weapon %>!</div>
  <div>The computer has chosen <%= @player_two_weapon %>!</div>
  <div>
    <form action="/resolve" method="post">
      <input type="submit" value="Resolve">
    </form>
  </div>


<% end %>

