
<h1><%= @human.name.capitalize %> vs. HAL 9000</h1>

<h2>Choose your attack:</h2>

<form action="/rock">
  <input type="submit" value="Rock">
</form>

<form action="/paper">
  <input type="submit" value="Paper">
</form>

<form action="/scissors">
  <input type="submit" value="Scissors">
</form>
