<h2> Choose your weapon! </h2>
<form>
  Rock: <input type="radio" name="choice" value="Rock"><br>
  Paper: <input type="radio" name="choice" value="Paper"><br>
  Scissors: <input type="radio" name="choice" value="Scissors"><br><br>
  <input type="submit" value="Submit">
</form>
