<style>

  input[type=submit] {
    background-color: #5D3AB5;
    border: solid black;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    margin: 3px 20px;
    text-decoration: bold;
    cursor: pointer;
  }

  .container {
    margin-top: 10%;
  }

</style>

<html>
<center>

  <div class='container'>
    <h1><%= @player %>, let's play!</h1>
  <br>

  <h2><u>Choose:</u></h2><br>
  <form action="/choice" method="post">
      <input type="submit" name="choice" value="Rock">
      <input type="submit" name="choice" value="Paper">
      <input type="submit" name="choice" value="Scissors">
  </form>
  </div>
</center>
</html>
