<html>
<head>
</head>
<body>
PLAY<br>
<%= @player1_name %> VS <%= @player2_name %><br>
1 = Rock  <br>
2 = Paper <br>
3 = Scissors <br>
<br>
<form action="/p_results" method = "post">
Player 1 Select :<input type="password" autocomplete="off" name="answer_1" maxlength="1">
<br><br>
 <input type="submit" value="Submit">
</form>
<body>
</heady>  
