<html>
  <!-- <head>
    <style type="text/css">
    body {
      background-color: #e0e0e0;
    }
    </style>
  </head> -->
  <body>
    <!-- <font color='white'> -->
    <h1>Please introduce your username:</h1>
    <form action='/user_registered' method='post'>
      <div>
        <label for='username'>Your user name:</label>
        <input type='text' name='username'>
        <input type='submit' value='Register'>
       </div>
    </form>
    <!-- </font> -->
  </body>
</html>
