<p>You chose <%=@game.player_choice%></p>
<p>Computer chose <%=@game.computer_choice%></p>
<p>You <%=@game.result%>!</p>

<form action="/play" method= "get"  >
  <button type="submit">PLAY AGAIN</button>
</form>
