<!DOCTYPE html>
<html>
<head>
  <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
  <title>Battle Results</title>
</head>

<body>

<h2>and the winner is...</p>

<p><%= @game.calc_winner %></p>



</body>

</html>
