<html>
  <head>
  </head>

  <body>

    <%= @winsies %>
    <label for ="answer_1"><%= @ans_1 %></label>
    <label for = "answer_2"><%= @ans_2 %></label>
    <br>

    <form action="/play1" method = "get">
      <button type="submit">Play Again</button>
    </form>

  </body>

</html>
