<!DOCTYPE html>
<html>
<head>
  <!-- <link href="/style.css" rel="stylesheet" type="text/css" /> -->
  <title>Battle Results</title>
</head>

<body>

<h2>and the winner is...</p>

<p><%= @game.calc_winner %></p>

<form action="/" method="post" style="display: inline-block;">
  <input type="submit" value="Play Again">
</form>

</body>

</html>
