<h1 align='center'>Here's your result!</h1>
<h2 align='center'>You <%=@game.result%> <%=@game.player_name%>!</h2>
<h2>Your selection:<%=@game.player_choice%></h2>
<h2>The computers selection:<%=@game.comp_choice%></h2>
