<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h2>You chose <%= @player1.choice %>, <%= @player2.name %> chose <%= @player2.choice %>!</h2>
    <h2><%= @result %></h2>
    <br>
    <p>
      <a href="/">Play again?</a>
    </p>
  </body>
</html>
