<h2><%= @player.name %> chose <%= @player.choice %><h2>
<h2>Computer chose <%= @computer.choice %><h2>
<h2><%= @result %></h2>

<form action="/play">
  <label for="play_again">
    <input type="submit" value="Play again">
  <label>
</form>

<form action="/">
  <label for="new_player">
    <input type="submit" value="New player">
  <label>
</form>
