<head>
<style>

body {
  background: linear-gradient(#009999, #00ffff)
}

h1 {
  font-family: 'Helvetica';
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #0099e6, 0 0 8px #0099e6
}

</style>
</head>

 <h1> <%= @player_1 %> your choice was <%= @player_choice %></h1>
