<h1>HERE WE GO!!</h1>
Hello, <font size="80"><%= @player.name %></font>

<form action="/pick" method="post">

  <input type="submit" name="playerchoice" value="Rock">  <input type="submit" name="playerchoice" value="Paper">
  <input type="submit" name="playerchoice" value="Scissors">

</form>

You went with <%= @player.choice  %>!
