<h1>HERE WE GO!!</h1>
<font size="80"><%= @player.name %></font>

<form action="/pick" method="post">

  <input type="submit" value="Rock">  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">

</form>
