<body style="background-color:powderblue;">
<center><h1>Rock Paper Scissors!</h1>
<h2>Sign up to play</h2>
<form action="/register" method="post">
  <label for="email">
    Your email
    <input type="text" name="email">
  </label>
  <label for="password">
    Your password
    <input type="password" name="password">
  </label>
  <input type="submit" value="Register!" >
</form>

<img src="https://www.kaufmanhall.com/sites/default/files/images/2019-01/rock-paper-scissors_which-business-model-wins-in-the-internet-economy.png">
</center>
</body>
