<%= "Hello #{@name}! Want to play ‘Rock, Paper, Scissors, Lizard, Spock’?<br>" if @name %>
<form action='/' method='get'>
  <button>Change my name</button>
</form>
<form action='/action' method='get'>
  <button>Yes please!</button>
</form>
