<!DOCTYPE html>
<html>
<head>
<style>

body {
  background:#c02425;
  background:-moz-linear-gradient(top,#b300d3 0,#2395ff 100%);
  background:-webkit-linear-gradient(top,#b300d3 0,#2395ff 100%);
  background:linear-gradient(to bottom,#b300d3 0,#2395ff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300d3', endColorstr='#2395ff', GradientType=0 );
  background-repeat:no-repeat;background-attachment:fixed}
}

h1 {



}



</style>
</head>
<h1><center>Cockroach - Foot - Armageddon</center></h1>

<p style="text-align:center"><img src="https://66.media.tumblr.com/a85f4f7e0391165d142a17142e13e82c/tumblr_nsd7krisZS1qk0kjeo1_500.gif"/></p>


<div class="text" style="text-align:center"><form action="/play" method="post">
  <label for="player1">
    Player 1 name:
  </label><br>
  <input id="player1" name="player1" type="text"><br>
  <input type="submit" value="Play!" />
</form>



</html>
