<%= "Hello #{@name}! Want to play ‘Rock, Paper, Scissors, Lizard, Spock’?" if @name %>
<form action='/' method='get'>
  <button>No, change my name!</button>
</form>
<form action='/action' method='get'>
  <button autofocus>Yes please!</button>
</form>
