<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>RPS</title>
</head>
<body>

"It's a tie"

<form action="/play" method="get">
  <input type="submit" value="Play again">
</form>


</body>
</html>
