<html>
<head>
  <style type="text/css">
  body{
    background-color: #e0e0e0;
  }
  .X {
    position: absolute;
    transform: translateX(-50%) translateY(-50%)
    text-align: center;
    font-family: Pacifico, Calibri;
    font-size: 3em,
  }
  </style>
</head>
  <body>
    <h1 class ='X' style='left: 37%; top: 35%;'>Your username is: <%= @username %></h1>
    <!-- </br> -->
      <a href='/play'>
      <img class ='X' style='left: 42%; top: 50%;' src='http://pixelartmaker.com/art/e09a4700bb13a1c.png' alt='start' width=200 height=100>
      </a>
  </body>
</html>
