<html>
<head>
  <style type="text/css">
  body {
    background-color: #e0e0e0;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
    text-align: center;
    font-family: Pacifico, Calibri;
    font-size: 3em,
  }
  </style>
</head>
  <body>
    <h1>Your username is: <%= @username %></h1>
  </body>
</html>
