<h1> Congratulations, you win! </h1>

<h3> You chose <%=@game.user_choice%></h3>
<h3> Computer chose <%=@game.computer_choice%></h3>

<form action='/'>
  <input type="submit" value="Try Again">
</form>
