<header class="w3-container w3-blue">
  <h2>Rock/Paper/Scissors</h2>
</header>

<div class="w3-container pad20">
  <div class="w3-row">
    <h1><%= @winner %></h1>
  </div>
  <a class="w3-button w3-blue" href="/">New Game</a>
</div>

<footer class="w3-container w3-blue">
  <h5>Congratulations!</h5>
</footer>