
<html>
<head>
</head>
<h1> <%=@player2_name%>, please choose:</h1>
<form action="/game/result" method="post">
  <p>
    <input id="choice" type="submit" name = 'choice' value="Rock">
    <input id="choice" type="submit" name = 'choice' value="Paper">
  </p>
  <p>
    <input id="choice" type="submit" name = 'choice' value="Scissors">
    <input id="choice" type="submit" name = 'choice' value="Lizard">
  </p>
  <p>
    <input id="choice" type="submit" name = 'choice' value="Spock">
  </p>
</form>
</html>
