<link href="//db.onlinewebfonts.com/c/75c0119ca475dea587b8661501320be5?family=SF+Distant+Galaxy" rel="stylesheet" type="text/css"/>
<style>
body{
background-color : #FFFAFA;
text-align: center;
font-family: 'Notable', sans-serif;
}
</style>
  <head>
	<script src="https://kit.fontawesome.com/95965157ef.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
  </head>
<h1>Welcome to rock, paper, scissors, lizard & spock game<h1><br>
<i class="far fa-hand-rock"></i>
<i class="far fa-hand-paper"></i>
<i class="far fa-hand-scissors"></i>
<i class="far fa-hand-lizard"></i>
<i class="far fa-hand-spock"></i>
<h3>Please submit your name </h3>
<form action='/name' method ='post'>
<input type="text" name="name">
<input type="submit" value="Submit">
</form>
</body>