<link href="//db.onlinewebfonts.com/c/75c0119ca475dea587b8661501320be5?family=SF+Distant+Galaxy" rel="stylesheet" type="text/css"/>
<style>
body{
background-image : url ('forest.png');
text-align: center;
font-family: 'Notable', sans-serif;
}
input[type="submit"] {
    -moz-appearance: button;
    -moz-binding: none;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-color: #AFEEEE;
    border: 2px outset buttonface;
    color: buttontext;
    cursor: default;
    font-family: 'Notable', sans-serif;;
    line-height: normal;
    padding: 0 6px;
    text-align: center;
    text-shadow: none;
    white-space: pre;
    width: 300px;
    height: 55px;
}
input[type="text"] {
  width: 300px;
	height: 55px;
	text-align: center;
	font-family: 'Notable', sans-serif;
	margin-bottom: 20px;
	margin-top: 50px;
	margin-left
}
h1 {
	margin: 50px 40px 20px 40px;
}
i {
	margin-right: 10px;
	margin-left: 10px;
}
</style>
  <head>
	<script src="https://kit.fontawesome.com/95965157ef.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
  </head>
<h1>Welcome to rock, paper, scissors, <br> lizard & spock game<h1><br>
<i class="far fa-hand-rock"></i>
<i class="far fa-hand-paper"></i>
<i class="far fa-hand-scissors"></i>
<i class="far fa-hand-lizard"></i>
<i class="far fa-hand-spock"></i>
<h3>Please submit your name </h3>
<form action='/name' method ='post'>
<input type="text" name="name"><br>
<input type="submit" value="Submit">
</form>
</body>