<style> 
body {
  background-color : #FFFAFA;
  text-align : center;
}
</style>
<body>
<h1> <%= @game.player.name %> select your move!</h1>
<form action="/move" method="post">
<input type='submit' name='move' value='rock'>
<input type="submit" name='move'value='scissors'>
<input type='submit'name='move' value='paper'>
<input type='submit' name='move' value='lizard'>
<input type='submit'name='move'value='spock'>
</form>
</body>