<h2><%= @player_name %> is ready to play! </h2>
<form action="/move" method="post">
<select class='' name='move'>
<option value='rock'>Rock</option>
<option value='paper'>Paper</option>
<option value='scissors'>Scissors</option>
</select><br>
<input type="submit" value="GO!">
</form>