<h1> <%= @game.player.name %> </h1>
<form action="/move" method="post">
<input type='submit' name="move" value='rock'>
<input type="submit" name='move'value='scissors'>
<input type='submit'name='move' value='paper'>
</form>