<h2><%= @player.name %> is ready to play! </h2>
<select class='' name='move'>
<option value='rock'>Rock</option>
<option value='paper'>Paper</option>
<option value='scissors'>Scissors</option>
</select><br>
<input type="submit" value="GO!">
