<style> 
body {
  background-color: #FFFAFA;
  text-align : center;
  font-family: 'Notable', sans-serif;
}
input[type="submit"] {
    -moz-appearance: button;
    -moz-binding: none;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-color: #AFEEEE;
    border: 2px outset buttonface;
    color: buttontext;
    cursor: default;
    font-family: 'Notable', sans-serif;;
    line-height: normal;
    padding: 20 6px;
    text-align: center;
    text-shadow: none;
    white-space: pre;
    width: 300px;
    height: 55px;
}
</style>
<head>
  <script src="https://kit.fontawesome.com/95965157ef.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet"></head>
</head>
<h2> You chose <%= @game.player.move%><h2> <br>
<h2> Computer chose <%= @game.comp.move%> <br>
<%= @game.result%>
<form action='/newgame' method='post'>
<input type='submit' value='Play again'>
</form>