<h1>Well done, you won!</h1>

<div>
  <form action="/game" method="get">
    <input type="submit" name="response" value="Play Again">
  </form>
  <form action="/" method="get">
    <input type="submit" name="response" value="New Player">
  </form>
</div>
