<link rel="stylesheet" href="/style.css"/>

<h1><%= @game.player1 %>, it's your turn!</h1>
<h1>Choose rock, paper or scissors</h1>

<form action='/second_move' method=post>
  <label for=move>
    Your move:
    <input type=text name=move>
  </label>
    <input type=submit value='Enter your choice'>
</form>
