@-ms-viewport{
  width: device-width;
}
html {
  font-size: calc(0.8em + 0.8vw);
  font-family: Arial, Helvetica, sans-serif
}

.body {
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4T38KNVPoyZ4L5duk20m7AlaLBU2sVJD-xI8FtsFlTyfOhlrg5A");
 background-size: auto;

 background-repeat: no-repeat;
}

.form {
  text-align: center;
  color: DarkTurquoise ;
}

.input {
  width: 200px;
  height: 50px;
  font-size:24px
}
.name-submit {
  position:relative;
  top: 60px;
  left: 50%
  border-radius: 23px;
  background-color: transparent;
  border: none;
  color: gold;
  width: 15%;
  height: 100px;
  text-align: center;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif
}

.h1 {
  display: block;
  text-align: center;
  color: red;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
