@-ms-viewport{
  width: device-width;
}

html { 
  font-size: calc(0.8em + 0.8vw);
  font-family: Arial, Helvetica, sans-serif
}

.container {
  color: aliceblue;
  min-height: 100vh;
  object-fit: cover;
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-1 {
  background: transparent;
}
.cell-2 {
  background: transparent;
}
.cell-3 {
  background:  transparent;
}
.cell-4 {
  background: transparent;
}
.cell-5 {
  background: transparent;
}
.cell-6 {
  background: transparent;
}
.cell-7 {
  background: transparent;
}
.cell-8 {
  background: transparent;
}
.cell-9 {
  background: transparent;
}

.nested {
  background-color: whitesmoke;
  border-radius: 5%;
  border: 20rem;
  border-color: black;
  width: 600px;
  height: 600px;
}

.title {
  color: rgb(136, 136, 136);
  line-height: 120px;
  height: 100px;
  text-align: center;
  font-size: 1.8rem;
  margin-left: 0;
  margin-top: 50px;
}

.name {
  background-color: transparent;
  border: none;
  border-color: transparent;
  border-radius: 23px;
  color: rgb(136, 136, 136);
  width: 100%;
  height: 200px;
  margin-left: 0;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
}

.name::placeholder {
  font-size: 1.6rem;
}

.name:hover {
  width: 100%;
  background-color: rgb(207, 201, 179);
  color: rgb(255, 255, 255);   
}

.name-submit {
  border-radius: 23px;
  background-color: transparent;
  border: none;
  color: rgb(136, 136, 136);
  width: 100%;
  height: 200px;
  margin-left: 0;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif
}

.name-submit:hover {
  background-color: rgb(207, 201, 179);
  color: rgb(255, 255, 255);  
}