@-ms-viewport{
  width: device-width;
}
html {
  font-size: calc(0.8em + 0.8vw);
  font-family: Arial, Helvetica, sans-serif
}

.body {
 background-image: url("https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FSMpKgat6YoGwWHvsizdi-g%2Flarger.jpg&width=1200&quality=80");
 background-size: auto;
 background-position: center;
 background-repeat: no-repeat;
}

.p {
  text-align: center;
  display: block;
  text-align: center;
  color: white;
  text-shadow: 7px 6px 3px black;
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.btn-rock {
  position:relative;
  top: 10px;
  left: 50%
  border-radius: 23px;
  background-repeat:no-repeat;
  background-color: white;
  text-shadow: 7px 6px 3px grey;
  border: none;
  color: black;
  width: 150px;
  height: 90px;
  text-align: center;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif
}

.btn-paper {
  position:relative;
  top: 10px;
  left: 50%
  border-radius: 23px;
  background-repeat:no-repeat;
  background-color: white;
  text-shadow: 7px 6px 3px grey;
  border: none;
  color: black;
  width: 150px;
  height: 90px;
  text-align: center;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif
}

.btn-scissor {
  position:relative;
  top: 10px;
  left: 50%
  border-radius: 23px;
  background-repeat:no-repeat;
  background-color: white;
  text-shadow: 7px 6px 3px grey;
  border: none;
  color: black;
  width: 180px;
  height: 90px;
  text-align: center;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif
}
