<section class="sign_in">
  <form action="/names" method="post">
    <label for="player_1">Player 1:</label>
    <input type="text" name="player_1" required />
    <input type="submit" value="Go!" />
  </form>
</section>
