<p>
  <a href='/game?move=scissors' class='choice-button'><img alt='scissors' src='images/scissors.png'></a>
  <a href='/game?move=rock' class='choice-button'><img alt='rock' src='images/rock.png'></a>
  <a href='/game?move=paper' class='choice-button'><img alt='paper' src='images/paper.png'></a>
</p>
