<!-- <h2>Welcome <strong style="color:#ffa500;"><%= @player_1 %></strong> to Rock, Paper, Scissors!</h2>

Click the button to get started!
<form action="/play" method="post">
  <input type="submit" value="Play now!">
</form> -->
