<h1>Rock Paper Scissors</h1>
<%= @player_1_name %> vs. <%= @player_2_name %><br>
<form action="/action" method="POST">
  <h2>Player 1 pick an option</h2>
  <input type="submit" value="Rock"></input>
  <input type="submit" value="Paper"></input>
  <input type="submit" value="Scissors"></input>
</form>
