<style>
  .container {
    text-align: center;
  }
</style>
<div class="container">
  <h2>
    <%= @game.player1.name %> selected <%= @game.player1.weapon %>!
  </h2>
  <h2>Computer selected Paper!</h2>
</div>
