<head>
  <link rel="stylesheet" type="text/css" href="action_paper.css" />
</head>

<body>
  <label id=banner>
    <%= @game.player.name %> choose PAPER
  </label>
  <br>
  <br>
  <label id=banner>
    Computer choose <%= @computer.choose %>
  </label>
</body>
