<head>
  <link rel="stylesheet" type="text/css" href="action.css" />
</head>

<body>
  <label id=banner>
    <%= @game.player.name %> choose <%=@game.player_move%>
  </label>
  <br>
  <label id=banner>
    Computer choose <%= @game.computer_move %>
  </label>
  <br>
  <label id=banner>
    You <%=@game.result%>
  </label>

</body>
