<div style="text-align: center">
  <h1>Rock, Paper, Scissors</h1>
  <h3>Who else is playing?</h3>
  <form action="/save-name2" method="post">
    <input type="text" name="name2"/>
    <input type="submit" name="button" value="Start game"/>
  </form>
</div>
