<div class="container">
  <div class="jumbotron">
    <h3> Add new weapons </h3>
    <p>Want to make things more complex whilst reducing the probability of a tie?</p>
    <p>You've come to the right place.</p>
    <p>Add two new weapons below and they will be included in the available arsenal. </p>
    <p>Fire and Ice perhaps or Superman and Batman....the choice is yours.</p>

    <form action="/add_weapons" method="post">
      <label> Weapon 1 <input type="text" name="weapon_1" required></label>
      <label> Weapon 2 <input type="text" name="weapon_2" required></label>
      <input class="btn btn-success" type="submit" value="Add">
    </form>
  </div>
</div>
