<div class="container">
  <div class="jumbotron">
    <h3> Add new weapons </h3>
    <form action="/add_weapons" method="post">
      <label> Weapon 1 <input type="text" name="weapon_1" required></label>
      <label> Weapon 2 <input type="text" name="weapon_2" required></label>
      <input class="btn btn-success" type="submit" value="Add">
    </form>
  </div>
</div>
