<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    AI overlord plays <%= @AI_weapon %> against <%= @player_1_name %>'s <%= @player_1_weapon %>
  </body>
</html>
