    <h4 class="text-center"> <%= @name %>, Choose your weapon</h4>


    <form action="/result" method="get">
    <input class="center-block" type="text" name="name" placeholder="Required" required>
    <input value="submit"  name="Weapon" class="center-block" type="submit">
    </form>