<h1>Rock, Paper Scissors!!</h1><br>

<h2>Choose your weapon!</h2>

<form action="/result">
<input type="submit" value="Rock">
<input type="submit" value="Paper">
<input type="submit" value="Scissors">
</form>