<h1>Rock, Paper Scissors!!</h1><br>

<h2>Choose your weapon!</h2>

<form action="/result">
  <input type="submit" name="weapon_choice" value="Rock" />
  <input type="submit" name="weapon_choice" value="Paper" />
  <input type="submit" name="weapon_choice" value="Scissors" />
</form>
