<style>
  h1 {
    text-align: center;
    margin-top: 1em;
  }

    h2 {
    text-align: center;
  }

  li {
    list-style: none;
    text-align: center;
  }
</style>

<h1>Pick your choice</h1>

<h2>
<%= @player_1_name %> vs. <%= @player_2_name %>
</h2>

<form action='/arena' method='post'>
  <li class='submit'>
    <input type='submit' name='shape' value='Rock'/>
    <input type='submit' name='shape' value='Paper'/>
    <input type='submit' name='shape' value='Scissors'/>
  </li>
</form>

Paulo chose <%= @shape %>!
