<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> Please enter the name of two players. </h2>

    <form method = "post" action="/askMovementOfTwoPlayers">
      Please enter the name of Player_1:
      <input type = "text" name = "player_1_name" >
      <br><br>
      Please enter the name of Player_2:
      <input type = "text" name = "player_2_name" >
      <input type="submit" value=" Submit">
    </form>

  </body>
</html>
