 <div style='background-color: black; color: white; border: 3px solid black; padding-left: 20px; height: 1000px'>
  <form action="/weapons" method="post" style="padding-left: 440px">
   Choose a weapon: 
    <input id="player_one" type="text" placeholder="Enter weapon here" name="weapon">
    <input type="submit" value="Submit">
  </form>

</div>