Hello, <%= @turn.player_name %>

<form class ="form-block" method='post' action='/attack'>
  <!-- <button type="submit" value="Rock" class="button btn btn-default">
    Rock
  </button> -->
  <input type="submit" name="attack" value="Rock" />
  <input type="submit" name="attack" value="Paper" />
  <input type="submit" name="attack" value="Scissors" />
</form>

Rocky picked <%= @turn.player_attack.to_s.capitalize %>!

<div id="computer">
  Computer chose <%= @turn. computer_attack.to_s.capitalize %>!
</div>

<% if @turn.win? %>
  You win!
<% elsif @turn.draw? %>
  It's a draw.
<% else %>
  You lose!
<% end %>