<center>
  You chose to use <%=@attack%>

  <form action="/play" method="get">
  <input type="submit" value="Changed my mind, I want to choose again">
  </form>

  <form action="/engage" method="get">
  <input type="submit" value="Im ready! Have at ye evil robot!">
  </form>
</center>

