
You chose:<br> <%= @game.player_1.weapon(@p1_weapon) %>
<br><br>

<%= @game.player_2.name %> chose: <br><%= @p2_weapon %>
<br><br>

You <%= @result %>.
<br><br>

<form action="/play" method="get">
  <input type="submit" value="Play again">
</form> 
