<style>
body {
        text-align: center;
        color: white;
        background-image: url('http://hdwpro.com/wp-content/uploads/2015/12/Texture-Background-1620x1080.jpg');
        background-size: 100% 100%
    }
</style>
<br>
<h1>You chose to use <%= @your_weapon %>. Good luck <%= @username %>! </h1>
<br>
<br>
<form action='/response'>
  <button type='submit'>Opponent's Move</button>
</form>