<div>
  <form action='/available_games' method='post'>
  <p>The following games are available</p>
  <p></p>
  <p> <%=p $game_array%> </P>
    <input type='text' name='game'>
    <input type='submit' value='Next'>
  </form>
</div>