<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">

      <main class="screen1">
        <fieldset class="screen2">


        </fieldset>
      </main>

    </div>
  </body>
</html>
