<style>
  body {
  <!-- margin: 0 auto; -->
  text-align: center;
  width: 100vw;
  background-image: url("https://source.unsplash.com/V3DokM1NQcs");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;
}
</style>
<body>

You chose <%= @player_weapon %><br>
computer chose <%= @computer_weapon %><br>
<%= @message %>

</body>
