<%= $game.player_name %> has chosen <%= $game.player_weapon %>
<br>
<br>
Computer has chosen <%= $game.computer_weapon %>
<br>
<br>
<%= $game.outcome %><br><br>
<form action="/weapons" method="get">
  <button type="submit" value="Submit">NEXT ROUND!!</button>
</form>
