<style>
body {
    background-image: url("https://www.walldevil.com/wallpapers/a38/wallpaper-easiest-piece-gaming-7kocz.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
</style>

<center><h1> Chose Your Weapon </h1></center>


<center><form action="/rock" method="get">
    <input type ="submit" value="Rock">
</form>
<form action="/paper" method="get">
    <input type ="submit" value="Paper">
</form>
<form action="/scissors" method="get">
    <input type ="submit" value="Scissors">
</form></center>
