<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:wght@300&family=Dongle:wght@300;400;700&family=IBM+Plex+Serif:wght@100;300&family=Julius+Sans+One&family=Prata&family=Russo+One&family=Varela+Round&display=swap" rel="stylesheet">

<style>
  body {
  <!-- margin: 0 auto; -->
  text-align: center;
  width: 100vw;
  background-image: url("https://source.unsplash.com/h4elZPxUXLU");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;
}
h1 {font-family: Bangers, arial;
text-align: center;}
</style>
<body>

<h1>You chose <%= @player_weapon %>...<br></h1>
<h1>Computer chose <%= @computer_weapon %>...<br><h1>
<h1><%= @message %><h1>
<form action='/play_again' method='post'>
  <button type="submit" style="padding: 5px 10px">Have another go?</button>
</form>
</body>
