<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Rock Paper Scissors</h1>
    <h3>You picked <%=@player1.selection%>!</h3>
    <a href='/result'><button>Go!</button></a>
</body>