<style>
  body {
  <!-- margin: 0 auto; -->
  text-align: center;
  width: 100vw;
  background-image: url("https://source.unsplash.com/V3DokM1NQcs");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;
}
h1 {font-family: arial;
text-align: center;}
</style>
<body>

<h1>You chose <%= @player_weapon %>...<br></h1>
<h1>Computer chose <%= @computer_weapon %>...<br><h1>
<h1><%= @message %><h1>

</body>
