<%= @game.player_1.name %> selected the <%= @player_weapon %>
<br>
<%= @game.player_2.name%> selected the <%= @opponent_weapon %>
<br>
<form action='/game_over' method='get'>
  <input type='submit' value='OK' />
</form>
