<form action="/play">
  <h1>Rock, Paper, Scissors</h1>
  <p> </p>
  <h4> <%= @player_name %> has entered the game. </h4>
  <p> </p>

  <h1> <span style='color: red'><%= @player_name %></span> Vs. Computer </h1>
  <input type='submit' value="Let's Begin"> </input>
</form>
