<h1>Choose rock, paper or scissors.</h1>

<form action="/play" method="post">
  <input type="submit" value="ROCK!" name="user_chooses">

<form action="/play" method="post">
  <input type="submit" value="PAPER!" name="user_chooses">

<form action="/play" method="post">
  <input type="submit" value="SCISSORS!" name="user_chooses">
