<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form action='/move' method='post'>
        <input class='action' type='submit' name='choice' value="Rock">
      </form>
    </div>
    <div class="col-sm">
      <form action='/move' method='post'>
        <input class='action' type='submit' name='choice' value="Paper">
      </form>
    </div>
    <div class="col-sm">
      <form action='/move' method='post'>
        <input class='action' type='submit' name='choice' value="Scissors">
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
  <span class="buffer"></span>
  <div class='row'>
    <div class='col-sm'></div>
    <div class='col-sm'>
      <form action='/move' method='post'>
        <input class='action_row2' type='submit' name='choice' value="Lizard">
      </form>
    </div>
    <div class='col-sm'>
      <form action='/move' method='post'>
        <input class='action_row2' type='submit' name='choice' value="Spock">
      </form>
    </div>
    <div class='col-sm'></div>
  </div>