<h2> <%= "#{@player_name} is showing Scissors" %> </h2>

<style>

body {
        background-image: url("https://static.interestingengineering.com/images/uploads/sizes/RPS_resize_md.jpg");
        background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 
}

</style> 

