<head>
  <link rel='stylesheet' href='index.css' media='screen' title='no title' charset='utf-8'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'
</head>
<body>
  <h1>Thank you for playing. Bye!</h1>
</body>
