<div>
<h1>LIG<%=@ronin%>HTS</h1>
<form >
  <input type="radio" name="choice" value="rock"> <label for="rock"> Rock, an ancient but powerful weapon.</label><br>
  <input type="radio" name="choice" value="paper"> <label for="paper">Paper, the stuff history books are made of.</label><br>
  <input type="radio" name="choice" value="scissors"> <label for="scissors">Scissors, sharp yet fragile.</label><br>
</form>
</div>