<h1> <%= @player_one_name %> - choose your warrior </h1>

<form action="/selection_one_player" method="post">

  <label for="rock">
    <input type="button" id="rock" value="ROCK">
    <p>Forged in hellish flames deep beneath the earth. Slow but powerful. Rock obliterates opponents with brute force</b>
  </label>


</form>
