<h1> <%= @player_one_name %> - choose your warrior </h1>

<form action="/selection_one_player" method="post">

  <label for="rock">
    <input type="button" id="rock" value="ROCK">
    <p>Forged in hellish flames deep beneath the earth. Slow but powerful. Rock obliterates opponents with brute force.</p>
  </label>

  <label for="paper">
    <input type="button" id="paper" value="PAPER">
    <p>Charged with great wisdom. Delicate. Tactical. Paper uses strategy to outwit enemies.</p>
  </label>

  <label for="scissors">
    <input type="button" id="scissors" value="SCISSORS">
    <p>Swift and to the point. Scissors deftly outmaneuvers rivals. Only well-timed blows can blunt its edge.</p>
  </label>

</form>
