Welcome <%= @player_name %>!

<table style="width:100%">
  <tr>
    <td><button type="submit" name = "Rock" style="border: 0; background: transparent">
    <img src="/images/cartoon_rock.jpg" width="90" height="50" alt="Rock" /> 
</button></td>
    <td><button type="submit" style="border: 0; background: transparent">
    <img src="/images/Paper.jpg" width="90" height="50" alt="Paper" /></td> 
    <td><button type="submit" style="border: 0; background: transparent">
    <img src="/images/Scissors.jpg" width="90" height="50" alt="Scissors" /></td>
  </tr>
</table>
