<!DOCTYPE html>
<html>
  <head>
    <title>ROCK. PAPER. SCISSORS.</title>
  </head>
  <body>
    <header>
      <h1>ROCK. PAPER. SCISSORS.</h1>
      <h2>You chose: <%=current_player.choice%></h2>
    </header>
    <div>
      <form>
        <input type="submit" value="Continue!"/>
      </form>
    </div>
  </body>
</html>