<h1>I see you have selected <%= @choice.chosen %>... Interesting....</h1>

<h2>I have made my decision too.... click sumbit to find out...</h2>

<form action="/winner" method="post">
  <input type="submit" value="Submit">
</form>
