<h1>Welcome <%= @user %></h1>

<form action='/outcome' method='POST'>
  <% (Game::OPTIONS).each do |option| %>
    <input type='radio' name='<%= option %>'><label><%= option.capitalize %></label>
    <br>
  <% end %>
  <input type='submit' value='Choose'>
</form>

<h2>Rules</h2>
<ul>
  <% (Game::RULES).each do |rule| %>
    <li><%= rule %></li>
  <% end %>
</ul>
