<center>Make your choice <%= @name %>!
<form name='choice' action='/player_choice' method='post'>
  <input type='submit' value='Rock' name='choice'><br>
  <input type='submit' value='Paper' name='choice'><br>
  <input type='submit' value='Scissors' name='choice'>
</form>
