
<h1 style="text-align:center;"><font size="5" color="orange" font face="arial"RESULTS!</font></h1><br><br>

<h2 style="text-align:center;"> You chose: <%= @game.player %></h2><br><br>
<h2 style="text-align:center;"> Computer chose: <%= @game.computer %> </h2><br><br>

<h2 style="text-align:center;"><%= @game.winner?%></h2><br>


<center><form action="/play">
  <input type="submit" value="PLAY AGAIN?"/>
  </form>
</center>
