<form action="/chosen" method="post">
  <button type="submit" name="choice" value="rock"><img src="/images/rock.png" width="320" height="240"alt="SomeAlternateText"></button>
</form>

<form action="/chosen" method="post">
  <button type="submit" name="choice" value="paper"><img src="/images/paper.png" width="320" height="240"alt="SomeAlternateText"></button>
</form>

<form action="/chosen" method="post">
  <button type="submit" name="choice" value="scissors"><img src="/images/scissors.png" width="320" height="240"alt="SomeAlternateText"></button>
</form>
