<h3> Welcome <%= @player %> </h3>

<h4>Make your Choice; Rock, Paper, Scissors </h4>
<form action="/choice" method="post">
  <label for="rock">
    Rock
    <input type="radio" name="choice" value="Rock">
  </label>
  <label for="paper">
    Paper
    <input type="radio" name="choice" value="Paper">
  </label>
  <label for="scissors">
    Scissors
    <input type="radio" name="choice" value="Scissors">
  </label>
  <input type="submit" value="Submit">
</form>
