<h1>Welcome <%=@game.player.name%>! Please select a move...</h1>
<form action='/selection' method='post'>
  <button name='choice' type='submit' value='Rock'>ROCK</button>
  <button name='choice' type='submit' value='Paper'>PAPER</button>
  <button name='choice' type='submit' value='Scissors'>SCISSORS</button>
</form>
