
<h2> click here if you want to play against the computer </h2>
<form action="/versus_computer" method="post">
  <input type="submit" value="vs_computer" name="choice_game">
</form>

<h2> click here if you want to play against another player </h2>
<form action="/versus_player" method="post">
  <input type="submit" value="vs_player" name="choice_game">
</form>
