Welcome <%= $name %>, you will face off against the computer in a game of rock, paper, scissors. Please choose...
<form action='/selection' method='post'>
  <select name='selection'>
    <option value='Rock'>Rock</option>
    <option value='Paper'>Paper</option>
    <option value='Scissors'>Scissors</option>
  </select>
  <input type='submit' value="Submit">
</form>
