<h1 style='margin:auto; text-align:center;'>
  Please choose from three options:
</h1>

<form
  style='margin-top:30;'
  action="/submit_choice"
  method="post">
  <input
    type="radio"
    name="choice"
    value="Rock"
    class="choice_radio_button">
    Rock
  <br>
  <input
    type="radio"
    name="choice"
    value="Paper"
    class="choice_radio_button">
    Paper
  <br>
  <input
    type="radio"
    name="choice"
    value="Scissors"
    class="choice_radio_button">
    Scissors
  <br>
  <input type="submit" value="Submit" class="sign_in_button">
</form>
