

<form name="choice" action="/choice" method="POST">
<div align="left"><br>
<input type="radio" name="group1" value="rock" id="Rock" checked> Rock<br>
<input type="radio" name="group1" value="paper"> Paper<br>
<input type="radio" name="group1" value="scissors"> Scissors<br>
<input type="submit" id="submit">
<hr>
</div>
</form>


  <h2><font color="red"><%= @player_choice %></font></h2>

  <h2><font color="red"><%= @other_choice %></font></h2>

  <h2><font color="red"><%= @outcome %></font></h2>

  