<div>
Your choice is <%=session[:choice].capitalize%>!
</div>

Opponent chose <%=@opponent_choice.capitalize%>!

<br>
<a href="/play">Play again</a>


<% if @game.result(@choice, @opponent_choice) =='win' %>
  You win!
<% elsif @game.result(@choice, @opponent_choice) =='lose' %>
  You lose!
  <% else %>
  Draw!
<% end %>

   