<h1>Welcome <%= @user %></h1>

<form action='/outcome' method='POST'>
  <% ($game.options).each do |option| %>
    <input type='radio' name='<%= option %>'><label><%= option.capitalize %></label>
    <br>
  <% end %>
  <br>
  <input type='submit' value='Choose' style='color: white; background-color: black;'>
</form>

<h2>Rules</h2>
<ul>
  <% ($game.rules).each do |rule| %>
    <li><%= rule %></li>
  <% end %>
</ul>
