<head>
  <style>
    .button {
  background-color: #FFE633;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: #FF9033;
  color: white;
}
</style>
</head>


<h1 style="text-align:center;"><font size="5" color="orange" font face="arial"RESULTS!</font></h1><br><br>

<h2 style="text-align:center;"> You chose: <%= @game.player %></h2><br><br>
<h2 style="text-align:center;"> Computer chose: <%= @game.computer %> </h2><br><br>

<h2 style="text-align:center;"><%= @game.winner?%></h2><br>


<center><form action="/play">
  <input class="button" type="submit" value="PLAY AGAIN?"/>
  </form>
</center>
