
  <body style="background-color:powdergreen;">
  <h2 style="color:purple;"> Please choose from the option</h2>
  <form action= "/move" method="post">
    <input type="hidden" name="p1_move" value="Rock">
    <input type="submit" value="Rock">
  </form>

  <form action="/move" method="post">
    <input type="hidden" name="p1_move" value="Paper">
    <input type="submit" value="Paper">
  </form>

  <form action="/move" method="post">
    <input type="hidden" name="p1_move" value="Scissors">
    <input type="submit" value="Scissors">
  </form>
