<h1>R.P.S Game</h1>
<h2><%= @player_1 %> vs. CPU</h2>
Select your attack: <br>

<form action="attack">
  <input type="radio" name="player_choice" value="rock"> Rock<br>

  <input type="submit" value="Go!">
</form>
