<ul class="w3-ul">
  <li>
    <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" name="choice" value="rock">Rock</button>
  </li>
  <li>
    <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" name="choice" value="paper">Paper</button>
  </li>
  <li>
    <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" name="choice" value="scissors">Scissors</button>
  </li>
  <li>
    <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" name="choice" value="lizard">Lizard</button>
  </li>
  <li>
    <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" name="choice" value="spock">Spock</button>
  </li>
</ul>







