<!DOCTYPE html>
  <html>

    <head>
    </head>

    <style>
      /* body {
        background-image: url('https://www.google.co.uk/search?q=rock+paper+scissors&rlz=1C5CHFA_enGB781GB781&source=lnms&tbm=isch&sa=X&ved=0ahUKEwic54Sh0OTZAhWmAMAKHWj7AM0Q_AUICigB&biw=1440&bih=803#imgrc=9eJ3KXLHOkTLSM:');
      } */
    </style>


     <body style="background-image: url(https://www.google.co.uk/search?q=rock+paper+scissors&rlz=1C5CHFA_enGB781GB781&source=lnms&tbm=isch&sa=X&ved=0ahUKEwic54Sh0OTZAhWmAMAKHWj7AM0Q_AUICigB&biw=1440&bih=803#imgrc=9eJ3KXLHOkTLSM:);">
      <h1>Choose your weapon, <%= @game.turn.name %> </h1>

      <form action='/save' method="post">
        <label for="choice">
          <input type="password" placeholder="Enter choice" name="choice" required>
        </label>
        <input type="submit" value="Confirm">
      <form>

    </body>

  </html>
