  <h2><font color="red"><%= @player1_message %></font></h2>

<form name="choice1" action="/choice1" method="POST">
<div align="left"><br>
<input type="radio" name="group1" value="rock" id="Rock" checked> Rock<br>
<input type="radio" name="group1" value="paper"> Paper<br>
<input type="radio" name="group1" value="scissors"> Scissors<br>
<input type="submit" id="submit">
<hr>
</div>
</form>




  
  