
<% if @weapon.valid_weapon? %>

<h1>  You chose <%= @weapon.chosen_weapon %> </h1>
  <br />
  <br />

  <form action = '/result' method = 'post'>
    <input type="submit" value="Click here to see who won!">
  </form>

<% else  %>

Sorry, <%= @weapon.chosen_weapon%> is not a valid weapon. Please go back and enter rock, paper or scissors.

<%end%>
