<center><h2><%= @player.name %> you chose <%= @player.player_choice %></h2></center>

<div>
  <br>
  <form action='/computer' method="post">
  <center><input type="submit" value="Click here for computer choice"></center>
  </form>
</div>
