

<form action="/choice" method="post">
  <label>
  <input id="rock" type="radio" name="weapon" value="rock"/>
  </label>
  <label>
  <input id="paper" type="radio" name="weapon" value="paper"/>
  </label>
  <label>
  <input id="scissors" type="radio" name="weapon" value="scissors"/>
  <input type="submit" value="Submit"/>
  </label>
</form>
