



<h1> You chose <%= @players_choice %>! </h1>

<!-- <form action="" method="post">
    <input type="submit" name="upvote" value="Upvote" />
</form> -->

<!-- <form action="/choice" method="post"> -->

</form>

</body>
</html>
