<h3>Choose your shape <%= @name %>.</h3>
<form action="/result">
  <button type="submit" value="rock" name="shape" style="border: 0; background: transparent">
    <img src='http://images.clipartpanda.com/boulder-clipart-13308187491768495795Boulders.svg.hi.png', width="90" height="50" alt="submit" />
  </button>
  <button type="submit" value="paper" name="shape" style="border: 0; background: transparent">
    <img src='http://images.clipartpanda.com/paper-clipart-eiMyezain.png', width="90" height="50" alt="submit" />
  </button>
  <button type="submit" value="scissors" name="shape" style="border: 0; background: transparent">
    <img src='http://123clipartpictures.com/wp-content/uploads/2015/07/Scissors-Clip-Art-5.gif', width="90" height="50" alt="submit" />
  </button>
</form>
