<div style="text-align:center;">
  <h1 style="padding:20px;">Welcome to the game <%= @player.name %></h1>
  <h2>Choose your weapon</h2>  

  <button type="button" name="Rock">
    <a href="/play/Rock">Rock</a>
  </button>
  <button type="button" name="Paper">
    <a href="/play/Paper">Paper</a>
  </button>
  <button type="button" name="Scissors">
    <a href="/play/Scissors">Scissors</a>
  </button> 
</div>

<%# ROCK &#x1F44A;&#x1F3FE; %>
<%# PAPER &#x1F590;&#x1F3FE; %>
<%# SCISSORS &#x270C;&#x1F3FE; %>
