<h2>Make your choice, <%=@name%>.</h2>
<label for='choice'>choice:</label>
  <form action=/choice method='post'>
    <select name='choice'>
        <option value='Rock'>Rock</option>
        <option value='Paper'>Paper</option>
        <option value='Scissors'>Scissors</option>
      </select><br>
      <input type="submit" name="Submit" value ="Play!"></input>
  </form>
