<p>What will it be, <%= @game.player.name %>?</p>
<form action='/judge' method='post'>
  <button name='choice' type='submit' value='rock'>Rock</button>
  <button name='choice' type='submit' value='paper'>Paper</button>
  <button name='choice' type='submit' value='scissors'>scissors</button>
</form>