<h2 style="color:lightpink">Now choose your weapon</h2>
<!-- <input type="radio" name="weapon[rock]" value="rock">Rock<br>
<input type="radio" name="weapon[paper]" value="paper">Paper<br>
<input type="radio" name="weapon[scissors]" value="scissors">Scissors<br> -->

<form action="/chosen" method="post">
    <input type="submit" name="weapon" value="rock">
    <input type="submit" name="weapon" value="paper">
    <input type="submit" name="weapon" value="scissors">
</form>
