
<div>
  <form action="/throw" method='Post'>
    <p>Ok <%=$player_1.name%>; what do you want to throw?</p>
    <select name="Weapons">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
      <option value="Spock">Spock</option>
      <option value="Lizard">Lizard</option>
    </select>
    <br><br>
    <input type="submit" value="Throw">
  </form>
</div>