Hi <%= @name %>!<br>

What option do you choose:

<form action="/outcome">
  <input type="submit" name="user_choice" value="Rock">
  <input type="submit" name="user_choice" value="Paper">
  <input type="submit" name="user_choice" value="Scissors">
</form>
