<h2>You're up, <%= @player_name %>!</h2>

<h3>Choose your weapon ...</h3>

<form action="/rock">
  <input type="submit" value="Rock">
</form>
<form action="/paper">
  <input type="submit" value="Paper">
</form>
<form action="/scissors">
  <input type="submit" value="Scissors">
</form>