<body>

  <h1>Hey <%= @player_1 %> make your move!</h1>
  <form action='/result' method='post'>
    <select name="selection">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <input type="submit" value='RPS!'>
  </form>

</body>