<p>
  <form action="/play-game" method="post">
    Please choose the game you like to play <%= @player_name %>.<br>
    <button type="submit" name="game_choice" value="rps">Rock-Paper-Scissors</button>
    <button type="submit" name="game_choice" value="rpsls">Rock-Paper-Scissors-Lizard-Spock</button>
  </form>
</p>
