<div align="center">
  <style>
  body {background-color: lightgrey;}
  h1   {color: crimson;}
  </style>

  <a href="/vanilla" id="rps">
     <button>Play Rock Paper Scissors</button>
  </a>
  <br>

  <a href="/rpsls" id="rpsls">
     <button>Play Rock Paper Scissors Lizard Spock</button>
  </a>
  <br>

</div>