<h3>Choose your shape <%= @name %>.</h3>
<form action="/result">
  <button type="submit" value="rock" name="shape" style="border: 0; background: transparent">
    <img src='http://images.clipartpanda.com/boulder-clipart-13308187491768495795Boulders.svg.hi.png', width="90" height="50" alt="submit" />
  </button>
  <button type="submit" value="paper" name="shape" style="border: 0; background: transparent">
    <img src='http://images.clipartpanda.com/paper-clipart-eiMyezain.png', width="90" height="50" alt="submit" />
  </button>
  <button type="submit" value="scissors" name="shape" style="border: 0; background: transparent">
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJwb4E9ngs3UQKHJOK905zOI0A98hCbPXz4ecCOeMbnZVwug5xUGCFglw6RQ', width="90" height="50" alt="submit" />
  </button>
</form>
