

<h1 align='center'><%= @welcome %></h1>

<center><img src='/images/fight.jpeg'></center>


<form action ='/result' method='post' align='center'>
  Please choose your weapon of mass destructions
  <select name='choice' size='1'>
    <option> Rock
    <option> Paper
    <option> Scissors
  <input type='submit' id='submit'>
</form>

