<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    <h1>Welcome, <%= @game.player1.name %>!</h1>

    <h2>Let's play...<br />Rock, paper, scissors!</h2>

    <p>What weapon do you choose, <%= @game.player1.name %>?</p>

    <form action="/weapon" method="post">
      <input type="radio" name="weapon" value="rock" id="rock" /> Rock
      <input type="radio" name="weapon" value="paper" id="paper" /> Paper
      <input type="radio" name="weapon" value="scissors" id="scissors" /> Scissors
      <input type="submit" value="Fight!" />
    </form>
  </div>
</body>
</html>
