<h1>Choose your move</h1>
<br>
<form action="move" method="post">
  <button name="move" type="submit" value="rock">Rock</button><br>
  <button name="move" type="submit" value="paper">Paper</button><br>
  <button name="move" type="submit" value="scissors">Scissors</button><br>
</form>