<body background = 'http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef0168e4ad14fd970c-600wi'

<div><center><font face="courier" size = 6>Welcome <%=@game.playing.name%>.  Choose your weapon!</font></center></div>


<div><center>
<form action='/find_winner' method = 'post'>
  <input type="image" src ='https://s-media-cache-ak0.pinimg.com/originals/fc/52/1b/fc521b0f81177ca9fe500615a04c11f0.jpg' style="height:300px;width:210px" value="Rock">
  <input type="hidden" name="hand" value="rock">
</form>
</center></div>

<div><center>
<form action='/find_winner' method = 'post'>
  <input type="image" src ='https://rlv.zcache.co.uk/give_peace_a_chance_band_poster-r067f38e8f06c4a6d83865e4391c497e4_ilb22_324.jpg?rlvnet=1' style="height:231px;width:231px" value="Scissors">
  <input type="hidden" name="hand" value="scissors">
</form>
</center></div>

<div><center>
<form action='/find_winner' method = 'post'>
  <input type="image" src = 'https://cdn-images-1.medium.com/max/800/1*kmXh9Dn7NdpcbSn9wPywHQ.png' style="height:300px;width:210px"value="Paper">
  <input type="hidden" name="hand" value="paper">
</form>
</center></div>

<div><center>
<form action='/find_winner' method = 'post'>
  <input type="image" src = 'http://4.bp.blogspot.com/-15mmX3zpKnY/ToQdl1zt_HI/AAAAAAAABKA/OeG5ALZojKo/s1600/I+Am+Not+Spock.jpg' style="height:260px;width:210px"value="Spock">
  <input type="hidden" name="hand" value="spock">
</form>
</center></div>

<div><center>
<form action='/find_winner' method = 'post'>
  <input type="image" src = 'https://rlv.zcache.com/bright_green_lizard_poster-raae9e53548ab47c3ac50b18fe8a5459e_w2q_8byvr_324.jpg' style="height:210px;width:210px"value="Lizard">
  <input type="hidden" name="hand" value="lizard">
</form>
</center></div>
