<h1 align='center'><%= @welcome %></h1>
<form action ='/result' method='post'>
  Please choose Either Rock paper or Scissors
  <select name='choice' size='1'>
    <option> Rock
    <option> Paper
    <option> Scissors
  <input type='submit' id='submit'>
</form>
