<link rel="stylesheet" href="<%= url('/styles.css') %>">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<div class="spacer">
</div>
<p>
  <form action="/play-game" method="post">
    Please choose the game you like to play <%= @player_name %>.<br>
    <button class="submit_button1" type="submit" name="game_choice" value="rps">Rock-Paper-Scissors the original game</button>
    <button class="submit_button1" type="submit" name="game_choice" value="rpsls">Rock-Paper-Scissors-Lizard-Spock</button>
  </form>
</p>
