<h1><%= @player1 %> vs. Computer </h1>

<form action="/choose" method="post">

  <table width="1000" border="1" cellpadding="1">

    <tr>
      <td><img src="http://weknowyourdreams.com/images/rock/rock-08.jpg" alt="rock" height="400" width="350"></td>
      <td><img src="https://www.petinsure.ie/wp-content/uploads/stockfresh_4209717_dog-toilet_sizeXS-300x225.jpg"alt="dog-toilet-roll" height="400" width="350"></td>
      <td><img src="http://www.precisionsharpening.net/use_images/Honed_Scissor_1.13193842_std.jpg"alt="scissors" height="400" width="350"></td>
    </tr>
    <tr>
      <th> <input type="submit" value="Rock"></th>
      <th><input type="submit" value="Paper"></th>
      <th><input type="submit" value="Scissors"></th>
    </tr>
