<h2 style="color:lightpink">Now choose your weapon</h2>
<input type="radio" name="weapon" value="rock">Rock<br>
<input type="radio" name="weapon" value="paper">Paper<br>
<input type="radio" name="weapon" value="scissor">Scissors<br>
<form action="/chosen" method="get">
  <input type="submit" value="OK">
</form>
