<%= @player_1_name %>

<form method="get" action="/result">
    <button type="submit">Rock</button>
</form>

<form method="get" action="/result">
    <button type="submit">Paper</button>
</form>

<form method="get" action="/result">
    <button type="submit">Sissors</button>
</form>
