<h3>Choose your shape <%= @name %>.</h3>
<form action="/choose_shape">
  <button type="submit" value="rock" name="shape">Rock</button>
  <button type="submit" value="paper" name="shape">Paper</button>
  <button type="submit" value="scissors" name="shape">Scissors</button>
</form>
