<form action='/choice_2p' method="post">
  <label><%= @game.player_2.name %>, make your choice</label><br>
  <input type='radio' name='rps' id="Rock" value="Rock">Rock<br>
  <input type='radio' name='rps' id="Paper" value ="Paper">Paper<br>
  <input type='radio' name='rps' id="Scissors" value="Scissors">Scissors<br>
  <button type="submit">OK</button>
</form>
