<!DOCTYPE html>

<html>
  <head>
    <title>RPS: A game of skill</title>
  </head>
  <body>
  <style>
    body {
    background-color: #66ff99
}
  </style>
    <h1> <%= @name %>, please choose your weapon </h1>
    <img src="http://www.clker.com/cliparts/z/G/L/w/d/B/mr-rock-md.png">
</html>
