<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Welcome, <%= @name %></h1>
    <form name='choose-game' action='/choose-game' method='POST'>
      <input type='submit' name='game' value='Rock Paper Scissors'>
      <input type='submit' name='game' value='Rock Paper Scissors Lizard Spock'>
    </form>
  </body>
</html>
