<div id='button_block'>
<form action='/weapon' type='get'>
  <input class='button' id='rock' type='submit'  name='weapon' value='rock'>
  <input class='button' id='paper' type='submit' name='weapon' value='paper'>
  <input class='button' id='scissors' type='submit' name='weapon' value='scissors'>
  <input class='button' id='lizard' type='submit' name='weapon' value='lizard'>
  <input class='button' id='spock' type='submit' name='weapon' value='spock'>
</form>
</div>
