<%= @name %>

<form method="get" action="/result">
    <input type="submit" value="Rock">
</form>

<form method="get" action="/result">
    <input type="submit" value="Paper">
</form>

<form method="get" action="/result">
    <input type="submit" value="Sissors">
</form>
