<center>
<img src='http://4.bp.blogspot.com/_aSzGDSlv7uc/SgL5sQEiylI/AAAAAAAAAjU/G7nCVLCCJJ4/S660/matrix+-+alegerea+-+TIME+TO+CHOOSE.jpg' width="400" height="200" ><br>
<p style="color:white;font-size:1px">
  time to choose
</p>
<br>
  <form action="/result" method="post">
    <input style='display:inline;' type="submit" name="weapon" value="Rock"><br><br>
    <input type="image" src='https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-026-128.png' alt="Submit" width="60" height="60">
  </form>

  <form action="/result" method="post">
    <input type="submit" name="weapon" value="Paper"><br><br>
    <input type="image" src='http://imageenvision.com/450/26084-clip-art-graphic-of-a-white-copy-and-print-paper-cartoon-character-flexing-his-arm-muscles-by-toons4biz.jpg' alt="Submit" width="60" height="60">
  </form>

  <form action="/result" method="post">
    <input type="submit" name="weapon" value="Scissors"><br><br>
    <input type="image" src='https://vectortoons.com/wp-content/uploads/2015/05/scissors-emoji-collection-001.jpg' alt="Submit" width="60" height="60">
  </form>

  <form action="/result" method="post">
    <input type="submit" name="weapon" value="Capybara"><br><br>
    <input type="image" src='https://cdn4.vectorstock.com/i/1000x1000/52/93/capybara-animal-cartoon-vector-2335293.jpg' alt="Submit" width="60" height="60">
  </form>

</center
  <img src='https://media2.giphy.com/media/3orieQu1pYYWsEigQU/giphy.gif' alt="no image">
