<!DOCTYPE html>
<html>

<head>
  <title>Rock, Paper, Scissors</title>
  <style>
    * { box-sizing: border-box; }
    body {
      font-family: sans-serif; font-size: 15px; color: rgb(50, 60, 70);
      width: 700px; margin: 0 auto; background-color: ghostwhite; 
	  }
    .signin {
      width: 55%;
      font-size: 18px; text-align: center;
      padding: 8px 10px 20px; margin: 15% auto;
      background-color: PaleTurquoise;
      border-style: solid; border-width: 2px; border-radius: 5px; border-color: rgba(0,0,0,0.25);
    }
    .signin_box, input[type=submit] {
      height: 30px;
    }
    .signin_box {
      width: 36%;
      margin: 10px 2px 0 0; padding: 5px;
      border-radius: 5px; border-color: rgba(0,0,0,0.25);
    }
    input[type=submit] {
      background-color: DarkTurquoise;
      margin: 0 0 0 5px;
      border-radius: 5px; border-color: rgba(0,0,0,0.25);
    }
  </style>

</head>

<body>

<div class="signin">
  <h2>Player 1</h2>
  <p>Make your choice:</p>

  <form action="/choose" method="post">
    <label>Please enter and submit your name here</label><br>
    <input type="text" name="player_1_name" class="signin_box" placeholder="Player 1">
    <input type="submit" value="Submit">
  </form>
</div>

</body>