<center>
  <head>
    <style>
      body {
        background: url("http://uthmag.com/wp-content/uploads/2015/02/Rock_Paper_Scissors_by_smashmethod.jpg") no-repeat fixed;
      }
    </style>
    <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

  <body>
    <h1>
      <u>Select rock, paper or scissors</u></br>
      <%= @name %>, make your choice!</br>
    </h1>

    <div>
      <form action="/game/result" method="post">
        <input type="radio" name="choice" value="rock" id="choice_rock"/> ROCK!<br>
        <input type="radio" name="choice" value="paper" id="choice_paper"/> PAPER!<br>
        <input type="radio" name="choice" value="scissors" id="choice_scissors"/> SCISSORS!<br>
        </br>
        <input type="submit" value="Submit">
      </form>
    </div>


  </body>
</center>