<h2>Welcome <%= @game.player_1.name %></h2>

  <label>Make your choice</label>
  <form action='/choice' method="post">
    <input type='radio' name='rps' id="Rock" value="Rock">Rock<br>
    <input type='radio' name='rps' id="Paper" value ="Paper">Paper<br>
    <input type='radio' name='rps' id="Scissors" value="Scissors">Scissors<br>
    <button type="submit">OK</button>
  </form>
