Choose your weapon:

<form action="/weapon" method="post">

  <label for="player_1_weapon"> Paper </label>
  <input type="radio" name="player_1_weapon" value="paper" id="paper" />
  <label for="player_1_weapon"> Scissors </label>
  <input type="radio" name="player_1_weapon" value="scissors" id="scissors" />
  <label for="player_1_weapon"> Stone </label>
  <input type="radio" name="player_1_weapon" value="stone" id="stone" />

  <input type="submit" value="Feeling pretty good about myself right now" />
</form>
