<h3>Brilliant! Now <%= @player_2_name %>'s turn to choose weapon:</h3>
<form action="/second-weapon" method="post">
  <button class="weapon" type="submit" name="rock">Rock</button>
  <button class="weapon" type="submit" name="paper">Paper</button>
  <button class="weapon" type="submit" name="scissors">Scissors</button>
</form>
</div>
