<%= @player_1_name %> in lights

Which option do you want to play: rock, paper, or scissors?

<form action="/play" method="post">
<input type="text" name="choice">
<input type="submit" value="Play">
</form>
