<h3>Choose your shape <%= @name %>.</h3>
<form action="/choose_shape">
  <button type="submit" value="rock" name="game">Rock</button>
  <button type="submit" value="paper" name="game">Paper</button>
  <button type="submit" value="scissors" name="game">Scissors</button>
</form>
