Choose your weapon:

<form action="/action">

  <label for="weapon"> Scissors </label>
  <input type="radio" name="weapon" value="scissors" />
  <label for="attack"> Paper </label>
  <input type="radio" name="weapon" value="paper" />
  <label for="attack"> Stone </label>
  <input type="radio" name="weapon" value="stone" />

  <input type="submit" value="Feeling pretty confident right now" />

</form>
