<h2><center><%= @player_name %> choose rock, paper or scissors</center></h2>
<br>
<form action="/weapon" method="post">
  <center>
  <select name="dropdown">
    <option value = "choice" selected>Select an option</option>
    <option value = "scissors"> Scissors</option>
    <option value = "paper"> Paper</option>
    <option value = "rock"> Rock</option>
  </select>
  <br>
  <div>
    <br>
      <input type="submit" value="Submit">
  </div>
</center>
</form>
