<h1> Rock Paper Scissors </h1>

<h2> It's <%=@game.player_name%> vs. Donald Trump!<h2>

<h3> Choose your weapon, <%=@game.player_name%>! </h3>

<form action = '/outcome' method = 'post'>
  <input type = "submit" name = "rock" value = 'Rock'>
  <input type = "submit" name = "paper" value = 'Paper'>
  <input type = "submit" name = "scissors" value = 'Scissors'>
</form>
