<%= @player_name %> choose Rock, Paper or Scissors
<br>
<form><center>
  <select name="dropdown">
    <option value = "" selected>Select an option</option>
    <option value = "Scissors"> Scissors</option>
    <option value = "Paper"> Paper</option>
    <option value = "Rock"> Rock</option>
    <input type="submit" value="Submit">
  </select>
</center</form>
