Choose your weapon:

<form action="/weapon" method="post">

  <label for="player_1_weapon"> Scissors </label>
  <input type="radio" name="player_1_weapon" value="scissors" />
  <label for="attack"> Paper </label>
  <input type="radio" name="player_1_weapon" value="paper" />
  <label for="attack"> Stone </label>
  <input type="radio" name="player_1_weapon" value="stone" />

  <input type="submit" value="Feeling pretty good about myself right now" />

</form>
