<body bgcolor="seashell">
<center>
<h2 style="color:powderblue"><%= @game.player.name %> chose <%= @game.player.choice %></h2>
<form action="/result" method="post">
  <input type="submit" value="See result">
</form>
</center>
