<html>
<head>
<title>Did you choose well, dear <%=session[:name]%>?</title>
</head>


<body>
<center>

<h1>You choose <%=session[:chosen]%></h1>
<h2>The computer chose random choice</h2>
<h3>Now... rock, paper or scissors?</h3>





</center>
</body>
</html>
