<html>
<head>
<title>Did you choose well, dear <%=session[:name]%>?</title>
</head>


<body>
<center>

<h1>You chose <%=session[:chosen]%></h1>
<h2>The computer chose <%= %></h2>




</center>
</body>
</html>
