<div>

<% if @game.tie? %>
Aha, you tied with the computer, beats a slap in the face with a wet fish.
<% else %>
<%= @game.winner.name %> beats <%= @game.loser.name %>!
<% end %>

<p><a href='/new_computer_game'>Play again</a></p>

</div>