<div> 
  <p> Welcome <%= @name %> </p> 
  <p> Play against the Computer or another Player?</p>
  <form action='/computer'>
    <input type='submit' value='Computer'>
  </form >
  <form action='/player'>
    <input type='submit' value='Another Player'>
  </from>
</div>
