<h1>RPS!</h1>
<br>
<h2>Please enter your name</h2>


<form action="/computer_name" method="post">
  <label for="player_1_name">
    Player 1 Name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Let's play RPS">
</form>