<%=@player1%> vs. Computer
<p> </p>
<%=@mychoice%> vs. <%=@computer%>
<%# <% options = ["ROCK","SCISSORS","PAPER"] %> 
<% p_index = @choices.index(@mychoice)%>
<% c_index = @choices.index(@computer)%>

<%if p_index - 1 == c_index %>
<p>
"Computer wins!"
</p>
<%elsif p_index == 0 && c_index==2 %>
<p>
"Computer wins!"
</p>
<%elsif p_index == c_index  %>
<p>
"Tie!"
</p>
<%else %>
<p>
"You win!"
</p>

<%end%>
