<h1><%= @player_1_name %> vs. Bot</h1>
<br>
<br>
<h2>Click a button of your choice</h2>

<form action="/computer_play" method="post">
<input type="submit" name= "choice" value="ROCK">
<input type="submit" name= "choice" value="PAPER">
<input type="submit" name= "choice" value="SCISSORS">
</form>



