You played: <%= @game.player1.move %>
<br>
<br>
Computer's move: <%= @game.player2.move %>
<br>
<br>
<%= @game.winner %>
<br>
<br>
<form action = />
  <input type = "submit" value = "Play again!"">
</form>
