<div>

<% unless @game.draw?%>
  <h2>Aha, you tied with the computer. </h2>
<%else%>
 <%= @game.winner.name%>  beats <%= @game.loser.name %>
<%end%>

<a href='/new_computer_game'>Play again</a>

</div>