<h2>You decided to go for <%=@player.choice%>.</h2>

<h2> <%=@computer.name%> made its choice as well. Ready to know who won ??</h2>

<form action='/result'>
  <input type='submit' value="Computer's choice">
</form>
