<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title> Rock, Paper, Scissors </title>
</head>

<body>
  <h1> Computer picks: <%=@game.computer_choice%>! </h1>

  <form action="/winner">
    <input type="submit" value="Who wins?"/>
  </form>
</body>
