<h2> Congratulations <%=@player.name%>. You decided to go for Rock.</h2>

<h2> Now it's time for the computer to make its choice</h2>

<form action='/are_you_sure'>
  <input type='submit' value="Computer's choice">
</form>
