
<h2 align="center"><font face="futura" color="red" size="7"> SINGLE PLAYER VS COMPUTER </font></h2>
<center><img src="https://image.flaticon.com/icons/png/512/10/10522.png">
<h4 align="center"><font face="futura" color="red" size="5"> ENTER PLAYER NAME </font></h4>

<center><form action="/vscomputername" method="post">
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form></center>
