<!DOCTYPE html>
<html>

  <head>
    <title>Rock, Paper, Scissors</title>
  </head>

  <body>
    <h1 class='title'>Rock, Paper, Scissors</h1>
    <p>Please enter your name to continue.</p>
    <form action='/play_computer' method='post'>
      <label for='name'>
        Name: 
        <input type='text' name='name'>
      </label>
      <input type='submit' name='Begin'>
    </form>
  </body>
</html>