<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Rock, Paper, Scissors</title>
  </head>

  <body>
    <h1 class='title'>Results</h1>
    <p>You chose <%=@results_calc.player_1_move%>.</p>
    <p>Computer chose <%=@results_calc.player_2_move%>.</p>
    <p>It's a Draw!</p>
    <iframe src="https://giphy.com/embed/Uq5VbYeJOfoIl2fsSH" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/molangofficialpage-dance-music-dancing-Uq5VbYeJOfoIl2fsSH">via GIPHY</a></p>
  </body>
</html> 