<h1> You chose <%= @game.player_1.choice %> </h1>

<form action="/confirmation" method="post">
  <button type='submit',name="computer choice", value="computer choice"><h1> Find out what <%= @game.player_2.name %> chose... </h1></button>
</form>
