<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Complete</title>
  </head>
  <body>
    <h3>Thank you for registering!</h3>
    <form action="/" method="get">
      <input type="submit" value="Return to homepage">
    </form>
  </body>
</html>
