<!DOCTYPE html>
<html>

<head>
  <title>Confirmation</title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>

  <p><%= @player.name %> chooses <%= @player.decision %></p>

<form action='/computer' method='post'>
  <input type='submit' value='OK'>
</form>

</body>

</html>
