<!DOCTYPE html>
<html>

<head>
  <title>Confirmation</title>
</head>

<body>

  <p>You choose <%= @player.decision %></p>

<form action='/computer' method='post'>
  <input type='submit' value='OK'>
</form>

</body>

</html>
