<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    You picked <%=@player.player_choice%>
    <br>
    The computer picked <%=@computer_choice%>
    <br>
    <%=@confirmation%>
  </body>
</html>
