<h1> You chose <%= @choice %> </h1>

<form action="/confirmation" method="post">
  <button type='submit',name="computer choice", value="computer choice"> Find out what the computer chose... </button>
</form>
