<h1>So we have <%= @player_1.name %> and we have <%= @player_2.name %></h1>

<h1><%= @player_1.name %> VS <%= @player_2.name %>... LET'S GET READY TO RUMBLE!!!</h1>

<form action="/letsbattle" method="get">
  <input type="submit" value="LET'S GO!!!">
</form>
