<p><%= @player.name %> chose <%= @player.weapon %></p>
<p>Computer chose <%= @computer.weapon %></p>

<p><%= @result %> </p>

<form action = '/welcome'>
  <input type = 'submit' value = 'New Game'>
</form>
