<center>
  <h1>The results are in <%= @p1 %></h1>
  <br><br>

   <h3>You chose: <%= @choice %></h3>
   <br>

   <h3>Computer chose: <%= @computers_choice %></h3>
   <br><br>

  <h3>In the battle of Man vs Computer......</h3> <h1><%= @winner %></h1>
</center>
