<p><%= @player.name %> chose <%= @player.option %></p>
<p>Computer chose <%= @computer.option %></p>

<p><%= @result %> </p>

<form action = '/welcome'>
  <input type = 'submit' value = 'Play again'>
</form>
