<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
        <span class='name'><%= session[:winner] %></span><br>
        wins<br>with<br>
        <%= session[:winning_move] %>
      </center>
    </body>
  </html>
