<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
        <span class='name'>Computer</span>
        <br>wins<br>with
      </center>
    </body>
  </html>
