<h1> Hello <%= @Player_Name %>!!  </h1>
<h2> Please select your move:  </h2>

<form action="/rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/scissors" method="post">
  <input type="submit" value="Scissors">
</form>
