<!DOCTYPE html>
<html>
  <body>
    <head>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
    </head>
    <h1 >
      Welcome player !</h1>

    <h2>
      You are now registered as
      <span class="led-yellow one_player">
        <%= @player_name if !!@player_name %>
      </span>
      <span class="led-yellow two_player">
        <%= @player_name_one if !!@player_name_one %> and <%= @player_name_two if !!@player_name_two %>
      </span>
    </h2>

    <h2>
      ROCK, PAPER, or SCISSORS?
    </h2>
    <form action="/receive_RPS" method="post">
      <input type="submit" value="ROCK" name="response">
      <input type="submit" value="PAPER" name="response">
      <input type="submit" value="SCISSORS" name="response">
    </form>

  </body>
</html>
