<body bgcolor = "#FCFAF7  ">
  <center>
  <h1> Rock Paper Scissor</h1>
  <img alt="RPS" src="/images/rock-paper-scissor-ft.jpg" style="width:500px;height:500px;">
  <br>
  <form action="/name" method="post">
    <br><b>Player: <input type="text" name="player">
    <input type="submit" value="submit">
    </form>
    </center>
    </body>
