<body>
  <center>
  <h1> Rock Paper Scissor</h1>
  <br>
  <form action="/name" method="post">
    <label for="player">Player:
    <input type="text" name="player">
    </label>
    <button type="submit" value="submit">Play!</button>
    </form>
    </center>
    </body>
