<h1> You drew! </h1>

<h2> Both you and then computer chose the weapon <%= @game.player_weapon %> </h2>


<form action="/play">
  <input type="submit" value="Play again"/>
</form>

<form action="/">
  <input type="submit" value="Exit"/>
</form>
