Draw!

<form action='/play' method = 'get'>
  <input type='submit' value='Play Again'>
</form>



<%= @game.player_1_name %>: <%= @game.player_1_score %> 		
<%= @game.player_2_name %>: <%= @game.player_2_score %>