<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @player %> draws </title>
  </head>
  <body>
    <div>
      You chose <%= @player_choice %>
      Try again, you drew!
    </div>
  </body>
</html>
