<head>
<style>
  body {
    font-family: "Lucida Sans Unicode";
    font-size: 35px;
  }

  input {
    font-family: "Lucida Sans Unicode";
    font-size: 35px;
    padding: 8px 32px;
    display: inline-block;
    font-size: 25px;
  }
</style>
</head>

<center>

<h2>
  <%= @game.player_1.name.upcase %> chose: <%= @game.player_1.choice.upcase %>
</h2>
<h2>
COMPUTER chose: <%= @comp_choice.upcase %>
</h2>
<h2>
<%= @game.player_1.name.upcase %> DREW
</h2>

</center>