<div>
<% if @game.comp_move == 0 %>
Computer chose Rock!
<% elsif @game.comp_move == 1 %>
Computer chose Paper!
<% else %>
Computer chose Scissors!
<% end %>
</div>

<div>
<%= @game.player.name %>...it's a draw! <br>
</div>

<form action="/play">
  <input type="submit" value="Play again?">
</form>

<div>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKCVAYgXaILX6eV4mgTSNDJXRBmF9kDavl1w&usqp=CAU'>
</div>
