<!DOCTYPE html>
<html>
<head>
  <title>Rock-Paper-Scissors</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>

<header>Rock-Paper-Scissors</header>

<h2><%= @player.name %> chose: <%= @player_hand %></h2>

<h2><%= @cpu_player.name %> chose: <%= @cpu_hand %></h2>

<h2>IT'S A DRAW!!!</h2>

<form action="/play" method="get">
   <input type="submit" value="Play again">
 </form>

</body>
</html>