<div><%= @game.player1.name %> picked <%= @game.player1.weapon %>!
<br><br>
<%= @game.player2.name %> picked <%= @game.player2.weapon %>!
<br><br>
It's a draw!
<br><br>
<form action='/play'>
  <input type='submit' value='Another Game!'/>
</form>
</div>
