<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <h1><%= @outcome %></h1>

        <div class="">
          <form class="" action="/play">
                <input type="submit" name="" value="Play again?">
          </form>
        </div>
  </body>
</html>
