<!DOCTYPE html>
<html>
  <head>
    <title>ROCK. PAPER. SCISSORS.</title>
  </head>
  <body>
    <header>
      <h1>ROCK. PAPER. SCISSORS.</h1>
      <h2>"It's a draw!"</h2>
    </header>
    <div>
      <form method="GET" action="/play">
        <input type="submit" value="Play again!"/>
      </form>
    </div>
  </body>
</html>