<h2>In this round of RPS: <%= @name1 %> vs. <%= @name2 %>, the result is a DRAW!</h2>
<img class="front-picture" src="http://www.pmslweb.com/the-blog/wp-content/uploads/2017/06/13-playing-rock-paper-scissors-during-stone-age-funny-comic.jpg">
