<div align="center">
  <style>
  body {background-color: lightgrey;}
  h1   {color: crimson;}
  p {color: crimson;}
  </style>

  <h1>Draw!</h1>

  <a href="/" id="Restart">
     <button>Return to title page</button>
  </a>
  <br>
  <a href="/play" id="Restart_Single">
     <button>Restart singleplayer game</button>
  </a>
  <br>
  <a href="/multiplayer" id="Restart_Multi">
     <button>Restart multiplayer game</button>
  </a>
  <br>
</div>