<center>
  <h4><%= @player_name %> chooses <%= @game.player %>   |
    |   The Computer chooses <%= @game.computer %></h4>
  <h2>You Draw!</h2>
  <a href="/game"><button>Play Again?</button></a>
</center>