<h3>It's a draw.</h3>

<div>
<%= stored_player_01.name %> chose <%= stored_player_01.weapon %>. <%= stored_player_02.name %> chose <%= stored_player_02.weapon %>.
</div>

<br>

<form action="/" method="get">
  <label>
    Play again?
  </label>
  <input type="submit" value="Play">
</form>
