<h1> <%= @player.name %> & AI drew! </h1>

<h2> 乁༼☯‿☯✿༽ㄏ </h2>

<form action="/play">
  <input type="submit" value="Play again?">
</form>

<form action="/">
  <input type="submit" value="New Player">
</form>
