<body style="background-color:lightyellow;">
<h1> <%= @player_1_name %> chooses <%= @weapon_choice %></h1>
<h1> Computer chooses <%= @computer_choice %></h1>
<h1>It's a draw!!</h1>
<img src="https://www.avforums.com/styles/avf/editorial/products/13e4f6e570ca037e2d3b551b5a0ab43b_1148.jpg">
<h3>Is that all you got? Wanna try again?</h3>
<form action="/play">
  <input type="submit" value="Yes, bring it on">
</form>

<form action="/">
  <input type="submit" value="Maybe next time">
