<body>
<h1> You chose <%=@game.player_choice%>! </h1>
<h1> Bob the computer chose <%=@game.computer_choice%>! </h1>
<h1> It's a draw! </h1>
<form action="/play_vs" method="get">
<input type="submit" value="Play Again!">
</form>

<img src="https://media.giphy.com/media/WN00WINYziSQM/giphy.gif">
</body>

<style>
body{
  text-align: center;
}
</style>
