<h2>
<iframe src="https://giphy.com/embed/26Ffi42TZbsrwDwzu" width="480" height="190" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/splat-nicksplat-are-you-afraid-of-the-dark-26Ffi42TZbsrwDwzu"></a></p>
</h2>

<h2>It's a <%= @result %></h2>

<h1 style="color:blue;" >
You chose: <%= @game.player_1.weapon(@p1_weapon) %>
</h1>

<h1 style="color:red;" >
<%= @game.player_2.name %> chose: <%= @p2_weapon %>
</h1>

<form action="/play" method="get">
  <div id="centerbuttons">
    <input type="submit" value="Play again">
  </div>
</form> 

<style>
#centerbuttons{
   width:90px; 
   margin:0 auto;
}       

h1 {text-align: center;}
h2 {text-align: center;}
</style>