<html>
  <body>
  <center>
    <h1> Your opponent selected <%= @game.random_move %>, it's a draw! </h1>
      <h2> Do you want to play again? </h2>
      <form action="/game" method="get">
      <input type="submit" value="Yes!"
       name="submit" id="frm1_submit">
      </form>
  <center>
  </body>
