<!DOCTYPE html>
<html>
  <head>
    <link href="<%= url('../style.css') %>" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="content">
      <h1><%= Game.instance.player_choice %> vs. <%= Game.instance.computer_choice %></h1>
      <h1>It's a draw!</h1>
    </div>
    <footer class="footer">
      <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a>
    </footer>
  </body>
</html>