<!DOCTYPE html>
<html>
<head>
<title>Draw RPSApp</title>
</head>
<body>

  <h1>This is a Heading</h1>
  <h2>It's a draw!</h2>
  <p>You chose <%= @game.p1_weapon %></p>
  <p>Cpu chose <%= @game.p2_weapon %></p>

  <a href="/play">Next Round</a>

</body>
</html>
