<div class= "outer">
  <div class = "inner">
    <h1> Draw :( <h1>
    <img src= "https://media.giphy.com/media/tXL4FHPSnVJ0A/source.gif" alt="boring">
  </div>
</div>
<style>
  .outer {
    display: flex;
    justify-content: center;
  }

  .inner {
    margin-top: 100px;
    width: 400px;
    text-align: center;
  }
</style>
