<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link href="https://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet">
  <style type="text/css">
  * {
    background-color: #426E86;
    font-family: 'Freckle Face', cursive;
  }
  h1 {
    text-align: center;
    font-size: 150px;
    color: #F9BA32;
  }

  h2 {
    text-align: center;
    font-size: 80px;
    color: #F8F1E5;
  }

  form {
    text-align: center;
  }

  input[type=submit] {
    color: #2F3131;
    letter-spacing: 2px;
    font-size: 40px;
    background-color: #F9BA32;
    border: 2px solid #F8F1E5;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 14px;
    }

  </style>
</head>
<body>

<h1>It's a draw!</h1>
<h2> Click OK to have another go! </h2>
<form action="/play" method="get">
  <input type="submit" value="OK">
</form>
</body>
</html>
