<h3> <%= $player1.name %> chose <%= @player1_move %> </h3>

<h3> <%= $player2.name %>  chose <%= @player2_move %> </h3>

<h4> A bore Draw! </h4>

<img src="https://i.imgur.com/TdN2j1B.jpg" title="source: imgur.com" /></a>