<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:lightyellow;">
    <div align='center'>
      <h1> <%= @player_1_name %> chooses <%= @weapon_choice %></h1>
      <font color="red"><h1> Computer chooses <%= @computer_choice %></h1></font>
      <h1>It's a draw!!</h1>
      <img src="https://www.avforums.com/styles/avf/editorial/products/13e4f6e570ca037e2d3b551b5a0ab43b_1148.jpg">
      <h4>Is that all you got? Wanna try again?</h4>
      <form action="/play">
        <input type="submit" value="Yes, bring it on">
      </form></br>

      <form action="/">
        <input type="submit" value="Maybe next time">
      </form>
    </div>
