<!DOCTYPE html>
<html>
<head>
<title>Draw RPSApp</title>
</head>
<body>

  <h2>It's a draw!</h2>
  <%= @game.player_1.name %> chose <%= @game.p1_weapon.capitalize %> :: <%= @game.player_2.name %> chose <%= @game.p2_weapon.capitalize %>

  <p><a href="/play">Next Round</a></p>

</body>
</html>
