<section class='results col-md-8 col-md-offset-2'>
  <h1>You both chose <%= @game.p1_choice %> which makes this a draw.</h1>
  <h2>How ever so boring.</h2>

  <a href='/play' class='btn btn-danger'>Want to play again?</a>
</section>
