<p style='margin-top:30; text-align:center;'>
  <p>
    <%= @game.player_1.name %> has chosen <%= @game.player_1.choice %> vs <%= @game.player_2.name %> has chosen <%= @game.player_2.choice %>
  </p>
  <p style='margin-top:30; text-align:center;'>
    IT'S A DRAW! Please try again!
  </p>
</p>

<form
  style='margin-top:30;'
  action="/continue"
  method="post">
  <input type="submit" value="Try again!" class="sign_in_button">
</form>
