<h1>YOU CHOSE <%= @player_1_choice %>!</h1>
<h1>YOUR OPPONENT CHOSE <%= @player_2_choice %>!</h1>
<h1>It's a draw.</h1>
<br>
<form action="/play" method="get">
  <input type="submit" value="REMATCH!">
</form>
