<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>That's a draw!</h1>
    <%=@game.player_1.name%>: <%=@game.player_1.weapon.type%> VS.
    <%=@game.player_2.name%>: <%=@game.player_2.weapon.type%>
  </body>
</html>
