<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CYBER RPS</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>It's a Draw!</h1>

    <div class="row">
        <div class="col-md-12">
          <form class="play-again" action="/play">
            <div class="btn-group">
              <button type="submit">Play Again</button>
            </div>
          </form>
        </div>
    </div>
  </body>
</html>
