<h1> <%=@game.player1.name%> chose <%=@game.player1_choice%>! </h1>
<h1> <%=@game.player2.name%> chose <%=@game.player2_choice%>! </h1>
<h1> It's a draw! </h1>
<form action="/play_vs" method="get">
<input type="submit" value="Play Again!">
</form>

<img src="https://media.giphy.com/media/WN00WINYziSQM/giphy.gif">
