<h1> <%= @game.player.name %> picked <%= @game.selection %> </h1>
<h1> Computer picked <%= @game.computer_choice %> </h1>
<h2> Draw! </h2>

<img src="https://acegif.com/wp-content/gifs/handshake-2.gif"/>