<div>
  You both called <%= @game.choice %>!
  OMG! you DREW! Surely you want to play again and settle the score<br>
  Mr.Squiggles is impatient<br>
  <a class="btn" href="/start">START AGAIN</a><br>
  <a class="btn" href="/">START WITH NEW NAME</a>
</div>
<link rel="stylesheet" type="text/css" href="/styling.css" >
