<div id="duel">
  <h2><%= @player.name %> (<%= @player.c_rps%>)</h2>
  vs
  <h2>Computer (<%= @pc.c_rps%>)</h2>
  <br/>
  <% if @winner == 0 %>
    *** The match is draw ***
  <% else %>
    *** The winner is: <%= @winner.name %> ***
  <% end %>
  <br/>
  <a href="/play"><button>Play again</button></a>
</div>
