<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>End</title>
    <base href="/">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1> Thanks for playing! We hope you had fun! </h1>
  </body>
</html>
