<head>
  <style>
    h1, body {
      display: flex;
      text-align: center;
      align-items: center;
      color: #ffffff;
      flex-direction: column;
    }

    body {
      background-image: url('https://inhdw.com/wallpaper/8/skull-and-bones-pirate-battle-814.jpg');
      background-color: #222;
    }
  </style>
</head>

<body>
  <h1> <%= @player_one %> <%= @game.winner %> Game Over. </h1>

  <form action="/" method="get">
    <input type="submit" value="Start Again">
  </form>
</body>
