<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
  <h1> <%= @player_one %> <%= @game.winner %> Game Over. </h1>

  <form action="/" method="get">
    <input type="submit" value="Start Again">
  </form>
</body>
