<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>RPS Challenge</title>
    <link rel='stylesheet' href='styles.css'/>
  </head>
  <body>
    <div class='heading'>
      <h1><%= @game.game_text.round_winner %></h1>
      <h2> <%= @game.pretty_score %> </h2>
    </div>
    <div class='page'>
      <div class='player-1'>
        <% if @game.last_winner == @game.player_1 %>
          <img class='avatar win-avatar' src='images/edward.jpeg'/>
        <% else %>
          <img class='avatar' src='images/edward.jpeg'/>
        <% end %>
        <h2 class='result'> <%= @game.game_text.player_1_text %></h2>
      </div>
      <div class='player-2'>
        <% if @game.winner == @game.player_2 %>
          <img class='avatar win-avatar' src='images/superhans.jpeg'/>
        <% else %>
          <img class='avatar' src='images/superhans.jpeg'/>
        <% end %>
        <h2 class='result'> <%= @game.game_text.player_2_text %></h2>
      </div>
      <div class='player-divider'></div>
      <form method='post' action='/reset'>
        <input type='submit' class='custom-button' value='Next Round'>
      </form>
    </div>
  </body>
</html>
