
<% if @game.current_turn.score == 3 %>
<%= "Game over! #{@game.current_turn.name} wins!" %>
<% else %>
<%= "Game over! #{@game.next_turn.name} wins!" %>
<% end %>

<form action="/" method="get">
  <input type="submit" value="Play again">
</form>
