<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>RPS Challenge</title>
    <link rel='stylesheet' href='styles.css'/>
  </head>
  <body>
    <div class='heading'>
      <h1><%= @game.winner.name %> is the winner!</h1>
    </div>
    <div class='page'>
      <div class='player-1'>
        <% if @game.winner == @game.human_player %>
          <img class='avatar win-avatar' src='images/edward.jpeg'/>
        <% else %>
          <img class='avatar' src='images/edward.jpeg'/>
        <% end %>
        <h2 class='result'> <%= @human_choice %></h2>
      </div>
      <div class='player-2'>
        <% if @game.winner == @game.computer_player %>
          <img class='avatar win-avatar' src='images/superhans.jpeg'/>
        <% else %>
          <img class='avatar' src='images/superhans.jpeg'/>
        <% end %>
        <h2 class='result'> <%= @computer_choice %></h2>
      </div>
    </div>
  </body>
</html>
