<body bgcolor="#464343">
<center>
  <font face="impact" color="#090C7B" size="10">
  Computer has chosen its attack....
  <p><form action="/result" method="get">
  <input type="submit" value="I'm not afraid! Lets do this!">
  </form></p>
  </font>
</center>
