<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="<%= url('/stylesheet.css') %>">
  </head>
  <body>
    <div id="content">
      <img src='images/rps1.jpg' width="400">
    <font size="6"><strong>Let's get started<br />What's your name?</strong></font>
    <p><form action="/play_computer">
    <input type="text" name="name">
    <input type="submit" value ="Submit">
    </form></p>
<img src='images/rps2.jpg' width="380" >
</div>
  </body>