
<center>
<h1>ROCK PAPER SCISSORS  </h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    <input type="text" placeholder="Player 1: Enter Name" name="player_1_name">
  </label>
  <label for="player_2_name">
    <input type="text" placeholder="Player 2: Enter Name" name="player_2_name">
    <br>
    <br>
  </label>
  <input type="submit" value="Submit">
</form>
<br>
<img src= "https://www.pinclipart.com/picdir/big/176-1761475_mickey-rock-paper-scissors-mickey-mouse-hands-clipart.png" style="transform:rotate(-90deg);">
</center>