<form action= "/play_two_player" method="post">
  <label style= "color:pink" for="player_one_name">
    Player One Name
    <input style= "color:blue" type="text" name="player_one_name">
  </label>
  <label style= "color:pink" for="player_two_name">
    Player Two Name
    <input style= "color:blue" type="text" name="player_two_name">
  </label>
    <input type="submit" value="Submit">
</form>
