<div style='width: 400px; border: 3px solid #b10d19; text-align:center; margin:0 auto; '>
  <img src='http://4.bp.blogspot.com/-lYz_ZrnPp4Q/VcWhhY_wIqI/AAAAAAAAQv4/Cq2pe41m-64/s1600/rps%2B1.jpg' width="400">
    <font size="6"><strong>Let's get started.</strong></font>
    <p><form action="/play_friend">
    Enter Player 1's name: 
    <input type="text" name="name1">
    </p>
    <p>Enter Player 2's name: 
    <input type="text" name="name2">
    </p><p>
    <input type="submit" value ="Submit">
    </form></p>
<img src='http://4.bp.blogspot.com/-rv1RtwNygpM/VcUjl55O0FI/AAAAAAAAQus/PW0HhBPFFLw/s1600/rps2.jpg' width="380" >
</div>