<!DOCTYPE html>

<div style="text-align:center">
  Welcome to rock, paper, scissors!
  <div class="">
    <form action="/one_player/game_setup" method="post">
      Player 1: <input type="text" placeholder="Name" name="player_1_name">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
