<div class=namesub>
  <form action='/enter_player_name' method='Post'>
    <input type='text' name='Name'><h3>What's the name of the other player?</h3></input>
    <input type='submit' value='Submit'></input>
  </form>
</div>
