<h1>Rock Paper Scissors<h1>
<h2>Sign in to play eachother!<h2>
<br><br>
<form action="/names" method="post">

  <label for="player_1_name">
    Player One Name!
    <input type="text" name="player_1_name">
  </label>

  <label for="player_2_name">
    Player Two Name!
   <input type="text" name="player_2_name">
   </label>

  <input type="submit" value="Submit">
</form>