<center>
<p style="color:white;font-size:30px">Rock Paper Scissors</p>
<p style="color:white;font-size:30px">Sign in to play</p>
</center>

<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>

<style>
body {
        background-image: url("https://d2zfkpu1r6ym98.cloudfront.net/sites/guideposts.org/files/styles/hero_box_left_lg/public/story/rock_paper_marquee.jpg");
}

</style>

<!-- <div>
  <img src="https://d2zfkpu1r6ym98.cloudfront.net/sites/guideposts.org/files/styles/hero_box_left_lg/public/story/rock_paper_marquee.jpg" alt = 'not found'>
</div> -->
