<html>
  <head>
  </head>
  <body>
    <h1>Rock Paper Scissors</h1>
    <h2>Enter Second Players Name</h2>
    <form method="post">
      <input type="text" name="player2_name" id="button" required>
      <input type="submit" value="Begin" id="button">
    </form>
    <h2>Enter Second Players Choice</h2>
    <form action='/new_game' method="post">
      <input type="text" name="player1_pick" id="button" required>
      <input type="submit" value="Begin" id="button">
    </form>
  </body>
</html>