<div>
  <h2>Entry Complete!</h2>
</div>

<div>
  <h2>Click to play game...</h2>
</div>

<div>
  <form action='/p1_play'>
    <input type='submit' value='Player 1: Play game'>
  </form>
  <form action='/p2_play'>
    <input type='submit' value='Player 2: Play game'>
  </form>
</div>
