<html>

<head>
  <link rel='stylesheet' type='text/css' href='css/style.css'

</head>

<body>
  
  <h1>Enter your Name . . .</h1>

  <div id="main"> 
    <img src="css/rules.png" alt="Rock Paper Scissors Lizard Spock" width="600px" height="500px">
  </div>
  
  <form action='/play' method='post'>
    <input type='text' name='player_name' class='button' id='enter_name'>
    <input type='submit' value='START GAME' class='button' id='button'>
  </form>

</body>

</html>