<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <h1>Welcome to ROCK PAPER SCISSORS!!!
    </h1>
    <h2>Register your name to play...</h2>
    <form method='POST' action='/name'>
      <label>
        Player name
        <input type="text" name="player_name"/>
      </label>
      <input type="submit" value='Submit'>
    </form>
  </body>
</html>
