<div style='width: 400px; border: 3px solid #b10d19; text-align:center; margin:0 auto; '> 
  <img src='http://1.bp.blogspot.com/-m_OvTCAXR7Y/VcWhhdQBjlI/AAAAAAAAQwA/hBD5NnDr6lg/s1600/rpslz1.jpg' width="400">

    <font size="6"><strong>Let's get started<br />What's your name?</strong></font>
   <div style="float: left; width: 200px; "> 
    <p><form action="/play_spock">
    <input type="text" name="name">
    <input type="submit" value ="Submit">
    </form></p>
</div>
  <div style="float: left; width: 200px; ">
   <img src='http://3.bp.blogspot.com/-1WFu9GGulIE/VcZK_moUXcI/AAAAAAAAQwg/ES_iCeSTXFE/s320/spock%2B1.jpg' width="200" align="right">   
</div>
<p>It's illogical!
</div>