<div class=namesub>
  <form action='/enter_player_name' method='Post'>
    <h3>What's the name of the other player?</h3>
    <input type='text' name='Name'></input>
    <input type='submit' value='Submit'></input>
  </form>
</div>
