
<style type="text/css">
body {
  background-image:
    linear-gradient(
      #A0FFC7, #7AC9E8, #C8C1FF, #E6A4E8, #FFBFB4
    )
  }
h1 {

  position: relative;
  font: 200px Helvetica, Sans-Serif;
  letter-spacing: : -5px;
  color: rgba(0,0,255,0.5);
  }
h1:after{
  content: "LET'S PLAY";
  position: absolute; left: 10px; top: 5px;
  color: rgba(255,0,0,0.5);
  }

.submit {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.image {
  margin: 0;
position: absolute;
top: 78%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
}
.button{
  margin: 0;
  position: absolute;
  top: 100%;
  left: 53%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

</style>

<div>
<h1>LET'S PLAY</h1>
</div>
<br>

<div class="submit">
<form action="/choose" method="get" id="form1">
  <input type="text" name="name" value="   ENTER YOUR NAME" ><br>
  <button class="button" type="submit" form="form1" value="Submit">ENTER</button>
</form>
</div>

<div class=image>
<img src="https://longlivethemouse.files.wordpress.com/2014/02/disney_043.gif" alt='abu' float='right'>
</div>
