<h1>Welcome to the rock, paper, scissors.</h1>
<br>
<br>
<form action="/name" method="post">
  <label for="player_name">
    Enter your name: <input type="text" name="player_name"></input>
  </label>
  <input type="submit" value="Play"></input>
</form>
