<body background = 'http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef0168e4ad14fd970c-600wi'

<div><center>
<font face="courier" size = 8 >Enter name</font>
<form action="/make_game" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
</center></div>
