<html>
<head>
<title>You are one step closer to the action!</title>
</head>


<body>
<center>

<h1>Oh hello, <%=session[:name]%>! We'd been hoping you'd drop by...</h1>





</center>
</body>
</html>
