<html>
<head>
<title>You are one step closer to the action!</title>
</head>


<body>
<center><h1>Good day to you, Marketeer - lookin' good!</h1>
<h2>Kindly enter your name below</h2>
<form action="/name-entered" method="post">
<input type="text" name="name">
<input type="submit" value="Submit">
</form>




</center>
</body>
</html>
