<div style='width: 400px; border: 3px solid #b10d19; text-align:center; margin:0 auto; '> 
  <img src='http://4.bp.blogspot.com/-lYz_ZrnPp4Q/VcWhhY_wIqI/AAAAAAAAQv4/Cq2pe41m-64/s1600/rps%2B1.jpg' width="400">
    <font size="6"><strong>Let's get started<br />What's your name?</strong></font>
    <p><form action="/play_computer">
    <input type="text" name="name">
    <input type="submit" value ="Submit">
    </form></p>
<p><img src='http://4.bp.blogspot.com/-rv1RtwNygpM/VcUjl55O0FI/AAAAAAAAQus/PW0HhBPFFLw/s1600/rps2.jpg' width="380" ></p>
<div>