<form action= "/play" method="post">
  <label style= "color:pink" for="player_name">
    Player Name
    <input style= "color:blue" type="text" name="player_name">
  </label>
    <input type="submit" value="Submit">
</form>
