<div>
  <h2>Entry Complete!</h2>
</div>

<div>
  <h2>Click to enter game...</h2>
</div>

<div>
  <form action='/p1_play'>
    <input type='submit' value='Player 1: Enter Game'>
  </form>
  <form action='/p2_play'>
    <input type='submit' value='Player 2: Enter Game'>
  </form>
</div>
