<html>
  <head></head>
  <body>
    <h1>Enter Name</h1>
    <form action='/new_game' method="post">
    <input type="text" name="name" id="button" required>
    <input type="submit" name="weapon" value="Rock" />
    <input type="submit" name="weapon" value="Paper" />
    <input type="submit" name="weapon" value="Scissors" />
    </form>
  </body>
</html>
