<!DOCTYPE = html >
<html>
  <head>
    <style>
      body, input {
        text-align: center
      }
    </style>
  </head>

  <body>
    <h1> Rock, Paper, Scissor </h1>
    <form action= '/name' method=post >
      Your name: <br>
      <input type= "text" name="name" required ><br>
      <input type= "submit" value= "Play" > <br>
    </form>
</body>
</html>
