<!DOCTYPE html>
  <head>
    <link href="/styles/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="choice-error">
      <h1 class="error" style="font-family: 'Permanent Marker', cursive; font-size: 42px;"><%= @game.player.name.capitalize %>, seems that you didn't select a move before pressing play!</h1>
      <p>Your selected move will have a blue button once you've selected it correctly.</p>
      <a href="/play" class="btn btn-default btn-sm">Try again</a>
    </div>

  </body>
</html>
