<h1>Rock/ Paper/ Scissors!</h1>
<h2>Oops, something went wrong! We'll look into why... in the meantime, please try again</h2>
<form action="/play" method="get">
  <input type="submit" value="Play again >>">
</form>
