<h1>Ah brilliant!! I can put my feet up then!</h1>

<h1>Hi, My name is Ed and today I will be the referee!</h1>

<h2>So who are the two fine contestants we have today?</h2>

<form action="/names" method="post">
  <h2>Player 1, what is your name?</h2>
  <input type="text" name="player_1">
  <h2>And Player 2, what is your name</h2>
  <input type="text" name="player_2">
  <input type="submit" value="Submit">
</form>
