<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: #99ccff
  }
</style>
</head>
<BODY>
  <center>
    <h1>Prepare for glorious combat</h1>
    <div></div>
    <h2><%= @name %> vs. HAL</h2>
  </center>
</BODY>
</html>
