<%= @game.player.name %> takes <%= @game.player.weapon %><br><br>
<%= @game.start %><br><br>
Opponent takes <%= @game.cpu_weapon %><br><br>
<form action="/game" method="get">
  <input type="submit" value="Try again!">
</form>
