<%= Game.game.player_name %> vs Computer

<form action="/pick-choice" method="post">
  <input type="hidden" name="choice" value="rock"/>
  <button type="submit" id="rock">Rock</button>
</form>

<form action="/pick-choice" method="post">
  <input type="hidden" name="choice" value="paper">
  <button type="submit" id="paper">Paper</button>
</form>

<form action="/pick-choice" method="post">
  <input type="hidden" name="choice" value="scissors">
  <button type="submit" id="scissors">Scissors</button>
</form>

Your choice: <%= Game.game.player_choice %>

<form action="/show-winner" method="get">
  <button type="submit" name="Show winner"/>
</form>
