<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: #99ccff
  }

  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 64px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .button1 {width: 250px;}

</style>
</head>
<BODY>
  <center>
    <h1>Prepare for glorious combat</h1>
    <div></div>
    <h2><%= @name %> vs. HAL</h2>
    <button class="button button1">Rock</button>
    <button class="button button1">Paper</button>
    <button class="button button1">Scissors</button>
    <h2>Fear is a reflex.</h2>
    <h2>Courage is a choice.</h2>
  </center>

</BODY>
</html>
