<h2 align= "center">You chose <%=@current_game.P1.choice.weapon%>, Ralph chose <%=@current_game.ralph.choice.weapon%></h2>
<br />
<h2 align= "center" style="color:red;"><%= @result %></h2>
<br />

<h3 align= "center">Fight again?</h3>
<form align="center" action='/fight_ralph' method='post'>
  <form align="center" action='/fight_ralph' method='post'>
    <button name="weapon" type="submit" value="rock">Rock</button>
    <button name="weapon" type="submit" value="paper">Paper</button>
    <button name="weapon" type="submit" value="scissors">Scissors</button>
    <button name="weapon" type="submit" value="spock">Spock</button>
    <button name="weapon" type="submit" value="lizard">Lizard</button>
  </form>
</form>
<form align="center" action='/'>
  <div align="center">
    <input type= 'submit' value= 'Main Menu'>
  </div>
</form>
