<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        background-color: #FCCCAF;
      }
      p {
        font-size: 30px;
        text-align: center ;
      }

      div {
        text-align : center;
      }
   </style>
  </head>
  <body>
    <div>
      <%= @message %>
      <form method="get" action="/" >
        <input type="submit" value="Play again" / >
      </form>
    </div>
  </body>
</html>
