<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: pink;
}
</style>
</head>

<h1 style="text-align:center">The final result</h1>

<h3> Player selected : <%= @player_move %></h3> <br>
<h3> Computer selected : <%= @computer_move %></h3> <br>
<h3>RESULT You have : <%= @result %></h3>

<form action="/">
  <div style = "position:relative; left:480px; top:2px;">
  <input  type="submit" value="Restart" style="width: 150px; margin: 0 auto;" />
  </div>
</form>