<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Bojangles, <%= @game.winner.name%> wins the game!</h1>
            <img class="responsive circular-border" src="https://i.ibb.co/K9dN5r9/28nimoy-video-hp-video-Sixteen-By-Nine1050.jpg">
            <h2>May the Force be in you</h2>
        </header>
    </div>
</body>
</html>