<centre>
  <%=@game.winner%> is the ultimate champion of everything ever!!!
  <form action="/play" method="get" >
    <input type="submit" value="Time to start over">
  </form>
</centre>

<%@game.score.reset%>

