<html>
  <head>
  </head>
  <body>
    <div style="text-align:center;">
      <br><br><br>
      <h1><%= @game.player.name %> you have completed Rock/Paper/Scissors! </h1>
    </div>
  </body>
</html>
