<!DOCTYPE html>
<html>
<head>
<style>
body { background-color:#6666FF; }
h1 { text-align:center; font-family:Courier; }
</style>
</head>
<body>
  <h1>You chose <%= @player %></h1>
  <h1>Computer chose <%= @computer_move %></h1>
</body>
</html>