<h1>Type: rock, paper or scissors?</h1>
<form action="/second" method="post">
  <input type="submit" value="rock">
  <input type="submit" value="paper">
  <input type="submit" value="scissors">
</form>
