<h4><%= @game.player1.name %>: choose your weapon!</h4>

<div style="display:inline-block">
  <form name="input" action="/first_player_choice" method="post">
    <input type="submit" name="weapon" value="Rock">
    <input type="submit" name="weapon" value="Paper">
    <input type="submit" name="weapon" value="Scissors">
  </form>
</div>
