<h1 style='margin:auto; text-align:center;'>
  Looks like we know who is a lucky kitty today!
</h1>
<p style='margin-top:30; text-align:center;'>
  <% if @game.player_2 == @game.active_player %>
    <%= @game.player_2.name %> choose first!
  <% end %>
  <% if @game.player_1 == @game.active_player %>
    <%= @game.player_2.name %> choose first!
  <% end %>
</p>
<p style='margin-top:30; text-align:center;'> Psssst! Do not show your move to your opponent </p>
<form
  style='margin-top:30;'
  action="/choice"
  method="get">
  <input type="submit" value="Choose" class="sign_in_button">
</form>
