
<center>
<h1><%= @player_1_name %>, Pick Your Weapon</h1>
<form action="/first_player" method="post">
  <input type="radio" name="weapon" value="Rock" > Rock
  <input type="radio" name="weapon" value="Paper"> Paper
  <input type="radio" name="weapon" value="Scissors"> Scissors
  <p><input type="submit" valuve="Sumbit"></p>
</form>

</center>
