<!DOCTYPE html>
<html>
<head>
<style>
body { background-color:#6666FF; }
h1 { text-align:center; font-family:Courier; }
h2 { text-align:center }
</style>
</head>
<body>
  <h1>You chose <%= @player_move %></h1>
  <h1>Computer chose <%= @computer_move %></h1>
  <% if @result == @name %>
    <h2>You won the game!</h2>
  <% elsif @result == "Computer" %>
    <h2>Unlucky, you lost the game</h2>
  <% else %>
    <h2>The game was tied!</h2>
  <% end %>
  
</body>
</html>