<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Barrio|Cabin+Sketch" rel="stylesheet">
    <style>
    body  {
      background-image: url("../../images/rpsls-bkg.jpg");
      background-repeat: no-repeat;
      background-color: #15133c;
      background-position: right -55px;
      text-align: center;
      color: #4A87E6;
      font-family: 'Cabin Sketch', cursive;
    }
    h1 {
      color: #81C737;
      font-size: 60px;
      font-family: 'Barrio', cursive;
    }
    h2 {
      font-size: 40px;
    }
    span {
      color: #D40D58;
    }
    </style>
  </head>
<body>
    <div>
      <h1><span><%= @game.player.name %> played ROCK</span></h1>
    </div>

    <div>
      <h1>NPC played <%= @npc_weapon %><h1>
    </div>

    <br></br>
    <br></br>
    <% if @npc_weapon == "ROCK" %>
      <h3> It's a DRAW! </h3>
    <% elsif @npc_weapon == "PAPER" %>
      <h2>Paper beats Rock</h2>
      <h3>...<%= @game.player.name %> LOST!</h3>
    <% else %>
      <h2>Rock beats Scissors</h2>
      <h3><%= @game.player.name %> is the WINNER!</h3>
    <% end %>

    <form action="/play">
      <input type="submit" value="Play again">
    </form>

  </body>
</html>
