
<div>
<h1> Select your weapon! </h1>
  <form action="/memorial" method= "post">
    <input type="radio" name="weapon" value="Rock"> Rock<br>
    <input type="radio" name="weapon" value="Paper"> Paper<br>
    <input type="radio" name="weapon" value="Scissors"> Scissors<br>
    <input type="submit" value="Duel!">
  </form>
</div>