<form action="/name" method="post">
    <label for="name">Player:</label>
    <input type="text" name="name1" placeholder="type name here">
  <button type="submit" value=submit> Submit to enter name! </button>
</form>