<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:wght@300&family=Dongle:wght@300;400;700&family=IBM+Plex+Serif:wght@100;300&family=Julius+Sans+One&family=Prata&family=Russo+One&family=Varela+Round&display=swap" rel="stylesheet">

<style> form {
  text-align: center;
  font-family: Bangers, arial;
  padding-bottom: 10px;
}
input {border-radius: 7px;}
button {border-radius: 7px;}
h1 {text-align: center; font-family: Bangers, arial; padding-top: 20px}
</style>

<h1>Enter Name</h1>
<form action='/play' method='post'>
  <input type="text" name="player" style="padding: 5px 15px"><br><br>
  <button type="submit" style="padding: 5px 10px">Submit name!</button>
  </form>
