<h1>
  Welcome my friends ! 
</h1>
<h2>
  Please register your names
</h2>

<form action="/name_two" method="post">
  <input type="text" name= "player_name_one">
  <input type="text" name= "player_name_two">
  <input type="submit" value="Save">
</form>
