<style> form {
  text-align: center;
  font-family: arial;
  padding-bottom: 10px;
}
input {border-radius: 7px;}
button {border-radius: 7px;}
h1 {text-align: center; font-family: arial; padding-top: 20px}
</style>

<h1>Enter Name</h1>
<form action='/name' method='post'>
  <input type="text" name="player" style="padding: 5px 15px"><br><br>
  <button type="submit" style="padding: 5px 10px">Submit name!</button>
  </form>
