<h1>Please Provide your Avatar Name</h1>

<form action="/play" method="post">
  <label for="fname"><h2><strong>Avatar Name:</strong></h2></label><br>
  <input type="text" name="avatar_name"><br>
  <br>
  <input type="submit" value="Submit">
</form