<img src="https://www.walldevil.com/wallpapers/w07/simple-simple-background-hd-background.jpg"
style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
<h1 style='position: relative;
font-size: 100px;
text-align: center;
font-family: Comic Sans MS, sans-serif;
margin-top: 0;
text-shadow: 2px 3px 3px black;
letter-spacing: -7px;
-webkit-text-stroke: 1px white'>Rock Paper Scissors</h1>
<h2 style='position: relative; text-align: center; font-family: Comic Sans MS'>Sign in to Play</h2>
  <form action="/names" method="post" id="form1">
    <label style='font-family: Comic Sans MS' for="player_1_name"> Player name:
      <input type="text" name="player_1_name">
    </label>
  </form>
  <div class="wrapper">
  <button type="submit" form="form1" value="Play"> Play </button>
</div>

<style>
form {
  position: relative;
  text-align: center;
}

input {
  width: 100px;
  border-radius: 15px;
  border: 2px solid #999;
  height: 25px;
}

input:focus {
    outline-width: 0;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

button {
  width: 100px;
  background: #09C;
  color: #fff;
  font-family: 'Comic Sans MS', sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
}

button:hover {
  background: #fff;
  color: #09C;
}

</style>
