<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<h1>Enter Name</h1>
<form action='/play' method='post'>
  <input class="text-input" type="text" name="player" style="padding: 5px 15px"><br><br>
  <button type="submit" style="padding: 5px 10px">Submit name!</button>
</form>
