<html>
  <head>
    <title>Game</title>
  </head>
  <style>
   body {
   font-family: "Raleway", "Helvetica", "Arial", sans-serif;
   text-align: center;
   margin: 50px;
   }
 </style>

  <body style="color: #e0bb16">
    <h1 ><%= @game.player.name %> vs. <%= @game.computer.name %>  </h1>
  </body>
