<div style = 'position: fixed; top: 50%; left: 50%;  margin-top: -50px;
  margin-left: -100px;'>

  <h3>Welcome <%= @name %>, GAME ON</h3>
  <br>
  Pick your weapon:
  <br>
  <table border="0">
    <tr>
      <td><form action='/result' method='post'>
        <button name='choice' value='rock'>Rock</button>
      </form></td>
      <td><form action='result' method='post'>
        <button name='choice' value='paper'>Paper</button>
      </form></td>
      <td><form action='result' method='post'>
        <button name='choice' value='scissors'>Scissors</button>
      </form></td>
      <td><form action='result' method='post'>
        <button name='choice' value='spock'>Spock</button>
      </form></td>
      <td><form action='result' method='post'>
        <button name='choice' value='lizard'>Lizard</button>
      </form></td>
    </tr>
  </table>
</div>
