<head>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Source+Sans+Pro|Bungee|K2D" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<section class="header">
  <h1 id="title"><a href="/">R P S !</a></h1>
  <h4 id="subtitle"> Rock       Paper     Scissors<h4>
</section>
<div id="separator"></div>
