<!-- CHOICE BETWEEN RPS -->
<!-- <a href="http://localhost:9292/game">Rock! </a>

<a href="http://localhost:9292/game">Paper! </a>

<a href="http://localhost:9292/game">Scissors! </a> -->
<!-- <a href="http://localhost:9292/game">See previous choices</a> -->

<!-- # <%= @player.choice_log %> -->

<form action="/match" method="post">
    <input type="hidden" name="choice" value="Rock">
    <input type="submit" value="Rock">
</form>

<form action="/match" method="post">
    <input type="hidden" name="choice" value="Paper">
    <input type="submit" value="Paper">
</form>

<form action="/match" method="post">
    <input type="hidden" name="choice" value="Scissors">
    <input type="submit" value="Scissors">
</form>
