<h2>OK, time to play</h2>

<form action='/game/turn' method="post">
  <input type="radio" name="choice" value="Rock" id = "Rock" checked> Rock
  <input type="radio" name="choice" value="Scissors" id = "Scissors"> Scissors
  <input type="radio" name="choice" value="Paper" id = "Paper"> Paper
  <input type="radio" name="choice" value="Spock" id = "Spock"> Spock
  <input type="radio" name="choice" value="Lizard" id = "Lizard"> Lizard
  <input type="submit" value="Submit">
</form>

<h3> Your last go: <%= @player_turn %> </h3>
<h3> Computer's last go: <%= @CPU_turn %> </h3>

<h3> <%= @message %> </h3>
