<body>
<h1> Welcome <%= @name %>! </h1>
<h2> Choose your player </h2>

<form action='/play'  method='post'>
    <input type='submit' src='rock.png' width="30%" name='ATTACK' value='ROCK'>
    <input type='submit' src='paper.png' width="30%" name='ATTACK' value='PAPER'>
    <input type='submit' src='scissors.png' width="30%" name='ATTACK' value='SCISSORS'>
</form>

</body>
