<h4><%= @game.player_2.player_name%>, please choose rock, paper or scissors</h4>
<form action='/rps2' method="post">
  <input type="submit" name="choice" value="Rock">
  <input type="submit" name="choice" value="Paper">
  <input type="submit" name="choice" value="Scissors">
</form>
