<h1>Select game type</h1>

<form action="/game/create_game" method='post'>

<button type="submit" name="game_type" value="normal"><img src="/images/rps.png"></button>
<button type="submit" name="game_type" value="spock"><img src="/images/rpsls.png"></button>

</form>