<div style='text-align: center; margin-top: 5em;'>
  <h1>Choose your weapon <%=@player%>!</h1>
  <form action='/challenge' method="post" >
    <input type='radio' name='check' id='rock' value='rock'> ROCK!<br />
    <input type='radio' name='check' id='paper' value='paper'> PAPER!<br />
    <input type='radio' name='check' id='scissors' value='scissors'> SCISSORS!<br />
    <br />
    <input type='submit' value='PLAY'>
  </form>
</div>
