<h2 class="text-center"> Hello <%= @name %>, take your pick! </h2>
<div class="text-center"></div>

<br>

<form action="/result" method="post" class="text-center">
    <button type="submit" value="rock" class="btn" name="game"><img src="http://i.imgur.com/jQdSveT.png"></button>
    <button type="submit" value="paper" class="btn" name="game"><img src="http://i.imgur.com/ULm0T4J.png"></button>
    <button type="submit" value="scissors" class="btn" name="game" ><img src="http://i.imgur.com/QhXmBLn.png"></button>
</form>
<div class="text-center"><br><br>
</div>