<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors, Lizard, Spock</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
	<body>
		<h1>Welcome to rock, paper, scissors, lizard, spock  <%= @game.player.name %>!</h1>
		<h2>Choose rock, paper, scissors, lizard, spock:</h2>
		<form class="choice_form" action="/choice" method="post">
			<label for="rock">Rock</label>
			<input id="rock" type="radio" name="choice" value="rock">
			<label for="paper">Paper</label>
			<input id="paper" type="radio" name="choice" value="paper">
			<label for="scissors">Scissors</label>
			<input id="scissors" type="radio" name="choice" value="scissors">
			<label for="lizard">Lizard</label>
			<input id="lizard" type="radio" name="choice" value="lizard">
			<label for="spock">Spock</label>
			<input id="spock" type="radio" name="choice" value="spock">
			<input class="submit_input" type="submit" value="Make your choice!">
		</form>
	</body>
</html>