<h4> Format: </h4> 
Best of @game_type
<%# <% @game_type %>
<br>
<h4> The current scores is: </h4> 
@p1_wins : @p2_wins 
<%# <% @current_score %> </p>
<br>
<%# <h2> <%= @p1_name + ' - make your choice %> </h2>
<h3> Make your choice...</h3>
<form action="/enter_dragon" method="post">
<input class="start_button" type="submit" value="ROCK">
<%# </form> %>
<%# <form action="/enter_dragon" method="post"> %>
<input class="start_button" type="submit" value="PAPER">
<%# </form> %>
<%# <form action="/enter_dragon" method="post"> %>
<input class="start_button" type="submit" value="SCISSORS">
</form>






<br>
<br><br><br>
<img src="https://media.giphy.com/media/E7ClVqqCl8bVS/giphy.gif" >
<br>