<!DOCTYPE html>
<html>

<head>
  <title>Rock, Paper, Scissors</title>
  <style>
    * { box-sizing: border-box; }
    body {
      font-family: sans-serif; font-size: 15px; color: rgb(50, 60, 70);
      width: 700px; margin: 0 auto; background-color: ghostwhite; 
	  }
  </style>

</head>

<body>

  <h2> <%= $game.player_one.name %> vs. <%= $game.player_two.name %> </h2>

  <p> <%= $game.this_turns_player.name %>, please make your choice.</p>

  <form action="/choice" method="post">
    <button name="choice" value="0"><img src="https://cdn2.bulbagarden.net/upload/3/31/Spr_5b_076.png" alt="Golem"></button>
  </form>
  <form action="/choice" method="post">
    <button name="choice" value="1"><img src="https://cdn2.bulbagarden.net/upload/1/19/Spr_5b_103.png" alt="Exeggutor"></button>
  </form>
  <form action="/choice" method="post">
    <button name="choice" value="2"><img src="https://cdn2.bulbagarden.net/upload/2/2c/Spr_5b_123_m.png" alt="Scyther"></button>
  </form>

</body>
</html>