<%=@player_name %> has chosen <%=@player_weapon%>
<p>Machine has chosen <%=@machine_weapon%></p>
<p>
  <% if @game.winner == 'Draw'%>
    It's a draw, play again!
  <% else %>
    <%=@game.winner%> has won
  <% end %>
</p>
<form action="/play" method="get">
    <input type="submit" value="Play Again">
</form>
