<!DOCTYPE html>
<div class="game" id="play">
  
  <p>Choose your weapon</p>
  
  <form method='GET' action='/result'>
    <select name='weapon'>
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">pcissors</option>
    </select>
    <input type="submit" value="Fight!" style="margin-left: 18px"></input>
  </form>

</div>