<h1 align="center">Hello <%=@player_name%>, your opponent is computer!</h1>

<h1 align="center">Select one of rock, scissors or paper</h1>

<h2 align="center">
<a id="rock" href="/rock"><img src="images/rock.jpg" height="80" width="80"></a>
<a id="scissors" href="/scissors">
  <img src="images/scissors.jpg" height="80" width="80"></a>
<a id="paper" href="/paper"><img src="images/paper.jpg" height="80" width="80"></a>
</h2>
