<div>
  Hello <%= @name %>
</div>

<div>
  <form action="/player_choice" method="post">
    <input type="radio" id="Rock" name="player_choice" value="rock"> Rock </br>
    <input type="radio" id="Paper" name="player_choice" value="paper"> Paper </br>
    <input type="radio" id="Scissors" name="player_choice" value="scissors"> Scissors </br>
    <input type="submit" value="Submit">
  </form>
</div>
