<h1><%=@game.player_1.name.upcase%>!</h1>
<h2>Please select your weapon...</h2>
<div class="container">
  <form action="/weapon" method="post">
    <input type="submit" value="Rock" name="weapon">
    <input type="submit" value="Paper" name="weapon">
    <input type="submit" value="Scissors" name="weapon">
  </form>
</div>