<div style="display: table; width: 100%;">
  <div style="text-align: center; color: cadetblue; width: 40%; display: table-cell;">
    <h2>You: <%= @weapon %> </h2>
  </div> 
  <div style="text-align: center; color: cadetblue; width: 20%; display: table-cell;">
    <h2>VS</h2>
  </div>
  <div style="text-align: center; color: chocolate; width: 40%; display: table-cell;">
    <h2>Enemy: weapon </h2>
  </div>
</div>