<div class="container-fluid">
  <div class="row">
    <div class="col-6" id="player_1_wrapper">
      <h2><%= @game.players[:player_1].name %></h2>
      <form class="moves-form" action="/move" method="post">
        <!-- <label class="custom-control custom-radio">
          <input name="p1_choice" type="radio" class="custom-control-input" value="rock">
          <img src="/img/rock.svg" class="custom-control-indicator">
        </label>
        <label class="custom-control custom-radio">
          <input name="p1_choice" type="radio" class="custom-control-input" value="paper">
          <img src="/img/paper.svg" class="custom-control-indicator">
        </label> -->
        <label class="move-label">
          <input name="p1_choice" type="radio" class="hidden-input" value="rock">
          <img src="/img/rock.svg" class="move-icon">
        </label>
        <label class="move-label">
          <input name="p1_choice" type="radio" class="hidden-input" value="paper">
          <img src="/img/paper.svg" class="move-icon">
        </label>
        <label class="move-label">
          <input name="p1_choice" type="radio" class="hidden-input" value="scissors">
          <img src="/img/scissors.svg" class="move-icon">
        </label>
        <label class="move-label">
          <input name="p1_choice" type="radio" class="hidden-input" value="lizard">
          <img src="/img/lizard.svg" class="move-icon">
        </label>
        <label class="move-label">
          <input name="p1_choice" type="radio" class="hidden-input" value="spock">
          <img src="/img/spock.jpg" class="move-icon">
        </label>
      </form>
    </div>
    <div class="col-6" id="player_2_wrapper">
      <h2><%= @game.players[:player_2].name %></h2>
    </div>
  </div>
</div>
