<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="container-fluid">
  <div align="center">
     <p>What's your name?</p>
    </br>
    <form action="/game" method="post">
      <input type="text" name="value">
      </br>
      <button>Submit</button>
    </form>
  </div>
</div>


