<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Player Selection</title>
  <head>

<body bgcolor="#730B2B"; style="text-align: center">
<h1> Hello <%= @name %>, Make your choice? </h1>
<form action="/result" method="get">
<button type="submit" name="player_selection" value="Rock" >Rock</button><br>
<button type="submit" name="player_selection" value="Paper" >Paper</button><br>
<button type="submit" name="player_selection" value="Scissors" >Scissors</button><br>

</form>

</body>
</html>
