<div id="message_holder">
  <% if @player.action.nil? %>
    <h1>
      <center>
        Hello <%=@player.name%>!
      </center>
    </h1>
  <% else %>
    <p>
      <center>You played <%= @player.action %></center>
      <center>They played <%= @computer.action %></center>
    </p>
  <% end %>
</div>

<center>
  <div id="game_holder">

    <div id="rock_holder">
      <form action="/play" method="post">
        <input type="hidden", name="action", value="rock" />
        <input type="submit", value="Rock"  />
      </form>
    </div>

    <div id="paper_holder">
      <form action="/play" method="post">
        <input type="hidden", name="action", value="paper" />
        <input type="submit", value="Paper"  />
      </form>
    </div>

    <div id="scissors_holder">
      <form action="/play" method="post">
        <input type="hidden", name="action", value="scissors" />
        <input type="submit", value="Scissors"  />
      </form>
    </div>

    <div id="lizard_holder">
      <form action="/play" method="post">
        <input type="hidden", name="action", value="lizard" />
        <input type="submit", value="Lizard"  />
      </form>
    </div>

    <div id="spoc_holder">
      <form action="/play" method="post">
        <input type="hidden", name="action", value="spoc" />
        <input type="submit", value="Spoc"  />
      </form>
    </div>

  </div>
</center>
