<center><h1>Welcome <%= @player%></h1>
<h3><%= @player%>: 0 points</h3>
<h3>Rock, Paper... Scissors!</h3>
<h2>
<form action = '/play_rock'>
<input value = 'Rock' type = 'submit'></form>
<form action = '/play_paper'>
<input value = 'Paper' type = 'submit'></form>
<form action = '/play_scissors'>
<input value = 'Scissors' type = 'submit'></form></h2>
<%# <a href='/play_rock'> Rock </a>
<a href='/play_paper'> Paper </a>
<a href='/play_scissors'> Scissors </a> %>
</center>

<style>
input[type=submit] {
    width: 18em;  height: 3em;
}
</style>