<body>

<h1>Welcome, <%= @game.player1.name %>!</h1>
<h2>Please select a move.</h2>
<br><br>
<form action='/moves' method='post'>
<input type='submit' value='Rock' name='move' class='rock'>
<input type='submit' value='Paper' name='move' class='paper'>
<input type='submit' value='Scissors' name='move' class='scissors'>
</form>

</body>