<link href="/css/style.css" rel="stylesheet" type="text/css" />

<div class="title1">
  <h2>Hello, <%= @player_name %>!</h2>
</div>
<div>
  <h2>Choose your weapon!</h2>
</div>
<div class="weapons">
<% @available_weapons.each do |weapon| %>
  <% weapon_name = weapon.to_s %>
    <a href="/play/weapon?weapon=<%= weapon_name %>" id="<%= weapon_name %>"><img class="weapon" src="img/<%= weapon_name %>.png"></a>
<% end %>
</div>