<p>Hello <%= session[:player_name] %>. Let's play Rock, Paper, Scissors</p>
<form action="/result" method="post">
  <input type="image" name="player_weapon" value="rock">
</form>
<form action="/result" method="post">
  <input type="image" name="player_weapon" value="paper">
</form>
<form action="/result" method="post">
  <input type="image" name="player_weapon" value="scissors">
</form>
