<div style='padding-left: 25px; height: 200px; width: 250px; border: 3px solid red'>
  <br>
  Game result:
  <br>
  <br>

  <% if session[:winner_double] == :draw %>
  <%= "Thats a draw!" %>
  <% end %>
  <% if session[:winner_double] == :player_wins %>
  <%= "Player 1 wins!" %>
  <% end %>
  <% if session[:winner_double] == :computer_wins %>
  <%= "Player 2 wins!" %>
  <% end %>

  <form action="/start_game">
    <br>
    <input height="40" src="images/play_again.png" type="image" value="Play Again" width="150">
  </form>
  <form action="/">
    <input height="40" src="images/home.png" type="image" value="Play Again" width="150">
  </form>
</div>
