<h1> <%= @player_one_name %> is <%= @player_one_character %> </h1>

<form action="/game_play_one_player" method="get">
  <label for="fight">
    <button type="submit" id="fight"><strong>F I G H T !</strong></button>
  </label>
</form>
