You chose <%= @weapon %>
<br><br>
Computer chose <%= @computer.choose_weapon %>
<br><br>
<%= @computer.result(@weapon, @choose_weapon) %>
<br><br>
<form action="/play">
  <input type="submit" name="play_again" value="Play Again">
</form>
