<h1><%=@name.upcase%>!</h1>
<h3>Please select your weapon...</h3>
    <form action="/result" method="post">
      <input type="submit" value="Rock" name="weapon">
      <input type="submit" value="Paper" name="weapon">
      <input type="submit" value="Scissors" name="weapon">
    </form>