<div>
<form action="/game" method="post">
  <input type="text" name="element">
  <input type="submit" value="submit">
</form>
  <p>Please type the element you want to choose in the blank space</p>
</div>


