
<p><%= @game.player1.name %> made her choice...</p>

<p><%= @game.player2.name %>, choose even more wisely... </p>

<form action='/set_choice_second_player' method=post>
<input type="submit" value="Rock" name="choice">
<input type="submit" value="Paper" name="choice">
<input type="submit" value="Scissors" name="choice">
</form>
