<form action="/game" id="rps_form" method="post">
  <input type="radio" name="rps" id="rock" value="Rock">Rock
  <input type="radio" name="rps" id="paper" value="Paper">Paper
  <input type="radio" name="rps" id="scissors" value="Scissors">Scissors
  <input type="submit" value="Play">
</form>
