<!DOCTYPE html>
<div class="game" id="play">
  
  <p>Choose your weapon</p>
  
  <form method='POST' action='/result'>
    <select name='weapon'>
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
    
    <form action ='POST'>

      <input type="submit" value="Fight" style="margin-left: 18px"></input>
      
    </form>

  </form>

   

</div>