<h1 class="title is-2"><%= @player_move %> <span class="has-text-danger">vs</span> <%= @computer_move %></h1>
<h1 class="title is-3"><%= @result %></h1>
<a class="button is-link" href="/play">Play again</a>
<a class="button is-danger" href="/">Enter a new name</a>
