<div>
    <h3>You chose <%= "#{@player_choice}" %> and your opponent chose <%= "#{@opponent_choice}" %>.</h3>
    <h3>You <%= "#{@result}!" %></h3>
    <form action='/'>
      <input type='submit' value='Play Again?'>
    </form>
  </div>