<h1><%= @game.player_1_name %> playing CPU!</h1>

<form method='POST' action='/choice'>
    <input type="submit" value="Rock" name="Rock" />
    <input type="submit" value="Paper" name="Paper" />
    <input type="submit" value="Scissors" name="Scissors" />
</form>
