<center>
<h3>
  <%= @game.player_name %> plays: <span class='player-choice'><%= @game.choice %></span> <> Botman plays: <span class='bot-choice'><%= @game.bot_choice %></span>
</h3>

<h2 id='outcome'><%= @game.outcome(@game.choice, @game.bot_choice) %></h2>
<form name='again?' action='/choice'>
  <input type='submit' value='Play again?' class='btn'>
</form>
