<h1>Choose your move and then press Play!<%= %></h1> 

<form action="/choose_rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/choose_paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/choose_scissors" method="post">
  <input type="submit" value="Scissors">
</form>

<form action="/result" method="post">
  <input type="submit" value="play">
</form>
