<p>Hello <%= session[:player_name] %>. Let's play Rock, Paper, Scissors</p>
<form action="/result" method="post">
  <input type="image" name="player_weapon" value="Rock">
</form>
<form action="/result" method="post">
  <input type="image" name="player_weapon" value="Paper">
</form>
<form action="/result" method="post">
  <input type="image" name="player_weapon" value="Scissors">
</form>
