<body style="background-color:lightgrey;font-family:helvetica;">

  <h1>Click play to confirm...Good Luck!</h1></center>


  <center><form action="/result" method="post">
  <input type="submit" value="Play">
  </form></center>

</body>
