<h1><%= @player_one_name %> playing CPU!</h1>

<form method='POST' action='/name'>
    <input type="submit" value="Rock" name="Rock" />
    <input type="submit" value="Paper" name="Paper" />
    <input type="submit" value="Scissors" name="Scissors" />
</form>
