<h1> Player: <% @name %>! </h1>
<form action="/game" method="post">
  click to `rock, paper or scissors` to play a game of rock paper scissors. Good luck!
  <button type="submit" value='rock'> Rock </button>
  <button type="submit" value='paper' > Paper </button>
  <button type="submit" value= 'scissors'> Scissors </button>
</form>