<h1>Please make a selection<h1>
<h3>
  <form action="/result" method="post">
    <question>What would you like to be <%= @player_name %>?</question><br>
    <input id="rock" type="radio" name="weapon_choice" value="rock">Rock<br>
    <input id="paper" type="radio" name="weapon_choice" value="paper">Paper<br>
    <input id="scissors" type="radio" name="weapon_choice" value="scissors">Scissors<br>
    <input type="submit" value="submit" name="submit">
  </form>
</h3>