<h1> Welcome <%= @player_name %>! </h1>

<h2> Please enter your move: rock, paper or scissors </h2>
<form action="/game" method="post">
  <label for="player_move">Move:</label>
  <input type="text" name="player_move">
  <input type="submit" value="Submit">
</form>