<h4> Game: </h4>
Rock, Paper, Scissors 
<h4> Format: </h4> Best of @game_type  <%# <% @game_type %>
<br><br>

<h2><%= @p1_name %> Vs. 
<% if @p2_name %>
<%= @p2_name %></h2>
<% else %> 
<%= 'Rocky McRock Face'%>
<% end  %></h2>

<%# <h4> The current scores is: 
<%= @p1 + ' ' + @p1.points ': ' @p2 + ' ' + @p2.points %> </h4>


<br>
<h2> Make your choice </h2>
<form action="/enter_dragon" method="post">
<input class="start_button" type="submit" value="ROCK">
<input class="start_button" type="submit" value="PAPER">
<input class="start_button" type="submit" value="SCISSORS">
</form>

<br><br><br>
<img src="https://media.giphy.com/media/E7ClVqqCl8bVS/giphy.gif" >
<br>