<div style="background:rgb(254, 228, 232); width: 100%; height: 100%; text-align: center; padding-top: 10%;">
<h1 style="color:rgb(247, 41, 74)">GAME OVER</h1>
<% $wins = 0 %>
<% $wins_p1 = 0 %>
<% $wins_p2 = 0 %>
</div>
