<h1>You have chosen <%=@player_move %><h1>
<h1>Computer has chosen <%=@computer_move %><h1>

<h1>Result: <%=@who_won %><h1>

<form class="" action="/play" method="get">
  <button type="submit" value="play again">play again</button>
</form>
