<h1><%= @game.player_one.name %> vs <%= @game.player_two.name %></h1>

<h2><%= @game.chooser.name %>, choose your weapon!</h2>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="rock">
</form>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="paper">
</form>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="scissors">
</form>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="lizard">
</form>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="spock">
</form>
