<h3>You play: <%= @choice %></h3>
<h3>Computer plays: <%= @computer_choice %></h3>
<% if @winner == @game.player %>
  <h1><%= @game.players_name %> wins! </h1>
<% elsif @winner == "Computer" %>
  <h1>The computer wins!</h1>
<% else %>
  <h1>It's a draw!</h1>
<% end %>