
<body style = "background-image: url('images/rps.jpg'); no-repeat;
background-size: 100%;">
  <div style= "font-size: 40px;";>
    <p> Welcome <%= @name %>! Enjoy your game and good luck!</p>

    <form action="/result">
      Please choose either rock, paper or scissors
      <select name = "choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
        <input type="submit" value="Submit">
      </select>
    </form>
  </div>
</body>


