<!DOCTYPE html>
<html>
<body>

<h1>Player Setup</h1>

<p>Please enter your name</p>

<form method="Post">
  <input type="text" name="playername">
  <input type="submit" value="Submit">
</form>

</body>
</html>