<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>

<style>
body {font-family: 'Rancho';font-size: 40px;}
</style>

<body style="background-color: #C0C0C0;">
<div align="center">
<br>

<h1><%= @player1_name %> chose <%= @weapon %>!</h1>
<h1>Computer chose <b><%= @computer %>!</b></h1>
<h2><%= @rule %></h2>

<form action="/play">
  <button type="submit">Try Again</button>
</form>

</div>

</body>
