<h1>And the results are in!!!</h1>

<div>You chose <%= Game.instance.player_one_selection %><div>
<div>Our supergenious computer chose <%= Game.instance.computer_selection %></div>
<h2><%= Game.instance.winner %> WINS!!!</h2>
