</form>
<h1>Rock, Paper, Scissors</h1>
<h2>Pick one...</h2>
<h3>Rock<h3>
<h3>Paper<h3>
<h3>Scissors<h3>
<form action="/move" method="post">
  <label for="move">
    Player 1 move
    <input type="text" name="move">
  </label>
  <input type="submit" value="Submit">
</form>