<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<%= url('/styles.css') %>">

<h1>
  Welcome <%= session[:Name] %>
</h1>

<h2>
  You are playing against the computer
</h2>

<p>
  <form action="/game" method="post">
  Make your choice
    <input type="submit" name="Choice" value="Rock">
    <input type="submit" name="Choice" value="Paper">
    <input type="submit" name="Choice" value="Scissors">
  </form>
</p>

<h2>
  <a href="/">Homepage</a>
</h2>
