<div style="text-align: center">
  <H1><%= @winner_text %></H1>
  <H3><%= @player1_moves %>, <%= @player2_moves %></H3>
  <H3><%= @winning_move %></H3>
  <form action="/return-to-lobby" method="post">
    <input type="submit" value="Return to lobby">
  </form>
</div>