<h1>Let's begin <%= @name %>!</h1>
<h2>What move would you like to play?</h2>
<form action=/game/rock method=post >
<input type="submit" value="Rock">
</form>

<form action=/game/paper method=post >
<input type="submit" value="Paper">
</form>

<form action=/game/scissors method=post >
<input type="submit" value="Scissors">
</form>
