<h1 style='font-family: Comic Sans MS, cursive, sans-serif'> <%= @player_1 %> - Choose Wisely... </h1>


<form action='/result' method='post'>
<input style='color: red;height :100px; width: 100px' type='submit' value='Rock' name='choice'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Paper' name ='choice'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Scissors' name='choice'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Lizard' name='choice'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Spock' name='choice'>
</form>