<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors | Game Over</title>
  </head>
  
  <body>
    <h1>Game over</h1>
    <h2><%= @winner %> wins!</h2>
    <button type="button">Play again</button>
  </body>
</html>
