<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body> 
        <div>   
            <h2> choice rock, paper, or scisors </h2>
                <div>
                <form action='/play_game' method='post'> 
                    <input type='submit' value='Rock' name='choice'> 
                    <input type='submit' value='Paper' name='choice'> 
                    <input type='submit' value='Scissors' name='choice'>
                </form>
            <div> 
        <div>
    </body>
</html>