<h2><%=@name%></h2>

<% unless @message.nil? %>
<p>You selected: <%= @message %></p>
<p>Computer chose: <%= @computer_choice %></p>
<p>Marketeer wins!</p>
<% end %>

<form action='/move' method='post'>
  <input type='submit' name='move' value='Rock'>
  <input type='submit' name='move' value='Paper'>
  <input type='submit' name='move' value='Scissors'>
</form>
