<h1 style="text-align:center;">Rock, Paper, Scissors!</h1>
<h2><%= @game.player_1.name %> chose: <%= @game.player_1.move %></h2>
<h2><%= @game.player_2.name %> chose: <%= @game.player_2.player_2_move %></h2>
