<html>
  <body>
    <center>
    <h1> Hello <%= @game.player.name %>, what's your move? <h1>
    <form action='/move' method='post'>
    <p> please enter 'rock', 'paper' or 'scissors' <p>
    <input type='text' name='move'>
    <input type='submit' name='Start'>
    <!-- <button name='rock' type='submit' value='rock'>rock</button>
    <button name='paper' type='submit' value='paper'>paper</button>
    <button name='scissors' type='submit' value='scissors'>scissors</button> -->
    </form>
    <center>
  </body>
</html>
