<style>
* {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
 color: white; 
 text-align: center;
}

body {background-color: orange;}
</style>

<h1> <%= @name1 %> vs <%= @name2 %>! </h1>
<h2> <%= $game.current_player?.name %>, it's your turn! </h2>


