<h3 class="text-center"> Hello <% @player_name %>, pick your flavour ! </h3>
<div class="text-center"></div>

<% 2.times do %><br><% end%>

<form action="/result" method="post" class="text-center">

    <button type="submit" value="rock" class="btn btn-primary" name="game">Rock</button>
    <button type="submit" value="paper" class="btn btn-danger" name="game">Paper</button>
    <button type="submit" value="scissors" class="btn btn-primary" name="game">Scissors</button>
</form>