<h3 class="text-center"> Hello <%= @name %>, pick your flavour ! </h3>
<div class="text-center"></div>

<% 2.times do %><br><% end%>

<form action="/result" method="post" class="text-center">
    <button type="submit" value="rock" class="btn" name="game"><img src="http://i.imgur.com/Wu4kvGl.png"></button>
    <button type="submit" value="paper" class="btn" name="game"><img src="http://i.imgur.com/FBEVd9w.png"></button>
    <button type="submit" value="scissors" class="btn" name="game"><img src="http://i.imgur.com/xayRhG6.png"></button>
</form>
<div class="text-center"><br><br>
</div>