<h2>Welcome to Makers RPS, <%= @player1_name %></h2>

<form action="/run_game" method="post">
<input type="submit" name="weapon" value="rock">
<input type="submit" name="weapon" value="paper">
<input type="submit" name="weapon" value="scissors">
</form>
