<h1>Rock - Paper - Scissor</h1>
<h2>Enter your name</h2>

 <form action="/" method="post">
   <input type="text" name="Player">
   <!-- <input type="text" name="player_2_name"> -->
   <input type="submit" value="Submit">
 </form>
