<style>
  body {
    text-align: center;
    font-family: "Arial";
    background-color: Turquoise ;
    color: rgb(60,60,60);
    font-size: 20px;
  }
  h1 {
    font-size: 50px;
    margin-top: 50px;
    color: Tomato;
  }
  input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>

<h1><%=@player%> chose <%=@choice%></h1>
