<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Teko|Fredericka+the+Great|Lobster" rel="stylesheet">

<style>

</style>

<html>
  <body>
    <div>
    <%= @game.a.name %> vs. <%= @game.b.name %>
  </div>
    <a href="/rock" class="btn btn-default" value='ROCK'>ROCK</a>
  </body>
</html>
