<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
 
<style>
  .content { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 400px;
    align-items: center;
  }
</style>
<body style="background-color: rgba(111, 93, 159, 0.32)">

<div class="content">

<h1><%= $game.determine_winner %></h1>
<br/>

<a href="/play">
  <button class="btn btn-default">Play Again</button>
</a>
<br></br>
<a href="/">
  <button class="btn btn-default">New Game</button>
</a>
</div>

</body> 