<center>
<h3>
  <%= @name %> plays: <span class='player-choice'><%= @choice %></span> <> Botman plays: <span class='bot-choice'><%= @bot_choice %></span>
</h3>

<h2 id='outcome'><%= @outcome %></h2>
<form name='again?' action='/choice'>
  <input type='submit' value='Play again?' class='btn'>
</form>
