<link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
<h1>ROCK PAPER SCISSORS!</h1>
<p>Choose: Rock, Paper or Scissors?</p>
<form action="/choices">
  <input type="radio" name="choice" value="Rock">Rock<br>
  <input type="radio" name="choice" value="Paper">Paper<br>
  <input type="radio" name="choice" value="Scissors">Scissors<br>
  <input type="submit" value="Submit">
</form>
