<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
  <div class="container">
    <h1 class="title">
      <%= $player.name %>
    </h1>
    <p class="subtitle">
      chose <strong><%= $player.chosen_option %></strong>
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">
      I
    </h1>
    <p class="subtitle">
      chose <strong>$game.computer</strong>!
    </p>
    <p class="subtitle">
      <strong>You win</strong>!
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
    <figure class="image is-128x128">
      <img src='/images/RockPaperScissors.png'>
    </figure>
  </div>
</section>
</body>
</html>
