<h1> Welcome, <%=@player_name%>! <h1>

<form action = '/play', method = 'post'>
  <input type = "submit", value = "ROCK">
</form>

<form action = '/play', method = 'post'>
  <input type = "submit", value = "PAPER">
</form>

<form action = '/play', method = 'post'>
  <input type = "submit", value = "SCISSORS">
</form>
