<h1> <%= @player_one_name %> is <%= @player_one_character %> </h1>

<form action="/game_one_player" method="get">
  <label for="start">
    <button type="submit" id="start"><strong>S T A R T !</strong></button>
  </label>
</form>
