<div>

<h1> Let's play <%= @name1 %> vs. <%= @name2 %> !</h1>

<form action="/result" method="post">
  Player1:
  <input type="password" name="choice1">
  Player2:
  <input type="password" name="choice2">
  <input type="submit" value="Play">
</form>

</div>
