Hello, <%=@name %>
<br><br>
Let's play Rock/Paper/Scissors!
<br><br>
Select one of the images below
<br><br>
<a href="/cpu"><img src="images/rps_image.jpg" alt="rps_image" height="273" width="504" /></a>

