<!DOCTYPE html>
<html>
<head> </head>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body style="background-color:lightgrey;font-family:helvetica;">

  <h1>Click play to confirm...Good Luck!</h1></center>


  <center><form action="/result" method="post">
  <input type="submit" value="Play">
  </form></center>

</body>
</html>
