<center>
  <body bgcolor='yellow'>
<html style='font-family: futura;'>
<style>
a:link    {color:#FFFFFF; background-color:transparent; text-decoration:none; font-size:42}
a:visited {color:#FFFFFF; background-color:transparent; text-decoration:none; font-size:42}
a:hover   {color:#ff0066; background-color:transparent; text-decoration:none; font-size:42}
a:active  {color:#FFFFFF; background-color:transparent; text-decoration:none; font-size:42}
</style>
<a href='/' size=40>R     |     P    |     S</a>
<h1>GAME OVER</h1>
<p size=100></p>
<h1 style="color:#ff33cc"><%=@game.match_winner%> Wins the match</h1>

</html>
