<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css">
     </head>
  <body>

    <h1> Hello! </h1>
    <h2> Welcombe to Rock, Paper, Scissors! </h2>
    <form action='/player' method='post'>
      <label for='name'>Enter your name:</label>
      <input type='text' id='name' name='player_name'>
      <div class='button'>
        <button type='submit'>Play!</button>
        </div>
      </form>

  </body>
</html>
