<h1>Rock paper scissors!</h1>

<p> Name: <%= @name %> </p>

<form action="/choice" method = "post">

<input type='submit' value='scissors' name="choice">

<input type='submit' value='rock' name="choice">

<input type='submit' value='paper' name="choice">

</form>
