<div style="margin:0 auto" align=center>
  Choose game
  <form action="/singleplayer" method="get">
    <input type="submit" value="Single player">
  </form>
  <form action="/multiplayer" method="get">
    <input type="submit" value="Multiplayer">
  </form>
</div>
