<h1>Player: <%= @name.capitalize %></h1>
<center><h1>Rock paper scissors?</h1>
<form action="/outcome" method="post">
  <input type="text" name="user_input">
<center><input type="submit" value="Submit"></center>
</center></form>
<center><img src="https://media.istockphoto.com/vectors/rock-paper-scissors-vector-illustration-vector-id824700882?k=6&m=824700882&s=612x612&w=0&h=1suqNu6Q8hEiFwkxmb6NX6eOXnorydHHb5Y0EPjZY1M="></center>
