<body style="background-color:orange;">
  <head>
    <title>RPS Challenge Lets Play!</title>
  <head>
  <h1> <%=@name%> please click on one of the following buttons: Rock, Paper, Scissors <h1>
    <form action="/game" method="post"
  </label>
    <input type="submit" name="player_choice" value="Rock">
  </label>
    <input type="submit" name="player_choice" value="Paper">
  </label>
    <input type="submit" name="player_choice" value="Scissors">
  </form>
</body>
