<%= $player.name %> vs. Computer <br>

<%= $player.name %> chose <%=$player.player_choice%> <br>
Computer chose <%=$computer.computer_choice%>

<form action='/show-results'>
  <input type='submit' value='Show results'>
</form>