<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
    <form id='game'action='/welcome'>
      <h2>Hi <%= @player %>! Please make a move</h2>
      <%= @player %>
    </form>
    </section>
  </body>
</html>