<h1> <%=@player_1_name%>: Choose your hand</h1>
<h2> Rock, Paper or Scissors</h2>

<form>
<input type="submit" value="Rock">
<input type="submit" value="Paper">
<input type="submit" value="Scissors">
</form>