<h1><%=@game.player1.name%> vs Computer</h1>
<h2>Rock Paper Scissors, FIGHT!!</h2>
<form action="/result" method="post">
  Enter name: <br>
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>