<section class="page">
  <br><br>
  You chose <%= @game.player.player_weapon(@player_weapon) %>
  <br><br>
  Computer chose <%= @game.computer.choose_weapon %>
  <br><br>
  <%= @result %>

  <br><br>
  <form action="/play">
    <input type="submit" name="play_again" value="Play Again">
  </form>
</section>
