<form action="/result" method='post'>
  <p style="font-family: calibri">Choose your hand:</p>
  <input type="radio" name="choice" value="rock">rock
  <input type="radio" name="choice" value="paper">paper
  <input type="radio" name="choice" value="scissors">scissors
  <input type="submit" value="submit">
</form>
