<center>
<div><font size='30'>Let's go, <%= @name %>!</font></div>
<div> </div>
<div><a href='/rock'>Rock</a></div>
<div><a href='/paper'>Paper</a></div>
<div><a href='/scissors'>Scissors</a></div>
<div><a href='/lizard'>Lizard</a></div>
<div><a href='/spock'>Spock</a></div>
</center>
