Choose Hand:
<form method="post">
  <select name="hand">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>


<a href="/play_single">PLAY</a>
</div>
