<form action="/" method="get">
<body>
    <h1><%= @winner %></h1>
    <input type="submit">
    
</body>
</form>
<img src='https://imgur.com/ZvT2bXn.png' style='border:2px; min-width: 200px; min-height:200px'>

