<!DOCTYPE html>
<html>
  <head>
    <title>RPS-Game</title>
  </head>
  <body>
    <div>
      <form action='/result' method="post">
        <input type="submit" value="Rock">
        <input type="submit" value="Paper">
        <input type="submit" value="Scissors">
    </div>
  </body>
</html>
