<h2><%= @player_1_name %> - Select a move - rock, paper or scissors</h2>
<select>
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>
<form action="/gameresult" method="get">
<input type="submit" value="Submit">
</form>
