<div id='player_name'>PREPARE TO BE DESTROYED, <%= @player_name %>!</div>
<form action="/play" method="post" id="move_options">
  <div>Make your move...AND BE CRUSHED BY THE WEIGHT OF YOUR OWN INADEQUACY!</div>
  <input type="radio" name="rock"> Rock<br>
  <input type="radio" name="paper"> Paper<br>
  <input type="radio" name="scissors"> Scissors<br>
</form>