<link rel="stylesheet" type="text/css" href="style.css">
<body background="./images/bg.jpg">
<div class="container">
  <div class='form'>
<h1><%= @result %></h1>
<br><br>
  <a href='/play'>Try again?</a>
  <a href='/'>Restart</a>
</div>
</div>
</body>
