<link rel='stylesheet' href='css/styles.css'>

<div class="container">
  <h1>Welcome.</h1>

  <h2>Your name is: <%= @name %>.</h2>

  <p>Choose your weapon:</p>

  <div class="padder">
    <a href="/result?weapon=Rock"><button class="rps-button">Rock</button></a>
    <a href="/result?weapon=Paper"><button class="rps-button">Paper</button></a>
    <a href="/result?weapon=Scissors"><button class="rps-button">Scissors</button></a>
  </div>
</div>
