<link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
<h1>ROCK PAPER SCISSORS!</h1>
<p>Choose: Rock, Paper or Scissors?</p>
<form action="/choices">
  <select name="choice">
    <option value="ROCK">Rock</option>
    <option value="PAPER">Paper</option>
    <option value="SCISSORS">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
