<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>

<body>
  <div>
    <h1><%= @name1 %> vs <%= @name2 %></h1>
    <p>It's currently <%= @name1 %>'s turn</p>
    <p>What move would you like to play?</p>
    <form action=/game2names method=post >
    <input name='move1' type="submit" value="rock">
    <input name='move1' type="submit" value="paper">
    <input name='move1' type="submit" value="scissors">
    </form>
  </div>
</body>
