<%= @winner %>
<form action="play_again" method="post">
  <input type="submit" name="play_again" value="Play again">
</form>
<form action="/" method="get">
  <input type="submit" value="New Game">
</form>
