<%= @player_name %> vs. Computer <br>

<%= @player_name %> chose <%=@player_choice%>
Computer chose <%=@computer_choice%>

<form action='/show-results'>
  <input type='submit' value='Show results'>
</form>