<center><h1>Please choose one of the options.</h1></center>
<center><form action="/outcome" method="post">
  <input type="submit" name ="decision" value="Rock">
  <input type="submit" name ="decision" value="Paper">
  <input type="submit" name ="decision" value="Scissors">
</form></center>
