<header><h1>What's your weapon of choice, <%= @player.name %>?</h1></header>

<section>

<a href="/outcome?weapon=Rock" class="links"><img src="/images/rock.png"><br/>Rock</a>
<a href="/outcome?weapon=Paper"><img src="/images/paper.png"><br/>Paper</a>
<a href="/outcome?weapon=Scissors"><img src="/images/scissors.png"><br/>Scissors</a>
</section>