<form action="/choices" method="post">
    <input type="submit" name="player_choice" value="Rock" />
</form>
<form action="/choices" method="post">
    <input type="submit" name="player_choice" value="Paper" />
</form>
<form action="/choices" method="post">
    <input type="submit" name="player_choice" value="Scissors" />
</form>