<!DOCTYPE>
<html>
  <p>Alright, <%= @player.player1 %>, what will it be?



  <form action="/rock" method="get">
    <input name="Rock" type="submit" value="Rock">
  </form>

  <form action="/paper" method="get">
    <input name="Paper" type="submit" value="Paper">
  </form>

  <form action="/scissors" method="get">
    <input name = "Scissors" type="submit" value="Scissors">
  </form>

</html>
