<h1 style='text-align:center'>Game over!!</h1>
<h1 style='text-align:center'>You chose <%= @move %>!!</h1>
<h2 style='text-align:center'>Computer chose <%= @computer_move %>!!</h2>
<h2 style='text-align:center'><%= $game.result %></h2>
<form action='/play'>
  <input type='submit' value='Play again?' />
</form>
