<style>
* {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
 color: red; 
 text-align: center;
}

body {background-color: orange;}
</style>

<h1> <%= @name1 %> vs <%= @name2 %>! </h1>
<h2> <%= $current_player.name %>, it's your turn! </h2>


<form action="/calc" method="post">
<input type="radio" id="r" name="choice" value="rock">Rock!<br> 
<input type="radio" id="p" name="choice" value="paper">Paper!<br>
<input type="radio" id="s" name="choice" value="scissors">Scissors!<br>
<div>
<button type="submit">Submit</button>
</div>
</form>