Hello, <%= @round.name %>!

<form method="POST" action="/game">
  <input type="submit" name="shape" value="Rock" />
  <input type="submit" name="shape" value="Paper" />
  <input type="submit" name="shape" value="Scissors" />
</form>

  You chose <%= @round.shape.to_s.capitalize %>!

<div id="opponent">
  The other player chose <%= @round.opposition_shape.to_s.capitalize %>!
</div>
