<h1>Welcome to the game, <%= $player_1.name %>!</h1>
<br>
<h2>Choose an attack:</h2>
<br>
<form action="/attack">
  <button type="submit" value="Rock">Rock</button>
  <button type="submit" value="Paper">Paper</button>
  <button type="submit" value="Scissors">Scissors</button>
</form>
