<!DOCTYPE html>
<html>
<style>
body  { background-image: url("/images/background.jpeg"); }
</style>
<body>

<h1 style="background-color:White">Player Setup</h1>

<p>Please enter your name</p>

<form method="Post">
  <input type="text" name="playername">
  <input type="submit" value="Submit">
</form>

</body>
</html>