<body>

<h1>Welcome, <%= @name =>!</h1>
<h2>Please select a move.</h2>

<form action='/result' method='post'>
<input type='submit' value='Rock' name='move'>
<input type='submit' value='Paper' name='move'>
<input type='submit' value='Scissors' name='move'>
</form>

</body>