<h1>Welcome to Rock, Paper, Scissors, <%= @player_name %>!</h1>
<h2>Please choose an option.</h2>
<section id="player-selection">
<form action="/choice" method="post">
  <input type="submit" name="player_selection" value="Rock">
  <input type="submit" name="player_selection" value="Paper">
  <input type="submit" name="player_selection" value="Scissors">
</form>
