<!DOCTYPE html>
<html>
  <head>
    <!-- <link href='/style.css' rel="stylesheet" type="text/css" /> -->
  </head>
  <body>
    <h1>Welcome, <%=@game.player.name%></h1>
    <h2>To begin the game, please select a weapon</h2>
    <form action="/play" method="post">
      <button type="submit" name="player_choice" value=rock>Rock</button>
      <button type="submit" name="player_choice" value=paper>Paper</button>
      <button type="submit" name="player_choice" value=scissors>Scissors</button>
    </form>
  </body>
</html>
