<head>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<section class="header">
  <h1 id="title">R P S !</h1>
  <h4 id="subtitle">Rock         Paper       Scissors<h4>
</section>
<div id="separator"></div>
