Welcome!

Rock, paper or scissors... You decide!

<form action '/game' method='get'>
  <button type="submit" name="choice" value='rock'><img src="http://img2.wikia.nocookie.net/__cb20141120133208/epicrapbattlesofhistory/images/4/4b/A_Rock!.gif"></button>
  <button type="submit" name="choice" value='paper'><img src="http://fc05.deviantart.net/fs48/f/2009/194/f/6/Hi_Res_Lined_Paper_Texture_by_merileekitty.jpg"></button>
  <button type="submit" name="choice" value='scissors'><img src="http://polished.tv/wp-content/uploads/2014/12/scisor.jpg"></button>
</form>


