<head>
  <style>
    h1, body {
      display: flex;
      text-align: center;
      align-items: center;
      color: #ffffff;
      flex-direction: column;
    }

    body {
      background-image: url('https://inhdw.com/wallpaper/8/skull-and-bones-pirate-battle-814.jpg');
      background-color: #222;
    }
  </style>
</head>

<body>
  <h1> Te llamas <%= @player_one %> </h1>
  <h3> Choose your weapon!</h3>

  <form action="/end" method="post">
    <select name="choose">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</body>
