<!DOCTYPE html>
<html>

<head>
  <title>Arena</title>
  <style>
    * { box-sizing: border-box; }
    body {
      font-family: sans-serif; font-size: 15px; color: rgb(50, 60, 70);
      width: 700px; margin: 0 auto; background-color: ghostwhite; 
	  }
    .arena {
      width: 55%;
      font-size: 18px; text-align: center;
      padding: 8px 10px 20px; margin: 15% auto;
      background-color: rgba(175, 238, 238, 0.5);
      border-style: solid; border-width: 2px; border-radius: 5px; border-color: rgba(0,0,0,0.25);
    }
  </style>

</head>

<body>

  <h2> <%= $game.player_one.name %> vs. <%= $game.player_two.name %> </h2>

  <p> <%= $game.this_turns_player.name %>, please make your choice.</p>

  <form action="/choice" method="post">
    <button name="choice" value="0"><img src="https://cdn2.bulbagarden.net/upload/3/31/Spr_5b_076.png" alt="Golem"></button>
  </form>
  <form action="/choice" method="post">
    <button name="choice" value="1"><img src="https://cdn2.bulbagarden.net/upload/1/19/Spr_5b_103.png" alt="Exeggutor"></button>
  </form>
  <form action="/choice" method="post">
    <button name="choice" value="2"><img src="https://cdn2.bulbagarden.net/upload/2/2c/Spr_5b_123_m.png" alt="Scyther"></button>
  </form>
  <form action="/choice" method="post">
    <button name="choice" value="3"><img src="https://cdn2.bulbagarden.net/upload/b/b1/Spr_5b_127.png" alt="Pinsir"></button>
  </form>
  <form action="/choice" method="post">
    <button name="choice" value="4"><img src="https://cdn2.bulbagarden.net/upload/e/e1/Spr_5b2_080.png" alt="Slowbro"></button>
  </form>

</body>
</html>