<h1>Rock, Paper, Scissors</h1>
<h2><%= @name %> vs. computer</h2>

<form method="post" action="/take_go">
    <input name="go_choice" type="submit" value="rock">
    <input name="go_choice" type="submit" value="paper">
    <input name="go_choice" type="submit" value="scissors">
</form>