<!DOCTYPE html>
<html>
<body>


<h2><%= @player_1 %></h2>

<h4>Choose your attack:</h4>
<h4>Rock, Paper or Scissors</h4>

<form action = "/attack" method="post">
  <select name="move">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>

</body>
</html>
