<section<h1>Hey <%= @name %>! Welcome to the Rock Paper Scissors game! Pick your strategy!</h1></section>
<br>
<br>
<form action="/outcome" method="post">
	<button type="submit" value="rock" name="rock"><img src='/images/rock.png'><button>
	<button type="submit" value="paper" name="paper"><img src='/images/paper.png'><button>
	<button type="submit" value="scissors" name="scissors"><img src='/images/scissors.png'><button>
</form>
