<html>
  <body>
    <h1>Make Your Choice</h1>
    <form action='/player1-selection' method='get'>
      <input type='submit' value='Player 1 Choice'>
    </form>
    <% unless @game.players[1].computer? %>
    <form action='/player2-selection' method='get'>
      <input type='submit' value='Player 2 Choice'>
    </form>
    <% end %>
  </body>
</html>
