<%= @player_name %>, are you ready to play?<br>
<form action="/game-summary" method="post">
<button name='scissors'> Scissors </button><br>
<button name='paper'> Paper </button><br>
<button name='stone'> Stone </button><br>
</form>