<center>
  <h2><%= @player_name %> vs. The Computer</h2>
  <h4>Choose one!</h4>
  <form action='/result' method='post'>
    <button name="choice" value="rock">Rock</button>
    <button name="choice" value="paper">Paper</button>
    <button name="choice" value="scissors">Scissors</button>
  </form>
</center>