<div class="container-fluid">
  <div class="row">
    <div class="col-6" id="player_1_wrapper">
      <h2><%= @game.players[:player_1].name %></h2>
    </div>
    <div class="col-6" id="player_2_wrapper">
      <h2><%= @game.players[:player_2].name %></h2>
    </div>
  </div>
</div>
