<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: '#f1f1f1';
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
</div>

</body>
</html>

<center>
  <h1>Player: <%= @name.capitalize %></h1>
  <h1>--------------------------------</h1>
  <h1>Rock paper scissors?</h1>
<form action="/outcome" method="post">
<center>
  <input type="submit" name="user_input" value="rock" style="height:200; width:200px; font-size:50px">
  <input type="submit" name="user_input" value="paper" style="height:100px; width:200px; font-size:50px">
  <input type="submit" name="user_input" value="scissors" style="height:100px; width:200px; font-size:50px">
</center></form>
<center><img src="https://media.istockphoto.com/vectors/rock-paper-scissors-vector-illustration-vector-id824700882?k=6&m=824700882&s=612x612&w=0&h=1suqNu6Q8hEiFwkxmb6NX6eOXnorydHHb5Y0EPjZY1M="></center>
