<html>
    <body style="background-color:rgb(77, 196, 71)">
        <h1><center>Lets play, <%=@player_1%></center></h1>
        <h3>Choose your move:</h3>
          <form action="/rock" method="get">
            <input type="submit" value="Rock">
          </form><br>
          <form action="/paper" method="get">
            <input type="submit" value="Paper">
          </form><br>
          <form action="/scissors" method="get">
            <input type="submit" value="Scissors">
          </form>
    </body>
</html>