<form action="/game" method="post">
      <input type="radio" name="selection" value="rock" checked>Rock
      <br>
      <input type="radio" name="selection" value="paper">Paper
      <br>
      <input type="radio" name="selection" value="scissors">Scissors
      <br>
     <input type="submit" value="PLAY">
</form>
