<!DOCTYPE html>
<html>
  <body>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <h2>You chose: <%= @play_option %>
    <br>
    <br>
    Computer chose: <%= @computer %></h2>
  </body>

</html>