<style>
* {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
 color: white; 
 text-align: center;
}

body {background-color: orange;}
</style>

<h1> <%= @name1 %> vs <%= @name2 %>! </h1>
<h2> <%= $game.current_player?.name %>, it's your turn! </h2>


<form action="/calc" method="post">
<input type="radio" name="rock" value="rock">Rock!<br> 
<input type="radio" name="paper" value="paper">Paper!<br>
<input type="radio" name="scissors" value="scissors">Scissors!<br>
<div>
<button type="submit">Submit</button>
</div>
</form>