<p>Player 1: <%= @player_1_name %></p>
<br></br>
<form action="/selection" method="post">
    Choose rock, paper or scissors
    <option value="rock">Rock</option>
    <option value="papers">Paper</option>
    <option value="scissors">Scissors</option>
</form>
