<!-- CHOICE BETWEEN RPS -->
<a href="http://localhost:9292/game">Rock! <%= @player.choice_log << 'Rock' %></a>
<a href="http://localhost:9292/game">Paper! <%= @player.choice_log << 'Paper' %></a>
<a href="http://localhost:9292/game">Scissors! <%= @player.choice_log << 'Scissors' %></a>
<br>
<a href="http://localhost:9292/game">See previous choices</a>
<%= @player.choice_log %>
