<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors | Game Over</title>
  </head>

  <body>
    <h1><%= @winner %> wins!</h1>
    <h2>Game over</h2>
    <button type="button">Play again</button>
  </body>
</html>
