<table style="width:100%">
  <tr>
    <td><img src="images/cartoon_rock.jpg" alt="Rock" width="75" height="75"></td>
    <td><img src="images/Paper.jpg" alt="Paper" width="75" height="75"></td> 
    <td><img src="images/Scissors.jpg" alt="Scissors" width="75" height="75"></td>
  </tr>
</table>
