Choose your weapon</>

<button type="button">ROCK</button>
<button type="button">PAPER</button>
<button type="button">SCISSORS</button>
<%# <label for="rock">ROCK</label>
<input type="Radio" id="rock" name="weapon" value="r">
<label for="paper">PAPER</label>
<input type="Radio" id="paper" name="weapon" value="p">
<label for="scissors">SCISSORS</label>
<input type="Radio" id="scissors" name="weapon" value="s"> %>
