<style> 
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 24px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text], select, textarea{
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<center>
<body style="background-color:grey;">
<h1>You picked <%=@player_weapon%>!</h1>
<h1>Your opponent picked <%=@computer_weapon%>!</h1>

<h2>And the result is...</h2>
<h1><strong><%= @result %></strong> </h1>
<img src="https://media3.giphy.com/media/JQAXhJMw2WbKWYjn8g/giphy.gif">
<br>
<form action="/play">
<input type="submit" value="Play again?">
</center>


