<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h1> Choose Rock, Paper or Scissors, <%= $name %>!<h1>


<a href="/rock" id="r"><img class="rps" src="rock.png"></a>

<a href="/paper" id="p"><img class="rps" src="paper.jpg"></a>

<a href="/scissors" id="s"><img class="rps" src="scissors.png"></a>