<h1>Let's play, <%=@game.player1.name%>!<h1>
<h2>Select your hand</h2>
<form action="/result" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
</form>
