<h1>Player 1 - <%= @name %></h1>
<h3>vs.</h3>
<h1>Player 2 - Deep Thought</h1>

<h2>Choose your move:</h2>
<p>
<button type="submit" name="rock">Rock</button>
<button type="submit" name="paper">Paper</button>
<button type="submit" name="scissor">Scissors</button>
</p>