<html>
<head></head>
  <body>
    <h1>Pick your weapon</h1>
    <form action='/game' method="post">
    <input type="text" name="name" id="submit" required>
    <input type="submit" name="weapon" value="rock" id="submit" checked/>
    <input type="submit" name="weapon" value="paper" id="submit"/>
    <input type="submit" name="weapon" value="scissors" id="submit" />
    </form>
  </body>