<h1> Hey <%= $game.player.name %> !</h1>
<h2> Choose your weapon </h2>

<div>
<form action='/rock' method='post'>
<input type="submit" value="Rock"></input>
</form>

<form action='/paper' method='post'>
<input type="submit" value="Paper"></input>
</form>

<form action='/scissors' method='post'>
<input type="submit" value="Scissors"></input>
</form>
</div>
