<h4>Make your choice <%= @name %> player!</h4>
<form action="/result">

  <button type="submit" value="scissors" name="choice" style="border: 1; background: transparent">
    <img src='http://i229.photobucket.com/albums/ee140/annemarie04/i-run-with-scissors.gif', width="100" height="100" alt="submit" />
  </button>
  <button type="submit" value="rock" name="choice" style="border: 1; background: transparent">
    <img src='http://www.klandscapes.com/product_images/m/687/Stepping-Stone-Granite-Grey__76574_zoom.jpg', width="100" height="100" alt="submit" />
  </button>
  <button type="submit" value="paper" name="choice" style="border: 1; background: transparent">
    <img src='http://www.soupehe.com/images/lovely-bathroom-paper-4-tissue-toilet-paper-roll-1012-x-965.jpg', width="100" height="100" alt="submit" />
  </button>
</form>
