<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
    <form id='game' action='/move' method='post'>
      <br>
      <br>
      <h2>Hi <%= @game.player_move.name %>! Please make a move</h2>
      <section id='moves'>
        <br>
        <input type='submit' name='move' value='rock' alt='Submit Rock Move'/>
        <input type='submit' name='move' value='paper' alt='Submit Paper Move'/>
        <input type='submit' name='move' value='scissors' alt='Submit Scissor Move'/>
      </section>
      <h3>Choose wisely...</h3>
    </form>
    </section>
  </body>
</html>