<h1>Player: <%=@name%></h1>
<h2>Score: <%=@score%></h2>

<h1>Computer: <%=@cpu_name%></h1>
<h2>Score: <%=@cpu_score%></h2>

<h2>An epic battle awaits! What will you do?</h2>
  <form action='/game_page' method='post'>
    <label for="ROCK"> ROCK</label>
    <input type="radio" name="pick" value="ROCK" checked> <br>
    <label for="PAPER"> PAPER</label>
    <input type="radio" name="pick" value="PAPER"> <br>
    <label for="SCISSORS"> SCISSORS</label>
    <input type="radio" name="pick" value="SCISSORS"> <br>
    <input type='submit' value='I AM READY!' method='post'>
  </form>