<h1>Hello <%= @visitor %>, welcome to Rock, Paper, Scissors!</h1>

<form method="post">
  Now select an option!
  <select name="option">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input value="Throw!" type="submit">
</form>


<% if params[:option] != nil %>
  You threw <%= params[:option] %>!
  Computer threw <%=@computer_move %>!
<% end %>

<% case %>
<% when @result == 'player 1' %>
  You win!
<% when @result == 'draw' %>
  Draw!
<% when @result == 'player 2' %>
  Computer wins!
<% end %>

<!-- ^Should all this logic be in the controller? -->
