
  <center>
      <p><h2>Greetings, <%= @player.name %></h2></p>

      <p><h3>Choose your weapon</h3></p>

      <form action="/outcome" method="post">
        <button name="Rock">Rock</button>
        <button name="Paper">Paper</button>
        <button name="Scissors">Scissors</button>
      </form>
  </center>
