<section class="page" id="result">
  <br><br>
  You chose <%= @game.player.player_weapon(@player_weapon) %>...
  <br><br>
  Computer chose <%= @game.computer.choose_weapon %>...
  <br><br>
  You <%= @result %>!

  <br><br>
  <form action="/play">
    <input class="btn btn-success" type="submit" name="play_again" value="Play Again">
  </form>
</section>
