<!DOCTYPE html>
<html>

<style>
body {background-color: #33bbff; font-family:verdana; text-align: center;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>

<body class="center">
<h1>Hi <%= @name %>!</h1>
<h1>Choose a move:</h1>
<div style="display: flex;">
<form action="/rock" method="post">
<input type="image" src="/images/Rock.png" name="rock" height=200>
</form>
<form action="/paper" method="post">
<input type="image" src="/images/Paper.png" name="paper" height=200>
</form>
<form action="/scissors" method="post">
<input type="image" src="/images/Scissors.png" name="scissors" height=200>
</form>
</div>
<div>
<h4>Rules:</h4>
<p>Rock beats Scissors<br>
Scissors beats Paper<br>
Paper beats Rock</p>
</div>
</body>

</html>