<div>
  <h3><%= session[:name] %>, select your weapon of choice!</h3>

  <a href="/results">
    <img src="/images/rock.png" id="rock" width="200" height="200">
  </a>
  <a href="/results">
    <img src="/images/paper.png" id="rock" width="200" height="200">
  </a>
  <a href="/results">
    <img src="/images/scissors.png" id="rock" width="200" height="200">
  </a>
</div>
