You chose <%= @choice %>
<br />

The computer chose <%= @game.computer_choice %>

<h1><%= @game.result(@choice) %></h1>

<form action="/" method="get">
    <input type="submit" value="Play again!"
         name="Submit" />
</form>
