<html>
<head><link rel="stylesheet" type="text/css" href="css/style.css"></head>
<link href='http://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
  <body>
  	<p>
    <h1>Pick your weapon</h1>
    <br>
    <br>
    <br>
    <form action='/game' method="post">
    <input type="submit" name="weapon" value="rock" id="submit" checked/>
    <input type="submit" name="weapon" value="paper" id="submit"/>
    <input type="submit" name="weapon" value="scissors" id="submit" />
    </form>
  	</p>
    <audio src="165827__alex-vsi-tv__weapon-cake.wav"  submit></audio>
    <audio src="tumblr_lsgp97uZOk1qkn96bo1.mp3"  autoplay></audio>
  </body>