<!-- CHOICE BETWEEN RPS -->
<a href="http://localhost:9292/game">Rock! </a>

<a href="http://localhost:9292/game">Paper! </a>

<a href="http://localhost:9292/game">Scissors! </a>
<!-- <a href="http://localhost:9292/game">See previous choices</a> -->

<%= @player.choice_log %>
