<div>Welcome to your game <%= @name %></div>
<div>You have three choices: Rock, Paper or Scissors.</div>
	<question>What would you like to play?</question>

<a href="/game?player_choice=Rock">Rock</a>
<a href="/game?player_choice=Paper">Paper</a>
<a href="/game?player_choice=Scissors">Scissors</a>
	<%= @choice %>

