<form action="/choices" method="post">
    <input type="submit" name="rock" value="Rock" />
</form>
<form action="/choices" method="post">
    <input type="submit" name="paper" value="Paper" />
</form>
<form action="/choices" method="post">
    <input type="submit" name="scissors" value="Scissors" />
</form>