<style> body {
    background-color: yellow;
    background-image: url("https://phosphorusfive.files.wordpress.com/2017/08/rock.png");
    background-size: 100% 100%;
}
</style>

<h1> You chose <%= @game.player_1.weapon %>! <br/> </h1>
<h1> Computer chose <%= @game.player_2.weapon %>! <br/> </h1>
<h1> Result = <%= @game.result %>! </h1>

<form action="/name" >
  <input type="submit" value="Play Again">
</form>
