<!DOCTYPE erb>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body>

<p>Rock, Paper or Scissors, <%= @game.player.name%>?</p>

</body>
</html>
