<h1><%=@p1_name%>, what is your move?</h1>
<form action='/process' method='post'>
  <input type="radio" name="move" value='0'> Scissors<br>
  <input type="radio" name="move" value='1'> Rock<br>
  <input type="radio" name="move" value='2'> Paper<br>
  <input type="submit" name="submit" value="Submit">
</form>
