<div>
  <h1>Hey Tristan, let's play!</h1>
  <form action="/turn" method="post">
    <ul>
      <li>
        <input class=rock type=radio value="Rock" name=move>Rock
        <input class=paper type=radio value="Paper" name=move>Paper
        <input class=scissors type=radio value="Scissors" name=move>Scissors
      </li>
      <li>
        <input class =submit type=submit value=Play!>
      </li>
    </ul>
  </form>

</div>
