<head>
    <title> Play! </title>
</head>
  <body>
    <h1> <%=$player%> vs The Machine </h1>

    <form action="/paper_attack" method="post">
      <input type="Submit" value="Paper" />
    </form>

    <form action="/scissors_attack" method="post">
      <input type="Submit" value="Scissors" />
    </form>

    <form action="/rock_attack" method="post">
        <input type="Submit" value="Rock" />
    </form>

  </body>
