ga<div>
  <h1> Hello <%=@player1 %>, and welcome to Rock Paper, Scissors </h1>
  play another game?
  <select name = "human_choice">
        <option value="rock">rock</option>
        <option value="paper">paper</option>
        <option value="scissors">scissors</option>
  </select>
   <input type="submit" value="play">
</div>