<h1> You chose: <%= @player_choice %> <br> Computer chose: <%= @comp_choice %> </h1>
<h2> <%= @game_result %> </h2> <br>

<form action="/" method="get">
  <input type="submit" value="Replay?" >
</form>
