<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
  </head>
  <body style="background-color: yellow; text-align: center; font-size:40px; color:blue">
    <h2>Rock, Paper, Scissors!</h2>
    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-6mdQP137rYtCVT6SnQ0DOHrwbbMwQKeg7rQkwojQ0uOzwEOTTg>
    <h4>Hi <%=@player_1%>.</h4>
    <h4>What kind of game would you like to play?</h4>
    <form action="/game_option" method="post">
      <button name="game" type="submit" value="Human_Vs_Machine"><h2>Human Vs. Machine</h2></button>
    </form>
    <hr width="50%"></hr>
    <form>
      <button name="game" type="submit" value="Human_Vs_Human"><h2>Human Vs. Human</h2></button>
    </form>
  </body>
</html>