<h1><%=@game.player1.name%> vs Computer</h1>
<h2>Rock Paper Scissors, FIGHT!!</h2>
<form action="/attack" method="post">
  <input type="submit" name="attack" value="rock">
  <input type="submit" name="attack" value="paper">
  <input type="submit" name="attack" value="scissors">
</form>
