<div style='padding-left: 25px; height: 200px; width: 250px; border: 3px solid red'>
  <br>
  Game result:
  <br>
  <br>
  <%= session[:winner]%>
  <form action="/start_game">
    <br>
    <!-- <input type="submit" value="Play Again"> -->
      <input type="image" src="images/play_again.png" value="Play Again" width="150" height="40">
  </form>
  <form action="/">
    <input height="40" src="images/home.png" type="image" value="Play Again" width="150">
  </form>
</div>
