<h1> Player: <%= @name1 %>! </h1>
<form action="/game" method="post">
  click to `rock, paper or scissors` to play a game of rock paper scissors. Good luck!
  <label for="choice"> Type in rock, paper or scissors </label>
  <input type="text" name="choice" placeholder="enter move here">
  <button type="submit" value=submit> Submit move </button>
</form>