<link rel="stylesheet" href="css/game.css">

<h2> Welcome to the game <%= @player_name %> </h2>
<h2> Choose a move: </h2>
<form action='/choice' method='post'>
  <input type='submit' name='choice' value='Rock'>
  <input type='submit' name='choice' value='Paper'>
  <input type='submit' name='choice' value='Scissors'>
</form>
