<div class="container-fluid inner">
  <div class="row">
    <%= game.message %>
    <form action="/play-the-same-game" method="post">
      <input class="btn btn-default" type="submit" value="PLAY THE SAME GAME">
    </form>
    <form action="/">
      <input class="btn btn-default" type="submit" value="PLAY ANOTHER GAME">
    </form>
  </div>
</div>
