<%# <link rel="stylesheet" href="battlegame.css" type="text/css" /> %>
<h3> RPS is a game of hand-brain coordination, tactics, strategy, luck, chance, nerves & suggestive eye-contact </h3>
<br>  <br>
Today's match will be between...
<h2><p><%= @p1_name %></h2> Vs. 
<% if @p2_name %>
<h2> <%= @p2_name %></h2>
<% else %> 
<h2> <%= 'Rocky McRock Face'%></h2> 
<% end  %>

<br><br>
<!-- <%# Select the type of match you would like to play %>
Click the button to play -->
<br> <br>
<form action="/game_home" method="get">
<input class="start_button" type="submit" value="Ready to RPS"></h1>
</form>




<br>
<img src="https://media.giphy.com/media/7MezEc0TOaMlW/giphy.gif" >



<!-- <%# <form action="/play" method="post">
<input class="start_button" type="submit" value="One trick pony">
<input class="start_button" type="submit" value="Three times a lady">
<input class="start_button" type="submit" value="Five will make you get down"></h1>
</form> %> -->