
<h2>You chose <%= @result.choice.to_s.capitalize %>!</h2>
<br>

<h2>
<div id="computer">
Computer chose <%= @result.computer_choice.to_s.capitalize %>!
</div>
</h2>
<br>

<h1><% if @result.win? %>
  You won!
<% elsif @result.lose? %>
  You lost!
<% elsif @result.draw? %>
  It's a draw. 
<% end %></h1>