<!DOCTYPE html>
<html>
<head>
  <title>
    Rock,Paper,Scissors!
  </title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div class="container-fluid white-container">
    <div class="row text-center">
      <div class="col-md-12 col-xs-8">
        <h3> You chose <%=@player_choice%></h1>
        <h2> Your opponent chose <%=@player.opponent.choice%></h1>
        <h1><%=@player.match%></h1>
      </div>
    </div>
  </div>
</body>
</html>




