<h1>Let's begin <%= @name %>!</h1>
<h2>What move would you like to play?</h2>
<form action=/game/move method=post >
<input name='move' type="submit" value="rock">
<input name='move' type="submit" value="paper">
<input name='move' type="submit" value="scissors">
</form>
