<body style="background-color:lightgrey;font-family:helvetica;">
<center><h1>You have chosen to play the Rock.</h1>
  <h1>Click play to confirm...Good Luck!</h1></center>


<center><form action="/result" method="post">
  <input type="submit" value="Play">
</form></center>

</body>
