<h1>Let's play <%= @player_name %></h1>

<form action="/results" method="get">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
