<h2> Select your strategy!</h2>
<form action="/vscomputer" method="post">
	<label> Rock
		<input type='radio' name='rps' value='rock'></label><h3><br>
	<label> Paper
		<input type='radio' name='rps' value='paper'></label><br>
	<label> Scissors
		<input type='radio' name='rps' value='scissors'></label><br>
	</br>
   		<input type="submit" value="Submit">
</form> 

