<p>Choose: Rock, Paper or Scissors?
<form action="/result">
  <select name="choice">
    <option value="ROCK">Rock</option>
    <option value="PAPER">Paper</option>
    <option value="SCISSORS">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
