<!DOCTYPE html>
<html>

<head>
  <title>Rock, Paper, Scissors</title>
  <style>
    * { box-sizing: border-box; }
    body {
      font-family: sans-serif; font-size: 15px; color: rgb(50, 60, 70);
      width: 700px; margin: 0 auto; background-color: ghostwhite; 
	  }
  </style>

</head>

<body>

  <h2> <%= $game.player_one.name %> vs. <%= $game.player_two.name %> </h2>

  <% if $game.turn == 1 %>
    <a href="/rock">Rock</a>
    <a href="/warning">Paper</a>
    <a href="/warning">Scissors</a>
  <% end %>

</body>
</html>