<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div>
    <p class='centre'><%= @game.player_1.name %> vs Computer</p>
  </div>
</body>
</html>
