<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rock Paper Scissors</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <h1>Rock, Paper, Scissors</h1>

      <div class="player">
        <div class="userchoice Rock"></div>
        <p>Player</p>
      </div>

      <div class="player">
        <div class="computerchoice Rock"></div>
        <p>Computer</p>
      </div>

      <div class="result"></div>

      <button class="startbutton">Play</button>
      <footer>
        <p>
          Jason Rowsell<br />
          <a href="https://github.com/jasonrowsell">Github</a>
        </p>
      </footer>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
