<h1><%= @game.player_one.name %> vs <%= @game.player_two.name %></h1>

<h2>Choose your weapon!</h2>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="Rock">
</form>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="Paper">
</form>

<form action = "/choice" method = "post">
  <input type="submit" name="choice" value="Scissors">
</form>
