<html>
  <head>
    <link href="<%= url('/style.css') %>" rel='stylesheet' type='text/css' />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class='subheader'>Computer chose <%= @computer_move %> so...</div>
    <div id='outer' class='header'><%= $game.result %></div>

    <form style='text-align:center' action='/play'>
      <input class='button' type='submit' value='Play again?' />
    </form>
  </body>
</html>

