<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="image/x-icon" rel="icon" href="https://makers.tech/wp-content/themes/wp-makers-2018/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/rps_styles.css">

    <title>Rock, Paper, Scissors - Makers Academy Challenge</title>
    <meta name="description" content="Terry Mace's attemp at the Makers Academy Rock, Paper, Scissors challenge">
    <link rel="canonical" href="https://github.com/tolvic" />

  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark justify-content-center mb-4">
        <h1 class="navbar-brand mb-0 h1">Rock, Paper, Scissors</h1>
      </nav>
    </header>
    <main class="container text-center">
      <div class="form-signin">
        <h2 class="pb-4">Which game type would you like to play?</h2>
        <div class="btn-group" role="group">
          <button class="btn btn-lg btn-outline-dark" type="submit">Classic</button>
          <button class="btn btn-lg btn-outline-dark" type="submit">RPSLS</button>
        </div>
      </div>
    </main>

    <footer class="footer bg-dark">
      <div class="container text-center pt-3">
        <span class="text-muted">Created by Terry Mace</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
