<center><h2>ROCK, PAPER, SCISSORS...</h2><br>
<%= @name %> plays: <%= @choice %> <> Botman plays: <%= @bot_choice %><br><br><br>
<h4><%= @outcome %></h4>
<form name='again?' action='/choice'>
  <input type='submit' value='Play again?'>
</form>
