<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    form {
      display: inline-block;
    }
    </style>
  </head>
  
  <body>

<h1> Hello! </h1>
<h2> Welcombe to Rock, Paper, Scissors! </h2>

<form action='/play' method='post'>
  <div>
  <label for='name'>Enter your name:</label>
  <input type='text' id='name' name='player_name'>
  </div>
  <div class='button'>
    <button type='submit'>Play!</button>
    </div>
  </form>

  </body>
</html>
