<form action="/result", method='post'>
    <ul>
        <li>
            <label for="player">Player name:</label>
            <input type="text" name="player">
        </li>
        <li>
            <label for="rps">Rock, paper or scissors?:</label>
            <input type="text" name="rps">
        </li>
        <li>
            <input type="submit" value="Submit">
    </ul>
</form>