<center>
  <head>
    <meta charset='utf-8'>
    <h1>Welcome to the game, <%= @player_name %>.</h1>
  </head>
  <body>
    <h2>Rock, Paper or Scissors?</h2>
    <br>
    <div>
      <form action='/result' method='post'>
        <input name='player_choice' type='submit' value='âœŠ'>
        <input name='player_choice' type='submit' value='ðŸ¤š'>
        <input name='player_choice' type='submit' value='âœŒï¸'>
      </form>
    </div>
  </body>
</center>
