<h2> Let the games begin!</h2>

<h3> You seem confident <%= $player1.name %>, what are you going for? </h3>

<form action="/move" method="post">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>
