<center>
  <head>
    <style>
      body {
        background: url("http://uthmag.com/wp-content/uploads/2015/02/Rock_Paper_Scissors_by_smashmethod.jpg") no-repeat fixed;
      }
    </style>
    <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

  <body>
    <h1>
      Hello, <%= @p1_name %>!</br>
      Get ready to play <%= @rounds %> rounds of Rock, Paper, Scissors!
    </h1>
  </body>
</center>