"Let's get a way from the grind! Enter your name to play!"
<p>  </p>
<p>  </p>
<form action="/" method="post">
  player: <input type="text" name="My name" />
  <input type="submit" value="Play">
</form>
