"Let's get a way from the grind! Enter your name to play!"
<p>  </p>
<p>  </p>
<form action="/thegame" method="post">
  My name: <input type="text" name="name"/>
  <input type="submit" value="Play">
</form>
