<!DOCTYPE html>
<html>
<head></head>
<body>
  <div align="center">

     <p> Player 1 name is: <%= @player_1_name %> with <b> <%= @weapon %> </b> as a weapon</p>
     <p> Computer's weapon is: <%= @computer_weapon%></p> 
     <p> Winner is: <%= @result %> </p>
  </div>
</body>
</html>



