<head>
  <title>CYA, <%=$game.player.name%>!</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<h1>It's Been An Absolute Joy Having You, <%=$game.player.name%> </h1>
<br>
<h1>Before you go, could just quickly:</h1>

<form action="troll" method="post"> <input type="image" src="clickme.gif" alt="submit" style="size: 50%"></form>