<div>
  <% if @name == '' %>
    <div>
      Please enter a name
      <div style='display: inline-block'>
        <form action="/start_game">
          <input type="text" name="name">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  <% else %>
    <div>
      Hello <%= @name %>
        <div style='display: inline-block'>
          <form action="/game">
          <input type="submit" value="Start Game">
        </div>
      </form>
    </div>
  <% end %>
</div>