<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<h2><%= @game.player_2.name %>'s turn!</h2>

<form action="/result">
  <lable for="rock">
    <input type="submit" value="Rock">
  </lable>
  <lable for="paper">
    <input type="submit" value="Paper">
  </lable>
  <lable for="scissors">
    <input type="submit" value="Scissors">
  </lable>
</form>
