<!DOCTYPE html>
<html>
  <head>
    <title>Rock - Paper - Scissors - Spock - Lizard</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
  </head>
  <body>

