<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    
    <nav>
      <ul>
        <li><a href="/">Rock Paper Scissors</a></li>
      </ul>
    </nav>