<head>
  <title>Let's Play</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>