<h1>Welcome <%= @game.player_1.name %> </h1>

<h2>You are about to play against a computer - please select your weapon of choice</h2>

<form action="/game" method="post">
   <input type="radio" name="options" value="rock"> Rock<br>
   <input type="radio" name="options" value="paper"> Paper<br>
   <input type="radio" name="options" value="scissors"> Scissors<br>
   <input type="submit" value="Submit">
 </form>
