<h1> Welcome to Rock, Paper, Scissors! What is your name? </h1>
<form action="/names" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Enter">
</form>

<style>
  h1 {
    color: orange;
    font-size: 90px;
    text-align: center;
    margin: 250px
  }
</style>

<style>
  form {
    text-align: center
  }
</style>

<style>
  body {
    background-color: rgb(25, 70, 150);
  }
</style>
