<h1>Enter your name to play RPS7</h1>

<form action= 'name' method= 'post'>
  <input type= 'text' name= 'player' placeholder='player'>
  <input type= 'submit' value= 'Go!'>
</form>

<body background="http://polyesterstudio.com/wp-content/uploads/2016/07/Screen-shot-2016-07-29-at-11.15.02-AM.png"> 
</body>

