<head>
    <title>
        Rock, Paper, Scissors, Lizard, Spock!
      </title>
</head>
  <body style="background-color:thistle;text-align:center">
    <h1> Rock, Paper, Scissors, Lizard, Spock! </h1>
    <form action="/names" method="post">
        <label for ="player1">
            Please enter your name:
            <input type="text" name="player1">
        </label>
        <input type="submit" value="Start Game">
    </form>
    </body>
