<h2> Crack your knuckles and get ready to play... </h2>

<h1> Rock, Paper, Scissors </h1>

<form action="/form" method="post">
  <input type="text" name="Player name" required placeholder="Enter player's name" class="form-control form-control-lg"> <br>
  <button type="submit" class="btn btn-outline-success">GO!</button>
</form>
