<h1>Welcome Makers Academy Marketing Array team member</h1>
<p>Blow off some steam with classic game of Rock Paper Scissors!!</p>
<p>But first, what name do you go by?</p>
<br>
<form action="/submit_names" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
