<!DOCTYPE html>
<html lang="en">
  <head>
    Rock-Paper-Scissors-Lizard-Spock
  </head>
  <body>
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/x5Q6-wMx-K8" frameborder="0" allowfullscreen>
    </iframe>
  </body>
  <form action="/name">
    <button>Proceed</button>
  </form>
  <!-- <a href="/name">Proceed</a> -->
</html>
