<div>
  <h1> Rock, Paper, Scissors </h1>
</div>
<div>
  <form action="/select_rps" method="post">
    <div>
      <label for "name" type= "text">Please enter your name</label>
    </div>
    <div>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
