<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="center">
<h1>Hello, what's your name?</h1>
<form action='/play'>
<input type="text" name='name'>
<input type="submit" name="Let's play!">
</div>
</body>
</html>