<img src="http://wallpaperpulse.com/img/2927329.jpg"
style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

<div align="center">
  <h1> ROCK / PAPER / SCISSORS <h1>
  <h2> THE EPIC SHOWDOWN <h2>
  </div>

  <style>
  input  {background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
</style>


<form action="/single_player" align="center">
  <input type="submit" value="SINGLE PLAYER">
</form>



<form action="/two_player" align="center">
  <input type="submit" value="TWO PLAYER">
</form>
