<head>
<title>ROCKPAPERSCISSORS!</title>
</head>

<style>

h1 {
    color: orange;
    text-align: center;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
  }

a:hover {
  color: #000066;
  font-size: 30px;

  }

a {
  font-size: 20px;
  color: #000066;
  }

a:visited {
  font-size: 20px;
  color: #000066;
  }

a:active {
  color: #000066;
  }

body {
  color: orange;
  text-align: center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  background-size: 100%;
  background-color: cadetblue;
  -webkit-animation-name: animation;
  -webkit-animation-duration: 10s;
  animation-name: animation;
  animation-duration: 10s;
}

@-webkit-keyframes animation {
  from {background-color: cadetblue;}
  to {background-color: orange;}
}

@keyframes animation {
  from {background-color: cadetblue;}
  to {background-color: orange;}
}

</style>
<div>
<body>
  <br/>
  <br/>
<h1>Welcome to ROCK PAPER SCISSORS!</h1><br/>
  <br/>
  <br/>
  <a href='http://localhost:9292/newplayer'>New Game</a>
</body></center></div>
