<h1> Welcome! </h1>

<form action="/name" method="POST">
    <label for="name">Please enter your name</label>
    <input type="text" name="name" id="name-field">
    <input type="submit" value="Start the game!">
</form>