<center><h1>Welcome to the rock paper scissors game</h1></center>

<center>
<h3> Please enter your name: </h3>
<form action='/name' method=post>
    <input type=text name='player_name'>
    <input type=submit value=Submit>
</form>
</center>