<h1> Rock Paper Scissors Showdown! </h1>
<h3> Enter names to go to war </h3>

<form action="/names" method="post">

  <label for="player_1_name"> Brave Contender </label>
  <input type="text" name="player_1_name" />

  <label for="player_2_name"> Computer Nemesis </label>
  <input type="text" name="player_2_name" />

  <input type="submit" value="Let's do this!" />

</form>
