<link rel="stylesheet" type="text/css" href="/style.css">
<div align="center">

<h1>Welcome to Rock Paper Scissors</h1>
<form action="/players" method="post">
  <div>
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" placeholder="Player">
  </div>
  <div class="button">
    <button type="submit">Start the game</button>
  </div>
</form>