<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Teko|Fredericka+the+Great|Lobster" rel="stylesheet">

<style>

</style>
<html>
  <body>
    <div>Ready for a game of ROCK-PAPER-SCISSORS???!!!</div>
    <form action="/names" method="post" id="form">
      <label for="player1">
        Player 1:
        <input type="text" name="player1">
      </label>
      <label for="player2">
        Player 2:
        <input type="text" name="player2" value="Computer">  
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
