<a href="/one_player_game">1 player game</a>
<br>
<a href="/start_two_player_game">Start 2 player game</a>
<br>
<% if @has_1_player %>
  <a href="/join_two_player_game">Join 2 player game</a>
<% end %>