<link href="/css/style.css" rel="stylesheet" type="text/css" />

<section class="title1">
  <h2>Rock Paper Scissors!</h2>
<div class="title1">
  Please enter your name below to get started
</div>
<div class="form1">
  <form action="play">
    <section class="form1">
      <input type="text" name="name" required>
    <input class="button" type="submit" value="Start game">
    </section>
  </form>
</div>
</section>