<h1>Welcome to Rock, Paper, Scissors!!<h1>

<h2>Click below to register and start the game<h2>

<form action='/register'>
  <button  type='submit'>Let's Go!!</button>
</form>

  <!-- style='font-size:60px' -->
