<% if @visitor == '' || @visitor != nil %>

  <div>
    <form action="/weapon">
      Which version of the game do you want to play?
      <select name="type">
        <option value= 3 >ROCK/PAPER/SCISSORS</option>
        <option value= 5 >ROCK/PAPER/SCISSORS/LIZARD/SPOCK</option>
      </select>
      Who would you like to play against?
      <select name="opponent">
        <option value="the computer">the computer</option>
        <option value="another human being">another human being</option>
      </select>
      <input type="submit" value="START GAME">
    </form>
  </div>

<% else %>

<div>
    <form action="/weapon">
      What's your name?
      <input name="name" type="text">
      Which version of the game do you want to play?
      <select name="type">
        <option value= 3 >ROCK/PAPER/SCISSORS</option>
        <option value= 5 >ROCK/PAPER/SCISSORS/LIZARD/SPOCK</option>
      </select>
      Who would you like to play against?
      <select name="opponent">
        <option value="the computer">the computer</option>
        <option value="another human being">another human being</option>
      </select>
      <input type="submit" value="START GAME">
    </form>
  </div>

<% end %>
