<body background="https://static-secure.guim.co.uk/sys-images/Guardian/Pix/pictures/2015/4/15/1429115416813/ea34a377-610f-456b-957e-94dde1c3319b-2060x1236.jpeg">
<br>
 <br>
  <br>
   <br>
    <center>
      <h4>WELCOME TO</h4>
      <h1>ROCK PAPER SCISSORS</h1>
       <h4> ENTER NAME TO PLAY </h4>
        <form action="/name" method="post">
            <input type="text" name="player_name">
          <br>
           <br>
         <input type="submit" value="ENTER">
        </form>
     </center>
   </body>
