<center><br><h1> Welcome to Rock, Paper, Scissors' Game </h1>
<img src='http://rock-paper-scissors-mayhem.herokuapp.com/assets/rpsmv2-233da4e0641d0aa2fbab790cb7d4f25a.png'>

<h2> Please enter your name: <h2>
<form action = '/name' method = 'post'>
<input name = 'player' type = 'text'>
<br><br>
<input value = 'Start' type = 'submit'>
</form>

<style>
img {
  width: 35%;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}
</style>