<br>
 <br>
  <br>
   <br>
    <br>
     <br>
     <center>
      <h1>ROCK PAPER SCISSORS</h1>
       <h4> ENTER NAME TO BEGIN </h4>
        <form action="/play" method="post">
         <input type="text" name="player_name">
          <br>
           <br>
         <input type="submit" value="ENTER">
        </form>
     </center>
