<div>
    <h1>Rock Paper and Scissors!</h1>
    <h2>Please select player mode</h2>
    <form action='/' method='post'>
      <button type='submit'>Single Player Mode</button>
      <input type='hidden' name='mode' value='singleplayer'>
    </form>
</div>