<h1>ROCK PAPER SCISSORS!</h1>
<h2>Tell us your name to get started</h2>
<form action="/start" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Go!">
</form>
