<h1>ROCK PAPER SCISSORS</h1>

<h2>Please enter your name(s):</h2>

<form action="/begin_single_player" method="post">
  Player 1: <input type="text" name="player_1" /><br>
  <br>
  &emsp;&emsp;&emsp;&emsp;<input type="submit" value="Single Player Mode">
</form>

