<body style="background-color:powderblue;">
<center><h1><font face="century gothic">  Rock Paper Scissors </font></h1></center><br>
<center><img src="https://i1.wp.com/www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg?zoom=2&resize=524%2C349&ssl=1" style="width:400px;height:200px;"></center>
<center><form action="/data" method="post">
  <h2><font face="century gothic"> Please Insert Your Name:</font></h2>
  <input type="text" font="century gothic" name="name"><br><br>
  <h2><font face="century gothic"> Please choose Your Move:</font></h2>
  <select name="move">
    <option value="rock">rock</option>
    <option value="paper">paper</option>
    <option value="scissors">scissors</option>
  </select>
    <br><br>
    <br><br>
  <input type="submit" font="century gothic" value="Play!">
</form></center>
</body>
