<h1>Welcome to the home of the Rock, Paper, Scissors Challenge!</h1>
<p>What is your name?</p>
<form action="/" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<% if @name.nil? %>
<% elsif @name.empty? %>
  <p>Please enter your name!</p>
<% end %>

