<h2> Crack your knuckles and get ready to play... </h2>

<h1> Rock, Paper, Scissors </h1>

<iframe src="https://giphy.com/embed/xT8qBmSnYDXS21ZvHO" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/olympics-shaun-the-sheep-aardman-xT8qBmSnYDXS21ZvHO" class="giphy">via GIPHY</a></p>

<form action="/form" method="post">
  <input type="text" name="Player name" required placeholder="Enter player's name" class="form-control form-control-lg"> <br>
  <button type="submit" class="btn btn-outline-success">GO!</button>
</form>
