<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1> Welcome to Rock, Paper, Scissors </h1>

    <h3> Please enter your name: </h3>

    <form action="/game" method="post">
      <label for="player_name">
        Player 1 name
        <input type="text" name="player_name"></input>
      </label>
      <input type="submit" value="Play"></input>
    </form>
  </body>
</html>
