<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet" type="text/css">

<style>
body {
  font-family: 'Coming Soon', cursive;
  color: #FFEBCD;
  font-size: 22px;
  background-image: url("https://www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg");
  background-size: auto;
  background-position: fixed;
}
</style>
</head>
<body>

<h1> Rock, Paper, Scissors </h1>
<h2> Please enter your username: </h2>

<form action="/game" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Go!">
</form>
</body>
</html>
