<h1>Welcome to Rock Paper Scissors</h1>

<h3>Please enter your name below, select play type and click 'Play'</h3>

<form action='/play' method='post'>
  <input type="radio" name="type" value="single" checked>Single Player
  <br>
  <input type="radio" name="type" value="multi">Multi-Player
  <br>
  <input type='text' name='player_name'>
  <br>
  <button>Play</button>
</form>