<h1>Welcome to the latest edition of Rock-Paper-Scissors</h1>
<h3>Please enter your firstname in the text box below</h3>


<form action='/save-name' method='post'>
    Player 1: <input type='text' name='player1_name'/>
    Player 2: <input type='text' name='player2_name'/>
    <input type='submit' value= 'Start Playing!'/>
</form>
