<div class = 'container'>
    <h1> Welcome to a version of Rock, paper, scissors, spock, Lizard! </h1>
    </hr>
    <h1>Garnet, Amythyst, Pearl, Steven, Lapiz! </h1>
    <h2> enter your name to begin! </h2>
    <form action='/name' method='POST'>
        <label for='name'> Name: </label>
        <input type='text' id='name' name='player_name' placeholder='returning champ'> 
        <label for='play'> Play! </label>
        <input type='submit' value='Play!'>
    </form>
</div>