<link href="/css/style.css" rel="stylesheet" type="text/css" />

<div class="title1">
  <h2>Rock Paper Scissors!</h2>
<div class="title1">
  Please enter your name below to get started
</div>

  <form action="play">

    <input type="text" id="name" name="name" required>
    <input class="button" type="submit" value="Start game">

  </form>

</div>