<hmtl>
<head>
</head>

<body>
  <h3>Hi, start playing our <em>amazing</em> games by entering your username.</h3>
  <form method="post" action="/menu">
    <input type="text" name="username">
    <button>Proceed</button>
  </form>
</body>
</hmtl>