<div>
    <h1>Welcome to Rock, Papaer, Scissors</h1>
    <h2>please enter your name</h2>
</div>

<div class="form-container">
    <form action="/game_setup" method="POST">
        <label>Player Name</label>
        <input type="text" name="name">
        <input type="submit" value="Start Game">
    </form>
</div>

<style>
body {
    text-align: center;
}

input {
    display: block;
    margin: 5px auto;
}

.form-container {
    background-color: #eee;
    max-width: 500px; 
    margin: 20px auto;
}

</style>