<body background='https://libcom.org/files/images/jn03_008.jpg'>


<div class = "absolute">
<h1><center><font face="courier" color="orange" size = 10 >Rock Paper Scissors</font></center></h1>
</div>

<div><center>
<form action="/enter_name">
<button type="submit">One Player</button>
</form>
</center></div>

<div><center>
<form action="/enter_names">
<button type="submit">Two Players</button>
</form>
</center></div>



<!-- <img src = 'https://libcom.org/files/images/jn03_008.jpg'> -->
