Welcome to Rock Paper Scissors
<form action="/game">
  <div>
    <label for="name">Enter your name:</label>
    <input type="text" id="name" placeholder="Player">
  </div>
  <div class="button">
    <button type="submit">Start the game</button>
  </div>
</form>