<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class = 'padding'></div>
    <div class = 'form_container'>
      <form action="/game" method="post">
        <label for="player_name">
          <input type="text" name="player_name" class='form_field' value = 'Enter Your Name'></input>
        <br>
        </label>
        <input type="image" name="gametype" value = 'single' src="single.png" class="home_icon"/>
        <input type="image" name="gametype" value = 'multi' src="multi.png" class="home_icon"/>
      </form>
    </div>
  </body>
</html>
