<h1> Crack your knuckles and get ready to play Rock, Paper, Scissors </h1>

<form action="/form" method="post">
  Player name: <br>
  <input type="text" name="Player name"> <br>
  <input type="submit" value="GO!">
</form>
