<h1>Welcome to Rock, Paper Scissors</h1>

<form method="POST" action="/enter-name">
    <label for="name">Please enter your name</label>
    <input type="text" name="name" />
    <input type="submit" value="play">
</form>