<head>
  <title> Rock Paper Scissors </title>
</head>
<body>
<br>
 <br>
  <br>
   <br>
    <center>
      <h4>WELCOME TO</h4>
      <h1>ROCK PAPER SCISSORS</h1>
       <h4> ENTER NAME TO PLAY </h4>
        <form action="/name" method="post">
            <input type="text" name="player_name">
          <br>
           <br>
         <input type="submit" value="ENTER">
        </form>
        <br>
        <img src="http://breakappz.com/wp-content/uploads/2014/01/PSR-1.jpg" width="600" height="382">
      </img>
     </center>
   </body>
