<body>
  <style> body {
    background-image: url(paper.jpg);
  }
  </style>
  <h1 style="font-family:courier;">Enter your name</h1>
  <form action='/home' method='post'>
    <input type='text' name='name'>
    <input type='submit' value='Begin!' method='post'>
  </form>
</body>
