<center>
<h1>Welcom to Rock, Paper, Scissors!</h1>
<form action="/game_page" method="POST">
  Please enter your name: <input type="text" name="name" placeholder="Enter your name">
  Please choose a tool: <input type="text" name="tool" placeholder="Rock, Paper, Scissors">
  <input type="submit" value="Submit">
</form>  
</center>