<h1>Rock - Paper - Scissors</h1>

<h2>Hey, Wanna play?</h2>


<form action="/play-game" method="post" class="home-form">
 <div class="home-div">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" required>

    <input type="submit" value="Let's play!">
  </div>
</form>

