<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Teko|Fredericka+the+Great|Lobster" rel="stylesheet">

<style>

</style>
<html>
  <body>
    <div>Welcome to M.A. ROCK-PAPER-SCISSORS!!!</div>
      <div>Choose player mode</div>
  </div>
    <a href="/single_player" class="btn btn-default" value='single player'>SINGLE PLAYER</a>
    <a href="/two_players" class="btn btn-default" value='two players'>TWO PLAYERS</a>
  </body>
  </html>
  </body>
</html>
