<div>Let's play</div>
<div>
  <form action="/name" method="post">
    Enter your name:<br>
    <input type='text' name='player_name'<br>
    <input type='submit' value='Start the game!'>
  </form>
</div>
