<h1>Welcome to Rock Paper Scissors</h1>

<h3>Please enter your name below and click 'Play'</h3>

<form action='/play' method='post'>
  <input type='text' name='player_name'>
  <button>Play</button>
</form>