<h1> Rock, Paper, Scissors! </h1>
<br>
<br>
<p>Enter your name and click 'Start!' </p>
<form action = '/play' method = post>
  <input type = 'text' name = 'Name'>
  <input type = 'submit' value = 'Start!'>
</form>
<img src="/RockPaperScissors.png" />
