Have you got a friend to play with, or do you want to play against our computer?
<form action="/choose-players" method="post">
  <button type="submit" name="players" value="two_player">
    I've got a friend to play with
  </button>
  <button type="submit" name="players" value="one_player">
    Play against RPSBot::9000
  </button>
</form>
