<h1>Rock Paper Scissors for 2 humans</h1>
<h3>Register both below for a fight to the death!</h3>
<table><tr>
<td><img src = "https://www.periodistadigital.com/imagenes/2013/01/29/sergio-aguero-manchester_270x250.jpg"></td>
<td>
<h2>Players : Register</h2>
<form action = "/two-player" method = "post">
    Enter Player 1 name: <input type = "text" name="player_1" /><br><br>
    Enter Player 2 name: <input type = "text" name="player_2" /><br><br>
    <input type="submit" value="Submit">
</form>
</td>
<td><img src = "https://cdn.24.co.za/files/Cms/General/d/6803/6234ce48d5454f1e8e34779c8f4547ba.jpg"><td> 
</tr></table>