<!-- <img src="https://i.pinimg.com/736x/e6/51/73/e65173bde72cb8ab8c7efd0b9925af64--recycled-t-shirts-rock-paper-scissors.jpg" align="right" height="700" width="500"> -->

<h2 align="center"><font face="futura" color="red" size="7"> HEAD 2 HEAD </font></h2>
<center><img src="https://image.freepik.com/free-icon/two-heads-silhouettes-looking-to-opposite-sites-with-a-lightbulb-shape-in-the-middle_318-52482.jpg"height="400" width="400">
  <center><img src="https://i.pinimg.com/736x/e6/51/73/e65173bde72cb8ab8c7efd0b9925af64--recycled-t-shirts-rock-paper-scissors.jpg" height="100" width="100"></center>


<h4 align="center"><font face="futura" color="red" size="5"> ENTER PLAYERS NAMES </font></h4>

<center><form action="/head2headnames" method="post">
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form></center>
