<head>
  <link rel="stylesheet" href="/css/master.css">
</head>

<div>
<h1> Rock-Paper-Scissors </h1>
<h3> Select a mode </h3>
</div>

<div>
<h3> Single Player: </h3>
<form action="/single_player_sign_in">
  <input type="submit" id="single_player" value="Play">
</form>
</div>

<div>
<h3> Multi Player: </h3>
<form action="/multi_player_sign_in">
  <input type="submit" id="multi_player" value="Play">
</form>
</div>

<footer>
RPS-Challenge
</footer>
