<h3>rock paper scissor</h3>
<form action="/name" method="post">
  <label for="player_name">
    what's your name?
    <input type="text" name="player_name">
    <input type="submit" value="let's play :)">
  </label> 
</form>

<style>
  body {
    background-color:#CC99FF;
  }
  </style>