<div style="font-family: arial">
  <h1> Let's play Rock Paper Scissors.</h1>
</div>
<div>
<form action="/new_game" method="post">
  <input type='text' placeholder="Enter your name" name='player_name' required>
  <input type='submit' value='Start Game!'>
</div>
