<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors - by Joe Sweeny</title>
  </head>
  <body>
    <div align="center"><font size="20">Rock Paper Scissors</font><br>
    <font size="2.5">created by Joe Sweeny</font><br><br>
    <img src="http://i.imgur.com/qbHME84.png" width="400" align="center"><br>
    <form action="/name" method="post">
      <label for="player_1_name">
        Enter your Name<br><br><input type="text" name="player_name"></label><br>
      <br><input type="submit" value="Enter the Game">
    </form>
  </body>
</html>
