<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <title>RockPaperScissors</title>
      <link rel="stylesheet" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>
  <page>
  <body>
  <module>
<div>
  <h1 style = bold, weight 16px;>Enter Player 1 and Player 2</h1>
   <h2>What are your names?</h2>
</div>

<form action ='/names' method='post'>
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
</module>
</body>
</page>
</html>
