<h1>Let's play rock, paper, scissors!</h1>

<h2>Type your name in the box below to play</h2>
<form action="/names" method="post" >
  <input type="text" name="name">
  <input type="submit" value="Let's go!">
</form>
