<h1>Rock Paper Scissors</h1>
<form action='/play' method="post">
  <label for='player'>
    Please enter your name:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Submit">
</form>
