<!DOCTYPE html>
<html>
<head>
  <title>Rock-Paper-Scissors</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>

<header>Rock-Paper-Scissors</header>

<h2>HOW MANY PLAYERS?</h2>

<form action="/p1" method="post">
   <input type="submit" value="1 PLAYER">
</form>

<form action="/p2" method="post">
   <input type="submit" value="2 PLAYERS">
</form>
 

</body>
</html>