<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Taviraj" rel="stylesheet">

<body>
  <h1>Rock, Paper, Scissors!</h1>
  <h2>Enter your name</h2>
  <form action="/names" method="post">

    <label for="player1_name">
      Player 1:
      <input type="text" name="player_1_name">
    </label><br/></br/>

    <label for="submit">
      <input type="submit" value="Submit Name">
    </label>
  </form>
</body>
