
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
  <h1>Rock Paper Scissors and Friends</h1>
  <h3>Game setup</h3>
  <form action="/setup" method="post">
    <div class="form-group">
      <label for="player_1_name"> Player 1 name</label>
        <input type="text" name="player_1_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="player_2_name"> Player 2 name </label>
        <input type="text" name="player_2_name" class="form-control">
    </div>
    <h3>Game Options</h3>
    <div class="radio">
      <label> Rock Paper Scissors <input class="form-control" type="radio" name="mode" value="1"></label>
    </div>
    <div class="radio">
      <label> Rock Paper Scissors Lizard Spock <input class="form-control" type="radio" name="mode" value="2"></label>
    </div>
    <div class="radio">
      <label> Rock Paper Scissors Lizard Spock and more <input class="form-control" type="radio" name="mode" value="3"></label>
    </div>
    <input class="btn btn-success float-right" type="submit" value="Submit">
  </form>
</div>
