<div id="indexwrap">
<h1> hola! <br>player name? <br><br>
<form method="POST" action="/name">
    <input type="text" name="name" value="" />
    <input type="submit" value="Play"/>
</form>
</h1>
<div>