<center>
  <h1>Welcome to... RPS!</h1>
  <h2>Please enter player name below</h2>
  <form method='POST' action='/name'>
    <div>

      <div class="player_one_name">
        <label>Player One</label>
        <input type="text" name="player_one_name" placeholder="Player 1 name" />
      </div>

      <input type="submit" value="Go!" />

    </div>
  </form>
</center>
