<h1>ROCK PAPER SCISSOR</h1>
<h2>Sign in to play</h2>

<form action ='/name' method ='post'>
<label for ="player_name">
NAME
<input type ='text' name='player_name'>
</label>
<br>
<input type='submit'value='Start'>
</form>