<h1>Lets Play!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Time to fight!">
  </form>

  <h3> Play against the AI!</h3>
  <form action="/namesAI" method="post">
  <label for="player">
    Player name
  <input type="text" name="player">
  </label>
  <input type="submit" value="Fight!">
</form>
<img src = https://res.cloudinary.com/practicaldev/image/fetch/s--EzRTciRN--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://s3-eu-west-1.amazonaws.com/wia-flarum-bucket/2018-07-04/1530701878-372923-blog-05.png </>
