<h1>Rock, Paper, Scissors</h1>
<h2>Enter Player Name</h2>

<form action="/name" method="post">
  <div>
    <input type="text" name="player">
    <input type="submit" value="Register">
  </div>
</form>
