<h1>Enter your name to start a new game!</h1>

<form action="/name" method="post">
  <div class='row'>
    <div class='col-sm'></div>
    <div class='col-sm'>
      <input class='name_field' name="player_name" type='text'>
    </div>
    <div class='col-sm'></div>
  </div>
  <br>
  <div class='row'>
      <div class='col-sm'></div>
      <div class='col-sm'>
          <input class='action' type='submit' value='Go!'>
      </div>
      <div class='col-sm'></div>
  </div>
</form>