<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' type='text/css' href='styles2.css'>
<div class = "main"> 

<h1>Welcome to Rock paper scissors!</h1>
<h2>First Register your name</h2>
<form action="/names" method="post">
  <label for="Your_name">
    Your Name: 
    <input type="text" name="Your_name">
  </label>
  <input type="submit" value="Submit">
</form>

  </div>
</form>
</body>
</html>







  
