<h1>Rock, Paper, Scissors!</h1>
<form action='/names' method='POST'>
<label for='name'>Please enter your name:</label>
  <input name='name' type="text">
  <input type="submit" value="Submit">
</form>
