<html>
  <h3>HUZZAH</h3>
    <form action="/sign-in" method="post">
      <label for="user">User:</label>
      <input type="text" name="user">
      <input type="submit" value="Sign me in!">
    <form>
</html>
