<h1>RPS!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Enter your name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
