<html>
  <body>
    <h1> What is your name? </h1>

      <form action='/name' method='post'>
        <div class='name_form'>
          <input type='text' name='player'>
        </div>

        <div class='name_form'>
        <input type='submit' value='go!'>
        </div>
      </form>
  </body>
</html>