<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1">
    Player one's name:
    <input type="text" name="player_1">
  </label>
  <label for="player_2">
    Player two's name:
    <input type="text" name="player_2">
  </label>
  <input type="submit" value="Begin game">
</form>