<body bgcolor="#ff8000">

<h1 style="color:green;size:20;text-align:center;">Let's play rock scissors and paper!!!</h1>
<h2 style="color:green;size:15;text-align:center;">Enter your name.</h2>

<form action="/name" method="post">
    <input type="text" name="name"></input>
    <input type="submit" value="Submit"></input>
</form>
