<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
  </head>
  <body style="background-color: yellow; text-align: center; font-size:40px; color:blue">
    <h1>Rock, Paper, Scissors!</h1>
    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-6mdQP137rYtCVT6SnQ0DOHrwbbMwQKeg7rQkwojQ0uOzwEOTTg>
    <h2>Enter your name:</h2>
    <form action="/name" method="post">
      <label for="player_name">
        player name:
        <input type="text" name="player_name">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>