<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    Please select game mode
  </div>
  <div>
    <form action='/single_player'>
      <input type='submit' value='Single Player'>
    </form>
    <form action='/multiplayer'>
      <input type='submit' value='Multiplayer'>
    </form>
  </div>
</body>
