<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
  </head>
	<body>
		<h1>Welcome to rock paper scissors!</h1>
		<form action="/new_game" method="post">
			<label for="name"></label>
			<input type="text" name="name">
			<input type="submit" value="Submit">
		</form>
  </body>
</html>