<center><h1> Welcome to the epic Rock-Papers-Scissors game! </h1>

<h3>Please enter your name below to start</h3>

<form action="/play" method="post">
	<label for="player_1_name">
		<input type="text" name="player_1_name">
	</label>
	<input type="submit" value="Submit">
</form></center>
