<link rel="stylesheet" href="css/index.css">

<body>

  <div class='content'>
    <p id='welcome'> Welcome to Rock, Paper, Scissors </p>

    <p id='name'> What's your name? </p>

    <form action='/name' name='name_input' method='post'>
      <input id='input' type='text' name='name'>
      <br>
      <br>
      <input id='submit' type='submit' value='Submit'>
    </form>
  </div>

</body>
