<body background="https://img00.deviantart.net/4385/i/2014/211/0/0/gon_jajanken_wallpaper_by_mistercharless-d7sxht2.jpg">
<h1 style="text-align:center; color:#0B0548;">Rock, Paper, Scissors!</h1>
<h2 style="text-align:center; color:#0B0548;">Register your name below</h2>
<h3 style="text-align:center;" ><form action="/names" method="post">
  <label for="player_name" style="color:#0B0548;">
    Player name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</h3>
  <br>
  <img src="https://i.kinja-img.com/gawker-media/image/upload/s--DH0SSBms--/c_scale,f_auto,fl_progressive,q_80,w_800/qhxegkwh2sbj0my6tiey.gif" alt="RockPaperScissors" style="width:400px;height:200px;">
</form> </body>
