Welcome to Rock, Paper, Scissors!
<br>
<br>
To play, enter your names below.
To play against the computer, leave the second box blank.
<br>
<br>
<form action = /play method = post>
  <label for = "name">Names:</label>
  <input type = "text" name = "player_1_name">
  <input type = "text" name = "player_2_name">
  <input type = "submit" value = "Play!">
</form>
