<head>
  <link rel="stylesheet" type="text/css" href="<%=url("/stylesheet.css")%>" />
  <title>Rock, Paper, Scissors</title>
</head>


<h1> Rock, Paper Scissors!!! </h1>

<form action='/name' method='post'>
  <p>Enter your name:</p>
  <input type='text' name='player_name'>
  <br>
  <br>
  <input class="button" type="submit" value='Go'>
</form>
