<h1>Welcome to the game! Please enter your name. </h1>


<form action="/player-name" method="post">
  <label for="Player">
  <input type="text" id="Player" name="name">
  <input type="submit" value="Submit">
</form>
