<!DOCTYPE html>

<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>


<div id = "main" class="center-element">

  <h1>Let's play Rock, Paper, Scissors!</h1>

  <form action = "/play" method = "post">
    <p>To begin, enter your name and press the Play button:</p>
    <input class = "name-input" type = "text" name = "player_name">
    <input id = "name-submit-button" type = "submit" value = "Play">
  </form>

</div>


</body>

</html>