
<h1>Battle</h1>



<form  method='get' style="margin: 30px">
  <input formaction="/single_player" type="submit" value="Single_player">
</form>
<form method='get' style="margin: 30px">
  <input formaction="/two_player" type="submit" value="Two_player">
</form>
