<!DOCTYPE html>
  <head>
    <title>Ultimate RPS</title>
  </head>
  <body>
    <h1>Welcome to Ultimate RPS<h2>
    <p>Rock, paper, scissors, lizard, Spock</p>
    <a href="/pvc" id="PvC"><button type="button">PvC</button></a>
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/x5Q6-wMx-K8" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
