<link href="/styles.css" type="text/css" rel="stylesheet">
<link href="/index.css" type="text/css" rel="stylesheet">

<div class="name">
<form id="button" action="/name" method="post">
  <label for="player">
    <h1>Your name</h1>
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
</div>
<div class="image">
<img src="https://s-media-cache-ak0.pinimg.com/736x/ef/97/48/ef974814abb0e002580ce39954986f1e.jpg">
</div>
