
  <h1> Let's play some Rock, Paper, Scissors! </h1>
  <br>
  <p> To start the battle, please enter your name below... </p>
  <br>
  <form action="/play" method='post'>
  <input type='text' name='player_name' placeholder='Your Name'>
  <input type='submit' value='Submit'>
</form>