<div>
  <center>
    <img height="500 px" src='https://esl4word.files.wordpress.com/2010/06/rock-paper-scissors.png'>
			<h1>You are about to play Rock, Paper, Scissors!!!</h1>
				<h2>Put your name and play</h2>
					<form action="/choice" method="post">
					<input type="text" name="player_name">
			<h1>Make your move, meaning sign</h1>
				<h2>You can use "Rock, Paper or Scissors"</h2>
					<input type="text" name="sign">
					<input type="submit" value="Submit">
					</form>
		</center>
</div>

