<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
  <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div id="header">
      <h1>Rock Paper Scissors</h1>
    </div>
    <div>
      <h2> Enter your name to play:</h2>
    </div>
    <div>
      <form action="names" method="post">
        Player 1: <input type="text" name="player_1">
    </div>
    <div>
      <input type="submit" value="Start" id="submit">
    </div>
      </form>
    </div>
  </body>
</html>
