<style>
main {
  text-align: justify;
  font-family: helvetica;
  font-size: 2.5vw;
  padding: 1vh 10vw;
  color: white;
  background: grey;
}
</style>

<main>
<form action='/names' method='post'>
  Enter your name: <input type='text' name='name1'/>
  <button>Submit</button>
</form>
</main>
