<!--need to refactor to add the text that the other test expects.-->
<h1>Welcome to Rock, Paper, Scissors"</h1>
<form action="/enter_name" method="post">
  <input type="text" name="enter_name"><button type="submit" name="Submit">Enter name</button>
</form>
