<h1>Welcome to: Rock, Paper, Scissors, Spock, Lizard!</h1>

<p>Please register with your name.</p>

<form method='post' action='/setup_holding'>
<input type="text" name="name">
<input type="submit" value="Submit">
</form>



