<h1>Rock, Paper & Scissors</h1>

<p>A simple web based game build on Sinatra and Ruby by Godfrey Chiu, Ronin student at Makers Academy (Jan 2016 cohort)</p>
<br>
<form action='/names' method='post'>
  <label>Please enter your name:<br>
<input type='text' name='Player_1_Name'>
</label>
<input type='submit' value='Submit'>
</form>