<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="text/css" />
<div style="display: flex; align-items: center; flex-direction: column;">
<h1 class='page-header bg-alert'>Rock Paper Scissors</h1>
<h2>Sign in to play</h2>
<div style="display: flex; align-items: center; flex-direction: column; border: 1px solid grey; padding: 10px;">
<form action="/name" method="post">
    <div style="display: flex; justify-content: center;">
    <input type="radio" name="game_type" value="classic">Classic</input>
    <br/>
    <input type="radio" name="game_type" value="special" id="special_game">Special</input>
    <br/>
    </div>
    <br/>
    <input type="text" name="player_name" placeholder="Name"/>
    <input type="submit" value="Submit" class="btn-primary"/>
</form>
</div>
</div>
