<h1>Rock Paper Scissors (Lizard Spock)</h1>
<form action= '/rules' method= 'post'>
  <input type='text' name= 'player1'>
  <input type='text' name= 'player2'>
  <input type="Submit" value= 'OK'>
</form>
