<head>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Roboto', serif;
    margin: 0;
    background-color: #D7EBF0;
  }
  h1 {
    color: steelblue;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
  }
  h3 {
    text-align: center;
    padding: 20px 0;
  }

</style>

</head>

<body>
<h1> Rock ~ Paper ~ Scissors </h1>
<h3>Do you want to play single or multiplayer?</h3>

<p>
  <form action='/multiplayer'>
  <input type="submit" value="Multiplayer">
  </form>
</p>

  <form action='/name' method='post'>

  <label for="player_1">
  Player 1 Name:
  <input type='text' name='player_1'>
  <input type="submit" name="Ready!" value="Ready!">
  </form>



</body>