<h1> Welcome to the biggest battle!</h1>
<h2>Please enter your name!</h2>

<form action="/names" method="post">
  <label for="player_name">
  <input type="text" name="player_name" >
</label>
  <input type="submit" value="Submit name!">
</form>
