<h3 class="center">Leave player 2 blank to play against the computer</h3>

<form action="/names" method="post">
  <p>Enter player names:</p>
  <label for="player1">Player one name:</label>
  <input type="text" name="player1" required><br>
  <label for="player2">Player two name:</label>
  <input type="text" name="player2">
  <p>Please select game type:</p>
  <input type="radio" id="rps" name="weapons" value="3" required>
  <label for="rps">Rock Paper Scissors</label><br>
  <input type="radio" id="rpsls" name="weapons" value="5">
  <label for="rpsls">Rock Paper Scissors Lizard Spock</label><br>
  <input type="radio" id="ultra" name="weapons" value="15">
  <label for="ultra">Ultra Rock Paper Scissors</label><br>
  <div class="center">
  <input type="submit" value="Submit">
  </div>
</form>
