<center>
  <h1> Rock, Paper, Scissors</h1>
  <form action='/name' method='post'>
    <label for="player_name">Enter Name:<p>
      <input type="text" name="player_name"><p>
    </label>
    <input type="submit" value="Go!">
  </form>
</center>