<table>
  <th>
    Welcome! Choose game mode
  </th>
  <tr>
    <td>
      <form action='/single-player'>
      <input type='submit' value='Single Player'>
      </form>
    </td>
    <td>
      <form action='/multiplayer'>
      <input type='submit' value='Multiplayer'>
      </form>
    </td>
  </tr>
</table>