<h1>Rock, Paper, Scissors</h1>

<form action="/names" method="POST">
  <label for="player_1">
    Enter your name Player 1
      <input type="text" name="player_1">
  </label>
  <label for="player_2">
    Enter your name Player 2
      <input type="text" name="player_2">
  </label>
<input type="submit" value="Submit">
</form>
