
<!DOCTYPE html>
<html>

<head>
<link rel=”stylesheet” type=”text/css” href=”/css/style.css” />

</head>

<center>
<img src="/images/Rock.png">
<img src="/images/Paper.png">
<img src="/images/Scissors.png">
<form style="text-align:center; font-family:courier;" method="post" action="/names">
        <label for="Player">
         Enter your name
        <input name=player_name type=text />
        </label>
        <input type="submit" value="Submit" />
        </form>
</center>
