<center><h1>Rock, Paper, Scissors</h1>
<h3>To start a game, enter your name below</h3>
<form action="/game" method="post">
<input type="text" name="name">
<input type="submit" value="Let's go!">
</center>
