<h2> How many people are playing?</h2>

<form action='/name_p1' method='get'>
  <input type='submit' name='player_num' value='One Player'/>
</form>
<form action='/name_p2' method='get'>
  <input type='submit' name='player_num' value='Two Players'/>
</form>
