<!DOCTYPE html>
<html lang="en">
<style>
h1, h2, h3, body {
  font-family: georgia;
  color: white;
  text-align: center;
  background-color: navy;
}
</style>
  <head>
    <title>Rock, Paper, Scissors</title>
    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <h2>Please enter your name to start the game</h2>
    <h3><form action="/names" method="post">
      Player name: <input type="text" name="p1_name" >
      <input type="submit" value="Enter"></h3>
  </head>
  <body>
    <iframe src="https://giphy.com/embed/rfp9Znzj0NyWk" width="1160" height="552" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </body>
</html>
