<body>
  <div class="container">
    <h2>WELCOME TO RPSLS! (Rock, Paper, Scissors, Lizard, Spock)</h2>
    <p>What's your name?</p>
    <form action='/' method="post">
      <input type="text" name="name" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
