<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors - Sign In</title>
  </head>
  <body>
    <form action="/start" method="post">
      <label for="player_name">Player Name</label>
      <input type="text" name="player_name" />
      <label for="rps">Rock, Paper, Scissors</label>
      <input type="radio" id="rps" name="rules" value="RockPaperScissorsRules" checked/>
      <label for="rpsls">Rock, Paper, Scissors, Spock, Lizard</label>
      <input type="radio" id="rpssl" name="rules" value="RockPaperScissorsSpockLizardRules" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>