<h1>Rock &#9994; Paper &#9995; Scissors &#9996;</h1>

<h2>Enter your name to play</h2>

<form action="/name" method="post">
  <label for="name"><h4>Name:</h4></label>
  <input type="text" name="name"/>
  <button type="submit" value="Submit">Submit</button> 
</form>