<head>
<link rel="stylesheet" href="/style.css">
</head>
<div class="container">
<h1>Welcome to Rock, Paper, Scissors!</h1>

<h2>Enjoy some hard earned down time after your strenuous marketing activities.</h2>

<form action="/name" method="post">
<p><label for="name">Please enter your name:</label></p>
<input id="name" type="text" name="name">
<input type="submit" value="I'm ready!">
</form>
</div>