<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1> Rock, paper, scissors</h1>
    <h2> Sign in to play!</h2>
    <form action="/names" method="post">
      <label for='player_1'>
        Your name:
      <input type="text" name="player_1">
      </label> </br>
      <input type="submit" value="Let's play!">
    </form>
  </body>
</html>
