<center><h1> Rock, Paper, Scissors! </h1></center><br>
<center><h2> Please Enter a Name: </h2></center>


<center><form action='/play' method='post'>
        <input type='text' name=name placeholder='Enter Name'>
        <input type='submit' value="Let's Play!">
        </form></center>
