<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="index.css">
</head>
<body>

<img src="https://miro.medium.com/max/800/1*8du96SQUQ0NlWmWvVu20Zw.png" alt="rock paper scissors"
style="width:750px;height:400px;">
<h1><center>
  Hello my liege!
</center></h1>

<h2><center>
  Before we start,
  please register your name!
</center></h2>

<form action="/names" method="post"><center>
  <input type="text" name="player_name"><center>
  <input type="submit" value="Submit">
<center></form>


</body>
</html>
