<style> body {
    background-color: blue;
    /*background-image: url("http://images.clipartpanda.com/scissors-clip-art-1388423321.png");*/
    background-size: 100% 100%;
}

h1 {
    color: red;
    font-family: helvetica;
    font-size: 80px;
}
input[type=text] {
    width: 20%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 40px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 100px;
    cursor: pointer;
    text-decoration-color: green;
    font-size: 40px;
}

</style>
<div align="center">
<h1> Please enter your names! </h1>
<form action="/two_player" >
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
</div>
