<section class="page" id="name_enter">
  <br><br>
  <form action="/name" method="post">
    <input type="text" placeholder="Enter Name" name="name">
    <br><br>
    <input class="btn btn-success" type="submit" value="Start Game">
  </form>
</section>
