<h1>Rock Papers Scissors!</h1>
<h2>Register to play</h2>

<form action="/register" method="POST">
  <label for="player1">Player One</label>
  <input type="text" name="username">
  <br>
  <input type="submit" value="Register">
</form>
