<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='./style.css' />
  </head>

  <body>
    <div class='container'>
      <form action='/play' method='post'>
        <input type='text' name='player_name' placeholder='Enter your name'>
        <!-- include here an alias dropdown with emojis -->
        <button>Play!</button>
      </form>
    </div>
  </body>
</html>
