<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RPS!</title>
  <!-- <link rel="stylesheet" href="stylesheet.css" type="text/css"> -->
  </head>
  <body>
    <h1>Game Options</h1>
    <form action='/solo' method='post'>
      <h2>Solo</h2>
      <input required="true"
             pattern="[A-Za-z]+"
             type='text'
             name="solo_player"
             placeholder="letters only"/>
      <input type="submit" value="Play!"/>
    </form>

    <form action='/multi' method='post'>
      <h2>Multiplayer</h2>
      <input type='text'
             required="true"
             pattern="[A-Za-z]+"
             name="player_one"
             placeholder="letters only"/>
      <input type='text'
             required="true"
             pattern="[A-Za-z]+"
             name="player_two"
             placeholder="letters only" />
      <input type="submit" value="PvP!"/>
    </form>
  </body>
</html>
