<h1>You are about to play Rock, Paper, Scissors!!!</h1>
<h2>Sign in and play</h2>
<form action="/choice" method="post">
	<input type="text" name="player_name">
	<h1>Make your move, mean sign</h1>
	<h2>You can show "Rock, Paper or Scissors"</h2>
	<input type="text" name="sign">
	<input type="submit" value="Submit">
</form>
