<!DOCTYPE html>
<html>
<head> </head>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body style="background-color:white;font-family:helvetica;" >

<h1 style="color:black;text-align:center;"> Welcome to Rock, Paper, Scissors! </h1>

<center><img src="http://gph.to/2tzj1Bb" alt="rps by Mr Gig" height="538" width="1059" ></center>

<h2 style="color:black;text-align:center;"> Get started by registering to play.</h2>

<center><form action="/register" method="get">
  <input type="submit" value="REGISTER">
</form></center>

</body>
</html>
