<h1 style='font-size:300%; color:#151B54; font-family:helvetica'>Rock, paper, scissors!</h1>
<h2 style='font-size:200%; color:#342D7E; font-family:helvetica'>Sign in to play...</h2>
<form action='/save_name' method='post'>
  <label for='player_name' style='font-size:200%; color:#0000A0; font-family:helvetica'>Name:</label>
  <input type='text', name=player_name style='font-size:200%; color:#0000A0; font-family:helvetica'>
  <button type='submit' style='font-size:200%; color:#0000A0; font-family:helvetica'>Go!</button>
</form>
<body style='background-color:powderblue;'></body>
