<h1> Paper, Scissor & Rock </h1>
<h3> Sign in to play! </h3>
<form name="input" action="/names" method="POST">
  <label for="player1_name">
    Player1:
    <input type="text" name="player1_name">
  </label>
  <br>
    Player2: Computer
  </br>
  <input type="submit" value="Submit">
</form>
