<h1>Welcome to Rock Paper Scissors</h1>

<form action="/players" method="post">  
  <label for="player-name">Please enter your name</label>
  <input type="text" name="name" id="player-name"><br>
  <input type="submit" value="Start game!">
</form>

