<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<div id="centered">
<h1>ROCK . PAPER . SCISSORS</h1>
<br>
</div>
  <div id='bottom' style="text-align:center">
    <div class='gif'>
      <img src= '/images/watching-you.gif'>
    </div>
    Playing alone, or with a friend?
    <div class='button-gif'>
      <a href='/enter-name'><img src='/images/just-me.gif'></a>
      <a href='/multiplayer'><img src='/images/with-friend.gif'></a>
    </div>
  </div>
</div>