<h1> Welcome to ROCK PAPER SCISSOR!!!</h1>
<h2> Please enter your name:</h2>
<form action="/VS" method="post">
  <label for='player_1'>
    Player 1
    <input type='text' name='player_1'>
  </label>
  <input type='submit' value='Submit'>
</form>
