<h2>Select your opponent:</h2>

<form action="/vscomputer" method="get">
<input type="submit" value="Computer">
</form>
<form action="/vshuman" method="get">
<input type="submit" value="Human">
</form>