<div style="text-align: center;">
  <h1>Welcome to Rock Paper Scissors</h1>
  <p><iframe src="https://giphy.com/embed/3ohzdGnD5vAud1NCZW" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
  <form action="/single_player">
    <input type="submit" value="Single Player" style="width:150px;height:50px;">
  </form>
  <form action="/multi_player">
    <input type="submit" value="Multi Player" style="width:150px;height:50px;">
  </form>
</div>
