<h1>Rock! Paper!! Scissors!!! Lizard!!!! Spock!!!!!</h1>
<form action='/one_player'>
  <button name='choice' type='submit' value='one_player'>One Player</button>
</form>
<form action='/two_player'>
  <button name='choice' type='submit' value='two_player'>Two Player</button>
</form>