<h1>Rock Paper Scissors</h1>
<p>It's not like anyone is even gonna play this so why waste time with an intro</p>

<form action="/names" method="post">
  <div>
    <label for="player1_name">Player 1 name:</label>
    <input type="text" id="player1_name" name="player1_name">
  </div>
  <div class="button">
    <button type="submit" value="submit">Confirm your name</button>
  </div>

</form>