<h1>Scissors vs. Paper vs. Rock<h1>
<h2>Sign in to play:</h2>
<form action="/name" method="post">
  <input type="text" name="player_name" placeholder="enter player name">
  <input type="submit" value="Submit">
</form>

<% if @player_name %>
<h2><%= @player_name %> is playing!</h2>
<% end %>

<img src="https://www.wikihow.com/images/d/d6/Play-Rock,-Paper,-Scissors-Step-9-Version-4.jpg">
