<head>
</head>

<body>
<h1> Rock Paper Scissors Lizard Spock! </h1>
<p> Please enter your name to play. </p>
<form method="post" action="name">
  <input type="text" name="player_name" value="Enter your name here"/>
  <input type="submit" value="Play!"/>
</form>
</body>
