<h1>Welcome to Rock Paper Scissors</h1>
<h2>Please enter your names:</h2>
<form action="/initialise" method="post">
  Player 1: <br>
  <input type="text" name="player1"><br><br>
  Player 2: <br>
  <input type="text" name="player2"><br><br>
  <input type="submit" value="Begin Game">
</form>