<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      img
      {
        width: 30%;
        height: auto;
        border: 3px solid black;
      }
      form
      {
           text-align: center;
      }
      h1
      {
           text-align: center;
      }
    </style>
  </head>
  <body>

    <h1>Rock-Paper-Scissor GAME</h1>

    <form action='/name' method='post'>
      Name:
    <input type='text' name='player1'> <br>
    <input type='submit' value='Submit'>
    </form>
    <img align='left' src="https://goo.gl/q1K3im" alt="Rock" />
    <img align='center' src="https://goo.gl/nJ9VYr" alt="Paper" />
    <img align='center' src="https://goo.gl/tvjRsa" alt="Scissor" />

  </body>
</html>
