<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
form {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h1>Hello there!</h1>
<h2>Please enter your name</h1>
<form action='/game' method='POST'>
  <label name='Name'>Name</label>
  <input type='text' name='player_name'>
  <input type='submit' value='submit'>
</form> 

</body>
