<h1 style="color:blue;font-size:30px;">Are you ready to play Rock Paper Scissors?!</h1>
<form action="/name" method="post">
  <label for="name">Please Enter Player Name: </label>
  <p>
  </p>
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>

<div>
<br></br>
<img src='https://cdn.sanity.io/images/ajwvhvgo/production/ba880a2e890bee1f34ac651de7317cdd1a0ccc78-4032x3024.jpg?w=653&q=80&fit=max&auto=format'>
</div>
