<h1><i>Rock Paper Scissors</i></h1>
<h2>Sign in to play</h2>
<form name="input" action="/names" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </div>
</form>
