
  <h3 class="text-center">You don't know who's gonna pay for the drinks tonight?</h3>
  <h4 class="text-center">Resolve this with a RockPaperScissors game!</h4>
  <br>
  <img class="img-responsive center-block" src="http://bit.ly/1Gc1POi">
    <br><br>
    <a href="/name" class="btn btn-primary center-block" role="button">New Game</a>



