<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<h1>Welcome to Rock Paper Scissors!</h1>

<p>Enter your name to play</p>

<form class="container" action="/name" method="post">
  <input class="input" type="text" name="name" placeholder="Your name...">
  <input class="submit-button" type="submit" value="Go!">
</form>

</html>