<h1> Rock Paper Scissors </h1>
<h2>Sign in to play</h2>
<form action="/name" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
