<html>
  <body>
    <form action="/name" method="POST">
    <label for="name">Name:</label> <br>
    <input type="text" id="name" name="name"> <br> <br>
    <input type="submit" value="Submit!">
    </form>
  </body>  
</html>