<link rel="stylesheet" href="main.css"/>
<div class="page">

<table width="500px">
<tr><th>
  <h1>Welcome to RSP dojo!!</h1>
</th></tr>
<tr><th>
  <span style="line-height:180%">
    <h3>Tell the master your name <br>and<br>bow to him</h3>
  </span>
  <br>
</th></tr>
<tr><th>
  <form action="/name" method="post">
    Name:
    <input type="text" name="player">
    <input id="submit_button" type="submit" value="Bow">
  </form>
</th></tr>
</table>

</div>
