<div>
<form action='/users' method='post'>
  Player 1: <input type='text' name='player1'>
  Player 2: <input type='text' name='player2'>
  Submit: <input type='submit' name='Submit'>
</form>
</div>



<%# <p> This page works :-) </p> %>