<h1> Rock-Paper-Scissors! </h1>
<br>
<h2>Please enter your name below</h2>
<br>
<form action='/names' method='post'>
  <label for='player_name'>
  Player name:
    <input type='text' name='player_name'>
  </label>
  <br>
   <label for='computer_name'>
  Name something or someone you dont like:
    <input type='text' name='computer_name'>
  </label>
  <input type='submit' value="Submit">
</form>