<h1> Rock, Paper, Scissors! </h1>

<form action="/names" method="post">
  What is your name?<br>
  <input type="text" name="player_1_name" placeholder="Player 1 name"><br><br>
  What is player 2's name? (optional)<br>
  <input type="text" name="player_2_name" placeholder="Player 2 name"><br><br>
  <input type="submit" value="Start game!">
</form>