<h1>!!!Rock, Paper, Scissors!!!</h1>

<a class= "button"> href="/rock"><img src="/imgrock.jpg" /></a>

<a class= "button" href="/paper"><img src="/img/scissors.jpg" /></a>

<a class="button" href="/scissors"><img src="/img/scissors.jpg" /></a>

<div>
  <footer>Made by Luke Taylor</footer>
</div>