<div style="text-align: center;">
  <h1 style="text-align: center; color: cadetblue;">Rock Paper Scissors!</h1>
  <img style="width: 70%; margin-left: 65px;" src="https://static1.squarespace.com/static/5c1a92beb27e393e602f9ae9/t/5c1a95bf8a922df610f27edb/1550223291803/?format=1500w" />
  <h2 style="color: chocolate;">What is your name?</h2>
  <form action="/weapons" method="post">
    <input type="text" id="player1" name="player1">  
    <input type="submit" id="submit" value="Play!">
  </form>
</div>
