<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link href="./reset.css" rel="stylesheet" type="text/css">
    <link href="./index_stylesheet.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  </head>
  <body>

    <div class="title">
      <h1>Rock. Paper. Scissors.</h1>
      <form action="/how_to">
        <button type="submit" value="play" class="button"><p>Play</p></button>
      </form>
    </div>

    <footer>
      <span>Ellie Wem</span>
    </footer>



  </body>
