<head>
  <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
  <div class=welcome_container>
    <div class=heading>
      <h1>WELCOME TO RPS</h1>
    </div>

    <form action='/start-game' method='post' class=name_form>
      <input type='text' name='player_name' placeholder='Enter your name'>
      <br>
      <input type='submit' name='submit_name' value='Start game' class=start_game >
    </form>
  </div>
</body>