<h1 style='font-family: futura'>Rock Paper Scissors</h1>
<h3 style='font-family: futura'>Enter your name:</h3>
<form action='/name' method='post'>
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>