Welcome to Rock, Paper, Scissors!
Choose what type of game you would like to play:
<form action="/gametype" method="post">
  <input type="submit" value="1 Player" name="gametype">
  <input type="submit" value="2 Player" name="gametype">
</form>