<h1>Rock Paper Scissors</h1>
<h2>Please enter your name to play</h2>
<form action="/name" method="post">
  <div>
    <label for="name">Your name:</label>
    <input type="text" name="name">
    </div>
    <div>
    <input type="submit" value="Submit">
    </div>
    </form>
