<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Rock, paper and scissors</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css"> -->
  </head>

  <body>
    <header>
      <h1>Rock, paper and scissors</h1>
    </header>

      <h2>What's your name, marketeer?</h2>
       <form action="/name" method="post">
         <input type="text" name="marketeer" placeholder="Enter your name here">
         <button type="submit">Play</button>
       </form>
  </body>
</html>
