<h1> Let's play: Rock, Paper, Scissors!</h1>

<h3>Please register your name, before playing the game :) </h3>

<form name="get_username" action="/name" method="POST"> 
<label for="name">Name:</labeL><br>
<input type="text" id="name" name="names">
<input type="submit" value="Submit">
</form>