<h1> Welcome to Rock, Paper, Scissors! </h1>

<form action="/sign_in" method="post">
  Player 1, enter your name:<br>
  <input type="text" name="player_1" > <br>
  <input type="submit" value="Enter">
</form>
