<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
  </head>
  <body>
    <div>
      <h2>Hello!</h2>
      <h2>Please enter your name</h2>
      <form method="POST" action="/new-game">
        <input class="field" type="text" name="name">
        <br />
        <input class = "button" type ="submit" value="Start">
      </form>
    </div>
  </body>
</html>
