<h1>Welcome to the rock paper scissors application</h1>
<br>
<h3>Enter your names below to continue:</h3>
<br>
<form action="/players" method="post">
  Player 1: <input type="text" name="player1">
  <br>
  Player 2: <input type="text" name="player2">
  <br>
  <input type="submit" name="submit" value="submit">
</form>
