<title>Rock-Paper-Scissors</title>
<body>
  <font>
  <h1 style="text-align: center;font-family: American Typewriter">Welcome to Rock-Paper-Scissors</h1>
</font>
<div style="text-align: center;font-family: Tahoma">
  <b>Enter your name to start the game</b>
  <form action="/name" method="post">
  <label for="name">
    Name:
  <input type="text" name="name" required ></input>
  </label>
  <input type="submit" value="submit">
  </form>
</div>
</body>
