<h1 class="announcement"> Welcome to Rock, Paper, Scissors! </h1>
<h2 class="text"> Sign in to play</h2>
<form class="sign_in" action="/players" method="post">
  <div>
    <label for="player_1">
      Player 1
      <input type="text" name="player_1" placeholder="Enter your name">
    </label>
  </div>
  <input id="hider" type=radio name="action" value="twoplay"/> One-player game
  <input id="shower" type=radio name="action" value="twoplay"/> Two-player game
  <div id="twoplay">
    <label for="player_2">
      Player 2
      <input type="text" name="player_2" placeholder="Enter your name">
    </label>
  </div>
  <div>
  <input class="button" type="submit" value="Submit">
</div>
</form>
