<h1>RPS Challenge</h1>
<h2>Sign in to play</h2>


<form action ="/login" method="post">
  <input type="text" name="player_name"/>
  <label for="player_name">Player name</label></br>
  <input id="one-player"type="radio" name="number_of_players" value="one" checked>One Player Game<br>
  <input id="two-player" type="radio" name="number_of_players" value="two">Two Player Game<br>
  <input type="submit" value="Submit"/>
</form>
