<h1 style="text-align:center;">Warfare with Assorted Stationary and Geological Elements: An Original Game from Original Game Co.</h1>
<h2>Literally hours of fun await after signing in.</h2>
<form action="/new_game" method="post">
  <label for="player_names">
    Your name:
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Play">
</form>
