<!DOCTYPE html>
  <head>
    <title>_RPS game_</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../css/content.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Hello, stranger!</h1>
        <form action="/name" method="post">
          <input class="input__field input__field--juro" type="text" name="name"></br>
          <button class="btn" type="submit" value="Submit">[ Enter your name, please ]</button>
        </form>
      </div>
    </div>
  </body>
</html>
