
<h1>Sign up to play:</h1>

<form action='/name' method="post">
  <label for="player_one">
    Name
    <input type="text" name="player_one">
    <input type="submit" value="play">
  </label>
</form>
