<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <title> Rock, paper, scissors </title>
  </head>
  <body>
      <h1> Welcome to the ultimate <span>"Rock, Paper, Scissors"</span> game!
    <div>
      <h3> Please, enter your name </h3>
      <form action='/name' method='post'>
        <input type='text' name='name'/>
        <input type='submit' value='Submit'/>
      </form>
    </div>
  </body>

</html>
