<html>
<body>
  <div>
    <form action='/play' method="post">
      <label for="player"> Start a new game of rock, paper, scissors! </label>
      <input type="text" id="player" name="player"
      placeholder="Player name">
      <input type="submit" value="Play!">
    </form>
  </div>
</body>
</div>
</html>
