<form action="/start_game" method="post">
  <h1>Type in your name</h1><input type="text" name="player_name">
  <h1>How many would you like to play to?<h1><input type="number" name="number">
  <br>
  <input type="submit" value="Submit">
</form>