<form style="text-align:center; font-family:courier;" method="post" action="/names">
        <label for="Player">
         Enter your name
        <input name=player_name type=text />
        </label>
        <input type="submit" value="Submit" />
        </form>
