<body style='text-align: center; background-image: linear-gradient(to bottom right, purple, silver);'>
    <h1 style='margin: 100px;'>Welcome to Steadmans Rock, Paper Scissors Game!!</h1>
    <div style='margin: 100px;'>
      <h3>Enter name to play</h3>
      <form action='/players' method='post'>
        <label for='player1'>
          Player 1
          <input type='text' name='player1'>
        </label>
        <input type='submit' value='Submit'>  
      </form> 
    </div>  
</body>