<link rel="stylesheet" type="text/css" href="/css/style.css">
<h1>Register to play</h1>

<form action = "/registered" method = "post">
  <label for = "player_name">
    Enter your name:
    <input type = "text" name = "player_name">
    <button type = "submit">Submit</button>
    
  </label>  
  
</form>