<h1>Rock Paper Scissors Lizard Spock</h>
<br>
<h2>Please enter your name</h2></br>
<form action = '/welcome' method = 'POST'>
  <label for = 'player_1_name'>
    Player 1 name
    <input type = 'text' name = 'player_1_name'>
</label>
</br>
  <input type = 'submit' value = 'Submit'>
</form>
