<h1>Welcome to the rock, paper, scissors game!</h1>

<h2>Please enter your name and click 'Submit' to start the game!</h2>

<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" name="submit">
</form>