<html>
  <head>
    <title>RPS</title>
  </head>
  <body>
    <h1>Welcome to Rock-Paper-Scissors</h1>
    <h2>How many players?</h2>
    <form action='/name-entry' method='post'>
      <input type='submit' name='players' value='1'>
      <input type='submit' name='players' value='2'>
    </form>
  </body>
</html>