<html>
<head>
<style>
body {background-color: #000000; color: white}
h1   {color: gold; font-size: 300%;}
p    {color: red;}
</style>
</head>
<body>
<div align="center">

<h1>ROCK PAPER SCISSORS</h1>
<h2>Enter your name to play:</h2>

<form action="/names" method="post">
<label for="player_1"></label>
  <input type="text" name="player_1">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

</div>
</body>
</html>
