<h1>Rock Paper Scissors</h1>
<h2>Enter your name to play!</h2>
  <form action='/name' method='POST'>
    <label for ='name'>
      name:
      <input type='text' name='name'>
    </label><br>
    <input type='submit' value="Let's play!">
  </form>
