<!DOCTYPE html>
<html>
<head>
<style>
body {background-color:#6666FF;}
h1 {text-align:center; font-family:Courier;}
h2 {text-align:center; font-family:Courier;}
form {text-align:center;}
</style>
</head>
<body>

  <h1>
  Welcome to my game of Rock, Paper, Scissors!
  </h1>
  <h2>
  Enter your name below to play
  </h2>

  <form action='/name' method='post' id='user_input'>
  <input type='text' name='Player'>
  </form>

</body>
</html>