<h1>Rock Paper Scissors</h1>
<h2>enter names to play</h2>

<form method="post" action="/names">
  <input type="text" name="player_1_name" placeholder="Player 1 name" required>

  <label for="player_2_name">
    
    <input type="text" name="player_2_name" placeholder="Player 2 name">
    leave blank for single player vs computer
  </label>

  <input type="submit" value="Start">
</form>