<section>
  <h3> Rock / Paper / Scissors </h3>
  <form action="/name" method="post">
    <input type="text" name="name" value="Your name">
    <h5> vs. </h5>
    <h3> Computer </h3>
    <input type="submit" value="Play!">
  </form>
</section>
