<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<%= url('/styles.css') %>">

<h1>
  Play Rock-Paper-Scissors!
</h1>

<p>
  <form action="/game" method="post">
    Enter your name: <input type="text" name="Name" value=<%= session[:Name] %>>
    <input type="submit" value="Play">
  </form>
</p>
