<h1 style="font-size:70px;">Rock Paper Scissors!</h1>

<form action='/names' method='post'>
  <label for='player_1_name'>
    <font size="4">Player 1</font>
    <input type='text' name='player_1_name' style = "font-size: 12px">
  </label>
  <input type='submit' value='Log in!' style = "font-size: 55px">
</form>

  <!-- <style>



  </style> -->
