<h1> Welcome to the Rock, Paper, Scissors challenge! </h1>
<div>
  <img src="https://rockpaperscissors.com/wp-content/uploads/2016/12/rps-logo-og.png">
</div>

<h2>Add your names below:</h2>
<form action='/players' method='post'>
  Player 1: <input type="text" name="player_1_name">
  Player 2: <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
