<%= erb :header %>

<div class="content">
  <h1 id="title">ROCK. PAPER. SCISSORS.</h1>

  <div>
  <form id="index_form" action="/begin" method="post">
    <div>
      <label for="name" id="form_text">Enter name to play</label>
    </div>
    <div>
      <input type="text" name="name" id="user_input" required>
    </div>
    <button id="submit">Play</button>
  </form>
  </div>
</div>

<%= erb :footer %>
