<div style="font-family:'Courier New'">
  <style> h1 {text-align: center;}
          p {text-align: center;}
          form {text-align: center;}
          body {background-image: url("hands.png");
          background-repeat: no-repeat;}
  </style>
    <body bgcolor="#66FFCC">
      <h1>Let's play rock, paper, scissors!</h1>

      <p>Please enter your name</p>
      <form action="/" method="post">
        <input type="text" name="name"  autofocus>
        <input type="submit" value="New Game">
      </form>
</div>
