<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: pink;
}
</style>
</head>
<body>

<h1 style="text-align:center">Welcome to the game of Rock Paper & Scissors </h1>
<br>
<br>
<h2 style="text-align:center">Please enter you name</h2>
  <form action="/name" method="post">
  <div style = "position:relative; left:480px; top:2px;">
  <label  for="pname"></label>
  <input  type="text" name="pname"><br><br>
  <input  type="submit" value="Submit" style="width: 150px; margin: 0 auto;" />
  </div>
</form>
</body>
</html>
