<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <body>
    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <form action="/names" method="post">
      <label for="name">Player, enter your name below:</label><br><br>
      <input type='text' id="name" name="player_1" placeholder="John Doe">
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>