<div style="text-align: center;font-size: 20px; padding: 20% 0;">
  <form action="/play" method="post">
    <p>Please enter your name:</p>
    <input type="text"  name="player_one" style="font-size: 20px;padding: 0.5rem;">
    <button type="submit" style="margin: 1rem;height: ;padding: 0.5rem 1.5rem;font-size: 18px;">Submit</button>
  </form>
</div>
