<div style="text-align: center; font-family: 'Trebuchet MS'; color: blue; font-size: 20px; padding: 50px; border: 50px solid blue; background-color: green">
  <h1>ROCK, PAPER, SCISSORS!</h1>
  <h2>Enter your name to play</h2>
  <h3>:)</h3>
  <form action="/name" method="post">
    <input type="text" name="player">
    <br>
    <br>
    <input type="submit" name="Submit">
  </form>
</div>