<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script type="text/javascript" src="js/mousetrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
</head>

<body>

<div id="title-box">
  <h1>Ruby, Paper, Scissors!</h1>
</div>

<div id="subtitle-box">
  <h3>Please enter your name below.</h3>
</div>

<div id="form-box">
  <form method="post" action="/player_name">
    <input id="name-box" name="player_name" title="player_name" type="text"><br>
    <input id="submit-button" type="submit" value="Submit">
  </form>
</div>

<div class="popup" id="scores_popup">
  <p class="popup_contents" id="scores_contents">Scores!</p>
</div>

<div class="popup" id="rules_popup">
  <p class="popup_contents" id="rules_contents">Rules!</p>
</div>

<div class="popup" id="easter_egg_popup">
  <img id="quack" src="images/quack.jpg">
  <p class="popup_contents" id="easter_egg_contents">Quack, quack!</p>
</div>

</body>

<script type="text/javascript">

    Mousetrap.bind('q u a c k', function(){
        $("#easter_egg_popup").css("visibility", "visible");
        $("#easter_egg_popup, #easter_egg_contents").click(function() {
            $("#easter_egg_popup").css("visibility", "hidden");
        })
    });

</script>

</html>