<head>
  <title>Rock, Paper, Scissors</title>
</head>

<body>

  <h1>Play!</h1>
  <div class="input_text">
    <form class="text_field" action="/names" method="post">
      <h3>Player1_name:</h3> <input type="text" name="player1_name" autofocus>
      <h3>Player2_name:</h3> <input type="text" name="player2_name"></br>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</body>
