<div class="name_box">
  <form class="name" action="/name" method="post">
    <label for="name_box"> Please enter your name:
      <input type="text" name="name">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
