<h1 align="center"><font face="futura" color="pink" size="9">ROCK - PAPER - SCISSORS</font></h1>

<center><img src="https://i.pinimg.com/736x/e6/51/73/e65173bde72cb8ab8c7efd0b9925af64--recycled-t-shirts-rock-paper-scissors.jpg"></center>


<h2 align="center"><font face="futura" color="red" size="5"> CHOOSE YOUR OPPONENT </font></h2>

<center><a href="/human"><img STYLE="position:absolute; TOP:620px; LEFT:600px;" src="https://image.flaticon.com/icons/png/512/10/10522.png" width="82" height="82" ></a></center>

<center><a href="/computer"><img STYLE="position:absolute; TOP:620px; LEFT:750px;" src="https://cdn0.iconfinder.com/data/icons/seo-and-marketing/32/codification-512.png" width="82" height="86" ></a></center>
