<h1>!!!Rock, Paper, Scissors!!!</h1>
<h2>Register to play</h2>
<form action="/player" method="post">
  <label for="player">
    Player's name:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Submit">
</form>