<h1>Welcome to the game of Rock, Paper, Scissors!</h1>
<h2>Enter your name to start a game</h2>
<form action="/name_intro" method="post">
  <label for='player_name'>
    Your name goes here
    <input type="text" name="player_name">
  </label>
<input type="submit" value="Submit">
</form>
