<h1>Rock, Paper and Scissor</h1>
<h2>Register to play</h2>

<form action="/name" method="post">
<label for='player'>
  Name
  <input type="text" name="player">
</label>
<br> </br>
<div>
  <input type="submit" value="Play">
</div>
</form>
