<h1>Sign in to play</h1>

<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</label>
</form>
