<!DOCTYPE html>

<html class='title_page'>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class='title'>
    <h1>Enter your name!</h1>
  </div>
  <form action='/name' method='post'>
    <div class='buttons'>
      <label for=player>Players name</label>
      <input type='text' name='name'/>
    </div>
    <div class="buttons">
      <input type='submit' value="Submit"/>
    </div>
  </form>
</body>
</html>
