<form action="/players" method="post">
<label for ="player_one">Player One:</label>
  <input type="text" name="player_one">
  <label for ="player_two">Player Two:</label>
  <input type="text" name="player_two">
  <input type="submit" value="Submit">
</form>
