<html>
<!-- <link href="/CSS/styles.css" rel="stylesheet" type="text/css" /> -->
<head>
  <title>ROCK PAPER SCISSORS</title>
</head>

<body>
<center>
<BR>
'Welcome to Guillaume 's Rock, Paper, Scissors game!'<BR>
So far one of the ugliest game ever designed, but hey, I'm learning!
<BR><BR>
<img src='http://thetopcut.net/wp-content/uploads/2014/01/unnamed.jpg'>
<!-- none of these static files are working and no idea why.
Need to ask teachers as I did like in tutorial
<img src='http://localhost:4567/public/images/homepagelogo.jpg'>
<img src="/Users/guillaumebouffard/Projects/rps-challenge/public/images/homepagelogo.jpg"> -->
<BR><BR>
<a href ='/start'>Start a new game</a>
</center></body>

</html>