<div>
  <h1>Scissors, Paper, Rock</h1>
</div>
<div>
  <h2>Enter your name to play</h2>
  <br>
</div>
<form action="/names" method="post">
  <label for="player_name">
    Player Name
    <input type="text" name="player_name">
  </label>
  <br>
  <div>
    <br>
    <input type="submit" value="Submit">
  </form>
  </div>
