<center>
  <h1> Ready to try your luck? </h1>
  <form action='/name' method="post">
    <input type="text", name="name">
    <label for="computer">Computer<input type="radio", name="opponent" value="computer" id="computer"></label>
    <label for="user">Friend<input type="radio", name="opponent" value="user" id="user"></label>
    <input type="submit", value="Let me play">
  </form>
</center>
