<!DOCTYPE html>
<html>

<title>!!Rock, Paper, Scissors!!</title>


<h1>
  ---------------PLEASE ENTER YOUR NAME---------------
</h1>

<form action='/names' method='post'>
  <label for="player_name">
  PLAYER NAME
  <input type='text' name='player_name'>
  </label>
  <input type='submit' value='Submit'>
</form>

</html>
