<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/styles.css"> -->
</head>
<body>
  <div>
  <h1>Rock Paper Scissors</h1>
  </div>
  <div>
    <a href='/name'>Play</a>
  </div>
</body>
</html>
