<link rel="stylesheet" type="text/css" href="/style.css">
<div align="center">
<h1>🤘 📰 ✂️</h1>

<form action="/name" method="post">
  <div>
      <input type="text" name="player_1_name" placeholder="Player 1 - Enter your name">
      <input type="text" name="player_2_name" placeholder="Player 2 - Enter your name">
      <div class="button-area">
        <input type="submit" class="button-style" value="Go!">
      </div>
  </div>
</form>
<div>
