
<h1> Rock, Paper, Scissors Game</h1>
<h2> Do you think you can beat the AI computer?!</h2>
<p> Choose between Rock, Paper or Scissors</p>
<ul>
  <li> <strong> Rock </strong> beats scissors, but loses from paper </li>
  <li> <strong> Paper </strong> beats rock, but loses from scissors</li>
  <li><strong> Scissors </strong> beats paper, loses from rock</li>
</ul>
<br />
<p> Choose your weapon!</p>
<br />
<form action="/name" method="post">
  <label for "player_name"> Please enter your name.
    <input type="text" name="player_name">
  </label>
    <input type="submit" value="Leggo!">
</form>
<hr>
<br />
