<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/drop-in.css">

  <title>Rock, Paper, Scissors</title>
</head>

<header>
  <h1 class="main-heading">R P S</h1>
  <h4 class="off-main">Rock   - Paper -   Scissors</h4>
</header>
<br>
<body class='background-image'>
  <br>
  <div class='form'>
  <form action="/play" method="post">
    <h4 class='form-heading'>ENTER NAME</h4>
    <input type="text" name="player1_name">
    <br>
    <br>
    <input class='button' type="submit" value="PLAY">
  </form>
  </div>
  <br>
</body>
</html>
