<html lang="en">
<head>
<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
<h1> Welcome to RPS!</h1>
</header>
<h2> Please enter your name below and click submit to play.</h2>

<form action='/name' method='post'>
  Name: <input type="text" name="name">
  <input type="submit" value="Submit">
</form>


</body>
</html>
