<center><h1>ROCK PAPER SCISSORS!</h1><center>

  <form action="/game" method="post">
    <label for="player">
        Name:
        <input type="text" name="player">
      </label>
  <input type="submit" value="Play">
  </form>
