<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
form {text-align: center;}
</style>
</head>
<body style="background-color:powderblue;">

<h1>Welcome player!</h1>
<h2>Register your name to play the game</h2>
<form action="/name" method="post">
  <input type="text" name="player">
  <input type="submit" value="Register">
</form>

</body>
</html>
