<center><h1>Please enter your name:</h1>
<form action="/name" method="post">
  <input type="text" name="name">
<center><input type="submit" value="Submit"></center>
</center></form>
<center><img src="https://media.istockphoto.com/vectors/rock-paper-scissors-vector-illustration-vector-id824700882?k=6&m=824700882&s=612x612&w=0&h=1suqNu6Q8hEiFwkxmb6NX6eOXnorydHHb5Y0EPjZY1M="></center>
