<h1>Welcome to Rock, Paper, Scissors, Spock, Lizard!</h1>
<div>
<img src='https://content.instructables.com/ORIG/FIU/AIWE/I7Q0TCUT/FIUAIWEI7Q0TCUT.jpg?auto=webp&frame=1&fit=bounds&md=5b8102e911f24990417073b8517e53d2'>
</div>
Please select your game mode!

<form action="/singleplayer" method="get"><input type="submit" value="Single Player"></form>
<form action="/multiplayer" method="get"><input type="submit" value="Multiplayer"></form>