<style>
h1 {
  font-family: monospace;
  font-size: 40px;
  float: center;
}

h2 {
  font-family: monospace;
  font-size: 15px;
  float: center;
}

div1 {
  font-family: monospace;
  font-size: 15px;
  float: center;
}
</style>

<h1 align="center">Rock Paper Scissors!</h1>
<h2 align="center">Sign in to play</h2>
<div align="center">
  <form align="center" action="/names" method="post">
    <div1>
      <label for="player_1_name">
        Enter your name:
      </label>
    </div1>
    <div>
      <input type="text" name="player_1_name">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
