<form action="/names" method="post">
    <div>
        <label for="name">Player:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div class="button">
        <button type="submit">Save name</button>
    </div>
</form>
