<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='/style.css' />
</head>
<body>
<div>
  <h1>Rock Paper Scissors Showdown</h1>
<form action='/names' method='post' style='display: inline-block;'>
  Player one: <input type='text' name='enter-name-one'/><br><br>
  Player two: <input type='text' name='enter-name-two'/><br>
  <button>Submit</button>
</form>
</div>
</body>
