<center><body style="background-color: #90c9bf; text-shadow: 2px 2px 3px rgba(0,0,0,.2); font-size: 18px; color: #f2f2f2; font-family:rockwell">
<br>
<br>
<h1>Welcome</h1>  
<h2> to rock, paper, scissors!</h2>
    <h3>What's your name?</h3>
  <div>
    <form action='/info' method='post'>
      <input type='text' name='player_1'>
      <input class='btn' type='submit' value="Let's play!">    
    </form>
  </div>
</body>
</center>