<!DOCTYPE html>
<html>
  <body>
    <div>
      Lets play Rock Paper Scissors! Choose either single or multi-player
    </div>
    <div>
      <form method='get' action='/single_player'>
        <div class='button'>
          <input type='submit' value='single-player' id='single-player'>
        </div>
      </form>
    </div>
    <div>
      <form method='get' action='/multi_player'>
        <div class='button'>
          <input type='submit' value='multi-player' id='multi-player'>
        </div>
      </form>
    </div>
  </body>
</html>
