<h1>Rock, Paper, Scissors</h1>
<h3>Who is playing?</h3>
<form action="/save-name1" method="post">
  <input type="text" name="name1"/>
  <input type="submit" name="button" value="Start game against computer"/>
  <input type="submit" name="button" value="Add another human player"/>
</form>
