<!DOCTYPE html>
<html>
<body>

<h1>ROCK PAPER SCISSORS</h1>
<h2>Sign in to play</h2>

<form action="/names" method="post">
  Name:<br>
  <input type="text" name="player_1_name">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
