<!DOCTYPE html>

<html>
  <head>
    <title> Rock, paper, Scissors</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <style>
    input {
    background: red;
    margin: 20px;
    border-color: red;
    font-size: 24px;
    font-family: "Audiowide", sans-serif;
    }
    html, body {
        height: 100%;
    }
    html {
        display: table;
        margin: auto;
    }
    body {
      background-color: yellow;
      font-family: "Audiowide", sans-serif;
       margin-left: auto;
      margin-right: auto;
      display: table-cell;
      vertical-align: middle;
    }
</style>
  </head>

<body>
  <h1>Let's Rock Paper Scissor </h1>
  <form action="/name" method="post">
    <label for="name">
    Enter your name to play
      <input type="text" name="name">
    </label>
    <input type="submit" value="Let's Play!">
  </form>
</body>
</html>