<form action="/play" method="post">
  <font size="7">Good day to you fellow gamers!<br><br></font>
  <font size="5">Please enter you're names below to register to play the Ulmitate game of Rock, Paper, Scissors!<br><br></font>
  <input type="text" name="registeredplayer1">
  <input type="text" name="registeredplayer2">
  <br><br>
  <button>Register</button>
</form>