
<body>
  <form action="/names" method="post">
    <input type="field" name="player1_name" placeholder="Enter a name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter a name'" />
    <div class="separator"></div>
    <input type="submit" value="Submit" />
  </form>
</body>
