
<head>
  <title>Rock Paper Scissors</title>
  <link href='style.css' type='text/css' rel='stylesheet'>
</head
<body>
  <h1>Welcome to Rock Paper Scissors</h1>
  <h2 >Enter your name:</h2>
  <form action='/play' method='post' >
    <input type='text' name='player'>
    <input type='submit' value="Let's play!">
  </form>
</body>
