<h1>Welcome to the Rock-Paper-Scissors game!</h1>

Please choose one of the following options to begin:
<p></p>
<form action='/1-player' method='get'>
  <input type='submit' value='1 player'>
</form>
<form action='/2-players' method='get'>
  <input type='submit' value='2 players'>
</form>
