<h1> Rock, Paper, Scissors: </h1> 
<h3> The game of champions </h3>
<br> <br>
<h4> Choose your game type </h4>
<form action="/solo-game" method="get">
  <input type="submit" value="Solo Game">
</form>
<form action="/multiplayer-game" method="get">
  <input type="submit" value="Pass and Play (2 player mode)">
</form>
