<form class="step-form" action="/enter_names">
    <label class="form_label" for="player_1"> Enter Player 1 name</label>
    <input class="form_input" type="text" name="player_1">
    
    <label class="form_label" for="player_2">Enter Player 2 name</label>
    <input class="form_input" type="text" name="player_2">

    <input type="submit" value="Submit">
</form>