<h1>Rock, Paper, Scissors</h1>
<h2>Fun times ahead for you, my friend</h2>
<p>Please enter your name</p>
<form action="/play" method="post">
  <input type="text" name="name">
  <input type="submit" value="Let's play">
</form>
