<div>
  <font size = 10> <center> Hello! Welcome to Rock Paper Scissors.

  Do you want to play 1 or 2 player mode? </font><center>

  <a href="/form">1 Player</a> <a href="/2pform">2 Player</a>

  <img src=http://advisoranalyst.advisoranalystgr.netdna-cdn.com/wp-content/uploads/2014/05/thumb_6917_rockpaperscissors.jpg" alt="rps">
</div>
