<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Rock, Paper, Scissors</title>
  </head>

  <body>
    <h1 class='title'>Rock, Paper, Scissors</h1>
    <p>Welcome to Rock, Paper, Scissors. Would you like to play multiplayer or solo?</p>
    <form action='/computer' method='post'>
      <input type='submit' value='Computer Game'>
    </form>
    <form action='/multiplayer' method='post'>
      <input type='submit' value='Multiplayer'>
    </form>
  </body>
  <iframe src="https://giphy.com/embed/JQAXhJMw2WbKWYjn8g" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Friends-season-2-friends-tv-the-one-where-dr-ramoray-dies-JQAXhJMw2WbKWYjn8g">via GIPHY</a></p>
</html>