<div>
<h1> Rock - Paper - Scissor</h1>

<form action='/name' method='post'>
<input type='text' name='player' value='Insert player name'> 
<button type='submit' value='submit'> Start Game
</form>
</div>

<style> 
button {
  background-color:whitesmoke;
  color: rgb(3, 0, 0);
  padding: 7px 50px;
  margin: 1px 1px;
  cursor: pointer;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif
}

input[type='text'] {
  background-color:whitesmoke;
  color: rgb(3, 0, 0);
  padding: 7px 30px;
  margin: 1px 1px;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-family: Arial, Helvetica, sans-serif
}
</style>
