<!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- prevents mobile zoom-->
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title>Enter name</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/index.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<h1 class="">WELCOME TO THE JUNGLE</h1>
			<div class="subheading">
				<h4>ENTER YOUR NAME</h4>
			</div>
			<br>
			<form action="/names" method="post" class="center-block">
				<label for="player 1 name">
					<input type="text" name="name" placeholder="Enter your name" autofocus required>
				</label>
				<label for="submit button">
					<input class="btn btn-success" type="submit" value="PLAY!">
				</label>
			</form>
			</div>
	</body>
</html>