<h1>Lets play Rock, Paper & Scissors!</h1>
<h2>Input your name to play</h2>
<form action="/name" method="post">
  <label for="player_1_name">
    Player name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>