<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/index.css" />
</head>

<form action="/names_vs" method="post">

  <div class="left">
  <h1>Enter name for Player 1:</h1><br><br> <input type="text" name="player1" ><br><br><br>
  <input type="submit" value="Submit">
</div>

<div class="right">
  <h1>Enter name for Player 2:</h1><br><br> <input type="text" name="player2" >
</div>


</form>
