<head>
  <link rel = "stylesheet"
   type = "text/css"
   href = "/stylesheet.css" />
  <title>Rock, Paper, Scissors!</title>
</head>

<body>
  <div class="container">
    <div class="content">
      <h1>It's time to play Rock, Paper, Scissors!</h1>
      <h2>Tell us your name to play</h2><br>
        <form action="rps/name" method="post">
          <input type="text" name="player_name"><br>
          <br>
          <input type="submit" value="Play!"><br>
        </form>
    </div>
  </div>
</body>
