<html>
  <body>
    <h1>Let's play Rock, Paper, Scissors!</h1>
    <h2>Sign up below to play:</h2>
    <form action='/name' method='post'>
        <label for='name'>Player Name:</label>
        <input type='text' name='player_name'>
        <button type='submit'>Submit</button>
    </form>
  </body>
</html>
