<h1>Welcome to Rock Paper Scissors!</h1>

<h2>Please enter your name</h2>

<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Enter name">
</form>
