<html>
<head>
</head>
<body>

Hello and welcome to rock, paper and scissors!

<form action="/name" method="POST">
  <label for="player_name">Please enter your name:</label>
  <input type="text" name="player_name" id="player_name">

  <input type="submit" value="submit">
</form>

</body>
</html>
