<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <body>

    <form action="/name" method="post">
      <input type="text" name="player_name" placeholder="Name: ">
      <input type="submit" value="LET'S ROCK!">
    </form>

  </body>
</html>
