<section class="overlay">
  <h1> Rock | Paper | Scissors #game</h1>
  <form action="/name" method="post">
    <input type="text" name="name" value="Your name">
    <h5> vs. </h5>
    <h3> Computer </h3>
    <input type="submit" value="Play!">
  </form>
</section>
