<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
      <title>STONE, SCRIPT, OR SWORD?!</title>
    </head>
    <body>
  <center>
    <h1>STONE, SCRIPT, OR SWORD?!</h1>
      <h2>a "rock, paper, scissors" spin-off game</h2>
  <form action="/player_names" method="post">
    <input type="text" class="playername" style="text-align: center" name="player[name]" placeholder="player">
      <input type="text" class="playername" style="text-align: center" name="player[img]" placeholder="image url">
      <br>
    <input type="submit" value="RPS" class="submit-player_name">
  </form>
</center>
</body>
</html>
