<h1> Welcome to Rock Paper Scissors! </h1>
<h2> Enter your name to start. </h2>

<form action="/start" method="post">
  <label for="name">Enter name: </label>
  <input type="text" id="name" name="player_name">
  <input type="submit" value="Go!">
</form>

<div>
  <img src='https://www.google.com/search?q=rock+paper+scissors&sxsrf=ALeKk00t1zLKV4KVuv74vGz7Aq6fanZcoQ:1586011753834&source=lnms&tbm=isch&sa=X&ved=2ahUKEwitp8mZgs_oAhWOO8AKHR00DsAQ_AUoAnoECBcQBA&biw=1366&bih=689#imgrc=cgACzHjK6sPjxM'>
</div>

