<!DOCTYPE html>

<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" type=”text/css” href="/css/style.css" />
</head>

<body>
<h1>Let's play Rock, Paper, Scissors!</h1>
</body>

</html>