<style>
  h1 { font-family:helvetica,sans-serif;color:white }
  p  { font-family:helvetica,sans-serif;color:white }
</style>
<center>
<body style="background-color:powderblue;">
  <br>
  <h1>Let's play Rock, Paper, Scissors</h1>
  <form action='/name' method='post'>
    <p>Please enter Player 1's name:</p>
    <input type='text' name='name1'/>
    <p>Please enter Player 2's name:</p>
    <input type='text' name='name2'/>
    <br>
    <br>
    <input type='submit' value='Submit'/>
  </form>
  <h1>&#x2702</h1>
  </center>
</body>
