
<body>
<h1>Welcome to the greatest game going!</h1>
<h2>Name two is optional,
  leave it blank if you want to play a computer</h2>
  <form action = "/start" method = "POST">
    <input type = "text" name= "Enter name">
    <input type = "text" name= "Player two">
    <input type = "submit" value = "Begin...">
  </form>
</body>
