<html>
<!-- <link href="/CSS/styles.css" rel="stylesheet" type="text/css" /> -->
<head>
  <title>ROCK PAPER SCISSORS</title>
</head>

<body>
<center>
<BR>
'Welcome to Guillaume 's Rock, Paper, Scissors game!'
<BR><BR>
<img src='http://thetopcut.net/wp-content/uploads/2014/01/unnamed.jpg'>
<BR><BR>
<a href ='/start'>Start a new game</a>
</center></body>

</html>