<!DOCTYPE html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1> Hello there!</h1>
  <form>
    <label for="name">Enter your name</label>
    <input type="text" name="name">
  </form>
</body>
</html>