<form action="/name" method="post">
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <p>Please enter your name and click Play to start</p>
  <label>What your name? </label>
  <input type="text" name="name">
  <input type="submit" name="Play" value="Play">
</form>
