<html>
<head>
<link href="/index.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Paytone One' rel='stylesheet'>
    <title>Rock, Paper, Scissors</title>

</head>
<body>
    <header>
        <h1>Johnny's Rock, Paper, Scissors game</h1>
        <h2>Please enter Player's name</h2>
    </header>
    <img src="https://games-b26f.kxcdn.com/wp-content/uploads/2019/05/afa3762f2882f50d6d9fac5127e7714db86084b9a5b98ed9e57c4ab42c50d907_product_card_v2_mobile_slider_639-770x470.jpg">
    <div>
    <form action="/name" method="post">
    <input type="text" name="name" style="height: 40px;">
    <input type="submit" value="Submit">
    </form>
    </div>
</body>


</html>