<header>
  <h1>Rock, Paper, Scissors, Lizard, Spock</h1>
</header>

<main>
  <form action="/name" method="post">
    <input type="text" name="name" placeholder="Enter Your Name" />
    <button class="right" type="submit" name="submit">Play</button>
  </form>
</main>