<h1> "Welcome To ROCKPAPERSCISSORS" </h1>
<h2> "Please Enter Your Name!"</h2>
<form action="/" method="post">
  player1: <input type="text" name="player1" />
  <input type="submit" value="Submit">
</form>
