<!DOCTYPE html>
<head>

</head>
<body>
  <h1>Rock Paper Scissors</h1>
  <form class="" action="/register" method="post">
    <label for="human_player_name">
      Enter name to play:
      <input type="text" name="human_player_name" value="">
    </label>
    <input type="submit" name="" value="Play!">
  </form>
</body>
