<div style="text-align: center; margin-top: 100px">
  <h1>Rock Paper Scissors</h1>
  <img src="http://i.imgur.com/qbHME84.png"><br><br>
  <a href="/sign_up" style="text-decoration: none">Sign Up to enjoy RPS!</a>
</div>
