<h1>Welcome to Rock, Paper, Scissors, Spock, Lizard!</h1>
<p><small>Yes this game is as stupid as it sounds.</small></p>

<h2>Would you like to play alone or with a friend?</h2>

<form action="/" method="post">
 <input type="submit" value="Single Player Mode" name="game_mode">
</form>
<form action="/" method="post">
 <input type="submit" value="Two Player Mode" name="game_mode">
</form>