<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Choose number of players!</h2>
<form action="/players" method="post">
  <input type="submit" name="player_count" value="1 player">
  <input type="submit" name="player_count" value="2 players">
</form>
<br>

<img class="front-picture" src="https://i.pinimg.com/originals/4f/59/5f/4f595f39ba23e06e5dc76862dc7ab8bb.jpg">

<!-- <img class="front-picture" src="http://i.imgur.com/98OAvHd.png"> -->
