<h1>Rock, Paper & Scissors</h1>

<p>A simple web based game build on Sinatra and Ruby by Godfrey Chiu, Ronin student at Makers Academy (Jan 2016 cohort)</p>
<br>

<form action='/game_type' method='post'>
  <label>Human vs. CPU
    <input type='radio' name='game' value='oneplayer' checked></label><br>
    <label>Human vs. Human
      <input type='radio' name='game' value='twoplayer'></label><br>
      <br><br>
      <label>Normal Rules
      <input type='radio' name='rules' value='normal' checked></label><br>    
      <br>
      <label>Extended Rules
      <input type='radio' name='rules' value='extended'></label><br>    
      <input type='submit' value='Submit'>
    </form>

