<h1> Rocks, Paper Scissors! </h1>
<h2> Are you ready to take on your computer in the epic battle of a lifetime? <p> If so, enter your name below to begin. </p>


<form action="/name" method="post">
  <label for="player">
    Enter your name, o brave human player:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Start the game">
</form>
