<!DOCTYPE html>
<html>
<head>
  <title>
    Rock,Paper,Scissors!
  </title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
<!--   <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
</head>
<body>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-10 col-xs-8">
      <h1>Rock, Paper, Scissors!</h1>
        <form class="form-inline" action="/game" method="post">
          <input type="radio" name="options" value="rock" checked> Rock
          <input type="radio" name="options" value="paper"> Paper
          <input type="radio" name="options" value="scissors"> Scissors
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        </div>
      </div>
    </div>
</body>
</html>

