<div>
<h2 align="center">Welcome to Rock, Paper, Scissors</h2>

  <p> How many are playing? </p>
  <form action="/one" method="get">
  <input type="submit" value="One Player">
  </form>
  <form action="/two" method="get">
  <input type="submit" value="Two Player">
</form>
</div>
