<h3>Welcome to Rock Paper Scissors!</h3>
<form name ='player_input' action='/player' method='get'>
  <label for='player'>
    Please input your name to begin playing:
    <input type='text' name='player1'>
  </label><br>
  <input type='submit' value='submit'>
</form>
