<h1>Rock, Paper, Scissors!</h1>
<h2>Enter names to begin!</h2>

<form action="/names" method="post">
  <label for="player_one_name">
    Player one:
    <input type="text" name="player_one_name">
  </label>
  <label for="player_two_name">
    Player two:
    <input type="text" name="player_two_name">
  </label>
  <input type="submit" value="Submit">
</form>
