<body bgcolor="#82E0AA">
<center><h1> Welcome to Rock, Paper, Scissors! </h1>
<h1> Please enter your name: </h1>
<form action="/save_name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form></center>
