<h1>Welcome to Rock Paper Scissors!</h1>
<h3>Please enter your name to begin...</h3>
<form action="/names" method="post">
  <div>
    <label for="player1">Enter Your Name:</label>
    <input id="Player 1 Name" type="text" name="name1">
    <input type="submit" value="Submit"/>
  </div>
</form>