
<style>
center {
  padding-top: 10px
      }
</style>
<style>
.div {
  background-color: lightgrey;
  width: 200px;
  border: 10px solid grey;
  padding: 10px;
  margin: 1px;
}
body {
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
}
</style>

<center>
<head>

<div class="div"> <h1>Ready for a came of Rock Paper Scissors Spock Lizard?</h1>
    <form method="POST" action="/name">
      <h2>What's your name?</h2>
      <input type="text" name="name">
      <input class="button1" type="submit" value="Submit">
</div>
</form>
<img src="https://cdn.instructables.com/ORIG/FIU/AIWE/I7Q0TCUT/FIUAIWEI7Q0TCUT.jpg">