<!-- <body img src=https://png.pngtree.com/thumb_back/fw800/back_pic/04/29/66/64583fd8be8000f.jpg> -->
<link rel="stylesheet" type="text/css" href="style.css">
<h1 style="text-align:center;"> Welcome to the battle! </h1>
<h2 style="text-align:center;">Please enter your name :</h2>
<form  id="submit_form" action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<!-- </body> -->
