Testing infrastructure working!

Welcome to Rock, Paper, Scissors

<form action='/names' method="post">
    <label for="player1">
      Enter your name:
      <input type="text" name="player1">
    </label>
    <input type='submit' name="Submit">
</form>
