<!doctype html>
<html>

  <head>
    <title>Rock Paper Scissors Game</title>
    <style>
      body {
        font-family:helvetica;
      }
    </style>
  </head>

  <body style="background-color:#00bfff;">
    <div style="width:800px; margin: 0 auto; text-align: center;">
      <h1 style="font-size: 50px;">Welcome to Rock, Paper, Scissors</h1>
        <br><br><br><br><br>
      <p style="font-size: 20px;">Please enter your name and we can begin!</p>
    </div>

    <div style="text-align: center;">
      <br><br><br><br>
      <form action="/choose_RPS" method="post">
        <input type="text" name="player_1">
        <input type="submit" value="Submit">
      </form>
    </div>

  </body>
</html>