<h1>Rock Paper Scissors</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player">
    Player 1 name
    <input type="text" name="player_name">
  <labe1/>
  <input type="submit" value="Submit">
</form>