<h1>Welcome to ROCK, PAPER, SCISSORS!</h1>
<h3>Please enter your name below:</h3>
<form action='/choose_rps' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Prepare to battle!'>
</form>
