<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>


<body>
<h1>Let's play rock-paper-scissors!</h1>
<h2>enter your name to play...</h2>
<form action="/name" method="post">
  <label for="player_name">
Enter Player name...
  <br>
  <br>
  <input type="text" name="player_name" value="">
  </label>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
</body>
