<h1>Enter your name</h1>
<form action="hold" method="post">
  Name: <input type="text" name="player_1">
            <input type="submit" value= "Confirm name">
</form>


<iframe width="1280" height="568" src="https://www.youtube.com/embed/xhyCKLKaG0c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
