<h1>For your chance to beat the computer at this famous game, input your name</h1>
<form action="/names" method="POST">
  <input type=text name=player_name value='' />
  <input type=submit value=Play />
</form>