<!DOCTYPE html>
<html>
<body style="background-color:#F48D37;">

<center>

  <h1> ROCK, PAPER, SCISSORS </h2>

<div class='form'>
  <form action='/rps' method='post'>
    <label for='name'>Enter Name:</label>
    <input type='text' name='name' />

    <button type='submit'>Enter Game</button>
  </form>
</div>

<h2> Enter name, to enter game </h2>

<img src="http://www.sandboxthreads.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/r/p/rps.png" >

</center>

</body>
</html>
