<h1>WElCOME TO ROCK, PAPER, SCISSORS</h1>

<h2>How many players?</h2>
<form action="/enter_names" method="get">
<button type="submit" name="players" value="1">1 Player</button>
<button type="submit" name="players" value="2">2 Player</button>

</form>
