<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
<header>Rock Paper Scissors</header>
<h6>Please enter your name(s)</h6>
<form action='/names' method='post'>
  <input type='text' name='p1_name'>
  <input type='text' name='p2_name'>
  <input type='submit' value='Submit'>
</form>
</body>
</html>