
<div id = 'singleplayer_img' class = "singleplayer_img">
  <a href = "/singleplayer"> <img src = "https://images.pexels.com/photos/260024/pexels-photo-260024.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt = 'Single Player Image'> </a>
</div>

<div id = 'multiplayer_img' class = "multiplayer_img">
  <a href = "/multiplayer"> <img src = "https://images.pexels.com/photos/442576/pexels-photo-442576.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt = 'Two Player Image'> </a>
</div>
<form action = '/play' method = 'post' >
  <input type = 'text' name = 'player_name' >
  <input type = 'submit' value = 'Submit' >
</form>
