<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
<h1> Welcome to the Rock, Paper, Scissors Game </h1>
<br>
<h3> Please enter your name: </h3>
    <form action='/names' method='post'>
      <input type='text' name='player_name'>
      <input type='submit' value='Submit'>
    </form>

  </body>
</html>
