<style>
  body {
    background-color: #80ced6;
    text-align: center;
  }
</style>
<body>
<div>
  <h1>Welcome to Rock Paper Scissors</h1>
  <hr>
  <h2 class="align-items: center">Please enter your name:</h2>
  <form>
    <input type="text" name="user_name"></input>
  </form>
</div>
<body>
