<h1>Rock Paper Scissors</h1>

<form action='/start'>

  <p>Select the level of game you want to play</p>
    <input type='radio' name='normal'><label>Normal</label>
    <br>
    <input type='radio' name='advanced'><label>Advanced - Rock Paper Scissors Lizard Spock</label>
    <br>


  <p>Select the mode you want to play</p>
    <input type='radio' name='single'><label>Single Player</label>
    <br>
    <input type='radio' name='multi'><label>Multi Player</label>
    <br><br>


  <input type='submit' value='Start Game' style='color: white; background-color: black;'>
</form>
