<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player name
    <input type="text" name="player_1_name" required>
  </label>
  <input type="submit" value="Submit">
</form>
