<h1 class='rps'> Rock Paper Scissors </h1>

<h2 class='enter_name'> Enter your name to play </h2>

<form class="form" action="/names" method='post'>
  <label for="Player1">Player1:</label>
  <input type="text" name="Player1" required >
  <input class="play_button" type="submit" value="Play">
</form>

