
        <table class="home center">

          <form action="/names" method="post">
            <tr>
              <td>
                  <label for="p1_name">Player 1 Name:</label>
                  <input type="text" id="p1_name_box" name="p1_name">
              </td>
              <td>
                  <label for="p2_name">Player 2 Name:</label>
                  <input type="text" id="p2_name_box" name="p2_name">
              </td>
              <td>
                  <button type="submit" class="btn purple" id="submit_names">Submit Names</button>
              </td>
            </tr>
          </form>
          </table>
