<center><h1>Welcome to my Rock, Paper, Scissors app!</h1>

<center><form action="/name" method="post">
  <h2>Player 1 enter your name:</h2>
  <input type="text" name="player_1_name">
  <h2>Player 2 enter your name:</h2>
  <input type="text" name="player_2_name">
<p>
  <input type="submit" value='Submit'>
</form>
