<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
  <body>
    <audio autoplay="true">
      <source src="A Night Of Dizzy Spells.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  <div class="title">
    <h1>Rock, Paper, Scissors!</h1>
  </div>
    <div class="logo">
      <img src="logo.png">
    </div>

    <h2>Preparing for battle! Enter name:</h2>
      <form class ="form-block" action="/names" method="post">
        <label class="label" for="player_1_name">
          <input class="input" type="text" name="player_1_name">
        </label>
          <button type="submit" value="submit" class="button btn btn-default">
            Play
          </button>
      </form>
    <div class="footer">
      <p>version 1.0</p>
    </div>
  </body>
</html>
