<form action="/name" method="post">
    <ul>
        <li>
            <input type="text" name="player">
        </li>
        <li>
            <input type="submit" value="Submit">
        </li>
    </ul>
</form>
</div>