<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<body style="padding:0; margin:0">
  <div style="margin-right:-100px;background:url('https://fossbytes.com/wp-content/uploads/2016/03/android-commercial-rock-paper-scissors.jpg') bottom right; background-size: contain">

<div id="side-menu" style="border-right: 3px solid pink;background-color:#333; height:100%; width:400px">

<h3 style="margin:0 0 50px 0;padding:20px 20px 0;font-size: 90px;color:white;text-shadow: 3px 6px black">Rock, Paper, Scissors</h3>
<div style="text-align:left; font-family:Helvetica;color:#ccc;padding:0 30px; margin:0">
<form action="/start" method="post">
  <div style="font-size:20px;margin:20px 0"><label style="margin-right:10px" for="username_1">Player 1:</label><input style="height:25px;width:200px;background-color:pink" type="text" name="username_1"></div>
  <div style="clear:both;font-size:20px;margin:20px 0"><label style="margin-right:10px" for="username_2">Player 2:</label><input style="height:25px;width:200px;background-color:pink" type="text" name="username_2"></div>
  <input style="background-color:#ddd;border-radius:5%;margin-top:20px; padding:3px 20px;font-size:24px;" type="submit" value="Enter">
</form>
</div>
<div>
</div>
</body>
