<h1>Welcome to the Rock, Paper, Scissors</h1>
<h2>Please enter your name and hit submit</h2>

<form action="/play" method="post">
<input type="text" name="player_name">

<input type="submit" value="Submit">
</form>
