<h1>Rock Paper Scissors</h1>

<br>
<br>

<form action="/1player" method="get">
  <input type="submit" value="1 Player">
</form>

<form action="/2player" method="get">
  <input type="submit" value="2 Player">
</form>
