<form action='/name' method='post'>
  <label for='name1'>
    Player 1, what is your name?
    <input type='text' name='name1'>
  </label>
  <label for='name2'>
    Player 2, what is your name?
    <input type='text' name='name2'>
  </label>
  <input type='checkbox' name='name2' value='machine'>
  	Try my luck against the MACHINE
  </br>
  <input type='submit' value='Start the fun'>
</form>