<h1> Welcome to Rock, Paper, Scissors!</h1>
<h2> Please enter your name </h2>
<form action="/intro" method="post">
  <label for="player 1 name">
    Player 1 name
  <input type="text" name="player_1_name" autofocus>
</label>
<!-- <label for="player 2 name">
  Player 2 name
  <input type="text" name="player_2_name">
</label> -->
  <input type="submit" value="Submit">
</form>
