<link rel="stylesheet" type="text/css" href="/style.css" />

<h1>Rock Paper Scissors!</h1>

<form action = "/single_player", method = "get">
  <input type = "submit", value = "Single Player", id="submit">
</form>


<form action = "/multi_player", method = "get">
  <input type = "submit", value = "Multiplayer", id="submit">
</form>
