<!-- homepage view -->
<form action="savename" method="post">
<!-- name form -->
<div>
<label for="playername">Enter name:</label>
<input type="text" name="playername">
</div>

<!-- submit button -->
<div>
  <input type="submit" value="Submit">
</div>

</form>
