<style> body {
    background-color: blue;
    background-image: url("http://images.clipartpanda.com/scissors-clip-art-1388423321.png");
    background-size: 100% 100%;
}
</style>


<h1> Please enter your name! </h1>

<form action="/name" >
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>
