<h1> Welcome to rock paper scissors<h1>
<h2> Please enter your name </h2>
<form action = "/names" method = "post">
<label for "player_1_name"> name:</label>
<input type = "text" name = "player_1_name">
<input type = "submit" value = "Play">

</form>
