<h1 style='border: 3px dashed red' > Welcome to MA's Ultimate ROCK PAPER SCISSORS </h1>

<div>
<img src=https://goo.gl/BgQaQr />
</div>

<form action="/names" method="post">
player_1: <input type="text" name="player_1" />
<!-- player_2: <input type="text" name="player_2" /> -->
<input type="submit" value="Submit" />
</form>
