<!DOCTYPE html>
<html>
  <head>
    <!-- <link href='/style.css' rel="stylesheet" type="text/css" /> -->
  </head>
  <body>
    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <form action="/register" method="post">
      <div id="name">
        <label for="name">What's your name?</label>
        <input type="text" name="name">
      </div>
      <br>
      <div id="submit">
        <input type="submit" value="Register">
      </div>
    </form>
  </body>
</html>
