<h1>Hello!</h1>

<h2>Please enter your name...</h2>

<form action="/name" method="post">
    <input type="text" name="player_1_name">
  <input type="submit" value="Let's Start!" id="submit" style = "margin-top: 15px;">
</form>
