<h1>Welcome to Mr Rosso's Rock Paper Scissors</h1>

<img src="http://www.sitcomsonline.com/photopost/data/1171/4328da.jpg" width="576" height="432" frameBorder="0" allowFullScreen>

<h2>Register to play</h2>

<form action="/name" method= "post">
  <label for="name">
    Name:
    <input type='text' name='name'>
  </label>
  <input type="submit" value="Submit">
</form>
