<html style="text-align: center">

  <h1 style="font-family: Arial; color: Navy">Lets play Rock, Paper, Scissors!</h1>

  <form action='/name' method='post'>
    <h3 style="font-family: Arial; color: LightSlateGray">Enter your name here:</h3>
    <input type='text' name='player_name' />
    <input type='submit' value='Play' />
  </form>
  
</html>
