<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='container'>
    <div class='center'>
      <h1 class='title'>Would you like to play a game of Rock, Paper, Scissiors?</h1>
      <h2 class='title'>Enter your name if you would like to play</h2>
    </div>
    <div class='center'>
      <form action='/name' method='post'>
        <label for='name'>Register your name:</label>
        <input type='text' name='name'>
        <input type='submit' value='Submit'>
      <form>
    </div>
    </div>
 </body>
</html>