<h1> Single Player </h1>
<form action = "/name" method = "post">
<label for 'Player name'> Name: </label>
<input type='text' id = 'Player name' name = 'name'>
<input type='submit' value='Play'>
</form>
<br>
<h1> Multiplayer </h1>
<form action = "/multi_name" method = "post">
<label for 'Player 1 name'> Player 1 Name: </label>
<input type='text' id = 'Player 1 name' name = 'name1'>
<br>
<label for 'Player 2 name'> Player 2 Name: </label>
<input type='text' id = 'Player 2 name' name = 'name2'>
<br>
<input type='submit' value='Versus'>
</form>
<br>
<img src = 'https://upload.wikimedia.org/wikipedia/commons/6/67/Rock-paper-scissors.svg'>