<!DOCTYPE html>
<html>
  <head>
    <title>RPS Game</title>
    <link rel="stylesheet" href="/style.css">
</head>

  <body>
    <h2>Welcome to....</h2>
    <h1>Rock, Paper, Scissors</h1>
    <br></br>
    <h2>Please sign in to play</h2>
    <form action="/registered" method="post">
      <label for="player">
          Enter your name:
        <input type="text" name="marketeer">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
