<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
  </head>
  <body>
    <div>
      <form action='./name' method='post' >
        <lable for="player">Player's Name</lable>
        <input type="text" name="player">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
