<div style='text-align: center; font-family: Helvetica'>
<h1>Rock, paper, scissors!</h1>
<h2>Enter names to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_1_name">
    Computer name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
</div>
