<style>
  body {
          background-image: url("http://media2.giphy.com/media/ZrlFjwhclknWE/giphy.gif");
          background-repeat: repeat;
        }
</style>
<h1 align="center"><font face = "helvetica" size="6" color="white">ROCK PAPER SCISSORS <br> LIZARD SPOCK WIZARD <br> SPIDERMAN BATMAN GLOCK <br> ...IN SPACE!!!!!!!!</font></h1>
<style>
form {
margin: 0 auto;
width:250px;
text-align:center;
}
</form>
</style>

<form action="/name" method="post">
  <label for="player_name">
    <font face ="helvetica" size="3" color="white">Enter your name:</font><br>
    <input type="text" name="player_name">
  <label/>
  <input type="submit" value="Challenge one of Macey's friends">
</body>
</head>
