<!DOCTYPE html>
<html>
<title>Welcome to the Rock, Paper, Scissors Game!</title>
<body>
<h1>Please register your name to start the game:</h1>
<br>
<div><form action="/name" method="post">
  <input type="text" name="marketeer_name">
  <input type="submit" value="Submit">
</form>
</div>
</body>
</html>