<link rel='stylesheet' type='text/css' media='screen' href='main.css'>

<div id='container'>
  <div id='heading'>Rock, Paper, Scissors, Lizard, Spock.</div>

  <form id='names' action='/create_game' method='post'></form>

  <div><input form='names' type='text' name='one' placeholder='one player'></div>
  <div><input form='names' type='text' name='two' placeholder='two player'></div>

  <div id='buttons'>
    <button form='names' type='submit' value='Go!'>Go!</button>
  </div>

</div>
