<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<style>
body {
    font-family: 'Aclonica';font-size: 22px;
}
</style>

<h1>Rock, Paper, Scissors</h1>
<h2>Sign in to play....</h2>
<form action="/play" method="post">
  <div>
     <label for="Player 1 name">Player 1 Name:</label>
       <input type="text" name="player_1"><br><br>
     <input type='submit' value='Submit'><br>
   </div>
</form>
