<div class='box'>
  <h1>Welcome!</h1>
  <p>
    Let's play Rock Paper Scissors.
    <br>
    Please enter your name.
    <form action='/username' method='post'>
      <input type='text' name='username'>
      <br>
      <input type='submit' value='Begin'>
    </form>
  </p>
</div>
