<!DOCTYPE html>
<html>
<head>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player 1: <input type='text' name='player_1'>
    <input type='submit' value='Submit'>
  </form>

</body>
</html
