<style>
    body {
        text-align: center;
        color: white;
        background-image: url('http://hdwpro.com/wp-content/uploads/2015/12/Texture-Background-1620x1080.jpg');
        background-size: 100% 100%
    }
    form {
        display: inline-block;
    }
</style>

<h1><center>Rock, Paper, Scissors</center></h>

<h1><center>Please enter your name</center></h1>

<body>
<img src="https://i0.wp.com/www.thegamegal.com/wp-content/uploads/2012/01/Rock-paper-scissors.png?fit=500%2C330&ssl=1">
<br>
<br>
<form action="/play" method="post">
<label="Your name">
  Your name:
  <input type="text" name="credentials">
  </label>
  <input type="submit" value="Submit">
</form>
</body>