<h1>Enter your name to start a game of Rock, Paper, Scissors</h1>
<form action="/startgame" method="post">
  <div>
    <input type="text" name="player_name">
  </div>
  <div>
    <input type="submit" value ="Play">
  </div>
</form>
