<h1> Welcome to Rock Paper Scissors! </h1>
<br>
<img src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/oncoming-fist.png">
<img src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/raised-hand.png">
<img src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/victory-hand.png">
<br>
<br>
<form action="/names" method="post">
<h2>  Please enter your name: </h2.
  <br>
  <br>
  <input type="text" name="player_name">
  <input type="submit" value="Play">
</form>
