<h1> Are you ready to play?</h1>
<h2> Enter your name to begin. </h2>

<form action="/player_name" method="post">
  <label for="player_1">
    Enter Player 1 Name: 
    <input type"text" name="player_1">
  </label>
  <input type="submit" value="Lets Play!">
</form>