<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
<br>
<h2>Enter player name:</h2>
<br>
Use 'Computer' to play against the computer.
<form action="/names" method="post">
  <input type="text" name="player_1" value="Player 1"> vs.
  <input type="text" name="player_2" value="Computer"><br/>
  <br>
  <input type="submit" value="Let's Play!">
</form>

<img src="https://camo.githubusercontent.com/53197502bd583bf3d3821a044d831647ffa6d4ae/687474703a2f2f692e696d6775722e636f6d2f774d41306137442e6a7067" style="width:1000px;height:850px;">
