<h1 align="center">Rock Paper Scissors!</h1>


<form action="/names" method="post">
  <fieldset align ="center">
    <legend>Register in to play RPS:</legend>
      <label for="player_name"><br>
        Enter your name here:
        <br><br>
      <input type="text" name="player_name">
      <br><br>
      <input type="submit" value="Register">
  </fieldset>
</form>
