<h1> Welcome to RELAXATION! </h1>
<h2>Add your name below for FREE registration!!</h2>
<form action='/name' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Register'>
</form>
