<link rel="stylesheet" href="css/styles.css">
<div class="container">
  <h1 id="Title"> Rock / Paper / Scissors </h1>
  <br>
  <form action="/names" method="post">
    <label for="player1_name">
      Player 1:
      <input type="text" name="player1_name" placeholder="Enter your name">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
