<style>
#vcontainer {
  display: table;
  height: 100%;
  width: 100%;
}
#hcontainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#content {
  display: inline-block;
  border: lightGray 1px solid;
  background-color: #EE82EE;
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
  font-family: 'Acme', sans-serif;
}

</style>
<body>
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <div id="vcontainer"><div id="hcontainer">
    <div id="content">
      <br>
      <h1>ROCK. PAPER. SCISSORS.</h1> <br>
      <br>
    </div>
    <h3>What's your name pretty thang?</h3>
    <form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>  
  </div></div>
</body>