<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel=stylesheet type=text/css href=/site.css />
    <link rel=stylesheet type=text/css href=/index.css />
  </head>
  <body>
    <h1>Welcome to Rock, Paper Scissors!</h1>
    <p>What's your name?</p>
    <form action="/name" method="post" class="basicForm">
      <input type="text" name="name" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
