<h3> Welcome to Rock, Paper, Scissors, please enter your name </h3>

<form action="/names" method="post">
  <label for="player_1"> 
    Enter name 
    <input type="text" name="player_1">
    <input type="submit" value="Submit">
  </label>
</form>