<h1>Welcome to Rock, Paper, Scissors</h1>
<img src='/stop-fighting.jpg' alt='Rock, paper and scissors fight'>
<br>
<form action='/save-name' method='post'>
  <input name='name' type='text'>
  <input value='Submit' type='submit'>
</form>
