<form class="" action="/name" method="post">
  <label for="name">Player 1 name:</label>
  <input type="text" name="player_1_name" value="">
  <input type="submit" name="submit" value="Play!">
</form>
