<head>
<link rel=StyleSheet href="./views/stylesheets/style.css" type="text/css">
</head>

<!--

<head>
<style>
body {
    background-color: navy;
}

h1 {
    color: white;
    margin-left: 40px;
}
h2 {
    color: white;
    margin-left: 40px;
}

form {
    color: white;
    margin-left: 40px;
}
</style>
</head> -->



<h1>Prepare to Rock, Paper, Scissor...</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for-"player_1_name">
    Player 1 name
    <input type="text" name="player_1_name" />
  </label>
  <input type="submit" value="Submit" />
</form>
