<h1>Rock, Paper, Scissors!</h1>
<h2>Enter your name and your choice of 'rock', 'paper' or 'scissors' below</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Your name
<input type="text" name="player_1_name">
  </label>
  <label for=player_1_choice>
    Your choice
<input type="text" name="player_1_choice"
  </label>


<input type="submit" value="Submit">
</form>
