<!DOCTYPE html>
<html>
<body>
<h2>Rock Paper Scissors! (RPS)</h2>
<p>If you feel brave enough for a game enter your name... </p>
<br>
<form action="/names" method="post">
<input type="text" name="post_name">
<input type="submit" value="Press enter... i dare you">
</form>
</body>
</html>