<h1>Welcome to RPS</h1>
<form action="/named-players" method="post">
    <label for="player1">Enter Player 1:</label>
    <input type="text" name="player1">
    <button type="submit">Submit</button>
</form>
