<body class = "index_page">
  <section class="title">
    <h1 style="color:red;">Rock, paper, scissors!</h1>
    <h3>Enter your name!</h3>
  </section>

  <section class="name_form">
    <form action="/names" method="post"
      <label for="player_1_name"> Player 1 name
        <input type="text" name="player_1_name">
      </label>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </section>
</body>
