<style>
div {
  position: absolute;
  background-color: #B9DEED;
  font-family: Helvetica;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
form {
  text-align: center;
  margin: auto auto 35% auto;
}
p{
  text-align: center;
  font-size: 75px;
}
ul {
  list-style: none;
}
h1 {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px
}
li {
  margin: 10px auto auto auto;
}
</style>

<div>

  <h1>Welcome to</h1>

  <p>Rock.Paper.Scissors</p>

  <form action="/game" method="post">
    <ul>
      <li>
        <label>What's your name:</label>
      </li>
      <li>
        <input type="text" name=name>
      </li>
      <li>
        <input type="submit" value="Play!" name=submit>
      </li>
    </ul>
  </form>

</div>
