<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>


<body>
  <div>
    <h1>Rock. Paper. Scissors.</h1>
    <p>To begin, please enter your names</p>
    <form action="/gamenames" method="post">
      <label for="name1"></label>
      <input type="text" name="name1">
      <label for="name2"></label>
      <input type="text" name="name2">
      <input type="submit" value="Let's play!">
    </form>
  </div>
</body>
