<% if @player_name %>
<h2>Player: <%= @player_name %><h2>
<% else %>
<h1>Enter name</h1>
  <form action="/" method="POST">
    <input type="text" name="name">
    <input type="submit" value="start game">
  </form>
<% end %>