<h1>Rock Paper Scissors</h1>
<h2>Let the battle begin</h2>

<form action = '/name' method='post'>
  <label for="name">Please enter your name: <input type="text" name='player_1'/></label>
  <button type="submit">Submit</button>
</form>
