<body bgcolor="#010101">

<h1>
  <p style="color: #E2F3C5; font-size: 70px; text-align: center; font-family: monaco;"> RAWK • PAYPAH • SKIZZORZ! </p>
  <h1>

    <form action="/name" method="post">

      <label for="player_name">
        <p style="color: #A4FA03; font-size: 40px; font-family: monaco; text-align: center;"> Whats Ya Name? </p>

        <p><input type="text" style="padding: 10px; color: black; border-radius: 50px; background-color: white; position: absolute; left: 753px; top: 260px" name="player_name"></p>
      </label>

      <p><input type="submit" style="padding: 30px; color: #C20202; font-size: 20px; border-radius: 60px; background-color: #A4FA03; position: absolute; left: 735px; top: 350px" value="READY TO FLEX"></p>

    </form>
