<p>Welcome to Rock-Paper-Scissors!</p>
<p>Please enter your name</p>
<form method="POST" action="/play">
  <input class="field" type="text" name="name">
  <input class ="button" type ="submit" value="PLAY">
</form>
