<center>
<h4>Rock...</h4>
<h3>Paper...</h3>
<h2>Scissors!</h2>
<br>
  <form action ="/info" method ="post">
    <label for="player1">
      Player Name:
      <input type="text" id = "player1" name="player1">
    </label>
  <br>
  <br>
    <input type="submit" value="Let's Go!">
</form>
</center>