<div>
  <body background="http://pre01.deviantart.net/ed3e/th/pre/f/2013/168/e/3/rock_paper_scissors_lizard_spock_by_ayame_senpai-d69gsas.jpg" opacity="0.5">
  <center>
    <font color="white">
      <h1>Welcome friend, to the most intense game of Rock, Paper, Scissors you have ever seen!</h1>
      <h4>What is your name?</h4>
      <form action="/names" method="post">
      <p>Player name: <input type="text" name="player_1_name"></p>
      <p><input type="submit" value="Janken!"></p>
      </form>
    </font>
  </center>
  </body>
</div>
