<div>
  <body style="background-color:Tomato;">
  
    <h1> Welcome to the ROCK, PAPER, SCISSORS game!!! </h1>
    
    <form action="/game" method="post">
      <ul style="list-style: none;">
        <li>
          <label for="name">Your name:</label>
          <input type="text" name="name">
        </li>
        <li>
          <input type="submit" value="Submit and PLAY!">
        </li>
      </ul>
    </form>
  </body>
</div>
