
<form method='POST'  >
<p> First, please enter your name: </p>
<input type = "text" name = "name">

<p> Would you like to play a one player game? </p>

<button type = "submit" formaction="/one_player"> One player </button>
<button type = "submit" formaction="/two_player"> Two player </button>

 </form>
