<h1>You're about to play a nailbiting game of Rock, Paper, Scissors!!!</h1>

<form action='/names' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
