<h2> Rock, Paper, Scissors </h2>

<form action='/enter_name' method='post'>
  <label for='name'> Player name:
    <input type='text' name='player_1_name'>
  </label>
  <br><br>
  <input type='submit' value='Submit'>
</form>
