<form action="/name" method="post">
<h1>
  Welcome to Rock Paper Scissors!
</h1><br>

Please enter your name:<br>
<input type="text" name="name">
<div class="button" align = "center">
  <button type="submit">Submit name</button>
</form>
