

<body>
  <nav>
    <li> Welcome to RPS </li> <li> How this works </li>
  </nav>

  <form action="/name" method="post">
    <input type="text" name="name"/>
    <input type="submit" value="Submit"/>
  </form>

</body>
