<center>
<h1 style='color: SkyBlue'>Welcome to RPS game</h1>
<br>
<h2 style='color: Orange'>To play against Computer:</h2>
<h3>Please enter your name below to start the game.</h3>
<form style='color: Gold' action="/names" method="post">
  <label for="p1_name">
    Name:
    <input type="text" name="p1_name">
    <input style='color: Gold' type="submit" value="Enter Game">
  </label>
</form>
</center>
