<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand" rel="stylesheet">
</head>

<h1>Rock, Paper, Scissors</h1>

<form action="/play" method="post">
  <label for="name">Please enter your name:</label>
  <input type="text" name="name" placeholder="Your name">
  <input type="submit" name="play" value="Play!">
</form>
