<h1> Rsp!</h1>
<h2>Sign in to play Rock, Paper Scissors online!</h2>
<form action="/names" method="post">
  <label for="player">
  <input type="text" name="player">
  <input type="submit" value="Submit">
</form>

