<div>
  <h1>Welcome to</h1>
  <p>Rock.Paper.Scissors</p>
  <form action="/game" method="post">
    <ul>
      <li>
        <label>What's your name:</label>
      </li>
      <li>
        <input type="text" name=name>
      </li>
      <li>
        <input type="submit" value="Play!" name=submit>
      </li>
    </ul>
  </form>
</div>
