<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors</title>
  <head>

<body bgcolor="#0D75CD"; style="text-align: center">
  <h1> Welcome to Rock, Paper, Scissors</h1><br>
  <br>
  <img src="https://www.actuaries.digital/wp-content/uploads/2016/10/ScissorsPaperRock-960x400.jpg" alt="Rock, Paper, Scissors(image)">
  <br>
  <h2> Please enter your name to play the game.</h2>
  <form action="/player" method="post" >
    <input type="text" name="player1" >
    <input type="submit" value="Enter Name" >
  </form>


</html>
</body>
