<!DOCKTYPE html>
<html>
<body>
<link rel="stylesheet" type="text/css" href="styles.css">
<div class = "main">

<head>
  <h1>ROCK, PAPER, SCISSORS</h1>
</head>
<body>
  <%# <h2></h2> %>
  <form action="/play" method="post">
    <label for="player_name">
    Welcome, enter your name:
    <input type="text" name="player_name">
    <input type="submit" value="submit">
  </form>
</body>

</div>
</form>
</body>
</html>