<link rel="icon" href="http://oi58.tinypic.com/10nuftd.jpg" type="image/jpg" />

<!-- external styling -->
<link rel="stylesheet" href="bootstrap.min.css" />

<div class="main">
  <h1 class="title">Rock, Paper, Scissors.</h1>
  <a href="/new_game">
    <img alt="Click here to get started!"
    src='http://s29.postimg.org/uqez80y7b/jc_YIn.png'>
  </a>
</div>