<h1>Welcome!</h1>

<h3>Would you like to play a game of Rock, Paper, Scissors?</h3>

<p>Click Single Player if you would like to play against the computer</p>
<p>Click Multiplayer if you would like to play against a friend</p>

<form action="/single" method="get">
    <input type="submit" value="Single Player">
</form>

<form action="/multi" method="get">
    <input type="submit" value="Multiplayer">
</form>

<!-- <form action="/name" method="post">
  <label for="Name">
    <input type="text" name="player">
  </label>
    <input type="submit" value="Enter Game">
</form> -->
