
  <h3 class="text-center">You don't know who's gonna pay for the drinks tonight?</h3>
  <h4 class="text-center">Resolve this with Rock-Paper-Scissors!</h4>
  <br>
  <img class="img-responsive center-block" src="http://i.imgur.com/8PMuVQF.png">
  <br>
  <br>
  <div class="text-center">
  <form action='/player' method='get'>
  <a href="/player" class="btn btn-primary text-center">New Game</a>
  </form>
  </div>