<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h1> Welcome to Rock Paper Scissors <h1>

<h4>Please enter your name to play.</h4>
	<form action="/gameplay" method="post">
  <input id="name_field" name="name"></input>
	<label>I would like to play Best of...</label>
	<select name="best_of" value="best_of">
	  <option value="1">1</option>
	  <option value="3">3</option>
	  <option value="5">5</option>
	  <option value="7">7</option>
	  <option value="9">9</option>
	</select>
  <input id="submit_btn" type="submit" value="Play!"></input>
	</form>