<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <header></header>
      <main>
        <div id='name_form'>
          <form action = '/game' method = 'post'>
            <input type = 'text' name = 'player_name' value = 'player1'>
            <input type = 'submit' value = 'Submit'> 
          </form>
        </div>
      </main>
      <footer></footer>
    </body>
  </html>
