<h1> Welcome to rock, paper, sciscors! </h1>
<form action="/name" method=post>
  <label for="name">
    Oooh I bet your name would look good in here!
    <input type="text" name="name">
  </label>
  <input type="submit" name="I'm ready!"
</form>
