<h1>Rock, Paper, Scissors</h1>
<form action="/names" method="post" id="player_names_form">
<p>Please enter your name:</p>
  <div>
    <label for="player_1_name">Player 1:</label>
    <input type="text" name="player_1_name" id="player_1_name" required>
  </div>
  <div>
    <input type="submit" value="Play!">
  </div>
</form>