<h1>Rock, Paper, Scissors, Spock, Lizard!</h1>
<h2>Enter your name (leave the second box empty to play against the computer):</h2>
<form action = "/name" method="post">
  <label for="player_1">Your name:
    <input type="text" name="player_1">
  </label>
  <label for="player_2">Your name:
    <input type="text" name="player_2">
  </label>
  <input type="submit" value="Submit">
</form>
