<html>
    <body style="background-color:rgb(77, 196, 71)">
        <h1><center>Welcome to RPS!</center></h1>
            <form action="/name" method="post">
                <label for="player_1">
                Player Name
                <input type="text" name="player_1">
                <input type="submit" value="Submit">
            </form>
    </body>
</html>