<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Register</title>
    <style>

    h1 {font: 72px didot; text-align: center;}

    h3 {
      font: 20px;
      font-family: helvetica ;
      text-align: center;
      font-weight: 200;
      letter-spacing: 10px;
    }

    p {
      font: 18px;
      font-family: helvetica;
      text-align: center;
      font-weight: 200;
      letter-spacing: 10px;
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }

    input {
      font: 18px;
      font-family: helvetica;
      font-weight: 200;
      letter-spacing: 3px;
      text-align: center;
      margin: 20px
    }
    input[type="submit"] {
      background-color: white;
      color: #404040; /* Dark Grey */
      font-size: 20px;
      font-family: helvetica;
      font-weight: 150;
      letter-spacing: 3px;
      border: 2px solid #D3D3D3; /* Light Grey */
      border-radius: 12px;
      padding: 12px 28px;
    }
    input:focus {outline:0;}
    div.centerbutton {
      text-align: center;
      table-layout: fixed;
    }
    div.centerbutton span {
      padding: 50px
    }
    </style>
  </head>
  <body>
	  <h1>ROCK PAPER SCISSORS</h1>
	  <h3>THE TIMELESS CLASSIC</h3>
	  <br>
	  <hr />
	  <form action="/register_names" method="post">
	    <br>
	    <br>
	    <p>ENTER PLAYER NAME<input type="text" name="player_1_name" style="text-transform:uppercase"></p>
	    <br>
	    <br>
      <p>FIRST TO 3 WINS</p>
	    <br>
      <br>
	    <p><input type="submit" value="PLAY"></p>
	  </form>
	</body>
</html>
