Would you like to play against a human or against Ms. Autoplay?
<form action="/multiplayer" method="get">
<input type="submit" value="Human">
</form>
<form action="/singleplayer" method="get">
<input type="submit" value="Ms. Autoplay">
</form>
