<!DOCTYPE html>
<html>

<body>
  <center>
  <div>  <h1>Welcome to Rock, Paper, Scissors! </h1>   </div>

    <h1>Enter your name to begin: </h1>

    <form action="/name" method="post">
      <label for="name">
        <input type="text" name="name">
      </label>
      <input type="submit" value="Play!">
    </form>
  </center>
</body>

</html>
