<h1>It's...ROCK PAPER SCISSORS!</h1>
<h2>Enter your name and choose your weapon. Now.</h2>
<form action="/name" method="post">
  Your name:
  <br>
  <input type="text" name="name">
   <br>
   Your weapon:
   <br>
   <input type="radio" id="rock" name="choice" value="rock">
   <label for="rock">Rock</label><br>
   <input type="radio" id="paper" name="choice" value="paper">
   <label for="paper">Paper</label><br>
   <input type="radio" id="scissors" name="choice" value="scissors">
   <label for="scissors">Scissors</label>
   <input type="submit" value="Submit">
</form>