<!DOCTYPE erb>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body>

<h3> Enter your name: </h3>
<form action = "/names" method = "post">
  <input type "text" name = "player" >
  <input type="submit" value="Submit">
</form>

</body>
</html>
