<style>
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
  height:100%;
  width:100%;
  position:fixed;
  background-image: url("http://www.radleyice.com/wp-content/uploads/2012/06/DSC_3375-Edit.jpg");
  background-color: #93B874;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<body>
<h1>Welcome to the lizard mating game!</h1>
<h3>The common side-blotched lizard (Uta stansburiana) is a species of side-blotched lizard found on the Pacific Coast of North America. It is notable for having a unique form of polymorphism wherein each of the three different male morphs utilizes a different strategy in acquiring mates.</h3>
<h3> The three morphs compete against each other following a pattern of rock, paper, scissors, where one morph has advantages over another but is outcompeted by the third.</h3>
<form action='/player_names' method='post'>
  <label for='player_1'>
    Lizard mater:
    <input type='text' name='player_1'>
  </label>
  <input type='submit' value='Submit name'>
</form>
