<h1> Welcome to Rock, Paper, Scissors! </h1>
  <h2> Enter your names below to begin playing </h2>
  <form action='/names' method='post'>
    <label for="name_1"> Player 1: </label>
    <input type="text" name="name_1">
    <label for="name_2"> Player 2: </label>
    <input type="text" name="name_2">
    <input type="submit" value="Submit">
  </form>