<html>
<h1>Welcome to the Rock, Paper, Scissors game!</h1>
<h2>First, register to play.</h2>
<form action='/registering' method='post'>
<label for="player_name">
  Player name
<input type="text" name="player_name">
</label>
<input type="submit" value="Register!">
</form>
</html>
