<h1>Welcome to Rock, Paper, Scizzors!</h1>
<form>
  <label for="name">Enter your name:</label><br>
  <input type="text" id="name" name="name">
  <button type="submit" value="submit">Let's play!</button>
</form> 


