<html>
<body>
  <h1>Let's play Rock, Paper, Scissors!</h1>
  <form action='/start' method='post'>
      Hi! What's your name? <input type='text' name='player'></br>
      <input type='submit' value='Start'>
    </form>
  </body>
</html>
