<div class="jumbotron">
  <form action="/game" method="post">
    Please enter your name: <input type="text" name="player_1_name">
  <input class="btn btn-lg btn-success" type="submit" value="Submit">
  </form>
</div>
