<h1>Welcome to Rock Paper Scissors!</h1>
<p>Please enter your name below and click 'Play' to continue</p>
<form action="/play" method="post">
  <input type="text" name="name" placeholder="Enter your name here">
  <br><br>
  <input type="submit" value="Play">
</form>
