<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel=stylesheet type=text/css href=/stylesheet/index.css />
</head>
<body>
<div class='container'>

  <div class='cell cell-1'></div> 
  <div class='cell cell-2'></div>
  <div class='cell cell-3'></div>
  <div class='cell cell-4'></div> 
  <div class='cell cell-5'>
  <div class='nested'>
  <h1 class='title'> Rock - Paper - Scissor</h1>
  <br>
  <form action='/name' method='post'>
    <input class='name' type='text' name='player' placeholder='....Insert player name....'> 
    <br>
    <button class='name-submit' type='submit' value='submit'> Start Game
  </form>
  </div>
  </div>
    <div class='cell cell-6'></div>
    <div class='cell cell-7'></div>
    <div class='cell cell-8'></div>
    <div class='cell cell-9'></div>
  <div>
</body>

