<div class="">
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<h1>Rock Paper Scissors</h1>

<h2>Sign in to play!</h2>

<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
</div>
