<p>Welcome to Rock, Paper, Scissors!</p>
<br>
<p>Enter your name to play:</p>
<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" name="Enter Name">
</form>
