<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CYBER RPS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Press+Start+2P" rel="stylesheet">

    <video playsinline autoplay muted loop id="bgvid">
    <source src="img/index-bg.mp4" type="video/mp4">
    </video>

    <style media="screen">
    body {
      background: url(img/index-bg.mp4);
      background-size: 100%;
    }

    h1 {
      font-family: 'Permanent Marker', cursive;
      font-size: 50pt;
      font-weight: 600;
      background: -webkit-linear-gradient(#70c8f8, #fa21e2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-family: 'Permanent Marker';
      margin-top: 0pt;
      font-size: 20pt;
      color: #dd09db;
    }

    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    p {
      font-family: 'Press Start 2P';
      color: #bbb;
      font-size: 8pt;
    }

    input[type=text] {
      font-family: 'Press Start 2P';
      border: 3pt solid #fa21e2;
      background-color: #000;
      color: white;
    }

    input[type=text]:focus {
      border: 3pt solid #70c8f8;
    }

    button {
      font-family: 'Press Start 2P';
      background-color: #000;
      color: #fa21e2;
    }

    .btn:hover {
      color: #70c8f8
    }

    #index-footer {
      background: #000;
      border-top: 3pt solid #fa21e2;
      padding: 5pt;
    }
  </style>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class="container-fluid text-center">
      <h1 class="text-center">CYBER</h1>
      <h2 class="text-center">Rock Paper Scissors</h2>

      <div class="row">
        <div class="col-md-12 text-center">
          <form class="form-inline" action="/names" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="player1" placeholder="Player 1">
              <button type="submit" class="btn" name="play">Play</button>
            </div>
          </form>
        </div>
      </div>

      <footer id="index-footer" class="navbar navbar-default navbar-fixed-bottom">
        <p class="text-center">Makers Academy Weekend Challenge 3 -- Made by Tom</p>
      </footer>
    </div>
  </body>
</html>
