<h1>GAME: Rock - Paper - Scissors</h1>
<h2>Sing in to play!</h2>
<form action="/names" method="post">
  <label>Please enter your name: </label>
  <input type="text" name="player1_name">
  <input type="submit" value="Submit">
</form>