<center><h1 style='width: 5em;border: 3px dashed blue' >Rock Paper Scissors</h1>
<h3>Sign in to play</h3>

<form action="/names" method="post">
  <fieldset>
    <legend> Enter your name </legend>
    <label for="marketeer" >
    <input type="text" name="marketeer">
  </label>
    <input type="submit" value="Submit" >
  </fieldset>
</form></center>
