<link rel="icon" href="http://oi58.tinypic.com/10nuftd.jpg" type="image/jpg" />

<style>
div.main {
  margin-left: 20%;
  margin-right: 20%;
}
h1 {
  margin-top: 80px;
  margin-left: 30%;
  font-family: Arial
}
</style>

<div class="main">
  <h1>Rock, Paper, Scissors.</h1>
  <a href="/new_game">
    <img alt="Click here to get started!"
    src='http://s29.postimg.org/uqez80y7b/jc_YIn.png'>
  </a>
</div>