<!DOCTYPE html>
<html>
  <head>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Londrina+Sketch|Quicksand');
      body {background-color: #A3B0E4; text-align: center; font-family: 'Quicksand'; padding-top: 200px;}
      h1   {color: #D13EA9; font-family: 'Londrina Sketch', cursive; font-size: 50px;}
      form {color: #525872;}
      h2   {color: #525872;}
    </style>
  </head>
  <body>
    <h1>Rock, Paper, Scissors Game</h1>
    <h2>Sign in to play</h2>
    <form action="/names" method="post">
      Your name: <input type="text" name="name" >
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
