<h1>RPS!</h1>
<h2>Please pick a mode 2 player or vs Computer mode!</h2>

<form action="/Multiplayer" method="post">
<input type="submit" value="Multiplayer">
</form>

<form action="/Computer" method="post">
<input type="submit" value="Computer">
</form>
