<!DOCTYPE html>

<div style="text-align:center">
  Welcome to rock, paper, scissors!
  <div>
    <button type="button" onClick="location.href='/one_player'" name="one_player">Player VS. Computer</button>
    <button type="button" name="two_players">Player 1 VS. Player 2</button>
  </div>
</div>
