Welcome to Rock - Paper - Scissors


To play, please enter your name and ROCK, PAPER or SCISSORS</br></br>

<form action="/winners" method="post">
  <label for="player_1_name">
    Player 1 name</label>
    <input type="text" name="player_1_name">
  <label for="choice">
    Enter choice </label>
    <input type="text" name="choice">
  <input type="submit" value="Submit">
</form>
