<h1> Select game mode </h1>
<br>
<br>


<form action=/1player method='get'>
  <input type='submit' value='1 player' class='button'>
</form>

<form action=/2players method='get'>
  <input type='submit' value='2 players' class='button'>
</form>


<img src='https://t00.deviantart.net/T_R3cFRdQLZoVV17Kl6LFC_YyWg=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre00/3439/th/pre/f/2009/324/3/1/rock_paper_lizard_spock_by_allicaleb.jpg' style="width:500px;height:500px;" class='im' >
