<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="rps.css" type='text/css'>
</head>
<body>
  <h1>You're playing against the Computer!</h1>
  <h2>Insert your name in order to play</h2>
  <form class="name_form" action="/name" method="post">
    <label for="player_name">
      Player name
      <input type="text" name="player_name"> <br>
    </label>
    <input type="submit" value="Play!">
  </form>
</body>
</html>
