<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="<%= url('/styles.css') %>"> -->
  <!-- <link rel="stylesheet" href="/styles.css"> -->
<style>
  body {background-color:#FFC76C; text-align:center; font-family: 'Press Start 2P', cursive;}
  h1 {font-size:50px; color:#5BFF9A; background-color:#8E42CC; margin:50px; padding:30px;}
  h2 {font-size:35px; color:#5BFF9A; background-color:#8E42CC; margin:40px; padding:20px;}
  p {font-size:24px; color:#FFC77B; background-color:#FFC77B; margin:10px; padding:20px;}
</style>
</head>

<body>
<h1>
  Play Rock-Paper-Scissors!
</h1>
<p>
<form action="/game" method="post">
  Enter your name: <input type="text" name="Name" value=<%= session[:Name] %>>
  <input type="submit" value="Play"></form>
</p>
</body>
</html>
