<html>
<head>
<style>
body {background-color: lightcyan;}
h1   {color: royalblue;}
h2   {color: royalblue;}
h3   {color: royalblue;}
</style>
</head>
<h1>Rock Paper Scissors</h1>
<h2>Are you ready?</h2>
<form action="/game/new" method="post">
  <input type="submit" value="Start Game">
</form>
</html>
