<h1 align="center"> Welcome to my version of Rock Paper Scissors </h1>
</br>
<center><img src='/images/homepage.jpeg' height='500' width='900'></center>
</br>
</br>
<p align="center"><a href='/register'>New Game</a></p>

