<body>

  <h1>Rock Paper Scissors</h1>

  <div id="gametype">
    <form action="/single_player">
      <input type='submit' value='single-player'>
    </form>
    <form action="/multi_player">
      <input type='submit' value='multi-player'>
    </form>
  </div>

</body>
