<body class = 'container'>
<h1> Rock, Paper, Scissors </h1>
<i class="fa fa-hand-scissors-o fa-5x"></i> <i class="fa fa-hand-rock-o fa-5x"></i> <i class="fa fa-hand-paper-o fa-5x"></i>





<form action='/' method="post">

</i> </i><h2> Please enter your name <h2>
  <input type="text" name="name" required>


<h2> How to Play </h2>
<h3>Please enter either Rock, Paper or Scissors below and press "Play" </h3>
<i class="fa fa-spinner fa-spin fa-2x"></i>
  <form action='/' method="post">
    <select name="your_choice">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
      <a class="btn btn-primary btn-lg">
        <input type="submit" value="Play">
      </a>
  </form>

  <div class="jumbotron">
    <h1>
      Would you like to try the two player game?
    </h1>

    <p>
      <a class="btn btn-primary btn-lg" href="/twoplayer">Play Two Player Game</a>
    </p>
  </div>


</body>
