<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Krona+One|Lobster|Quicksand|Nunito|Dosis" rel="stylesheet">
</head>

<html>
  <body>

    <h1 class="center">
      <span class="rock">ROCK  </span>
      <span class="paper">PAPER  </span>
      <span class="scissors">SCISSORS</span>
    </h1>

    <div class="game_space">
      <img class="img_center home" src="https://image.ibb.co/iAO0L7/jan_ken_pon_by_tinsil.png">

        <table class="home center">

          <form action="/names" method="post">
            <tr>
              <td>
                <label for="p1_name">Player 1 Name:</label>
                <input type="text" id="p1_name_box" name="p1_name">
              </td>
              <td>
                <label for="p2_name">Player 2 Name:</label>
                <input type="text" id="p2_name_box" name="p2_name">
              </td>
              <td>
                <button type="submit" class="btn purple" id="submit_names">Submit Names</button>
              </td>
            </tr>
          </form>

          <tr>
            <td>
              <button class="btn purple" id="random_name" onclick="randomP1Name()">Random P1 Name</button>
            </td>
            <td>
              <button class="btn purple" id="random_name" onclick="randomP2Name()">Random P2 Name</button>
            </td>
            <td>
              <input type="checkbox" name="computer" value="COMP">Play against computer?
            </td>
        </tr>
      </table>
    </div>
  </body>

  <br/><br/><br/><br/><br/>
  <p class="fineprint center">Image source: <a href="https://tinsil.deviantart.com/art/Jan-Ken-Pon-83732546">https://tinsil.deviantart.com/art/Jan-Ken-Pon-83732546</a></p>
</html>

<script>
function randomP1Name() {
  var names = ["Jan", "Ken", "Pon", "Rocky", "Papillon", "Sheila", "Alvin", "Simon", "Theodore"];
  document.getElementById('p1_name_box').value = names[Math.floor(Math.random() * names.length)];
}

function randomP2Name() {
  var names = ["Jan", "Ken", "Pon", "Rocky", "Papillon", "Sheila", "Alvin", "Simon", "Theodore"];
  document.getElementById('p2_name_box').value = names[Math.floor(Math.random() * names.length)];
}

</script>
