<style>
body { background-color: #99ccff; }
</style>
<h1>Rock, Paper, Scissors!</h1>
<h2>Please enter your name to play</h2>
<form action="/play" method="post">
  <input type="text" name="player">
  <input type="submit" value="Submit">
</form>
