<h1>RockPaperScissors</h1>

<p>Welcome, brave marketeer.</p>

<p>Enter your name to start throwing shapes!</p>

<form action='/' method='post'>
  <input type='text' name='player_name' autofocus required>
  <input type='submit' value='GO'>
</form>
