<h1> Play rock, paper scissors! </h1>
<h2> Testing infrastructure working! </h2>

<form action='name' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>