<center>
<h4>Rock...</h4>
<h3>Paper...</h3>
<h2>Scissors!</h2>
<br>
<br>
    <form action ="/info" method ="post">
  <label for="name1">
    Player 1:
    <input type="text" id = "name" name="name1">
  </label>
  <br>
  <br>
  <label for="name2">
    Player 2:
    <input type="text" id= "name2" name="name2">
  </label>
  <br>
  <br>
  <input type="submit" value="Let's Go!">
</form>
</center>