<h1>Rock, Paper, Scissors</h1>

<form action="/name" method="post">
  <label for="name">
    Enter your name
    <input type="text" name="name">
  </label>
  <label for="move">
    Enter your move
    <input type="text" name="move">
  <input type="submit" value="Submit">
</form>
