<h1>PLEASE ENTER YOUR NAME AND CLICK THE BUTTON TO BEGIN!</h1>

<form action="/play" method="post">
  <label for="player_name"> Name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Click to Begin!">
</form>