<div style="text-align: center">
  <h1>Enter your name</h1>
  <form method='post' action='/name'>
    <input type='text' name='player_name'>
    <input type='submit' value='Start game'>
  </form>
</div>
