<center><h2>Welcome to classical game of</h2>
<h1>Rock Paper Scissors!!! </h1>

<h2>
  <form action='/name' method='post'>
    <label for='player1_name'>
      Enter your name to play:
    </label>
    <input type='text' name='player1_name'>
    <input type='submit' value='Save'>
  </form>
</h2>

</center>
