<h1> Welcome to MAMA's Rock Paper & Scissors game! </h1>
<h2> Please enter your name to play </h2>

<form action="/name" method="POST">
<label for="player_name">
Player Name:
    <input type ="text" name ="player_1_name">
</label>
    <input type ="submit" value ="Submit">
</form>