<h1>Welcome to RPS!</h1>
<form action="/name" method="post">
  <div>
    <label for="player">Enter you name:</label>
    <input id="player name" type="text" name="name">
  </div>
  <div>
    <input type="submit" value="confirm!"/>
  </div>
</form>
