<h1> Rock Paper Scissors </h1>
<h3> by Hugh Cavanagh </h3>
<body>
  Welcome to Rock Paper Scissors!
  <br>
  <form action='/new-game' method='post'>
    Please enter your name to get started:
    <br><input type=text name=Name placeholder="Your Name">
    <input type=submit value='Start playing'
  </form>
</body>
