<div>
<p>
<h1>ROCK PAPER SCISSORS</h1>
</p>
<p>Hello new player.<br> Please enter your name.
</p>
<form action='/welcome' method= 'post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit name'>
</form>
</div>