<table style="width:100%">
  <tr>
    <th><img src="http://worldrps.com/wp-content/uploads/2014/11/RPSCrest2007.gif" height="150"></th>
    <th><h1>Rock Paper Scissors<h1><h3>-- The Game --</h3></th>
  </tr>
  <tr>
  </tr>
</table>
<p><b>Please add your name</b></p>
<form action="/names" method="post">
  <input type="text" name="player">
  <input type="submit" value="Submit">
</form>
