
   <div style="text-align:center;">
  <body background="http://www.ponderweasel.com/wp-content/uploads/2014/11/who-invented-rock-paper-scissors.png">
    <h1> Please enter your name </h1>
    <p></p>
    <p></p>
    <p></p>
    <form action='/name' method='post'>
      <input type='text' name='name'/>
      <input type='submit' value='Submit'/>
    </form>
  </body>
</div>
