<h1>Welcome to Rock, Paper, Scissors</h1>
<br>
<h3>Please enter your name:</h3>
<form  action="/sign_in_player" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Play">
</form>
