<h1>Welcome to Rock, Paper, Scissors!</h1>

<h2>Enter player name:</h1>
<form action="/play" method="post">
  <input type="text" name="player1" placeholder="Enter player name"><br>
  <input type="submit" value="Submit">
</form>
