<h1>Rock Paper Scissors!</h1>
<h2>Sign in to play</h2>
<h3>Dare to challenge the computer?</h3>
<div> 
</div>
<form action='/challenger' method='post'>
    <input type="text" placeholder='Enter your name' name = "player1">
    <input type="text" placeholder='Choice' name = "choice">
    <input type="submit" name="submit" value="3...2....1....SHOW!">
</form> 