<style>h1,h2,form{
  text-align:center;
}
</style>

<h1>Rock, Paper, Scissors</h1>
<h2>Register to play</h2>
<form action="/names" method="post">
  <input type="text" name="player_1" placeholder="Name P1">
  <input type="text" name="player_2" placeholder="Name P2"><br><br>
  <input type="submit" value="Register">
</form>