<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors</h1>
    <h2>Enter your name to play</h2>
    <form action="/names" method="post">
      <label for="player_1_name">
        Player name
        <input type="text" name="player_1_name"><br>
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
