<h1> Rock Paper Scissors </h1>
<form action="/names" method="post">
  <label for="player">
    Your name:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Submit">
</form>
