<h1><strong>Welcome to the Ultimate Game of.. </strong></h1> 
<h1><em>Rock, Paper, Scissors</em></h1><br>


<iframe src="https://giphy.com/embed/JoDQSE8d1tB2tsPAAg" width="680" height="680" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/JoDQSE8d1tB2tsPAAg"></a></p>

<h3>Hope you brought your <strong>'A'</strong> game!</h3>
<%# 
<div>
<a href="/form" class="btn btn-success">READY</a>
</div> %>

<form action="/form" method="get">
 <input type="submit" value="READY">
</form>
