<link rel="stylesheet" type="text/css" href="/mystyle.css">

<h1>Rock Paper Scissors</h1>
<img src="https://s2.favim.com/orig/141212/cute-drawing-friends-funny-Favim.com-2304562.jpg"/>
<h2>Enter your name</h2>
<form action="/play" method="post">
  <label for="player">
    <input type="text" name="player_name">
  </label>
</br>
</br>
  <input class="play_button" type="submit" value="Play">
</form>
