<h3>Rock!</h3><h2>Paper!!</h2><h1>Scissors!!!</h1>
<p>Sign in to play:</p>
<form action="/setup" method="post">
  <p>Name:</p>
  <input type="text" name="player">
  <input type="submit" value="Submit">
</form>