<h1 style="color:#004d00;size:6;text-align:center;">Let's play rock scissors and paper!!!</h1>
<h2 style="color:#004d00;size:3;text-align:center;">Enter your name.</h2>

<form action="/name" method="post">
    <input type="text" name="name"></input>
    <input type="submit" value="Submit"></input>
</form>
