<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rock, Paper, Scissors</title>
</head>

<body>

<div style="display: inline-block">
<h1 style='font-family: 'Montserrat', sans-serif;'>Rock, Paper, Sicossors</h1>
<img src='https://www.laserfiche.com/wp-content/uploads/2016/01/shutterstock_284660570-rs.jpg' style='width: 600px'>
</div>

<div>
<form action="/names" method="post">
  <label for="player_1" style='font-family: 'Montserrat', sans-serif;'>
    Player 1
    <input type="text" name="player_1">
  </label>
  <input type="submit" value="Submit">
</form>
</div>

<div>
<h6>Testing infrastructure working!</h6>
</div>

</body>

</html>
