<html>

<head>
    <style>
        .flexbox {
            background-color: pink;
            color: white;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>Choose your game mode</h1>

    <form action="/pvp" >
      <input type="submit" value="Two Players">
    </form>

    <form action="/cpu" >
      <input type="submit" value="Single Player">
    </form>

</body>
</html>
