<h1 style='font-family: Arial'>Lets play Rock, Paper, Scissors!</h1>

<form action='/name' method='post'>
  <h3 style='font-family: Arial'>Enter your name here:</h3>
  <input type='text' name='player' />
  <input type='submit' value='Play' />
</form>
