<h1>WELCOME TO ROCK PAPER SCISSORS</h1>
<h3>MAKERS ACADEMY EDITION</h3>

<body>
<form action="/names" method="post">
  <input type="text" name="Player">
  <input type="submit" value="Submit">
</form>
</body>