<h1>Welcome to the Rock, Paper, Scissors game</h1>
<h2>Please enter your name and hit submit</h2>
<form action="/name" method="post">

<input type="text" name="player">

<input type="submit" value="Submit">
</form>

