<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors!</h1>
    <label for="player_1_name">Enter name:</label>
    <form action="/names" method="post">
      <input type="text" name="player_1_name">
      <input type="submit" value="Begin game" id="play_button">
    </form>
  </body>
</html>