<center>
<h2>Welcome to Rock, Paper, Scissors World</h2>
<form action='/single_player' method='get'>
  <input type='submit' value='Single Player'>
</form>
<form action='/multi_player' method='get'>
  <input type='submit' value='Multi-Player'>
</form>
</html>
