<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
  <head>
    <title>Game</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <img src="https://i.postimg.cc/zfFczdYH/cartoon-rock-paper-scissors-vector-characters.jpg" />
    <br />
    <br />
    <br />
    <form action="/name" method="post">
      <div class="input">
        <input type="text" name="player" placeholder="Your name.." />
      </div>
      <br />
      <div class="button1 action_btn1">
        <button name="submit" class="action_btn submit" type="submit" value="Submit">Submit</button>
      </div>
    </form>
  </body>

</html>