<link rel='stylesheet' type='text/css' href='style.css'/>
<body>
<h1 class="title">ROCK<h1><br>
<h1 class="title">PAPER<h1><br>
<h1 class="title">SCISSORS<h1><br>
<h2 class="subhead">Enter your name to play:</h2>
<form class="nameform" action="/names" method="post">
  <label form="player_1_name">
    <input type ="text" name="player_1_name">
  <input type ="submit" value="Submit">
</form>
</body>
