<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <h1> Welcome to a game of RPS </h1>
  <body>
    <form action="/game" method="post">
      Insert your name: <input type="text" name="player_name">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
