<a href="https://github.com/DanGyi23/rps-challenge">
  <img align ='right' height='50' width='50' style='margin:10px;margin-left: -60px' src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>

<div align='center'>
<h1 style='font-family: Georgia, serif;font-size:36px'> Rock, Paper, Scissors, Spock, Lizard Game </h1>
<h2 style='font-family: Georgia, serif;font-size:24px'> Input player names to begin... </h2>
<br>

<form action="/names" method="post">
  <label style='font-family: Georgia, serif;font-size:20px';for="Player1">
    Player 1 name
    <input style='font-family: Georgia, serif;font-size:20px' type="text" name="Player1">
  </label>
  <label style='font-family: Georgia, serif;font-size:20px;margin-left:2rem';for="Player2">
    Player 2 name
    <input style='font-family: Georgia, serif;font-size:20px' type="text" name="Player2">
  </label>
  <br>
  <br>
  <br>
    <button style='color:white;background-color:#555555;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);font-size:24px;padding:8px;margin:0.6rem' type="submit">Submit
    </button>
</form>

<img style='margin:1.5rem' src='https://avatars.slack-edge.com/2016-11-26/110089849942_b0a4182c947467cb617f_512.png'>
</div>
