<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='style/index_style.css' type="text/css" rel='stylesheet'/>
    <title>Home</title>
  </head>
  <body>

    <header>
      <h1>ROCK PAPER SCISSORS</h1>

      <form action='/names' method='post'>
        What's your name? <input type="text" name="player_one">
        <input type="submit" value="PLAY">
      </form>

    <div class='photos'>
      <div class='photo'>
        <img src='http://mmminimal.com/wp-content/uploads/2012/05/featured14.jpg'/>
      </div>
      <div class='photo'>
        <img src='http://ivadjo.co.rs/image/cache/data/proizvodi/fotokopir/papir-za-plotere/paus%20papir%20A2-500x500.jpg'/>
      </div>
      <div class='photo'>
        <img src='http://cdn3.volusion.com/4jdsg.2wu4y/v/vspfiles/photos/600323-2.jpg?1412526070'/>
      </div>
    </div>

</body>
</html>
