"Hello, please input your name and game type"
<form action="/new_game" method="POST">
  <input type="text" name="name">
  <input type="submit" name="gametype" value="vs Computer">
  <input type="submit"  name="gametype" value="vs Human Opponent">
</form>