<form action="/named" method="post">
    <label for="enter name">
    Enter player name:
    <p> </p>
    <input type="text" name="player_1_name" id="enter name" required >
    </label>
    <input type="submit" value="Submit">
  </form>