<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Choose number of players!</h2>
<form action="/players" method="post">
  <input type="submit" name="player_count" value="1 player">
  <input type="submit" name="player_count" value="2 players">
</form>
<br>

<img class="front-picture" src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzAxOS8wMDUvb3JpZ2luYWwvUm9ja19wYXBlcl9zY2lzc29ycy5qcGc=">

<!-- <img class="front-picture" src="http://i.imgur.com/98OAvHd.png"> -->
