<h1>Hello!! Welcome to this game of Rock, Paper, Scissors!</h1>

<h2>Please tell me, what is your name?</h2>

<form action="/heyplayer" method="post">
  <input type="text" name="player1">
  <input type="submit" value="Submit">
</form>


<h2>Or if you are looking to play the Two Player option, click below!
