<form action="/game" method="post">
  <label for="new_player">Enter your player name</label>
  <input type="text" id="new_player" name="new_player"/>
  <button id="player_btn">Create Player</button>
</form>
