
<br>

<h1 style="color:blue;" >Rock Paper Scissors</h1>
<h2>Sign in to play!</h2> 

<form action='/names' method='post'>
  <div id="centerbuttons">
    Your name:
    <input type='text' name='player_1_name'>
    <input type='submit' value='Submit'>
  </div>
</form>

<h2>
 <iframe src="https://giphy.com/embed/JQAXhJMw2WbKWYjn8g" width="480" height="195" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> 
 <a href="https://giphy.com/gifs/Friends-season-2-friends-tv-the-one-where-dr-ramoray-dies-JQAXhJMw2WbKWYjn8g"></a>
</h2>

<style>
#centerbuttons{
   width:400px; 
   margin:0 auto;
  }       

h1 {text-align: center;}
h2 {text-align: center;}

</style>