<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rock Paper Scissors</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <div class="container">
      <h1>Rock, Paper, Scissors</h1>

      <h2>Sign in to play</h2>

      <form action="/name" method="post">
      <input type="text" class="input" placeholder="Enter a name" name="name" >
      <p><input id="SubmitButton" class="submit" type="submit" value="Submit"></p>
    </form>
      <footer>
        <p>
          Jason Rowsell<br />
          <a href="https://github.com/jasonrowsell">Github</a>
        </p>
      </footer>
    </div>
  </body>
</html>
