<head>
<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<div class="container4">
<h1><center>ROCK PAPER SCISSORS</center></h1>
<center><form action="/name" method="post">
  <input type="text" name="player_name" placeholder="Enter your name"><br>
  <button type="submit">Start Game</button>
</form></center>
</div>
</body>
