<div class="wrapper">
  <div class="content">
    <p>Welcome to Rock, Paper, Scissors!</p>
    <form action="/start">
      <input type="submit" value="Start" class="form-button" />
    </form>
  </div>
</div>
