<h1>Hello! Please enter your names below</h1>


<form action='/name' method='post'>
  <h2>Player 1:</h2>
  <input type="text" name="player_1_name">
  <h2>Player 2:</h2>
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
