<h1> It's Rock Paper Scissors! </h1></br>
<h3> First things first, what is your name? </h3>

<form action = '/login' method='post'>
  <label for='player'>Player:
    <input type='text' name='player'>
  </label>
  <button type='submit'>Submit'</button>
</form>
