<html>
  <body>
    <form action="/name" method="POST">
    <label for="player_1_name">Player 1 name:</label> <br>
    <input type="text" id="player_1_name" name="player_1_name"> <br> <br>
    <input type="submit" value="Submit!">
    </form>
  </body>  
</html>