<h1>Rock Paper Scissors</h1>

<h2>Choose the number of players</h2>

<form action='/one_player' method="post">
  <input type='submit' value='Single Player' >
</form>
<form action='/two_player' method="post" >
  <input type='submit' value='Multiplayer'>
</form>