<h1>LETS GET READY TO RUMBLE!</h1>

<h2>Sign in to see if you can beat the computer!</h2>

<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>

