<h2>Welcome to the game! Enter your name and select submit to begin</h2>
<form action="/names" method="post">
Enter your name, player 1
<input type="name" name="player_1_name">
<input type="submit" value="Submit">
</form>
