<form action="/choose" method="post">
  <div>
  <label for="name">Enter name to play</label>
  </div>
  <div>
  <input type="text" name="name" value="Enter name" required>
  </div>
  <button>Submit</button>
</form>