<head><link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"></head>
<style>
body {background-color: powderblue; text-align: center; font-family: 'Montserrat', sans-serif;}
input[type=submit] {
  width: 30%;
  padding: 6px 4px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  background-color:pink;
  border-radius: 5px;
  color: white;
  font-size: 20px
}
input[type=password]{
  font-size:20px;
  padding: 6px 10px;
  border-radius: 5px;
}
input[type=text]{
  font-size:20px;
  padding: 6px 10px;
  border-radius: 5px;
}

</style>
</br><h1>Welcome to Rock - Paper - Scissors</h1></br></br>


<h2>To play - please enter your name and ROCK, PAPER or SCISSORS</h2></br></br>

<form action="/winners-2" method="post">
  <label for="player_1_name">
    Player 1 name</label>
    <input type="text" name="player_1_name">
    <label for="player_2_name">
      Player 2 name &nbsp</label>
      <input type="text" name="player_2_name"></br>
  <label for="choice">
    Player 1 choice </label>
    <input type="password" name="choice">
    <label for="choice_2">
      Player 2 choice </label>
      <input type="password" name="choice_2"></br></br></br>
  <input type="submit" value="Submit">
</form>
