<h1>Rock, Paper, Scissors!</h1>

<img src="https://www.playworks.org/colorado/wp-content/uploads/sites/5/2019/09/finalrps-classypage.jpg"/>

<h2>Sign in to play.</h2>

<form action="/names" method="post">
  <label for="player_1_name">
    Player name:
  <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">

<h3>Rules:</h3>
<ol>
  <li>Rock wins against scissors.
  <li>Scissors win against paper.
  <li>Paper wins against rock.
</form>
