<html>
  <h1>Welcome to Rock/Paper/Scissors!</h1>
  <form method="POST" action="/play">
    <div>Enter your name to begin:</div>
    <input type="text" name="name" placeholder="name">
    <input type="submit" value="Go">
  </form>
</html>
