<form action="/name" method="post">
  Enter player1's name:<br><br>
  <input type="text" name="player1_name" /><br><br>
  Enter player2's name:<br><br>
  <input type="text" name="player2_name" /><br><br><br>
  <input type="submit" value="Submit" />
</form>
