<h1>Welcome to ROCK - PAPER - SCISSORS!!!! WOOOOOOO</h1>

<form action="/names" method="post" >
  <label for="p1"> P1:
  <input type="text" name="p1">
</label>
  <label for="p2"> P2:
  <input type="text" name="p2">
  </label>
   <input type="submit" value="Let's Play!">
 </form>
