<h1>Rock, Paper & Scissors</h1>

<p>A simple web based game build on Sinatra and Ruby by Godfrey Chiu, Ronin student at Makers Academy (Jan 2016 cohort)</p>
<br>

<form action='/game_type' method='post'>
  <label>Human vs. CPU
    <input type='radio' name='game' value='oneplayer'></label><br>
    <label>Human vs. Human
      <input type='radio' name='game' value='twoplayer'></label><br>
        <br>
        <input type='submit' value='Submit'>
      </form>

