<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Are you playing Single Player or Multiplayer?</h2>

<form action="/singleplayer" method="get">
  <label for="single_player">
    Single Player
    <input type="submit" value="Singleplayer">
</form>

<form action="/multiplayer" method="get">
  <label for="multiplayer">
    Multiplayer
    <input type="submit" value="Multiplayer">
</form>
