<!DOCTYPE html>
<html>
  <header>
    <title>Rock Paper Scissors: Enter Name</title>
  </header>
  <body>
    <h1>Welcome to Rock Paper Scissors</h1>
    <h2>Enter your name to start playing...</h2>
    <form>
      <label>
        Name:
        <input type="text" name="Name"  />
      </label>
      <input type="submit" value="Play"  />
    </form>
  </body>
</html>
