<h1>Rock, Paper, Sicossors</h1>
<form action="/names" method="post">
  <label for="player_1">
    Player 1
    <input type="text" name="player_1">
  </label>
  <input type="submit" value="Submit">
</form>

<h6>Testing infrastructure working!</h6>