<html>
  <head>
    <title> Battle </title>
  </head>
  <body>
    <h1>Rock Paper Scissor Lizard Spock!</h1>
    <h2>Are you ready?</h2>
    <h3>Type your name to play</h3>
    <form action="/game_starting" method="post">
      <label for="player1">Player 1 name</label>
      <input type="text" name="player1">
      <label for="player2">Player 2 name (empty for computer)</label>
      <input type="text" name="player2">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
