<h2>Hello Marketeers</h2><br>
<h3>Please enter your name</h3><br>

<form name='input' action='/name' method='post'>
  Player's name: <input type="text" name="player_name"> <br/>
  <input type='submit' value="Start">
</form><br>
