<h1>RPS</h1>
<br><br>
<h2>Sign in to play</h2>
<br><br>
<form action="/name" method="post">
  <label for="user_name">
    User Name:
    <input type="text" name="user_name" placeholder="type your name here">
    <input type="submit" value="Submit">
  </label>
</form>
