<h1>Hi!</h1><br>
<h2>You want to play rock, paper, scissors??</h2><br>
<h2>So...</h2><br>
<form action="/names" method="post">
  <label for="name">
    Your name...<br>
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
