<html>
<head>
</head>
<body>
  <h1> Welcome to Rock!Paper!Scissors! </h1>
  <h1> Please enter your name to play </h1>
  <h1> To play against computer leave player 2 name blank! </h1>
  <div>
    <img style = "border: 4px dashed red;" src="https://i.ytimg.com/vi/5jZ8OjJHLTw/maxresdefault.jpg">
  </div>
  <form method="POST" action="/name">
    <div>
       Player one name:<br>
      <input type="text" name= "player_1_name">
    </div>
  <div>
    <div>
       Player two name:<br>
      <input type="text" name= "player_2_name">
    </div>
  <div>
    <input type="submit" value="Let's go">
  </div>
  </form>
</body>
</html>
