<h1>Welcome to the RockPaperScissors app. Please register your name.</h1>
<p></p>
<form action="/name" method="post">
  <input type="text" name="user_name">
  <input type="submit" value="Register">
</form>