<!DOCTYPE html>
<html>
  <head>
    <title> Rock ~ Paper ~ Scissors </title>
    <!-- <link rel="stylesheet" href="stylesheet.css"> External style sheet is not being recognised for some reason -->
    <style>

    body {
      background-color: rgb(247, 235, 220);
      text-align: center;
    }

    h1 {
      color:rgb(170, 46, 2);
      text-align: center;
    }

    .btn {
      color:rgb(255, 255, 255);
      padding: 10px 10px;
      cursor: pointer;
    }

    .submit {background-color: #771c1c;} 
    .submit:hover {background: rgb(221, 140, 140);}
 
    </style>

  </head>
  <h1> ROCK ~ PAPER ~ SCISSORS </h1>

  <form action="/name" method="post">
    <h2>
      Enter your name:
      <br>
        <input type="text" name="player_1_name">
    </h2>
    <p>
      <button class="btn submit">Submit</button>
    </p>

</html>