<body class = "index_page">
  <section class="title">
    <h1 style="color:red;">Rock, paper, scissors!</h1>
    <h3>Select play mode!</h3>
  </section>

  <section class="mode_form">
    <form action="/mode" method="post">
      <input type="submit" value="Singleplayer" name="mode">
      <input type="submit" value="Multiplayer" name="mode">
    </form>
  </section>
</body>
