<title>RPS Enter Name</title>
  <body style='background-color: lightblue'>
    <center>
      <h1>RPS Battle System</h1>
        <form action='/names' method='post'>
          <label for='player1'><h4><em>Enter Player Name</em></h4></label>
          <input type='text' name='player_1_name'>
          <button type='submit'>Play</button>
        </form><br><br>
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/1200px-Rock-paper-scissors.svg.png' width='550' height='550' alt='RPS'
    </center>
  </body>
