<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>RPS Challenge</title>
    <link rel='stylesheet' href='styles.css'/>
  </head>
  <body>
    <div class='container'>
      <div class='page'>
        <div class='index-heading'>
          <h1>Choose from the options below</h1>
          <div class='divider'></div>
          <form class='menu' action='/menu' method='post'>
            <button type='submit' class='custom-button' name='choice' value='single'>Single Player</button>
            <button type='submit' class='custom-button' name='choice' value='multi'>Play a Friend</button>
          </form>
          <form class='menu' action='/instructions' method='post'>
            <button type='submit' class='custom-button'>Instructions</button>
          </form>
        </div>

      </div>
    </div>
  </body>
</html>
