<div align="center">
  <style>
  body {background-color: lightgrey;}
  h1   {color: crimson;}
  </style>
  <h1>Rock Paper Scissors</h1>
  <h2>Type in your name to play, revered members of MAMA</h2>
  <form action="/names" method="post">
    <label for="player_name">
      Player Name:<br><br>
      <input type="text" name="player_name">
    </label>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>