<link rel="stylesheet" type="text/css" href="/style.css">
<html>
<body class = "indexpage">
<div class = "indextext">
  <h1> Welcome to Rock Paper Scissors <h1>
  <h2> Sign up to play <h2>
    <form action = "/play" method ="post">
        Enter your name<input type = "text" name = "player_name">
        <br></br>
        <input class = "button" type = "submit" value = "Play">
    </form>
</div>

</body>
</html>
