<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/single_name" method="get">
      <input type="submit" value="Single Player">
    </form>

    <form action="/multi_names" method="get">
      <input type="submit" value="Multiplayer">
    </form>
  </body>
</html>
