<center>

<p>Welcome to<br>
<h1>Rock, Paper, Scissors</h1></p>

<p>Please choose the type of game you would like to play:</p>

<form action = '/new_game' method = 'post'>
  <input type="radio" name="no_of_players" id="one_player" value='1'> 1-Player 
  <input type="radio" name="no_of_players" id="two_player" value='2'> 2-Player
  <p><input type = 'submit' value = 'OK'></p>
</form>

</center>