<body>
  <h1>Welcome to rock, paper, scissors!</h1>

  <form action="/start" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
  </form>
</body>