<link href="/style.css" type="text/css" rel="stylesheet">
<font size = "5"; color = "navy">
<br>
<h2 align = "center">Welcome to</h2>
<h1 align = "center">Rock Paper Scissors!</h1>
<div align = "center">
<img src="http://www.ponderweasel.com/wp-content/uploads/2014/11/who-invented-rock-paper-scissors.png">
</div>
<h3 align = "center">Sign in to play</h3>
<div align = "center">
<form action="/name" method="post">
  <label for="player_name">
    Your name:
    <input type="text" name ="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
</div>
