Rock paper scissors

<div id="name form">
  <form action="/names" method="post">
    <label for="player_1">
    player_1
    <input type="text" name="player_1" />
  </label>
    <input type ="submit" value="Submit name" />
  </form>
</div>
