<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' href='style.css'>
<div class="block">
  <h1 class="h1">Rock Paper Scissors</h1>
  <h2 class="h2">Enter Your Name</h2>
  <form action="/names" method="post">
  <br>
  <label for="player_1_name">
  <strong class="form_text">Name</strong>
  <input class="form" type="text" name="player_1_name">
  </label>
  <br>
  <br>
  <input class="button" name="Mode" type="submit" value="One_Off">
  <input class="button" name="Mode" type="submit" value="Best_of_3">
  <input class="button" name="Mode" type="submit" value="Best_of_5">
  </form>
</div>
</body>
</html>