<h1>Rock Paper Scissors</h1>
<h2>Please enter name below.</h2>
<form action="/name" method="POST">
  <div>
    <label for="player_1_name">name:</label>
    <input type="text" id="player_1_name" name="player_1_name" placeholder="Enter Name Here" required>
  </div>

  <br>

  <div>
    <input type="submit" value="Play!">
  </div>
</form>