<!DOCTYPE html>
<html>

  <head>
    <meta name='viewport' content='widht=devide-width,initial-scale=1'>
    <link href='/style.css' rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class='main-cont'>
      <div class='container title'>
        <h1>Rock Paper Scissors</h1>
      </div>

      <div class='container'> 
        <h2>Sign in to play</h2>
      </div>

      <div class='container'>
        <form action='/names' method='post'>
          <input type='text' id='p1_name' name='p1_name'>
          <input type='submit' class='button' value='Submit'>
        </form>
      </div>
    </div>    
  </body>

</htmL>