<div id='title'>
  <h1>Rock, Paper, Scissors</h1>
</div>

<form action='/new-game' method='post'>
  <input type='text' name='name1' placeholder='Enter you name'>
  <input type='submit' value='PLAY!'>
</form>
