<h1>Rock, Paper, Scissors</h1>

<form action = '/name'>
  <input type="submit" name="mode" value="Single Player">
</form>

<form action = '/name'>
  <input type="submit" name="mode" value="Multiplayer">
</form>
