<html>
<head>
  <link rel="stylesheet" typ="text/css" href="style.css">
</head>
<div class="container">
  <div class="text">
    <h2>
      Let's Play Rock Paper Scissors
    </h2>
  </div>

  <div class="form" >
    <form  action="/single" method="get">
      <input type="submit" value="Single Player">
  </form>
  </div>
  <div class="form" >
    <form  action="/multiplayer" method="get">
      <input type="submit" value="Multiplayer">
    </form>
  </div>
</div>
</html>
