<center>
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <br><br>

  <h3>To play, simply enter your name below, then hit the <i>Submit</i> button</h3>
  <br><br>

  <form action="/name" method="post">
    <div>
      <label for="player_name">Player name:</label>
      <input type="text" name="player_name">
      <input type="submit" value=Submit>
    </div>
  </form>
</center>
