<html>
  <head>
    <title>Welcome to RPS</title>
  </head>

<body>
<h1>"Let's play Rock Paper Scissors!"</h1>
<form action="/name" method="post">
What is your name?<br>
<input type="text" name="player">
<input type="submit" value="Play!">
</form>
</body>