<html>

<head>


<link rel="stylesheet" type="text/css" href="/styles.css">


</head>

<body>
  <h1 align="center"> Welcome to Rock, Paper, Scissors </h1>
  <center>
  <img src="https://www.dramafever.com/st/news/images/cheater1.jpg" alt="Welcome" align="center" width="1000" height="300">
  </center>

<h2 align="center">Sign in to play!</h2>

<center>
<form action="/accepted" method="post">
  <label for="player_1_first_name">
    First Name
    <input type="text" name="player_1_first_name">
  </label>

  <label for="player_1_surname">
    Surname
    <input type="text" name="player_1_surname">
  </label>

  <label for="player_1_email">
    Email
    <input type="text" name="player_1_email">
  </label>
  <input type="submit" value="Submit">
</form>
</center>

</body>

</html>
