<!DOCTYPE html>
<html>

<head>
  <title>Rock, Paper, Scissors</title>
  <style>
    * { box-sizing: border-box; }
    body {
      font-family: sans-serif; font-size: 15px; color: black; 
      width: 700px; margin: 0 auto; background-color: ghostwhite; 
	  }
    .signin {
      width: 100%;
      font-size: 20px; text-align: center;
      padding: 10px; margin-top: 10%;
      background-color: white;
      border-style: solid; border-width: 2px; border-radius: 10px; border-color: rgba(0,0,0,0.25);
    }
  </style>

</head>

<body>

<div class="signin">
  <h2>Welcome to Rock, Paper, Scissors!</h2>

  <form action="/names" method="post">
  <label>Please enter your name here:</label><br>
  <input type="text" name="player_1_name"><br><br>
</div>

</body>