<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link href='/css/application.css' rel='stylesheet' type='text'>
</head>
<body>
<header>Rock Paper Scissors</header>
<h4> Please enter player 1 name only for singleplayer, both for multiplayer</h4>
<form action='/names' method='post'>
  <label for='p1_tag'>Player 1</label>
    <input type='text' name='p1_name' id='p1_tag'>
  <label for='p2_tag'>Player 2</label>
    <input type='text' name='p2_name' id='p2_tag'>
  <input type='submit' value='Submit'>
</form>
</body>
</html>