<body bgcolor="#66FFCC">

<!DOCTYPE html>
<html>
    <style> h1 {text-align: center;}
            p {text-align: center;}
            form {text-align: center;}
    </style>

    <h1 style="font-family:'Courier New'">Let's play rock, paper, scissors!</h1>

    <p style="font-family:'Courier New'">Please enter your name</p>
    <form action="/" method="post">
      <input type="text" name="name"  autofocus>
      <input type="submit" value="New Game">
    </form>
