<!DOCTYPE html>
<html>

  <head>
    <title>Sign In</title>
  </head>

  <body>
    <header>
      <h1 id="main_title">Rock Paper Scissors</h1>
      <p>Please sign in</p>
    </header>
    <form action="/names" method="post">
      <label for="name">
        Name:
      <input id="name_input" type="text" name="name">
    </label> <br>
    <input class="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
