<h1>Welcome to: Rock, Paper, Scissors!</h1>
<div style='border: 3px dashed blue'>
  <img src='https://cdn.vox-cdn.com/thumbor/D_2XiTfAk5x7VXxfYIJ3bZNUByw=/0x0:2429x2396/920x0/filters:focal(0x0:2429x2396):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/3488502/shutterstock_106919999.0.jpg'>
</div>

<form action="/names" method="post">
  <label>
    Please enter your name to start:
    <input type="text" name="player_1_name">
  </label>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>