<div style="text-align: center; padding: 20px">

<h1>Rock, Paper, Scissors, Lizard, Spock</h1>

<h2>Enter your Name, Fearless Hand-warrior!</h2>

<form action="/register" method="post">
  <label for="player_name">
    Your name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Register">
</form>
<form action="/load_game" method="post">
<input type="submit" value="Load">
</form>

<img src="/rpsls.png" alt="RockPaperScissorsLizardSpock">

</div>
