<h2><%= "Welcome to the RPS Arena" %></h2>

<%= "Enter your name if you want to challenge the champion for the crown!" %><br><br>

<form action="/play" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Register">
</form>