<div style="background-color:aliceblue;padding:25px;">
<form action="/name" method="post">
  <label for="player_name"><br>
    Welcome! 
    Enter your name to start the game:
    <input type="text" name="player_name" placeholder="Enter name here">
  </label>
  <input type="submit" value="Submit">
</form>
</div>

<div>
<style>
      body {
       padding: 20px;
      }
      label {
        font-size: 20px;
        font-weight: 700;
        color: #1c87c9;
      }
      input {
        width: 50%;
        height: 28px;
        padding: 4px 10px;
        border: 1px solid #666;
        background: #E0F7F9;
        color: #1c87c9;
        font-size: 16px;
      }
    </style>
</div>