<!DOCTYPE html>
<html>
<body>

<h1>A new challenger has entered the arena<h1>

<form action = "/name-move" method="post">
  <input type="text" name="challenger">
<select name="move">
  <option value=rock>rock</option>
  <option value=paper>paper</option>
  <option value=scissors>scissors</option>
</select>
<input type="submit" value ="one, two, THREE">
</form>

</body>
</html>
