<!DOCTYPE html>

<html>
  <head>
    <title> Rock, paper, Scissors</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>

<body>
  <h1> Let's Rock Paper Scissor </h1>
  <form action="/name" method="post">
    <label for="name">
    Enter your name to play
      <input type="text" name="name">
    </label>
    <input type="submit" value="Let's Play!">
  </form>
</body>
</html>