<head>
<style>
  .header{
    text-align: center;
  }
  .button{
    text-align: center;
  }
  .pic{
    text-align: center;
  }
</style>
</head>

<body>
<div class='header'>
  <h1>Welcome to rock paper scissors!</h1>
</div>

<div class='button'>
<form action='/name' method='post'>
  <label for='name'>Please enter your name:</label>
  <input type='text' name='name'>
  <input type='submit' value='Play!'>
</form>
</div>

<div class='pic'>
  <img src='https://i.imgur.com/WfsZ9.png'>
</div>
</body>