<h1> Rock Paper Scissors</h1>
<form action="/names" method="post">
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="player_name"/>

  <button id="button" type="submit">
    <span>
      Go!
    </span>
  </button>
</form>
