<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Scissors, Paper, Rock<h1>
<h1>Enter your name to begin<h1>
<form action="/name" method="post">
  <input type="text" name="first_name">
  <input type="submit" value="submit"
<\form>

</body>
</html>
