<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>ROCK, PAPER, SCISSORS, LIZARD, SPOCK!</h1>
            <img class="responsive" src="https://upload.wikimedia.org/wikipedia/en/d/d6/Friends_season_one_cast.jpg">
            <h2>The classic game with more... bazingo</h2>
        </header>

    <form action="/game-mode" method="post">
        <button name="choice" value="single_player">Single Player</button>
        <button name="choice" value="two_player">Two Player</button>
    </form>
    </div>

    
</body>
</html>