<h1>Rock, Paper, Scissors</h1>
<h2>Enter your name</h2>
<form action="/name" method="post">
  <label for="player_name">
    Player Name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
