<div style='text-align: center; padding: 200px; font-family:arial'> 
<form action='/name' method='post' >
    <h1 style='color:red; font-family:arial'> Enter your name to play!</h1>
    <label> Enter player name <input type="text" name="player"></label>
    <input type="submit" value="START GAME">
</form>
</div>