<link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel='stylesheet' type='text/css'>
<style>
body {
  background-color:#D3D3D3;


}
#title {
  font-size:10em;
  font-family:'Indie Flower', cursive;
  color:black;
}
#newgame {
  text-decoration: none;
  font-size:5em;
  font-family:'Indie Flower', cursive;
  position: fixed;
  margin-right: 25px;
  margin-left: 700px;
  color:#696969;
}
#newgame:hover {
 font-size:7em;
}
</style>
<h1 id="title" >Rock, Paper, Scissors </h1>

<a id="newgame" href ='/game/new'>New Game</a>
