<h1>Rock, paper, scissors!</h1>
<h2>Sign in to play...</h2>
<form action='/save_name' method='post'>
  <label for='player_name'>Name:</label>
  <input type='text', name=player_name>
  <button type='submit'>Go!</button>
</form>
