<div>
  <center>
    <h1>Welcome friend, to the most intense game of Rock, Paper, Scissors you have ever seen!</h1>
    <h4>What is your name?</h4>
    <form action="/names" method="post">
    <p>Player name: <input type="text" name="player_1_name"></p>
    <p><input type="submit" value="Janken!"></p>
    </form>
  </center>
</div>