<html>
<div align="center">
    <h1>Please enter player name(s)</h1>

    <form action="/names" method="post">
        <label for="player_1_name" style="font-size: 30px;">Player 1 name:</label>
        <input type="text" name="player_1_name" id="player_1_name">

        <label for="player_2_name" style="font-size: 30px;"> Player 2 name:</label>
        <input type="text" name="player_2_name" id="player_2_name">

        <input type="submit" value="Submit">
    </form>
</div>

</html>