<h1>The beginning of Rock, Papers and Scissors</h1>
<br>
<h2>Register your name to play</h2>

<form action="/name" method="post">
<label for=Player Name>Enter your name, adventurous player, Player's name:</label>
<input type="text" name="player_name">
<input type="submit" value="Submit">
</form>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSEMnBB9hPfPMnwVpGetUI1q-dRuKUdbjr_g&usqp=CAU" width=65%/>