<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>RPS!</title>
  </head>
  <body>
    <h1 class="title__main">Game Options</h1>
    <form class="form" action='/solo' method='post'>
      <h2>Solo</h2>
      <input required="true"
             pattern="[A-Za-z]+"
             type='text'
             name="solo_player"
             placeholder="Player Name"/>
      <input type="submit" value="Play!"/>
    </form>

    <form action='/multi' method='post'>
      <h2>Multiplayer</h2>
      <input type='text'
             required="true"
             pattern="[A-Za-z]+"
             name="player_one"
             placeholder="Player One Name"/>
      <input type='text'
             required="true"
             pattern="[A-Za-z]+"
             name="player_two"
             placeholder="Player Two Name" />
      <input type="submit" value="PvP!"/>
    </form>
  </body>
</html>
