<h1>Battle of the inanimate objects</h1>
<br>

<form action="/name" method="post">
  <label for="player">
    Player name
    <input type="text" name="player"
    </label>
    <input type="submit" value="Submit">
    </form>
