<body style="background-color:beige;font-family:verdana;text-align: center;">
<h1 style="color:goldenrod">MAMA Rock, Paper, Scissors</h1>
<br></br>

<form action="/name" method="post">
  <label for="player_name">
    Players Name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
</body>
