<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Battle</title>
  </head>
  <body>
    <div>
      <h1>Rock Paper Scissors War! Enter at your own Risk...</h1>
      <form action='/name' method='post'>
        <label for="player_name">
          <h2>Please enter your name:</h2>
          <input type='text' name='player_name'>
        </label>
          <input type='submit' value='Submit'>
      </form>
    </div>
  </body>
</html>
