<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
    <form id='player' action='/welcome' method='post'>
      <section class='player'>
        <h3>Let's play rock-paper-scissors!</h3>
        <label for='player'>Enter your name:</label><br>
        <input type='text' name='player'><br>
        <button type='submit' style>play</button><br>

        <img src='images/no_hard_feelings.jpg' 
             alt='Rock Paper Scissors Doodle' 
             width='320' 
             height='210'
             class='player'><br>
      </section>
    </form>
    </section>
  </body>
</html>