Welcome to Rock Paper Scissors! <p></p>
Please enter your name to begin. <p> </p>
<form action='/play' method='post'>
<input type="text" name="name" placeholder="Enter name" />
<label>
<input type="submit" value="Submit" />
</form>
