
<html>
  <head>
    <title>RPS</title>
  </head>
  <style>
   body {
   font-family: "Raleway", "Helvetica", "Arial", sans-serif;
   text-align: center;
   margin: 50px;
   }
 </style>

  <body style="color: #e0bb16">
    <h1 > Welcome to Rock, Paper and Scissors </h1>
    <h2 > To sign up, please enter your name </h2>

    <form action="/player" method="post">
      <div>
        <label for="player_name"> Player's Name:</label>
        <input type="text" name="player_name">
        <input type="submit" value="Submit">
      </div>
    </form>
  </body>
