<link rel="stylesheet" href="css/styles.css">

<div class="container">
  <h1 id="Title"> Rock / Paper / Scissors</h1>
  <br>
  <form action="/register" method="post">
    <input type="radio" name="mode_1" value="one_player"> 1 Player
    <input type="radio" name="mode_2" value="two_player"> 2 Player
    <p><input class="restart-button" type="submit" value="Submit">
  </form>
</div>
