<h1>Welcome to Rock Paper Scissors!</h1>
<h3>Please enter your name below:</h3>
<form action='/name' method='get'>
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
