<!DOCTYPE html>
<html>
<head>

  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">

<!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css" type="text/css">

<!-- Font -->

  <link href="https://fonts.googleapis.com/css?family=Give+You+Glory" rel="stylesheet">

</head>

<body>

<br>
<div class="container-fluid text-center">
  <h1><strong>ROCK - PAPER - SCISSORS!</strong></h1>
  <h3>"the three who are afraid of one another"</h3>
  <br>
  <br>
  <img class="img-responsive center-block" src="/images/RPS.png">
  <br>
  <br>
  <br>
  <form name='input' action="/name" method="post">
    <input class="text-input" type="text" name="name" placeholder="Who are you?">
    <br>
    <br>
    <input class="button" type='submit' value="START">
  </form>
  <br>
  <form action="/multiplayer">
    <input class="button" type='submit' value="MULTIPLAYER">
  </form>
</div>

</body>
</html>
