<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Hello! Welcome to Rock Paper Scissors!</h1>
    <h2>Please enter your name!</h2>
    <form action="/form" method="post">
      <label for="name">
        <input type="text" name="name">
      </label>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
