<body style="background-color:#7bb88d"><div align="center">
<h1 style="color:#cafabb">Rock, Paper, Scissors!</h1>
<h2 style="color:#cafabb">Lets begin a new game!</h2>
<p style="color:#cafabb"> Enter your  namwe below to see it in lights!</p>
  <form action="/names" method="post">
    
    <label for="player_name">
      <input type="text" name="player_name">
    </label><br>
      
    <input type="submit" value="Enter Name">
    
  </form>
  </div>
  </body>