  <h1>Please enter your name</h1>

<form action= "/name" method="post">
  <input type="text" name="player_name">

    <div class="button">
     <input type="submit" value="Show me the money" />
 </div>
</form>
