<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="../style.css"/>


<style>
* {
  font-family: 'Indie Flower', cursive;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

body { background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); }

h1 { 
  font-family: 'Indie Flower', cursive;
  background-color: #cc99ff;
  padding: 10px;
  text-align: center;
  width: 80%;
  height: 15%;
  color: white;
  position: fixed;
  top: 8%;
  left: 10%;
  border-radius: 15px;
  font-size: 70px;
}

#content {
  background-color: white;
  color: #9933ff;
  position: fixed;
  width: 80%;
  height: 60%;
  top: 30%;
  left: 10%;
  border-radius: 15px;
  font-size: 50px;
  text-align: center;
  flex-direction: column;
  justify-content : space-between;
  padding: 50px;
}

.inputs {
	display : flex;
	justify-content : space-between;
}

button {
  background-color: #cc99ff;
  font-size: 40px;
  color: #6600cc;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  display: block;
  width: 80%;
}

button:hover{
  background: #3B5C76;
  color: white;
  cursor: pointer;
}

.rules {
  font-size: 20px;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  color: #6600cc;
}

.author {
  font-size: 20px;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  color: #6600cc;
}
</style>

</head>

  <body>
    <h1>Rock, Paper, Scissors, (Spock, Lizard)</h1>

    <div id="content">
      <form action="/names" method="post">
        <div class="inputs">
          <div class="input">
            <label for="player_1_name">Player 1 name:</label></br>
            <input class="w3-input" type="text" name="player_1_name" required/>
          </div>
          <div class="input">
            <label for="player_2_name">Player 2 name:</label></br>
            <input class="w3-input" type="text" name="player_2_name">
            <p style="font-size: 30px; color: #cc99ff;">(Leave blank to play the computer!)</p>
          </div>
        </div>
        </br>
        <button type="submit">Play!</button>
      </form>
    </div>
    <div><a class="rules" target="_blank" href="https://en.wikipedia.org/wiki/Rock_paper_scissors#Additional_weapons">Read the rules here</a></div>
    <div><a class="author" target="_blank" href="https://github.com/jasylwong/">App created by Jason Wong</a></div>
  </body>
</html>