<h1> Welcome player, please enter your name' <%= @player_name %> </h1>
<form action='/player_name'>
<label for='player_name'>
<input type='text' name='player_name'>
</label>
<input type='submit' value='Submit'>
</form>