<h1> A game of Rock, Paper, Scissors <h1>
<br>
<br>
<br>
<form action = "/register", method = "post" >
  <p> To play, enter your name: </p>
  <input type = "text", name = "player_name", required >
  <input type = submit, value = "Start Game!">
</form>
