<h1>Let's Play Rock, Paper, Scissors!</h1>

<form action="/names" method="Post">
  <input type="text" name="player_name" placeholder="Enter name" required>
  <input type="submit" value="Submit">
</form>

