<h1>Welcome to the great game that is rock, paper, scissors</h1>
<h2>Sign in to play</h2>
<form action='/player_name' method='post'>
  <label for="player">
    Name:
    <input type='text' name='player'>
  </label>
  <input type='submit' value='Submit Name'>
</form>
