<!DOCTYPE html>
<html>
<head>
<link href="<%= url('../style.css') %>" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div class="content">
    <form action='/name' method='post' >
        <h1> Enter your name to play!</h1>
        <label> Enter player name <input type="text" name="player"></label>
        <input type="submit" value="START GAME">
    </form>
  </div>
  <footer class="footer">
    <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a>
  </footer>
</body>
</html>