<h1>Welcome to the game (it's Rock, Paper, Scissors BTW)!</h1>

<form action="/names" method="post">
Enter your name, player 1
<input type="name" name="player_1_name">
<input type="submit" value="Submit">
</form>
