<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styling.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Rock Paper Scissors Lizard Spock</title>
  </head>
  <body>
    <br>
    <br>
    <h2><%= <h2>Rock Paper Scissors Lizard Spock</h2>
    <br>
    <h2>Choose your opponent!</h2>
    <br>
    <br>
    <center><form action="/opponent" method="post">
    <button class="button" name="opponent" type="submit" value="/one_player">Computer</button>
    <button class="button" name="opponent" type="submit" value="/two_player">Human</button>
    </form><center>
    <br>
    <center><form action="/rules">
    <input type="submit" value="Rules" class="button">
    </form></center>
  </body>
</html>