<h1>Rock-Paper-Scissors HQ</h1>
<h2>The home of <b>Deep Green</b> Advanced Rock-Paper-Scissors AI</h2>
<h3>Choose your game type</h3>

<form action='/register-single-player' method='get'>
  <input type="submit" value="Single Player">
</form>
