<form method="post" action="/send-names">
    <input type='text' name="player_1_name" value="player_1_name">
    <input style="color:blue; height:50px; width:100px"  type="submit" name="Submit" value="Submit" />
</form>
