<!DOCKTYPE  html>
<html>
<head>
  <title> Register to start the battle </title>
</head>
<body style="text-align: center">
  <h1>Register to start the battle</h1>
  <form action="/name" method="post">
    <input type="text" name="player">
    <input type="submit" value="start the game">
  </form>
</body>
</html>
