
<!DOCTYPE html>

<html>
<head>
  <style>
    form {
  text-align: center;
  }
  div {
    background-color: #e2bb85;
    color: #0a0a0a;
    padding: 22px;
  }
  </style>
</head>
<body>
  <form action="/play" method="post" >
    <div>
      <h1 style="text-align:center">Welcome To Rock, Paper, Scissors!</h1>
      <h2 style="text-align:center">Please enter your name</h2>
        <input type="text" name="user_name" />
      <h3>
      </h3>
      <br>
  <input type="submit" value="Play!" />
    </div>
</form>
</body>
</html>
