<!DOCTYPE html>
<html>
<center>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Lets play Rock Paper Scissors!</h1>

    <form action="/names" method="post">
      <label for="name">Name?</label>
      <input type="text" name="name">
      <input type="submit" value="Lets play!">
    </form>

  </body>
  <center>
</html>
