<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div class="container">
      <form action="/names" method="post">
        <div>
          <input type="text" name="player_1" placeholder="Player 1">
        </div>
        <div>
          <input type="text" name="player_2" placeholder="Player 2">
        </div>
        <input type="submit" name="submit" value="Play!" class="btnplay">
        <p>For single player enter Player 1 only</p>
      </form>
    </div>
  </body>
</html>
