<h1>Rock - Paper - Scissors!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Please enter your name:
    <input type ="text" name="player_1_name">
  <input type ="submit" value="Submit">
</form>
