<head>
<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css"/>
</head>
<body>
  <div class = "jumbotron">

  Hello! Welcome to Rock Paper Scissors Lizard Spock.

  Do you want to play 1 or 2 player mode?

  <a href="/form" class='btn btn-default'>1 Player</a> <a href="/2pform" class='btn btn-default'>2 Player</a><div>

  <img src="/rps.jpg" alt="RPS">
  </div>
</body>
