<center>
  <body style="background-color:hsl(220, 50%, 90%);">
    <h1 style="font-family:verdana;">Rock, Paper, Scissors</h1>
    <h3 style="font-family:verdana;">Please enter your name, then press submit</h3>
    <hr>
    <br>
    <form action="/names" method="post">
      <input type="text" id="player_1" name="player_1">
      <button type="submit">Submit</button>
    </form>
  </body>
</center>
