<html>
  <head>

  </head>

  <body>
    <h1>Welcome to Rock Paper Scissors</h1>
    <h4>Please enter your name</h4>
    <form method="post" action="/play">
      <input type="text" name="player_name" />
      <input type="submit" value="Submit"  />
    </form>
  </body>

</html>
