<h1> Rock ~ Paper ~ Scissors </h1>
<h2>Sign in to play</h2>
  <form action='/names' method='post'>
  <label for="player_1">
  Player 1 Name:
  <input type='text' name='player_1'>
  <input type="submit" name="Ready!" value="Ready!">
</h1>