<div class="">
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  <h1>Rock Paper Scissors</h1>
  <div class="">
    <img src="images/rock.png" alt="" style="width:200px">
    <img src="images/paper.png" alt="" style="width:200px">
    <img src="images/scissors.png" alt="" style="width:350px">
  </div>
  <h2>Sign in to play!</h2>

  <form action="/name" method="post">
    <input id="box" type="text" name="player_name" placeholder="Enter your name here">
    <input id="button" type="submit" value="Submit">
  </form>
</div>
