<div class="button" style="margin:0 auto" align=center>
  <form action="/names_2" method="post">
    Player 1: <input type="text" name="Player1"><br>
    Player 2: <input type="text" name="Player2"><br>
    <input type="submit" value="Submit">
  </form>
</div>
