
<h1> Welcome to our game. Please enter your name :)  </h1>

<form action = "/play" method = "post">
<input type = "text" name = "player">
<input type="submit" value="Submit">
</form>

<img src = "https://miro.medium.com/max/800/1*8du96SQUQ0NlWmWvVu20Zw.png">
