<form action="/name" method="post">
  <h1> Rock... </h1>
  <h1> Paper... </h1>
  <h1> Scissors... </h1>
  <p> Enter your name below to play </p>
  <input type="text" name="player_1_name">
  <input type="submit" value="Let's Play!" name="submit">
</form>
