<h1>Welcome to the RockPaperScissors game</h1>
<p></p>
Please register your name to play:
<p></p>
<form action="/name" method="post">
  <input type="text" name="user_name">
  <input type="submit" value="Register">
</form>
