<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors, Lizard, Spock</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
	<body>
		<h1>Welcome to rock paper scissors lizard spock!</h1>
		<h2>Please enter your name</h2>
		<form action="/new_game" method="post">
			<label for="name"></label>
			<input type="text" name="name" placeholder="Player Name">
			<input type="submit" value="Submit">
		</form>
  </body>
</html>