<body>
  <h1>Rock, Paper, Scissors!</h1>
  <h2>Enter your name</h2>
  <form action="/names" method="post">

    <label for="player1_name">
      Player 1:
      <input type="text" name="player1_name">
    </label><br/></br/>

    <label for="submit">
      <input type="submit" value="Submit Players">
    </label>
  </form>
</body>
