
<form name="input" action="/names" method="post">
  <input type="text" name="player1" placeholder="Player 1">
  <input type="text" name="player2" placeholder="Player 2">
  <input type="submit" value="Submit" >
</form>
