<h1>Super Rock-Paper-Scissors Turbo Alpha: Ultimate Grudge Match</h1>

<p>Three unrelated inanimate objects compete to become the world's greatest hand gesture.</p>

<p>Choose a warrior and engage your opponent in an exhilarating round of one-on-one close-quarter simulated combat.</p>

<form action="/one_player" method="get">
 <input type="submit" value="One Player">
</form>

<form action="/two_players" method="get">
 <input type="submit" value="Two Players">
</form>
