<h1>Welcome to Rock, Paper, Scissors</h1>

<form action='/login' method='post'>
  <label for='player_name_1'>Player one name:</label><br/>
  <input type='text' name='player_name_1'><br/><br/>

  <em>Add a second name for two player</em><br/><br/>

  <label for='player_name_2'>Player two name:</label><br/>
  <input type='text' name='player_name_2'><br/><br/>

  <input type='submit' value='Play game'>
</form>
