<head>
 <link rel="stylesheet" href="style.css">
  </head>


<h1><font size="10" color="blue" font face="geneva">Rock Paper Scissors</font></h1>

<h2><font size="6" color ="blue" font face="geneva">Register to play</font></h2>
<form action="/names" method="post">
  <label for="player_name">
    <font size="5" color ="blue" font face="geneva">Player name</font>
    <input type="text" name="player_name">
  </label>
  <input class="button" type="submit" value="Submit">
</form>


<img src="https://list25.com/wp-content/uploads/2013/08/puppies.jpg">
