<html>
  <body style="text-align:center; font-family: monaco; color: navy; background-color: #009999">
    <h3>HUZZAH</h3>
      <form action="/sign-in" method="post">
        <label for="user">Username:</label>
        <input type="text" name="user">
        <input type="submit" value="Sign me in!">
      <form>
  </body>
</html>
