
<h1><font size="10" color="blue" font face="arial">Rock Paper Scissors</font></h1>

<h2><font size="4" color ="blue" font face="arial">Register to play</font></h2>
<form action="/names" method="post">
  <label for="player_name">
    <font size="3" color ="blue" font face="arial">Player name</font>
    <input type="text" name="player_name">
  </label>
  <input class="button" type="submit" value="Submit">
</form>


<img src="https://list25.com/wp-content/uploads/2013/08/puppies.jpg">
