<html>
  <head></head>
  <body>
    <div class="title">
      Pick your mode
    </div>
    <form action="/single" method="get">
      <input type="submit" value="Single Player" class="submit-player" name="single">
    </form>
    <form action="/multi" method="get">
      <input type="submit" value="Multi Player" class="submit-player" name="multi">
    </form>
  <body>
</html>
