<html>
  <head>
    <title>
      Welcome
    </title>
    <!--link rel="stylesheet" href="style.css"-->
  </head>

  <body>
    <h1>Welcome to a game of pure skill,</h1>
    <h2>Rock, Paper, Scissors</h2>

    <h2>Rules</h2>
    <p>The rules are fairly complex so try to keep up</p>
    <ul>
      <li>Rock beats Scissors</li>
      <li>Scissors beats Paper</li>
      <li>Paper beats Rock</li>
    </ul>
    
    <p>Would you like to begin?</p>
    <a href="/register">Yes!</a>
    <a href="/goodbye">No</a>
  </body>
</html>
