<html>

<head>
</head>

<body>
  <h1>Let's play Britain's most beloved school playground game: Rock, Paper, Sissors!</h1>

  <h2>Who will challenge our current champion, Edward?</h2>

  <div>
    <p>Challenger, please enter your name below</p>

    <div class="player">

      <form action="/name" method="post">
        <input type="text" name="player_name" placeholder="Challenger name" />
        <button type="submit" value="GO!">GO!</button>
      </form>

    </div>

  </div>

</body>

</html>
