<center>
  <h1> Let's play Rock, Paper, Scissors!!
    </h1>
    <h2> Enter name to start
    </h2>
      <form action="/name" method="post">
          <input type="text" name="player_1_name">
        <label for="player_1_name">
          Player 1 name
        <input type="submit" value="GO!">
        </form>
  </center>
