<h1>Before we embark on what can only be descirbed as the most thrilling
and riveting adventure of a life time... <br/> Enter thy names! So they may go down in the books of history and your tale
be heralded for years to come! </h1>
<div>
  <img src="https://media1.tenor.com/images/95c194f1e61ba3466b31deea2b1cf8cf/tenor.gif?itemid=5453432">
<form action = '/players' method="post">
  <label for="player_1_name">
     What's your name?
     <input type="text" name="player_1_name">
     <input type="submit" value="Go forth and forge thy destiny!">
  </label>
  </div>