<html>
<head>
<style>
body {
  background-image: url('https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg');
}
</style>
</head>
<body>
<center><h1 style="font-family:verdana;"> Welcome to ROCK PAPER SCISSORS! </h1> 
<h2> Please enter your name below! </h2> 
<br>
<form action='/enter_names' method='post'>
<input type="text" name='player_name'>
<input type="submit" value="Play!">
</form>
</center>
</body>
</html>