<h1> Let's play <i>Rock Paper Scissors </i> </h1>

<br>


<form action='/name_in_lights' method=post>
<label for ="Gladiator"> Name your Capybara Warrior </label>
<input type='text' name='example'>
<button type ='submit'> Ready! </button>
</form>



<img src="https://media.giphy.com/media/JyvTqFChcKimQ/giphy.gif" alt=" capybara GIF" style="width: 480px; height: 270.367px; left: 0px; top: 0px; opacity: 1;">
