<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <img src="rpsls.png" alt="Rock, Paper, Scissors" style="width:500px">
    <h1>Rock, Paper, Scissors, Lizard, Spock!</h1>
    <h2>Please select the game mode.</h2>

    <form action="/new_game" method="post">
      <select name="players">
        <option value="One Player">One Player</option>
        <option value="Two Player">Two Player</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
