<h1>Rock! Paper! Sissors!</h1>
<h2>Enter Name to play</h2>
<form action="/name" method="post">
  <label for="player_name">
    Player name
    <input type="text" name="player_name">
  </label>
  <label for="player_2_name">
  <input type="submit" value="Submit">
</form>
