<h1> ENTER IF YOU DARE! </h1>

<form action = "/choose" method = "post">
  <input type = "text" name = "name" placeholder="Enter name here">
  <button type = "submit" value = "Submit">BEGIN!</button>


<style>

html {
  background: url(http://www.newsread.in/wp-content/uploads/2016/07/Apocalypse-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 60px;
}

input[type="text"] {
    width: 220px;
    height: 35px;
    font-size: 20px;
}

button:hover{
  background: #3B5C76;
}

button {
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
  }

</style>
