<h1>*_*_*ROCK*_*_*PAPER*_*_*SCISSORS</h1>

<h2>Thou must tell me, by what name should I calledst thou?</h2>
<form action="/named" method="post">
  <label for="charname">
    Tap unto thine keyboard thy name, MIGHTY WARRIOR
    <br /><input type="text" name="charname">
  </label>
  <br /><br />
  <label for="char2">
    Also what's player 2 called or leave this blank for a computer opponent
    <br /><input type="text" name="char2" placeholder="Computer"/>
  </label>
  <br /><br />
  <input type="submit" value="Begin the RAMPAGE" />
</form>
