<h1>Welcome to Jajanken</h1>
<h4>Sign up to play</h4>
<form action="/setup" method="post">
  <label for="username">Username</label>
  <input type="text" name="username">
  <br>
  <input type="submit" value="Start">
</form>
