<html>
  <div>
    <h1>Launch control initiated.
      <div> Captain: Input name to prepare for launch </div>
      </h1>
  </div>
  <div>
    <form action="/names" method="post">
      <label for="Enter name"> </label>
      Enter name: <input type='text' name='name_1'>
    <div>
      <label for="button"> </label> <h2>
      When name input complete, LAUNCH SEQUENCE IS GO ---> <input type="submit" value="GO!">
    </h2>
      </form>
    </div>
    </div>
</html>
