<h1>*** Rock Paper Scissors ***</h1>
<h1>Game</h1>
<h2>Enter your names to play</h2></br>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1
  <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2
  <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
