<form action="/name" method="post">
  <label for="player">Name:</label>
    <input type="text" name="player">
    <input class="button" type="submit" value="Play">
</form>
<style>
body {
    background-image: url("https://www.walldevil.com/wallpapers/w02/771994-blue-background-funny-minimalistic-paper-rocks-scissors.jpg");
    background-size: cover;
    }
</style>
