<body>
  <form action='/single-player' method='get'>
    <input type='submit' value='Single Player'>
  </form>

  <form action='/multiplayer' method='get'>
    <input type='submit' value='Multiplayer'>
  </form>
</body>
