<head>
  <h1 style='text-align:center'> Welcome to Rock, Paper and Scissors </h1>
</head>

<body style='background-image:linear-gradient(rgb(241, 163, 244),rgb(203, 235, 167))'>

<form action='/names' style='text-align:center' method='post'>

  <div id='name'><h3>Please enter your name</h3>
    <input type='text' name='player' placeholder="Jake" required>
  </div>

<br>
<br>

  <div id='submit'>
    <input type='submit' value="Let's Go!">
  </div>

</form>

</body>