<link rel="stylesheet" type="text/css" href="/css/style.css">

<body>
  <h1>Do you want to play a game?<h2>
  <h1>"Rock, Paper, Scissors"</h1>
  <form action='/names' method='post'>
    <label for="player_1_name">
      Enter Name
    <input type ="text" name="player_1_name">
    </label>
<br />
<br />
    <input type="submit" value="Submit">
  </form>
</body>

<div>
    <img src='http://i00.i.aliimg.com/wsphoto/v0/576504602/FREE-SHIPPING-Halloween-supplies-The-high-quality-theme-of-the-film-mask-saw-mask-delicate-collector.jpg'>
</div>
