<div class='form'>
  <form action='/rps' method='post'>
    <label for='name'>Enter Name:</label>
    <input type='text' name='name' />

    <button type='submit'>Enter Game</button>
  </form>
</div>
