<h1>Please register your name to start the game.</h1>
<hr>
<form action="/names" method="post">
    <ul>
        <li style='margin-bottom: 10px'>
            <label for='player_name'> Name: </label>
            <input type='text' name='player_name'>
        </li>
        <li>
            <label for='submit'>Submit</label>
            <input type='submit' value='Submit'>
        </li>
    </ul
</form>