<!DOCTYPE html>
<html>
<head>
  <script src="https://use.fontawesome.com/5d80a0eb69.js"></script>

</head>
<body style="font-family:verdana;">
  <h1 style="text-align:center;"><i class="fa fa-hand-o-right" aria-hidden="true"></i> ROCK - PAPER - SCISSOR <i class="fa fa-hand-o-left" aria-hidden="true"></i></h1>

  <form method="POST" action="/name">
    <label for="player"> Put your name:</label>
    <input type="text" name="player">
    <input type="submit" value="Submit">
  </form>

</body>
</html>
