<head>
  <title>Rock, Paper, Scissors!</title>
</head>

<body>
  <h1>It's time to play Rock, Paper, Scissors!</h1>
  <h2>Tell us your name to play</h2>
  <form action="/name" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Play!">
  </form>
</body>
