<h1>Rock paper scissors challenge</h1>

<div>
  <form action="/new-game" method="post">
    <input id="single-player" type="radio" name="game_opponent" value="1"> Single player
    <input id="two-player" type="radio" name="game_opponent" value="2"> Two player

    <h5>Game type</h5>
    <input id="normal" type="radio" name="game_type" value="normal"> Rock, paper, scissors
    <input id="advanced" type="radio" name="game_type" value="advanced" disabled> Rock, paper, scissors, spock, lizard
    <button type="submit">Start game</button>
  </form>
</div>
