<h1>Rock, Paper, Scissors!</h1>

<img src="https://s-media-cache-ak0.pinimg.com/originals/e2/08/a7/e208a7e9789a0901b58283f8887dcaaa.jpg">
<br>
<br>
<form action="/name" method="post">
Enter player name:
<input type="text" name="player_name">
<br>
<input type="submit" value="Submit">
</form>
