<style>
h2 {text-align: center;}
</style>

<h2>Welcome to Rock, Paper and Scissors</h2>

<h4 style="text-align: center;">
<form action="/player" method="post">
Please enter your name to begin a game <br><br><input type="text" name="marketeer"><br><br>
<input type="submit" value="Submit">
</form>
<h4>
