<head>
  <link rel='stylesheet' type='text/css' href='styles.css') />
</head>

<h1>Get ready to fight!</h1>


<h3>Enter your name</h3>
<form action='/names' method='post'>
  <label for='Player1'>
    Player 1
    <input type='text' name='Player1'>
  </label>

  <!-- <label for='Player2'>
    Player 2
    <input type='text' name='Player2'>
  </label> -->

  <input type='submit' value='Fight'>
</form>
