
<body style="background: url(https://i.ytimg.com/vi/nwhGL_JEQis/maxresdefault.jpg); background-repeat:no-repeat; background-position: center; background-size: 1500px">
<center>
<h1 style="font-size:50px">Rock, Paper or Scissors?</h1>
<h3>What's your name?</h3>
<form action='/name' method='post'>
  P1: <input type='text' name='name'>
  <!-- P2: <input type='text' name='p2name'> -->
  <input type='submit' value='Submit'>
  </form>
  </center>
  </body>
