Welcome to gaming nirvana...
<br>
<h1>  **  ROCK PAPER SCISSORS **  <h1>
<br>
<h2> Would you like to play against the machine or a friend? </h2>
<br>
<form action="/players" method="post">
  <button type="submit" name="action" value="ONE PLAYER" class="play_button">Solo</button>
  <button type="submit" name="action" value="TWO PLAYER" class="play_button">Multi</button>
</form>
