<h1> GET READY TO PLAY RPS </h1>
<h2> Do you want to play on your own, or vs your friend?</h2>

<form method="post" action= "/enter_name">
  <button type="submit" name="move" value ="1player"> ALONE </button>
</form>

<form method="post" action= "/enter_names">
  <button type="submit" name="move" value ="2player"> With my friend </button>
</form>
