<center> <h1>Rock, Paper, Scissors!</h1>
<h2>Enter your name to play</h2>
<form name="input" action="/names" method="POST">
  <label for="player_1_name">
    Put your name here :)
    <input type="text" name="player1_name">
  </label>
  <input type="submit" value="Let's Play!">
</form> </center>
