<h1>Welcome to RPS</h1>
<h1>Please enter your name</h1>

<form action="/name" method="POST">
<label for="name">Enter name: </label>
<input type="text" name="name" required>
<input type="submit" value="Register">
</form>