<h1> Hello and Welcome to the Rock, Paper, Scissors World Championship! </h1>
<h2> Please enter your name to get started </h2>

<form action="/info" method="get">
Your Name: <input type="text" name="name">
<input type="submit" value="Submit">