<link rel="stylesheet" href="css.css" type="text/css" /> 

<!DOCTYPE html>
<html>
  <head>
    <title>ROCK. PAPER. SCISSORS.</title>
  </head>
  <body>
    <center>
      <header>
        <h1>ROCK. PAPER. SCISSORS.</h1>
        <h2>Please enter your name below</h2>
      </header>
      <div>
        <form method='POST' action='/names'>
          <div>
            <input type="text" name="player_1_name" placeholder="Player"/>
          </div>
          <br>
          <div>
            <input type="submit" value="Play"/>
          </div>
        </form>
      </div>
    </center>
  </body>
</html>