<h1>My name Jeff</h1>

<form action = "/play" method = "get" >
  <label for = "playername">
    Player Name:
  <input type="text" name="playername">
  </label>
  <input type = "submit" value="Submit">
</form>

<form action = "/twoplay" method = "post">
  <input type = "submit" value = "2 Players">
</form>
