<h1>Welcome to Maker's RPS!</h1>
<label for='name'><h2>Please, insert your name!</h2></label>
<form action='/names' method='POST'>
  <input type='text' id='name' name='name'>
  <input type='submit' value='Submit'>
</form>
