<div class='form_layout'>
  <form action='/names' method='post'>

    <label for='player_1'>Player 1, enter name:</label>
    <input type='text' name='player_1'>

    <label for='player_2'>Player 2, enter name:</label>
    <input type='text' name='player_2'>

    <input type='submit' class='button__style' value='Submit'>

  </form>
</div>