<h1> Welcome to rock, paper, scissors! </h1>
<form action="/name2" method=post>
  <div>
  <label for="name">
    Oooh I bet your name would look good in here!
    <input type="text" name="name">
  </label>
  </div>
  <div>
  <label for="name2">
    If you had a friend, their name would go here <3
    <input type="text" name="name2">
  </label>
  </div>
  <div>
  <input type="submit" name="I'm ready!">
  </div>
</form>
