<h1>Rock, Paper, Scissors</h1>
<h2>Please sign in with a username below</h2>

<form action="/names" method="post">
  <div>
    <label for="player"> Username:</label>
    <input id="Username" type="text" name="username">
    <input type="submit" value="Submit"/>
  </div>


</form>
