<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

<body style="background-color:lightyellow;">

  <div align='center'>
    <font color="red"><h1>Rock Paper Scissors!</h1></font>
    <img src="http://www.who2.com/wp-content/uploads/2015/10/jim-kelly-photo-enter-the-dragon.jpg">

    <font color="black"><h2>  Sign in to play</h2>
    <form action="name" method="post">
      <label for="player_1_name">
        Player 1 name
        <input type="text" name="player_1_name">
        <input type="submit" value="Submit">
      </form>
      </font>
  </div>
</body>
