<div>
  <center>
    <img  src = 'https://en.wikipedia.org/wiki/File:Rock-paper-scissors.svg'>
  
    <h1>Game will begin shortly, enter thy name</h1>

    <form action="/names" method="post">
      <p>PlayerName: <input type="text" name="player_1_name"></p>
      <input type="submit" value="Submit">
    </form>

  </center>
</div>
