<html>
  <body style ="background-color:rgb(51, 51, 204)">
  <h1 style="color:white; font-family:georgia" align="center"> Rock Paper Scissors </h1>
  <br>
  <h2 style="color:white; font-family:georgia" align="center"> Please enter your name </h2>
  </body>
  </html>
