<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      body { background-color: black;
            color: #e60073;
            text-align: center;
            font-size: 40px;
            font-family: 'Verdana';
        }

    </style>
    <title>Homepage</title>
  </head>
  <body>

  </body>
</html>

<h1>Rock, Paper, Scissors</h1>
<h2>How many people are playing?</h2>
<form action="/number_players" method="post">
  <label for="number_players">
    <select name="number_players">
      <option value="One Player">One Player</option>
      <option value="Two Players">Two Players</option>
    </select>
  </label>
  <input type="submit" value="Submit">
</form>
