<h1>Rock Paper Scissors</h1>
<form action="/names2" method="post">
  Player 1 name:<br>
  <input type="text" name="player_1_name">
  <br>
  <br>
  Player 2 name:<br>
  <input type="text" name="player_2_name">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
