<h1>Welcome to Rock Paper Scissors</h1>

  Please enter your name
 <form method='POST'>
   <input type="text" name="name" required>
   <input type="submit" value="Submit">
 </form>

Playing vs Computer