<h1> Please enter your name!</h1>
<form action="/name" method="post">
  <label for="player_name">Player:</label>
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
