<h1>Rock Paper Scissors</h1>
<<img src="https://ichef.bbci.co.uk/news/660/media/images/74580000/jpg/_74580127_162317629(1).jpg" alt="">
<form action="/names" method="POST">
  <h2>Player 1 enter your name</h2>
  <input name="player_1_name"></input><br>
  <h2>Player 2 enter your name</h2>
  <input name="player_2_name"></input><br>
  <input type="submit" value="Submit">
</form>
