<!DOCTYPE html>
<p>What is your name?</p>
<form class="" action="/play" method="post">
  <label for="name">
    <input type="text" name="name" value="">
  </label>
  <input type="submit" name="" value="Play!">
</form>
