<!doctype html>
<html>

  <head>
    <title>Rock Paper Scissor game challenge</title>
  </head>
  
  <body>
    <h1>Rock, Paper, Scissors!</h1>
    <h2>Sign in to play</h2>
    <form action="/name" method="post">
      <label for="player_name">
        Enter your name: 
        <input placeholder="name" type="text" name="player_name">
      </label>
      <input type="submit" value="Submit">
    </form>
</body>

</html>