<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Rock Paper Scissors!</h1>

<p>Press 'New Game' to start!</p>

<form action="/gamesetup">
    <button type="submit">New Game</button>
</form>

</body>
</html>