<h1>It's on! Rock, paper, scissor!</h1>

<form action="/gamemode" method="post">
  <div>
    <label for="Single Player">Single Player</label>
    <input type="radio" name="mode" value="single_player">
    <label for="Single Player">Multiplayer</label>
    <input type="radio" name="mode" value="multiplayer">
    <button type="submit" value="submit">Continue</button>
  </div>
</form>
