<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <div>
    <p>Please enter your name to play</p>
    <form action='/name' method="POST">
    <input type='text' name='player_name'>
    <input type='submit' value='Sign in'>
    </form>
    </div>
  </body>
</html>

