<div>
  <h1>Welcome to Rock Paper Scissors!</h1>
</div>
<div>
  <h2>Please enter your name:</h2>
<form action='/play' method='post'>
  <input type='text' name='player'/>
  <input type='submit' value='Go!'/>
</form>
