<h1><center> Welcome to RPS! </center></h1>
<h1><center> The ROCK, PAPER, SCISSORS simulation game! </center></h1>
<h2><center> Enter your name to play </center></h2>
  <center><form action='/names' method='post'>
  <label for="player_1">
  Player 1 Name:
  <input type='text' name='player_1'>
  <input type="submit" name="Lets GO!" value="Lets GO!"></center>
