<div>
  <h1> Hello welcome to the Rock Paper, Scissors Challenge</h1>

    <form action="/" method="post">   <!-- this is a PUT -->
      What's your name?
      <input type="text" name="player1">
      <input type="submit" value="submit">  <!-- need value so capybara knows it exists -->
    </form>

  <% if @errormsg %>
      <div> Name entered is rubbish </div>
    <% end %>
</div>