<html lang="en">
  <head>
    <h3 style="text-align: center">Welcome to Rock, Paper, Scissors!</h3>
  </head>
  <body style="text-align: center">
    Click <a href="">Here</a> to start a new game!
    <div>
      <img src="http://static.framar.bg/filestore/kamyk-nojica-hartiq.jpg" alt="hands" style="100%">
    </div>
  </body>
</html>
