<!DOCTYPE html>

<div style="text-align:center">
  Welcome to rock, paper, scissors!
  <div class="">
    <form action="/one_player">
      <input type="button" name="one_player" value="Player VS. Computer">
    </form>
    <form action="/two_players">
      <input type="button" name="two_player" value="Player 1 VS. Player 2">
    </form>
  </div>
</div>
