<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" type="text/css" href="style.css">

<div id="grad1" style="text-align:center;margin:auto;color:#888888;font-size:40px;font-weight:bold">
ROCK PAPER SCISSORS what what?
</div>

<form action="/startup-game" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </div>
  <div class="button">
    <button type="submit">Start the game</button>
  </div>
</form>
</body>
</html>