<h1>Let's play rock paper scissors! please enter your names and then hit 'BATTLE'</h1>
<br>
<form  action="index.html" method="post">
  <input type="text" name="player1">
  <input type="text" name="player2">
  <input type="submit" value="BATTLE">
</form>
