<!DOCTYPE html>
<html>
<center>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Lets play Rock Paper Scissors!</h1>

  </body>
  <center>
</html>
