<h1>Rock, Paper, Scissors</h1>
<form action ="/players" method ="post">
  <label for= 'player_1'>
    <input type = 'text' name ="player_1" placeholder ='Enter player name...'>
  </label>

  <input type ='submit' value ='submit'>
</form>

<style>
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

input {
  margin: 10px;
  padding: 20px;
  width: 20rem;
}