<font face="courier" color="blue">
<h1> Rock, Paper, Scissors Game <h1/>
  <h2> Please enter your names </h2>
  <form action='/2names' method='post'>
    <label for='name1'>
      Player 1 Name
      <input type='text' name='name1'>
    </label>
      <label for='name2'>
        Player 2 Name
        <input type='text' name='name2'>
      </label>
    <input type='submit' value='Submit'>
  </form>
</font>
