<!DOCTYPE html>
<html>
<head></head>
<link rel="stylesheet" href="style.css" type="text/css" />
<body>
    <div align="center">
    <h1>Welcome page</h1>
    <h3>This is a welcome page so I welcome you e-traveller oh mighty you!</h3>
    <code>You have the right to select your weapon.<br>
      Anything you choose may be used against you in a battle field.</br>
      You have the right to consult with your friends.</br>
      <b>If you cannot afford a weapon, one will be appointed for you.</b></br>
      If you decide to select your weapon now, you will not have the right to select again.</br>
      Knowing and understanding your rights as I have explained them to you, are you willing to battle for the glory?</code>
    <br>
    <div id="one">
      <form action="/getting_started" method="post">
      <h4> What's your name stranger? </h4>
      <label for="player_1_name"> Player 1 name <input type="text" name="player_1_name"> </label>

      <h4>Weapon choices: rock - scissor - paper</h4>
      <label for="Weapon choice"> Choose your weapon wisely <input type="text" name="weapon"> </label>    
      
      </br>
      <br>
      <input type="submit" value="Submit">
      </form>
    </div>

    </div>
</body>
</html>

