<h2>Welcome!</h2>
<h1>Rock, Paper, Scissors</h1>

<h4>Please enter your name</h4>

<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>
