<form action='/names' method='post'>
  <label for="player_one">Player One:</label><br>
   <input type='text' name='player_one'><br>
  <label for="player_two">Player Two:</label><br>
    <input type='text' name='player_two'><br>
  <input type="submit" value="Submit">
</form>
