<style>
h1 {text-align:center;}
h2 {text-align:center;}
form {text-align:center;}
label {text-align:center;}
</style>
<br><br><br><br>
<h1>Welcome to Rock, Paper, Scissors!</h1>
<br><br><br><br><br>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player">
    What is your name, champion?
    <br><br>
    <input type="text" name="player">
  </label>
  <br><br><br><br><br><br>
  <input type="submit" value="Begin game">
</form>