<h1>Howdy Makers Marketeer!!</h1>
<h2>Enter Your Name:</h2>
<form action="/start_game" method="post">
  <label for="player_name">
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>