<h2>Welcome to yet another amazing game of Rock, Paper, Scissor!</h2>

<h3>To start a new game please insert your name</h3>

<form action="/play" method="post">
  <input type="text" name="player_name">
</form>
