<head>
  <title>Rock, Paper, Scissors</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<div>
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <form action="/name" method="post">
    <label >Player 1 name:</label>
    <input type="text" name="player_1_name">
    <input type="submit" value="Submit">
  </form>
</div>
<div>
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg?crop=0.994xw:0.799xh;0.00160xw,0.195xh&resize=1600:*" alt="illustrated hands playing rock, paper, scissors">
</div>