<form action='/name' method="POST">
  <h3>Player 1 name:</h3>
  <input type='text' name='player_1'>
  <h3>Player 2 name:</h3>
  <input type"text" name="player_2">
  <br></br>
  <input type="submit" value="Submit">
</form>