<h1>Rock, Paper, Scissors!</h1>
<div>
  <img src="https://rockpaperscissors.com/wp-content/uploads/2016/12/rps-logo-og.png">
</div>

<form action='/names' method='post'>
  Player 1: <input type="text" name="player_1_name">
  Player 2: Computer <input type="hidden" name="player_2_name">
<input type="submit" value="Submit">
</form>
