<title>RockPaperScissors</title>
  <body style='background-color: lightblue'>
    <center>
      <h1>Let's play Rock Paper Scissors!</h1>
        <form action='/names' method='post'>
          <label for='player1'>Enter Player name:</label>
          <input type='text' name='player_1_name'>
          <button type='submit'>Play</button>
        </form>
    </center>
  </body>
