<head>
  <title>Rock, Paper, Scissors</title>
</head>

<body>


<iframe src="//giphy.com/embed/CPhkyT8obBcw8" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:-999999;"></iframe>
  <h1>Play!</h1>
  <div class="input_text">
    <form class="text_field" action="/names" method="post">
      <h3>Player1_name:</h3> <input type="text" name="player1_name" autofocus>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</body>
