<html>
<head></head>
 <h1>Rock Paper Scissors</h1>
 <h4>By Diego Romero</4>
     <h2>what is your name?</2>
    <form action='/game'>
 		<input type="text" name="name">
  	<input type="submit">
    </form>