<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style> 
  </head>
  <body>

    <div class='header_box'>
      <h1>Rock Paper Scissors</h1>
    </div>

    <form class='box' action='/names' method='post'>
      <h3>Enter your name<h3>
      <input type='text' name='player_1_name' placeholder='player 1'>
      <input class='standard_button' type='submit' value='Submit'>
    </form>

  </body>
</html>