<body style="background-color:powderblue;">
<div>
  <img src="https://www.ads.org.uk/wp-content/uploads/thumb_6917_rockpaperscissors-580.jpg" class="image-replace" alt="" data-src="https://www.ads.org.uk/wp-content/uploads/thumb_6917_rockpaperscissors-{width}.jpg" width="580">
</div>
<h1>Want to play Rock Paper Scissors??</h1>
<h3>** Fill in your name **</h3>
<form action="/names" method="post">
  <label for="player_1_name">
    Your name:
  <input type="text" name="player_1_name">
  </label>
  <input type="submit" value='Submit'>
  </form>
</body>
