<form action="/one-player/enter-name" method="post">
    <div class="button">
        <button type="submit">One Player</button>
    </div>
</form>

<form action="/two-player/enter-names" method="post">
    <div class="button">
        <button type="submit">Two Player</button>
    </div>
</form>
