<h1>Rock, paper, scissors!</h1>
<h2>Sign in to play:</h2>
<form action='/name' method='post'>
  <label for='name'>
    Type your name here:
    <input type='text' name='name'>
  </label>
  <input type='submit' name='Submit'>
</form>
