<html> 
  <head>
  </head>

  <body>
    <h1> Play rock, paper scissors! </h1>
    <h3> Enter your name to start game </h3>

    <form action='name' method='post'>
      <input type='text' name='player_name'>
      <input type='submit' value='Submit'>
    </form>
  </body>

</html>