<br>
<br>
<br>
<center><h1 style="color:purple;">ROCK - PAPER - SCISSORS</h1></center>
<!-- <h2>Enter your name to play</h2> -->
<center><form action="/name" method="post">
  <label for="Enter your name" style="color:green;">
    Enter your name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Play!">
</form>
<!-- <div style='border: 8px solid blue; width: 454px'> -->
   <center><img src='https://images-na.ssl-images-amazon.com/images/I/61QkvmvEdVL.png' width="512" height="259">
<!-- </div> -->
