<h1>Welcome to Rock Paper Scissors!</h1>
<h2>How would you like to play?</h3>
<div class="container">
  <form action="/single" method="get">
    <input type="submit" value="Single player">
  </form>
    <form action="/multi" method="get">
    <input type="submit" value="Multiplayer">
  </form>
</div>
