<h1>*** Rock Paper Scissors ***</h1>
<h1>Game</h1>
<h2>Enter your name to play</h2></br>
<form action="/names" method="post">
  <label for="player_1_name">
    Player
  <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
