<h1> Rock, Paper, Sciccors! </h1>
<h2> Please enter your name below to play </h2>
<form action="/play" method="post">
  <label for="player">
    Player Name:
      <input type = "text" name = "player_name"/>
  </label>
  <input type = "submit" value = "Submit"/>
</form>
