<!DOCTYPE html>
<html>
<head>
	<title>Rock, paper, scissors, spock, lizard!</title>
</head>
<body>
	<form action="/login" method="post">
		Your name:
		<input type="text" name="player">
		<input type="submit" value='Play!'>
	</form>
	<a id="multiplayer-page" href="/multi_login"><button type="button" name="button" value="multiplayer">Multiplayer</button></a>
</body>
</html>
