<link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Shade&display=swap" rel="stylesheet">

<div style="font-family: 'Bungee Shade'; font-size: 48px">
  <h1 align="center"> Rock, Paper, Scissors </h1>
</div>

<div align='center'>
  <br>
  <form action="/start" method="post">
    <label for="player_1_name">
      Name:
      <input type="text" name="player_1_name">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
