<h1>Rock, Paper, Scissors!</h1>

<h2>Would you like to play alone or with a friend?</h2>

<form action="/player_1_choice">
 <input type="submit" value="Single Player Mode">
</form>
<form action="/player_2_choice">
 <input type="submit" value="Two Player Mode">
</form>