<!DOCTYPE html>
<html>
<body style="background: rgb(0, 0, 0)">
<h1 style="color: rgb(143, 97, 210); text-align: center">
!!Rock, Paper, Scissors!!
</h1>

<h2 style="color: rgb(122, 178, 203); text-align: center">
  ---------------PLEASE ENTER YOUR NAME---------------
</h2>

<div style="color: rgb(133, 122, 203); text-align: center">
<form action='/names' method='post'>
  <label for="player_name">
  PLAYER NAME
  <br>
  <input type='text' name='player_name'>
  <br>
  </label>
  <input type='submit' value='Submit'>
</form>
</div>

</html>
