<h1> Rock-Paper-Scissors Ultimate!</h1>
<form action='/player_name' method='post'>
Please enter your name: <br/>
  <input type='text' name='name'> <br/>
  <input type='submit' name='enter name and start game!'>
</form>
