<h1> Please enter your name </h1>
<br> </br>
<form action="/names" method="post">
  <div>
    <label for="player_one">Player one: </label>
    <input type="text" name="player_one">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>


