<h1> It's Rock Paper Scissors! </h1></br>
<h3> First things first: do you want to play against the computer, or another human?</h3>

<form action='/login_single' method='post'>
  <button type='submit'>Single Player'</button>
</form>
<form action='/login_multi' method='post'>
  <button type='submit'>Multiplayer</button>
</form>

