<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>


<body>
  <div>
    <h1>Rock. Paper. Scissors.</h1>
    <p>How many players would you like?</p>
    <form style=width:10em; action="/oneplayer" method="post">
      <input style=float:left; type="submit" value="One">
    </form>
    <form action="/twoplayer" method="post">
    <input style=float:right; type="submit" value="Two">
  </form>
  </div>
</body>
