<h1>Welcome to Rock Paper Scissors!</h1>
<h2>How would you like to play?</h2>
<div class="container">
  <div class="child">
    <form action="/single" method="get">
      <input type="submit" value="Single player">
    </form>
  </div>
  <div class="child">
      <form action="/multi" method="get">
      <input type="submit" value="Multiplayer">
    </form>
  </div>
</div>
