<h1> Rock, Paper, Scissors, Lizard, Spock </h1>

<h2>  Welcome to Rock, Paper, Scissors, Lizard, Spock! </h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Please enter your name!
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>


<h2> ＼(^ω^＼) </h2>
