<%= erb :game_header %>
<br><br><br><br><br><br>
<section id="home_buttons">
  <form action='/' method='post'>
    <input class="choice_button" type='submit' name='mode' value="Single Player">
    <br><br>
    <input class="choice_button" type='submit' name='mode' value="Multiplayer">
  </form>
</section>
