<form action="/name" method='post'>
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <h2>Please enter your name to begin:</h2>
  <ul>
    <li>
      <h4>Player One</h4>
      <input type='text' name='player_name'> </input>
    </li>
    <input type='submit' value='Submit'>
  </ul>
</form>
