<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="<%= url('/global.css') %>" rel="stylesheet" type="text/css" />
  <title>RPS GAME</title>
</head>
<body>
  <div class="outer_div">
    <div class="inner_div">
      <h1> Battle APP </h1>  
      <h3> Rock Paper Scissors </h3> 
      <a class="link_like_btn" href="/multyplay">Multiplayer</a>
      <div>
        <form action="/get_name" method="POST" >
          <p>Enter your name</p>
          <input placeholder="Name" name="Player" type=text >
          <button type=submit >GO</button>
        </form>
      <div>
    </div> 
  </div>  
</body>
</html>