 <div>
  <p>
     What is your name?
  </p>
  <p>
    <form method="post" action="/game">
      <input type="text" name="name">
      <input type="submit" value="Let's play!">
    </form>
  </p>
</div>