
<body>
<h1>Welcome to the greatest game going!</h1>
  <form action = "/play" method = "POST">
    <input type = "text" name="Enter name">
    <input type = "submit" value = "Begin...">
  </form>
</body>
