<h1>Rock Paper Scissors</h1>
<h2>Who will be victorious?</h2>

<form action='/play' method='post'>
  <div>
    <p>Enter your name to play</p>
  </div>
  <div>
    <input type='text' name='playerName'>
  </div>
  <input type='submit' value='Submit'>
<form>