<html>
  <h1>Play Rock-Paper-Scissors!</h1>
  <body background="http://i.imgur.com/2HYkQon.jpg">
  <form method="GET" action="/game_start">
    <div>Enter your name to begin:</div>
    <input type="text" name="name" placeholder="name">
    <input type="submit" value="Go">
  </form>
</html>
