
<center><h1>Welcome to the Rock-Paper-Scissors game!</h1></center>

<div style= 'border:3px solid black', 'width:300px', 'padding:50px', 'margin:20px'>
  <img src= "https://bit.ly/2NwDL3w">
</div>

<br>

<form action="/names" method="post">
  <label for="player_1_name", placeholder="enter player name">
    Ready Player 1:
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Register">
</form>
