<center>

<h1>Hi</h1>
<form action="/name" method="post">
  <div>
    <label for="player_1_name">Submit your name:</label>
      <input type="text" name="name" id="player_1">
    </div>
  <div>
  <button type="submit" value="Submit">Submit</button>
  </div>
</form>
</center>
