<!DOCTYPE html>
<html>
<head></head>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
    <div align="center">
    <h1>Welcome page</h1>
    <h3>This is a welcome page so I welcome you e-traveller oh mighty you!</h3>
    <blockquote class="bg-warning">
      <p>You have the right to select your weapon<p>
      <p>Anything you choose may be used against you in a battle field.</p>
      <p>You have the right to consult with your friends.</p>
      <p><b>If you cannot afford a weapon, one will be appointed for you.</b><p>
      <p>If you decide to select your weapon now, you will not have the right to select again.</p>
      <p>Knowing and understanding your rights as I have explained them to you, are you willing to battle for the glory?</p>
    </blockquote>
    <br>

    <form class="form-inline" action="/getting_started" method="post">
      <div class="form-group">
        <label for="player_1_name">Player 1 Name</label>
        <input type="text" class="form-control" name="player_1_name" placeholder="Player">
      </div>
      <div class="form-group">
        <label for="Weapon choice">Choose your weapon</label>
        <input type="text" class="form-control" name="weapon" placeholder="Choose wisely">
      </div>
      <button type="submit" class="btn btn-danger">Let's go!</button>
    </form>

    </div>
</body>
</html>

