<h1>Rock, Paper, Scissors</h1>

<h2>Time to throw down!</h2>

<form action="/names" method="POST">
  <label for="player_1">
    Enter your name Player 1
      <input type="text" name="player_1">
  </label>
<input type="submit" value="Submit">
</form>
