<body style="background-color: #CCFFE6;">
  <h1>Hello there!</h1>
    <h2>What's your name?</h2>
  <div>
    <form action='/info' method='post'>
      <input type='text' name='player_1'>
      <input class='btn' type='submit' value="Let's play!">    
    </form>
  </div>
</body>