<form action="/start" method="post">
  Enter your name: <br>
  <input type="text" name="name"><br>
  <input type="radio" name="mode" value="standard">Standard (R-P-S)<br>
  <input type="radio" name="mode" value="extended">Extended (R-P-S-L-S)<br>
  <input type="submit" value="Submit">
</form>