<link rel="stylesheet" type="text/css" href="/css/style.css">

<body>
  <h1>Do you want to play a game?<h2>

  <h1>"Rock, Paper, Scissors"</h1>

  <h2>Live or Die, make your choice</h2>

  <h2>Sign in to play</h2>

  <div>
    <img src='http://i00.i.aliimg.com/wsphoto/v0/576504602/FREE-SHIPPING-Halloween-supplies-The-high-quality-theme-of-the-film-mask-saw-mask-delicate-collector.jpg'>
  </div>


  <!-- <form action='/names' method='post'>
    <label for="player_1_name">
      Player 1
       <input type ="text" name="player_1_name">
    </label>
    <br />
     <label for="player_2_name">
      Player 2
       <input type ="text" name="player_2_name">
     </label>
    <br />
    <br />
    <input type="submit" value="Submit">
  </form> -->
</body>
