<!DOCTYPE html>
<html>

  <h1> ROCK ~ PAPER ~ SCISSORS </h1>

  <form action="/name" method="post">
    <h2>
      Enter your name:
      <br>
        <input type="text" name="player_1_name">
    </h2>
    <p>
      <button class="btn submit">Submit</button>
    </p>

</html>