<h1>Hello, welcome to Rock, Paper, Scissors!</h1>

<h2>Please enter your name to start the game:</h2>

<form action='/name' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
