<h1><center>Rock, Paper, Scissors</center></h2>
<h4><center>...eventually to be Rock, Paper, Scissors, Lizard, Spock, maybe...</center></h4>
<form action="/name" method="post">
  <label for="player_name">
    Enter your name!
  </label>
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
