<div class="button" style="margin:0 auto" align=center>
  <form action="/names" method="post">
    Enter name: <input type="text" name="Player1"><br>
    <p>
    <input type="submit" value="Submit">
  </form>
</div>
