<h2>Ready to play ROCK PAPER SCISSOR?</h2>

<form action="/names" method="post">
	<h3>Player 1:</h3>
	<input type="text" name="player1">
	<br>
	<h3>Player 2:</h3>
	<input type="text" name="player2">
	<br><br>
	<input type="submit" value="Submit">
</form>

