<h1> Hello! </h1>
<h2> Welcome to the Rock, Paper, Scissors game!!! </h2>
<h2> Please input your name and submit... </h2>

<form action="/names" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
