<div class='player_name'>Enter your name to start a new game!</div>
<span class='buffer'></span>
<form action="/name" method="post">
  <div class='row'>
    <div class='col-sm'></div>
    <div class='col-sm'>
      <input class='name_field' name="player_name" type='text'>
    </div>
    <div class='col-sm'></div>
  </div>
  <br>
  <div class='row'>
      <div class='col-sm'></div>
      <div class='col-sm'></div>
      <div class='col'>
        <input class='action' type='submit' name='players' value='Single Player'>
      </div>
      <div class='col-sm'>
          <input class='action' type='submit' name='players' value='Multiplayer'>
      </div>
      <div class='col-sm'></div>
      <div class='col-sm'></div>
  </div>
</form>