<font face="courier" color="blue">
  <h1 align="center" >Rock Paper Scissors Game</h1>
    <h2 align="center" > Would you like to play against the computer or with two players</h2>
    <form action="/1" method="get">
      <input type="submit" name="1_player" value="1 Player"/>
    </form>
    <form action="/2" method="get">
      <input type="submit" name="2_player" value="2 Player"/>
    </form>
  </font>
