<div class="container">
  <h1 id="test">Rock/Paper/Scissors</h1>
  <h3>Let's begin!</h3>
  <div class="form">
    <form action="/players" method="post">
     
        <input class="text-field" type="text" id="name" name="name" placeholder="What's your name?" required></input>
      
        <input type="submit" value="Enter game"></input>
      
    </form>
  </div>
</div>
