<!doctype html>
<html>
  <head>
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" type='text/css' href="style.css">
    </style>
  </head>
  <body>
    <div class="title">
      <h1>Welcome to Rock, Paper, Scissors</h1><br><br><br><br><br>
      <p>Please enter your name and we can begin!</p><br><br><br><br><br>
      <form action="/choose_RPS" method="post">
        <input type="text" name="player_1">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>