<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Lots of fun to be had in here</h2>
<h3>Sign in to play</h3>
<form action='/name' method='post'>
  <label for='player_name'>
  Player name:
  <input type='text' name='player_name'>
  </label>
  <input type='submit' value='Submit'>
</form>