<h1>ARE YOU READY TO PLAY ROCK PAPER SCISSORS?</h1>
<h2>Sign in to play....if you dare!</h2>
<form method="post" action="/names">
  <label for="player_name">
    Player 1 name:
    <input type="text" name="player_name">
    <input type="submit" value="Submit">
</form>
