<body style="background-color:lightyellow;">
<h1>Rock Paper Scissors!</h1>
<img src="http://www.who2.com/wp-content/uploads/2015/10/jim-kelly-photo-enter-the-dragon.jpg">

<h2> Sign in to play</h2>
<form action="name" method="post">
  <label for="player_1_name">
  Player 1 name
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>
</body>
