
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Sumana" rel="stylesheet">

<h1>Welcome to Rock, Paper, Scissors</h1>
<img id="line" src="http://bit.ly/2AKs6dk" height="120" width="320">

<h2>Please enter your name and hit submit</h2>
<form action="/name" method="post">
<input type="text" name="player" placeholder="Enter your name here">

<input type="submit" value="Submit">
</form>
