<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Hello</h1>
  <h2>One player or two? (Enter '1' or '2' and hit 'Submit')</h2>

  <form action="/num_players" method="post">
    <label for="num_players">
      <input type="text" name="num_players">
    </label>
    <input type="submit" value="Submit">
  </form>
</body>