<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<img src="rockpaperscissors.jpg" class="center">

<h1>Welcome to Rock Paper Scissors!</h1>

<p>What type of game would you like to play?</p>

<form action="/one_player" method="get">
  <input type="submit" value="One player">
</form>
<br>
<form action="/two_players" method="get">
  <input type="submit" value="Two players">
</form>
