<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
    <title>RPS-Home</title>
  </head>
  <body>
    <div id="home_page_header"></div>
    <form action='/name' method='post'>
      <input type="text" name="player_name" placeholder="name" required>
      <input type="submit" value="play">
    </form>
  </body>
<html>