<head><link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"></head>
<style>
  body {background-color: powderblue; text-align: center; font-family: 'Montserrat', sans-serif;}

  input[type=submit] {
    width: 10%;
    padding: 6px 1px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color:pink;
    border-radius: 5px;
    color: white;
    font-size: 20px
  }
  input[type=text]{
    font-size:20px;
    padding: 6px 10px;
    border-radius: 5px;
  }
  input</style>
  <h1>Welcome to Rock - Paper - Scissors</h1></br></br>


  <h2>To play - please enter your name and ROCK, PAPER or SCISSORS</h2></br></br>

  <form action="/winners" method="post">
    <label for="player_1_name">
      Player 1 name</label>
      <input type="text" name="player_1_name">
      <label for="choice">
        Enter choice </label>
        <input type="text" name="choice">
        <input type="submit" value="Submit">
      </form>
