<body style="background-color: #FBE3E4;margin-left:25%;margin-right:auto">
  <h1> Welcome to Rock Paper Scissors game! </h1>
  <div>
    <form action="/result" method="post">
      <label for="name">Name:</label>
      <input type="text" name="player_1">
      <br>
      <label for="weapon">Weapon:</label>
      <select name="options">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
      </select>
      <br>
      <input type="submit" value="PLAY">
    </form>
  </div>
</body>