<h1>Welcome Stranger!</h1>
<h2>Here you must defeat the 'Dark web' at a game of...</h2>
<h2>Rock, Paper, Scissors, Lizard, Spock!</h2>
<h3>Please sign in to play</h3>

<form action= "/player_name" method= "post">
  <lable for="player_name">
    Player Name
    <input type="text" name="player_name">
  </lable>
  <input type="submit" value="Submit">
</form>
