<div>Let's play rock paper scissors!
  please enter your name and then hit 'BATTLE'
  <form action="/name" method="POST">
    <input type="text" name="name">
    <input class="btn" type="submit" value="BATTLE">
  </form>
</div>
<link rel="stylesheet" type="text/css" href="/styling.css" >
