<div>
    <body style="background-color:Teal; text-align:center" >


    <form action="/name" method="post" style="padding:300px"> 
    <input type="text" name="name" >
    <input type="submit" value="Submit and PLAY">
    </form>

</div