<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <br>
  <center>
    <style>
      h1,h2 {font-family: helvetica;}
    </style>
    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <br>
    <h2>Please enter your name</h2>
    <form action=/storage method=post>
      <input type=text name=NAME>
      <button type=submit value=ENTER class="btn btn-info">ENTER</button>
    </form>
  </center>
</body>
