<h1>You're about to play a nailbiting game of Rock, Paper, Scissors!!!</h1>

<form action='/setup' method='post'>
  <input type='submit' name='two_player' value='2-player'>
  <input type='submit' name='computer' value='Computer'>
</form>
