<p>Enter your name</p>

<form action='/names' method='post'>
  <div id='input_name'><input type='text' autofocus name=player_one></div>
  <input class='button' id='submits' type='submit' value='start!'>
</form>
