
<h1>Rock, Paper, Scissors!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_one">
    <strong>Player name:</strong><br>
    <input type="text" name="player_one"><br>
  </label>
  <input type="submit" value="Submit">
</form>
