<style>
div{
  text-align: center;
  font-size:30px;
  border: 1px solid;
  padding: 50px;
  box-shadow: 5px 10px #888888;
  margin: 100px
}
</style>

<div>
<h1>Rock, Paper, Scissors</h1>
<h2>Register to play</h2>
<form action="/names" method="post">
  <input type="text" name="player1" placeholder="Name P1">
  <input type="submit" value="Register">
</form>
</div>