<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/index.css" />
</head>

<form action="/names" method="post">

  <div class="left">
  <h1>Enter Player Name:</h1><br><br> <input type="text" name="player" >
  <input type="submit" value="Submit">
</div>

</form>
<h1 class="right"> Opponent:<br><br> <h2>Bob the Computer</h2> </h1>
