<h1>Rock, Paper, Scissors!</h1>
<h2>Welcome Marketer! I hear you want to see your name in lights?</h2>
<h3>Go ahead and enter your name then!</h3>

<form name="Player name" action="/play" method="post">
  Player name: <input type="text" name="p_name">

  <input type="submit" name="Submit" value="Submit">
</form>
