</br>
  <h1>hey, let's play!</h1> 
</br>
  <form action = "/user_name" method="post">
    <label for="user name">please enter your name:</br> </br><input style='border:solid red' type = "text" name="name"><label>
    <input type = "submit" value = "submit"> 
  <form>
</br>
</br>
</br>
  <div>
    <img src='https://media.springernature.com/lw685/springer-static/image/art%3A10.1007%2Fs11277-020-07282-6/MediaObjects/11277_2020_7282_Fig1_HTML.png'>
  </div>
</br>
