
<form action='/players' method='post'>
  <label>2 Player Multiplayer Game</label><br>
   <input type="text" name="player_1_name" placeholder="Player 1 Name">
   <input type="text" name="player_2_name" placeholder="Player 2 Name">
   <input type='submit' value='Play!'>
</form>
  <br>
  <br>
<form action='/player' method='post'>
  <label>Single Player Game</label> <br>
    <input type="text" name="single_player_name" placeholder="Player 1 Name">
    <input type='submit' value='Play Single!'>
</form>