<h1>Rock Paper Scissors</h1>

<div><em>Enter your name to play:</em></div><br>
<form action='/names' method ='post'>
  <input type='text' name='player_1'>
  <input type='submit' value= 'OK!'>
</form>
