Welcome to Rock, Paper, Scissors, Spock, Lizard!

Please select your game mode!

<form action="/singleplayer" method="get"><input type="submit" value="Single Player"></form>
<form action="/multiplayer" method="get"><input type="submit" value="Multiplayer"></form>