<div class="layout">
  <div id="main-page-headers" >
    <h1>Hello there!</h1>
      <h2> Enter name to play </h2>
    <form action="/name" method="POST" >
      <label for="player_name">
        <strong>Player name:</strong>
      <input id="name-field" type="text" name="player_name"/>
      <input class="button center" type="submit" value="Play"/>
    </form>
  </div>