<h1>Rock Paper Scissors</h1>
<form action="/register_name" method="post">
<label for="player_name">player name</label>
<input type="text" name="player_name">
<input type="submit" value="Start game">
</form>