<head>
  <link rel='stylesheet' href='index.css' media='screen' title='no title' charset='utf-8'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body class = "index_page"><h1>Please enter your name</h1>
  <form action="/names" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Submit">
  </form>
</body>
