<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/styling.css">
<h1> ENTER YOUR NAME TO PLAY! </h1>
<form action="/play" method="post" >
  <input type="text" name="name">
   <input type="submit" value="Register">
 </form>
</html>
