<div>
  <h1 style='margin:auto; text-align:center;'>
    Game: Rock, Paper, Scissors!
  </h1>
  <h2 style='margin-bottom:10; text-align:center;'>
    Sign in to play
  </h2>
  <div
    style='display:flex;'>
    <form
      style='margin:auto;'
      action="/names"
      method="post">
      <label for="player_1" class='sign_in_label'>
        Player 1 name
        <input type="text" name="player_1" class='sign_in_input'>
      </label>
      <label for="player_2" class='sign_in_label'>
        Player 2 name
        <input type="text" name="player_2" class='sign_in_input'>
      </label>
      <div style='margin-top:24;'>
        <input type="submit" value="Submit" class="sign_in_button">
      </div>
    </form>
  </div>
</div>
