<div>Hello Makers Marketer! Welcome to Rock Paper Scissors!</div>
<form action="/" method="post">
      <question>What's your name?</question>
      <input type="text" name="player_name">
      <input type="submit" value="submit" name="submit">
</form>