<div>
  <form action="/names" method="post">
    <label for="player_name">Type your name to play!</label>
    <input type="text" name="player_name">
    <input type="submit" value="Play!">
  </form>
</div>
