<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="button.css" />
</head>
<body>
<p>What is your name?</p>
<form class="button" action="/play" method="post">
  <label for="name">
    <input type="text" name="name" value="">
  </label>
  <input class="button" type="submit" name="" value="Play!">
</form>
</body>
