<html>
  <body style="background-color:powderblue;">
    <h1 style="color:rgb(255,51,192); font-family:verdana;" align="center"> Rock Paper Scissors </h1>
    <br>
    <h2 style="color:rgb(255,51,192); font-family:verdana;" align="center"> Please enter your name: </h1>
  </body>
</html>
  
