<h1>Welcome to the THUNDERDOME</h1>
<h2>Choose number of players</h2>
<form action="/number_players" method="post">
  <input type="submit" name="players" value="One Player">
  <input type="submit" name="players" value="Two Players">
</form>
