
<center><img src='title.jpg'><height: 10> <width: 10>
<p>

<center><font size=5>
<h1>Rock Paper Scissors! :)</h1>
<h2>Sign in to play</h2>
<form action="/name" method="post">
  <label for="player_name">
    Player 1 name
    <input type="text" name="player_name">
  </label>
</form>
