<div>
  <h1>R P S !</h1>
</div>
<section>
  <form action='/' method='post'>
    <input type='submit' name='mode' value="Single Player">
    <input type='submit' name='mode' value="Multiplayer">
  </form>
</section>
