<h1> Welcome to RPS! </h1>

<form action="/players" method="post">
  <label for="player_1">
    Sign in to play!
    <input type="text" name="player_1" placeholder="Enter your name">
  </label>
  <input type="submit" value="Submit">
</form>
