<body style="margin:50; padding:20">
  <center>
  <form action='/single-player' method='get'>
    <input type='submit' value='Single Player' style='width:200; height:100'>
  </form>
  <br>
  <form action='/multiplayer' method='get'>
    <input type='submit' value='Multiplayer' style='width:200; height:100'>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <img src='http://www.artworkscincinnati.org/media/RockPaperScissors.jpg' width='900' height='360'>
  <center
</body>
