<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
        <h1>Rock Paper Scissors</h1>
        <br>
        <form action='/rps' method='post'>
          <input type='text' placeholder='Name' name='name'>
          <button type='submit' name='submit'>Submit</<button>
        </form>
      </center>
    </body>
  </html>
