<html>
  <style>
    body { text-align:center;
            font-family: gill sans;
            color: rgb(48,47,78);
            background-color: #009999;
            margin: 200px;
          }
  </style>
    <body>
      <h3>ROCK PAPER SCISSORS LIZARD SPOCK</h3>
      <h4>Let's play! Sign in below</h4>
        <form action="/sign-in" method="post">
            <p><input type="text" name="user"></p>
            <p><input type="submit" value="Sign me in!"></p>
        <form>
    </body>
</html>
