<!DOCTYPE html>
<html>

  <head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1>Rock Paper Scissors</h1>
    <form name="input" action="/name" method="post">
      Enter your name: <input type="text" name="player_name">
      <input type="submit" value="Start">
    </form>
  </body>

</html>
