<form action="/register" method="post"><label for="classic">Rock, paper, scissors classic</label>
  <input type="radio" name="gamevariant" id="classic" value="classic" >
  <label for="spock">Rock, paper, scissors, lizard, spock</label>
  <input type="radio" name="gamevariant" id="spock" value="Rock, paper, scissors, lizard, spock" >

  <input type="submit" name="gametype" value="Single player">
  <input type="submit" name="gametype" value="Multiplayer">
</form>
