<div><h1>Rock-Paper-Scissors!!!</h1></div>

<div><h3>Enter your name below:</h3></div>

<div>
  <form action='/' method='post'>
    <input type='text' name='p1_name'>
    <input type='submit' value='Enter Game'>
  </form>
</div>
