<h1> Welcome to Rock-Paper-Scissors!</h1>

<h2> What kind of game would you like to play? </h2>

<form action = "/single_player">
  <input type="submit" value="Single Player" />
</form>

<form action = "/multi_player">
  <input type="submit" value="Multi Player" />
</form>
