<!DOCTYPE html>
<html>
  <head>
    <title>ROCK. PAPER. SCISSORS.</title>
  </head>
  <body>
    <center>
      <header>
        <h1>ROCK. PAPER. SCISSORS.</h1>
        <h2>Please enter your name below.</h2>
      </header>
      <div>
        <form method='POST' action='/names'>
          <label for="player_1">Your name</label>
          <input type="text" name="player_1_name" placeholder="Player"/>
          <input type="submit" value="Play"/>
        </form>
      </div>
    </center>
  </body>
</html>