<h1>Welcome to Rock Paper Scissors</h1>
<h2>Please enter your name:</h2>
<form action="/initialise" method="post">
  Enter name: <br>
  <input type="text" name="player1"><br><br>
  <input type="submit" value="Begin Game">
</form>