<section class="page">
  <br><br>
  <form action="/name" method="post">
    <input type="text" placeholder="Enter Name" name="name">
    <br><br>
    <input type="submit" value="Start Game">
  </form>
</section>
