<!DOCTYPE html>
<html>
  <head>
  	<title>Rock, Paper, Scissors!</title>
  	<link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>

  <body>
	 <h1>Welcome to rock, paper, scissors!</h1>
	 <div id = "stripe"></div>
	
	<div align ='center'>
	  <h3>To begin, please enter your name below</h3>
	</div>
	<div align="center">
	  <form action = "/name" method = "post">
		<label for="player_name"> Name: </label>
		<input type = "text" name = "player_name"/>
		<input type = "submit" value = "Play!"/>
	  </form>
	</div>

	<br>
	<img class="index_img" src ="https://openclipart.org/image/2400px/svg_to_png/213382/rock-paper-scissors.png">
  </body>
 </html>