<!-- <head> -->
  <!-- <link rel="stylesheet" type="text/css" href="/public/styles.css" media="screen" /> -->
   <!-- <link rel="stylesheet" href="styles.css">
</head>
<body> -->

  <!-- <div class="container">
  <h1 class="neon">ROCK<br>PAPER<br>SCISSORS</h1>
</div> -->


<!-- <h2>Please enter your name below to play:<?h2> -->
<form action="/log_in_one_player" method="get">
    <button type="submit">1 Player</button>
</form>
<form action="/log_in_two_player" method="get">
    <button type="submit">2 Player</button>
</form>
</body>
