<h1>ROCK! PAPER! SCISSORS!</h1>

<form action="/names" method="post">
  <label for="player_name">
      Player Name:
    <input type="text" name="player_name">
    <input type="submit" value="Submit">
  </label>
</form>
