<div style='border: 3px dashed red'>
  <h1 align=center> Welcome to Rock, Scissors, Paper Game </h1>
</div>
<br>
<div style='border: 3px red' align =center>
<p>
<img src='/images/Rock-paper-scissors.png' alt="RPS rules">


<form action='/new_player' method="post" align=center>
  <h2>Please enter players name:
    <input type="text" name="player_name">
    <input type="submit"  value="submit" name="submit">
  </h2>
</form>

<% if @name %>
<h1> Hello <%= @name  %> </h1>
<% end %>

</div>

