<head>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<!-- <body style ="background-image:url(https://pixabay.com/get/57e0d7404956ac14f6d1867dda6d49214b6ac3e45657734076277dd496/milky-way-1023340_1920.jpg)"> -->
<body class=container4>

  <h1>RPS</h1>
  <h2>Sign in to play</h2>
  <form action="/name" method="post">
    <label for="player">
      <h2>Hey there! What is your name? :) </h2>
      <input type="text" name="name">
    </label>
      <input type="submit" value="Submit">
  </form>

</body>

<div class="footer">
  <p></p>
</div>
