<h1>Welcome to the most dangerous game</h1>


<h2>You are playing against <%= @player_2_name %> - a fully automated and sentient opponent, modelled after the mind of Rory!</h2>

<br/><br/>

<form action="/names" method="post">
  <h2>Player 1: Select your hero name</h2>
  <input type="text" name="name1">
  <input type="submit" value="Submit">
</form>
