
<h1><b>* Rock * Paper * Scissors *</b></h1>
<br/><br>
<h2>Sign in to play!</h2>
<form action='/names' method='post'>
  <label for="player1">Player 1:
  <input type="text" name=player1
</label>
<label for="player2">Player 1:
<input type="text" name=player2
</label>
<button type="submit">Submit</button>
</form>
