<link href="/styles.css" type="text/css" rel="stylesheet">

<form  action="/name" method="post">
  <label for="player">
    Your name:
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
