<h2>Rock, Paper, Scissors</h2>
Play against the computer
<br><img src="/Rock-paper-scissors.svg">
<br><form action="/play" method="POST">
What's your name?
<input type="text" name="name">
<br>How many points to win?
<input type="text" name="score">
<input type="submit" value="Let's go!">
</form>
