<h1>Rock, Paper, Scissors!<h1>
<form action="/form">
  <input id="one" type="radio" name="mode" value="one">One Player<br>
  <input id="two" type="radio" name="mode" value="two">Two Players<br>
	<input type="submit" value="Next">
</form>
