<head>
  <style>
    body {
      color: #ff0066;
      text-shadow: 1px 1px black;
      margin: 0;
      background-image: url('https://facts.net/wp-content/uploads/2020/11/rock-paper-scissors.jpg');
      background-size: cover;
    }
    #container {
      background-color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 60%;
      height: 38%;
      text-align: center;
    }
    h1 {
      font-size: 2.8rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    #button {
      background-color: #e6196b;
      color: white;
      margin: 2%;
      width: 10rem;
      height: 1.8rem;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div id='container'>
    <h1>Rock Paper Scissors</h1>
    <h3>Sign in and play</h3>

    <form action='/name' method='post'>
      <input type='text' name='name'>
      <br>
      <input type='submit' value='Play' id='button'>
    </form>
  </div>
</body>