Welcome to gaming nirvana...
<br>
<h1>  **  ROCK PAPER SCISSORS **  <h1>
<br>
<h3>
<form action="/names" method="post">
  <label for="player1">Player 1: </label>
  <input id="player_one" type="text" name="player_one">
  <label for="player2">Player 2: </label>
  <input id="player_two" type="text" name="player_two">
  <input type="submit" value="Submit">
</form> </h3>
