<form action="/names" method="post">
  <div class="container-fluid inner">
    <div class="row">
      <div class="col-md-12">
        <h1>Rock Paper Scissors</h1>
        <div class="form-group col-md-8 col-md-offset-2">
          <input type="text" class="form-control" name="player_1_name" id="player_1_name" placeholder="Player 1">
          <input type="text" class="form-control" name="player_2_name" id="player_2_name" placeholder="Player 2">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" name="vs_computer?">
              PLAY VS. COMPUTER
            </label>
          </div>
          <input class="btn btn-default" type="submit" value="Start a new game">
        </div>
      </div>
    </div>
  </div>
</form>
