<!DOCTYPE html>
<link rel="stylesheet" href="css/index.css">
  <html>
    <head>
    <title>Rock Paper Scissors</title>
    </head>
    <body>
      <div id="header">
        <h1>Rock Paper Scissors</h1>
      </div>
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTifFHYS5Txy1Rrur4l7F9uDuaFTPQPTVetpeVA0H8TrRfyTyn3" class="w3-circle" alt="Norway" style="width:50%">
  </div>
      <div>
        <h2> Enter your name to play:</h2>
      </div>
        <form action="/names" method="post">
          Player 1: <input type="text" name="player_1">
        <input type="submit" value="Start" id="submit">
        </form>
      </div>
    </body>
  </html>
