<h1><font size="+10">Welcome to Rock Paper Scissors!</font></h1>
<h2>Who is playing against who?</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  <br>
  </label>
  <br>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
    <input type="submit" value="Submit">
</form>
