<style>
h1
{
  text-align: center;
}

form
{
  border-radius:5px;
  border:solid 1px #000;
  padding:15px;
  margin-top:10px;
}


form header
{
  text-align: center;
  padding:5px;
  font-size:25px;
  margin-bottom:5px;
}

button[type="submit"]
{
  -webkit-appearance: button;
  border:solid 1px #000;
  display:block;
  width:40%;
  height:50px;
  font-size:20px;
  margin: 30px auto 20px auto;
  background:rgba(187,187,187,0.3);
  border-radius:10px;
  text-shadow: 1px 1px #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*.begin input[type="submit"]:hover*/
button[type="submit"]:hover
{
  background:#1479CC;
  background:rgba(20,121,204,0.3);
  color:white;
  text-shadow: 1px 1px #000;
}

</style>

<div class="container">
  <h1>Rock Paper Scissors Game</h1>
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3" ></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <form class="begin" action="/name" method="post">
        <header> Enter your names to do start playing !</header>
        <div class ="form-group row">
          <label for="player1_name" class="col-3 col-form-label">Player 1 :</label>
          <div class="col-8">
            <input type="text" name="player1_name" placeholder="Enter your name" class="form-control">
          </div>
        </div>
        <button type="submit" class=btn>Start</button>
      </form>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
  </div>
</div>
