<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="./rps_main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">

      <main class="screen1">
        <fieldset class="screen2">
          <h1>Rock, Paper, Scissors <span>MAKERS!</span></h1>
          <h2>Enter your name to play</h2>
          <form action='/name' method='post'>
             <input type="text" name="player_name">
             <input type="submit" value="Submit">
           </form>
          <img style="width: 100px;" class="player1" src="r,p,s.gif">
        </fieldset>
      </main>

    </div>
  </body>

</html>
