<form action='/player_name' method='post' >
  <h1>Welcome to Rock, Paper, Scissors!</h1>
  <h2>Human, please enter your name</h2>
  <label>
    <input type='text' name='human_player' />
  </label>
  <label>
    <input type='submit' class='button' value='ENTER NAME' >
  </label>
</form>
