<div style="text-align: center">

  <form action='/name' method="post">
  <p>What's your name?</p>
    <input type="text" name="name">
    <input type="submit" value="Start">
  </form>
  <p>Please enter your name</p>

 </div>