<html>
<body>
<h1> Welcome to Rock, Paper, Scissors! </h1>
<h2> Enter your name to play </h2>
  <div>
    <form action='/play' method="post">
      <input type="text" name="player_name"
      placeholder="Player name">
      <input type="submit" value="Play!">
    </form>
  </div>
</body>
</html>
