<h1>Rock, Paper, Scissors!</h1>
<h2>Enter names to begin!</h2>

<form action="/names" method="post">
  <label for="player_name">
    Player name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
