<!DOCTYPE html>
<html>
<style>
body  { background-image: url("/images/background.jpeg"); }
</style>
<body>

<h1 style="background-color:White">Welcome to Rock Paper Scissors!</h1>

<p>Press 'New Game' to start!</p>

<form action="/gamesetup">
    <button type="submit">New Game</button>
</form>

</body>
</html>