<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h1> Welcome to Rock Paper Scissors <h1>

<h4>Please enter your name to play.</h4>
	<form action="/gameplay" method="post">
  <input id="name_field" name="name"></input>
  <input id="submit_btn" type="submit" value="Play!"></input>
	</form>