<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Enter you name:</h2>
    <form action="/name" method="post">
      <input type="text" name="player1" value="Player">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
