<div class="container" style='text-align:center'>
  <h2>Hi there visitor!</h2>
  <h2>Do you want to play a game of RPS?</h2>
  <p>Please register your name first:</p>
    <form action="/name" method="post">
      <label for="name">
        Name
        <input type="text" name="name">
      </label>
      <input type="submit" id="register" value="Register">
    </form>
</div>
