<h1>Rock Paper Scissors</h1>

<form action="/names" method="post" >
  Player 1:
  <input type="text" name="name1">
  Player 2:
  <input type="text" name="name2">
  <br><br>
  <input type="submit" value="Let's do this">
</form>
