<h1>Rock paper scissors!</h1>

<form action="/name" method='post'>
  <label for='name'>
    Player name
    <input type='text' name='name'>
  </label>

  <input type='submit' value='Submit'>

</form>
