<head>
  <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>

<h1><span id='rock'>Rock</span><span id='paper'>Paper</span><span id='scissors'>Scissors</h1>
<h2>Who will be victorious?</h2>

<form action='/name' method='post'>
  <div>
    <p>Enter your name to play</p>
  </div>
  <div>
    <input type='text' name='playerName'>
  </div>
  <input type='submit' value='Submit'>
<form>