<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPSLS</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Rock Paper Scissors Lizard Spock</h1>
    <form action="/name" method="post">
      <label for="player_name">
      <p>Please enter name:</p>
        <input type="text"
      name="player_name">
      </label>
    <input type="submit" value="PLAY">
    </form>
      <a href="https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors#Adapted_rules">THE RULES</a>
    <img src="RPSLSbannerpic2.png" alt="RPSLS pic">
  </body>
</html>
