<!DOCTYPE html>

<html lang="en">
<head>
  <title>Rock Papper Sciccors!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <div id="main_body" class="container">
    <div class="jumbotron">
      <h1>Rock Paper Scissors!</h1>
      <p>Are you ready to play some <strong>Rock Paper Sciccors</strong></p>
    </div>
    <div class="container">
      <form action="/play">
        <div class="form-group">
          <label for="player_1">Player 1</label>
          <input type="text" class="form-control" id="player_1" name="player_1" placeholder="Enter Player 1">
        </div>
        <div class="form-group">
          <label for="player_2">Player 2</label>
          <input type="text" class="form-control" id="player_2" name="player_2" placeholder="Enter Player 2">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</body>
</html>