<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body { font-family: "Arial"; font-size: 16px;}
      .btn {
        background-color: #99CCFF;
        font-size: 16px;
        cursor:pointer;
      }
    </style>
  </head>
  <body>
      <h1 style= 'color: green'> Welcome! </h1>
      <form action='/names' method='post'>
        <label for='player_1'>
          Please enter your name:
          <input type='text' name='player_1'
        </label>
        <button class="btn" type= 'submit'>Submit </button>
      </form>
    </body>
</html>
