<h1>Rock Paper Scissors</h1>
Do you dare to try your hand against the formidable Master Control Program?
<h2> Player 1 : Register</h2>
<form action = "/names" method = "post">
    Enter Player 1 name: <input type = "text" name="player_1" /><br><br>
    <input type="submit" value="Submit">
  </form>