<p> What's your name? </p>
<div style="margin-left:50px;">
<form action="/play" method="post">
    <input type = "text" name = "player_name"/>
  <input type = "submit" value = "Submit"/>
</form>
</div>
<div style="float:right;clear:left;"><img src="https://openclipart.org/download/21111/buggi-lizard.svg" style="width:300px;height:550px;"></div>
