<h1>Welcome in gaming paradise!</h1>
<h4>Enter your name and we send it back in lights.</h4>
<form method='post' action='/name'>
Name: <input type='text' name='name'>
<input type='submit' value='Submit'>
</form>
