<div>
  <h1> Rock Paper Scissors </h1>
</div>

<div>
  <h3> Enter your name below to begin </h3>
</div>

<form action="/name" method="post">
  <input type="text" name="player_name" placeholder="Enter your name here" autocomplete="off" required>
  <input type="submit" value="Submit">
</form>