<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPS Game</title>
</head>
<body>

<div>
  <h1>RPS GAME</h1>
  <form action="/name" method="post">
    <label for="name">Enter your name</label>
    <input type="text" name="name" id="name" style="display: block;">
    <button type="submit">Go!</button>
  </form>
</div>
  
</body>
</html>