<style>
h2 {
  color: black;
  font-family: "Monaco";
  font-size: 150%;
  background-color: powderblue;
}

h3 {
  color: black;
  font-family: "Lucida Handwriting";
  font-size: 100%;
  background-color: powderblue;
}
body {
  background-color: powderblue;
}
</style>

<h2> Hi I'm Dwayne "The Rock, The Paper, The Scissors" Johnson! </h2>
<img src="https://i.imgur.com/5qA0zD5.jpg" title="source: imgur.com" /></a>
<h3> Please enter your name below to begin </h3>
<form action="/name" method="post">
  <input type="text" name="player_name" placeholder="Enter Player Name">
  <input type="submit" value='Submit'>
</form>