<link rel="stylesheet" href="style.css" type="text/css" />

<div id="home_title_box">
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <h1>...Lizard, Spock</h1>
  <hr></hr>
</div>

<div id="title_box">
  <h1>Enter Player Name</h1>
</div>

<form method="post" action="/">
  <input class="text_input" type="text" name="player_name" value="my_name_is">
  <br/>
  <input class="submit_button" type="submit" value="Submit">
<form>
