<div id="options">
  <form action="/names">
    <label for="one">One player</label>
    <input type="radio" name="player_mode" value="one">
    <label for="two">Two players</label>
    <input type="radio" name="player_mode" value="two">
    <br>
    <label for="standard">Standard</label>
    <input type="radio" name="game_mode" value="standard">
    <label for="standard">Extended</label>
    <input type="radio" name="game_mode" value="extended">
    <br>
    <br>
    <input id="submit_button" type="submit" value="Submit">
  </form>
</div>