<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
<link rel='stylesheet' href='style.css' />
</head>

<body>
<h1 class="text-center text-glow"> Welcome to Rock Paper Scissors</h1><br>

<h2 class="text-center">Please select how many players are playing.</h2><br>

<form action="/names" method="get" class ="text-center">
  <input type="submit" value="One Player">
</form>

</body>
