<!-- <body style="background-color:linen;"> -->

<center>
  <h1 style="background-color:linen;">Rock, Paper, Scissors</h1>

  <img src='https://codecademy-discourse.s3.amazonaws.com/original/5X/1/e/9/a/1e9ae22826a47a2d2e9f0e8f0f0cdf21a8479715.jpg' alt="Rock Paper Scissors Lizard Spock" >

  <form action="/name">
    <input style="background-color:LightCyan;" type="submit" value="Start Game">
  </form>
</center>
