<h1>It's Time for Rock, Paper, Scissors!</h1>

<form action = "/player_names" method="post">
    <input type="text" name = "player_1_name" placeholder="Enter Player Name...">
    <input type="submit" value= "Start Game">
</form>