
<html>
  <body>
    <center>
    <h1> Welcome to RPS game! </h1>
    <h1> Are you ready to play? </h1>
    <form action="/"
    <p> Enter your name: <input type="text" name="player"> <p>
    </center>
  </body>
</html>
