<h3>Rock Paper Scissors</h3>
<h4>Because why not..</h4>
<br>
<img class="img-responsive center-block" src="http://bit.ly/1HtNezK">
<br>
<a href="/name" class="btn btn-primary center-block" role="button">New Game</a>