<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

<div class="container">

<form name="input" action="/name" method="post">
  <div class="player">
    <label for "player">Player Name</label><br><br>
    <input type="text" name="player" value="Enter name...">
  </div>
  &nbsp;
  <div>
    <button class="play" type="submit" value="Play">PLAY</button>
  </div>
  &nbsp;
</form>

</div>
