Rock Paper Scissors (Spock Lizard)
</br>
</br>
<form action="/names" method="post">
  <label for="player_1_name">Player 1 name:</label>
  <input type="text" name="player_1_name" required/>
  </br>
  </br>
  <label for="player_2_name">Player 2 name:</label>
  <input type="text" name="player_2_name">
  </br>
  (Leave blank to play the computer!)
  </br>
  </br>
  <button type="submit">Submit</button>
</form>