<h1>Rock Paper Scissors</h1>

<h2>Enter your choice</h2>
<form action="/names" method="get" >

<%# <input type="text" name="player_1"> %>

<label for="player_1">
   Player 1</label>
  <input type="text" name="player_1">

  
<label for="player_2">
   Player 2</label>
  <input type="text" name="player_2">

<button type="submit">Submit</button>
 

  </form>
