<style>
  div { text-align: center; }
</style>

<div>
  <h2 style=padding-top:50px>Welcome to Rock Paper Scissors online!</h2>
  <br>
  Please enter your name to begin:
  <br>
  <br>
  <form action=save_name method=post>
    <input type=text name='name'>
    <input type=submit value='Enter name'>
  </form>
</div>
