<body style="background-color:grey;">
  <head>
    <title>RPS Challenge</title>
  <head>
  <h1>Rock, Paper, Scissors Challenge<h1>
  <h2>To play enter your name<h2>
  <form action="/play" method="post"
   <lable for="Enter name">
    Name
    <input type="text" name="player_1_name">
  </label>
    <input type="submit" value="Lets Play!">
  </form>
</body>
