<head>
  <title>VeroGames</title>
</head>
<body>
<h1>Rock, Paper, Scissors!</h1>
<h2>Hi <%=@name%>, let's get started!</h2>
<form action="name" method="post">
<label>Enter your name:</label>
<input type="text" name="username">
<input type="submit" value="Start!"/>
</body>
</form>
