<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/global.css" />
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


<h1>Wanna have some fun?</h1>
<h1>Enter your name to begin!</h1>
<br>
<form method='post' action='/'>
<input type='text' name='name'><br>
<input type="radio" name="Single_Player" value="true"> Single Player<br>
  <input type="radio" name='multiplayer' value='true'> Multiplayer<br>
<input type='submit' value='Start Game' class="myButton">
</form>