<h1 style="color:#01371E; text-align:center; font-family: Helvetica;">Rock &#9994; Paper &#9995; Scissors &#9996;</h1>

<h2 style="color: #01371E;font-family: Helvetica;">Enter your name to play</h2>

<form action="/name" method="post">
  <input type="text" name="name" style="height:50px; font-size:14pt"/>
    <style>
    .button {
      padding: 15px 25px;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      font-family: Helvetica;
    }

    .button:hover {background-color: #3e8e41}

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      font-family: Helvetica;
    }
    </style>
    <button class="button" type="submit" value="Submit">Submit</button>
  

</form>