<h1>Welcome to RPS: the Rock-Paper-Scissors game</h1>
<img src="https://sociorocketnewsen.files.wordpress.com/2014/05/choosewisely1.jpg" alt="https://sociorocketnewsen.files.wordpress.com" style="width:350px;height:250px;">
<br>
<h3>Enter your name to play.</h3>
<form action="/name" method="post">
  <label for="player">
    <br>
    Your name:
    <input type="text" name="player">
  </label>
  <input type="submit" value="Submit">
</form>
