<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Rock, Paper, Scissors?</title>
</head>
<body>
  <h1>Rock, Paper, Scissors?</h1>
  <form action="/play" method="post">
    <label for="name">Enter your name:</label>
    <input type="text" name="name">
    <input type="submit" value="Start">
  </form>
</body>
</html>
