<head>
    <link href='/style.css' rel="stylesheet" type="text/css" />
</head>

<body id="menu_bg">
<center>
<h1 class="heading">welcome to RPS!</h1>

  <form action="/names" method="post" id="get_name">

    <div>
      <p>
        Player 1: <input class="input_field" type="text" name="player_1_name">

        Player 2: <input class="input_field" type="text" name="player_2_name">
      </p>
    </div>

    <input class="submit_button" type="submit" name="submit" value="Go!">
    
  </form>
</center>
</body>