<h1 align='center'> ROCK, PAPER, SCISSORS! </h1>

<form align='center' action='/name' method='post'>
  Fighter name:
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
