<h1>Welcome to Rock, Paper, Scissors!</h1>

<h4>Please enter your name below to get started:</h4>
<form action='/name' method="post">
  <input type="text" name="player_1">
  <input type="submit" value="Submit">
</form>
