<h1>Rock-Paper-Scissors! GAME!</h1>
<h2>Sign in...</h2>
<form action="/welcome" method="post">
  <label for="player_name">
    Name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
