<h1>Rock, Paper, Scissors!</h1>
<h2>Enter your name to play</h2>
<form action="/name" method="post">
  <label for="player_1">
    Player 1 name
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
<h2>Official Rules ---- </h2>
<p>Rock beats Scissors, Scissors beats Paper and Paper beats Rock</p>