<body style="color:darkgreen;width:100%;text-align:center">
<h1>Welcome to the RPS Game!!</h1>
<h3>Sign in to play</h3>

<form action='/names' method='post'>
  <label for="player">
    Player's name:
    <input type='text' name='player'>
  </label>

  <br/><br/>
  <input type='submit'  value='Submit'>
</form>
</body>
