<head>
  <style>
    body {
      font-family: "Lucida Sans Unicode";
      font-size: 35px;
    }

    input {
      font-family: "Lucida Sans Unicode";
      font-size: 35px;
      padding: 8px 32px;
      display: inline-block;
      font-size: 25px;
    }
  </style>
</head>

<center>
<h2>
Rock – Paper – Scissors
</h2>
<form action='/name' method="post">
  ENTER NAME <input type='text' name='player_name'>
  <br>  <br>
  <input type='submit' value='PLAY'>
</form>
</center>
