<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div>
<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/play" method="post">
Enter your name: <input type="text" name="name">
<input type="submit" name="submit" value="submit">
</form>
</div>
</body>