<form action="/names" method="post">
  Enter your name Player 1:<br>
  <input type="text" name="player_1" > <br>
  Enter your name Player 2:<br>
  <input type="text" name="player_2" > <br>
  <input type="submit" value="Enter">
</form>
