<html>
<head>
<style>
  h1 {text-align: center;}
  h2 {text-align: center;}
  h4 {text-align: center;}
  h5 {text-align: center;}
  form {text-align: center;}
}
</style>
</head>
<body>

<h1>Rock-Paper-Scissors</h1>
<h2>Wanna play</h2>
<h3>enter your name</h3>

<form action='/name' method='post'>
  <label for="player_1">Player 1
    <input type='text' name='player_1'>
    </label>
  <h3>rock, paper or scissors?</h3>
  <label for="Weapon">weapon
    <input type='text' name='weapon'>
  </label><br>


  <input type='submit' name='start game'>
</form>
</body>
</html>
