<br>
<center>

  <style> h1,h2 {
    font-family: helvetica;}
  </style>

  <h1>Welcome to Rock, Paper, Scissors!</h1>
  <br>
  <h2>Please enter your name</h2>

  <form action=/storage method=post>
    <input type="text" name="NAME">
    <input type="submit" value="ENTER">
  </form>

</center>
