<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"
<head>
  <title>RockScissorsPaper</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <style>
    .jumbotron{
      background-color:#6f42c1a6;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Rock. Scissors. Paper.<h1>
    </div>
    <div class="jumbotron">
      <div class="text-center">
        <p>
          <form action="/name" method="post">
            <h4>Enter your name:<h4>
            <input type="text" name="name">
            <br><br>
            <input class="btn btn-default btn-lg" type="submit" value="Begin Game">
          </form>
        </p>
        <iframe src="https://giphy.com/embed/26BRzQS5HXcEWM7du" width="480" height="197" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </div>
</body>
</html>
