<h1>Welcome to Rock-Paper-Scissors, Earthling.</h1>
<h3>Enter your name and click 'Play' to begin:</h3>
<form action='/name' method='post'>
  <input type="text" name="player_name">
  <input type='submit' value='Submit'>
</form>
