<html style='background-color: grey'>
<body>
<h1 style='text-align:center'> Welcome to the Rock-Paper-Scissor Game </h1>

<br><br><br><br><br><br><br><br>
<form style="text-align:center" action="/sign-up" method="post">
  <b>Please enter your name:</b>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

</body>
</html>
