<h1> Squid Game </h1>
<h2> Rock Paper Scissors </h2>


<form action ="/names" method="post">
<label for="Player Name">Player 1 Name:</label><br>
<input type="text" name="name1"> <br><br>
<label for="Player Name">Player 2 Name:</label> <br>
<input type="text" name="name2"> <br> <br>
<input type="submit" name="Submit"> <br>


</form>