<h1>RPS</h1>
<h2>Sign in to play</h2>

<form action='/sign_in' method='post'>

  <label for="player">
    Enter your name:
    <input type='text' name='player_name'>
  </label>
  <br>
  <br>

  <input type='submit' value='Submit'>

</form>