
<head>
  <title>Enter name</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>


<form name="input" action="/choice" method="post">
 <ul> 
   <li>
   <label for="name">Player name:</label>
   <input type = "text" name="player_name">
   </li>
   <li class = "button">
     <button type="submit">Submit</button>
   </li>
 </ul>

</form>