<h1>Welcome to Rock Paper Scissors!</h1>

<form action="/one_player" method="get">
  <input type="submit" value="One player">
</form>
<br>
<form action="/two_players" method="get">
  <input type="submit" value="Two players">
</form>
