<style>
body {background-color:#232B2B ;}
h1 { color: #DC3D24; font-family: 'Helvetica Neue', sans-serif; font-size: 150px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: left; }
h3 {color: #E3AE57; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
form {text-align: center;}
</style>

<h1>
Rock.
</br>
Paper.
</br>
Scissors.
</h1>

<h3> Please enter your name to begin: </h3>

<form action="/name" method="post">
  <input type="text" name="player_name"/>
  <input type="submit" value="Start"/>
</form>
