
<style>
center {
  padding-top: 10px
      }
</style>
<style>
.div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>

<center>
<head>
<div class="div"> <h1>Are you feeling lucky.. Ready for a came of Rock Paper Scissors??</h1>
    <form method="POST" action="/name">
      <h2>What's your name?</h2>
      <input type="text" name="name">
      <input class="button1" type="submit" value="Submit">
</div>
</form>