<h1>Rock, Paper, Scissors Game!</h1>
<br>
<h2>Please enter your name to play the game</h2>
<br>
<form action="/name" method="post">
  <label for="player_name">
    Your name:
    <input type="text" name="player_name">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
