<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gaming Website</title>
  </head>
  <body>
      <form action="/register" method="get">
        <input type="submit" value="Register">
      </form>
  </body>
</html>
