<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='style/index_style.css' type="text/css" rel='stylesheet'/>
    <title>Home</title>
  </head>
  <body>

<h1>WELCOME TO ROCK PAPER SCISSORS</h1>
<form action='/names' method='post'>
  What's your name?<input type="text" name="player_one">
  <input type="submit" value="submit">
</form>

</body>
</html>
