
  <h1> Rock... Paper... Scissors... Lizard... Spock... </h1>
  <h1> </h1>

  <h2> Single Player </h2>
  <p> Enter your name to play solo! </p>
  <form action="/single_player_name" method="post">
    <input type="text" name="player_1_name">
    <input type="submit" value="Let's Play!" name="submit">
  </form>

  <h2> Two Players </h2>
  <p> Enter your names to battle each other! </p>
  <form action="/two_player_name" method="post">
    <input type="text" name="player_2_name">
    <input type="text" name="player_3_name">
    <input type="submit" value="Let's Battle!" name="submit">
  </form>
