<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors!</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
  </head>
  <body>
    <div class="form center">
      <form action="/play" method="post">
        <label for="name">Enter your name:</label>
        <input type="text" name="player_one[name]" value="   " required><br>
        <label for="rps">Choose your weapon!</label><br>
        <select name="player_one[rps]" required>
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
          <option value="Spock">Spock</option>
          <option value="lizard">Lizard</option>
        </select><br>
        <label for="two_player">Single or two player game?</label><br>
        <select name="two_player">
          <option value="false">Single player</option>
          <option value="true">Two players</option>
        </select><br><br>
        <button type="submit" value="Submit">Submit</button>
      </form>
    </div>
  </body>
</html>
