
<h2 style="color:brown;text-align:center;font-family: 'Lucida Console', Courier, monospace;background-color: lightblue;">hello human</h2>

<h1 style="color:brown;text-align:center;font-family: 'Lucida Console', Courier, monospace;background-color: lightblue;"> Please enter your name </h1>
<form action="/name" method="post" style="color:brown;text-align:center;background-color: lightblue;">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

