<div id="index">
  <h1> Start the game! </h1>
  <form id="form" action="/options" method="post">
    <input type="radio" name="mode" id="sp" value="sp" required="true">Single player<br>
    <input type="radio" name="mode" id="mp" value="mp" required="true">Multi player<br>
    <input type="submit" value="submit">
  </form>
</div>
