<!DOCTYPE html>
  <head>
    <link href="/styles/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="landing-page">
      <h1>Welcome to Rock, Paper, Scissors!</h1>
      <img class="main-img" src="/images/rockpaperscissors.jpg">
      <h2>Want to play?</h2>
      <h3>Enter your name to get started:</h3>
    </div>

    <form action="/name" method="post">
      <input type="text" name="player_name">
      <br>
      <input type="submit" value="Enter" class="btn btn-success">
    </form>

  </body>
</html>
