<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors</title>
  <head>

<body bgcolor="#0D75CD">
  <h1> Welcome to Rock, Paper, Scissors</h1><br>
  <h2> Please enter your name to play the game.</h2>
  <form action="/player" method="post" >
    <input type="text" name="player1" >
    <input type="submit" value="Enter Name" >
  </form>


</html>
</body>
