<h1>Rock Paper Scissors</h1>

<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <br>
  <!-- <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <br><br> -->
  <input type="submit" value="Submit">
</form>
