<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    Please enter your name!
    <form action='/start_game' method='post'>
      <input type="text" name="player_name">
      <input type="submit" name="Start Game">
    </form>
  </div>
</body>
