<form method="post" action="/start" class="form-name">
  <div>
    <input type="text" name="username" id="username" required>
    <label for="username">Name</label>
  </div>
  <input type="submit" value="Start Game">
</form>
