<h1>Rock, Paper, Scissors!</h1>

<h2>Would you like to play alone or with a friend?</h2>

<form action="/single_player_name">
 <input type="submit" value="Single Player Mode">
</form>
<form action="/two_player_names">
 <input type="submit" value="Two Player Mode">
</form>