<h1>Welcome to the best Rock Paper Scissors game you have ever seen!</h1>

<form action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Enter your name">
</form>