<section class="center">
  <h2>Insert your name</h2>
  <form action="/chose">
    <input type="text" name="name"> <br>
    <input id="classic" class="classic" type="submit" name="type" value="classic">
    <input id="lizspock" class="lizspock" type="submit" name="type" value="lizspock">
  </form>
</section>
