<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Welcome to Rock Paper Scissors!</h1>
<h2>Sign in to play against the computer</h2>
<br>
<br>
<br>
<br>
<br>
<div>
<form action='/names' method='post'>
  <label for="player_name">
    Player name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>

</body>
</html>
