<head>
  <title>RPS</title>
</head>

<h1 style="text-align:center">Rock-Paper-Scissors</h1>
<h3 style="text-align:center; color:gray">The workplace grind-ungrinder</h3>
<br>
<body style="text-align:center">
  <form action="/play" method="post">
    <label for="player_1">Enter your name:</label>
    <input type="text" name="player_1">
    <input type="submit" value="Play!">
  </form>
</body>