<!DOCTYPE html>

<html lang='en'>

<br>
<br>

  <head>
    <h1 style='text-align:center'>Welcome to: Rock, Paper, Scissors!</h1>
  </head>

  <body>

    <form action="/names" style='text-align:center' method="post">

        <label>
          Please enter your name to start:

          <input type="text" name="player" placeholder="Enter your name" required>

        </label>

          <button id="Submit">Let's play!</button>

    </form>

    <style>

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    </style>

    <img src='https://miro.medium.com/max/612/1*G9UfaUBS_VqtFILMe37fZw.jpeg' style="width:50%;">

  </body>

</html>
