<!DOCTYPE html>
<html>
<head></head>
<body>
    <div align="center">
    <h1>Welcome page</h1>
    <h3>This is a welcome page so I welcome you e-traveller oh mighty you!</h3>
    <h3>Let's play RPS Game</h3>

    <br>
    <form action="/getting_started" method="post">
    <h4> What's your name stranger? </h4>
    <label for="player_1_name"> Player 1 name <input type="text" name="player_1_name"> </label>

    <h4>Weapon choices: rock - scissor - paper</h4>
    <label for="Weapon choice"> Choose your weapon wisely <input type="text" name="weapon"> </label>    
    
    </br>
    <br>
    <input type="submit" value="Submit">
    </form>

    </div>
</body>
</html>

