<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <img src="rps.png" alt="Rock, Paper, Scissors" style="width:500px">
    <h1>Rock, Paper, Scissors!</h1>
    <h2>Please select the number of players.</h2>

    <form action="/new_game">
      <input type="submit" value="One Player">
    </form>

    <form action="/">
      <input type="submit" value="Two Player">
    </form>

    <!-- <form action="/name" method="post">
      <label>
        Player Name
        <br>
        <input type="text" name="name">
      </label>
      <br><br>
      <input type="submit" value="Submit">
    </form> -->
  </body>
</html>
