<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
    .container {
      font-family: 'Open Sans Condensed', sans-serif;
      margin: auto;
      width: 50%;
      padding-top: 50px;
    }
    </style>
    <title>RPS Game</title>
  </head>
  <body>
    <div class="container">

      <h1>Welcome to Rock Paper Scissors!</h1>
      <form action="/play" method="post">
        <input type="text" name="player" placeholder="Your name">
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
      <img src="https://i0.wp.com/www.tutandgroan.com/wp-content/uploads/2016/02/TG-ThreePanels-RockPaperScissors.jpg?resize=764%2C478"/>
    </div>
  </body>
</html>
