<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RPS</title>

  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>Can you defeat the bot? BO5!</h2>
  <br>
  <form action="/player" method="POST">
    <input type="text" name="player">
    <input type="submit" value="Start round!">
  </form>
</body>
</html>
