<h1>Rock Paper Scissors</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <div>
    <label for="player1_name">Player 1</label>
    <input type="text" name="player1_name">
  </div>
  <div>
     <input type="submit" value="Submit">
  </div>
</form>
