<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- defining our character set and title -->
    <meta charset="utf-8">
    <title>RPS</title>
  </head>

  <body>
    <h1>Enter your name to begin the game</h1><br>
    <form action="/name" method="post">
      <div>
        <input type="text" name="player_name">
        <input type="submit" value="Submit">
      </div>
    </form>
  </body>
</html>
