<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div class="titles">
    <h1> Welcome To Rock, Paper and Scissors!
    <br>Register your name below</h1>
</div>

<div class="button">
<form action ='/startpage' method ='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Start Game'>
</form>
</div>

</body>
