<h1>Let Rock, Paper, Scissors Commence!</h1>
<h2>Sign in to play</h2>
  <form action="/names" method="post">
    <table>
    <tr>
    <td><label for="name">
      <strong>Player 1 name</strong></td>
      <td><input type="text" name="name" id="name"></td>
    </label>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </form>
<table>
