<h1>Rock, Paper, Scissors</h1>
<br>

<h2>
  <form action="names" method="post">
  	<input type="text" name="p1name"> 
  	<input type="text" name="p2name"> 
  	<input type="submit" name="Submit" value="Submit"> 
  </form>
</h2>