<p>Welcome, brave marketeer.</p>

<p>Enter your name to start throwing shapes!</p>

<form action='/' method='post'>
  <p><input type='text' name='player' autofocus required>
  <input type='submit' value='GO'></p>
  <p><input type='checkbox' name='lizard' value='true' id='lizard'><label for='lizard'>&nbsp;enable Lizard and Spock</label></p>
</form>

<hr>
