<head>
  <link rel="stylesheet" href = "css/styles.css">
</head>

<h1> ROCK, PAPER, SCISSORS<h1>

<form action='/choose_players' method='post'>
  <input type='submit' name="single_player" value='single_player'>
  <input type='submit' name="multi_player" value='two_player'>
</form>
