<h1>What is your name?</h1>
<form action="/name" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="name" required>
  <input type="submit" value="Submit">
</form>