<style> 
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 24px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text], select, textarea{
  width: 25%;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<center>
<body style="background-color:grey;">
<h1>Welcome to Rock Paper Scissors!</h1>
<h2>Please enter your name:</h2>
<form action="/names" method="post">
<input type="text" name="player_name">
<input type="submit" value="Submit">
</center>