<div><h1>ROCK, PAPER, SCISSORS</h1></div>

<div>
  Please enter your name
  <form action='/player' method='post'>
    <input type='text' name='name' />
    <input type='submit' value='Submit'/>
  </form>
</div>
