<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>

<body style="background-color:tan;">
  <div class="welcome">
    <center> <h1 style="color:saddlebrown"> Welcome to Rock, Paper, Scissors </h1> </center>
  </div>

  <div class="image">
    <center>  <img src="http://ziononthehill.org/wp-content/uploads/2016/09/Blog-September-14th-2016.png"
        alt="RPS" style="width:700px;height:300px;"> </center>
  </div>

  <div class="name">
    <center>  <form action='/names' method='post'>
          Name: <input type = 'text' name = 'name'>
          <input type = 'submit' value = 'Submit'>
      </form> </center>
    </div>

</body>
</html>
