<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
  </head>
  <body>
    <div>
      <h2>Welcome</h2>
      <p>to</p>
      <h2>Rock-Paper-Scissors!</h2>
      <p>Please enter your name</p>
      <form method="POST" action="/play">
        <input class="field" type="text" name="name">
        <br>
        <input class ="button" type ="submit" value="PLAY">
      </form>
    </div>
  </body>
</html>
