<head>
  <title>VeroGames</title>
</head>
<body>
<h1>Rock, Paper, Scissors!</h1>
<h2>To start enter your name</h2>
<form action="name" method="post">
username: <input type="text" name="username">
<input type="submit" value="Start!"/>
</form>
</body>
