<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>

<style>
body {font-family: 'Rancho';font-size: 40px;}
</style>

<body style="background-color: #C0C0C0;">
<div align="center">
<br>
<br>
<h1>Rock , paper , scissors</h1>
<h2>Enter your name, cyber warrior!</h2>
<form action="/name" method="post">
  <label for="player1_name">
    Player 1 name
<input type="text" name="player1_name">
  </label>
<input type="submit" value="Submit">
</form>

</div>

</body>
