<h1>Time to play Rock Paper Scissors!</h1>
<form action="/names" method="post">
  <label for="name">
    What is your name?
  <input type="text" name="name" id="name">
  </label>
  <h2></h2>
  <label for="Input">Rock, Paper or Scissors?</label>
    <select name="RPS_input" name = "choice" id="choice">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
    </select>
  </label>
  <h2></h2>
  <input type="submit" value="Submit">
</form>
