<div style='padding-left: 25px; padding-top: 50px height: 130px; width: 375px; border: 3px solid red'>
  <br>
  <form action='/' method="post">
    How many players are playing?
    <input type="submit" name="players" value="1 Player" width="150" height="40">
    <input type="submit" name="players" value="2 Player" width="150" height="40">
  </form>
</div>
