<h1>Enter your name!</h1>

<form action="/start_game" method="post">
  <label for="player_name">
    Player name:
  </label>
  <input type="text" name="player_name" placeholder="Enter player name">
  <input type="submit" value="Submit">
  </form>


  <!-- button ok
  <form action = '/play'>
    <input type="submit" value='Ok'>
  </form> -->
