<center>
  <h1>Rock, Paper, Scissors!</h1>
  </br>

  <h3>Please enter your name below.</h3>

  <form action="/names" method="post">
    <input type="text" name="player"/>
    <input type="submit" value="play!"/>
  </form>
</center>
