<div class="top_space">

  <h1>Welcome to Rock, Paper, Scissors, Lizard, Spock game!</h1>

   <h3>Look at the video for the instruction!</h3>

   <iframe width="560" height="315" src="https://www.youtube.com/embed/x5Q6-wMx-K8" frameborder="0" allowfullscreen></iframe>



   <p>Ready to play? Digit yor name and press enter!</p>


  <form action="/challenge">
    <input name="name" type="text" required>
    <input type="submit" value="Submit">
  </form>


</div>
