<h1>Welcome to Rock, Paper, Scissors!<%= %></h1> 
<h2>Add player name<%= %></h1> 

<form action="/setup" method="post">
  <label for="player">
  Player
  <input type="text" name="player">
  </label>
  <br>
  <input type="submit" value="Play">
</form>