<style>
body {
  background-color: Blue;
}
</style>
<h1 style = "color: silver;">
  Rock, Paper, Scissors!</h1>

<h2>Please enter player names:</h2>

<form action="/names" method="post">
  <label for="Player 1">
    Player 1:<br>
    <input type="text" name="p1_name">
  </label>
  <!-- <br>
  <label for="Player 2">
    Player 2:<br>
    <input type="text" name="p2_name">
  </label>
    <br><br> -->
    <input type="submit" value="Submit">
  </form>
