<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
</head>
<body>

    <div class="reg_form_land_page">
        <div class="reg_form">
            <form action="/name" method="post">
                <div>
                    <label for="name">Enter Your Name Here</label>
                </div>
                <div>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <input class="sub_btn" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

    
    
</body>
</html>