<h1>Welcome to the Rock-Paper-Scissors game!</h1>
<form action='/names' method='post'>
  <p>Please enter your name to start playing:</p>
  <input type='text' name='player_1' required>
  <input type='submit' value='Start'>
</form>
