<h1> Rock Paper Scissors </h1>
<h2> Enter your name </h2>

<form name="player" action="/player" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="See your name in lights">
</form>
