<html>
 <head>
   <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <body>
   <div>
      <form id="name_entry" action="/names" method="POST">
        <p><label>Player 1</label>
        <input name="name_1"/></p>
        <p><label>Player 2</label>
        <input name="name_2"/></p>
        <p><input type="submit" value="Go" id ="start"/></p>
    </form>
  </div>
 </body>
</html>
