<%= erb :header %>
<h1>Welcome!</h1>
<h3>Choose game mode</h3>
<div id="single-mode-wrapper">
  <form action="/single" method="post">
    <button type="submit" name='single-mode' id='mode-button' >Single Player</button>
  </form>
</div>
<div id="multi-mode-wrapper">
  <form action="/multi" method="post" >
    <button type="submit" name='multi-mode' id='mode-button'>Multi Player</button>
  </form>
</div>

