<section <h1>Hey, you! Click to register and start a new game!</h1></section>
<br>
<br>
<img class="homepage image" src="/images/front.png">
<br>
<br>
<form action='/register' method='get'>
<a class='button' href="/register">Start Game</a>
</form>
