<link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Shade&display=swap" rel="stylesheet">

<style>
body {
  font-family: "Bungee HairLine";
  font-size: 18px;
}
img { width: 35%; }
form { display: inline; }
</style>

<div style="font-family: 'Bungee Shade'; font-size: 2.5vw">
  <h1 align="center"> Rock, Paper, Scissors, <br> Lizard, Spock  </h1>
</div>

<div align='center'>
  <form action="/single">
    <input type="submit" value="Single Player">
  </form>
  <form action="/multi">
    <input type="submit" value="Multi Player">
  </form>
  <br>
</div>

<div>
  <img align="left" src="images/fist-left.jpg">
  <img align="right" src="images/fist-right.jpg">
</div>
