<form action ="/names" method='post'>
  <div>
    <label for="player_1">Player Name</label>
    <input type="text" name="player_1">
    <input type="submit" value="Submit" name="Submit">
  </div>
</form>
