<h1>Welcome to Rock, Paper, Scissors</h1>

<form action='/name' method='POST'>
  <label for='name'><h2>Please enter player 1 name:</h2></label>
  <input type='text' name='name' id='name'>
  <label for='name2'><h2>Please enter player 2 name:</h2></label>
  <input type='text' name='name2' id='name2'>
  <br>
  <br>
  <input type='submit' value="Let's Play!">
</form>

<h2> Leave player 2 name blank to play vs. computer </h2>
