<body style="background-color:#e6e6e6;font-family:verdana">
  <div class="">
    <h1>Welcome to the game of Rock, Paper, Scissors, Spock and Lizzard!</h1>
    <br>
    <h2>To play a new game you just have to register</h2>
    <br><br>
    <form class="" action="/name" method="post">
      <label style="font-size:20px;color:#595959" for="player_name">Player 1, insert your name here: </label>
      <input style="border-radius:8px;font-size:15px;width:100px;height:30px;border-color:#ff6600;background-color:#e6e6e6" id="player_one_name_id" type="text" name="player_one_name">
      <br><br>
      <label style="font-size:20px;color:#595959" for="player_name">Player 2, insert your name here: </label>
      <input style="border-radius:8px;font-size:15px;width:100px;height:30px;border-color:#ff6600;background-color:#e6e6e6" id="player_two_name_id" type="text" name="player_two_name">
      (optional)
      <br><br>
      <input style="border-radius:8px;font-size:15px;font-weight:bold;width:100px;height:30px;border:0 none;background-color:#ff6600" type="submit" name="start_button" value="Start!">
    </form>
  </div>
</body>
