<h1> Welcome to RPS battle </h1>
<h2> Would you like to play against me or another player? </h2>

<FORM METHOD="LINK" ACTION='/one_player'>
<INPUT TYPE="submit" VALUE="I wanna play you mate">
</FORM>
<FORM METHOD="LINK" ACTION='/two_player'>
<INPUT TYPE="submit" VALUE="I wanna play against my mate, mate">
</FORM>



<style>
body {
    background-color: linen;
    font-family: sans-serif;
}

h1 {
    color: maroon;
    font-family: sans-serif;
}

input[type="submit"] {
  color: maroon;
  font-size: 40px;
  font-family: sans-serif;
}



</style>
