<h1>Rock, Paper, Scissors</h1>


<form action = '/mode', method = 'post'>
  <button type="submit" class="btn btn-info" name="mode" value="Single Player">Single Player</button>
  <button type="submit" class="btn btn-warning" name="mode" value="Multiplayer">Multiplayer</button>
</form>
