
<h1>Rock. Paper. Scissors.</h1>
<form action="/name" method="post">
  <label for="playername">
    Enter your name
  <input type="text" name="playername">
  </label>
  <input type="submit" value="Start the Game">
</form>
