<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock/Paper/Scissors</title>
  </head>

  <h1> Rock / Paper / Scissors </h1>
  

  <h2> Player vs. Robot! </h2>

  <body>
    <form action="/single" method="post">
      <input type="submit" value="Single Player">
    </form>
  </body>

</html> 
