<!DOCTYPE html>
<html>
  <body style="background-color:powderblue;">
    <center>
      <h1>Do you wanna play a game?</h1>
      <br>
      <h1>Please enter your name:</h1>
      <br>
      <form action="/name" method="post">
        <input type="text" name="player_name">
        <input type="submit" value="Game on!">
      </form>
    </center>
  </body>
</html>
