<h1>Rock, Paper, Scisors!</h1>
<h2>Sign in to play with the Computer!</h2>
<form action="/name" method="post">
  <label for="player_name_input">Your name</label>
  <input type= "text" name="player" id="player_name_input">
  <input type= "submit" value="Play">
</form>
