<h1>Welcome to the Ultimate Rock Paper Scissors Game!</h1>

<div class="PlayerDetails">
  <p>Before we start...</p>
  <form action="/name" method="post">
    <label for="player_1_name">Enter your name: 
      <input type="text" name="player_1_name">
    </label>
    <input type="submit" value="Let's Go!">
  </form>
</div>