<h1>ROCK, PAPER, SCISSORS!</h1>
<h2>Who's playing?</h2>
<form action="/name_weapon" method="post">
  <label for="player">
    Your name here:<br>
  <input type="text" name="player">
  </label><br>
  <label for="weapon">
    Choose your weapon:<br>
  <input type="radio" name="weapon" id="rock" value="rock" checked> ROCK<br>
  <input type="radio" name="weapon" id="paper" value="paper"> PAPER<br>
  <input type="radio" name="weapon" id="scissors" value="scissors"> SCISSORS<br>
  <input type="submit" value="Play!">
  </label>
</form>
