<h1>Play</h1>
<h2>Enter your name</h2>

<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>

<!-- <form action="/twonames" method="post">
  <h3>Multi Player</h3>
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form> -->
