<style>
h1 {text-align:center;}
h2 {text-align:center;}
form {text-align:center;}
label {text-align:center;}
</style>
<br><br><br><br><br>
<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1">
    Player one's name:
    <input type="text" name="player_1">
  </label>
  <br><br>
  <label for="player_2">
    Player two's name:
    <input type="text" name="player_2">
  </label>
  <br><br>
  <input type="submit" value="Begin game">
</form>