<h1> Rock Paper Scissors Game </h1><br>
Enter your name to play the game
<form action='/names' method='post'>
  <input type='text' name='player_name'> <!the name= assigns this field as a param. If you put 'name=' in the submit button, 'start game' would become a param>
  <input type='submit' value='Start game'>
</form>