<h1>Are you ready to Rock(/Paper/Scissors)?</h1>

<form action='/play' method ='post'>
  <label for="name">Enter your name:</label>
  <input type="text" name="name" id="name" placeholder="Namey McNameface" required>
  <button type="submit" name ="start">Start game</button>
</form>
