<h1>Welcome to Rock, Paper, Scissors</h1>
<h3>If you'd like to play, enter your name below</h3>
<h5>To play against the computer, only enter Player 1 name</h5>

<form action='/name' method="post">
  Player 1's Name:<br>
  <input type="text" name="p1_name"><br>
  Player 2's Name:<br>
  <input type="text" name="p2_name"><br>
  <input type="submit" value="Let's Play!">
</form>
