<h1><i>Rock, Paper, Scissors</i></h1>

<div>
  <img src="https://rockpaperscissors.com/wp-content/uploads/2016/12/rps-logo-og.png">
</div>

<form action='/names' method='post'>
  Player 1: <input type="text" name="player_1_name">
<input type="submit" value="Submit">
</form>
