<h1> HELLO THERE MR MARKETER! </h1>

<h2> Enter Your Name Here! </h2>

<form name="input" action="/start" method="post">
  Name: <input placeholder="Name" type="text" name=name>
  <input style="height:200px;width:100px" type="submit" value="Start">
</form>

