<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container">
	<form action="/details" method="POST">
		<div id="header" class="form-group">
			<h3>
				Name:
			</h3>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="player_name" placeholder="Your name">
		</div>
		<button class="btn btn-md btn-default btn-block btn-light">
			Submit
		</button>
	</form>
</div>
