<h1> Welcome to RPS! </h1>

<form action="/players" method="post">
  <label for="player_1">
    Player 1 name
    <input type="text" name="player_1" placeholder="Player 1">
  </label>
  <input type="submit" value="Submit">
</form>
