<h1>Rock, Paper, Scissors!</h1>
<br>
<h2>Enter your name to play</h2>
<form action="/name" method="post">
<label for"player_name">
  Enter your name Marketeer
  <input type="text" name="player_name">
</label>
<br>
<input type="submit" value="Submit">
</form>
