<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Please enter your name to play:</h2>

<div>
  <form action="/name" method="post">
    <input type="text" name='player'>
    <input type="submit" value="Enter">
  </form>
</div>