<h1> Hello there,  player! </h1>
<h2> welcome to the RPS game, please fill in your name down below: </h2>
<form action='/names' method="post">
  <input type="text" name="names">
  <input type="submit" value='Submit'>
  </form>
