Welcome to Rock-Paper-Scissors game!

<form action="/name" method="post">
  <p> Fill in your name to play Rock-Paper-Scissors game! <input type="text" name="player_1_name"></p>
    <input type="submit" value="Register">
</form>
