<h1> ROCK PAPER SCISSORS </h1>

<h3>Before we start please enter your name</h3>

<form action='/names' method ='post'>
  <input type='text' name='player_1'>
  <input type='submit' value= 'OK!'>
</form>
