<form action="/name" method="post">
  <label for="name">Player 1 name</label>
  <input type="text" name="name"></input><br>

  <label for="name2">Player 2 name</label>
  <input type="text" name="name2"></input>
  <!-- <input type="checkbox" name="v_comp" value="true" checked>Play computer?<br> -->

  <input type="submit" value="Submit"></input>
</form>
