<!DOCTYPE html>
<htmL>
  <body>
    <h1>Sign in to play!</h1>
    <form action='/names' method=post>
      <label for='player_1_name'>
        Enter your name here!
        <input type='text' name='player_1_name'>
      </label>
      <button type='submit'>Play!</button>
  </body>
</html>
