<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>RockPaperScissors</title>
      <link rel="stylesheet" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
  </head>
  <page>
  <body>
<div class ="module">
  <h1 style = bold, weight 16px;>Enter Player 1 and Player 2</h1>
   <h2>What are your names?</h2>
<form action ='/names' method='post'>
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
</div>
</body>
</page>
</html>
