<h1>
Welcome to Rock, Paper, Sissors!
</h1>

<h2>
Please sign in to play
</h2>

<form action="/register" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="submit">
</form>