<html>
  <head>
  </head>

  <body>
    <h1> A game of Rock Paper Scissors</h1>
    <h2> Sign up here </h2>
    <form action='/name' method='post'>
      <input type='text' name='player' placeholder="Your Name">
      <input type='submit' value='Submit'>
    </form>
  </body>

</html>
