<form action="/play" method="post">
<label for="player_name">Enter player name</label>
<input type="text" id="player_name" name="name">
<input type="submit" value="Transport player to game start!">
</form>