<!DOCTYPE html>
<html>

  <head>
    <title>Rock Paper Scissors!</title>
  </head>

<body>

  <center>

      <h2>Rock Paper Scissors!</h2>
      <br>
      <form action="/play" method="post">
        <question>Enter your name to start:</question>
        <input type="text" name="name">
        <input type="submit" value="Start Game!">
      </form>
      <br>
      <img src='http://elementarypegames.weebly.com/uploads/1/5/0/1/15014218/6869625_orig.gif'>

    <% @name %>

  </center>

  </body>

</html>
