<head>

	<link type='text/css' rel='stylesheet' href='/stylesheet.css'/>

	<title>RPS - Welcome</title>

</head>

<body>

	<h1> Welcome to Rock, Paper, Scissors! </h1>

	<img src='/background.jpg'/>

	<div>
		<a href='/start'>PLAY!</a>
	</div>

</body>

