<h1>Do you want to play Rock Paper Scissors?</h1>
<form action="/name" method="POST">
<div>
  <label>Enter your name:</label>
  <input type="text" name="name">
  <input type="submit" name="Submit">
</div>
</form>