<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Rock, Paper or Scissors?</title>

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<meta content= "width=device-width, height=device-height, initial-scale=1" name="viewport">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css">
<body>
<h1>Rock, Paper or Scissors?</h1>
<div class="gamebox">
  <form action="/play" method="post">
    <br>
    <br>
    <h2>Please enter your name:<h2>
    <input type="text" name="name" style="height: 40px;">
    <input type="submit" value="Start">
  </form>
</div>

</body>
</html>
