
<center>
  <h1>Make your choice, human</h1>
  <h2>Enter your name and choose your weapon:</h2>

    <form style="text-align:left; width:100px" action="/game" method="post">
      <label for="player_1_name">Player 1: </label>
      <input type="text" name="player_1_name"><br>
      <input type="radio" name="player_1_choice" value="rock" checked> Rock<br>
      <input type="radio" name="player_1_choice" value="paper"> Paper<br>
      <input type="radio" name="player_1_choice" value="scissors"> Scissors<br>
      <input type="submit" value="Play!">
    </form>
</center>
