<h1 style='text-align:center'>Rock, Paper, Scissors!!</h1>
<h2 style='text-align:center'>Please enter your name below</h2>
<form style='text-align:center' action='/names' method='post'>
  <label for='player_1-name'>
    Hand 1
    <input type='text' name='player_1_name'>
  </label>
  <label for='player_2_name'>
    Hand 2
    <input type='text' name='player_2_name'>
  </label>
  <input type='submit' value='Submit'>
</form>
