<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Enter Player's name to begin!</h2>
<form action="/player" method="post">
  <label for="name">
    name
    <input type="text" name="name"/>
    </label>
    <input type="submit" value="Play!">
</form>
