<form action='/play' method ='post'>
  <label for="name">Enter your name:</label>
  <input type="text" name="name" id="name" value="Zaphod Beeblebrox">
  <button type="submit" name ="start">Start game</button>
</form>