<h1 class='title'> Enter your name to play </h1>

<form class="form" action="/names" method='post'>
  <label for="Player1">Player1:</label>
  <input type="text" name="Player1" required >
  <input class="play_button" type="submit" value="Play">
</form>

