<style>
body {
    background-image: url("https://www.walldevil.com/wallpapers/a38/wallpaper-easiest-piece-gaming-7kocz.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
</style>
<center><h1>Rock - Paper - Scissors</h1></center>
<center><h2>Enter your name to play</h2></center>
<center><form action="/names" method="post">
  <label for="player_name">
    Player's name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form></center>
