<h1>Sign in for Rock/Paper/Scissors</h1>
<form action ="/names" method ="post">
  <label for = "first_name">
    First Name
  <input type = "text" name = "first_name"/>
</label>
  <label for = "last name">
  <input type = "text" name = "last_name"/>
</label>
  <input type = "submit" value = "Submit"/>
</form>
