<h1>Rock, Paper, Scissors</h1>

<form action = '/mode', method = 'post'>
  <input type="submit" name="mode" value="Single Player">
</form>

<form action = '/mode', method = 'post'>
  <input type="submit" name="mode" value="Multiplayer">
</form>
