<h1>ROCK! PAPER! SCISSOOORRRRSSSSS!</h1>

<br>

<h3>Enter your name to play the game of your life!!!</h3>

<br>

<h3>Then choose your weapon! ROCK or PAPER or SCISSORS - the choice is yours!</h3>

<br>

<form action="/name" method="post">
  <label for="player_name">
    GET NAMING!!
    <input type="text" name="player_name">
  </label>
  <label for="player_choice">
    AND GET CHOOSING!!!
    <input type="text" name="player_choice">
  </label>
    <input type="submit" value="ROCK/PAPER/SCISSORS ON!">
</form>
