<h3 class="text-center">Rock Paper Scissors</h3>
<h4 class="text-center">Because why not..</h4>
<br>
<img class="img-responsive center-block" src="http://bit.ly/1HtNezK">
<br>
<br>
<div class="text-center">
  <form action='/player' method='get'>
    <a href="/player" class="btn btn-primary text-center">New Game</a>
  </form>
</div>