<h1>The beginning of Rock, Papers and Scissors</h1>
<h2>Register your name to play</h2>

<form action="/name" method="post">
<label for=player_name Name>Enter your name, adventurous player. Player's name:</label>
<input type="text" name="player_name" required>
<h3>Choose your weapon wisely</h3>
<button type="submit" value="rock" name="weapon_choice">Rock</button>
<button type="submit" value="paper" name="weapon_choice">Paper</button>
<button type="submit" value="scissors" name="weapon_choice">Scissors</button>
</form>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSEMnBB9hPfPMnwVpGetUI1q-dRuKUdbjr_g&usqp=CAU" width=65%/>