<h3>Welcome to Rock-Paper-Scissors.
  Before we start, would you like to play by yourself or with a friend</h3>

<table border="0" align='center'>
  <tr>
    <td><form action="/single_player">
      <input type="submit" value="Single Player">
    </form></td>

    <td><form action="/multiplayer">
      <input type="submit" value="Multiplayer">
    </form></td>
  </tr>
<table>
