<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Please enter your name</h2>
<form action="/names" method="post">
  <input type="text" name="name">
  <input type="submit" value="Play against Computer">
  <input type="submit" formaction="/multiplayer" value="Play multiplayer">
</form>
