<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>

<h1 class = "center_two">You're about to play a nailbiting game of Rock, Paper, Scissors!!!</h1>

<form action='/setup' method='post' class = "center_two">
  <input type='submit' name='two_player' value='2-player'>
  <input type='submit' name='computer' value='Computer'>
</form>
