<h1> Sign up and play!</h1>
<form action="/names" method="post">
  <p>
   <label for="player_name">Player 1 name:</label>
   <input type="text" name="player_name" />
  </p>
   <input type="submit" value="Submit">
 </form>
