<!DOCTYPE html>
<h1>Hey, marketeer</h1>
<h2>are you feeling stressed?</h2>
<h2></h2>
<h2>Why don't you register to play a game of...</h2>
<h2>Rock, Paper and Scissors!</h2>
<form action="/welcome" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>