<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <form action="/choose" method="post">
    <h1> Welcome to Rock Paper Scissors! </h1>
    <h1> Player 1 enter your name: </h1>
    <input type="text" name="player_1" value="Human player">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
