<h1>Rock, Paper, Scissors!</h1>
<form action='/fight' method="post">
  <label for="player_name">
    Player Name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
