<style>
body {
  background-color: lightblue;
}

h1 {
  color: violet;
  text-align: center;
}

h2 {
  color: violet;
  text-align: center;
}

form {
  text-align: center;
}
</style>

<h1>Hello Marketer!</h1>
<h2>Please input your name!</h2>
<form action="/names" method="post">
    <label for="player_1">
      Player:
      <input type="text" name="player_1">
    </label>
    <input type="submit" value="Submit">
</form>
