<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">
    <form action="/name" method="post">
      <div class="form-input">
        <input type="text" name="player_one_name" placeholder="Player's name" autocomplete="off"/>
        <button type="submit">Play!</button>
      </div>
    </form>
  </div>
</body>

</html>
