<h1>Welcome to Rock, Paper, Scissors!<h1>
<h2><form action='/name' method='Post'>
  <label for='player_1'>
    Enter your name:
    <input type='text' name='player_1_name'>
    <input type='submit' name='Register'>
  </label>
</form></h2>
