<h1 align="center">ROCK - PAPER - SCISSORS</h1>

<h2 align="center"> ENTER PLAYER NAME</h2>

<center><form action="/names" method="post">

  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form></center>
