<div style='text-align: center; margin-top: 5em;'>
  <h1>Time to Play! Enter your name below...<br /><br /></h1>
  <form action="/start" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Start">
  </form>
</div>
