<h1>Rock Paper Scissors</h1>
<p>It's not like anyone is even gonna play this so why waste time with an intro</p>
<h3>Choose your player count: 1player or 2 players</h3>

<form action="/player_count" method="post">
	<input type="submit" name="player_count" value="1p">
	<input type="submit" name="player_count" value="2p">
</form>
