<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="container-fluid">
  <div align="center">
    <p>Play Rock, Paper, Scissor</p>
    </b>
    <a href="/game/new">New Game</a>
  </div>
</div>
