<h1>Welcome to Rock, Paper, Scissors</h1>
<h3>Please sign in with your name below</h3>
<form action="/name" method="post">
  <label for="name">
    Name
    <input type="text" name="name" placeholder="name">
  </label>
  <input type="submit" name="submit" value="Submit">
</form>
