<h1> Rock, Paper, Scissors </h1>
<br>
<h2> Enter your name below to start a game with the computer </h2>
<br>
<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>

