<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<center><br>
<h1>"Rock, paper, scissors!"</h1><br>

<form action = "/names" method = "post"><div>
<h3>What's your name?</h3>
<input type = "text" name = "player">
<input type = "submit" value = "Submit">
</div></form>
</center>
