<h1>Welcome to Rock Paper Scissors!</h1>
<p>What's your name?</p>
<form action="/name" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="Name">
  </p>
  <p class="button">
    <button type="submit">Play</button>
  </p>
</form>