<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock-Paper-Scissors-Lizard-Spock</title>

    <style>
      body {
        background-color: #20242A;
        text-align: center;
        color: white;
        font-family: "Verdana", Geneva, sans-serif;
        font-size: 1.5em;
      }
      input {
        padding: 2px;
      }
      button {
        font-size: 1em;
        color: #20242A;
      }
      textarea, input, select {
        font-family: inherit;
        font-size: inherit; }
      .head1 {
        font-size: 2.5em;
        letter-spacing: 8px;
      }
      .head2 {
        font-size: 1.5em;
        letter-spacing: 5px;
      }

    </style>

  </head>

  <body>
      <p class="head2">ROCK-PAPER-SCISSORS-LIZARD-SPOCK</p>
      <form action="/name" method="post">
        <label for="player_name">
        Enter your name:
        <input type="text" name="player_name" required>
      </label>
      <button id="play" type="submit">PLAY</button>
    </form>
    <br><br>
    <img src="/rules.png" alt="RPSLS Rules">

  </body>
</html>
