<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>RPSLS</title>
</head>
<body>
  <div class="landpage">
    <div class="centerbox">
      <form action='/names' id="nameform" method='POST'>
        <div>
          <input type='text' id="name" name='name'>
        </div>
        <div>
          <input type='submit' name='Submit'>
        </div>
      </form>
    </div>
  </div>
  
</body>
</html>

