<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="index.css">

<img src="http://i.giphy.com/Cc0TrmQHOJCta.gif"/>
<h1>Can YOU beat the Daily Grind?</h1>
<h3>Don't worry, even if you loose, at least you'll see your name in shiny lights...</h3>
<form action="/name" method="post">
  <input type="text" name="name"/>
  <span><button  class="btn btn-default" type="submit">Game on!</button></span>
</form>
