<h1> RPS </h1>
<br>
<br>


<form action=/1player method='get'>
  <input type='submit' value='1 player'>
</form>

<form action=/2players method='get'>
  <input type='submit' value='2 players'>
</form>
