<style>
  body{background: linear-gradient(to right, rgba(17,181,116,0), rgba(17,184,116,1));}
  </style>

<h1>Welcome to the game! Please enter your name. </h1>


<form action="/player-name" method="post">
  <label for="Player">
  <input type="text" id="Player" name="name">
  <input type="submit" value="Submit">
</form>
