<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, , initial-scale=0.5">
    <link rel=stylesheet type=text/css href=/stylesheet/index.css />
  </head>
<body class='body'>

<h1 class='h1'>Welcome to RPS!<h1>
  <form class='form' action="/names" method="post">
    <label for="player_1_name">
      Please enter your name:
      <p>
        <input class='input' type="text" name="player_1_name">
      </p>

    </label>
      <input class="name-submit" type="submit" value="Submit">
  </form>

 </body>
 </html>
