<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>RPSLS</title>
</head>
<body>
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <p>Please enter your name:</p>
  <form action="/save_names" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Play!">
  </form>
</body>
</html>