<html>
<head><link rel="stylesheet" type="text/css" href="css/style.css"></head>
<link href='http://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
 <h1>Rock Paper Scissors</h1>
 <h2>Welcome to the British royal marines</h2>
     <h2>You ready to fight the pirate machine??<>
     	<br>
     	<br>
     	<br>
     	<br>
     	<br>
     	<br>
  	<form action='/game'>
    <input type="submit" value="New Game" id="submit">
    </form>
 <audio src="tumblr_lsgp97uZOk1qkn96bo1.mp3" autoplay></audio>
 <h4>By Diego Romero</4>
<!--  <link href='http://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'> -->