<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	margin-top: 5px;
	background-image: url(https://raw.githubusercontent.com/adrianeyre/rps-challenge/master/images/background.jpg);
	background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
.Title {
	font-size: 5em;
	font-weight: bold;
	color: #FFF;
	text-align: center
}
.PlayerSelect {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
}
.Main {

}
input#oneplayer    {
background:url(https://raw.githubusercontent.com/adrianeyre/rps-challenge/master/images/1player.png);
background-repeat: no-repeat;
font-size: 0px;
width:100px;
height:100px;
color: #FFF;
border: 0;
}
input#twoplayer    {
background:url(https://raw.githubusercontent.com/adrianeyre/rps-challenge/master/images/2player.png);
background-repeat: no-repeat;
font-size: 0px;
width:100px;
height:100px;
color: #FFF;
border: 0;
}
</style>
<div class="Title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="75">&nbsp;</td>
    </tr>
    <tr>
      <td class="Title">Rock, Paper, Scissors </td>
    </tr>
    <tr>
      <td height="50">&nbsp;</td>
    </tr>
  </table>
</div>
<div class="PlayerSelect">
  <form name="form1" method="post" action="/players">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="3" align="center" class="PlayerSelect">Select amount of players</td>
      </tr>
      <tr>
        <td align="right"><input type="submit" id="oneplayer" name="players" value="1" /></td>
        <td width="20">&nbsp;</td>
        <td align="left"><input type="submit" id="twoplayer" name="players" value="2" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="20">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="20"></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>
<% if @players == "1" %>
<div class="Main">
<form action='/names' method="post">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="PlayerSelect">Enter Player name:
        <input name="player1_name" type="text" style="font-size: 16pt" size="15" maxlength="15"></td>
    </tr>
    <tr>
      <td height="60" align="center" valign="bottom"><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>
</div>
<% elsif @players == "2" %>
<div class="Main">
<form action='/names' method="post">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>&nbsp;</td>
      <td width="20">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="top" class="PlayerSelect">Player 1</td>
      <td width="20" valign="top">&nbsp;</td>
      <td height="60" align="center" valign="top" class="PlayerSelect">Player 2</td>
    </tr>
    <tr>
      <td align="center"><span class="PlayerSelect">Name: <input name="player1_name" type="text" style="font-size: 16pt" size="15" maxlength="15">
      </span></td>
      <td width="20">&nbsp;</td>
      <td align="center"><span class="PlayerSelect">Name: <input name="player2_name" type="text" style="font-size: 16pt" size="15" maxlength="15">
      </span></td>
    </tr>
    <tr>
      <td height="60" colspan="3" align="center" valign="bottom"><input type="submit" value="Submit"></td>
      </tr>
  </table>
</form>
</div>
<% end %>