<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css"/>
</head>
<body>
<h1>Rock Paper Scissors</h1>
<img src="RPS.jpeg" style="width:500px;height:300px;"/>
</br>
</br>
</br>
<form action="/names" method="get">
  <label for="Player">
    Player Name
    <input class="input" type="text" name="PlayerName">
  </label>
  <input class="submit-button" type="submit" value="Submit">
</body>
</html>