<!DOCTYPE html>
<html>
  <head>
    <title>RPS Game</title>
    <link rel="stylesheet" href="/style.css">
</head>

  <body>
    <div class="centered">
      <br>
      <h1>Rock, Paper, Scissors</h1>
      <br></br>
      <h2>Please sign in to play</h2>
      <form action="/registered" method="post">
        <label for="player_1">
          Enter name:
          <input type="text" id="player_1" class="field" name="player_1">
        </label>
        <button type="submit" class="btn">
          Battle!
        </button>
      </form>
    </div>
  </body>
</html>
