<h1>Welcome to the best Rock Paper Scissors game you have ever seen!</h1>

<form action="/submit_name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Enter your name">
</form>