<h1>Welcome to Rock Paper Scissors!</h1>

<h2>Please enter your name</h2>

<style>
body {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--PJFIjnRu--/c_scale,fl_progressive,q_80,w_800/bartdjpma2dbwebatvar.jpg");
}
</style>

<form action="/name" method="post">
  <input type="text" name="player_name" value="Player name">
  <input type="submit" value="Enter name">
</form>
