<center>
<body>
<h1> Welcome to Rock, Paper, Scissors! </h1>
<h2> Choose what type of game you would like to play: </h2>
<form action="/game-type" method="post">
  <input type="submit" value="1 Player" name="game_type">
  <input type="submit" value="2 Player" name="game_type">
</form>
</body>
</center>