<center>
  <h1>Hello, Enter your names to start the game! </h1>
<form action="/names" method="post">
  <h2> Player 1 </h2>
  <input type="text" name="player_1_name">
  <h2> Player 2 </h2>
  <input type="text" name="player_2_name">
  <div> </div>
  <input type="submit" value="Submit">
</form>
</center>
