<!DOCTYPE hmtl>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div id="header">
        <h1>Are you ready to defy your luck???</h1>
      </div>
      <form action="/names" method="post">
          <input type="text" name="player_1_name" placeholder="Player's name">
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
