<div align="center">
  <form action="/play" method="post">
    <label for="player_1_name">
      Player name: <br><br>
      <input type="text" name="player_1_name"> 
    </label>
  </form>
  <input type="submit" value="Play!">
</div>