<!DOCTYPE html>

<html>
<body>
  <div>
    <h1>Enter your name!</h1>
  </div>
  <form action='/name' method='post'>
    <div>
      <label for=player>Players name</label>
      <input type='text' name='name'/>
    </div>
    <div>
      <input type='submit' value="Submit"/>
    </div>
  </form>
</body>
</html>
