<link rel="stylesheet" href="<%= url('/styles.css') %>">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<h1>
  Play Rock-Paper-Scissors!
</h1>

<p>
  <form action="/game" method="post">
    Enter your name:<br />
    <input style="margin:15px; padding:5px; border-radius:6px;" type="text" name="Name" value=<%= session[:Name] %>><br />
    <button type="submit" value="Play">Play RPS</button>
    <button type="submit" value="PlayRPSLS" onclick="this.form.action='/game_rpsls'">Play RPSLS</button>
  </form>
</p>
