<h1 style="color:navy; font-size:40px;">Welcome to rock paper scissors </h1>
<h2 style="font-size:25px;"> Please register your names to play</h2>
 <style>
        body { background-color: pink; }
        p { color: #fff; }
    </style>
<form  action="/names" method="post">
  <label for="player_1_name"><h3>
    Player 1 name:</h3>
  <input type=text name=player_1_name >
  </label>
  <input type=submit value=Submit>
  <br><h3>
  The rules are simple: </h3>
     Rock beats Scissors
 <br>Scissors beats Paper
 <br>Paper beats Rock
</form>
