<!-- Import fonts and bootstrap -->
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

<body>
  <div id='Logo'>
    <h1 id='Title'>Rock, Paper, Scissors</h1>
    <h2 id= 'Subtitle'> The game</h2>
  </div>
  <br>
  <br>
  <div class='col-xs-12 text-center'>
    <form action="/name" method="get">
      <button>One Player<br><i class="fa fa-play fa-2x"></i></button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <div class='col-xs-12'>
  <center><img src='goty.png' id='goty' align=></center>
  </div>
</body>
