<!DOCTYPE html>
<html>

  <head>
    <title>RPS</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <div class='container'>
      <div class='banner'>
        <h1> Rock Paper Scissors </h1>
      </div>

      <div class='middle'>
        <h2>Enter your name to play</h2>
      </div>

    <form action = '/play' method = 'post'>

    <input type="text" name="name">
    <input type="submit" value="Play">
    </form>
  </div>
  </body>
</html>
