<h1> Ready to play Rock, Paper, Scissors?</h1>

<form action="/names" method="post">
  <label for="player1">Enter name:</label><br>
  <input type="text" name="player1">
  <input type="submit" value="submit">
</form>
