<h1> WELCOME TO RSP GAME! </h1>
<h2> please put your nick name <h3>

<form action='/name' method='post'>
<label for= 'player1_name'>
Player 1 : <input type= 'text' name='player1_name' id = player1_name> 
<label for= 'player2_name'>
Player 2 : <input type= 'text' name='player2_name' id = player2_name>
<input type= 'submit' name='submit' value='start'>
</form>