<h1> Welcome to Rock-Paper-Scissors </h1>
<h2> Please submit your name below </h2>
<form action="/names" method="post">
  <label for="player_1_name">
  Player 1 Name:
  <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
<h3> Beware your opponent, the RPS Bot! </h3>
<h4> Legend says the RPS Bot was born for this! </h4>
