<h1> Rock, Paper and Scissor </h1>

<h3> Welcome to the game!</h3>

<form action = "/game" method = "post">
  <label for = "name">
    To continue please enter your name:
    <input type = "text" name = "name">
  </label>
  <input type = "submit" value = "Start game">
</form>
