<h1> Rock, Paper, Scissors Game </h1>
<h2> Input player names to begin </h2>

<form action="/selection" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="Player1">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="Player2">
  </label>
    <input type="submit" value="Submit">
</form>