<h1> Select game mode </h1>
<br>
<br>


<form action='/game_mode' method='post'>
  <input type='submit' value="singleplayer" class='button' name='game_mode'>
</form>

<form action='/game_mode' method='post'>
  <input type='submit' value="multiplayer" class='button' name='game_mode'>
</form>




<img src='https://i.ebayimg.com/images/g/DfQAAOSwepJXUhjY/s-l300.jpg' style="width:400px;height:500px;" class='im' >
