  <div id="page-wrap">
<form method="get" action="/choose_game">
<input class="btn" type="submit" name="game_type" value="Human VS Human"><br>
<input class="btn" type="submit" name="game_type" value="Human Vs Computer">
</form>
</div>