<html>
  <h1>How many we got playin' today?</h1>
  <form action="set_name">
      <input type="submit" value="1 player">
    <br>
  </form>
    <form action="set_names">
    <input type="submit" value="2 player">
  </form>
</html>
