<style>
body {background-color: powderblue;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif}
</style>
 <body>
<h1>Rock, Paper, Scissors game</h1>
<br>
<h2>Who do you want to play against?</h2>
<br>
<label for="mode">
<form action='/singleplayer'>
  <input type='submit' value='Computer'>
</form>

<form action='/multiplayer'>
  <input type='submit' value='Another player'>
</form>
</label>
</body>
