<!DOCTYPE html>
<html>
<head>
  <style>
  body
{background-image: url("http://78.media.tumblr.com/8a069c4213785e8d20d84ba98e20e0e9/tumblr_nbnti2Nt0M1qfbqolo1_1280.jpg"); }
  button
  { background-color: black;
    color: white;
    font-style: italic;
    font-family: georgia;
  }
  h1
  { font-family:times;
    color: white;
    font-size: 50px;
  }
  h2
  { font-family:times;
    color: white;
    font-size: 40px;
  }
  </style>
</head>
<body>
<div2>
  <div1>
    <h1 style='text-align:center;'>Relax</h1>
    <h2 style='text-align:center;'>Play a game of rock, paper, scissors!</h2>
  </div1>
<div style='text-align:center; width:100%;'>
<form action='/names' method='post'>
  <input type='text' name='player1' style='width:140px;height:44px;'>
  <button type='submit' value='play!'style='width:140px;height:50px;'>play!</button>
</form>
</div>
</div2>
</body>
</html>
