
<center>
  <body bgcolor ='#F4BAC8'>
    <body topmargin='150'>
      <body leftmargin='200'>
        <body rightmargin='200'>
    <font face='futura'>
  <h1>
    <font size='128'> Welcome to Rock, Paper, Scissors, Lizard, Spock
    </font>
    </h1>
<form action='/name' method='post'>

  <div>
    <label for='name1'>Name 1:</label>
    <input type='text' name='name1'/>
  </div>

  <div>
    <label for='name2'>Name 2:</label>
    <input type='text' name='name2'/>
  </div>

  <div class='button'>
    <button type='submit'>Submit</button>
  </div>

</form>
</font>
</body>
</center>

