<img src="https://goo.gl/O5CCGq" height="500">

<form action ="/names" method='post'>
  <div>
    <label for="player_1">Player Name</label>
    <input type="text" name="player_1">
    <label for="best_of">Best of...</label>
    <input type="text" name="best_of">
    <input type="submit" value="Submit" name="Submit">
  </div>
</form>
