<h1> Welcome to the Rock Paper Scissors Game </h1>

<form action="/play" method="post">
    <label for="player_name">Player name </label>
      <input type="text" name="player_name">
    <input type="submit" value="Play">
</form>