<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    <form action="/name" method="post">
      <p>What's your name?</p>
      <input type="text" name="name" />
      <input type="submit" value="Start!" />
    </form>
  </div>
</body>
</html>
