<h1 style="text-align:center;">Warfare with Assorted Stationery and Geological Elements: An Original Game from Original Game Co.</h1>
<h2>Literally hours of fun await after signing in.</h2>


<form action="/new_game" method="post">
  Your name:<br>
  <input type="text" name="player_1_name"><br>
  <input type="submit" value="Play">
</form>
