<form action="/enter_names">
    <label for="player_1">
        <input type="text" name="player_1">
    </label>
    <label for="player_2">
        <input type="text" name="player_2">
    </label>
    <input type="submit" value="Submit">
</form>