<div style='width: 400px; height: 500px; border: 3px solid red; text-align:center; margin:0 auto; '> 
  <p><font size="8"><strong>ROCK PAPER SCISSORS</strong></font></p>
  <div style="float: left; width: 200px;">
  <p><font size="6"><a href="/computer">Play Against<br />Computer</a></font></p>
  <p><font size="6"><a href="/friend">Play Against<br />A Friend</a></font></p> 
  <p><font size="6"><a href="/spock">Play Rock Paper Scissors Lizard Spock</a></font></p>
  </div>
  <div style="float: left; width: 200px;">
  <img src='http://3.bp.blogspot.com/-7c3f-z1l_o0/VcT5KYQp21I/AAAAAAAAQuc/tgjFmHv6gQM/s1600/rps1.jpg' width="200">
  </div>
</div>