<body style="text-align:center; color:white; background-color:SlateBlue;">
    <h1 style="font-family:Palatino; font-size:300%;">Welcome to Rock, Paper, Scissors game!</h1>
    <h3 style="font-family:Palatino; font-size:150%;">Please enter your name to get started</h3>
    <form action='/play' method='get'> 
        Name:
        <input type='text' name='player1_name'>
        <input type="submit" value="Submit">
    </form>
</body>