<!DOCTYPE html>
<html>
<head>
  <link href='/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Hello there human!</h1>
  <p>Welcome to Rock Paper Scissors a fun game for all the family!</p>
  <br>
  <p>If you dont know the rules, then i'm not sure why you are here but 
  to clarify.</p><br>
  <h3>Rock > Scissors > Paper > Rock</h3><br>
  <p> clear? Well if not, I don't care. How about you give me your name</p>


  <form action='/welcome' method='POST'>
    <input type='text' name='name'>
    <input type='submit' value="Let's play!">
  </form>
</body>