<h1>Welcome to Rock, Paper, Scissors</h1>

<form action='/login' method='post'>
  <label for='add_name'>Add your name:</label>
  <input type='text' name='player_name_1'>

  <input type='submit' value='Play game'>
</form>
