<h1>Rock, Paper, Scissors!</h1>
Please enter your name:
<form action="/enter_name" method="post">
  <input type="text" name="player_name" value="Player">
  <input type="submit" value="Submit">
</form>
