<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link>
    <title>Document</title>
</head>
    <body>
        <div>  
            <p>Welcome to Rock, Paper and Scissors</p> 
            <form action='/name' method='post'>  
                <label for='name'>Enter name here</label><br>
                <input type='text' name='name'> 
                <input type="submit" value="play" id ="play">
            </form>
        </div>
    </body>
</html>