<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" href="styles.css">
    </head
    
    <body>
<h1 id="enter-name">PLEASE ENTER YOUR NAME AND CLICK THE BUTTON TO BEGIN!</h1>

<div>
<form action="/play" method="post">
  <label for="player_name"> Name:
    <input type="text" name="player_name">
  </label>
  <br>
  <input type="submit" value="Click to Begin!">
</form>
</div>
</body>
</html>