<center><h1> Welcome, Gladiator. Enter your name and choose your weapon. </h1>
  <img src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/17/1493239431-screen-shot-2017-04-26-at-214321.png?resize=480:*" alt="Russell Crowe">
<br>
<form action="/the-colosseum" method="post">
  <label for="user_name">
    Name:
    <input type="text" name="user_name"
  </label>
  <label for="user_move">
    Weapon:
<select id="weapon"
  name="user_move" />
  <option value="Rock">Rock</option>
 <option value="Paper">Paper</option>
 <option value="Scissors">Scissors</option>
</select>
</label>
<input type="submit" value="Battle">
</form></center>
