
<h1>A Game of Rock, Paper, or Scissors</h1>
<p>Please enter your name, Marketeer.</p>

<form action="/names" method="post">
<input type="text" name="player_name">
<input type="submit" value="Submit">
</form>
