<h1>Rock, Paper, Scissors!</h1>

<div class="logo">
  <img src="https://az616578.vo.msecnd.net/files/2016/10/13/636119707113947128-1553677193_RPS.gif">
</div>

<h3>Enter player names:</h3>
<form action="/names" method="post">
  <div>
    <label for="player_1_name">
      Player 1
      <input type="text" name="player_1_name">
    </label>
  </div>
  <div>
    <label for="player_2_name">
      Player 2
      <input type="text" name="player_2_name">
    </label>
  </div>
  <div class="button">
    <button type="submit" value="submit">
      Play
    </button>
  </div>
</form>


