<head>
  <title>Rock, paper, scissors</title>
</head>
<body>
  <h1>Player, enter your name:</h1>
  <form action="/play" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="submit">
  </form>
</body>