<h1>Rock Paper Scissors</h1>
<h3>Do you dare to challenge the formidable Master Control Program?</h3>
<table><tr>
<td><img src = "https://i.pinimg.com/236x/a4/ec/34/a4ec34e6030cbaed84b9f81f3c052481.jpg"></td>
<td>
<h2>Player 1 : Register</h2>
<form action = "/names" method = "post">
    Enter Player 1 name: <input type = "text" name="player_1" /><br><br>
    <input type="submit" value="Submit">
</form>
</td>
<td><img src = "http://gulagbound.com/wp-content/uploads/2012/04/MCP-TRON.jpg"><td> 
</tr></table>