<h1>Rock, Paper, Scisors!</h1>
<h2>Sign in to play with the Computer!</h2>
  <form action="/name" method="post">
    <lable for="player_1_name">
      Your name
      <input type= "text" name= "player_1_name">
    </lable>
  <input type= "submit" value="Play">
</form>
