<body style = ' background: url("https://pixabay.com/get/54e8d74b4855ad14f6d1867dda6d3e79133ddeec5a4c704c732a7fd69e4ecd5a/rehilete-2828271_1920.jpg")no-repeat  center center fixed;background-color: #cccccc;'>
<h1 style='text-align: center; margin: 0 auto; color: white; letter-spacing: 5px; padding: 20px'> hello </h1>
<h2 style='text-align: center; margin: 0 auto; color: white; letter-spacing: 5px; padding: 20px'> welcome to rock scissors paper game </h2>
<div style ='text-align: center; margin: 0 auto; color: white; letter-spacing: 5px;margin-top: 150px; padding: 20px; width: 20vw; height: 20vh; border: 1px solid white' >
 <form action='/name' method='post' style='text-align: center;'>
  <label for= 'name'>
   name <input style='background: none !important; border-shadow: 0.5px solid white' type='text' name='name'>
  </label>
  <input style='padding:5px 15px;background: white ;border:0 none; cursor:pointer;-webkit-border-radius: 5px; border-radius: 5px;' type='submit' name="Submit" value= 'play'>
</form>

</div>
<body>

