<div style="display: inline;"><img src="/images/rock.png" width="120" height="90"alt="SomeAlternateText"></div>
<div style="display: inline;"><img src="/images/paper.png" width="120" height="90"alt="SomeAlternateText"></div>
<div style="display: inline;"><img src="/images/scissors.png" width="120" height="90"alt="SomeAlternateText"></div>
<div style="display: inline; font-size: 20pt">   ROCKPAPERSCISSORS</div>
<br>
<div>ENTER YOUR NAME<div>

<div>
  <form action="/playervsplayer" method="post">
  <input type="text" name="name">
<div>
<br>
<div>
  <input type="submit" value="TWO PLAYER GAME">
  </form>
</div>
<br>
<div>
    <form action="/playervscpu" method="post">
    <input type="submit" value="VS CPU GAME">
    </form>
</div>
