<head>
  <h1 style='text-align:center'> Welcome to Rock, Paper and Scissors </h1>
</head>

<body style='background-image: linear-gradient(rgb(241, 163, 244),rgb(203, 235, 167)'>

<form action='/' style='text-align:center'>
  <div id='name'><h3>Please enter your name</h3>
    <label>Player 1:</label>
    <input type='text' name='player1' placeholder="Jake" required>
    <label>Player 2:</label>
    <input type='text' name='player2' placeholder="Anna" required>
  </div>
<br>
<br>
  <div id='submit'>
    <input type='submit' value="Let's Play!">
  </div>
</form>

</body>