<center><h1>Welcome to Capybara RPS, homosapien!</h1>
<form action='/play' method=post>
  <label for="player_name">
    <h2>Player name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
</h2>
</center>
