<body style="background-color: #90c9bf; text-shadow: 2px 2px 3px rgba(0,0,0,.2); font-size: 18px; color: #ffcc00">
  <h1>Hello there!</h1>
    <h2>What's your name?</h2>
  <div>
    <form action='/info' method='post'>
      <input type='text' name='player_1'>
      <input class='btn' type='submit' value="Let's play!">    
    </form>
  </div>
</body>