<div style="text-align: center">
  <H1>Welcome to Rock Paper Scissors!</H1>
  <form action="/register" method="post">
    <label for="player_name">
      Please enter your name:
      <input type="text" name="name">
    </label>
    <input type="submit" value="Enter Lobby">
  </form>
</div>