<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors - by Joe Sweeny</title>
  </head>
  <body>
    <form action="/name" method="post">
      <label for="player_1_name">
        Player 1 Name:<input type="text" name="player_name"></label><br>
      <br><input type="submit" value="Enter the Game">
    </form>
  </body>
</html>
