<!DOCTYPE html>
<html>
<body>

<center><form action="/name" method="post">
  <h1>Welcome to Rock, Paper, Scissors!</h1>
  <h2>Enter player1's name:</h2>
  <input type="text" name="player1_name" /><br>
  <h2>Enter player2's name:</h2>
  <input type="text" name="player2_name" /><br><br><br>
  <input type="submit" value="Submit" />
</form>
</center>

</body>
</html>
