<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Sign in to start the game</h2>
<form action='/names' method='post'>
  <label for='player1'>Please enter your name
    <input type='text' name ='player1'>
  </label>
  <button type='submit'>Submit</button>
