<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
    <title>RPS-Home</title>
  </head>
  <body>
    <div id="home_page_header"></div>
    <form action='/game-type' method="post">
      <button type="submit" name="type" value="single" class="round-box button">Single Player</button>
      <button type="submit" name="type" value="multiplayer" class="round-box button">Multiplayer</button>
    </form>
  </body>
<html>