<!DOCTYPE html>
<html>
<head>
  <link href='styles.css' rel='stylesheet'/>
</head>

<body>
<header>
<h1>Let's play Rock, Paper, Scissors!</h1>
</header>

<div id='main'>
<div id='central_column'>
  <form action='/names' method='post'>
  <label for='player_name'>Enter your name:</label>
  <input id='text_box' type='text' name='player_name' />
  <input id='btn' type='submit' value='Submit' />
</form><br>
  <p><b>Instructions</b></p>
  <p>
  Enter your name to play, then select from Rock, Paper or Scissors on the next page.
  <p>The winning combinations are shown below:
    <p>Rock beats Scissors, but loses to Paper
    <p>Paper beats Rock, but loses to Scissors
    <p>Scissors beat Paper, but loses to Rock
  </p>
</div>

</div>

</body>
</html>
