<h1>Rock paper scissors game, submit your name and move</h1>
<form action="/results" method="post">
  <embed src="http://www.moviesoundclips.net/tv1/blackadder4/theme.mp3"
   width="0" height="0" autostart="true" loop="false">
   </embed>
<h3>what is your name?</h3>
  <input type="text" name="player1">
<h3>what is your move? (rock/paper/scissors)</h3>
  <br>
  <input type="text" name="move">
  <br>
  <input type="submit" value="submit">
  <br>
  <https://66.media.tumblr.com/5e3f48fc5b9bd36f695f82400ebb40be/tumblr_nzexp7Efvh1stt2imo1_500.gif>
</form>
