<!DOCTYPE html>
  <head>
    <title>Ultimate RPS</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="centered">
      <h1 id="title">Welcome to Ultimate RPS<h2>
      <p id="subtitle">Rock. Paper. Scissors. Lizard. Spock.</p>

      <div id="mode">
        <a href="/pvc" id="PvC"><img src="/images/singleplayer.jpg"/></a>
        <a href="/pvp" id="PvP"><img src="/images/multiplayer.jpg"/></a>
      </div>

      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x5Q6-wMx-K8" frameborder="0" allowfullscreen></iframe>
    </div>
  </body>
</html>
