<h2> Welcome to Rock, Paper, Scissors </h2>
<p> Please enter your name </p>
<form action='/name' name='name_input' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>
