<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  </head>
    <body>
      <h1>Rock Paper Scissors</h1>
      <form action='/enter_name' method="get">
      <input type='submit' value="New Game" id="button">
      </form>
  </body>
</html>