<html>
<head>
<link rel="stylesheet" href="/css/style.css">

</head>

<body>
<h1>Hello!</h1>
<img class="rps-img" src="./images/rps.png">
<h2>Insert your name:</h2>
<form action="/start" method="post">
<input type="text" name="player_name">
<br><br>
<input class="button" type="submit" value="Start game">
</form>
</html>
</body>
</html>
