Hello, please enter your name and select game type:

<form action = '/welcome', method ="post">
  <input type="text" name="name">
  <br><br>
  <select name="gametype">
    <option value="1 player game">1 player game</option>
    <option value="2 player game">2 player game</option>
  </select>
  <br><br>
  <input type="submit" value="start">
</form>
