<body style="background-color:powdergreen;">
<h1 style="color:purple;">RockPaperScissors</h1>
<h3> Players,Are you ready for RSP game!!</h3>
</body>
<form action="/names" method="post">
  <label for="p1_name">
    Player's name
  <input type="text" name="p1_name">
  <!-- <label for="p2_name">
      Player 2 name
  <input type="text" name="p2_name"> -->
  <input type="submit" value="Submit">
</form>
