<form method="post" action="/start" class="form-name">
  <span>
    <input type="text" name="username" id="username" class="input-text" autocomplete="off" required>
    <label for="username">Name</label>
  </span>
  <input type="submit" class="input-btn" value="Start Game">
</form>
