<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css" />
  </head>

  <body>
    <div>
      <h1>Let's play Rock Paper Scissors!</h1>
      <p>- - - - - - - - - - - - - - - - - - - - - </p>
      <p>Please enter your name and click 'Play' to start</p>
      <form action="/name" method="post">
        <input type="text" name="name" placeholder="Enter your name here">
        <br><br>
        <input type="submit" value="Play">
      </form>
    </div>
  </body>

</html>
