<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Welcome to the Greatest Game of Rock, Paper, and Scissors.</h1>
  <form action="/name" method="post">
    <input type="text" name="player" placeholder="Enter Your Name">
    <input class= "btn-submit" type="submit" value="Play Game">
  </form>
  <p>This game is sponsored by <a href="/mama">MAMA</a>.</p>
  <img class="img-center" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2F3.bp.blogspot.com%2F-Nc4rE_-N7Zk%2FVxUWu_qU44I%2FAAAAAAAAAls%2FUUM37hblno8VAbP3Xdjqu3qLZ6hgyUuDwCLcB%2Fs1600%2FRock_Paper_Scissors4xeDetail.png&f=1" alt="rock, paper, scissor warriors" srcset="">
</body>
</html>