<h1>You wanna play Rock, Paper, Scissors?</h1>
<h2>Please enter your name below</h2>
<form action="/name" method="post">
  <label for="player_1_name">
    Player 1:
  <input type="text" name="player_1_name"
  </label>
  <input type="submit" value="Submit">
</form>
