<a href="https://github.com/DanGyi23/rps-challenge">
  <img align ='right' height='50' width='50' style='margin:1.5rem' src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>
<h1 style='font-family: Georgia, serif;font-size:36px'> Rock, Paper, Scissors, Spock, Lizard Game </h1>
<h2 style='font-family: Georgia, serif;font-size:24px'> Input player names to begin... </h2>
<br>

<form action="/names" method="post">
  <label style='font-family: Georgia, serif;font-size:20px';for="Player1">
    Player 1 name
    <input style='font-family: Georgia, serif;font-size:20px' type="text" name="Player1">
  </label>
  <label style='font-family: Georgia, serif;font-size:20px;margin-left:2rem';for="Player2">
    Player 2 name
    <input style='font-family: Georgia, serif;font-size:20px' type="text" name="Player2">
  </label>
  <br>
  <br>
    <button style='font-family: Georgia, serif;font-size:28px;margin-left:18rem;margin-top:0.9rem' type="submit">Submit
    </button>
</form>

<img style='margin:1.5rem;margin-left:5rem' src='https://avatars.slack-edge.com/2016-11-26/110089849942_b0a4182c947467cb617f_512.png'>

