<form action="/names" method="post">
    <p>Player 1: <input type="text" name="player_1_name"></p>
    <p>Player 2: <input type="text" name="player_2_name"></p>
    <input type="submit" value="Game on!">
</form>
