
<body style="background-color: AliceBlue;">
  <h1>ROCK, PAPER, SCISSORS</h1>
  <h2>Welcome, foolish challenger....</h2>
  <h2>Your destruction is at hand! (that's a subtle pun)</h2>

  <form action="/welcome" method="post">
    <lable for='player_1_name'>
      What is your name, warrior?
      <input type="text" name="player_1_name">
    </lable>
      <input type="submit" value="Submit">
  </form>

</body>
