<h1>Rock Paper Scissors</h1>

<form action="/names" method="post">

  <h3>Player 1</h3>
  <input type="text" name="player1" placeholder="Player 1" value="Arthur">
  <h3>Player 2</h3>
  <input type="text" name="player2" placeholder="Player 2" value="Amirah">

  <h3>Rounds</h3>
  <input type="radio" value="1" id="one" name="rounds" selected>
  <label for="one">Sudden Death</label>

  <input type="radio" value="3" id="three" name="rounds">
  <label for="three">Best of 3</label>

  <input type="radio" value="5" id="five" name="rounds">
  <label for="five">Best of 5</label>

  <input type="submit" value="begin">
</form>