<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Rock | Paper | Scissors</title>
  </head>

  <body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Rock Paper Scissors</h1>
        <p class="lead">Makers Academy, Week 3 (Weekend assignment)</p>
        <hr class="my-4">
        <p>Irfan Durrani, Feb '18</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-2"> </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-8">
          <form action="/names" method="post">
          <label for="name">Player Name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="Name" placeholder="Enter Name">
          <small id="name" class="form-text text-muted">Please enter the name and click play to continue.</small>
          <button type="submit" value ='Play' class="btn btn-primary">Play</button>
        </div>

      </form>
      <div class="col-lg-4 col-md-4 col-sm-2"> </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
