
<style>

  <!-- body {
       background-color: 82a43a;
  } -->
div {
     display: block;
     margin: 0 auto;
     text-align: center;
     width: 100%;
     background-color: #82a43a;
     color: white;
     font-family: "Arial Black";
     padding: 30% 0;
}
</style>
</body><h1> Are you getting bored?? or Are you feeling too stressed out</h1>
<h2> If yes, then lets have some fun and refresh ourselves </h2>
<h3> Please enter your names below to register and start having some fun!! </h3>

<form action="/registration" method="post">
  <label for="player_1">
     Player 1
   <input type="text" name="player_1">
   <label for="player_2">
     Player 2
   <input type="text" name="player_2">
   </label>
  <input type="submit" value="Submit">


</form>

<img id="img01" rel="share" src="https://www.pngkey.com/png/full/111-1113435_rock-paper-scissors-png.png" alt="Rock Paper Scissors Png (1000x371), Png Download" title="Rock Paper Scissors Png (1000x371), Png Download" width="300" height="181.5">
