<h1>Welcome to RockPaperScissors!</h1>

  <h2>What is your name, hero?</h2>

    <form action='/player_name' method ='post'>
      <label for="player_name">
        Your name:
        <input type="text" name="player_name">
      </label>
      <input type='submit' value='Enter the Arena'>
    </form>
