<div class="player-1-hand player-hand"></div>
<div class="player-2-hand player-hand"></div>

<form method="post" action="/start" class="form-name" id="form-name">
  <input type="text" name="username" class="input-text" autocomplete="off" required placeholder="What's your name?">
  <input type="submit" class="input-btn" value="Start Game">
</form>
