<html>
<body bgcolor="#F5F5F5">
<div align="center">
<img src=https://bit.ly/2JvCEOO>
<h1>Rock, Paper, Scissors, Lizard, Spock!</h1>
<h2>Give me your names, before game begin</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
<h2>Or play versus com</h2>
<form action="/vscom">
<input type="submit" value="Play vs com">
</form>
</div>
</body>
</html>
