<h1>Rock Paper Scissors</h1>
<form action="/singlename" method="post" class="flex_col form_container">
  <input type="text" name="username" placeholder="username">
  <input type="submit" value="begin" id="hand-submit">
</form>