<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Hello</h1>
  <h2>One player or two?</h2>

  <form action="/num_players" method="post">
    <label for="num_players">
      <input type="text" name="num_players">
    </label>
    <br>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>