<h1>Rock Paper Scissors</h1>
<form action="/name" method="post">
  <div>
    <div>
      <label for="player">What's your name?</label>
    </div>
    <input type="text" name="name" id="player">
  </div>
  <div>
    <button type="submit">Go!</button>
  </div>
</form> 