<h1>Let's play Rock Paper Scissors!</h1>
<h2> Sign in with your name to begin playing with a bot.</h2>
<form action="/names" method="post">
  <label for="player_name">Player 1: </label>
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
