<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <h1>Let's play LRLPLS!!</h1>
 <h2>Laser-Rock, Laser-Paper, Laser-Scissors</h2>
 <h3>A space-themed Rock, Paper, Scissors, but with laserz!!</h3>
  <form action="/names" method="post">
    <div>
      <label for="Player 1"></label>
      Player 1 name: <input type="text" name="name_1">
    </div>
    <div>
      <label for="Player 2"></label>
      Player 2 name: <input type="text" name="name_2">
    </div>
    <div class="button">
      <input type="submit" value="Energize!">
    </div>
  </form>
</body>
</html>
