<body>
  <div>
    <form name='input' action='/name' method='post'>
      <input type='submit' name = 'name' value='Submit players' class='submit-button' tabindex='3'>
      <p class='field'>Player: </p><input type='text' name='Player1' class='field' tabindex="1">
    </form>
  </div>
</body>
