<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Rock Paper Scissors!</title>
</head>
<body>
  <h1>Rock Paper Scissors!</h1>
  <img src="http://mmafury.com/wp-content/uploads/2018/08/mma-rock-paper-scissors-gif.gif">
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 Name: 
    <input type="text" name="player_1_name">
  </label><br>
  <label for="player_2_name">
    Player 2 Name: 
    <input type="text" name="player_2_name">
  </label><br><br>
  <button name="submit" value="Submit">Submit</button>
</form>
</body>
</html>