<h1 style="color:navy; font-size:40px;">Welcome to rock paper scissors </h1>
<h2 style="font-size:25px;"> Please register your names to play</h2>
 <style>
        body { background-color: pink; }
        p { color: #fff; }
    </style>
<form  action="/names" method="post">
  <label for="player_1_name">
    Player 1 name:
    <br><input type=text name=player_1_name >
  </label>
  <%# <label for="player_2_name">
    <br>Player 2 name:
    <br><input type=text name=player_2_name >
  </label> %>
  <br><input type=submit value=Submit>
  <br><br>
  The rules are simple: 
 <br>Rock beats Scissors
 <br>Scissors beats Paper
 <br>Paper beats Rock
</form>
