<!DOCTYPE html>
<html>
<head>
<title>Welcome to RPSApp</title>
</head>
<body>

  <h1>This is a Heading</h1>
  <p>This is a paragraph.</p>

  <form action="/names" method="post">
      <input type="text" name="player_1_name">
      <input type="submit" value="Start">
  </form>

</body>
</html>
