<form action='/play' method="post">
  <b> Player 1 </b> <br>
   Name <input type="text" name="p1_name"><br> <b> Player 2 </b> <br>
   Name <input type="text" name="p2_name"><br>
  <input type="submit" value="Submit">
</form>
