<body>
  <div>
    <h2>Which version would you like to play?</h2>
    <form action='/name' method='post'>
      <input type='submit' name='game_version' value='Classic RPS'>
      <input type='submit' name='game_version' value='RPSLS'>
    </form>
  </div>
</body>