<h1>Rock + Paper + Scissors</h1>
<h2>Please enter your name to get your rock on:</h2>


<form action="/name" method="post">
<label for="name">
  Player:
<input type="text" name="name">
</label>
<br>
<input type="submit" value="Submit">
</form>
