<body style="background-color:powderblue;">

<h1 style="text-align:center;color:blue;">Rock, Paper, Scissors Game</h1>
<img style='border: 3px dashed red' align=center; src='http://bit.ly/1eze8aE'>
</div>
<h2>Sign in to play</h2>
  <form action="/names" method="post">
    <label for="player">
      Enter your name
      <input type="text" name="player">
    </label>
    <input type="submit" value="Submit">
  </form>
