<div align="center">
<h1>Rock, Paper, Scissors!</h1>
<h2>Enter player names and click on Play</h2>
<p>To play against the computer leave Player 2 name blank<p>

<form action="/name" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <br>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <br>
  <input type="submit" value="Play">
</form>

<img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/300px-Rock-paper-scissors.svg.png">

</div>
