<h1 style="font-size:80px;">Rock Paper Scissors!</h1>

<!-- <form action='/names' method='post'>
  <label for='player_1_name'>
    <font size="12">Player 1</font>
    <input type='text' name='player_1_name' style = "font-size: 35px">
  </label>
  <input type='submit' value='Submit!' style = "font-size: 25px">
</form> -->
