<!DOCTYPE html>
<html>
<head>
  <title>_my RPS game_</title>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="../css/content.css" />
</head>
  <body>
  <div class="container">
  <div class="header">
    <h1>Hello, stranger!</h1>
    <p>Enter your name, please.</p>
    
    <form action="/name" method="post">
        <input class="input__field input__field--juro" type="text" name="name"></br>
      <button class="btn btn-6 btn-6d" type="submit" value="Submit">Submitt</button>
      
    </form>

    </div>
    </div>
  </body>
</html>

