<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1>Rock, Paper, Scissors!</h1>
</br>
<img class="image" src="rockpaperscissors.png"/>
</br>
<h2>Sign in to play</h2>
<h3>Leave Player 2 blank if you wish to play the computer</h3>
<form class="container" action="/match" method="post">
</br>
  <label for="Player1">
    Player 1 Name  
    <input class="input" type="text" name="Player1">
  </label>
  </br>
  </br>
  <label for="Player2">
    Player 2 Name 
    <input class="input" type="text" name="Player2">
  </label>
  </br>
  </br>
  <button class="submit-button" type="submit" value="register">Register</button>
</form>
</br>
</br>
</body>
</html>