<h1> Welcome to RPS! </h1>
<br> 
<h2> Please enter your name below </h2>
<br>
<form action="/names" method="post">
  <ul>
    <li>
      <lable for="player_1_name"> Player 1 </lable>
      <input type="text" name="player_1_name">
    </li>
  <br>
  <input type="submit" value="Play">
  </ul>
  <img src='https://imgur.com/q4VrRsF.png'>
</form>
