<h1>Welcome to Rock Paper Scissors</h1>

<form action="/play" method="post">  
  <label for="player-name">Please enter your name</label>
  <input type="text" name="player_one" id="player-name"><br>
  <input type="submit" value="Start game!">
</form>

