<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Rock Paper Scissor!</h1>
    <h2>Sign in to play</h2>
    <form action="/play" method="post">
      <label for="Player's name">
        Enter your name:
        <input type="text" name="player">
      </label>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
