<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
  <title>RPS - Sign In</title>
  <style>
    * {
      font-family: 'Orbitron', sans-serif;
    }
  </style>
</head>
<body>
  <h1>ROCK. PAPER. SCISSORS.</h1>
  <h2>Sign in to Play</h2>

  <div class="player-entry">
    <form action='/play' method='get'>
        <input class='new-name' type='text' name ='player1' placeholder="Enter Player Name">
      <div class="actual-button"><input type='submit' value ='Play' class='begin-game'></div>
    </form>
  </div>

  

  
</body>
</html>