<div>
  <form action='/' method='Post'>
    <p> Would you like to play against:</p>
    <select name="Opponents">
      <option value="Computer">Computer</option>
      <option value="Human">Human</option>
    </select>
    <input type='submit' value='Next'>
  </form>
</dov>