<!DOCTYPE html>
<html>
<center>

  <h1> ROCK, PAPER, SCISSORS! </h2>

<h2> Sign in to play </h2>

<div class='form'>
  <form action='/play' method='post'>
    <label for='name'>Enter Name:</label>
    <input type='text' name='name' />

    <button type='submit'>Submit</button>
  </form>
</div>

</center>
</body>
</html>
