<form action="/create_game" method='post'>
  <label for='name1'>Input name</label>
  <input type="text" name='player1'>
  <label for="">Computer</label>
  <input type="checkbox" name="computer1" value="Computer">
  <br>
  <label for="name2">Input name</label>
  <input type="text" name="player2">
  <label for="">Computer</label>
  <input type="checkbox" name="computer2" value="Computer">
  <br>
  <input type="submit" value='Start game'>
</form>