<h1>Welcome to Rock, Paper, Scissors!</h1><br>
<p>Register your name below.</p>

<form action="/names" method="post">
  <label for ="player_name">
    Please enter your name here:
 <input type="text" name="player_name"><br>
 <input type="submit" value="Submit">
</form>
