<body style="background-color:powderblue;">
<br>
<center>
<h1 style='font-family:helvetica,sans-serif;color:white'>Let's play Rock, Paper, Scissors</h1>

<p style='font-family:helvetica,sans-serif;color:white'>Please enter your name:</p>
<form action='/name' method='post'>
  <input type='text' name='name'/>
  <input type='submit' value='Submit'/>
</form>
</center>
</body>
