<h1>Rock + Paper + Scissors</h1>
<h2>Please enter your name to get your rock on:</h2>

<form method="POST" action="/name">
  <input type="text" name="name" value="" />
  <input type="submit" value="Submit" />
</form>


<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/09/30/09/therock.jpg" height="180" width="250">
<img src="http://www.staples.co.uk/content/images/product/GenesisExtraLarge/31/45/asset.153145.jpg" height="180" width="250">
<img src="http://digitalspyuk.cdnds.net/15/50/980x490/landscape-1449768828-johnny-depp-edward-scissorhands.jpg" height="180" width="250">
