<h1>Rock, Paper, Scissors!</h1>
<h3>Hello there, please fill in your name before you play</h3>
<form action='/greeter' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>
