<!DOCTYPE html>
<html>

  <head>
    <title>Rock Paper Scissors!</title>
  </head>

<body>

  <center>

      <h2>Rock Paper Scissors!</h2>
      <br>
      <form action="/game" method="post">
        <question>Enter your name to start:</question>
        <input type="text" name="name">
        <input type="submit" value="Start Game!">
      </form>
      <br>

    <% @name %>

  </center>

  </body>

</html>
