<html>
  <style>
  background-color: green
    body {
      text-align: center
    }
  </style>

  <body>
    <h1>Welcome to the Rock Paper Scissors game</h1>
    <h2>Sign in to play</h2>
    <form action="/names" method="post">
      <label for="player_name">
        Player's name <input type="text" name="player_name">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>

</html>
