<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body {
  background-color: #DCE2EE;
}
</style>

<body class="span12 col-centred text-center">
<h1> Rock Paper Scissors</h1>
  <form action="/names" method="post">
      <label for="name">Enter your name:</label>
      <input type="text"  class="form-control text-center" id="name" name="player_name"/>

    <button id="button" type="submit"  class="btn btn-default">
      <span>
        Go!
      </span>
    </button>
  </form>
</body>
