<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div>
<% if params[:game_mode].nil? %>
  <form action='/' method="get">
    <input type="submit" name="game_mode" value="Singleplayer">
    <input type="submit" name="game_mode" value="Multiplayer">
  </form>
<% elsif params[:game_mode] == "Singleplayer"%>
  <form action='/play' method="post">
    <b> Player 1 </b> <br>
     Name <input type="text" name="p1_name"><br>
    <input type="submit" value="Submit">
  </form>
<% else %>
<form action='/play' method="post">
    <b> Player 1 </b> <br>
     Name <input type="text" name="p1_name"><br> <b> Player 2 </b> <br>
     Name <input type="text" name="p2_name"><br>
    <input type="submit" value="Submit">
  </form>
<% end %>
</div>

<style>
  div{
    top: 50%;
    left: 46%;
    position: absolute;
  }
</style>
