<html>

<body>
    <h1><b style="color:rgb(160, 26, 2);">ROCK</b>, <u style="color:rgb(24, 162, 241);">PAPER</u>, <i
            style="color:rgb(71, 255, 111);">SCISSORS!</i></h1>
    <h2>Please sign in below:</h2>
    <form action="/name" method="post">
        <label for="player_1">
            What is your name?
            <br>
            <input type="text" name="player_1">
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>