<h3> Rock Scissor Paper </h3>
<h4> Please choose your play mode </h4>
<form action ='/single-player'>
  <button type="submit" value="single_player"> Single-player mode </button>
</form>
<form action ='/multi-player'>
  <button type="submit" value="multi_player"> Multi-player mode </button>
</form>
