<link rel='stylesheet' href='css/styles.css'>

<div class="container animated fadeIn">
  <h1 id="Title">Rock. Paper. Scissors.</h1>

  <form class="padder" method="post" action="/name">
    <input class="rps-button" name="name" placeholder="Enter your name">
    <input class="rps-button" type="submit" value="Go">
  </form>
</div>
