<!DOCTYPE html>

<html>
<head>
  <style>
    form {
  text-align: center;
  }
  div {
    background-color: #e2bb85;
    color: #0a0a0a;
    padding: 22px;
  }
  </style>
</head>
<body>
  <form action="/names" method="post" >
    <div>
      <h1>Welcome To Rock, Paper, Scissors!</h1>
      <h2>Please enter your name</h2>
        <input type="text" name="player_name" required="required"/>
      <br>
      <h1>
        <input type="submit" style="font: bold 35px Arial" value="Play!" />
      </h1>
    </div>
</form>
</body>
</html>
