<link rel = "stylesheet" type = "text/css" href = "/sytles.css">
<h1> Welcome to Rock Paper Scissors <h1>
<h2> Sign up to play <h2>
<form action = "/play" method ="post">
  Enter your name<input type = "text" name = "player_name">
  <br></br>
  <input type = "submit" value = "play">
</form>
