<h1>Rock, Paper, Scissors!</h1>
<h2>Lets begin a new game!</h2>
<h3>Sign In</h3>
  <form action="/names" method="post">
    
    <label for="player_name">
      Player:
      <input type="text" name="player_name">
    </label><br>
      
    <input type="submit" value="Enter Name">
    
  </form>