<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="main.css">

<div class="wrapper">
	<h1>ROCK, PAPER, SCISSORS!</h1>

	<p>Please enter your name to start</p>
	<form action="/name" method="post">
	  <p><input type="text" name="player_name" placeholder="Your name goes here"></p>
	  <p><input type="submit" value"Go to game"></p>
	</form>
</div>

