Hi, please enter your name to play Rock Paper Scissors
<br /><br />
<form action='/names' method='post'>
  <label for='player_1'>
    Player 1 name:
    <input type='text' name='player_1_name' <%=@debug_form_value%>>
  </label>
  <br /><br />
  <input type='submit' value='Play'>
</form>

