<center>
  <h1>Welcome to... RPS!</h1>
  <h2>Please enter player name and choice below</h2>
  <form method='POST' action='/player_1_turn'>

    <div class="player_one_name">
      <label>Player One</label>
      <input type="text" name="player_1_name" placeholder="Player 1 name" />
    </div>
    <br>

    <div>
      <h3> choose throw </h3>
      <input type="radio" name="choice" id="Rock"    value="Rock" />Rock<br>
      <input type="radio" name="choice" id="Paper"   value="Paper" />Paper<br>
      <input type="radio" name="choice" id="Scissors"value="Scissors" />Scissors<br>
    </div>
    <br>

    <div>
      <h3> choose opponent </h3>
      <input type="radio" name="game_mode" id="human" value="human" />human<br>
      <input type="radio" name="game_mode" id="cpu"   value="cpu" />cpu<br>
    </div>
    <br>

    <div>
      <input type="submit" value="FIGHT" />
    </div>

  </form>
</center>
