<h1>Welcome to the battlefield!</h1>

<form action="/name" method="post">
  <label for="p1_name">
    Enter your name here
<input type="text" name="p1_name">
  </label>
<input type="submit" value="Press on">
</form>
