<link rel="stylesheet" type="text/css" href="/css/app.css">

<body>
  <h1> Welcome to Rock!Paper!Scissors! </h1>
  <h1> Please enter your name to play </h1>
  <h2> To play against computer leave player 2 name blank! </h2>

  <form method="POST" action="/name">
    <div>
       <label for ="player_1_name"> Player one name:
      <input type="text" name= "player_1_name">
    </div>
  <div>
    <div>
       <label for ="player_2_name"> Player two name:
      <input type="text" name= "player_2_name">
    </div>
  <div>
    <input type="submit" value="Let's go">
  </div>
  </form>
</body>
