<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
  <h1>Battle of the Century</h1>

  <form action="/game" method="post">
    <input type="text" name="name">
    <input type="submit" value="That's my name!">
  </form>
</body>
