<p>
Hi! If you would like to play Rock, Paper, Scissors then please enter your name.
</p>
<form action='/new_game' method='post'>
<input type="text" placeholder='Player 1' name="Name">
<br>
<input type="submit" value="Submit">
</form>

<!-- If you would like to play multiplayer, enter your names here:
<form action='/multi_game' method='post'>
<input type="text" placeholder='Player 1' name="P1">
<input type="text" placeholder='Player 2' name="P2">
<br>
<input type="submit" value="Submit_Multi">
</form>
 -->