 <center><h1>Welcome to Rock, Paper, Scissors game homepage<h1>
 <center><h1>Please enter name<h1>
 
 <form action='/enter_name' method='post'>
   <center><input type='text' placeholder='Enter your name' name='marketeer_name'>
   <center><input type='submit' value='Register'>
 </form>