<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
form {text-align: center;}

</style>
</head>
<body>
<body style="background-color:lightpink;">
<h1>Welcome to Rock, Paper, Scissors!</h1>
<p><p>

<form action='/player1' method='post'>
  <label for="player1">Please enter your name:</label><br>
  <input type="text" id="player1" name="player1"><br>
  <input type='submit' value='Submit'>
</form>
</body>
</html>