<link href="/styles.css" type="text/css" rel="stylesheet">

<form  action="/name" method="post">
  <label for="player">
    Your name:
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
<img src="https://s-media-cache-ak0.pinimg.com/736x/ef/97/48/ef974814abb0e002580ce39954986f1e.jpg">
