<h1>Rock Paper Scissors!</h1>
<h2> Please Enter Your Name </h2>
<div>
  <form action="/name" method="post">
</div>

<div>
  <label for="name">Player Name:</label>
  <input type ="text" name="player"/>
  <input type ="submit" value="Continue">
</div>

</form>