<!DOCTYPE html>

<div style="text-align:center">
  <h2>Welcome to rock, paper, scissors!</h2>
  <div>
    <button type="button" onClick="location.href='/one_player'" name="one_player">Player VS. Computer</button>
    <button type="button" name="two_players">Player VS. Player</button>
  </div>
</div>
