<form name="input" action="/name" method="post">
  <div class="player1">
    <label for "player1">Player 1</label><br>
    <input type="text" name="player_1" value="Enter name...">
  </div>
  &nbsp;
  <div>
    <button class="submit" type="submit" value="Play">PLAY</button>
  </div>
  &nbsp;
</form>

  
