
<html>
<head>
<title></title>

<style>
body {
	background-image: url("https://www.sciencealert.com/images/articles/processed/RockPaper_web_1024.jpg");
        background-repeat:no-repeat;
       background-size:fit;
} 
p {
  font: bold 20px arial, sans-serif;
  text-align: center;
  color : white;
}
form {
  font: bold 20px arial, sans-serif;
  text-align: center;
  color : white;
}
</style>
</head>
<body>
<p>LET'S PLAY:</p><br> <p>ROCK PAPER SICCORS</p>
<form action="/name" method="post">
 <label for="player">Player
<input type="text" name="name">
<input type="submit" value="Play">
</label>
</form>
</body>
</html>