<h2>Enter player name:</h2>
<br>
<form action="/names" method="post">
  <input type="text" name="player1" value="Player 1"> vs.
  <input type="text" name="player2" value="Computer"><br/>
  <br>
  <input type="submit" value="Let's Play!">
</form>
