<h1 style="text-shadow: 1px 0 10px black; color: white;">Rock Paper Scissors!</h1>
<h2>Enter your name...</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>