 
  <div>
    <img src='https://pxt.azureedge.net/blob/68f66c3ddc3acfc4c53157abf92eace202d46db2/static/courses/csintro/conditionals/rock-paper-scissors-items.png'>
   </div>
     <h1> Welcome to Rock, Paper, Scissors! </h1>
  <h3> Enter your name:
     <form action="/names" method="post" id="name-form"> 
     <label for="player">Player:</label>
  <input type="text" id="player" name="player">
  <input type="submit" value="Submit">
</form>
