Welcome to RPS, please enter your name

<form action="/game" method="post"> 
  <input type="text" name="player_1_name">
  <input type="submit" value="Start Game!">
</form>

<div>
  <pre>
---'   ____)
      (_____)
      (_____) R O C K 
      (____)
---.__(___)

    _______
---'   ____)____
          ______)
          _______) P A P E R 
         _______)
---.__________)

    _______
---'   ____)____
          ______)
       __________) S C I S S O R S
      (____)
---.__(___)
  </pre>
</div>