<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Welcome to Rock Paper Scissors!</h1>
  <p>Please input your username</p>
  <form action="/form" method="post">
    <input type="text" value="username" name="username">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
