<html>
  <body background= nada>
    <h1>Some details before playing...</h1>
    <form action="/names" method="post">
      Player 1:
      <input type="text" name="player_1_name">
        Player 2:
      <input <%= @player_mode[:readonly] %> type="text" name="player_2_name" value=<%= @player_mode[:player2] %>>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
