<div>
  <form action='/choose' method='Post'>
    <p>Enter Your Name.</p>
    <input type='text' name='name'>
    <p>Play computer?</p>
    <input type='text' name='computer'>
    <p></p>
    <input type='submit' value='submit'>
  </form>
</dov>