Whick rules do you want to play with
<form action="/configure" method="post">
  <select name="rules">
    <option value="regular">Regular</option>
    <option value="spock">Star-Trek</option>
  </select>
  <input type="submit" value="Next">
</form>
