<form action="/game/save_names" method='post'>

  <label for='name1'>Player1 name</label>
  <input type="text" name='player1'>
  <br>

  <label for="">Computer</label>
  <input type="checkbox" name="computer1" value="Computer">
  <br>

  <label for="name2">Player2 name</label>
  <input type="text" name="player2">
  <br>

  <label for="">Computer</label>
  <input type="checkbox" name="computer2" value="Computer">
  <br>

  <input type="submit" value='Start game'>
</form>