<form action="/name" method="post">
  <label for="name">Name player 1:</label>
  <input type="text" name="player_1_name"><br>
  <br>
  
<% if false %>
  <label for="name">Name player 2:</label>
  <input type="text" name="player_2_name"><br>
  <br>
<% end %>

  <label for="submit"></label> 
  <input type="submit" value="Submit">
</form>