<form action="/name" method="post">
  <input type="text" name="name" value="" />
  <input type="submit" value="Submit" />
</form>



<!-- <html> 
<body>
  <div class="container">
    <form action="/names" method="post">
    <label> Player 1</label>
    <input type="text" name="Player_1"><br />
    <label> Player 2</label>
    <input type="text" name="Player_2"><br />
    <input type="submit" name="Submit">
  </div>
</body>

</html> -->
