<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/rps_style.css">
	</head>

	<body>
		<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
		(It's rock, paper, scissors, Jim... but not as you know it)
		<br>
		<h3>Enter your name below to play</h3>
		<form action="/name" method="post">
			<label for="player_name">
				Name: 
			<input type="text" name="player_name">
			<input type="submit" value="Play!">
		</form>
	</body>
</html>