<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type = "text/css" href="<%= url('/main.css') %>">
  <title>Rock Paper Scissors!</title>
</head>
<div id="center">
<body>
<h1>Hello and welcome to Rock Paper Scissors!</h1>
<p>
<form action="/name" method="post" id="signin">
  <label for ="name">Please enter your name here:</label>
  <input id="name" type="text" name="name">
  <input type="submit" value="Play!">
</form>
</p>
</div>
</body>
