<h1><b>Rock, Paper, Scissors!</b></h1>
<br>
<p>
<form action="/new_user" method="post">
  <label>Enter player one username:</label>
  <input type='text' id='username_1' name='username_1'>
  <br>
  <label>Enter player two username:</label>
  <input type='text' id='username_2' name='username_2'> <i>Leave blank for computerised opponent</i>
  <br>
  <br><br>
  <input type='submit' value='Login'>
</form>
<p>
