<head>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="col-md-12a text-center">
      <h1><a href="/name">New Game</a></h1>
    </div>
  </div>
</body>
