<html>
<head>
<title>Log in</title>
</head>
<body style="background-color:orange; text-align: center;">

<h1 style="font-size:50px; border:2px solid Tomato; ">Welcome Dear Visitor! Let's play a game</h1>

<form action="/name" method="post">

<p style="font-size:30px; ">Please log in to start the game</p>
<br>
<input type="text" name="name" placeholder="nickname" align="left">

<input type="submit" value="Start">
  <br>
  </form>


</body>
</html>
