<h1> Let's play rock, paper, scissors! </h1>
<h2> Sign in to play </h2>
<form action="/names" method="post">
  <label for="player 1 name">
    Player name
    <input type="text" name="player_1_name" autofocus>
  </label>
  <input type="submit" value="Submit">
</form>
