<body bgcolor="#8C7853">
  <h1><b><center> Welcome to Paper, Rock, Scissors! </center></h1></b>
  <link rel='stylesheet' href='css/style.css'><img class='RPS' src ='https://www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg'  HEIGHT="400" WIDTH="1300">
  <h2><b><center> Please enter your name to play the game: <center></h2></b>
    <form method="POST" action="/name">
      <div style="text-align:center" >
        <input type="text" name="name" value=" "/>
        <input type="submit" value="Submit" style="height:150px; width:100px"/>
      </div>
    </form>
