<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <form action="/play" method="post">
    <h1> Welcome to Rock Paper Scissors! </h1>
    <h1> Player 1 enter your name: </h1>
    <input type="text" name="player_1" value="Human player"/>
    <input type="text" name="player_2" value="Computer"/>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>
