<h1>Prepare for a Rock, Paper, Scissors Duel!</h1>
<h2>Enter your name</h2>
<form action="/names" method="post">
    <input id="player1" type="text" name="player1">
    <input id="Submit" type="submit" value="Submit">
  </form>
