<h1>Rock, Paper, Scissors</h1>
<h2>Enter Thine Name</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1">
  </label>
  <input type="submit" value="Submiteth, Peasent">
</form>
