<h1> Welcome to Rock | Paper | Scissors!</h1>

<form action='/name' method='post'> 
Please enter your name to start playing:
<input type='text' name='player_name'>
<input type='submit' value='Go!'>
</form>