<html>
  <head>
  </head>
  <body style="text-align:center">
    <br />
    <h1>Welcome Marketer!</h1>
    <h2>Choose your opponent..</h2>
    <br />
    <hr width="75%" style="border: 1px dashed black;" />
    <hr style="height:30px; visibility:hidden;" />
    <div>

      <form action="/signin-2player" method="get">
        <input style="width: 200px; height: 100px;" type="submit" value="Marketing Colleague">
      </form>

      <form action="/signin-1player" method="get">
        <input style="width: 200px; height: 100px;" type="submit" value="Bot">
      </form>

    </div>

  </body>
</html>
