<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div style="text-align:center">
  <h1>Rock Paper Scissors Game</h1><br>

  <form action='/name' method="post">
    <label for="name">
      Enter Name:<br>
      <input type="text" name="name" placehold="name">
    </label>
    <button type="submit" class="btn btn-secondary">Go!</button>
  </form>
</div>
