<h1>Welcome to rock, paper scissors!</h1>
<h2>Please enter your name and choose a weapon to play the game!</h2>

<form action="/name_and_weapon" method="post">
	<label for="name">
		Your name:
	</label>
<input type="text" name="name">
<label for="weapon">
		Pick a weapon!
	</label>
	<select name="choice">
		<option value="Rock">Rock</option>
		<option value="Paper">Paper</option>
		<option value="Scissors">Scissors</option>
	</select>
<input type="submit" value="Play!">
</form>



