<div>
<h2>Welcome to Rock, Paper, Scissors</h2>

<form method="POST" action="/game_type">
  Please enter your name.
  <input type="text" name="user_name" autofocus required>
  <input type="submit" value="Submit">
</form>

</div>
