<html>
<body style="background-color:#e6dcef;">

<h1 style="text-align:center">Welcome to Rock, Paper, Scissors Game!</h1>
<h2 style="text-align:center">Please Enter your name and hit Submit</h2>
<img src="http://www.techteachers.co.za/wp-content/uploads/RPS.png" width="300" height="300" style="border-radius:80px;" align="right" /></br>
<img src="https://www.executivegrapevine.com/uploads/articles/600x400_RockPaperScissor.jpg" width="300" height="300" style="border-radius:80px;"align="left"/>
</body>
</style>

<form action="/name" method="post" align="center">
  <label for "player_name"> Enter your name:
    <input type="text" name="player_name">
  </label>
    <input type="submit" value="Submit" style="background-color:#bab7bc;">
</form>
</html>
