
<html>
  <body>
    <center>
    <h1> Welcome to RPS game! </h1>
    <h1> Are you ready to play? </h1>
    <form action="/name" method='post'>
    <p> Enter your name: <input type="text" name="player_name"> <p>
    <p> <input type='submit' name='Start'> <p>
    </form>
    </center>
  </body>
</html>
