<form action="/user_name" method="post">
  <input type="text" name="user_name">
  <select name="move">
    <option value="rock">ROCK</option>
    <option value="paper">PAPER</option>
    <option value="scissors">SCISSORS</option>
  </select>
  <input type="submit" value="Submit">
</form>
