<%# index is the root and is always needed /%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Rock Paper Scissiors Game</h1>
    </header>

      <body style="background-color:LIGHTCORAL;" style="font-family:verdana;">

        <form action="/names" method="post">
          <div>
            <big><p><b>Please enter your name</p></b></big>

            <input type="text" name="user_name">
            <button type="submit">Press Enter When Ready</button>
          </div>
        </form>
      </body>
</html>
