<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' type='text/css' href='styles.css'>
  <div class = 'main'> 
  
<form  action= "/name" method ="post">
<input type ="text" name = "name" placeholder ="Name: ">
<input type="submit" value = "Hit button!">
</form>

  </div>
</body>
</html>