<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: purple;
  font-family: verdana;
  font-size: 300%;
}
p {

  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
</head>
<body>

<header>
  <!--navbar controller icon-->
  <a href="#">
    <img
      class="lazyload logo"
      src="https://image.flaticon.com/icons/png/128/860/860168.png"
      alt="logo"
  /></a>
  ...
</header>
<!-- in index.erb -->
<body style="background-color:powderblue;">
<h1 style="text-align:center">Rock, Paper, Scissors Challenge!</h1>
<h2>Sign in to play</h2>
<form action="/name" method="post">
  <label for="name">
    name
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
</body>

