<h1>Let's play Rock, Paper Scissors!</h1>
<img src="https://3.bp.blogspot.com/-jM8VLTbuILY/WoGwBP937sI/AAAAAAATXIA/WS0xj8SFGKcn5gaQcQuA7t371EOn8NlJACLcBGAs/s1600/AW785125_00.gif">
<br>

<h2> Do you want to play against a friend or the computer? </h2>
<br><br>
<form action="/multi" method="get">
  <input type="submit" value="Friend">
</form>

<form action="/single" method="get">
  <input type="submit" value="Computer">
</form>
