<h1> HLB's Rock Paper Scissors Showdown </h1>
<h2> Enter name to play: </h2>
<form action="/names" method="post">
  <label for="PlayerName">
    Player name:
    <input type="text" name="PlayerName">
  </label>
  
  <input type='submit' name="Enter Name" value="For Death and Glory"/>