<div align="center" style="margin-top: 200px; margin-left: 400px; padding:50px; height: 250px; width: 500px; border: 3px solid black">
  <h1>Welcome to Rock, Paper, Scissors!</h1>
  <form action="/" method="post">
    What's your name?
  <input type="text" name="name" required=>
  <input type="submit" value="Submit" required=>
</form>
</div>
