<h1>R0CK..P4P3R..SC1550R5!</h1>
<h2>Enter your name:</h2>
<form action="/names" method="post">
  <label for="player_1">
    Player 1 name:
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
