<form action="/play" method="post">
  <font size="7">Good day to you fellow gamer!<br><br></font>
  <font size="5">Please enter you're name below to register to play the Ulmitate game of Rock, Paper, Scissors!<br><br></font>
  <input type="text" name="registeredplayer">
  <br><br>
  <input type="submit" value="Register">
</form>