<head>

  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">

<!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css" type="text/css">

<!-- Font -->

  <link href="https://fonts.googleapis.com/css?family=Give+You+Glory" rel="stylesheet">

</head>

<body>

<br>
<div class="container-fluid text-center">
  <h1><strong>ROCK - PAPER - SCISSORS!</strong></h1>
  <br>
  <form name='input'>
    <input type="text" name="name" placeholder="Name">
  <br>
  <h2>Enter your name</h2>
  <h2>and click <strong>START</strong> to begin</h2>
  <br>
    <input type='submit' value="START">
  </form>
</div>

</body>
