<H1>ROCK || PAPER || SCISSORS</h1>
<h2>Want to start a New Game? Enter your name below:</h2>

<%= @name %>
<form action="/" method="post">
  <input type="text" name="player_name">
  <input type="submit" id="submit">
</form>