<h1><center>ᕦ(ò_óˇ)ᕤ Rock Paper Scissors ᕦ(ò_óˇ)ᕤ</center></h1>
<h2><center>Sign in to play</center></h2>
<center><form action="/name" method="post"><center>
  <label for="player_name">
    Name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
  <body>
    <img src=http://www.sfvacc.org/resources/Pictures/RoPaSc%20Logo.jpg >
  </body>
  <style> body {background-color: Skyblue;} </style>
</form>
