<form class="step-form" action="/enter_names" method="post">
    <label class="form_label" for="player_1"> Enter your name</label>
    <input class="form_input" type="text" name="player_1">

    <input type="submit" value="Submit">
</form>