<h1>Welcome to the Rock Paper Scissors game!</h1>

<h2>Do you have what it takes to beat the computer?</h2>

<h3>Sign in and play below to find out!</h3>

<div>
  <form action="/name" method="post">
    <label for="player_1_name">
      Player name
      <input class="name1" type="text" name="player_name"></input>
    </label>
    <input type="submit" value="Play"></input>
  </form>
</div>
