<h1> Welcome to Rock Paper Scissors! </h1>
<h2> Enter your name to start. </h2>

<form action="/start" method="post">
  <label for="name">Enter name: </label>
  <input type="text" id="name" name="player_name">
  <input type="submit" value="Go!">
</form>
