<div>
<h2 align="center">Welcome to Rock, Paper, Scissors</h2>

<form action="/name" method="post">
  <p>Please enter your name:</p>
  <input type="text" placeholder="Player 1" name="name_box"><br>
  <input type="submit" value="Submit">
</form>
</div>
