<h1>Rock Paper Scissors</h1>

<h2>Rules</h2>
<ul>
  <li>Rock blunts scissors</li>
  <li>Scissors cuts papaer</li>
  <li>Paper wraps rock</li>
</ul>

<form action='/start'>

  <input type='radio' name='single' checked>Single Player
  <br>
  <input type='radio' name='multi'>Multi Player
  <br>

  <input type='submit' value='Start Game'>
</form>
