<div>
  <h1>Rock Paper Scissors</h1>
</div>

<div>
  <h2>Enter your name and click "Submit" to play!</h2>
</div>

<div>
  <form action="/play" method="post">
    <input type="text" name="name">
    <input type="submit" value="Submit!">
  </form>
</div>
