<h1>Rock, Paper, Scissors!</h2>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="Player">
    Player name:
    <input type="text" name="Player">
  </label>
  <input type="submit" value="Submit">
</form>
