<h1>Welcome to Rock, Paper, Scissors!</h1>
<p><p>

<form action='/players' method='post'>

  <label for="player1">Please enter your name:</label><br>
  <input type="text" id="player1" name="player1"><br>
  <input type='submit' value='Submit'>
</form>