<!DOCTYPE html>
<html>
  <head>
    <link rel=”stylesheet” type=”text/css” href=”/style.css” />
  </head>
  <body>
    <h1>Rock, Paper, Scissors</h1>
    <h4>Let's begin!</h4>
    <form action="/players" method="post">
      <label for="name">Enter player name:</label>
      <input type="text" id="name" name="name"></input>
      <input type="submit" value="Submit"></input>
    </form>
  </body>
</html>