Welcome to Rock, Paper, Scissors!
<br>
<br>
<form action = /play method = post>
  <label for = "name">To play, enter your name:</label>
  <input type = "text" name = "player_name">
  <input type = "submit" value = "Play!">
</form>
