<h1>Welcome to: Rock, Paper, Scissors!</h1>

<form action="/names" method="post">
  <div>
    <label>
      Please enter your name to start:
      <input for="player name" type="text" name="player_1_name" placeholder="Enter your name" required>
    </label>
  </div>

  <div>
    <label>
      Please enter the weapon of your choice:
      <input for="weapon" type="text" name="weapon" placeholder="rock, paper or scissors" required>
    </label>
  </div>

  <div>
      <input type="submit">
      <input type="reset">
  </div>

</form>

<div style='border: 3px dashed blue'>
  <img src='https://cdn.vox-cdn.com/thumbor/D_2XiTfAk5x7VXxfYIJ3bZNUByw=/0x0:2429x2396/920x0/filters:focal(0x0:2429x2396):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/3488502/shutterstock_106919999.0.jpg'>
</div>