<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcove to Rock, Paper, Scissors game!</title>
</head>
<body>

  <h1>Welcove to Rock, Paper, Scissors game!</h1>
  <h2>Enter your name to play</h2>

  <form action="/name" method="POST">
    <label for="player_name">
      <input type="text" name="player_name">
    </label>
    <input type="submit" value="Submit">
  </form>

</body>
</html>