<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock-Paper-Scissors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <style>
    body{
      position: absolute;
      left: 10px;
    }
  </style>

  <body>
    <h1>Rock Paper Scissors</h1><br>
    <form action="/singleplayer" method="get">
    <input type="submit" value="Single Player" class="btn btn-info">
    </form><br><br>
    <form action="/twoplayer" method="get">
    <input type="submit" value="Two Player" class="btn btn-info">
    </form><br><br>

  </body>
</html>
