<head>
  <link rel="stylesheet" type="text/css" href="theme.css" />
</head>

<h1>Welcome to Rock, Paper, Scissors!!!</h1>
<form action=/welcome_message method="post" id="name_getter">
  <input align="center" type="text" name="name" placeholder="Enter your name here">
</form>

<button type="submit" form="name_getter" value="Submit">OK</button>
