<h1>Rock Paper Scissors</h1>
<h2>Sign in to play</h2>

<form action="/welcome" method="post">
  <label for="player_name">
    Player name
  <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>

<style type="text/css">
  h1 { color: red;
    font-size: 50px;
    font-family: "helvetica";
    text-align: center;
    padding-top: 20px;
  }
  h2 { color: red;
    font-size: 35px;
    font-family: "helvetica";
    text-align: center;
  }
  form {
    text-align: center;
  }
  label {
    color: red;
    text-align: center;
    font-family: "helvetica";
  }
  input[type="submit" i]{
    background-color: #f44336;
    color: white;/* Red */
    font-family: "helvetica";
    font-size: 13px;
    border-radius: 0px;
    border: 0px;
  }
</style>
