<h1>ROCK, PAPER, SCISSORS!</h1>
<h2>Enter your name to play</h2>
<h3>:)</h3>
<form action="/name" method="post">
  <input type="text" name="player">
  <br>
  <br>
  <input type="submit" name="Submit">
</form>