<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href= "index.css">
    <title>Document</title>
</head>
    <body> 
        <div id="page">
            <div id="page_content">  
                <h2>Welcome to Rock, Paper and Scissors</h2> 
                <form action='/name' method='post'>  
                    <label for='name'>Enter name here</label><br>
                    <input type='text' name='name'> 
                    <input type="submit" value="play" id ="play">
                </form>
            </div> 
        <div>
    </body>
</html>