<h1> Welcome to Rock Paper Scissors! </h1>
<h2> Please enter your name to begin </h2>

<form action="/names" method="post">
  <div>
    <label> Your name: </label>
    <input type="text" name="player_1_name"/>
  </div>
  <div>
    <input type="submit" value="Go"/>
  </div>
</form>
