<html>

<head>
  <link rel="stylesheet" href="public/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>

  <div class="image">

    <h1>Let's play a timeless classic:</h1>
    <img src="https://d13yacurqjgara.cloudfront.net/users/27981/screenshots/2193123/rock_paper_scissors__2x.png">
    <h2>Who will challenge our current champion?</h2>

  </div>

  <div class="container">

    <div class="player">

      <form action="/name" method="post">
        <input type="text" name="player_name" placeholder="Challenger name" />
        <button type="submit" value="GO!">GO!</button>
      </form>

    </div>

  </div>

</body>

</html>
