<html style="background: rgba(139, 68, 172, 0.719)">
  <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center"> Enter Your Name</h1>
  <form style="text-align: center" action="/names" method="POST">
    <input name="player" placeholder="Please Enter Name: ">
    <input type="submit" name="submit">
  </form>
</html>