<h1 align="center">Rock Paper Scissors!</h1>
<h2 align="center">Sign in to play</h2>
<div align="center">
  <form align="center" action="/names" method="post">
    <label for="player_1_name">
      Enter your name:
      <input type="text" name="player_1_name">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
