<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Hello</h1>
  <h2>One player or two?</h2>

  <form action="/one_player" method="get">
    <button type="submit" name="one_player" value="one_player">One</button>
  </form>

  <form action="/two_players" method="get">
    <button type="submit" name="two_players" value="two_players">Two</button>
  </form>
</body>
