
<form action="/name" method="post">

  <label for="Player_1">
    Please enter your name
      <input type="text" name="Player_1"/>
  </label>

  <input type="submit" value="Submit name"/>
</form>

<form action="/multiplayer" >

  <label for="Play two players">
    Or click here for multiplayer
    <input type="submit" value="Play two players"/>
  </label>
</form>
