<link rel="stylesheet" type="text/css" href="index.css">

<h1>Welcome to Rock, Paper, Scissors!!!<h1>
<center><img src="http://bit.ly/2zpMjkY" WIDTH=700 HEIGHT=700>
<h2>Input your name below to play:</h2>
<form action="/names" method="post">
  <label for="player_name">
    Player Name:
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form></center>
