<div>
  <h1> Rock Paper Scissors! </h1>
  <h2> Enter your name to begin! </h2>
  <h3> If you want to play multiplayer, enter both names, otherwise leave blank  </h3>
<form action ="/name" method="post">
  <input type="text" name="player_name">
  <input type="text" name="player2_name">
  <input type="submit" value="submit player name">
</form>
</div>
