<h1> Welcome to Rock, Paper, Scissors! </h1>
  <h2> Enter your name to begin playing </h2>
  <form action='/names' method='post'>
    <label for="name"></label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>