<h2 style="text-align:center">  Want to see your name in lights? Enter below... </h2>
<br>
<h1 style="text-align:center">Rock, Paper, Scissors</h1>
<br>
<h3 style="text-align:center">The game of a Makers Marketeer's dreams</h3>
<br>
<br>
<form style="text-align:center" action="/names" method="post">
  <label for="player_1_name">Ready to shine?</label><br><br>
  <input type="text" name="player_1_name" placeholder="Enter your name here!"><br><br><br>
  <label for="player_2_name">Got a friend? (Well of course you do, but do you have a friend with you right now?)</label><br><br>
  <input type="text" name="player_2_name" placeholder="And a friend's name?"><br><br><br>
  <input type="submit" value="Put'em up in lights">
</form>

