<h1>Let's play a game of Rock, Paper, Scissors!</h1>
<h2>Enter your name:</h2>
<form action="/begin_game" method="post">
  <input type="text" name="player">
  <button type="submit">Submit</button>

<div>
  <br>
  <img src='http://sale.images.woot.com/Rock_Paper_Scissors4xeDetail.png' alt="A rock, paper and scissors looking vicious, with weapons.">
</div>
