<head>
<style>
  h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 0 black;
  }
  body {
    background-image: url("https://www.urbancontest.com/images/2016/aprile/androidrock1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    text-shadow: 1px 0 black;
    font-size: 150%
  }
</style>
<h1> Rock, Paper, Scissors </h1>
</head>

<body>
<form action='/enter_name' method='post'>
  <label for='player_1_name'> Player name:
    <input type='text' name='player_1_name'>
  </label>
  <br><br>
  <input type='submit' value='Submit'>
</form>
</body>
