





<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css">
</head>
<body>


<h1>Hello Player, please enter your name below :</h1>



<form  action="/name" method="post">
<input type="text" name="name" >
<input type="submit" value="Submit">
</form>




</body>
</html>
