<h1>
  <span id='rock'>Rock</span>
  <span id='paper'>Paper</span>
  <span id='scissors'>Scissors</span>
</h1>
<h2>Who will be victorious?</h2>

<form action='/name' method='post'>
  <div>
    <p>Enter your name to play</p>
  </div>
  <div>
    <input type='text' name='player_name'>
  </div>
  <div>
    <input type='submit' value='Submit'>
  </div>
<form>