<!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

<body>
  <h1>Welcome to Rock, Paper, Scissors</h1><br>

  <form action="/name" id="btn-main1" method="post">
    Please enter your name:<input type="text" name="player">
    <input type="submit" class="btn" value="Submit">
  </form>
</body>

</html>
