<body>
  <div>
    <h2>What's your name?</h2>
    <form action='/start' method='post'>
      <input type='text' name='player_name'>
      <input type='submit' value='Submit'>
    </form>
  </div>
</body>