<h1>Welcome to Rock Paper Scissors!</h1>

<!-- <p>What is your name?</p>
 <form action="/name" method="post">
  <input type="text" name="name">
  <p>Who would you like to play against?</p>
  <select name="opponent">
    <option value="computer">Computer</option>
    <option value="player">Another player</option>
  </select>
  <input type="submit" value="Submit">
</form> -->

<form action="/one_player" method="get">
  <input type="submit" value="One player">
</form>
<br>
<form action="/two_players" method="get">
  <input type="submit" value="Two players">
</form>
