<!DOCTYPE html>

<html>
  <head>
    <title>RPS: A game of skill</title>
  </head>
  <body>
  <style>
    body {
    background-color: #66ff99
}
  </style>
    <h1>Welcome to RPS</h1>
    Please enter your name
    <form action="/choose" method="post">
      <input type="text" name="name">
      <input type="submit" value="Choose weapon">
  </body>
</html>
