<h1> Welcome to Rock Paper Scissors! </h1>
<br>
<form action="/names" method="post">
  Please enter your name:
  <br>
  <input type="text" name="player_name">
  <input type="submit" value="Play">
</form>
