<%= erb :header %>

<div class="content">
  <h1 id="title">ROCK PAPER SCISSORS</h1>

  <form action="/begin" method="post">
    <div>
    <label for="name">Enter name to play</label>
    </div>
    <div>
    <input type="text" name="name" required>
    </div>
    <button>Submit</button>
  </form>
</div>

<%= erb :footer %>
