<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div>
<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/play" method="get">
Player 1, enter your name: <input type="text" name="p1_name">


<p></p>Player 2, enter your name: <input type="text" name="p2_name">
<p></p>(second player is optional)
<input type="submit" name="submit" value="submit">
</form>
</div>
</body>