<h1> RPS BATTLE </h1>
<h2> Please enter your name to play </h2>
<form action="/name" method="post">
  <label for='player'>
    Player name:
    <input type='text' name='player'></input>
  </label>
  <input type='submit' value='Bring it on!'></input>
</form>
