<html>

<head>
  <link rel='stylesheet' type='text/css' href='css/style.css'

</head>

<body>
  
  <h1>Welcome to. . .</h1>

  <div id="main"> 
    <img src="css/rockpaperscissors.jpg" alt="Rock Paper Scissors Lizard Spock" width="800px" height="500px">
  </div>
  
  <form action='/enter_name' method='get'>
    <input type='submit' value='PLAY' class='button' id='button'>
  </form>

</body>

</html>