<!DOCTYPE html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1> Hello there!</h1>
  <form action='/name' method="post">
    <label for="name">Enter your name</label>
    <input type="text" name="name">
    <input type="submit" value="Go!" name="go">
  </form>
</body>
</html>