<head>
<style>
body {background-color: lightblue;
font-family: Helvetica, sans-serif;
text-align: center}
h1   {color: black;}
p    {color: black;}
</style>
</head>

<body>
<h1> Rock, Paper, Scisscors anyone?! </h1>
<p> Please enter your name to register: <p>
<form action="/play-rps" method="post">
  <input type="text" name="player">
  <input type="submit" value="OK"
<form>
</body>
