<h1>Welcome to Rock, Paper, Scissors!</h1>

<h2>Enter player names:</h1>
<form action="/names" method="post">
  <input type="text" name="player1" placeholder="Player 1"><br>
  <input type="text" name="player2" placeholder="Player 2"><br>
  <input type="submit" value="Submit">
</form>