<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors</title>
  </head>

  <body>
    <h1>Enter your name, if you are brave</h1>
    <form action="/names" method="post">
      <input type="text" name="player_1">
      <input type='submit' value='PLAY'/>
    </form>
  </body>
</html>
