<!DOCTYPE html>
<html>
  <head> <h1> Rock Paper Scissors! </h1> </head>
  <body>
    <h4> Please enter your name to start the game.</h4>
    <form action="/play" method="post">
      <input type="text" name="name">
      <button type="submit"> Start game </form>
  <body>
</html>
