<h3> Rock! <h3>
<h2> Paper!<h2>
<h1> SCISSORS! <h1>
  <br>
<h2> Please enter your name to start<h2>
<form action='/name' method='post'>
  <input type= 'text' name = 'player_name'>
  <input type='submit' value='GO!'>
</form>
