<h1 > Welcome to Rock Paper Scissors </h1>

<form action="/name" method="post">
  <p>What is your name?</p>
    <input type="text" name="player_name">
  <br>
  <input type="submit" value="Submit">
</form>
