<head>
  <link rel="stylesheet" type="text/css" href="rps.css">
  <link href="https://fonts.googleapis.com/css?family=Muli|Roboto" rel="stylesheet">
</head>

<h1>Rock Paper Scissors!</h1>

<img src="https://78.media.tumblr.com/94c7d75cb09c0f405e2a7b99e7b74739/tumblr_pe14pyX9TV1xxzdswo1_500.gif" />
<br />
<br />
<div class="text">Enter player's name:</div>
<form action="/name" method="post">
    <input type="text" name="player" /> <br /><br />
    <input class="button" type="submit" value="Submit">
</form>
