<style>
  body {
    background-image: url(https://zellox.com/wp-content/uploads/2016/05/good-background-colors-7-1024x768.jpg);
    background-size: cover;
    text-align: center;
    color: white
  }

</style>

<body style="background-color:blue;">
  <img  src="http://www.ponderweasel.com/wp-content/uploads/2014/11/who-invented-rock-paper-scissors.png" height="400" width="666">
  <h2>Sign in to play:</h2>
  <form action="/name" method="post">
    <label for="player_1">
        Name:
      <input type="text" name="player_1">
    </label>

    <input type="submit" value="Submit">
  </form>
</body>
