
<html>
<div>One player game</h1>
<form action="/name" method="post">
Player  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
</div>

<div><h1>Two players game</h1>
<form action="/2name" method="post">
Player1 <input type="text" name="player1_name">
Player2 <input type="text" name="player2_name">
  <input type="submit" value="Submit">
</form>
</div>

</html>
