<h1>Rock Paper Scissors</h1>
<form action ="/players" method ="post">
  <label for= 'player_1'>Player 1
    <input type = 'text' name ="player_1">
  </label>
   <label for= 'player_2'>Player 2
    <input type = 'text' name ="player_2">
  </label>

  <input type ='Submit'>
</form>