<img src=https://wallpapercave.com/wp/wp2200978.png style="height: 80%; width :80%">
<h1>Rock Paper Scissors</h1>
<h2>What are your names?</h2>
<form action="/player_1_turn" method="post">
  <label for="player_1_name">
    Player 1 Name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 Name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>