<center>
  <h1> Welcome to Rock, paper, scissors, lizard, Spock</h1>
  <h2>Sign in to give it a try!</h2>
  <img src = 'http://www.sheldonsfans.com/img_articles/original/102.jpg' />

<form action='/names' method='post'>
    Sign in!
     <input type ="text" name="player_1_name">
     <input type="submit" value="Submit">
</form>
