<body bgcolor='#99ddff'>
  <font face='verdana' color='black'>

'Welcome to Scissors-Paper-Rock.
Please enter your name.'

<p></p>
<form action='/name' method='post'>
  <div>
    <input type='text' name='name'/>
  </div>
  <p></p>
  <div>
    <button type='submit'>Register</button>
  </div>
</form>
</font>
</body>
