<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"  href="/style.css" />
  </head>

<body>

<h1> Let's play Rock, Paper, Scissors </h1>
<p> <img src="https://media0.giphy.com/media/E7ClVqqCl8bVS/giphy.gif" style="vertical-align:middle"> </p>
<h2> Enter your name to begin </h2>

<p> <form action='/player_name' method='post'> </p>
<p> <input type='text' name= 'name' placeholder='Enter you name'>
 <input type='submit' id='submit' value='Play'>

</body>
</html>