
<head>
     <link rel="stylesheet" href ="style.css"/>
</head>

<section class= 'topbar'>
</section>

<header>
</header>
<body>
  <h1> Welcome to the magnificient game of Paper-scissors-rock</h1>
  <p>Please select how many players you are </p>

</body>


<div class= 'box2'
<form action='/1-player'>
  <input type='submit' value ='1-player'/>
</form>

</div>

<div class ='box2'
<form action='/2-player'>
  <input type='submit' value ='2-player'/>
</form>
</div>
