<h1> Welcome So, rock, paper, scissors, gecko, or space nerd? </h1>
<form action="/name2" method=post>
  <div>
  <label for="name">
    Oooh I bet your name would look good in here!
    <input type="text" name="name">
  </label>
  </div>
  <div>
  <label for="name2">
    You can go ahead and put your imaginary friends name here  <3
    <input type="text" name="name2">
  </label>
  </div>
  <div>
  <input type="submit" name="I'm ready!">
  </div>
</form>
