<html>
<title>Rock Paper Scissors</title>
<body style='background-color:lightYellow;'><center>
  <div>Welcome to Rock Paper Scissors!>
  <form action='/player' method="post">
  <h2>Please enter your name:</h2>
  <input type=text name='name' style='width: 300px'>
  <br><input type=submit value=Start the Game! style=width: 300px"></div>


  


</center></body>
</html>