
Select game type:
<br>
<br>
<form action="/game_type?game_type=computer" method="post">
<input type="submit" id="computer" value="vs. Computer"> 
</form>
<br>
<form action="/game_type?game_type=human" method="post">
<input type="submit" id="human" value="vs. Human"> 
</form>

