<br>
<h1 align="center">Rock, Paper, Scissors Game!</h1>
<br>
<h2 align="center">Please enter your name to play the game</h2>
<br>
<form action="/name" method="post" align="center">
  <label for="player_name">
    Your name:
    <input type="text" name="player_name">
  </label>
  <br>
  <p><input type="submit" value="Submit"></p>
</form>
