<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Enter player name</h1>
  <form method="post" action="/names"> 
    <input type="text" name="player_1_name" placeholder="Enter Player 1 name">
    <input type="submit" value="Go">
  </form>
</body>
</html>