<h1> Welcome to the Rock, Paper, Scissors game! </h1>
<h2> Please enter your name </h2>

<form action="/name" method="post" id="player_name_form">
   <div>
     <label for="player">Player Name:</label>
     <input type="text" name="player" id="player" required>
   </div>
   <div>
     <!-- <label for="computer">Player 2 Name:</label>
     <input type="disabled" name="computer" id="computer" required>
   </div>
   <div> -->
     <input type="submit" value="Play!">
   </div>
 </form>
