<!DOCTYPE html>
<html>
<head>
  <title> Rock, Scissors and Paper </title>
  <h1> Welcome to our Rock Paper and Scissors web app! </h1>
  <h2> To start to play type in your name and make your move from the dropdown menu. </h2>
  <style type="text/css">
    body
    {
      padding : 0;
      margin: 0;
      background: #ffd200;
      font-size: 1.5em;
      text-align: center;
      font-family: 'arial';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  </style>
</head>
<body>

  <form action="/users" method="post">
    <p> Enter your name: <input type="text" name="user"> </p>
    <p> Make your move: <select name="move">
      <option value="rock">ROCK</option>
      <option value="paper">PAPER</option>
      <option value="scissors">SCISSORS</option>
    </select>
    </p>
    <p> Hit that button to start! <input type="submit" value="Play"> </p>
  </form>

</body>
</html>
