<h1>Welcome to the Rock Paper Scissors game</h1>
<h2>Sign in to play</h2>
<form action='/names' method="post">
  <label for="marketer_name_1">
    Enter your name
    <input type="text" name="marketer_name_1">
  </label>
  <input type="submit" value="Submit">
</form>