<h1>Rock, Paper, Scissors</h1>
<h2>Sign in to play</h2>
<form action="/name" method="post">
  <label for="player_name">
    Enter your name:
    <input type="text" name="player_name">
  </label>
    <input type="submit" value="Let's play!">
</form>


<style>
    input, textarea, select, button {
    width : 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
    h1 {
    font : 2em "typewriter", monospace;
    align-self : end;
  }
    h2 {
   font : 1.5em "typewriter", monospace;
    align-self : end;
  }
    button {
    margin-left: .5em;
  }
    button {
    padding      : 5px;
    font         : bold .7em "typewriter", monospace;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
  }
  </style>
