<h1 class="text-center">Rock Paper Scissors</h1>
<h4 class="text-center">Your favorite hand game, now on the web!</h4>

<img class="img-responsive center-block intro-img" src="http://i.imgur.com/VUBSmfi.png">

<div class="text-center">
  <form action='/player' method='get'>
    <a href="/player" class="btn btn-info text-center new-game-btn">New Game</a>
  </form>
</div>