<center>
<h1> WELCOME TO THE BEST ROCK PAPER SCISSORS GAME EVER </h1>
<h3> Developed by Dillon Barker </h3>

<form action="/single_player">
  <label for="single player">
    Single Player
    <input type="submit" name="single player" value='Begin!'>
  </label>
</form>

<form action="/multiplayer">
  <label for="multiplayer">
    Multiplayer
    <input type="submit" name="multiplayer" value='Begin!'>
  </label>
</form>
</center>
























<style>
      body {
        -webkit-animation: colorchange 20s infinite;
        animation: colorchange 20s infinite;
      }
      @-webkit-keyframes colorchange {
        0% {
          background: #8ebf42;
        }
        25% {
          background: #e6ebef;
        }
        50% {
          background: #1c87c9;
        }
        75% {
          background: #095484;
        }
        100% {
          background: #d0e2bc;
        }
      }
      @keyframes colorchange {
        0% {
          background: #8ebf42;
        }
        25% {
          background: #e6ebef;
        }
        50% {
          background: #1c87c9;
        }
        75% {
          background: #095484;
        }
        100% {
          background: #d0e2bc;
        }
      }
    </style>
