<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rock, Paper, Scissors</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>

<body>
  <h1>Rock, Paper, Scissors</h1>
  <form action="/name" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Go">
  </form>
</body>
</html>
