<!DOCTYPE html>
<html>
<link href="/CSS/styles.css" rel="stylesheet" type="text/css" />
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
<center>
<a href ='/new_game'>New Game</a>
</center></body>

</html>
