<center><h1> Welcome to the Rock Paper Scissors game!</h1>
<br>
<img src="https://futurism.com/wp-content/uploads/2014/05/rock-paper-scissors.jpg" alt="Rock Paper Scissors">
<br>
<form action="/name" method="post">
  <input type="text" name="player_1_name" value="Please enter your name">
  <input type="submit" value="Enter">
</form></center>
