<html>
<head>
<style>
.content {
   height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}
.button {
  background-color: #4B0082; /* Indigo */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {background-color: E1B7FF;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

</style>
</head>

<body>

<div class="content">


  <h1>Welcome to Rock, Paper, Scissors!</h1>
  <br>
  <form action="/names" method="post">
    <label for="name">Enter your name:</label><br>
    <input type="text" id="name" name="name">
    <br>
    <br>
    <button class='button' type="submit" value="submit">Let's play!</button>
  </form> 
</div>

</body>
</html>


