<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPSLS</title>
  </head>
  <body>
    <h1>Rock Paper Scissors Lizard Spock</h1>
    <h3>Please sign in to play:</h3>
    <form action="/name" method="post">
      <label for="player_name">
      Player name:
        <input type="text"
      name="player_name">
      </label>
    <input type="submit" value="PLAY">
    </form>
  </body>
</html>
