<html>
<head>
  <link rel="stylesheet" type='text/css' href="views/styles.css">
</head>
<body>



<p > Welcome! </p> <br>
<form style="font-family: Arial" action='/names' method ='post'>
<label for  = 'player1name'>Please enter your name:<br></label>
<input type='text' name ='player1name' id='player1name'>
<input type='submit' value='Submit'>
</form>

</body>
</html>