
<h1>Welcome! Contestant no. 1....</h1>
<h2>What's your name and where'd you come from? (r.i.p Cilla, this battle is for you!)</h2>
<form action="/play" method="post">
  <lable for='player_1_name'>
    Player 1
    <input type="text" name="player_1_name">
  </lable>
  <input type="submit" value="Submit">
</form>
