<head>
  <title>Rock, Paper, Scissors</title>
</head>

<body>

<div style="font-size: 40px; text-align: center; border: 5px black">
  <p>New Game</p>
</div>

<div style="text-align: center">
  <% if !@name || @name == "" %> 
    <form action="/game">
      <p>What's your name?</p>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    <p>Please enter your name</p>
  <% else %>
    <p style="font-family:arial; font-size:24px">
      Let's play Rock, Paper, Scissors, <%= session[:name] %>!
    </p>
    <p>
       <a href="/game">Play Game</a>
    </p>  
  <% end %>
</div>

</body>

