<h1> Welcome to Rock, Paper and Sissors. </h1>

<h2> How many people are playing?</h2>


<form action='/name' method='post'>
  <input type='text' name='player_name' value='Name'>
  <input type='submit' value='Submit'>
</form>
