<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <center>
    <h1 class="text-center">Rock Paper Scissors</h1>
    <h3 class="text-center">The showdown</h3>
      <form class="form-inline" action="/names" method="post">
        <div class="form-group">
          <label for="player_1_name">Enter your name</label>
          <input class="form-control" type="text" name="player_1_name">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
  </div>
  <center>
  <img src= "index_image.jpg">
</body>
</html>
