<div class="container text-center">
  <div class="row">
    <div>
      <h1>Rock Paper Scissors</h1>
    </div>
  </div>

  <div class="row">
    <div>
      <h2>Sign in to play</h2>
      <form action="/names" method="post">
        <label for="player_1_name">
          Player 1 name
          <input type="text" name="player_1_name">
        </label>
        <br>
        <input type="submit" value="submit">
      </form>
    </div>
  </div>
</div>
