<h1>Let Battle Commence!</h1>
<h2>To become the leader of the freeworld.</h2>

<form action="/names" method="post">
  <label for="player_1_name">
    Republican Candidate
      <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Democrate Candidate
  <input type="text" name="player_2_name">
</label>
  <input type="submit" value="Submit">
</form>
