<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel='stylesheet'>
<style>
  body { font-family: 'Major Mono Display', monospace;
  ;font-size: 30px;}
</style>
<body style="background-color: #FD4B4B;" align="center">
  <br>
  <br>
<h1>Rock Paper Scissors</h1>
  <br>
<h2>Sign in to play!</h2>
  <br>
  <form action="/names" method="post">
    <input type="text" name="player_1" placeholder="Player one">
    <input type="submit" value="Play">
  </form>
</body>
