<div class="interactive_zone">  
  <h1> Let's play Rock Paper Scissors! </h1>

  <form action='/names' method='post'>
    <label for="player1">Player 1:</label>
    <input type='text' name='player1'>
    <input type="submit" value="START">
  </form>
</div>