<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>


<body>
  <div>
    <h1>Rock. Paper. Scissors. Lizard. Spock.</h1>
    <p>How many players would you like?</p>
    <form action="/one_player" method="post">
      <input type="submit" value="One">
    </form>
    <form action="/two_player" method="post">
    <input type="submit" value="Two">
  </form>
  </div>
</body>
