<body style="background-color:darkseagreen;">
<h1 style="font-size:100px; font-family:verdana; color:#F0FFFF; margin:10px"> Rock, Paper, Scissors </h1>

<h2 style="font-size:50px; font-family:verdana; color:#F0FFFF; margin:10px">Ready to play?</h2>

<br>
  <form style="font-size:30px; font-family:verdana; color:#306754; margin:10px" action="/name" method="post">
    <div> <label for="player">
      Enter your name
      <input style="background-color:#F0FFFF; border-color:green; border-radius: 12px; font-size:30px; font-family:verdana; color:#306754" type="text" name="player">
    </label> </div>
<br> <input style="background-color:#F0FFFF; border-color:green; border-radius: 12px; font-size:30px; font-family:verdana; color:#306754" type="submit" value="Go!">
  </form> </br>
  </br>
</body>