
<html>
  <center>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>RPS</title>
    </head>

    <div class="container-fluid bg-info">
      <body>
        <h1 class="display-2">Welcome to Rock, Paper, Scissors!</h1><br>
        <h1 class="display-4">Enter your name to play...</h1>
        <form action="/names" method="post">
            <input type="text" name="player_1_name">
            <input type="submit" class="btn btn-light" value="Submit">
        </form>
      </body>
    </div>

  </center>
</html>
