<body style="background-image: url('/images/rsz_rps-background2.png')">

<div style="font-family: 'Fira Mono', 'Lucida Console', monospace; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align: center; background: white; border: solid white; width: 350px; height: 200px; border-radius: 30%">
  <div style="font-size: 200%; margin-top: 55px">
    Welcome to RPS
  </div>

  <div style="font-size: 80%; padding: 8px">
    Please enter your name
  </div>

  <div>
    <form action="/" method="post">
      <input type="text" name="name" style="font-family: 'Fira Mono', 'Lucida Console', monospace; font-size: 90%; text-align: center" required>
      <input type="submit" value="Submit" style="font-family: 'Fira Mono', 'Lucida Console', monospace; font-size: 70%">
    </form> 
  </div>
</div>

</body>


