<style>
body {background-color: powderblue;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif}
</style>
 <body>
<h1>Rock, Paper, Scissors game</h1>
<br>
<form action='/gameoptions' method='post'>
<h2>What version of the game do you want to play?</h2>

<input type="radio" name="version" value="standard" id="standard">Rock, Paper, Scissors<br>


<input type="radio" name="version" value="extended" id="extended">Rock, Paper, Scissors, Spock, Lizard<br>
<br>
<h2>Who do you want to play against?</h2>
<section class='singleplayer'>
<input type="radio" name="mode" value="singleplayer" id="singleplayer"> Computer<br>
</section>
<input type="radio" name="mode" value="multiplayer" id="multiplayer"> Another player<br>
<br>
  <input type='submit' value='Submit'>
</form>
</label>
</body>
