<div>
  "Yoooo lets get Rock, Paper, Scissors going! Enter name below!"
  </div>
<form action="/name" method="post">
<input type="text" id="name" name="name">
<input type="submit" value="Submit">
</form>
