
<body>
  <h1 id="title">WALL.E's Rock Paper Scissors</h1>
  <div class="left">
    <h1>One player game against WALL.E</h1>
    <form action="/name" method="post">
      Player  <input type="text" name="player_name">
      <input type="submit" value="Play!">
    </form>
  </div>

  <div class="right">
    <h1>Two players game</h1>
    <form action="/2name" method="post">
      Player1 <input type="text" name="player1_name">
      Player2 <input type="text" name="player2_name">
      <input type="submit" value="Play! ">
    </form>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

<style>

body {
  background-image: url("http://cdn.pcwallart.com/images/walle-wallpaper-3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%
}

h1 {
  font-family: Comic Sans MS;
  font-size: 25px; color:red;
}
#title {
  font-family: Comic Sans MS;
  font-size: 40px; color:red;
  text-align:center
}
.left {
  float:left; width:60%; height:100px;
}

.right{
  float:right; width:40%; height:100px;
  text-align:center
}

form {
  font-family: Comic Sans MS;
  font-size: 15px; color:blue
}
img {
  display: block;
  margin-left: 300px;
  margin-right: auto
}

</style>
