<html lang="en">
<head>
  <title>RPS</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
    <h1 id="title">Rock, Paper, and... Scissors!</h1>
    <form id="sign-in-form" action="/sign-in" method="post">
      <input id="name" name="name" type="text" placeholder="name" />
      <button type="submit" id="go-button">Let's Go!</button>
    </form>
  </div>
</body>
</html>