<html>
  <body style="background-color:powderblue;">
    <h1 style="color:rgb(255,51,192); font-family:verdana;" align="center"> Rock Paper Scissors </h1>
    <br>
    <h2 style="color:rgb(255,51,192); font-family:verdana;" align="center"> Please enter your names: </h2>
  <br>
  <form align="center" action="/names" method="post">
    <input type="text" name="player1_name" placeholder="Player1">
    <br>
    <br>
    <input type="text" name="player2_name" placeholder="Player2">
    <br>
    <br>
    <input type="submit" value="Go!">
  </form>
  </body>
</html>
  
