<h1>Welcome!<h1>
<h2>Please enter your names<h2>
<form action="/names" method="post">
  <input type="text" name="player_1" placeholder="Enter name here">
  <input type="text" name="player_2" placeholder="Enter name here">
  <input type="submit" value="Submit">
</form>