<h1>Let's play Rock, Paper, Scissors!</h1>

<form action='/pick_one' method='post'>
  Player 1: <input type='text' name='name1'>
  <!-- Player 2: <input type='text' name='name2'> -->
  <input type='submit' value='Play'>
</form>
