<!DOCTYPE html>
<html>
	<head>
		<title>Rock, Paper, Scissors game</title>
	</head>
	<body>
		<h1><p> Play Rock, Paper, Scissors!</p><h1>

		<h2><p> Please enter your name</p>
			<form action = "/start" method = "post">
	  		<input type="text" name="player">
	  		<input type="submit" value="Play!">
			</form>
		</h2>
	</body>
</html>
