<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<h1> Rock Paper Scissors Lizard Spock! </h1>
<h2> Do you want to play a one-player or two-player game? </h2>
<form method="post" action="/one_player">
  <input type="submit" value="One Player!"/>
</form>
<form method="post" action="/two_player">
  <input type="submit" value="Two Player!"/>
</form>
</body>
