<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <h1>Rock, Paper, Scissors!</h1>
  <h2>Please enter your name</h2>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player Name:
      <input type="text" name="player_1_name">
    </label>
    <input type="submit" value="Play!">
  </form>
</body>
</html>
