<!doctype html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <center>
      <div>
        <h2>Hello warrior! How shall we call you?</h2>
      </div>


    <div id="name_form">
      <form action="/name" method="post">
        <label for="player_name"> My name is
          <input type="text" name="player_name">
        </label>
        <p> <input type ="submit" value="Submit" /> </p>
      </form>
    </div>
    </center>
</html>
