<h1>WELCOME TO XTREME-RPS!!!</h1>
<h2>SIGN IN TO PLAY!!</h2>
<form action="/battlefield" method="post">
  <label for="name">
    ENTER YOUR XTREME NAME:
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
