
<h1>Welcome to Rock Paper Scissors</h1>
<p> Please enter your name </p>
<form action = '/register' method= 'post'>
  <input type='text' name = 'player'>
  <input type='submit' value = 'Register'>
</form>
