<body>
  <form action="/names" method="post">
    <label for="player_one_name">
      Enter your name: <input type='text' name='player_one'>
    <input type='submit' value='Submit'>
  </form>
</body>
