<h1>Welcome to RPS online game</h1>
<h3>Pleae enter your name below to start the game.</h3>
<form action="/names" method="post">
  <label for="player1_name">
    Name:
    <input type="text" name="player1_name">
    <input type="submit" name="Enter">
  </label>
</form>