<h1>Welcome to Rock, Paper, Scissors</h>
<h2>Sign in to play</h2>

<form action='/names' method='post'>
  <label for="player_name">
    Your name
     <input type ="text" name="player_name">
  </label>
 <input type="submit" value="Submit">
</form>
