<h1> ROCK, PAPER, SCISSORS! </h1>

<h2> Sign in to play! </h2>

<form action='/name' method='post'>
  Player name: <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
