<h2> Welcome to Rock, Paper, Scissors </h2>

<form action="/name" method="post">
  <input type="text" name="player_name" placeholder="Enter Player Name">
  <input type="submit" value='Submit'>
</form>