<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>RPSLS</title>
</head>
<body>
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <p>One player vs a computer or 2 players?:</p>
  <form action="/one_player" method="get">
    <input type="submit" value="One Player">
  </form><br>
  <form action="/two_player" method="get">
    <input type="submit" value="Two Players">
  </form>
</body>
</html>