<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Rock, Paper, Scissor</title>
  <style>
body  {
    background-image: url("http://now-here-this.timeout.com/wp-content/uploads/2013/11/rockpaper.jpg");
  }
  </style>
</head>
    <body>
      <form method="POST" action="/name">
          <input type="text" name="name">
          <br></br>
          <input type="submit" value="Submit">
      </form>
    </body>
    </html>
