<h1>Welcome to Rock, Paper or Scissors!</h1>

<h2>Please enter your name to play:</h2>

<form action='/name' method="post">
  <label for="player_name">
    Player name:
    <input type='text' name='player_name'>
  </label>
  <input type='submit' value='I am ready to play!'>
</form>

