<form action="/names" method="post">
Please enter your name: <input type="text" name="player_1_name">
<!-- Player 2: <input type="text" name="player_2_name" placeholder="Computer"> -->
  <input type="submit" value="Submit">
</form>
