<head>
</head>

<body>
<div class='tittle'>
  <h1>RPS for your life</h1>
</div>

<div class='name_form'>
  <form action='/names' method='post' name='name'>
    <input type='text' name='player_1_name'>
    <input type='submit' name='submit'>
  </form>
</div>
</body>