<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    
    <div class='main_title'>
      <h1>Welcome to Rock-Paper-Scissors-Lizard-Spock</h1>
    </div>

    <h2>Please enter your names (enter player 1 only to play the machine)</h2>

    <form action='/player_names' method='post'>
      Player 1 name:<br>
      <input type="text" name="player_1_name"><br>
      Player 2 name:<br>
      <input type="text" name="player_2_name">
      <input type="submit" value="Play">
    </form>

  </body>
</html>
