<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: paleturquoise;

}
</style>
</head>
<body>

<h1>Rock, Paper, Scissors!</h1>
<h2>What is your name?</h2>
<form action="/play" method="post">

  <input type="text" name="player_name" >

  <input type="submit" value="Go!">
</form>

</body>
</html>
