<h1>Lets Play! - Rock, Paper, Scissor</h1>
<h2>Enter your name to start:</h2>
<form action="/names" method="post">
  <label for="player_1">
    Player name :
  <input type="text" name="player_1">
  </form>
  <select name="player_1_name">
    <option value="selection">Make Your Selection</option>
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>

  <label for="CPU">
     vs. CPU
  </label>
  <input type="submit" value="Submit">
