<head>


</head>


<body>
  <h1>Rock, Paper, Scissors</h1>

  <form action="/names" method="post">
    <label form="player_1_name">Please enter your name:</label>
    <input type="text" name="player_1_name">
    <input type="submit" value="Start Game">
  </form>
</body>
