
<html>
    <head>
    </head>
<body>
  <h1>Rock, Paper, Scissors </h1>
  <h2>Sign in:</h2>
  <form action="/name" method="post">
    <div>
    <label>Player 1, sign in: </label>
    <input type="text" name="player_name">
    </div>
    <div>
    <input type="submit" value="submit">
    </div>
  </form>
</body>
</html>
