<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RockPaperScissors - The Game</title>
    <meta name="A game of Rock Paper Scissors" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
 
  </head>
  <body>
  <div class="login_div">
   <h2>RockPaperScissors</h2><br>
   Do you have what it takes?<p>
   Please enter a Username:
  <form action="/name" method="POST">
    <input type="text" class="signup" name="username"/><p>
    <input type="submit" class="login_btn" name="submit" value="Lets Play"/>
  </form>
  </div>  
    <script src="" async defer></script>
  </body>
</html>
