<h1 style="font-family: Tahoma">
Welcome to Rock, Paper, Scissors!
</h1>
<h2 style="font-family: Tahoma">
Ready to play? 
Enter your name below
</h2>
<form action="/name" method="post">
<input type="text" name="player_name">
<input type="submit" value="Submit">
</form>
