<p> Welcome to a Rock Paper Scissors match! </p>

<p> Please fill in your name: </p>
<p></p>
<form action='/set_name' method='post'>  
  <input name='player_name'>
  <input type='submit' value='Submit'>
</form>