<div>
<h1> Welcome to Rock, Paper and Scissors! </h1>
<br>
  <form method='post'>
  	<label> What's your name? </label>
  	<input type='text' name='name'>
  	<input type='submit' value='Submit'>
  </form>
</div>