<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to RPS</title>
  </head>
  <body>
    <div align="center"><br>
      <h1>Welcome to the World-of-RPS!</h1><br>
      <form action="/register" method="get">
      <input type="submit" value="Click to Begin">
    </div>
  </body>
</html>
