<h1>Welcome to RPS!</h1>

<h2>Please enter your name to play!</h2>

<style>

body {
        background-image: url("https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5du1fUfmvEfSp7VU8xbyqG4yMDrTR4_1680x8400");
        background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 
}

</style>

<form action="/name" method="post">
	<label for="player_name">
	Player name
	<input type="text" name="player_name">
	<input type="submit" value="Submit">
</form>	