<h1>Rock Paper Scissors</h1>

<h2>Enter your name</h2>
<form action="/name" method="post">
  <input required class="field" type="text" name="name"><br>
  <input class="button" type="submit" value="Go!">
</form>

<img class="rps" src="/images/rps.png" alt="cartoon of a rock, paper and scissors fighting">
<img class="fist" src="/images/fist.png" alt="fist, ready to play rock paper scissors">
