<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Welcome to Rock-Paper-Scissors!</h1>
  <h4>You know the rules... Rock beats scissors, scissors beats paper, and paper beats rock. Let's play!</h4>
  <h3>Please enter your name:</h3>
  <form action="/name" method="post">
    <input type="text" name="Name">
    <input type="submit" value="Let's play!">
  </form>
</body>
</html>
