<h1>Welcome to Rock Paper Scissors</h1>

<p>Please enter your name</p>
<form action="/players" method="post">  
  Player Name
  <input type="text" name="name" ><br>
  <input type="submit" value="Start game!">
</form>

