<!DOCTYPE html>
<html>

<style>
body {background-color: #33bbff; font-family:verdana; text-align: center;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>

<body class="center">
<h1>Welcome to Rock Paper Scissors!</h1>
<br><br>
<h1>What is your name?</h1>
<form action="/game" method="post">
<input type="text" name="name">
<input type="submit" value="Play">
</form>
</body>

</html>