<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Barrio|Cabin+Sketch" rel="stylesheet">
    <style>
    body  {
      background-image: url("../../images/rpsls-bkg.jpg");
      background-repeat: no-repeat;
      background-color: #15133c;
      background-position: right -55px;
      text-align: center;
      color: #4A87E6;
      font-family: 'Cabin Sketch', cursive;
      font-size: 40px;
    }
    h1 {
      color: #81C737;
      font-size: 60px;
      font-family: 'Barrio', cursive;
    }
    h2 {
      font-size: 30px;
      font-family: 'Cabin Sketch', cursive;
    }
    .button {
    background-color: #E78C09;
    border: none;
    border-radius: 14px;
    color: #EA1A50;
    padding: 4px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Cabin Sketch', cursive;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }
    .button:hover {
    background-color: #0AAE89;
    color: #84DAF5;
    }

    </style>
    </head>
    <body>

    <h1>Rock, Paper, Scissors!</h1>
    <br></br>
    <h2>Enter your name to play</h2>
    <div style="color :#FF60B0">Player name:</div>
    <form action="/name" method="post">
      <input type="text" name="player_name">
      <div>
      <input type="submit" class="button" value="Submit">
      </div>
    </form>
  </body>
</html>
