<body style="background-color:powderblue;">

<h1 style="text-align:center;color:blue;">Rock, Paper, Scissors Game</h1>
<img align=center; src='https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/4/46/Bmo-0.png/revision/latest?cb=20150322022558'>
</div>
<h2>Sign in to play</h2>
  <form action="/names" method="post">
    <label for="player">
      Enter your name
      <input type="text" name="player">
    </label>
    <input type="submit" value="Submit">
  </form>
