<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>

  <body>
    <h1>Welcome to Rock/Paper/Scissors!</h1>
    <h2>Sign in to play</h2>
    <form action="/name" method="post">
      <label for="player_name">
     Player name
     <input type="text" name="player_name">
   </label>
   <input type="submit" value="Submit">
    </form>
  </body>
</html>
