<body>
  <h1>Welcome to RPS</h1>
  <p>To get started please enter your name:</p>
  <form action="/names" method="post">
    <input type="text" name="player_name" value="Enter Name Here!">   
    <input type="submit" value="Play!">
  </form>
</body>