
<h1><center>Welcome!</center></h1>

<div>
  <center>
    <h2>Enter your name and click play</h2>

    <form action='/name' method="post">
      <input type="text", name="name", value="your name..." />
      <input type="submit", value="Play"  />
    </form>
  </center>
</div>
