<div><h1>Rock-Paper-Scissors!!!</h1></div>

<div><h3>Choose player:</h3></div>

<div>
  <form action='/p1_entry' method='get'>
    <input type='submit' value='Player 1'>
  </form>
  <form action='/p2_entry' method='get'>
    <input type='submit' value='Player 2'>
  </form>
</div>
