<body>
  <form action="/names" method="post">
    <label for="name">Enter player 1 name</label><br>
  <input type='text' name='player_name'><br>
  <input type="submit" value="submit">
  </form>
</body>
