<head>
  <link rel = "stylesheet"
  type = "text/css"
  href = "styles.css" />
</head>

<body>
  <div class = "main">
    <div class = "wrapper">
      <div>
        <p1>Rock, Paper, Scissors</p1>
      </div>
      <br>
      <br>
      <img src="rps.jpg" />
      <br>
      <br>
      <br>
      <div>
        <p2>Enter your name to play</p2>
        <form action='/name' method='post'>
          <input type='text' name='name' />
          <input type='submit' value='Play' />
        </form>
      </div>
    
    </div>
  </div>
</body>