

<% if flash[:error] %>
 <p class="color"> <%= flash[:error]%> </p>
<% end %>

  <form action="/name" method="post">
    <input type="text" name="name"/ placeholder="Enter your name">
    <input id="btn" type="submit" value="Submit"/>
  </form>
