
    <form action="/play" method="post">
      <div>

        <p class="text-info"><label for="name">Enter Your Name</label>
        <input type="text" name="name" id="name" class="form-control"></p>

        <p class="text-info"><label for="weapon">Select a weapon</label>
        <select name="weapon" id="weapon" class="form-control">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scisors</option>
        </select></p>

        <input type="submit" class="btn btn-primary" value="Play!">

    </div>

    </form>
