<h1>Rock, Paper Scissors!</h1>
<h2>Single or Multiplayer?</h2>

<form action='/1player'>
  <input type="submit" value="1 Player">
</form>

<form action='/2player'>
  <input type="submit" value="2 Player">
</form>
