<form class="form-signin" action="/name" method="post">
  <h2 class="form-signin-heading">Please enter your name</h2>
  <input type="text" name="name" class="form-control" placeholder="Your name">
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Let's play">
</form>
