<body style="background-color:powderblue;">
<br>
<style>
  h1 { font-family:helvetica,sans-serif;color:white }
</style>
<center>
<h1>Let's play Rock, Paper, Scissors</h1>

<p style='font-family:helvetica,sans-serif;color:white'>Please enter your name:</p>
<form action='/name' method='post'>
  <input type='text' name='name'/>
  <input type='submit' value='Submit'/>
</form>

<h1>&#x2702</h1>
</center>
</body>
