<h1> Select game mode </h1>
<br>
<br>


<form action=/1player method='get'>
  <input type='submit' value='1 player' class='button'>
</form>

<form action=/2players method='get'>
  <input type='submit' value='2 players' class='button'>
</form>


<img src='https://i.ebayimg.com/images/g/DfQAAOSwepJXUhjY/s-l300.jpg' style="width:400px;height:500px;" class='im' >
