Would you like to play single-player or multiplayer?
<br>
<form action='/one_player_input' method='get'>
  <input type='submit' value='Single-Player' />
</form>

<form action='/multiplayer_input' method='get'>
  <input type='submit' value='Multiplayer' />
</form>
