<h1>It&apos;s Rock-Paper-Scissors time!!</h1>

<form action="/register" method="post">
  <input type="text" name="player" placeholder=" your name here">
  <input type="submit" value="Let's rumble!">
  </form>
