<h1>Rock Paper Scissors</h1>
<h2>Start the game by entering your first name</h2>
<form action="/names" method="post">
  <input type="text" name="player1" />
  <button type="submit">Crush it!</button>
</form>
