<div>
O.K you want to play Rock, Paper, Scissors?
<form action="/names" method="post">
<label for="player_name">
Enter Your Name:
<input type='text' name='player_name'>
</label>
<input type='submit' value='submit'>
</form>
</div>
