<body>
  <div class="upper">
  <h1>
    <p>Welcome to RockPaperScissors!</p>
    <p>Here are the rules:</p>
    <p>Rock beats Scissors, Scissors beats Paper, Paper beats Rock!</p>
    </h1>
  </div>

  <div class="middle">
    <h2>
    <p>Please enter your name!</p>
    </h2>
  </div>
<div class ="lower">
<form action="/name" method="post">
  <input type="text" name="player1">
  <input type="submit" value="Submit">
</form>
</div>

</body>

<style>

body {
  background-image: url("https://beacon-center.org/wp-content/uploads/2013/04/Figure2_Jesse.Kruger.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.upper {
  color: #e67300;
  text-align: center;
  font-family: 'Monaco', monospace;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36.3px;
}

.middle {
   color: #e67300;
    text-align: center;
    font-family: 'Monaco', monospace;
   font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36.3px
  }

.lower {
      text-align: center;
  }

  input[type="text"] {
    border-style: solid;
    border-width: 2px;
    border-color: #16647F;
    justify-content: center
  }

  input[type="submit"] {

  }
