<h1> Welcome to Rock Paper Scissors </h1>
<form method="post" action="/play_game">
  <input type="text" name="name" value="Enter your name"></input>
  <input type="submit" value="Submit your name"></input>
</form>
