<h1>Welcome to ROCK, PAPER, SCISSORS</h1>
<form action = "/name" method = post>
    <input type="text" name="name" placeholder="What's your name" />
    <input type="submit" value= submit/>
  </form>
