<h1>Rock paper scissors game, submit your name and move</h1>
<form action="/results" method="post">

<h3>what is your name?</h3>
  <input type="text" name="player1">
<h3>what is your move? (rock/paper/scissors)</h3>
  <br>
  <input type="text" move="move">
  <br>
  <input type="submit" value="submit">
  <br>
</form>
