<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Rock Paper Scissors App</h1>
    <form class="" action="index.html" method="post">
      <button type="button" name="single_player">Single Player Mode</button>
    </form>
    <form class="" action="index.html" method="post">
      <button type="button" name="multiplayer">Multiplayer Mode</button>
    </form>
  </body>
</html>
