<h1>ROCK PAPER SCISSORS</h1>

<h2>Thou must tell me, by what name should I calledst thou?</h2>
<form action="/named" method="post">
  <label for="charname">
    Tap unto thine keyboard thy name, MIGHTY WARRIOR
    <input type="text" name="charname">
  </label>
  <input type="submit" value="Begin the RAMPAGE"
</form>
