<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors Lizard Spock</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Rock Paper Scissors Lizard Spock</h1>
  <section>
    <h2>Single-player</h2>
    <form action="/single-player" method="post">
      <label for="name">Enter your name:</label>
      <input required type="text" name="name">
      <button class="button" type="submit">Start Single-player!</button>
    </form>
  </section>
  <section>
    <h2>Multi-player</h2>
    <form action="/multi-player" method="post">
      <label for="name">Enter player 1's name:</label>
      <input required type="text" name="player_1_name">
      <label for="name">Enter player 2's name:</label>
      <input required type="text" name="player_2_name">
      <button class="button" type="submit">Start Multi-player!</button>
    </form>
  </section>
</body>
</html>