<div class='container welcome'>
 <h1>Welcome to the Treasure Land.</h1>
 <img src="https://img.icons8.com/color/48/000000/hand-rock.png">
 <img src="https://img.icons8.com/dusk/64/000000/hand.png">
 <img src="https://img.icons8.com/ios-glyphs/48/000000/hand-scissors.png">
</div>

<div class='container start_link_container'>
  <a href='/name' id='getstarted'>Get Started</a>
</div>