<h1>Welcome to Rock, Paper, Scissors</h1>

<form action="/play" method="post">
  <label for="name">
    Enter Your Name
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
