<html>

<head>

  <style>
    body {
      color: white;
      font-family: "Helvetica";
    }
  </style>

</head>

<body>

  <iframe src="//giphy.com/embed/E7ClVqqCl8bVS" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:-999999;"></iframe>

  <h1 style="color:white;">Rock Paper Scissors</h1>

  <h2>Enter your name below to play</h2>

  <form action="/name" method="post">
    <label for="player name">
      Player name
    <input type="text" name="player_name" autofocus>
  </label>
  <input type="submit" value="Play!">
  </form>

</body>

</html>
