<div align="center">
<h1>Welcome to Rock, Paper, Scissors!<h1>
<h2>Sign in to play</h2>
<form action="/choose" method="post">
  <input type="text" name="player_name">
  <h1>Please chose your weapon<h1>
  <h2>Enter: 'Rock, Paper or Scissors'</h2>
  <h3>Remember: Geology rocks, paper cuts and scissors are well... scissory</h3>
  <input type="text" name="weapon">
  <input type="submit" value="Submit">
</form>
</div>
