<head>
<link rel="stylesheet" href="/css/bootstrap.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="col-md-12 text-center">
      <h1>Rock, Paper, Scissors!</h1>
    </div>

    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action = "/result" method = "post">
              <h2>What's your name?</h3>
                <br>
              <input type = "text" name = "name" required>
                <br>
              <h3>Choose your weapon:</h3>
                <br>
              <div class="col-md-4">
                <button class = "btn btn-default" type= "submit" name = "choice" value = "rock">
                  <img src="/img/rock.png" height="256px" width="256px">
                </button>
              </div>
              <div class="col-md-4">
                <button class = "btn btn-default" type = "submit" name = "choice" value = "paper">
                  <img src="/img/paper.png" height="256px" width="256px">
                </button>
              </div>
              <div class="col-md-4">
                <button class = "btn btn-default" type = "checkbox" name = "choice" value = "scissors">
                  <img src="/img/scissors.png" height="256px" width="256px">
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
