<h1>Makers Rock Paper Scissors</h1>
<h2>Please enter your name:</h2>
<form action="/" method="get">
  <label for="player1_name">
    Player name
  <input type="text" name="player1_name">
<input type="submit" value="Play!">
</form>
