<body style='background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7d/Peresvet1901.jpg); background-size: cover'>
  <div>
    <p>WELCOME TO RPSLS!</p>
    <p>What's your name?</p>
    <form action='/player_registered' method="post">
      <input type="text" name="name" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
