<link rel="stylesheet" href="css/styles.css">

<div class="container">
  <h1 id="Title"> Rock / Paper / Scissors </h1>
  <br>
  <form action="/register" method="post">
    <input type="radio" name="mode_1" value="1_Player" checked> 1 Player
    <input type="radio" name="mode_2" value="2_Player"> 2 Player <br>
    <input type="submit" value="Submit">
  </form>
</div>
