<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="<%= url('/stylesheet.css') %>">
  </head>
  <body>
    <div id="content">
      <img src='images/rps1.jpg' width="400">
        <div id="panel">
          <div id="text"><a href="/computer">Play Against<br />Computer</a></div>
          <div id="text"><a href="/friend">Play Against<br />A Friend</a></div>
          <div id="text"><a href="/spock">Play Rock Paper Scissors Lizard Spock</a></div>
        </div>
        <div id="panel">
          <img src='images/rpshands.jpg' width="200">
        </div>
    </div>
  </body>