<html>
<head>
<title> Rock Paper Sissors </title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  maintext {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 30px;
  }

  textarea {
    font-size: 35px;
  }

</style>
</head>
<body>
  <header>
    <h1> Welcome to Rock Paper Sissors </h1>
  </header>
  <maintext>
    <h2> Please enter your name </h2>
    <textarea rows="1" cols="25" placeholder="Enter name here"></textarea>
    </br>
    </br>
    <button type="submit" style='font-size: 35px;width:200px; height:50px; color:red'>Lets Play</button>
    </br>
    <img src="https://cdn4.vectorstock.com/i/1000x1000/37/43/rock-paper-scissors-vector-5953743.jpg"/>
  </maintext>
</body>
</html>
