
<h2>Before we start please enter your name</h2>

<form action="/names" method="post">
  <div>
    <label for="Player">Player name:</label>
    <input type="text" name="player_name">
    <button type="submit" value="submit">LET's GO</button>
  </div>
</form>
