<head>
  <title>RPSLS</title>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>


<body>
  <div>
    <img src="rock-paper-scissors.png" alt="Rock, Paper, Scissors, Lizard, Spock">
    <h1>Rock. Paper. Scissors. Lizard. Spock.</h1>
    <p>How many players would you like?</p>
    <form action="/single_player" method="get">
      <input type="submit" value="One">
    </form>
    <form action="/multiplayer" method="get">
    <input type="submit" value="Two">
  </form>
  </div>
</body>
