<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/form" method="post">
    <input type="text" value="username" name="username">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
