<h1 style="text-align:center">
  <span style="font-size:48px">
    <span style="font-family:Arial,Helvetica,sans-serif">
      <span style="background-color:#ecf0f1">Rock Paper Scissors Lizard Spock</span>
    </span>
  </span>
</h1>

<p>&nbsp;</p>

<center><img src="/images/rpspixel.png"></center>

<p>&nbsp;</p>

<p style="text-align:center">
  <span style="font-size:22px">
    <span style="font-family:Arial,Helvetica,sans-serif">Welcome! To start playing, please enter your name.</span>
  </span>
</p>
<center>
<form autocomplete="off" action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Ready">
  </form></center>
