<html>
<head>
  <style>
    body {background-color: yellow;}
    h1 {
  color: darkgreen;
  font-family: verdana;
  font-size: 300%;

  }
  h2  {
  color: green;
  font-family: courier;
  font-size: 160%;
}
</style>
</head>
<h1 align='center'>Welcome to Rock Paper Scissors</h1>
<h2 align='center'>Enter your name:</h2>
<form action='/play' method='post' align='center'>
  <input type='text' name='player'>
  <input type='submit' value="Let's play!">
</form>
</html>
