<h1> Are you getting bored?? or Are you feeling too stressed out</h1>
<h2> If yes, then lets have some fun and refresh ourselves </h2>
<h3> Please enter your name below to register and start having some fun!! </h3>
<form>
 <label for="your_name">
   Your Name is
  <input type="text" name="your_name">
  </label>
  <input type="submit" value="Submit"
</form>
