<!DOCTYPE html>
<html>
<head>
  <title>rock-paper-scissors game</title>
  <script src="https://use.fontawesome.com/5d80a0eb69.js"></script>
  <link rel="stylesheet" type="text/css" href="/rps.css">

</head>
<body>
  <h1><i class="fa fa-hand-o-right" aria-hidden="true"></i> ROCK - PAPER - SCISSOR <i class="fa fa-hand-o-left" aria-hidden="true"></i></h1>

  <form method="POST" action="/name">
    <label for="player"> Put your name:</label>
    <input type="text" name="player">
    <input type="submit" value="Submit">
  </form>

</body>
</html>
