<form action = "/result" method = "post">
  What's your name?
  <input type = "text" name = "name" required>
  Choose your weapon:
  <input type = "checkbox" name = "choice" value = "rock">I choose you, Rock!
  <input type = "checkbox" name = "choice" value = "paper">Paper!
  <input type = "checkbox" name = "choice" value = "scissors">Scissors, go!
  <input type = "submit" value = "Play!">
</form>
