<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors - Sign In</title>
  </head>
  <body>
    <form action="/names" method="post">
      <label for="player_name">Player Name</label>
      <input type="text" name="player_name" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>