<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      background-color: powderblue;
      font-size: 180%;
      text-align: center;
    }
    input[type=text] {
      padding: 12px 20px
    }
    input[type=submit] {
      padding: 12px 20px;
      font-size: 25%;
    }
  </style>
</head>
<body>

<h1>Welcome to Rock Paper Scissors!</h1>
<p>So you think you can beat me?</p>
<p>Hi! I'm Ropas, the World Number 1 in playing rock paper scissors!
  What's your name?</p>
<form style='text-align: center; font-size: 200%' action='/get_name' method='post'>
  <input type="text" name="name">
  <input type="submit" name="Let's play!">
</form>

</body>
</html>
