<h1>Rock, paper, scissors</h1>
<form method='post' action='/players'>
  <p>Please enter your player name: </p> <input type='text' name='player1_name'/>
    <input type='submit' value='Submit'/>
</form>
