<center>
  <br>
  <p style="color:white;font-size:30px">
    <%= "Player 1: #{@player_name}"%>
  </p>
  <br>
  <form action="/choose_weapon" method="post">
    <input type="submit" value="Start game">
  </form>
</center>

<style>
body {
        background-image: url("https://d2zfkpu1r6ym98.cloudfront.net/sites/guideposts.org/files/styles/hero_box_left_lg/public/story/rock_paper_marquee.jpg");
}

</style>
