<!DOCTYPE html>
<html lang="en">
  <head>
    <p>Hello, <%= @name %>! Welcome to Rock-Paper-Scissors-Lizard-Spock</p>
  </head>
  <body>
    <p>Here are the rules!</p>
    <img src='images/rpsls-challenge.png'>
    <p>When your ready, click the button 'Let's rock'.</p>
  </body>
  <form action="/throw">
    <button>Let's Rock</button>
  </form>
  <!-- <a href="/name">Proceed</a> -->
</html>
