<!DOCTYPE html>
<html lang="en">
  <head>
    Hello, <%= @name %>! Welcome to Rock-Paper-Scissors-Lizard-Spock
  </head>
  <body>
    Welcome to Rock Paper Scissors Lizard Spock!
    Here are the rules!
    <img src='http://ih0.redbubble.net/image.8595474.1176/sticker,375x360.png'>
    When your ready, click the button 'Let's rock'.
  </body>
  <form action="/throw">
    <button>Let's Rock</button>
  </form>
  <!-- <a href="/name">Proceed</a> -->
</html>
