<!DOCTYPE html>
  <html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="/styles.css">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
      <div class="outer_container">
        <div class="inner_container">
          <div class="vs">
          <div style="display: flex; flex-direction: column; align-items: center; ">
            <h1><%= @human_name %></h1>
          </div>
          <h1>vs</h1>
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1><%= @computer_name %></h1>
          </div>
        </div>
          <h2>Choose your hand</h2>
          <div class="hand_selection">
            <form action="/rock" method="post">
              <input type="submit" name="rock" value="rock" class="btn btn-default">
            </form>
            <form action="/paper" method="post">
              <input type="submit" name="paper" value="paper" class="btn btn-default">
            </form>
            <form action="/scissors" method="post">
              <input type="submit" name="scissors" value="scissors" class="btn btn-default">
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>