<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <h1> That's not a real choice dude...</h1>
    <for< action="/play" method="get">
      <input type="submit" value="Try again?">
    </form>
  </body>
</html>
