<main>
  <h1>Welcome to Rock, Paper, Scissors!</h1>

  <p>
    Please enter your names below:
  </p>

  <form action="/new" method="post">
    <input type="text" name="player_1_name" placeholder="Player 1" autofocus>
    <br>
    <input type="text" name="player_2_name" placeholder="Player 2">
    <br>
    <label for="player_2_is_computer">
      Set Player 2 as computer: <input type="checkbox" name="is_computer">
    </label>
    <br>
    <input type="submit">
  </form>
</main>