<style>
  body {
          background-image: url("http://media2.giphy.com/media/ZrlFjwhclknWE/giphy.gif");
          background-repeat: repeat;
        }
</style>
<img src="http://i.imgur.com/EqlN342.jpg?1" align="center">
<br>
<br>
<br>
<form action="/play" align="center">
<label for="again">
<input type="submit" name="again" value="Play again!">
</label>
</form>
