<!DOCTYPE html>
<html>
<head>
  <title>The Rock Paper Scissors Game</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <link href="/reset.css" type="text/css" rel="stylesheet" />
  <link rel="icon" href="/img/rock.png" />
</head>
<body>
  <div class="container">
    <h1>Welcome to <br> Rock | Paper | Scissors</h1>
  </div>
  <%= yield %>
  <footer class="footer">Made by Manuela Sabatino</footer>
</div>
</body>
</html>
