<!DOCTYPE HTML>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
   <%= yield %>
  </body>
</html>
