<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet"> 
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class='box'>
      <%= yield %>
    </div>
  </body>
</html>