<!DOCTYPE html>
  <head>
    <title>Rock Paper Scissors</title>
    <meta charset = "UTF-8" />
  </head>
  <body>

  <%= yield %>

<!--   <h2> <%= session.inspect %> </h2>
  <br>
  <a href="http://localhost:9292">RACKUP</a> -->
  
  </body>
</html>
