<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.min.css">
    <script src="site.js" type="text/javascript"></script>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="container">
      <div class="row text-center" style="margin-top: 20px">
        <img src="rps.jpg" class="half-sized">
      </div>

        <div class="row text-center" style="margin-top: 20px">
          <div class="col-md-4"></div>
            <div class="col-md-4" >

              <%= yield %>

            </div>
          <div class="col-md-4"></div>
        </div>
    </div>
  </body>
</html>
