<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/preload.js"></script>
  </head>
  <body>
    <h1 class="page-title"><a href="/">Rock, Paper, Sizzle</a></h1>
    <%= yield %>
    <script src="scripts/main.js"></script>
  </body>
</html>
