<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>RockPaperScissorsLizardSpock</title>
  </head>
  <body>
    <h1>Rock Paper Scissors Lizard Spock</h1>
  <%= yield %>
  </body>
</html>