<!DOCTYPE html>
<html>
  <head>
    <title>Play RPSApp</title>
    <meta charset="utf-8">
    <link href='css/stylesheet.css' rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
