<!DOCTYPE html>
<html>
        <head>
                <title>Rock, paper, scissors</title>
                <link rel="stylesheet" href="/style.css">
        </head>
        <body>
                <%= yield %>
        </body>
</html>
