<!DOCTYPE html>
<html>
<head>
    <title>ROCK PAPER SCISSORS LIZARD SPOCK!</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css"
</head>
<body>

        <a href='/'>ROCK PAPER SCISSORS LIZARD SPOCK!</a>
        <br/>
        
    <%= yield %>

</body>
</html>
