<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<html>
  <head>
    <title>Rock, Paper, Scissors, Spock, Lizard</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <h1>Rock, Paper, Scissors, Spock, Lizard</h1>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
