<html>
  <head>
      <title>Rock, Paper, Scissors</title>
      <link rel="stylesheet" href="//netdna.bootstrap/3.0.3/css/bootstrap.min.css">
      <link href="/styles.css" type="text/css" rel="stylesheet" />
      <link rel="icon" href="/img/fist.png" />
    </head>
    <body>
      <div id="container">


      <%= yield %>
    </div>
  </body>
</html>