<% title="Rock Paper Scissors!" %>
<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
