<html>
  <head align="center">
    <title>Rock-Paper-Scissors Game!</title>
      <style>
        body {background-color: powderblue;}
        h1 {color: red;}
        h3 {color: blue;}
      </style>
  </head>
  <body align="center">
    <h1>Rock-Paper-Scissors Game!</h1>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
