<!DOCTYPE HTML>
<html>
<head>
  <!-- Styles -->
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style>

      body {
        background-color: #1abc9c;
        color: #ffffff;
      }
      h1 {
        font: 40px "Lobster Two", sans-serif;
      }
      h2, p, form {
        font: 20px "Montserrat", sans-serif;
        display: inline-block;
      }
      #form1 {
        display: inline-block;
      }
      .btn {
        color: #595959;
        margin-left: 10px;
        margin-right: 10px;
      }
      .glyphicon, {
      font-size: 30px;
      display: inline-block;
      }
      #large-glyph {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 60px;
        display: inline-block;
      }

    </style>
    
</head>

  <body>

  <%= yield %>

  </body>
  </html>
