<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rock Paper scissors</title>
  <meta charset="utf-8">

<link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: #c0deed;">
<%= yield %>
</body>
</html>