<head>
  <title>Rock, Paper, Scissors, Lizard, Spock</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body class="general-width">
  <%= yield %>
</body>


