<!DOCTYPE html>
  <html>
  <head>
    <title>Rock Paper Scissors </title>
    <link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Unkempt|Love+Ya+Like+A+Sister|Poor+Story|Simonetta&display=swap" rel="stylesheet">  </head>
<link rel='stylesheet' media='screen and (max-device-width: 414px)' href='phone.css' />
    <body>
        <div id="page-container">
            <div id='header'>
                 Rock * Paper * Scissors 
            </div>
             
                <div id='index'>
                <%= yield %>
                </div>
               
             <div id='footer'>
                made by <a href="https://github.com/Mrtly" target="_blank">Mrtly</a> with &#129505;
            </div>
        </div>
  </body>
  </html>