<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPS Game</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <div class="container">
    <div class="columns is-mobile is-centered is-align-items-center" style="height: 100vh">
      <div class="column is-half has-text-centered">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>