<html>
  <head>
    <title>RPS Challenge</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>Rock Paper Scissors</h1>
    <br><br>
    <div class="line"></div>
    <%= yield %>
    <script src="js/bootstrap.min.js"></script>

    <footer>
      <div class="line"></div>
      <br>
      <p>Created by: Tony Young whilst at <a href="http://www.makersacademy.com/">Makers Academy</a></p>
      <p>Github: <a href="https://github.com/TY231618">TY231618</a></p>
    </footer>
  </body>
</html>
