<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="/assets/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <div>
          <img src="/assets/logo.png" style="max-width:100%;max-height:100%;">
        </div>
      </div>
    </div>

    <br>

    <div id='main'>
      <%= yield %>
    </div>

  </body>
</html>
