<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rock Paper Scissors</title>
</head>

<body>
  <header>
    <h1><a href="/">ROCK PAPER SCISSORS</a></h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>
</body>

</html>
