<html>
  <head>
    <title>My Page</title>
    <link href="<%= url("/css/stylesheet.css")%>" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
