<!DOCTYPE html>
<html>
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <body>
    <center>
    <img src="/images/rps.png" alt="Battleships" align="middle">
    <br>
    <br>
    <%= yield %>
    </center>
  </body>
</html>
