<!DOCTYPE html>
<html>
<head>

<title>Battleships</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

</head>

<body>
  <!-- <div id="main"> -->
    <%= yield %>

</body>

</html>
