<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <h1><a href="/">Rock, Paper, Scissors</a></h1>
    <%= yield %>
    <script src="scripts/main.js"></script>
  </body>
</html>
