<!DOCTYPE html>
<head>
  <title>RockPaperScissors!</title>
  <link href="css/fonts/gooddog_regular_macroman/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <section class="top-bar">
    <a href="/">
      <h1>Rock, Paper, Scissors</h1>
    </a>
  </section>
  <%= yield %>
</body>