<!doctype html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <link href="/style.css" rel="stylesheet" type="text/css"/>
  <style>
  html, body {
    font-family: arial, sans-serif;
    height: 100%;
  }
  #wrapper {
    width:960px;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -50px;
  }
  * {
    margin: 0;
  }
  footer, .push {
      height: 50px;
  }
  .central {
    width:960px;
    margin: 0 auto;
  }
  h1 {
    margin: 10px 0 0 0;
  }
  h2 {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
  </style>
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Rock Paper Scissors</h1>
    <h2>Show us your mad skills!</h2>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <div class="push"></div>
</div>
<footer class="central" >
  <p>Designed by Jade King</p>
</footer>
</body>
</html>
