<!DOCTYPE html>
  <html>
    <head>
      <title>RPSLS</title>
      <link href='/css/rpsls.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <header>
        <h1> This game is Rock-Paper-Scissors-Lizard-Spock! </h1>
      </header>
      <main>
        <%= yield %>
      </main>
    </body>
  </html>
