<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/myStyles.css">
    <h1 id="top_header"> Rock Paper Scissors Lizard Spock</h1>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
