<!DOCTYPE html>
<html>
  <head>
    <style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background-color: #b0e0e6;
    }
    </style>
  </head>
  <body>
    <div class="center">
      <p><%= yield %></p>
    </div>
  </body>
</html>
