<html>
  <head>
    <title>RPS Challenge</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>Rock Paper Scissors</h1>
    <br><br>
    <div class="line"></div>
    <%= yield %>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
