<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>
  <h1> Rock, Paper, Scissors </h1>
  <img src="./public/Images/rps.png" alt="picture">
  <section class = "yield">
  <%= yield %>
  </section>
</body>