<!DOCTYPE html>
<html>
  <head>
    <title>rock..paper..scissors</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
  <div class="rps">
    <img src="images/rps.png" alt="Rock, Paper, Scissors" />
    <h1>rock.. paper.. scissors</h1>
  </div>

  <%= yield %>
  </body>
</html>
