<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
    <title>Rock, Paper, Scissors, Lizard, Spock</title>
  </head>
  <body>
    <div class="header">
      <h2>Rock, Paper, Scissors, Lizard, Spock</h2>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>