<!DOCTYPE html>
<html>
  <head>
    <title> Rock Paper Scissors Spock Lizard app </title>
    <link rel="stylesheet" href="./stylesheets/application.css">
  </head>
  <body>
   <div class="layout">
    <div>
      <img id="main-image" src="/img/rpssl-2.jpeg" alt="game picture" width="500px" height="321px">
    </div>
  </div>
    <%=yield%>
    </body>
  </html>