<!doctype html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <link href="./styles.css" rel="stylesheet" type="text/css"/>
  <style>

  </style>
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Rock Paper Scissors</h1>
    <h2>Show us your mad skills!</h2>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <div class="push"></div>
</div>
<footer class="central" >
  <p>Designed by Jade King</p>
</footer>
</body>
</html>
