<!DOCTYPE HTML>
<head>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/style.css'>
  <title>Rock Paper Scissors Lizard Spock</title>
</head>
<body>
<h1><div class='title'>Rock
      <div class='title'>Paper
        <div class='title'>Scissors
          <div class='title'>Lizard
            <div class='title'>Spock
            </div>
          </div>
        </div>
      </div>
    </div>
  </h1>
  <div class='table'><div class='yield'><%= yield %></div></div>
</body>
