<!DOCTYPE html>
<html>
<head>

<title>RPSLS</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

</head>

<body>
  <!-- <div id="main"> -->
    <%= yield %>

</body>

</html>
