<html>
  <head>
    <title>RPS</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
