<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" href="rps.css" type="text/css" />
</head>

<body>
  <header>Rock Paper Scissors</header>
  <%= yield %>
</body>

</html>