<html>
  <head>
    <link href='/css/bootstrap.css' rel='stylesheet'>
    <link href='/css/bootstrap-responsive.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>
  <head>

  <body>
    <div class ='container' id ='top'>
      <div class='jumbotron'>
         <%=yield%>
      </div>
    </div>
  </body>
</html>