<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Londrina+Shadow&family=Press+Start+2P&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/drop-in.css">
  <link rel="stylesheet" href="/application.css">

  <title>Super Rock-Paper-Scissors</title>
</head>

<body>
  <header>
    <h1>Super Rock-Paper-Scissors Turbo Alpha</h1>
    <nav>
      <ul>
        <!-- <li><a href="#">LINK 1</a></li>
        <li><a href="#">LINK 2</a></li> -->
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p> </p>
  </footer>
</body>
</html>
