<!DOCTYPE html>
<html>
  <head>
    <title>R:P:S</title>
    <link rel="stylesheet" href="./css/rps-style.css" />
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
