<!DOCTYPE html>
<html>
  <head> 
    <title> RockPaperScissors! </title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/board.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class='topbar'> <div class='logo'></div>  </div>
    <%= yield %>
  </body>
</html>