

<html>
  <head>
    <title> My RPS GAME </title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li> RPS </li>
          <li> How this works </li>
        </ul>
      </nav>
    </header>
    <div id='main'>
      <%= yield %>
    </div>
    <footer>
      <p> MA </p>
    </footer>
  </body>
</html>
