<html lang='en'>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill&display=swap" rel="stylesheet">
  </head>

  <body>
    <center>
    <div>
      <h1>Rock, Paper, Scissors...</h1>
        <%= yield %>
      </div>
  </body>
</html>