<html>
  <head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet"/>
    <title>
      Rock, Paper, Scissors
    </title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>