<!doctype html>
<html>
	<head>
		<title>Rock, Paper, Scissors, Spock, Lizard</title>
		<meta charset="utf-8">
		<meta name="description" content="An online game">
		<link href="css/lanes.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<header>
      <h1>Rock, Paper, Scissors, Spock, Lizard</h1>
		</header>
    <div class='main'>
      <%= yield %>
    </div>

    <section>
      <h2> The rules of the game </h2>
      <img scr="images/rock-paper-scissors-lizard-spock.png">
    </section>

  </body>
</html>
