
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:700,400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="foundation.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Rock! Paper! Scissors!</title>
  </head>

  <body>
        <%= yield %>
  </body>
</html>
