

<html>
  <head>
    <title> My RPS GAME </title>
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/choice.css" />
    <link rel="stylesheet" type="text/css" href="css/name.css" />
    <link rel="stylesheet" type="text/css" href="css/outcome.css" />
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li> RPS </li>
          <li> How this works </li>
        </ul>
      </nav>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
