<!doctype html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <div class="container head">
      <h1>Rock! Paper! Scissors!</h1>

    </div>
    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
