<!DOCTYPE html>
<html>
  <head>
    <title> Rock Paper Scissors Spock Lizard app </title>
    <link rel="stylesheet" href="./stylesheets/application.css">
  </head>
  <body>
    <%=yield%>
    </body>
  </html>