<center>
<h1> <%= @player_1.name %> vs. <%= @player_2.name %> </h1>

<br>
<form action="/play" method="get" >
  <input type="submit" value="Lets Play!">
</form>

<img src= "https://www.pinclipart.com/picdir/big/176-1761475_mickey-rock-paper-scissors-mickey-mouse-hands-clipart.png" style="transform:rotate(-90deg);">

</center>