<h1> Welcome <%= $name%>. Let's play Rock Paper Scissors!</h1>

<form action ='/RPS' method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>