<h1>Hi!<%= @player.name %></h1>

<h2>Pick one of the following options</h1>

<form action="/result-rock" method='get'>
    <input id='home' type="submit" value="Rock" />
</form>
<form action="/result-paper" method='get'>
    <input id='home' type="submit" value="Paper" />
</form>
<form action="/result-scissors" method='get'>
    <input id='home' type="submit" value="Scissors" />
</form>

<!-- <form action="/play" method='get'>
    <input id='home' type="submit" value="go back to battle" />
</form> -->
