<title>Rock Paper Scissors Lizard Spock</title>
<style>
body {
    background-color: #b7c8e2;
}
</style>
<h1><%=@rps.result%></h1>
<br>
<h2><%=@name%> chose Lizard! Computer chose <%=@rps.weapons[:computer]%>!</h2>
  <br>
  <h3>The rules:</h3>
  <h4>Scissors cuts paper.</h4>
  <h4>Paper covers rock.</h4>
  <h4>Rock crushes lizard.</h4>
  <h4>Lizard poisons Spock.</h4>
  <h4>Spock smashes scissors.</h4>
  <h4>Scissors decapitates lizard.</h4>
  <h4>Lizard eats paper.</h4>
  <h4>Paper disproves Spock.</h4>
  <h4>Spock vaporizes rock.</h4>
  <h4>Rock crushes scissors.</h4>
  <br>
  <form action='/play'>
    <input type='submit' value='Play again'>
  </form>
