<div style="text-align: center">
  <H1>Welcome to the RPS Lobby!</H1>
    <br>
  <form action="/new" method="post">
    <label for="game_name">
      Please enter a name for your game:
      <input type="text" name="game_name">
    </label>
    <input type="submit" value="Create new game">
    <label><input type="checkbox" name="ai" value="true">AI opponent?</label>
  </form>
  <H3>Or alternatively...</H3>
  <table style="margin-left:auto; margin-right:auto;padding:15px;" border="1">
    <tr>
      <th scope="column"> Game Name </th>
      <th scope="column"> Still Open? </th>
    </tr>
    <% @games.each do |g| g.to_table_row %>
      <%= g.to_table_row %>
    <% end %>
  </table>
  <br>
  <form action="/join" method="post">
    <label for="game_name">
      Please enter the name of the game you'd like to join:
      <input type="text" name="game_name">
    </label>
    <input type="submit" value="Join existing game">
  </form>
  <p style="color:cornflowerblue">Players currently in the lobby: <%= @player_names %></p>
</div>