<body>
<style>
  body {
    background-image:url('http://js.itivy.com/jiaoben1104/images/escheresque_ste.png');
    }
</style>


<%=@game.player1.name%>
<%=@game.player2.name%>


<form action='/playground'>
<input type=submit value='Lets Rock!'>
</form>
</body>
