<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<center>
<body>
  <h1>Please enter your name below:</h1>
  <form action="/player_name" method="post">
    <input type="text" id="name" name="name">
    <button type="submit" value=Submit>Submit</button>
  </form>
</<body>
</center>
