<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<center>
<body>
  <h1>Please enter your names below:</h1>
  <form action="/player_names" method="post">
    <input type="text" id="player_1_name" name="player_1_name">
    <input type="text" id="player_2_name" name="player_2_name">
    <button type="submit" value=Submit>Submit</button>
  </form>
</<body>
</center>
