
<h1> Rock Paper Scissors </h1> <br>
<h3> Please input your name to start
<form action='/name' method='post'>
  Name: <input type='text' name='name'>
  <input type='submit' value='submit'>
</form>
</h3>
