<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>rock paper scissors</title>
    <body style="background-color:black;">

  </head>

  <body>


    <style>
      body {
        text-align:center;
        margin-top: 200px;
        margin-bottom: 200px;
        color: red
      }
    </style>

    <b><font size="6">Welcome to rock, paper, scissors</font></b><br>

    <br><form action="/player_info" method="post">
      Player name: <input type="text" name="name" />
      <input type="submit" value="Submit" />
    </form>

  </body>
</html>
