<h2> Now, what is your name? </h2>

<form action = '/login_single' method='post'>
  <label for='player1'>Player1:
    <input type='text' name='player1'>
  </label>
  <button type='submit'>Submit'</button>
</form>
