<form action='/login' method='post'>
  <label>
    Player Name:
    <input type='text' name='player_name'>
  </label>
  <input type='submit' value='Play!'>
</form>

<form action='/2p_login' method='post'>
  <label>
    Player 1:
    <input type='text' name='player1_name'>
  </label>
  <label>
    Player 2:
    <input type='text' name='player2_name'>
  </label>
  <input type='submit' value='Play! (2Player)'>
</form>
