<h2> Now, what is your name? </h2>

<form action = '/login' method='post'>
  <label for='player'>Player:
    <input type='text' name='player'>
  </label>
  <button type='submit'>Submit'</button>
</form>
