<style>
  body {
    background-image:url('http://js.itivy.com/jiaoben1104/images/escheresque_ste.png');
    }

  div {
    position: fixed;
    width: 10em;
    top: 18%;
    left: 38%;
    border: 5px solid gray;
    padding: 1em;
    padding-top: 0em;
    align-text: center;
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: 5px 5px black;
    background-color: white;
  }

  #btn {
      font-size: large;
  }
</style>

<div>
    <form action='/names' method='post'>
        <center><h2> Sign Up </h2>
        <h4>Player 1</h4>
        <input type=text name=player1><br><br>
        <h4>Player 2</h4>
        <input type=text name=player2><br><br><br>
        <input id=btn type=submit value=Submit></center>
    </form>
</div>
