<head>
  <title>RPSLS</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="title">
    <span class="dark_grey">ROCK</span>
    <span class="orange">PAPER</span>
    <span class="light_grey">SCISSORS</span>
    <span class="blue">SPOCK</span>
    <span class="violet">LIZARD</span>
  </div>

  <div id="game_area">
    <div class="login_container"><br><br>
      <form action="/name" method="POST">
        <div class="login_centre">
          <input type="Text" name="player_name" placeholder="Player name" class="box">
        </div>
        <div class="start_centre">
          <input type="submit" id="Submit" value="Start!" class="button">
        </div>
      </form>
    </div>
  </div>

<div id="button_bar" />

</body>
