<body>
<h1> You chose <%=@game.player_choice%>! </h1>
<h1> Bob the computer chose <%=@game.computer_choice%>! </h1>
<h1> <%=@game.computer_choice.capitalize%> beats <%=@game.player_choice.capitalize%>! </h1>
<h1> You Lose! </h1>
<form action="/play" method="get">
<input type="submit" value="Play Again!">
</form>
</body>

<style>
body{
  background-image: url("http://66.media.tumblr.com/tumblr_len5kjmntk1qaa4h7o1_1280.gif");
}
</style>
