
<main id="lose">

<div class="background-image"></div>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <h3><%= @game.player_one.name %> chose: <%= @game.player_one.move %></h3>
    <h3><%= @game.player_two.name %> chose: <%= @game.player_two.move %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <h1>You Lose!</h1>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
  <nav id="new-game">
    <form action='/play' method="get">
        <input type="submit" value="another round?">
    </form>

    <form action='/' method="get">
        <input type="submit" value="new player">
    </form>
  </nav>
  </div>
</div>


</main>
