<html>
  <h1>Shiiiiit mate- you lost..</h1>
  <h2>Specifically, you got the shit beaten out of you by the computer's choice of <%=  @game.one_player.computer_choice %>
    because of your retarded choice of <%= @game.one_player.choice %></h2>
  <form action="/one_play" method="get">
    <input type="submit" value="Try again?">
  </form>
</html>
