<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @player %> loses </title>
  </head>
  <body>
    <div>
      You chose <%= @player_choice %>
      Sorry, you lost!
    </div>
  </body>
</html>
