<head>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="col-md-12a text-center">
      <h1><a href="/game">You Lose!</a></h1>
      <br>
      <h3><%=@comp_choice%> beats <%=@choice%>!</h3>
    </div>
  </div>
</body>
