<html>
<head>
<style>
body {
  background-image: url('https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg');
}
</style>
</head>
<body>
<center> <h1 style="font-family:verdana;">You lost!
<br>
Would you like to play again?
</h1>
<form action='/rps'>
<input type="submit" value="Of Course!">
</form>
</center>
</body>
</html>