<!DOCTYPE html>
<html>
<head>
<!-- Link Rel here-->
<!-- <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" type="text/css" href="style.css" />
  <!-- Google fonts: 'Open Sans'-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="box">
    <h1>You <span class="blue-text">Lose!</span></h1>
    <h2> You chose <%= @game.player.player_move%> </h2>
    <h2> Kitty chose <%= @game.opponent_move%> </h2>
    <a href="/play">Let's play again</a>
  </div> <!-- Close box -->
</body>
</html>
