<div align="center">
  <style>
  body {background-color: lightgrey;}
  h1   {color: crimson;}
  p {color: crimson;}
  </style>

  <h1><%= @name %> loses!</h1>

  <a href="/vanilla" id="Restart">
    <button>Return to title page</button>
  </a>
  <br>
  <a href="/play" id="Restart_Single">
    <button>Restart singleplayer Rock Paper Scissors</button>
  </a>
  <br>
  <a href="/multiplayer" id="Restart_Multi">
    <button>Restart multiplayer Rock Paper Scissors</button>
  </a>
  <br>
  <a href="/rpsls_play" id="RPSLS_Restart_Single">
    <button>Restart singleplayer Rock Paper Scissors Lizard Spock</button>
  </a>
  <br>
  <a href="/rpsls_multiplayer" id="RPSLS_Restart_Single">
    <button>Restart multiplayer Rock Paper Scissors Lizard Spock</button>
  </a>
  <br>
</div>