<h1> Weeh weeh weeh.. You're a loser ! </h1>

<p> <%=@player1_name %> chose: <%=@player1_move %> </p>
<p> <%=@player2_name %> chose: <%=@player2_move %> </p>

<p> -------------- LOSER! -------------- </p>

<form action='/play'>
  <input type='submit' value ='Play again'/>
</form>
