<body style="background-color:lightyellow;">
<h1> <%= @player_1_name %> chooses <%= @weapon_choice %></h1>
<h1> Computer chooses <%= @computer_choice %></h1>
<h1>You lose sucker!!</h1>
<img src="https://i.ytimg.com/vi/kVlHBU4vAvs/hqdefault.jpg">
<h3>Want some more pain loser?</h3>
<form action="/play">
  <input type="submit" value="Yes, bring it on">
</form>

<form action="/">
  <input type="submit" value="Maybe next time">
</form>
