<h1> <%= @game.player.name %> picked <%= @game.selection %> </h1>
<h1> Computer picked <%= @game.computer_choice %> </h1>
<h2> <%= @game.player.name %> lost, Computer wins! </h2>

<img src="https://media4.giphy.com/media/M11UVCRrc0LUk/giphy.gif"/>