You selected <%=@game.player_1.weapon.capitalize%></br>
Computer selected <%=@game.player_2.weapon.capitalize%></br>
You lose!
 <form action="/play" >
      <input type="submit" value="Yes, please">
  </form>