<h2>You played <%=@player.choice%>. Computer played <%=@computer.choice%>.</h2>
<h3>You lose!</h3>

<form name="input" action="/choose" method="get">
  Play again? <input type="submit" value="Yes please!">
</form>
