<h2>In this round of RPS: <%= @name1 %> vs. <%= @name2 %>, <%= @name1 %> is the LOSER!</h2>

<img class="front-picture" src="http://jokideo.com/wp-content/uploads/2012/01/396600_10150660228003465_129446698464_11298571_2129231544_n.jpg">
