<body>
  <div class="upper">
    <h1>
      <p>Oh no!</p>
    </h1>
  </div>
  <div class="lower">
    <h2>
      <p>You lost!</p>
      <form action="/">
        <input type="submit" value="Go again?">
      </form>
    </div>
  </body>

  <style>

  body {
    background-image: url('http://66.media.tumblr.com/9cb3e9f6f8f767e60cf4b0a27ffcb53d/tumblr_o408itopxf1qdvwefo1_1280.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
    background-color: #E494E5;
  }

  .upper {
    color: #0B3240;
    text-align: left;
    float: left;
    padding-left: 225px;
    padding-top: 300px;
    font-family: 'Monaco', monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;

  }

  .lower {
    color: #0B3240;
    text-align: right;
    float: right;
    padding-right: 225px;
    padding-top: 300px;
    font-family: 'Monaco', monospace;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
  }

  </style>
