<head>
<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>

<body>

  <h3> You chose <%= @game.player.choice %>! Computer chose <%= @game.computer.choice %>!</h3>

  <h1> You LOST! </h1>

</body>
