
<!DOCTYPE html>
<html>
  <body>
    <head>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
    </head>

<h1 class="led-yellow">
  YOU LOST !!!
</h1>

<h2>
  You have selected
  <%= @player_selection %>
</h2>
<br>
<h2>
  The computer has selected
  <%= @computer_selection %>
</h2>

</body>
</html>
