<style>
h2 {
  color: black;
  font-family: "Monaco";
  font-size: 150%;
  background-color: powderblue;
}

h3 {
  color: black;
  font-family: "Lucida Handwriting";
  font-size: 100%;
  background-color: powderblue;
}
body {
  background-color: powderblue;
}
</style>

<h2> <%= $player1.name %> chose <%= @player1_move %> </h2>

<h2> <%= $player2.name %>  chose <%= @player2_move %> </h2>

<h3> Better luck next time!</h3>

<img src="https://i.imgur.com/1wkCtwj.jpg" title="source: imgur.com" /></a>