<html>
  <head>
    <title>You loose!</title>
  </head>
  <body>
    <h2>You loose!</h2>
    <h3>You chose: <%= @choice.capitalize %>, Your opponent chose: <%= @game.computer_choice.capitalize %></h3>
  </body>
</html>