<div>
  You called <%= @game.choice %>, Mr.Squiggles called <%= @game.random %>
  HA! You LOST!<br>
  Surely you won't walk away in defeat while Mr.Squiggles pulls rasberries<br>
  <a class="btn" href="/start">START AGAIN</a><br>
  <a class="btn" href="/">START WITH NEW NAME</a>
</div>
<link rel="stylesheet" type="text/css" href="/styling.css" >
