<div style='color: #dd3b2a; font-size: 40px; font-weight: 500'>
Result of match between <%= @game.player_name %> and RPS-Bot:
</div>
<BR>
<BR>
<%= @game.player_name %>, you lost the match to RPS-Bot :(
<BR>
<BR>
<%= @game.player_choice %> loses to <%= @game.computer_choice %>
