<h1 style="color:green">Welcome to the battle of your life, <%= $player_1 %>!</h1>
<h2>Pick your warrior:</h2>

rock, paper or scissors
<h3></h3>
<form action="/battle" method="post">
  <input type="submit" value="rock" name="player_answer">
</form>

<form action="/battle" method="post">
  <input type="submit" value="paper" name="player_answer">
</form>

<form action="/battle" method="post">
  <input type="submit" value="scissors" name="player_answer">
</form>
