<h1 align="center">BATTLE!!</h1>
<form action="/p1_name_entry">
    <input type="submit" value="1 Player" />
</form>
<!-- <form action="/p2_name_entry">
    <input type="submit" value="2 Player" />
</form> -->
