
<p1><%= "Player's name is :#{@player}"%> <p1>



<form action = "/move_page" method ="post">
  <button name = "rock" type = "submit" value = "rock">Rock</button>
</form>


<form action = "/move_page" method = "post">
  <button name = "scissors" type = "submit" value = "scissors">Scissors</button>
</form>


<form action ="/move_page" method = "post">
  <button name = "paper" type = "submit" value = "paper">Paper</button>
</form>
