<center><font color=red><%= @error if @error%></font>
<div><center><font size=10>
  Enter your move! Rock, paper, scissors, lizard or spock?!</font><center></div><br>
    <center><form action='/result' method='get'>
    <input type='text' name='move'>
  <div>
    <center><font size=10>
        Enter your name! <br>
      <input type='text' name='name'><br>
      <center><input type='submit' value='Submit'>
</form>
