<h1> Welcome <%= params[:name] %>, Choose your weapon! </h1>
<a href='/result?choice=rock' id='rock'><img width='20%' height='20%' src='/images/rock.jpg'></a>

<a href='/result?choice=paper' id='paper'><img width='20%' height='20%' src='/images/paper.png'></a>

<a href='/result?choice=scissors' id='scissors'><img width='20%' height='20%' src='/images/scissors.jpg'></a>