<div>
  Enter your move! Rock, paper or scissors?!

  <form action='/result' method = 'get'>
  <input type = 'text' name = 'move'> 

  Enter your name!
  <form action='/result' method = 'get'>
  <input type = 'text' name = 'name'>
  <input type = 'submit'>
  </form>
</div>
