<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="mama.css">
  <title>MAMA</title>
</head>
<body>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GEvLye15sq0?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" hidden></iframe>
  <div class=everlasting>
    <img src="https://media.giphy.com/media/3oEdv67AXWYsTqrnbi/giphy.gif" width="30%" height="20%">
    <img src="https://media.giphy.com/media/3O7w4CQPbPsMU/giphy.gif" alt="">
    <img src="https://media.giphy.com/media/BlcWQ9L2VfOFO/giphy.gif" alt="">
  </div>
  <div class="easter">
    <p id="egg">WELCOME TO MAMA. CAN YOU SEE?</p>
  </div>
</body>
</html>