<!DOCTYPE html>
<html>
  <body>
    <h2>Match</h2>
    <div>
    <img src="<%= @game.player1.choice.img %>"> vs.<img src="<%= @game.player2.choice.img %>">
    </div>
    <div>
      <%= @game.player1.name%> vs. <%= @game.player2.name%>
    </div>
    <form action="/game-over" method="post">
      <input type="submit" value="FIGHT!">
    </form>
  </body>
</html>