
<h3> Welcome <%= @player1.name %> what would you like to play?</h3>

    <form action="/result" method="post">
      </br>
      </br>
      <button type="submit" value="rock" name="player1">ROCK</button>
      </br>
      </br>
      <button type="submit" value="paper" name="player1">PAPER</button>
      </br>
      </br>
      <button type="submit" value="scissors" name="player1">SCISSORS</button>
    </form>
    </h3>

  