<html>
<head>
<title> RPS - Match </title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  maintext {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 30px;
  }

  textarea {
    font-size: 35px;
  }

  button {
    font-size: 35px;
    width:200px;
    height:50px;
    color:red
  }

</style>
</head>
<body>
  <header>
    <h1> Lets Play Rock Paper Sissors </h1>
  </header>
  <maintext>
    <h3> Welcome <%= @player_name %> what would you like to play?</h3>
    <form action="/result" method="post">
      </br>
      <button type="submit" value="rock" name="player">ROCK</button>
      </br>
      <button type="submit" value="paper" name="player">PAPER</button>
      </br>
      <button type="submit" value="sissors" name="player">SISSORS</button>
    </form>
  </maintext>
</body>
</html>
