<h2>Match</h2>
<img src="<%= @game.player1.choice.img %>"> 
vs.
<img src="<%= @game.player2.choice.img %>"> 
<br />
<div>
  <%= @game.player1.name%>
 vs. 
  <%= @game.player2.name%>
</div>
<form action="/game-over" method="get">
  <input type="submit" value="FIGHT!">
</form>