<%= @name %> - select an option:
<p></p>

<form action='/set_selection' method='post'>
  <input type='submit' name='player_selection' value='Rock'>
  <input type='submit' name='player_selection' value='Paper'>
  <input type='submit' name='player_selection' value='Scissors'>
</form>