<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="rps_style.css">
</head>

<body>
<div align=center>
  <h1 class="menu"> Rock / Paper / Scissors <br>
    / Lizard / Spock </h1>
  <h2> Select an Option: </h2>
  <form action="/input" method="post">
    <input class="another" type="submit" name="game_type" value="Single-Player">
  </form>
  <form action="/input" method="post">
    <input class="another" type="submit" name="game_type" value="Multi-Player">
  </form>
</div>
</body>
</html>
