<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="rps_style.css">
</head>

<body>
<div align=center>
  <h1> Rock / Paper / Scissors </h1>
  <form action="/singleplayer" method="post">
    <input class="another" type="submit" value="Single-Player">
  </form>
  <form action="/multiplayer" method="post">
    <input class="another" type="submit" value="Multi-Player">
  </form>
</div>
</body>
</html>
