<head>
<link rel="stylesheet" type="text/css" href="/style.css"
</head>
<div>
<form action="/2play_names" method="post">
  <p>Please enter both of your names:</p>
  <input type="text" placeholder="Player 1" name="player_one"> First name<br>
  <br>
  <input type="text" placeholder="Player 2" name="player_two"> Second name<br>
  <input type="submit" value="Submit">
</form>
</div>
