<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>RPS Challenge</title>
    <link rel='stylesheet' href='styles.css'/>
  </head>
  <body>
    <div class='container'>
      <div class='page'>
        <div class='index-heading'>
          <h1>Choose from the options below</h1>
          <form class='menu' action='/menu' method='post'>

          </form>
        </div>

      </div>
    </div>
  </body>
</html>
