<h1 align="center">BATTLE!!</h1>
<h2 align="center">Enter your name, challenger!</h2>
<form align="center" action='/names' method='post'>
  <label for= 'Challenger'>Name:<label>
    <input type= 'text'  name= 'Challenger'>
  </label>
  <div align="center">
    <input type= 'submit' value= 'Battle!'>
  </div>
</form>
