<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  <h1>PSYDUCK'S MOVE</h1>
</head>
<body>
  <img src="https://i.pinimg.com/originals/ea/a0/a8/eaa0a8bb3e095dc283e3c00c2a28a592.gif">
  <form action="/move2" method="get">
    <input id="battleButton" type="submit" value="SEE WHAT PSYDUCK ROLLS">
  </form>
</body>
</html>
