<h1>Rock Paper Scissors</h1>
<form action="/mode" method="post" class="flex_col form_container">
<div class="flex_row">
  <input type="submit" value="multiplayer" id="multi-id" name="game_mode">

  <input type="submit" value="singleplayer" id="single-id" name="game_mode">
</div>
</form>