<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/mode.css" />
</head>


<body>
<h1> Choose your game mode! </h1><br><br>

<div class="left">
<form action="/game" method="get">
  <input type="submit" value="Player vs Computer">
</form>
</div>

<div class="right">
<form action="/game_vs" method="get">
  <input type="submit" value="Player vs Player">
</form>
</div>

</body>

<style>

body{
  background-image: url("http://www.artworkscincinnati.org/media/RockPaperScissors.jpg");
}

</style>
