
<!DOCTYPE html>
<html>

<head>



<center>
  <div>
    <img src="/images/rps.png">
  </div>

<div>
  <form style="text-align:center; font-family:courier;" method="post" action="/mode">
<select name='Modeselector'>
  <option value="Regular">Regular</option>
  <option value="Hard">Hard</option>
</select>
</div>
<div>
  <select name='Playselector'>
    <option value="1">1 Player</option>
    <option value="2">2 Player</option>
</select>
</div>
<div>
<img src="/images/Rock.png">
<img src="/images/Paper.png">
<img src="/images/Scissors.png">
</div>


<div>
<input type="submit" value="OK" />
</form>
</div>
