<table style='width:100%; text-align:center'>
  <th> Choose game mode </th>
  <tr>
    <td>
      <form action='/single_player'>
      <input type='submit' value='Single Player'>
      </form>
    </td>
    <td>
      <form action='/player_2_name'>
      <input type='submit' value='Multiplayer'>
      </form>
    </td>
  </tr>
</table>