<html>
  <body style = "Background: url(https://wp-assets.futurism.com/2014/05/rock-paper-scissors.jpg); background-size: 100% 100%">
    <center>
      <h3><%=@player1%> chose <%= @move %> </h3> 
      <h3>Opponent chose <%= @Opponent_move.to_s.capitalize %>  </h3> 
      <form method= "GET" action= '/play'>
        <input type= "submit" value= "Play Again!">
      </form>
      <form method= "GET" action= '/'>
        <input type= "submit" value= "Exit">
      </form>
    </center>
  </body>
</html>
