<form action="/calculating" method="post">


  <style>

  .center {
      margin: auto;
      background-color: lightblue;
      width: 40%;
      border: 3px solid black;
      padding: 30px;
  }
  </style>


<body>
  <div class="center">
  <h1>Rock, Paper, Sissors - GO!</h1>
  <select name="selection" style="width: 100px">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="sissors">Sissors</option>
  </select>

    <input type="submit" value="Submit">

</div>

</body>






    </form>
