<h1> Welcome <%= @name %> </h> 

<h2> Lets begin! Pick Rock, Paper or Scissors... </h1>

<form action=/outcome_rock method="get">
  <input type="submit" value="Rock">
</form>

<form action=/outcome_paper method="get">
  <input type="submit" value="Paper">
</form>

<form action=/outcome_scissors method="get">
  <input type="submit" value="Scissors">
</form>