<% if @player1.selection %>
<%= @player1.name %> picked <%= @player1.selection %>
<br>
<% end %>
<% if @player2.selection %>
<%= @player2.name %> picked <%= @player2.selection %>
<br>
<% end %>
<a href = "/play" id = 'ok'><button>Okay</button></a>
