<h2> <%= @game.player.name.capitalize %> you picked <%= @game.player.move.capitalize %></h2>
<p> <form action='/winner' method='get'> </p>
 <p><input type='submit' id='submit' value='See computer move'> </p>
 </form>
