<form action= "/name", method="post">
  <%= @name %> what is your move?
  <select name=move>
  <option value="R">Rock</option>
  <option value="P">Paper</option>
  <option value="S">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
