<h1>Pick a move:</h1>

<%@game.cpu%>
<form action='/result'>
  <button type="submit" value="rock">Rock</button>
  <button type="submit" value="paper">Paper</button>
  <button type="submit" value="scizzors">Scizzors</button>
</form>