<h1> <%= @player1 %> </h1> <br>
<h2> Select your move </h2>
<form action="/choice" method="post">
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
  </form>
