<h1>You chose <span style="color: red"><%= @player_move %></span>!</h1>

<h1>Your opponent chose <span style="color: blue"><%= @opponent_move %></span>!</h1>

<h1><span style="color: orange"><%= @game.winner %></span></h1>

<form action="/" method="get">
<input type="submit" value="Play again!">
