<h1>You picked <span style="color: fuchsia"><%= @player_move %></span>!</h1>

<h1>The computer picked <span style="color: blueviolet"><%= @computer_move %></span>!</h1>

<h1><span style="color: darkorchid"><%= @game.winner %></span></h1>



<img src="https://media.giphy.com/media/JQAXhJMw2WbKWYjn8g/giphy.gif">


<form action="/" method="get">
<input type="submit" value="Play again!">
