<h1> <%= @player1 %> vs. <%= @bot %> </h1>
<h2> Select your move </h2>
<form action="/choices" method="post">
    <input type="text" placeholder="rock,paper,or scissors?" name="choice1">
    <input type="submit" value="Let's play!">
  </form>
