<h1><%= $game.player_1.name %> and  <%= $game.player_2.name %> have picked! </h1>
<h2>Let's see the results!</h2>
  <form action="/fight_mp">
  <input type="submit" value="Let's Pick a Fight!">
  </form>