<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1> </h1>
  <h2> <%= $videogame.player_1.name %> move: <%= $videogame.player_1.move %> </h2>
  <h1> Matrix move: <%= $videogame.player_2.computer_move %></h1>
    <div>
    </div>
</body>
</html>
