<h1> Lets play <%= @name %> </h1>

<h2> Please select your move! </h2>

<form actions="/move">
  <input type="submit" value="rock">
  <input type="submit" value="paper">
  <input type="submit" value="scissors">
</form>
