<!-- <form method="get"> -->
  <style>
  .center {
    background-color: #FFC300;
    width: 30%;
    border: 3px solid black;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px

  }
  </style>
<body>

  <div class="center">
<h1> <%= @game.p1_name.capitalize %>'s move: </h1> <form action="/calculating_p2" method="post">
<select name="select_p1">
  <option value="Rock">Rock</option>
  <option value="Paper">Paper</option>
  <option value="Sissors">Sissors</option>
</select>
<p></p>
<p></p>

<h1> <%= @game.p2_name.capitalize %>'s move: </h1> <select name="select_p2">
<option value="Rock">Rock</option>
<option value="Paper">Paper</option>
<option value="Sissors">Sissors</option>
</select>
<p></p>

<input type="submit" value="Submit">
</form>
</body>
