<body style="background-color:beige;font-family:verdana;text-align: center;">
<h1 style="color:goldenrod">MAMA Rock, Paper, Scissors</h1>
<br></br>
<h2 style="color:darkblue"><%=@player_name%> picked <%=@player_move%></h2>
<br></br>
<h2 style="color:crimson"> The computer picked </h2>
<br></br>
<h2>Someone has won</h2>
</body>
