<head>
<style>
body {
  text-align: center;
  font-family: Courier, monospace;
  color:#888;
  margin:20px
}
  </style>
</head>

<body>
You have chosen <%= @move %>
<br>
<br>
Computer has chosen <%= @compmove %>
<br>
<br>
<%= @game %>

</body>
