<head>
<style>
body {
  text-align: center;
  font-family: helvetica;
  color:#888;
  margin:20px
}
  </style>
</head>

<body>
<%= @player_name %> you have chosen <%= @move %>
<br> Computer has chosen <%=@compmove %>
</body>
