<h1> Welcome <%= @name %> </h> 

<h2> Lets begin! Pick Rock, Paper or Scissors... </h1>

<form action="/outcome" method="post">
  <input type="submit"  name="user_choice" value="Rock">
  <input type="submit" name="user_choice" value="Paper">
  <input type="submit" name="user_choice" value="Scissors">
</form>

