<!-- <form method="get"> -->
  <style>
  .center {
      margin: auto;
      background-color: lightblue;
      width: 40%;
      border: 3px solid black;
      padding: 30px;
  }
  </style>
<body>

  <div class="center">
  <h1>Make your selection</h1>
  <form action="/calculating_p1" method="post">
<select name="select">
  <option value="Rock">Rock</option>
  <option value="Paper">Paper</option>
  <option value="Sissors">Sissors</option>
</select>
<input type="submit" value="Submit">
</form>
</body>
