<h2>Welcome <%= @player.name %> to Rock, Paper and Scissors!</h2>

<form action="/rock" method="post">
  <input type="submit" value="Rock">
</form> 
<form action="/paper" method="post"> 
  <input type="submit" value="Paper">
</form> 
<form action="/scissors" method="post">  
  <input type="submit" value="Scissors">
</form>

<h2><%= @player.name %> you have chosen <%= @player.move %></h2>
