<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multiplayer Game</title>
  </head>
  <body>
    <h1>
      <h1><%="#{@game.player1.name} vs #{@game.player2.name} - FIGHT!"%></h1>
    </h1>
  </body>
</html>
