<div class='row'>
    <div class="col-sm">
      <h2><%= @player_messages[:player_move] if @player_messages %></h2>
    </div>
    <div class="col-sm">
      <h2>
        <% unless @player_messages %>
          Who will win...
        <% else %>
          <%= @player_messages[:result] %>
        <% end %>
      </h2>
    </div>
    <div class="col-sm">
      <h2><%= @player_messages[:opponent_move] if @player_messages %></h2>
    </div>
  </div>