<h1>Click OK when your partner has logged in</h1>
<div class='buffer'></div>
<div class='row'>
  <div class='col-sm'></div>
  <div class='col-sm'>
    <form action='/mpplay'>
      <input class='action' type='submit' name='choice' value="OK">
    </form>
  </div>
  <div class='col-sm'></div>
</div>