<h1> Rock ~ Paper ~ Scissors </h1>

<form action='/names' method='post'>

  <label for="player_1">
  Player 1 Name:
  <input type='text' name='player_1' required>

  <label for="player_2">
  Player 2 Name:
  <input type='text' name='player_2' required>

  <input type="submit" name="Ready!" value="Ready!">
  </form>
</h1>

<h1>
<form action='/'>
  <input type="submit" value="Back">
</h1>