<link rel="stylesheet" type="text/css" href="/style.css" />

<h1>Hi <%= @game.player_1.name %> and <%= @game.player_2.name %>! Let's play Rock Paper Scissors! </h1>

<h2> <%= @game.player_1.name %> goes first. <%= @game.player_2.name %>, please close your eyes.</h2>

<form action = "/p1_option", method = "post">
  <input type = 'submit', name = "option", value = "Rock", id="submit">
  <input type = 'submit', name = "option", value = "Paper", id="submit">
  <input type = 'submit', name = "option", value = "Scissors", id="submit">
</form>
