<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Enter your names!</h1>
        </header>

        <form action="/give-two-names" method="post">
            <label for="name1">Player 1:</label>
            <input type="text" name="name1">
            <label for="name2">Player 2:</label>
            <input type="text" name="name2">
        <input type="submit" value="Submit">
    </form>
    </div>

    
</body>
</html>