<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>

<form action="/mutiplayer_play" method="post">
<input type="submit" name= "choice" value="ROCK">
<input type="submit" name= "choice" value="PAPER">
<input type="submit" name= "choice" value="SCISSORS">
</form>