<div style="text-align: center;">
  <h1>Multi Player</h1>
  <p><iframe src="https://giphy.com/embed/v4ytgS0zsejjG" width="480" height="411" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
  <form action="/names" method="post">
    <label for="player">
      <b>Enter your name:</b>
    </label>
    <input type="text" name="player"> <br>
    <p><input type="submit" value="Submit" style="width:90px;height:30px;"></p>
  </form>
</div>
    