<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="/js/multi.js"></script>
  </head>
  <body>
      <% @games.each do |id, game| %>
        <form id="game_selector" action="/multiplay" method="post">
          <input type="hidden" name="game_id" value="<%= id %>">
          <p>Player 1: <%= game.player1.name %></p>
          <p>Player 2: <%= game.player2 == "Pending" ? "Pending" : game.player2.name %></p>
          <input type='submit' value='Play'>
        </form>
      <% end %>
  </body>
</html>
