<form action="/two_names" method="post">
  <div class="container">
    <div class="left_button">
  <label for="Player_1">
    Please enter your name player 1
      <input type="text" name="Player_1"/>
  </label>
</div>

<div class="right_button">
  <label for="Player_2">
    Please enter your name player 2
      <input type="text" name="Player_2"/>
  </label>

  <div class="namesbutton">
    <input type="submit" value="Submit names"/>
  </div>

</div>
  <div class ="clear"></div>
</div>
</form>
