<style>
body {background-color: powderblue; text-align: center}</style><h1>Welcome to ROCK - PAPER - SCISSORS!</h1></br></br>

<h2>Would you like to play a one or two player game?</br></br></h2>


<h2><a href= "/one-player">One Player</a></br></br></br>

<a href = "/two-player">Two Players</a></h2>
