<link rel="stylesheet" href="css/index.css">
Please enter your names:<br>
<form action="/twonames" method="post">
<input type="text" name="p1_name">
<input type="text" name="p2_name">
<input type="submit" value="Enter">
</form>
