<h1> <%= @player_2 %>, choose wisely:</h1>


<form action='/result_multi' method='post'>
<input style='color: red;height :100px; width: 100px' type='submit' value='Rock' name='choice_2'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Paper' name ='choice_2'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Scissors' name='choice_2'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Lizard' name='choice_2'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Spock' name='choice_2'>
</form>