<h1>Welcome to Multiplayer</h1>
<h2>Enter your name and your choices of 'rock', 'paper' or 'scissors' below</h2>

<form action="/two_players" method="post">
  <label for="player_1_name">
    Player one's name
<input type="text" name="player_1_name">
  </label>
  <label for=player_1_choice>
    Player one's weapon of choice
<input type="text" name="player_1_choice">
  </label>


  <label for="player_2_name">
    Player two's name
<input type="text" name="player_2_name">
  </label>
  <label for=player_2_choice>
    Player two's weapon of choice
<input type="text" name="player_2_choice">
  </label>


<input type="submit" value="Submit">
</form>
