<%= erb :header %>
<h1>Multi Player Mode</h1>
<h3>Please enter your names</h3>
<form action="/play-multi" method="post">
  <label for="player_1">Player 1:</label>
  <input type="text" value="name" name="player_1_name">
  <label for="player_2">Player 2:</label>
  <input type="text" value="name" name="player_2_name">
  <button type="submit" id="name-button">Enter</button>
</form>