<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multiplayer Mode</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Indie Flower', cursive;
      }
    </style>
  </head>
  <body>
    <h1>Multiplayer Mode</h1><br>
    <h1>Players enter your names:</h1>
    <form action="/mp-game" method="post">
  <input id="player1" type = "text" name="player1"><br>
  <input id ="player2" type="text" name="player2"><br>
  <input class = "button" type="submit"value="Start">
  </form>
  </body>
</html>
