<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Multiplayer</title>
</head>
<body>

<form action="/multiplayer-game" method="post">
  Player One's Name:
  <input type="text" name="player1" placeholder="Your name">
  Player Two's Name:
  <input type="text" name="player2" placeholder="Your foe's name">
  <input type="submit" value="Begin">
</form>
  
</body>
</html>
