<h1 align="center">DEATHMATCH!!</h1>
<h2 align="center">Enter your names</h2>
<form align="center" action='/p1_weapon_select' method='post'>
  <label for= 'Player1'>Name:<label>
    <input type= 'text'  name= 'Player1'>
  </label>
  <label for= 'Player2'>Name:<label>
    <input type= 'text'  name= 'Player2'>
  </label>
  <div align="center">
    <input type= 'submit' value= 'Battle!'>
  </div>
</form>
