<body>
  <h1>Rock Paper Scissors!</h1>
  <h2>Enter your names to get started</h2>
  <div class="container">
    <form action="/names_multi" method="post">
      <label for="name">
        Player one
        <input type="text" name="name" required>
      </label>
      <label for="name2">
        Player two
        <input type="text" name="name2" required>
      </label>
      <div class="multi_submit">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</body>