Enter your names here:

<form method='POST' action='/names_multiplayer'>
  <input type='text' name='player_name' />
  <input type='text' name='player_2_name' />
  <input type='submit' value='Submit' />
</form>
