<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <h1>Multiplayer</h1>

    <h1>Welcome <%=@player_1.name%>!</h1>
    <h1>Welcome <%=@player_2.name%>!</h1>
  </body>
</html>
