<head><script src="https://kit.fontawesome.com/bf47482c68.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style>
  body {background-color: powderblue; text-align: center; font-family: 'Montserrat', sans-serif;}
  a {
    color: #609096;
  }
</style></br></br><h1>Welcome to ROCK - PAPER - SCISSORS!</h1></br></br>

<h2>Click the icons to play a one or two player game:</br></br></br></br></br></h2>


<h2><a href = "/one-player"><i class="fas fa-user fa-3x"></i></a></br></br></br>

  <a href = "/two-player"><i class="fas fa-user-friends fa-3x"></i></a></h2>
