<div>

<% if @game != nil %>
  <% if @game.tie? %>
  Aha, you tied with each other, beats a slap in the face with a wet fish.
  <% else %>
  <%= @game.winner.name %> beats <%= @game.loser.name %>!
  <% end %>
<% else %>
  Waiting for your opponent to go...
<% end %>

<br>
<form method="POST" action="/reset_multiplayer">
  <input type="submit" value="Play again">
</form>

</div>