<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Rock, Paper, Scissors</title>
  </head>

  <body>
    <h1 class='title'>Rock, Paper, Scissors</h1>
    <p>Please enter your names to continue.</p>
    <form action='/enter_names' method='post'>
      <label for='player_1'>
        Player 1: 
        <input type='text' name='player_1'>
      </label>
      <label for='player_2'>
        Player 2: 
        <input type='text' name='player_2'>
      </label>
      <input type='submit' value='Begin'>
    </form>
  </body>
</html>