<form action="/two_names" method="post">

  <label for="Player_1">
    Please enter your name player 1
      <input type="text" name="Player_1"/>
  </label>

  <label for="Player_2">
    Please enter your name player 2
      <input type="text" name="Player_2"/>
  </label>

  <input type="submit" value="Submit names"/>
</form>
