<h2> Please input names</h2>
  <div id="page-wrap">
<form method="POST" action="/set_players_multiplayer">
<label for="player1_name">Player 1's Name: </label><input type="text" name="players1_name" required><br>
<label for="player2_name">Player 2's Name: </label><input type="text" name="players2_name" required><br>
<input class="btn" type="submit" value="Play!">
</form>
  </div>