<form action="/names" method="post">
  <label for="player1">Player 1, enter your name:</label>
  <input type="text" name="player1">
  <br><br>
  <label for="player2">Player 2, enter your name:</label>
  <input type="text" name="player2">
  <br><br>
  <button type="submit">Submit</button>
</form>
