<h1>Let's play some Rock, Paper, Scissors, <%= @name %>!</h1>
<form method="post">
  <label for="rock">Rock
  <input type="radio" name="move" value="rock">
  </label>
  <br>
  <label for="paper">Paper
  <input type="radio" name="move" value="paper">
  </label>
  <br>
  <label for="scissors">Scissors
  <input type="radio" name="move" value="scissors">
  </label>
  <br>
  <label for="scissors">Spock
  <input type="radio" name="move" value="spock">
  </label>
  <br>
  <label for="scissors">Lizard
  <input type="radio" name="move" value="lizard">
  </label>
  <br>
  <br>
  <input type="submit" value="Play!">
</form>
