<%= erb :header %>
<h1>Multi Player Mode</h1>
<h3>Please enter your names</h3>
<form action="/play-multi" method="post">
  <label for="player_1"></label>
  <input type="text" placeholder="name" name="player_1_name" id="multi">
  <h5>vs.</h5>
  <label for="player_2"></label>
  <input type="text" placeholder="name" name="player_2_name" id="multi">
  <button type="submit" id="name-button">Enter</button>
</form>