<h1>Rock Paper Scissors</h1>
<form action="/multinames" method="post" class="flex_col form_container">
  <input type="text" name="username" placeholder="player 1">
  <input type="text" name="player2" placeholder="player 2">
  <input type="submit" value="begin" id="hand-submit">
</form>