<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Multiplayer sign in</title>
  </head>
  <body>
    <form action="/multi_login" method="post">
      <input type="text" name="player1" placeholder="player1">
      <input type="text" name="player2" placeholder="player2">
      <input type="submit" name="" value="Play!">
    </form>
  </body>
</html>
