<html>
<head>
<style>
body {
    background-color: linen;
}
h1 {
    color: maroon;
    margin-left: 40px;
    text-align: center;
    font-size: 300%;

</style>
</head>

<body>
<h1> We will begin a Multiplayer RPS game in a moment! </h1>

<br><br><br><br><br><br><br><br>
<form style="text-align:center" action="/player2-sign-up" method="post">
  <b style='color: maroon; text-align:center; font-size: 150%'>Please enter your name:</b>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
</body>
</html>
