<form action='/player_one' method='post'>
				<input type='text' name="name" value='Player 1' size='30'>
				<select name="weapon">
					<option value="rock">Rock</option>
					<option value="paper">Paper</option>
					<option value="scissors">Scissors</option>
				</select>
				<input type='submit' value="Play!">
</form>
