<h1><%= @player1.name %> VS <%= @player2.name %></h1>
<%= erb :mp_result %>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <form action='/mpmove' method='post'>
      <input class='action' type='submit' name='choice' value="Rock">
    </form>
  </div>
  <div class="col-sm">
    <form action='/mpmove' method='post'>
      <input class='action' type='submit' name='choice' value="Paper">
    </form>
  </div>
  <div class="col-sm">
    <form action='/mpmove' method='post'>
      <input class='action' type='submit' name='choice' value="Scissors">
    </form>
  </div>
  <div class="col-sm"></div>
</div>