<form action="/multiplayer_name" method="post">
  <label for="player1">Player 1: </label>
  <input type="text" name="player1" />
<!--  <label for="player2">Player 2: </label>
  <input type="text" name="player2" />-->
  <input type="submit" name="submit" value="Submit" />
</form>