<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
<div id='centered'>
<%= erb :multi_game %>
</div>
<div id='bottom'>
<% if session[:winner] == 'tie' %>
  It's a tie!
  <div class='gif'>
  <img src= '/images/tie.gif'>
  </div>
<% elsif session[:winner] == 'Player 1 Wins!' %>
  <%= session[:name_1] %> wins!
<% elsif session[:winner] == 'Player 2 Wins!' %>
  <%= session[:name_2] %> wins!
<% end %>
<% unless session[:winner] == 'tie' %>
  <div class='gif'>
  <img src= '/images/winner.gif'>
  </div>
<% end %>
<p>
Play again?
<br>
<form action='/greet' method=POST>
  <input type='submit' value="Let's Go">
</div>
