<div class='row'>
    <div class='col-sm'></div>
    <div class='col-sm'><div class='player_name'><%= @player.name %></div></div>
    <div class='col-sm'><div class='vs_sign'>VS</div></div>
    <div class='col-sm'><div class='player_name'><%= @opponent.name %></div></div>
    <div class='col-sm'></div>
</div>
<span class="buffer"></span>
<%= erb :mp_result %>
<span class="buffer"></span>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <form action='/mpmove' method='post'>
      <input class='action' type='submit' name='choice' value="Rock">
    </form>
  </div>
  <div class="col-sm">
    <form action='/mpmove' method='post'>
      <input class='action' type='submit' name='choice' value="Paper">
    </form>
  </div>
  <div class="col-sm">
    <form action='/mpmove' method='post'>
      <input class='action' type='submit' name='choice' value="Scissors">
    </form>
  </div>
  <div class="col-sm"></div>
</div>