<div align="center">
  <style>
  body {background-color: lightgrey;}
  h1   {color: crimson;}
  p {color: crimson;}
  </style>
  <h1>
    <%= @player_1_name %> vs. <%= @player_2_name %>
  </h1>

  <p> <%= @player_1_name %>, choose wisely! </p>
  <form action="/multiplayer_turn_1" method="post">
    <label for="rock">Rock</label>
    <input type="radio" name="move" id="rock" value="rock"><br>
    <label for="paper">Paper</label>
    <input type="radio" name="move" id="paper" value="paper"><br>
    <label for="scissors">Scissors</label>
    <input type="radio" name="move" id="scissors" value="scissors"><br>
    <input type="submit" value="Submit">
  </form>


</div>