<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RPS!</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <h1>Make your choices</h1>
    <form action="/selection" method="post">
      <table>
        <th>Player1</th>
        <th>Player2</th>
        <tr>
          <td>
            <label >
            <input style="display: none" class="radio_btn" type="radio" name="choice" value="rock" checked/>
            <img class="img__svg" src="images/stone.svg" alt="rock"  />
            </label>
            <label>
              <input style="display: none" class="radio_btn" type="radio" name="choice" value="paper"/>
              <img class="img__svg" src="images/paper.svg" alt="paper" />
            </label>
            <label>
              <input style="display: none" class="radio_btn" type="radio" name="choice" value="scissors"/>
              <img class="img__svg" src="images/scissors.svg" alt="scissors" />
            </label>
          </td>
          <td>
            <label>
              <input style="display: none"  type="radio" name="p2_choice" value="rock" checked/>
              <img class="img__svg" src="images/stone.svg" alt="rock" />
            </label>
            <label id="p2_selection"  >
              <input style="display: none"  type="radio" name="p2_choice" value="paper"/>
              <img class="img__svg" src="images/paper.svg" alt="paper" />
            </label>
            <label>
              <input style="display: none"  type="radio" name="p2_choice" value="scissors"/>
              <img class="img__svg" src="images/scissors.svg" alt="scissors" />
            </label>
          </td>
        </tr>
      </table>
      <input type="submit" value="Play again!" >
    </form>

<!--
    <form action="/selection" method="post">
      <button type="submit" value="rock" name="choice">
        <img class="img__svg" src="images/stone.svg" alt="rock" />
      </button>
      <button type="submit" value="paper" name="choice">
        <img class="img__svg" src="images/paper.svg" alt="paper" />
      </button>
      <button type="submit" value="scissors" name="choice">
        <img class="img__svg" src="images/scissors.svg" alt="scissors" />
      </button>
    </form> -->
    <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->

    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </body>
</html>
