<form action="/play_opponent" method="post">
  Player 2: <input type="text" name="name">
  Select your weapon:
  <br>
  Rock:
  <input type="radio" name="weapon" id="Rock" value="Rock">
  Paper:
  <input type="radio" name="weapon" id="Paper" value="Paper">
  Scissors
  <input type="radio" name="weapon" id="Scissors" value="Scissors">
  <input type="submit" value="Play">
</form>
