<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PvP</title>

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="main">
      <h2>Loser pays a round!</h2>
      <h3>Enter your names below:</h3>

      <form action="/PvP" method="POST">
        <input type="text" name="player">
        <input type="text" name="player2">

        <input type="submit" value="Start round!">
      </form>
    </div>
  </body>
</html>
