<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<div id="centered">
<form action='/store-multi-name' method=POST>
<label for='name'>What are your names?</label>
<p>
<input type="text" name="name_1"> vs. <input type="text" name="name_2">
<p>
<input type="submit" name="Submit">
</form>