<html>
  <head></head>
  <body>
    <div class="title">
      Ultimate Rock Paper Scissors Game
    </div>
    <form action="/names" method="post">
      <input type="text" name="player_1_name" class="putnamebutton" placeholder="enter your name">
      <input type="text" name="player_2_name" class="putnamebutton" placeholder="enter your name">
      <input type="submit" value="submit" class="submit-player">
    </form>
  <body>
</html>
