<h2> Please enter your name </h2>
<form method="POST" action="/set_players_multiplayer">
<label for="player1_name">Player 1's Name: </label><input type="text" name="players1_name" required><br>
<label for="player2_name">Player 2's Name: </label><input type="text" name="players2_name" required>
<input type="submit" value="Play!">
</form>