<h2>You have selected multiplayer mode </h2>
<h4>Enter your names below and click Enter Game when you are ready.</h4>

<form action="/mpname" method="post">

  <label for="Player 1 Name">
    Player 1, please enter your name here: </label>
    <input type="text" name="player1">

  <label for="Player 2 Name">
    Player 2, please enter your name here: </label>
    <input type="text" name="player2">

    <input type="submit" value="Enter Game">
</form>
