<h2> Now, it's <%= @game.player_2.name %>'s turn.</h2>

<form action = "/p2_option", method = "post">
  <input type = 'submit', name = "option", value = "Rock", id="submit">
  <input type = 'submit', name = "option", value = "Paper", id="submit">
  <input type = 'submit', name = "option", value = "Scissors", id="submit">
</form>
