<div id="index">
  <h1> Enter your names</h1>
  <form id="form" action="/multiname" method="post">
    <input type="text" name="player1" placeholder="Player 1" required="true">
    <input type="text" name="player2" placeholder="Player 2" required="true">
    <input type="submit" value="submit">
  </form>
</div>
