<h1> <%= @player_1 %>'s Turn: </h1>

<form action='/player_2_turn' method='post'>
<input style='color: red;height :100px; width: 100px' type='submit' value='Rock' name='choice'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Paper' name ='choice'>

<input style='color: red;height :100px; width: 100px' type='submit' value='Scissors' name='choice'>
</form>