<body>
  <h1>Rock Paper Scissors!</h1>
    <h3>Enter your names to get started</h3>
    <form action="/names_multi" method="post">
      <label for="name1">
        Player one
        <input type="text" name="name1">
      </label>
      <label for="name2">
        Player two
        <input type="text" name="name2">
      </label>
      <input type="submit" value="Submit">
    </form>
</body>