<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/single.css">
      <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    </head>
  </head>
  <body>
    <div class="title">
      Rock Paper Scissors Game for Two Players
    </div>
    <form action="/names" method="post">
      <input type="text" name="player_1_name" class="putnamebutton" placeholder="enter player 1 name">
      <input type="text" name="player_2_name" class="putnamebutton" placeholder="enter player 2 name">
      <input type="submit" value="submit" class="submit-player-name">
    </form>
  <body>
</html>
