<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<h1>Multiplayer mode:</h1>

<h3>Enter your names here:</h3>
<form action='/names' method='post' id='multiform'>
  Player 1: <input type='text' name='player_one'></br></br>
  Player 2: <input type='text' name='player_two'></br></br>
  <input type='submit' value='Play' id='submit'>
</form>

</br>

<form action='/' method='get'>
  <input type='submit' value='Home' id='submit'>
</form>
