<h1><%= player1.name.capitalize %> vs <%= player2.name.capitalize %>!</h1>

<% if flipped_coin %>
  <h2>It's <%= flipped_coin.name.capitalize %>'s turn. </h2>

  <form action="/first-choice" method="post">
    <input type="submit" name="Rock" value="Rock">
    <input type="submit" name="Paper" value="Paper">
    <input type="submit" name="Scissors" value="Scissors">
  </form>
<% else %>

  <form action="/flip-coin" method="post">
    <input type="submit" value="Flip Coin">
  </form>

<% end %>


