<%= erb :game_header %>
<div>
  <form action="/multiplayer_home" method="post">
    <label for="name_1" type="text"><p>Enter your name player 1:</p></label>
    <input type="text" name="name_1">
    <label for="name_2" type="text"><p>Enter your name player 2:</p></label>
    <input type="text" name="name_2">
    <input type="submit" value="Play!">
  </form>
</div>
<div>
  <h3><i>Please specify both names before playing!</i></h3>
</div>
<%= erb :footer %>
