<%= @game.game_type %>

<% if @game.number_of_players == '2' %>
  <div>
    <h5>Please enter your names</h5>
    <form action="/names" method="post">
      <div>
        <input type="text" placeholder="Player 1 name" id="player1_name" name="player1_name">
        <input type="text" placeholder="Player 2 name" id="player2_name" name="player2_name">
        <button type="submit">Start game</button>
      </div>
    </form>
  </div>
<% else %>
  <div>
    <h5>Please enter your name</h5>
    <form action="/names" method="post">
      <div>
        <input type="text" placeholder="Player 1 name" id="player1_name" name="player1_name">
        <button type="submit">Start game</button>
      </div>
    </form>
  </div>
<% end %>
