<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<div id="centered">
<form action='/store-name' method=POST>
<label for='name'>What's your name?</label>
<br>
<input type="text" name="name">
<br>
<input type="submit" name="Submit">
</form>