<h1>Enter Name</h1>

<form action= "/set_name" method="post">
  <div>
    <label for= "player_name">Name Here:</label>
    <input type= "text" name= "player_name" />
  </div>
  <div>
    <label for= "spock_and_lizard">Play with Spock and Lizard?</label>
    <input type= "checkbox" name="spock_and_lizard" value="true">
  </div>
  <input type="submit" value= "Submit"/>
</form>
