<h1>Markateer.... Enter Name</h1>

<form action= "/set_name" method="post">
  <div>
    <label for = "player_name">Name Here:</label>
    <input type = "text" name = "player_name" />
  </div>
  <input type="submit" value = "Submit"/>
</form>


<!-- action= "/names" method= "post"> -->
