<h1>What's the other player's name?</h1>
<form action="/names" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="Name">
  </p>
  <p class="button">
    <button type="submit" name="play">Play</button>
</form>