<!-- Import fonts and bootstrap -->
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<div id='name'>
<center>
    <div class='col-xs-3'></div>
    <div class='col-xs-3'>
  <form action='/set_name_2' method='post'>
    <label for="player_1_name">Player 1:<br>Enter your name
      <br>
      <br>
      <input type="text" name="player_1_name" style='color:#000' />
    </label>
  </div>
    <div class='col-xs-3'>
    <label for="player_2_name">Player 2:<br>Enter your name
      <br>
      <br>
      <input type="text" name="player_2_name" style='color:#000' />
    </label>
  </div>
  <div class='col-xs-12'>
    <br>
    <br>
    <button>Begin</button>
    </div>
  </form>
</center>
</div>
