<img src="https://media2.giphy.com/media/3oriNMhlHYcLIiMAU0/giphy.gif" alt="Tyler Resty art drugs light lights GIF" style="width: 480px; height: 480px; left: 0px; top: 0px; opacity: 1;">
<br>
<h1> Welcome <%= $player %> </h1>
<h2> Choose your weapon wisely </h2>
<h3> rock </h3>


<form action='/fight_page' method='get'>
<input type="submit" value="Rock" />

<br>
<img src="https://media2.giphy.com/media/3oriNMhlHYcLIiMAU0/giphy.gif" alt="Tyler Resty art drugs light lights GIF" style="width: 480px; height: 480px; left: 0px; top: 0px; opacity: 1;">
