<!DOCTYPE html>
<html>
  <head>
    <title>Player name entry form</title>
    <style media="screen">

    </style>
  </head>
  <body>
    <center
      <h1>Please enter your name</h1>
      <form class="" action="/start" method="post">
        <input type="text" name="player_1">
        <input type="submit" value="Submit">
      </form>
    </center>
  </body>
</html>
