<form action='/names' method='post' alight='left'>
  <label for='player_name'>Player Name:</label>
  <input type='text' name='player_name'>

  <br><br>
  <button type='button'> <input type='submit' value='Submit'</button>
</form>
