<div align="center">

  <header>
    <h1>Please enter your name</h1>
  </header>

  <form action="/set_name" method="post">
    <input type="text" name="player">
    <input type="submit" value="Submit">
  </form>

</div>
