<link rel="stylesheet" type="text/css" href="/css/style.css">

<body>

  <h1>You will be playing Jigsaw<h1>
    <br />
    <br />
  <form action='/names' method='post'>
    <label for="player_1_name">
      Enter Name
      <input type ="text" name="player_1_name">
    </label>
    <br />
    <br />
    <input type="submit" value="Submit">
  </form>
</body>
