<h1>Welcome <%= @name %>! Would you like to play rock, paper or scissors?</h1>

<form action="/weapon" method="get">
<input type="submit" name="move" value="Rock">	
</form> 

<form action="/weapon" method="get">
<input type="submit" name="move" value="Paper">
</form> 

<form action="/weapon" method="get">
<input type="submit" name="move" value="Scissors">
</form>