<form action="/two-player/game" method="post">
    <div>
        <label for="Player 1">Player 1:</label>
        <input type="text" id="Player 1" name="player_one_name" />
    </div>
    <div>
        <label for="Player 2">Player 2:</label>
        <input type="text" id="Player 2" name="player_two_name" />
    </div>
    <div class="button">
        <button type="submit">Play</button>
    </div>
</form>
