<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
<head>
<link rel='stylesheet' href='style.css' />
</head>

<body class="text-center">

<h1> Please enter your NAME: </h1>

<form action="/names" method="post">

  <h2> Player 1: </h2>

  <input type="text" name="player_1_name" >

  <input type="submit" value="Submit">
</form>


<form action="/" method="get">
  <button class="btn2"> RESTART </button>
</form>

</body>
