<body background="https://us.123rf.com/450wm/mangpor2004/mangpor20041708/mangpor2004170800286/84774361-light-gray-color-cotton-polyester-fabric-texture-background-fashion-design-concept.jpg?ver=6">

<center>
  <h1 style="background-color:linen;">Enter Name</h1>

  <form action="/player" method="post">
    <label for="player_name" style="background-color:lightcyan;">
      Your name goes here
      <input type="text" name="player_name">
    </label>
    <input type="submit" value="Play">
  </form>

  <img src="https://i2.wp.com/www.geeksaresexy.net/wp-content/uploads/2014/02/Rock-Paper-Scissors.jpg?resize=600%2C600" style="border:5px solid black" >
</center>
