<div>
  <h1>Enter Your Name</h1>
</div>
<div>
  <form action='/play' method='post'>
    <input type='text' name='name' placeholder='Enter your name' required>
    <input type='submit' name='submitName' value='submit'>
  </form>
</div>