<h4 class="text-center">What's your name?</h4>

<form action="/game" method="post">
  <input name="name" class="center-block" type="text" placeholder="Required" required>
  <input value="submit"  name="submit" class="center-block" type="submit">
</form>