<h1>Hi <%=@player_name%>, welcome to the game !</h1><br>
<h2>Chose from the following options:</h2><br>

<form action = "/game" method = "post">
<input name = "button" type = "submit" value = "Rock">
<input name = "button" type = "submit" value = "Paper">
<input name = "button" type = "submit" value = "Scisors">
</form>