<div>
  <form name="input" action="/names" method="post">
    <label for="name">
      Player name: 
      <input type=text name="name">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
