<h1>Welcome <%= @name %>! Would you like to play rock, paper or scissors?</h1>

<form action="/rock" method="get">
<input type="submit" name="Rock" value="Rock">	
</form> 

<form action="/paper" method="get">
<input type="submit" name="Paper" value="Paper">
</form> 

<form action="/scissors" method="get">
<input type="submit" name="Scissors" value="Scissors">
</form>