<h2>Player 1 is ready to challenge Master Control Program</h2>
<div style="background-color:beige; border:6px outset #F7730E; width: 600px;"><center>
<table style="width: 600px;"><tr><th><b>Player 1</b></h3></th><th><b>Player 2</b></th></tr>
<tr>
<td style="width: 200px;"><center><h3><font color = "blue"><%= @player_1 %></font></h3></center></td>
<td style="width: 200px;"><center><h3><font color = "blue">Master Control Program</font></h3></center></td>
</tr>
</table></center>
</div>
<br><br>

<style>
  table, th, td {
    border: 1px solid orange;
  }
  th, td {
    padding: 10px;
  }
</style>