<form action="/one-player/game" method="post">
    <div>
        <label for="Name">Player Name:</label>
        <input type="text" id="Name" name="player_name" />
    </div>
    <div class="button">
        <button type="submit">Play</button>
    </div>
</form>
