<html>
<style type="text/css">

body {
  background: hsla(0, 0%, 0%, .9);
}
</style>
<html>

<center>
<h1><font color="white">PLAY ROCK, PAPER, SCISSORS</font></h1>
  <img src="http://www.gifmania.co.uk/Objects-Animated-Gifs/Animated-Toys/Rock-Paper-Scissors/Rock-Paper-Scissors-87021.gif" alt="rock paper scissors - GIFMANIA" /><br>
  <br>

<form action='/player_name' method='post'>
  <label for = "Player1">
    <font color="white">Player name:</font>
  <input type="text" name="Player1">
  </label>
  <input type="submit" value="Play RPS!">
</form>

</center>
