#add CSS stylesheet

<h1>Please enter your name to begin</h1>

<div class = "name_form">
<form method="post" action="/play">
  <label for="Name">Name:</label><br>
  <input type="text" id="Name" name="name"><br>
  <input type="submit" value="Submit">
 </form> 
</div>
