<center>
<h1>PLAY ROCK, PAPER, SCISSORS<h1>
  <img src="http://www.gifmania.co.uk/Objects-Animated-Gifs/Animated-Toys/Rock-Paper-Scissors/Rock-Paper-Scissors-87021.gif" alt="rock paper scissors - GIFMANIA" />

<form action='/player_name' method='post'>
  <label for = "Player1">
    Player name:
  <input type="text" name="Player1">
  </label>
  <input type="submit" value="Play RPS!">
</form>

</center>
