<center>
  <form action='set_name' method='post'>
    <label for="player_name"> Enter your name
      <br>
      <br>
      <input type="text" name="player_name" />
    </label>
    <br>
    <br>
    <button>Begin</button>
  </form>

</center>
