<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cutive+Mono|Dawning+of+a+New+Day|Gaegu|Nanum+Brush+Script|Quicksand|Sacramento&display=swap" rel="stylesheet">

<img class="background"src="images/text.png" alt="cloud-img">

<h1 class='name-title'> What's your name? </h1>

<div class="form" style="margin-top: 100px";>
  <form action="/play" method='post'>
  <input class="play-link-2" type="text" name="name">
  <input class="button" type="submit" value="Submit">
</form>
</div>
