<h1>Enter Name</h1>

<form action= "/set_name" method="post">
  <div>
    <label for= "player_name">Name Here:</label>
    <input type= "text" name= "player_name" />
  </div>
  <div>
    <input type= "checkbox" name="game_type" value="true">Extended rules
  </div>
  <input type="submit" value= "Submit"/>
</form>
