We will now ask you for your name.
<form action="/names" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</label>


<%# We will now ask you for your name.
<form action="/names" method="post">
  <label for="player_name">
  PLAYER NAME
  <input type="text" name="name">
</label> %>
