<h1> Hi, <%=@names%>! Excited to have you here! Choose one of the options:</h1>
<br>
<form action='/paper' method="post">
  <input type="submit" value='paper'>
  </form>

  <form action='/scissors' method="post">
    <input type="submit" value='scissors'>
    </form>

    <form action='/rock' method="post">
      <input type="submit" value='rock'>
      </form>
