<h1> GAME ON! </h1>

<h1> <%= @player_1_name %> </h2>
<h2> versus </h2>
<div>
<img src=https://www.dropbox.com/pri/get/Web/Old-computer.png?_subject_uid=63541668&w=AACMuKKTHFPt3YUnRCaMpYhO7U8lIlYT5H-thxvMVKl3cg>
</div>

<a href="/play">Let's go!</a>
