<h1> PICK YOUR WEAPON <%= @game.player.player_name.upcase %>! </h1>

<button><a href="/rock">ROCK</a></button>
<button><a href="/paper">PAPER</a></button>
<button><a href="/scissors">SCISSORS</a></button>


