<h1>Let's play RBS!</h1>
<form action="/game-setup" method="POST">
<div class="form-group">
  <label for="player_name">Name:</label>
  <input class="form-control" type="text" name="player_name">
  <input class="btn btn-default" type="submit" value="Start Game!">
  </div>
</form>