<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>

<form action='/names' method='post' class = "center_two">
  Player 1: <input type='text' name='player_name_one'>
  Player 2: <input type='text' name='player_name_two'>
  <input type='submit' value='Submit'>
</form>
