<h1>Rock Paper Scissors</h1>

<p>Hello <%= session[:player_name] %> welcome to Rock, Paper, Scissors</p>

<p>When ready, please hit Start Game</p>

<form action="/start_game" method=get>
<input type="submit" value="Start Game">