<body style="background:#429786">
<% if @visitor != '' && @visitor != nil %>
  <h1 style="text-align:center">Hello <%= @visitor %>, welcome to Rock Paper Scissors Spock Lizard!</h1>
  <form action="/newgame" style="text-align:center">
    <input type="submit" value="New Game" style="text-align:center">
  </form>

<% else %>
  <form action="/name" style="text-align:center">
    What's your name?
    <input name="name" type="text">
    <input type="submit" value="Submit">
  </form>

<% end %>
</body>
