
<body style="background-color: AliceBlue;">

  <h2>WELCOME <%= $new_game.player_1.name.upcase %>!</h2>

  <h3>Ready yourself for battle!</h3>

  <form action="/play" method="post">
    <input type="submit" value="Let's do this!">
  </form>

</body>
