<!DOCTYPE html>
<html lang="en">
  <head>
    Rock-Paper-Scissors-Lizard-Spock
  </head>
  <body>
    <form action="/name" method="post">
      What's your name!
      <input type="text" name="name" autofocus required>
      <input type="submit" value="Next">
    </form>
  </body>
</html>
