<h1>Let's play rock paper scissors</h1>
<h3>But first, we'll need your name.</h3>
<form class="" action="/name" method="post">
  <div>
    <label for="name">Name:</label>
    <input type= "text" id="name" name="player_name">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
