
<div class='main'>
  <h3>Please enter your name:</h3>
  <form name="name" action="/name" method="post">
    <input type="text" name="name" required><br>
    <input type="submit" value="Submit" class='btn'>
  </form>
</div>
    