<body style = "background-image: url('images/whoareyou.jpg'); no-repeat;
background-size: 100%; color: gold">
<div style= "font-size: 40px;">
<form action="/game">
  Please enter your name.
  <input type="text" name="name" required>
  <input type="submit" value="Submit">
</form>
</div>
</body>
