<div class='container enter_name'>
  <h1>Enter Your Name</h1>
</div>
<div class='container form_container'>
  <form action='/play' method='post'>
    <input type='text' name='name' placeholder='Enter your name' required class='form-control'>
    <input class=" sub btn-block btn-outline-dark" type='submit' name='submitName' value='submit'>
  </form>
</div>