<div>
<h1 style="color:Crimson">
Welcome <%= @player %>! </h1>
</div>

<style>
h1 { text-align: center; }
div {
    width:300px;
    margin: auto;
    border: 4px dotted Tomato;
}
</style>

<!-- WELCOME NAME IN CSS -->
<!-- CLICK FORM TO CONTINUE -->
