<form action= "/name", method="post">
  Player's name: <input type="text" name="name">
  Second Player's name: <input type="text" name="name_2">
  Play RPS or RPSSL: <select name="rpssl">
  <option value="false">RPS</option>
  <option value="true">RPSSL</option> </select>
  <input type="submit" value="Submit">
</form>
