<h1>Enter Name</h1>

<form action= "/set_name" method="post">
  <div>
    <label for = "player_name">Name Here:</label>
    <input type = "text" name = "player_name" />
    <input type="submit" value = "Submit"/>
  </div>
</form>
