<form action ="/name1" method='post'>
      Player 1, please enter your name:
      <input type="text" name="name1">
      <input type="submit" id="submit">
</form>

<% if @message %>
  <h2><font color="red"><%= @message %></font></h2>
<% end %>
