<h1> Welcome <%= $player %> </h1>
<img src="https://media.giphy.com/media/hi2kPofVMW70k/giphy.gif" alt=" capybara GIF" style="width: 480px; height: 318.769px; left: 0px; top: 0px; opacity: 1;">
<h2> Choose your weapon <i>wisely</i> </h2>

<form action='/paper_fight' method ='get'>
<input type="submit" value = "Paper" /> </form>
<form action='/rock_fight' method='get'>
<input type="submit" value="Rock" /> </form>
<form action='/scissors_fight' method='get'>
<input type= "submit" value="Scissors"/> </form>
