<form action='/names' method='post'>
  <input type='text' name='player_name_one'>
  <input type='submit' value='Submit'>
  <input type='text' name='player_name_two'>
  <input type='submit' value='Submit'>
</form>
