Hi, <%=@names%>! Excited to have you here! Choose one of the options:
<br>
<form action='/choice1' method="post">
  <input type="submit" value='Paper'>
  </form>

  <form action='/choice2' method="post">
    <input type="submit" value='Scissors'>
    </form>

    <form action='/choice3' method="post">
      <input type="submit" value='Rock'>
      </form>
