<form action="/play" method="post">
  Player One:   <input type="text" name="player_1_name" ><br/>

  Player Two:   <input type="text" name="player_2_name" ><br/>

  <input type="submit" value="Submit">
</form>
