<h1> Hey, <%= @player_name %>!</h1>

<h2> Please start by choosing one of the following: </h2>

<form action="/start" method="post">
  <input type="submit" name="choice" value="Rock">
  <input type="submit" name="choice" value="Paper">
  <input type="submit" name="choice" value="Scissor">
</form>

<h3> You chose <%= @choice %> </h3>
