<body>
 <h1> Welcome to the game, <%=@player_name%><h1>
   <form action = "/result" method = "POST" >
     <input type= "radio" id= "Rock" name="choose" value = "Rock"> Rock
     <input type= "submit" value= "Ready to go">
   </form>
</body>
