<h1> Enter the players names. </h1>
<form action='/name_two_players' method='post'>
  <input type='text' name='player_one_name' value='Name'>
  <input type='text' name='player_two_name' value='Name'>
  <input type='submit' value='Submit'>
</form>
