
<%if @game_type == :computer %>
  Please enter your name:
  <br><br>
  <form action="/register_name" method="post">
  <input type="text" name="player_one"> 
  <br><br>
  <input type="submit" value="Register"> 
  </form>
<%end%>

<%if @game_type == :human %>
  Please enter your names:
  <br><br>
  <form action="/register_name" method="post">
  <input type="text" name="player_one"> 
  <input type="text" name="player_two"> 
  <br><br>
  <input type="submit" value="Register"> 
  </form>
<%end%>
