<head>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="col-md-12a text-center">
      <br>
      <br>
      <form action="/name" method="post">
          What's your name?
          <input type="text" name="name" autofocus>
          <input type="submit" value="Start">
      </form>
    </div>
  </div>
</body>
