<center>
  <form action='/name' method='post'>
    <label for="player"> Enter your name
      <br>
      <br>
      <input type="text" name="player" />
    </label>
    <br>
    <br>
    <button>Submit</button>
  </form>

</center>
