<h1>Enter Name</h1>

<form action="/player" method="post">
  <label for="player_name">
    Your name goes here
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Play">
</form>
