<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>

<form action='/name' method='post' class = "center_two">
  Enter your name, you brave warrior:<input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>

</div>
