<center>
  <h1> Hi, please enter your name to start playing </h1>
    <br>
  <form action="/names" method="post">
    <label for="player">
      PLAYER
      <input type="text" name="player">
    </label>
    <input type="submit" value="register">
  </form>

  <div -webkit-box-shadow:0 0 20px blue;>
    <moz-box-shadow: 0 0 20px blue;>
    <box-shadow:0 0 20px blue;>
    <text-shadow: 0 -2px 70px #4c00ff;>
  </div>
</center>
