<body>
 <h1> Welcome to the game, <%=@player_name%><h1>
   <form action = "/result" method = "POST" >
     <input type= "radio" id= "Rock" name="choose" value = "Rock" checked = "checked"> Rock
     <input type= "radio" id= "Paper" name="choose" value = "Paper"> Paper
     <input type= "radio" id= "Scissors" name="choose" value = "Scissors"> Scissors
     <input type= "submit" value= "Attack your opponent">
   </form>
</body>
