<%= erb :header %>
<h2>Yes! Let's keep going!</h2>
<h3>Choose one option</h3>


<a href="/rock"><img src="/images/rock.png" alt="rock_img" name='rock'></a>

<a href="/paper"><img src="/images/paper.png" alt="paper_img" name='paper'></a>

<a href="/scissors"><img src="/images/scissors.png" alt="scissors_img" name='scissors'></a>
