<h1>Hi, <%= @name %>! Let's play.</h1>
<p>Choose a move</p>

<form action="/new_game" method="post">
  <select name='move' required>
    <option value='rock'>rock</option>
    <option value='paper'>paper</option>
    <option value='scissors'>scissors</option>
  </select>
  <input type="submit" value="Throw!">
</form>
