
<form action="set_player" method="post">
  <div>
    <label for="player">Player name:</label>
    <input type="text" name="player">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form>
