<h1> <%= @player_name %> Choose rock, paper or scissors</h1></br>
<form action="/result" method="post">
  <label for ="player_choice">
    Your weapon will be...
    <input type="text" name="player_choice">
    </label>
    <input type = "submit" value ="Submit">
</form>
