<style>
h1 {
    font-family: Arial;

}

.p1_selector {
  display: inline-block;
  margin-left: 250px;
  margin-top: 250px;
}

.p2_choice {
  display: inline-block;
  margin-left: 250px;
  margin-top: 250px;
}

</style>

<% if $result == nil %>
  <div class="p1_selector">
    <a href="/rock?selection=rock">
    <img src="http://i59.tinypic.com/2v15doy.png" alt="Rock" style="width:304px;height:226px;"></a>
    <a href="/paper?selection=paper">
    <img src="http://i62.tinypic.com/wtu5p1.png" alt="Paper" style="width:304px;height:224px;"></a>
    <a href="/scissors?selection=scissors">
    <img src="http://i58.tinypic.com/f2tpqq.png" alt="Scissors" style="width:304px;height:228px;"></a>
  </div>
<% elsif $result == :p1_wins! %>
  <h1>Player 2 chose <%= $cpu.last_move %>, you win!! </h1>
  <a href="/new_session">Win some more</a>
<% elsif $result == :p2_wins! %>
  <h1>Player 2 chose <%= $cpu.last_move %>, you lose!! </h1>
  <a href="/new_session">Try again</a>
<% elsif $result == :draw %>
  <h1>Player 2 chose <%= $cpu.last_move %>, it's a draw... </h1>
  <a href="/new_session">Try again</a>
  <% if $cpu.last_move == :scissors %> 
    <% "<h1>scissorimage</h1>" %>
  <% end %>
<% end %>