<div class="wrapper">
  <div class="content">
  <!-- <p>Hello <%= @name %>!</p> -->
    <form action="/new_game" method="post">
      <p>Please choose from one of the following options:</p>
        <label for="rock">Rock</label>
        <input type="radio" name="option" value="rock" id="rock" checked="checked" /><br />
        <label for="paper">Paper</label>
        <input type="radio" name="option" value="paper" id="paper" /><br />
        <label for="scissors">Scissors</label>
        <input type="radio" name="option" value="scissors" id="scissors" /><br />
        <input type="submit" value="Enter" class="form-button">
    </form>
  </div>
</div>
