<h1>Player 1 choose</h1>

<form action="/player1choose" method= 'post'>
    <input type="submit" value="Rock" name="Rock">
    <% p1choice = 'Rock' %>
</form>

<form action="/player1choose" method= 'post'>
    <input type="submit" value="Paper" name= "Paper">
    <% p1choice = 'Paper' %>
</form>

<form action="/player1choose" method= 'post'>
    <input type="submit" value="Scissors" name= "Scissors">
    <% p1choice = 'Scissors' %>
</form>




