Welcome, <%= session[:name] %>
Choose rock paper or scissors:
<form action="/result">
<input type="submit" value="rock">
<input type="submit" value="paper">
<input type="submit" value="scissors">
</form>