Hello, <%=@name%>! Please, make your choice!

<form action="/result" method="post">
  <select name="rps">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Play!">
</form>