<h2>SELECT YOUR WEAPON!<h2>


<select>
	<option value="rock">Rock</option>
	<option value="paper">Paper</option>
	<option value="scissors">Scissors</option>
</select>

<input type="submit" value="It's Rock, Paper, Scissors Time!">
