<div style="font-family:'Courier New'">
  <style> h1 {text-align: center;}
          p {text-align: center;}
          form {text-align: center;}
          body {background-image: url("hands.png");
          background-repeat: no-repeat;}
  </style>
    <body bgcolor="#66FFCC">

      <h1>Hi, <%= @name %>! Let's play.</h1>
      <p>Choose a move</p>

      <form action="/new_game" method="post">
        <select name='move' required>
          <option value='rock'>Rock</option>
          <option value='paper'>Paper</option>
          <option value='scissors'>Scissors</option>
        </select>
        <input type="submit" value="Throw!">
      </form>
</div>
