<html>
<body>
<h1 style="text-align:center"> Welcome <%= @name %> </h1>
<form action=/computer>
  Please select an option.
  <input type='text'    name="player_choice">
  <input type="submit"  value="Submit">
</form>
</body>
