<html>
<body>
<h1 style="text-align:center"> Welcome <%= $player.name %> </h1>
  Click the Start button to begin.
  <form action="/options" method="get">
    <input type='submit' value="Start">
  </form>
</body>
