Welcome, <%= session[:name] %>!

Please select your weapon:

<select name="weapon">
  <option value="Rock">Rock</option>
  <option value="Paper">Paper</option>
  <option value="Scissors">Scissors</option>
</select>
