<h1>Player 2 choose</h1>

<form action="/player2choose" method= 'post'>
    <input type="submit" value="Rock" name="Rock">
    <% p2choice = 'Rock' %>
</form>

<form action="/player2choose" method= 'post'>
    <input type="submit" value="Paper" name= "Paper">
    <% p2choice = 'Paper' %>
</form>

<form action="/player2choose" method= 'post'>
    <input type="submit" value="Scissors" name= "Scissors">
    <% p2choice = 'Scissors' %>
</form>