<style>
h1 {
  font-family: Arial;
  margin: 2px
}
input, a {
  font-family: Arial;
  font-size: 40;
  border-width: 5px;
  margin: 2px
}
.warning {
  font-family: Arial;
  font-size: 40;
  margin: 2px
}
</style>

<% if $name == nil %>
  <h1>Hello human.
    <br> Do you want to play a game? :) <br>
  </h1>
<br>
  <form action='/new_game'>
    <input type="text" name="name" placeholder='Human name required'>
      <br>
      <input type="submit" value="Let's do this">
    </form>
<% elsif $name == "" %>
    <div class="warning">No. Enter a name.<br> <a href="/new_game">Back</a></div>
<% else %>
    <a href="/new_session">Lets do this...</a> 
<% end %>





