<h1> <%= @player_name %> Choose rock, paper or scissors</h1></br>
<form action="/display_name" method="post">
  <a href="/rock"> Rock</a>
  <a href="/paper"> Paper</a>
    <a href="/scissors"> Scissors</a>
</form>
