<html>
<style>
body {
    background-color: linen;
}
h1 {
    color: maroon;
    margin-left: 40px;
    text-align: center;
    font-size: 300%;
}
h3 {
  color: maroon;
  text-align:center;
  font-size: 200%;
}
</style>
</head>

<body>
<h1> Welcome <%= $player.name %> </h1>
<br><br><br><br>
<h3>Click <a style="color:maroon"; href="/options">Start</a> to begin against a computer</h3>
<br><br>
<h3>Click <a style='color:maroon'; href='/multiplayer'> Multiplayer</a> to begin</h3>
</body>
