<body style="background:#BDBDBD">
  <form action="/start_game" align="center" method="post">
    <p>
      <font face="verdana">Hi <%= @name %>, welcome to RPS!  Click "Start Game" to begin!</font>
    </p>
    <input type="submit" value="Start Game">
  </form>
</body>
