<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Welcome, <%= $game.player.name %>!</h1>
      <h1>Ready to play? Pick one</h1>
      <form method="POST" action="/result">
        <input class="button" type="submit" value="Paper" name="option">
        <input class="button" type="submit" value="Scissors" name="option">
        <input class="button" type="submit" value="Rock" name="option">
      </form>
    </div>
  </body>
</html>
