
  <h3 class="text-center">Ready to play a good old Rock, Paper, Scissors game?</h3>
  <br>
  <img class="img-responsive center-block" src="https://thenypost.files.wordpress.com/2014/06/rock-paper-4.jpg">
    <br><br>
    <a href="/player" class="btn btn-danger center-block" role="button">Prepared to die?</a>

