<style>
h1 {
  font-family: Arial;
  margin: 2px
}
input {
  font-size: 40;
  border-width: 5px;
  margin: 2px
}

</style>

<h1>What's your name?</div>
<br>
<input type="text" name="name" placeholder='Human name'>
<br>
<input type="submit" value="Let's do this">