<link rel="icon" href="http://oi58.tinypic.com/10nuftd.jpg" type="image/jpg" />

<!-- external styling -->
<link rel="stylesheet" href="bootstrap.min.css" />

<h1 class="header">Hello human.
  <br> Do you want to play a game? :) <br>
</h1>
<br>
<form action='/new_session'>
  <input class="header" type="text" name="name" placeholder='Human name required'>
  <br>
  <input class="lds_button" type="submit" value="Let's do this">
</form>