<% if @name==nil %>
  <form action="/name">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
<% elsif @name=='' %>
  Please enter your name.
  <form action="/name">
    "What's your name?"
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
<% else %>
  <form action="/choose_shape">
    Hello<% @name %>! Please press 'start' to begin Rock, Paper, Scissors:
    <input type="submit" value="Start">
  </form>
<% end %>
