<body style="background:#429786">
<body style="font-family:courier; line-height: 0">
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Rock_Paper_Scissors_Lizard_Spock_en.svg/192px-Rock_Paper_Scissors_Lizard_Spock_en.svg.png' style="background:#FAFDFC">
  <p>Look at the chart for what to pick, then pick from the following options, <%=@visitor%>!</p>
  <form action="/result">
    <select name="rockpaperscissors">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    <option value="spock">Spock</option>
    <option value="lizard">Lizard</option>
    </select>
    <input value="Submit" type="submit">
  </form>
</body>
</body>