<head>
<title>NEWGAME!</title>
</head>
<style>
body {
  background-size: 100%;
  background-color: #FFE4E1;
  color: lightseagreen;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

</style>

<center><body>
  Hello <br/><br/><br/>
  <%=@name%><br/>
  <br/>
  <br/>
  <a href='http://localhost:9292/game'>Are you ready to play?</a>
  <br/><br/>
</body></center>