
<pre>
<body style="font-family:courier; line-height: 0">
<img src= 'images/Rock_Paper_Scissors_Lizard_Spock.jpg' >
  <p>Look at the chart for who will beat who, then pick from the following options, <%=@visitor%>!</p>
  <form action="/result">
    <select name="rockpaperscissors">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    <option value="spock">Spock</option>
    <option value="lizard">Lizard</option>
    <input value="Submit" type="submit">
  </form>
</body>
</pre>