<body style="background:#429786">
<body style="font-family:courier; line-height: 0">
<div style="text-align: center;"><img src='https://s-media-cache-ak0.pinimg.com/736x/da/70/1f/da701f83c443f6060a1cc36ab24ccddc.jpg' style="background:#FAFDFC"></div>
  <p style="text-align:center">Look at the chart for what to pick, then pick from the following options, <%=@visitor%>!</p>
  <form action="/result" style="text-align:center">
    <select name="rockpaperscissors">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    <option value="spock">Spock</option>
    <option value="lizard">Lizard</option>
    </select>
    <input value="Submit" type="submit">
  </form>
</body>
</body>