<p>Welcome to Rock, Paper and Scissors, <%= @player_1.name %>!</p>
<br>
<p>You will be playing against the CPU. Please choose an option below:</p>
<br>
<form action='/rock' method='get'>
  <input type='submit' value='Rock'>
</form>

<form action='/paper' method='get'>
  <input type='submit' value='Paper'>
</form>

<form action='/scissors' method='get'>
  <input type='submit' value='Scissors'>
</form>