<head>
<title>NEWGAME!</title>
</head>
<style>
body {
  background-size: 100%;
  background-color: #F08080;
  color: #66CDAA;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
}
a:hover {
  color: hotpink;
  font-size: 30px;

}

a {
  font-size: 20px;
  color: #AFEEEE;
}

a:visited {
  font-size: 20px;
  color: #AFEEEE;
}

a:active {
  color: #66CDAA;
}

</style>

<center><body>
  Hello <br/><br/><br/>
  <%=@name%><br/>
  <br/>
  <br/>
  <a href='http://localhost:9292/game'>Are you ready to play?</a>
  <br/><br/>
</body></center>