<head>
<title>NEWPLAYER!</title>
</head>
<style>
body {
  background-size: 100%;
  background-color: teal;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

</style>
<body><center>
  <br/>
  Welcome <br/>
  <br/>
  What's your name?
  <br/>
  <br/>
  <form action="/game/new" method="post">
    Enter your name: <input type="text" name="name" placeholder="Requires a name" required>
    <input type="submit" value="submit">
  </form>
</center>
</body>