<!DOCTYPE html>
<html>

  <head>
    <title>Rock Paper Scissors!</title>
  </head>

  <body>

  <center>

    <% if @name.empty? %>
      <h1>Before we start, I need to know your name</h1>
    <%end%>

    <form action='/' method='post'>
      <button>Go Back</button>
    </form>

  </center>

  </body>

</html>