<!DOCTYPE html>
<html>
<head>
  <style>
  h1, h2, h3, body {
    text-align: center;
  }
  p.a {
    font-family: "Times New Roman", Times, serif;
  }
  label {
      font-size: 20px;
      font-family: sans-serif;
  }
  input[type="submit"] {
      font-size: 20px;
      padding: 1em;
      margin: 20px;
  }
  </style>
</head>
<body>
<h1>Rps!</h1>
<h2>Error! A name must be entered</h2>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="name">Your name: </label>
  <input type="text" name="player_1_name">
  <input type="submit" value="Submit">
</form>
</body>
</html>
