<div style = "background: green">
<h1>Rock Paper Scissors!</h1>
<h2>How many players?</h2>
<form action="/names" method="post">
  <select name = "noofplayers" >
    <option value=1>1</option>
    <option value=2 selected="selected" >2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
  </select>
  <br>
  <br>
  <input type="submit" value="submit" style="font-size: 40px; height: 250px;">
    <br>  <br>
</form>
</div>
