<h1> RPS BATTLE </h1>
<h2> Please enter your name to play </h2>
<form action="/name" method="post">
  <label for='player'>
    Player name:
    <input type='text' name='player'></input>
  </label>

  <input type='submit' value='Bring it on!'></input>
</form>

<style>
body {
    background-color: linen;
    font-family: sans-serif;
}

h1 {
    color: maroon;
    font-family: sans-serif;
}

h2 {
    color: maroon;
    font-family: sans-serif;
}

input[type="submit"] {
  color: maroon;
  font-size: 40px;
  font-family: sans-serif;
}

</style>
