<h1>Rock! Paper!! Scissors!!! Lizard!!!! Spock!!!!!</h1>
<p>Sign in to play:</p>
<form action='/one_player_setup' method='post'>
  <p>Name:</p>
  <input type='text' name='p_1'>
  <button type='submit' value='submit'>Go!</button>
</form>