<body>
  <div class="container-fluid">
    <% if @result == "Player 1 Win's" %>
    <div>
      <img src="http://www.howardforums.com/attachment.php?attachmentid=89800&d=1361500740">
    </div>
    <% elsif @result == "Draw" %>
      <div>
        <img src="http://mrboom.mumblecore.org/draw.gif">
      </div>
    <% else %>
      <div>
        <img src="http://i.qkme.me/48mw.jpg">
      </div>
    <% end %>
  <p>The computer chose: <%= @computer.capitalize %></p>
  </div>
  <br>
  <a class="play-again" href="/one-player-game">Play Again</a>
</body>
