  <div>
    <h2>Single Player Game</h2>
    <h3><%= "#{@user_name}" %> make your choice!</h3>
    <form method='post'>
      <button type="submit" name="choice" value="rock"><img src="/public/images/rock.jpg" alt="Rock" width='230' height='230'></button>
      <button type="submit" name="choice" value="paper"><img src="/public/images/paper.jpg" alt="Paper" width='230' height='230'></button>
      <button type="submit" name="choice" value="scissors"><img src="/public/images/scissors.jpg" alt="Scissors" width='230' height='230'></button>
    </form>
  </div>
