Please Choose One:

<form action="/results">

  <select name="playerchoice">
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    <option value="rock">Rock</option>
  </select>
  <input type="submit" value="Play">
</form >
