<h1>Join the Fight!</h1>
<form action="/name_assign_one_player" method="post">
  <label for="player_1_name">
    <input type="text" id="player_one" placeholder="Enter your name" name="player_one">
    <input type="submit" value="Submit">
  </label>
</form>
