

<div class="row">
  <div class="small-5 small-centered columns">
    <form action='/player-name' method="post">
      <label for="player_one">
        Your name:
        <input type="text" name="player_one">
        <input type="submit" value="play">
      </label>
    </form>
  </div>
</div>
