<div>
  <h1>Single Player Game</h1>
  <p><%= "#{@username}" %> make your choice:</p>
  <img id="rock" src="/public/images/rock.jpg" alt="rock">
  <img id="paper" src="/public/images/paper.jpg" alt="paper">
  <img id="scissors" src="/public/images/scissors.jpg" alt="scissors">
</div>