<h1> It's <%= @game.character %> versus <%= @game.opponent %>! </h1>

<form action="/one_player_result" method="get">
  <label for="fight">
    <button type="submit" id="fight"><strong>F I G H T !</strong></button>
  </label>
</form>
