<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<h2>One player game</h2>

<p>What is your name?</p>
 <form action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
