<h1> You are playing in 1-player mode </h1>

<p>Please fill in your name</p>

Your name:
<form action='/1-player' method ='POST'>
  <input type='text' name='Player1 name' required/>
  <input type='submit' value ='Submit'/>
</form>
