
	<h2>Please enter your name below!</h2>

	<form action='/one_player_enter_name' method="post">
	    <input type="text" name="name">
	    <input type="submit" name="submit" value="Submit">
	</form>


