<center><h1>Enter your name if you dare</h1>


  <form action="/one_player_name" method="post">
  <label>Player</label>
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
</center>
