<!DOCTYPE html>
<html>
<head>
  <link href="/css/name.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h3>Game Menu</h3>
  <form action="/">
    <input type='submit' value='back'>
  </form>
  <form action="/playernames" method="post">
    Enter name: <input type='text' name='player_1'>
      <input type='submit' value='Submit'>
  </form>
</body>
</html>
