<h2>Human vs. CPU</h2>
<br>
<form action='/names' method='post'>
  <label>Please enter your name:<br>
    <input type='text' name='Player_1_Name' value="Player 1">
  </label><br><br>
  <input type='submit' value='Submit'>
</form>