

<form action="/1_player_name" method="post">
<style>
.center {
    margin: auto;
    background-color: lightblue;
    width: 40%;
    border: 3px solid black;
    padding: 30px;
}
</style>

<body>

  <div class="center">

  <h2>Please enter your name:</h2>
  <label for="p1_name">
  Player 1 name     <input type="text" name="p1_name">
  </label>

  <input type="submit" value="Submit">
  </div>

</body>

</form>
