<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>

<body>
  <div>
    <h1>Rock. Paper. Scissors.</h1>
    <p>To begin, please enter your name</p>
    <form action="/gamenames" method="post">
      <label for="name"></label>
      <input type="text" name="name">
      <input type="submit" value="Let's play!">
    </form>
  </div>
</body>
