<h1>Opponent Generated</h1>
<p>Your computer opponent has been generated. Its name is <%= @computer_opponent_name %>.</p>
<p>Your opponent has chosen a weapon. Time to choose yours.</p>
<form action="/weapons" action="get">
  <input type="submit" value="Choose Your Weapon" />
</form>
