<h1> <%= @player_1_name %> vs. Bot </h1>
<h2>Enter: Rock, Paper or Scissors</h2>
<form action="/result" method="post">
  <label for="player_1_option">
    Please enter option
    <input type="text" name="player_1_option">
  </label>
  <input type="submit" value="Submit">
</form>

