
<h1>Rock, paper or scissors?<%= %></h1>

<!-- <button type="submit" name="rock" id="rock"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ5rRA00Rj2gOpJdUPrBozrEXId6VaoNZff_48ANK9KblE9_PAYA"></button> -->
<!-- <button type="submit" name="paper"><img src="http://cdn.toonvectors.com/images/2/5818/toonvectors-5818-140.jpg"></button>
<button type="submit" name="scissors"><img src="https://png.pngtree.com/element_pic/17/02/09/08ad61b612011dad5c3e220d1663cc28.jpg"></button> -->

<a href="/confirm_option">
    <img id="rock" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ5rRA00Rj2gOpJdUPrBozrEXId6VaoNZff_48ANK9KblE9_PAYA" alt="rock"/>
</a>

<a href="/confirm_paper">
    <img id="paper" src="http://cdn.toonvectors.com/images/2/5818/toonvectors-5818-140.jpg" alt="paper"/>
</a>

<a href="/confirm_scissors">
    <img id="scissors" src="https://png.pngtree.com/element_pic/17/02/09/08ad61b612011dad5c3e220d1663cc28.jpg" alt="scissors"/>
</a>
