<h1> Choose an option, <%= @game.player2.name %> </h1>
<br>
<br>
<form action='/optionp2' method='post'>
  <input type='submit' value='Rock' name ="option">
  <input type='submit' value='Paper' name="option">
  <input type='submit' value='Scissors' name="option">
</form>
