<div>

  <!-- <form action="/rps" method="post">
    <input class="btn" type="button" name="rock" value="ROCK">
    <input class="btn" type="button" name="paper" value="PAPER">
    <input class="btn" type="button" name="scissors" value="SCISSORS">
  </form> -->

  <a href="/play?choice=rock">ROCK</a>
  <a href="/play?choice=paper"></a>
  <a href="/play?choice=scissors"></a>
  <link rel="stylesheet" type="text/css" href="/styling.css" >

</div>
