<h1> Your turn, <%=@round.current_turn.name%>! </h1>

<form action= '/computer-move' method='post'>
<select name = "move">
  <option name = "rock">rock</option>
  <option name = "paper">paper</option>
  <option name = "scissors">scissors</option>
</select>
<input type= "submit" value="Go!">
</form>
