
<h1>rock, paper or scissors?</h1>
  <form action="/p1move" method="post">
  <input type="image" name="option" value="rock" id="rock" src="rock.jpeg">
  <input type="image" name="option" value="paper" id="paper" src="paper.jpeg">
  <input type="image" name="option" value="scissors" id="scissors" src="scissors2.jpeg">
</form>
