<h1>Enter: Rock, Paper or Scissors</h1>
<form action="/option" method="post">
  <label for="player_1_option">
    Please enter option
    <input type="text" name="player_1_option">
  </label>
  <input type="submit" value="Submit">
</form>

