<link href="<%= url('/global.css') %>" rel="stylesheet" type="text/css" />

<div class="outer_div">
<div class="inner_div">
  <h1>Welcome warrior <%=@game.turn.name%> </h1>
    <form action="/player_choice" method="POST">
    <button name="option" type=submit value="Rock">Rock</button>
    <button name="option" type=submit value="Paper">Paper</button>
    <button name="option" type=submit value="Scissors">Scissors</button>
  <form>
  <div >
  <h2>You choose: <%=@game.player_1.choice%><h2>
  </div>

  <% if @game.player_2.name == "Computer" %>
    <a href='/battle' class="link_like_btn">Confirm Choice</a>
  <% elsif @game.player_2.name != "Computer" &&  @game.player_2.choice == nil %>
    <a href='/switch_turn' class="link_like_btn">Confirm Choice</a>
  <% else %>
    <a href='/battle' class="link_like_btn">Confirm Choice</a>
  <% end %>
  
</div>
</div>
