<div>
  <a class="btn" href="/play?choice=rock">ROCK</a>
  <a class="btn" href="/play?choice=paper">PAPER</a>
  <a class="btn" href="/play?choice=scissors">SCISSORS</a>
</div>
<link rel="stylesheet" type="text/css" href="/styling.css" >
