<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @player_2_name %> plays <%= @player_2_weapon %> against <%= @player_1_name %>'s <%= @player_1_weapon %>

    if player one has variable that equals win - Alex wins, AI Overlord loses

    if player one has variable that equals lose - Alex loses, AI Overlord wins

    if player one has variable the equals draw - its a draw
    
  </body>
</html>
