<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
</head>

<body id="outcome">
<div id="player_1_throw">
  <img src="images/ruby.png" id="player_1_weapon"><br>
  <%= @player_1_name %> throws ruby!
</div>
<br><br><br>
<div id="player_2_throw">
  <img src="images/scissors.png" id="player_2_weapon"><br>
  <%= @player_2_name %> throws scissors!
</div>
</body>

</html>