<html>
<head> 
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<h2> <%= @player_1.name%> chose <%= @player_1.weapon=$player_choice.downcase%> </h2>
<h2> Computer chose <%= @computer_choice %> </h2>

<h1> <%= @result %> </h1>

<a href='/play'>Play again</a>



</body>
</html>