<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Outcome</title>
</head>
<body>
  <h2><%="You chose #{@player.choice}"%></h2>
  <h2><%="Computer chose #{@computer_decision}"%></h2>
</body>
</html>
