<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/outcome.css">

<div class="container">
  <h1 id="result"><%= @game.outcome %></h1>
  <h3 id="explanation">You chose <%= @game.player.show_choice %> and we chose <%= @game.move %> </h2>
</div>
