<html>
  <body style="text-align:center; font-family: monaco; color: navy; background-color: #009999">
    <p>You chose <%=@user_weapon%>!</p>
    <p>The computer chose <%=@computer_weapon%>!</p>
    <p><%=@result%></p>
    <form action="/play">
      <input type='submit' value='Play again!'>
    </form>
  </body>
</html>
