<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <p>You threw <%= @player_shape %>!</p>
    Computer threw <%= @computer_shape %>!<br>
    <%= @outcome %>!<br>
    The score is <%= @score.flatten.join(':') %><br>
  </body>
  <form action="/throw">
    <button>Let's Rock Again</button>
  </form>
  <!-- <a href="/name">Proceed</a> -->
</html>

<!-- #Avoid BR tage -->
