<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, , initial-scale=0.5">
  <link rel=stylesheet type=text/css href=/stylesheet/index.css />
</head>

  <body class='body'>
    <p class='p'>
      <%= $result %>
    </p>
  </body>
</html>
