<%=@game.name2 %> has chosen <%= @game.choice2 %>!
<% @game.outcome %>

<% if @game.winner == 'draw' %>
This round was a draw!
<% else %>
<%= @game.winner.name %> won this round!
<%end%>

<form action='/play' method='get'><input type="submit" value="Play again"/></form>
