<h1> You have selected <%= @move %></h1>

<h1> The computer selected <%= @comp_move %> </h1> 

<h1> <%= @result %> </h1> 

<form action=/play method="get">
  <input type="submit" value="Play Again">
</form>
