<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/outcome.css">
      <title>DEFEAT!</title>
  </head>
  <body>
    <center>
      <div class="result">
        <% game = @game %>
        <h2><%= game.player.name %> played <%= game.player.move %>!</h2>
        <h2>Tavern wench played <%= game.computer.computer_move %>!</h2>
        </div>
      </div>
        <form action="/new_game">
      <input type="submit" value="try again!" class="continue">
    </center>
  </body>
