<% @game.outcome %>

<%=@game.name2 %> has chosen <%= @game.choice2 %>!

<% if @game.winner == :draw %>
This round was a draw!
<% else %>
<%= @game.winner.name %> won this round!
<%end%>

<% if @game.score1 == 5 || @game.score2 == 5%>
<form action='/game_over' method='get'><input type="submit" value="Play again"/></form>
<% else %>
<form action='/play' method='get'><input type="submit" value="Play again"/></form>
<%end%>
