<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/outcome.css">

<div class="container">
  <h1><%= @outcome %></h1>
  <h3>You chose <%= @game.player.show_choice %> and we chose <%= @game.move %> </h3>
  <form action='/' method="post">
    <input type="submit" class="btn btn-sm btn-light" value='Play Again'>
  </form>
</div>
