<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
</head>

<body>

</body>

</html>