<html>
  <body style="text-align:center; font-family: monaco; color: white; background-color: #804000">
    <p>You chose <%=@user_weapon%>!</p>
    <p>The computer chose <%=@computer_weapon%>!</p>
    <p>You lost this round!</p>
  </body>
</html>
