<div>
  <p> You played <%= @game.player1.move %>.
</div>

<div>
  <p> The Computer played <%= @game.player2.move %>.
</div>

<div>
  <p> <%= @game.winner %> is the winner! </p>
</div>

<!-- <div>
  <form action="/enter_move" method="post">
    <input type="submit" value="Play again">
</div> -->
