<html>
<head> 
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<h3> <%= @player_1_name%> chose Rock </h3>
<h3> Computer chose xxx </h3>

<h2> Player xxx wins! </h2>



</body>
</html>