<!DOCTYPE html>
<html>
<head>
  <link href="/css/outcome.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>

  <h1><%=@outcome%></h1>

  <form action="/">
    <input type='submit' value='new game'>
  </form>

  <form action="/reset" method="post">
    <input type='submit' value='play again'>
  </form>

</body>
</html
