<!DOCTYPE html>
<html>
<head>
  <title>Rock-Paper-Scissors</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>

<header>Rock-Paper-Scissors</header>

<h2>Sign in to play!</h2>

<form action="/1pname" method="post">
	<label for="player_name">
		Your name:
		<input type="text" name="player_name">
	</label>
   <input type="submit" value="Submit">
 </form>
 

</body>
</html>