<center>
  <BR>
  <div><h2>Welcome <%= RPS.entry.list[:p1].name %> :D</h2></div>
  <h3>Waiting for Player 2 to complete entry...</h3>
  <meta http-equiv="refresh" content="3;url=/p1_standby" />
  <div>
    <form action='/p1_standby' method='get'>
      <input type='submit' value='Refresh'>
    </form>
  </div>
</center>
