<center>
  <BR>
  <div><h3>Enter your name below:</h3></div>
  <div>
    <form action='/p2_entry' method='post'>
      <input type='text' name='p2_name' placeholder='Player 2'>
      <input type='submit' value='Complete entry'>
    </form>
  </div>
</center>
