<head>
  <link rel="stylesheet" type="text/css" href="../public/styles.css"/>
</head>

<body>
  <div id="indexcontent">

    <h1>Rock, Paper, Scissors!</h1>
    <br>
    <div id="name_form">
      <h3>Please enter your names:</h3>
      <form action='/p2_submit' method='post'>
        P1:<input type='text' name='player_1_name'/>
        <br>
        P2:<input type='text' name='player_2_name'/>
        <br>
        <input type='submit' value='Submit'/>
      </form>
    </div>
    <!-- Start of SimpleHitCounter Code -->
    <div id="counter">
      <a href="http://www.simplehitcounter.com" target="_blank">
        <img src="http://simplehitcounter.com/hit.php?uid=2046405&f=65535&b=0" border="0" height="18" width="83" alt="web counter">
      </a>
      <br>
      <a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">Visitor Count</a>
    </div>
    <!-- End of SimpleHitCounter Code -->
  </div>


</body>
