<h1>Rock, Paper, Scissors!</h1>

<h1><%=@game.player_1.name%> vs <%=@game.player_2.name%></h1>

<h1><%=@game.player_2.name%>, choose your move</h1>

<form action="/p2_choose_rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/p2_choose_paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/p2_choose_scissors" method="post">
  <input type="submit" value="Scissors">
</form>
