<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%= erb :header_partial %>
  <body>
    <div class="w3-center">
      <h1>Welcome <%= @player_name %>!</h1>
      <h2>Choose your weapon:</h2><br>
      <form action="/choose_weapon_two_player" method="post">
        <%= erb :choice_partial %>
      </form>
    </div>
  </body>
</html>
