<!DOCTYPE html>
<html>
<head>
  <title>Game on!</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>Please select your attack, <%=@game.p2_name%></header>

<form action='/p2' method='post'>
  <input type='submit' value='Rock' name='selection'>
  <input type='submit' value='Paper' name='selection'>
  <input type='submit' value='Scissors' name='selection'>
</form>
</body>
</html>