<container class="hud">
  <section class="left-hud">
    <div class="hud-content">
      <section class="instructions">
        <%= @game.player(1).name %> lost :(
        <br />
        Weapon: <%= @game.player(1).weapon %>
      </section>
    </div>
  </section>
  <section class="right-hud">
    <div class="hud-content">
      <section class="instructions">
        <%= @game.player(1).name %> won!
        <br />
        Weapon: <%= @game.player(2).weapon %>
      </section>
    </div>
  </section>
</container>
