<% if @num == 21 %>
<center>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You picked Paper</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">Computer picked Rock</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You win!</font>
  </center>
  <br/>
  <br/>
  <br/>
  <form action = '/game'>
  <center>
  <button type="submit" style="height: 100px; width: 100px" id="play again">Play again!</button>
  </center>
  </form>
  </body>



<% elsif @num == 22 %>

<center>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You picked Paper</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">Computer picked Scissors</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You lose!</font>
  </center>
  <br/>
  <br/>
  <br/>
  <form action = '/game'>
  <center>
  <button type="submit" style="height: 100px; width: 100px" id="play again">Play again!</button>
  </center>
  </form>
  </body>


<% elsif @num == 23 %>
<center>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">You picked Paper</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">Computer picked Paper</font>
  <br/>
  <br/>
  <br/>
  <br/>
  <font size="30">Draw!</font>
  </center>
  <br/>
  <br/>
  <br/>
  <form action = '/game'>
  <center>
  <button type="submit" style="height: 100px; width: 100px" id="play again">Play again!</button>
  </center>
  </form>
  </body>
<% end %>
