<%= @player %> chose Paper and Computer chose <%= @comp_choice %>
<br>
<%= @result %>
<br>
<form action='/play' method='get'>
  <input type='submit' value='Play Again'>
</form>
<form action='/' method='get'>
  <input type='submit' value='Quit'>
</form>
