<div style="margin:0 auto" align=center>

<%= "#{@game.current_turn.name} vs #{@game.next_turn.name}"%>
<% if @game.computer_play == 'scissors' %>
<p>
  <% @game.win(@game.next_turn) %>
  <%= "Uh oh, scissors beats paper! #{@game.current_turn.name}: #{@game.current_turn.score.to_s}, #{@game.next_turn.name}: #{@game.next_turn.score.to_s}" %>

  <% elsif @game.computer_play == 'paper' %>
  <%= "Hmm, you both got paper...it's a tie, no winners!" %>

  <% else @game.computer_play == 'scissors' %>
  <% @game.win(@game.current_turn) %>
  <%= "Woo, paper beats rock! #{@game.current_turn.name}: #{@game.current_turn.score.to_s}, #{@game.next_turn.name}: #{@game.next_turn.score.to_s}" %>
  <% end %>

  <p>
    <form action="/rock" method="get">
      <input type="submit" value="Rock">
    </form>
    <form action="/paper" method="get">
      <input type="submit" value="Paper">
    </form>
    <form action="/scissors" method="get">
      <input type="submit" value="Scissors">
    </form>
  </div>
