<center><h1><%=@game.player_name%> chose Paper</h1>

Vs.

<%= @game.rock_paper_scissors%>

<br>
<form action= "/rock" method="get">
<input type= "submit" value = "Rock">
<br>
<form action= "/paper" method="get">
<input type= "submit" value = "Paper">
<br>
<form action= "/scissors" method="get">
<input type= "submit" value = "Scissors"></center>