<title>Rock Paper Scissors</title>

<h1><%=@rps.result%></h1>
<br>
<h2><i><%=@name%> chose Paper! Computer chose <%=@rps.pair[:computer]%>!<i></h2>
  <br>
  <form action='/play'>
    <input type='submit' value='Play again'>
  </form>
