<center><h1><%=@player.name%> chose Paper</h1>

<br>
<form action= "/rock" method="get">
<input type= "submit" value = "Rock">
<br>
<form action= "/paper" method="get">
<input type= "submit" value = "Paper">
<br>
<form action= "/scissors" method="get">
<input type= "submit" value = "Scissors"></center>