<%= erb :header %>
<h1><%= @game.winner %>

<div id="wrapper">
  <div id="player">
    <h3>You played</h3>
    <img src="/images/paper.png" alt="paper_img">
  </div>

  <div id="computer">
    <h3>Computer played</h3>
    <img src="/images/<%= @game.computer_choice %>.png" alt="<%= @game.computer_choice.to_s %>_img">
  </div>
</div>

<form action="/new-round" method="post"><button type="submit">Play Again</button></form>