<div>
  <h1> <%= @player_choice.upcase %> vs <%= @game_choice.upcase %> </h1>
</div>
<% if @player_choice == "paper" && @game_choice == "paper" %>
  <h2>YOU TIED! Try Again </h2>
  <img src='https://media.giphy.com/media/1inouzQjjcBMhK2oq9/giphy.gif'>
<% elsif @player_choice == "paper" && @game_choice == "scissors" %>
  <h2>YOU LOSE!</h2>
  <img src='https://media.giphy.com/media/yX8PN7T58DqQo/giphy.gif'>
<%elsif @player_choice == "paper" && @game_choice == "rock" %>
  <h2>YOU WIN!</h2>
  <img src='https://media.giphy.com/media/QMkPpxPDYY0fu/giphy.gif'>
<% end%>
<div>
  <button><a href="/play"> PLAY AGAIN</a></button>
</div>