<title>Rock Paper Scissors</title>

<h2><i><%=@name%> chose Paper!<i></h2>
  <h2>Computer chose <%=@rps.pair[:computer]%>!</h2>
    <br>
    <form action='/play'>
      <input type='submit' value='Play again'>
    </form>
