<head>
  <link rel='stylesheet' type='text/css' href='styles.css') />
</head>

<%= @p1 %> chose Paper. <br>

Computer chose <%= @computer_attack_type %>.

<% if @computer_attack_type == 'Rock' %>
  <p><%= @p1 %> won!</p>
<% elsif @computer_attack_type == 'Paper' %>
  <p>It's a draw</p>
<% else %>
  <p>Computer won!</p>
<% end %>

<form action='/play' method='get' >
  <input type='submit' value='Play Again'>
</form>
