<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h1> Hi, <%= @name.capitalize %>! <%= @result %><h1>

<h4>You selected Paper</h4>
<img class="rps" src="paper.jpg">

<h4>The computer selected <%= @computer_choice %> </h4>