<body style="background-color:red;">
<center><h1><font face="century gothic">  Rock Paper Scissors </font></h1></center><br>
<center><img src="https://i1.wp.com/www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg?zoom=2&resize=524%2C349&ssl=1" style="width:400px;height:200px;"></center><br>
<br><br>
<center><h1><font face="century gothic">  <% @RPS_game.pc_wins %> </font></h1></center><br><br><br><br>
<center><h3><font face="century gothic"><a href="/">One more round?</a></font></h3></center>
</body>
