<h4>Contender:</h4>
<h2 style="color: red"><%= @player_1 %> </h2>
<h4>Choose your weapon:</h4>

<form action='/weapon_picked' method='post'>
  <input type='submit' value='rock' name='weapon'>
  <input type='submit' value='paper' name='weapon'>
  <input type='submit' value='sissors' name='weapon'>
  <!-- <input type='text' name='weapon'>
  <input type='submit' value='Submit'> -->
</form>
