<h2>Pick your opponent:</h2>
<p> Welcome to RPS <%= @player.name %>. Now it's time to pick your opponent, but pick carefully.
  Each opponent will play very differently to the others.</p>

<ol>
  <a href="/pick_opponent/1">
    <li>Opponent 1: Jet Lee</li>
  </a>
    <p>Jet lee is a Karate master. Judo chop!</p>
  <a href="/pick_opponent/2">
    <li>Opponent 2: Dr Bob</li>
  </a>
    <p>Bob is a geologist who likes to look for ancient bones in his spare time.</p>
  <a href="/pick_opponent/3">
    <li>Opponent 3: Sergey</li>
  </a>
    <p>Sergey is a hair dressor, one of the best in london in fact! </p>
  <a href="/pick_opponent/4">
    <li>Opponent 4: John Forbes Nash Jr.</li>
  </a>
    <p> Nash is a mathmatician with an acute understanding of the principles of probability and game theory</p>
  <a href="/pick_opponent/5">
    <li>Opponent 5: Crazy Sam</li>
  </a>
    <p> No one knows what Crazy Sam is all about. He's... unpredictable.
</ol>
