<center>
  <h1>Rock, Paper, Scissors</h1>
  <h2>What's you name?</h2>
  <form action="/result" method="post">
    <input type="text" name="Name" value="Phil">

  <h2>Pick your weapon!</h2>
      <select name ="Weapon_choice">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
        <input type = "submit" value = "Play">
      </select>
    </form>
</center>
