<h1> Make your choice <%= @name %> </h1>

<div class="row">
  <div class="column">
    <form action="/rock" method="post">
      <button type="submit" value="Rock">Rock</button>
    </form>
  </div>
  <div class="column">
    <form action="/paper" method="post">
      <button type="submit" value="Paper">Paper</button>
    </form>
  </div>
  <div class="column">
    <form action="/scissors" method="post">
      <button type="submit" value="Scissors">Scissors</button>
    </form>
  </div>
</div>