Hi <%= session[:player_1_name] %>, ready to play?
<br /><br />

<form action="/move" method="post">
  <label for="move">
    Enter your move:
    <input type="text" name="player_1_move" value="Rock">
  </label>
  <br /><br />
  <input type="submit" value="Submit">
</form>

