<div>
  <center>
    <p><h1>Welcome to RPS</h1></p>
    <p><h3><%=@name%> is ready for battle!</h3></p>
    <p></p>
    <h4>Choose your method of attack...</h4>
    <p><input type="radio" name="attacktype" value="rock" id="ROCK">ROCK</p>
    <p><input type="radio" name="attacktype" value="paper" id="PAPER">PAPER</p>
    <p><input type="radio" name="attacktype" value="scissors" id="SCISSORS">SCISSORS</p>
  </center>
</div>