<p>Hello, <%= @name1 %>!</p>
<form action='/select1?player1=ROCK' method='post'>
    <input type='submit' value="ROCK">
</form>
<form action='/select1?player1=PAPER' method='post'>
    <input type='submit' value="PAPER">
</form>
<form action='/select1?player1=SCISSORS' method='post'>
    <input type='submit' value="SCISSORS">
</form>