<p><b>You chose:</b> <%= @player_input %></p>

<p><b>The computer chose:</b> <%= @rps_selector %>

<p><%= @referee %></p>
<form method='get' action='/'>
    <input type='submit' value='Play again'/>
</form>
