<h1> Welcome <%=@player_name%> to your game of Rock, Paper, Scissors</h1>
<h1> Would you like to pick Rock, Paper, or Scissors? </h1>


<div>
<form action="/choice" method="post">
<select name ="chosen_move" id="chosen_move" >
    <option>choose</option>
    <option value="Rock" name = "chosen_move">Rock</option>
    <option value="Paper" name = "chosen_move">Paper</option>
    <option value="Scissors" name = "chosen_move">Scissors</option>
</select>
<input type="submit" value="Enter">
</form>
</div>

<!-- <form action="/result" method="post">
  <input type="text" name="player_names">
  <input type="submit" value="Enter">
</form> -->
