Hello <%= @name %>!
<form action="/compare" method="post">
  <input type="radio" name="user_choice" value="Rock" checked>Rock<br>
  <input type="radio" name="user_choice" value="Paper">Paper<br>
  <input type="radio" name="user_choice" value="Scissors">Scissors<br>
  <input type="submit" value="Submit">
</form>
