<p><%= @player.name %> vs. Computer!</p>

<form name="input" action="/round" method="post">
  <input type="submit" value="Rock" name="RPS">
  <input type="submit" value="Paper" name="RPS">
  <input type="submit" value="Scissors" name="RPS">
</form>
