<h1> <%= @player2 %>, make your move! </h1>
<br>
<form action="/move2" method="post">
  <label for="player2move">Player 2, choose your move:</label>
  <select name="player2move">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <button type="submit">Submit</button>
</form>
