<h1><%= @game.player %> vs Computer</h1>

<section>
  <a href='/game?choice=Rock'><button>Rock</button></a>
  <a href='/game?choice=Paper'><button>Paper</button></a>
  <a href='/game?choice=Scissors'><button>Scissors</button></a>
</section>