Welcome <%=@game.player1.name%> VS <%=@game.player2.name%>
<div>Choose your weapon</div>
<!-- <form action="/weapon" method="post">
    <input type="image" name="choice" value="rock" src="http://baconmockup.com/100/100" width="100" height="100" alt="Rock">
    <input type="image" name="choice" value="paper" src="http://baconmockup.com/100/100" width="100" height="100" alt="Paper">
    <input type="image" name="choice" value="scissors" src="http://baconmockup.com/100/100" width="100" height="100" alt="Scissors">
    <input type="image" name="choice" value="lizard" src="http://baconmockup.com/100/100" width="100" height="100" alt="Lizard">
    <input type="image" name="choice" value="spock" src="http://baconmockup.com/100/100" width="100" height="100" alt="Spock">
</form> -->
