<h1>Choose your weapon!</h1>
<form action="/outcome" type="post">
  <input type="submit" name ="weapon" value="rock">
  <input type="submit" name ="weapon" value="paper">
  <input type="submit" name ="weapon" value="scissors">
</form>
