Welcome <%= @game.player %>, please choose an option <br><br>

<% if @display_winner %>
And the winner is:
<%end %>

<form action='/game' method=post>
<button name=choice type=submit value=rock>Rock</button>
<button name=choice type=submit value=paper>Paper</button>
<button name=choice type=submit value=scissor>Scissor</button>
</form>
