<html>
<h1 style="text-align:center;"> WELLCOME </h1>
<h2 style = "color:blue;text-align:center;" >Let's play</h2>
<p style = "color:green;text-align:center;border: 3px dotted rgba(0,255,59,0.91);webkit-border-radius: 10px;border-radius: 10px;"> <%= @player %> </p>
<!DOCTYPE html>
<html>
<!-- <head> -->
<!-- /*<style>
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: red}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>
</head>*/ -->

<body>
  <center>
    <form action="/result">
      <select required name="chose">
        <option value="rock">rock</option>
        <option value="paper">paper</option>
        <option value="scissors">scissors</option>
        <option value="lizard">lizard</option>
        <option value="Spock">Spock</option>
      </select>
      <input type="submit" value="CHOSE">
    </form>
    <!-- <div class="dropdown">
      <button class="dropbtn">CHOSE</button>
      <div class="dropdown-content">
      <a href="/result" value="rock">rock</a>
        <a href="/result" value="paper">paper</a>
        <a href="/result">scissors</a>
        <a href="/result">lizard</a>
        <a href="/result">Spock</a>
      </div>
    </div> -->
  </center>
</body>
<!-- </head> -->
</html>

<center>
<div class="horizontal div1">
    <div class="vertical"> <br><br>
        <img src="https://raw.githubusercontent.com/makersacademy/course/master/images/rpsls.jpg?token=AS3HUZEazk_fWEuh2G-j30Px_ca7VoFdks5XnbXQwA%3D%3D"/>
    </div>
</div>
</center>
