<p>Choose an option, <%= @name %></p>

<form action='/option' methods='post'>
  <input type='submit' value='Rock' />
  <input type='submit' value='Paper' />
  <input type='submit' value='Scissors' />
</form>
