<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rock, Paper, Scissors</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>

<body>
  <h1>Rock, Paper, Scissors</h1>
  <h2> <%=@player%> </h2>
  <form action="/move" method="POST">
  <input id="rock" type="radio" name="choice" value="Rock">
  <label for="rock">Rock</label>
  <input id="paper" type="radio" name="choice" value="Paper">
  <label for="paper">Paper</label>
  <input id="scissors" type="radio" name="choice" value="Scissors">
  <label for="scissors">Scissors</label>
  <input type="submit" value="Choose">
</body>
</html>
