Hello <%= @name %>!

<form method="POST" action="/play">
  <input type="submit" name="shape" value="Rock" />
  <br>
  <input type="submit" name="shape" value="Paper" />
  <br>
  <input type="submit" name="shape" value="Scissors" />
  <br>
</form>

<%= @shape %> selected!
<br>
<div id="opponent">
  <%= @opponent_shape.to_s.capitalize %> selected by Opponent!
</div>
