<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
  <body>
    <div class = "flex-container">
      <div><h1>Hello <%= @player_1_name %>!</h1></div>
      <div><p>Let's play Rock, Paper, Scissors!</p></div>
      <div class="form">
      </div>
    </div>
  </body>
</html>