<html>
  <head></head>
  <body>
    <div class="player1action">
      <div class="title">
        Player 1, pick your weapon.
      </div>
      <form action="/take_first_weapon" method="get">
        <input type="submit" value="rock" class="weapon" name="weapon1">
        <input type="submit" value="paper" class="weapon" name="weapon1">
        <input type="submit" value="scissors" class="weapon" name="weapon1">
      </form>
  </div>
</body>
</html>
