<h1>Rock, Paper, Scissors, in 3, 2, 1!</h1>

</br>

<a href='/result'>
<img border="0" src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-rock-icon.png" width="100" height="100">
</a>
