<h1>Welcome to Rock, Paper, Scissors <%= @player_name %>!</h1>
<form action="/weapons">
  <div class="form-group">
    <input class="btn btn-default" type="submit" value="rock">
    <input class="btn btn-default" type="submit" value="paper">
    <input class="btn btn-default" type="submit" value="scissors">
  </div>
</form>