Hello, <%= @turn.player_name %>!<br>

<form method="POST" action="/play_start">
Choose your game utensil,
  <input type="submit" name="player_utensil" value="Rock" /><br><text=FFFFFF# we need the name here for the input to retreive for params later>
  <input type="submit" name="player_utensil" value="Paper" /><br>
  <input type="submit" name="player_utensil" value="Scissors" /><br>
</form>
