<div style="text-align: center">
  <form action="/attack" method="post">
    <button style="font-size:30px;height:200px;width:300px" name="move" value="rock" type="submit">Rock</button>
    <button style="font-size:30px;height:200px;width:300px" name="move" value="paper" type="submit">Paper</button>
    <button style="font-size:30px;height:200px;width:300px" name="move" value="scissors" type="submit">Scissors</button>
  </form>
</div>