<head>

  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">

<!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css" type="text/css">

<!-- Font -->

  <link href="https://fonts.googleapis.com/css?family=Give+You+Glory" rel="stylesheet">

</head>

<body>

<br>

<div class="container-fluid text-center">
  <h1><strong> WELCOME <%= @p1name %>! </strong></h1>
  <h2> Make your selection! </h2>

  <br>
  <div class="row">
    <div class="col-md-4 text-center">
      <h2> ROCK </h2>
    </div>
    <div class="col-md-4 text-center">
      <h2> PAPER </h2>
    </div>
    <div class="col-md-4 text-center">
      <h2> SCISSORS </h2>
    </div>
  </div>
</div>

</body>
