<%= @game.player.name %>'s turn
<br> 

<form action="/turn" method="post">

  <input type="radio" name="player_choice" value="Rock" id="rock" checked="checked"> Rock

  <input type="radio" name="player_choice" value="Paper" id="paper"> Paper

  <input type="radio" name="player_choice" value="Scissors" id="scissors"> Scissors

   <input type="submit" value="Start Game">
</form>
