<h1><%=@player1%> Please choose Rock, Paper or Scissors to play</h1>

<form id="Weapon_choice" action='/rock' method="get">
  <input choice="rock"
   type="submit" name="rock" value="rock">
</form>

<form id="Weapon_choice" action='/paper' method="get">
  <input choice="paper"
   type="submit" name="paper" value="paper">
</form>

<form id="Weapon_choice" action='/scissors' method="get">
  <input choice="scissors"
   type="submit" name="scissors" value="scissors">
</form>
