<%= @player_name %> vs <%= @computer_name %>

<form action="/winner" method="post">
  <input type="submit" value="Rock" name="sign">
  <input type="submit" value="Paper" name="sign">
  <input type="submit" value="Scissors" name="sign">
</form>
