<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Let&lsquo;s Play Rock Paper Scissors!</title>
    <meta charset='utf-8'/>
    <link rel='stylesheet' href='battle-styles.css'/>
  </head>
  <body>
    <div class='page'>
      <div class='heading'>
        <h1><%= @player %> vs. Superhans</h1>
      </div>
      <input type='submit' value='Rock'/>
      <input type='submit' value='Paper'/>
      <input type='submit' value='Scissors'/>

    </div>
  </body>
</html>
