<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/styling.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
<h1>Get ready to play <%= @marketeer.name.capitalize %>!</h1>

<h2>Choose: Rock, Paper or Scissors</h2>
<form action="/result" >
   <input type="submit" name="object" value="Rock">
   <input type="submit" name="object" value="Paper">
   <input type="submit" name="object" value="Scissors">
 </form>
</html>
