
<h1>
  Welcome <%=  @marketeer_player %>
</h1>

<form action='/result' method='get'>
  <input type='submit' name='marketeer_move' value='Rock'>
  <input type='submit' name='marketeer_move' value='Paper'>
  <input type='submit' name='marketeer_move' value='Scissors'>
</form>

<!-- <form action='/rock' method='get'>
  <input type='submit' value='Rock'>
</form>

<form action='/result' method='get'>
  <input type='submit' value='Paper'>
</form>

<form action='/result' method='get'>
  <input type='submit' value='Scissors'>
</form> -->
