Welcome <%= @name %>

<form action="/rock" method="post">
  <input type="submit" name="Rock" value="Rock">
</form>

<form action="/paper" method="post">
  <input type="submit" name="Paper" value="Paper">
</form>

<form action="/scissors" method="post">
  <input type="submit" name="Scissors" value="Scissors">
</form>

<% if @winner == :win %>
  <%=@name%> Wins
<% elsif @winner == :lose %>
  CPU Wins
<% elsif @winner == :draw %>
  Draw
<% end %>
