<h1> Choose your champion...</h1>
<form action="/play" method="post">
  <h1> ✊ <button type='submit', name='choice', value="rock"><h1> Rock </button> </h1>
  <br>
  <h1> ✋ <button type='submit', name='choice', value="paper"><h1>Paper</button></h1>
  <br>
  <h1> ✌️ <button type='submit', name='choice', value="scissors"><h1> Scissors</button></h1>
</form>
