<h3>Once again, a huge welcome to RPS, <%=@player_name%>!</h3>

<h4>You definitely won't regret this ... </h4>

<p>First, choose your weapon:</p>
<form action='/weapon' method='post'>
  <input type='submit' name='weapon' value='rock'>
  <input type='submit' name='weapon' value='paper'>
  <input type='submit' name='weapon' value='scissors'>
</form>

