<h1>
  <%= "Welcome to rock, paper, scissors, #{$player.name}!" %>
</h1>

<h2>
  Please choose you weapon!
</h2>

<form action="/game" method="post">
  <div>
    <label for="weapon">Rock</label>
      <input type="checkbox" name="weapon" value="Rock">
  </div>
  <div>
      <label for="weapon">Paper</label>
        <input type="checkbox" name="weapon" value="Paper">
  </div>
  <div>
    <label for="weapon">Scissors</label>
  <input type="checkbox" name="weapon" value="Scissors">
  </div>
  <div class="button">
      <button type="submit">Choose</button>
  </div>
</form>
