<h1> Rock, Paper, Scissors </h1>
<h2> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h2>

<p> Make your selection </p>

<form action="/selection" method="post">
  <label for = "rock">
    Rock
    <input type="checkbox" name="rock">
  </label>
  <label for = "rock">
    Paper
    <input type="checkbox" name="paper">
  </label>
  <label for = "rock">
    Scissors
    <input type="checkbox" name="scissors">
  </label>
  <input type="submit" value="Go!">
</form>
