<%= @player_1 %> choose your move:
<div>
<form action="/play" method='post'>
  <input type='submit' value="rock" value='Rock'>Rock</input>
  <input type='submit' value="paper" value='Paper'>Paper</input>
  <input type='submit' value="scissors" value='Scissors'>Scrissors</input>
</form>
</div>
