<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1> Welcome <%= @game.player_1.name %>, please select a move!</h1>

    <form action="/choice" method="post">
      <select name="player_1_move">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
