<div style='background-color: black; color: white; border: 3px solid black; padding-left: 20px; height: 1000px'>
  <h1 style="padding-left: 350px">Welcome to Rock, Paper and Scissors!</h1>
  <img src="https://image.ibb.co/kHMqV9/rps.png" alt="rps" border="0" 
  style="padding-left: 230px; padding-bottom: 50px; padding-top: 10px">  
  <h2 style="padding-left: 450px">Player 1 name: <%= @name %></h1>
</div>




