<%= @player_name %>
"What's your move?"
<form action="/outcome" method="get">
<button name="Rock"> Rock </button>
<button name="Paper"> Paper </button>
<button name="Scissors"> Scissors </button>
</form>