<h2>Welcome <%= @game.player_name_1%>!</h2>

<p>Please select either:</p>
<form action="/result" method="post">
<input id='rock' type="submit" value="rock">
<input id='paper' type="submit" value="paper">
<input id='scissors' type="submit" value="scissors">
</form>

