 <h1>Welcome <%=@player%>, please select an option:</h1>

 <form action='/option' method="post">
   <input type="submit" name="option" value="Rock">
   <input type="submit" name="option" value="Paper">
   <input type="submit" name="option" value="Scissors">
 </form>
