<h1>
  Rock Paper Scissors
</h1>

<h2>
  <%= @player_name %> vs bot
</h2>

<form action="/result" method= post>
  <input type="submit" value= "Rock">
  <input type="submit" value= "Paper">
  <input type="submit" value= "Scissors">
</form>
