<br>

<h2> Welcome <%= $name %>, Lets play!</h1>
<h3> It's time to choose...</h3>

<form action="/result" method="post">
  <input type="submit" name=move value="Rock">
  <input type="submit" name=move value="Paper">
  <input type="submit" name=move value="Scissors">
</form>