<p>Choose an option, <%= @game.player.name %></p>

<form action='/options' methods='post'>
  <button type='submit' name='option' value='Rock'>Rock</>
  <button type='submit' name='option' value='Paper'>Paper</>
  <button type='submit' name='option' value='Scissors'>Paper</>
</form>
