<h1> <%= @player_1_name %> choose your weapon </h1>

<form action='/results' method='post'>
  <input type="submit" name='weapon' value='rock'>
  <input type="submit" name='weapon' value='paper'>
  <input type="submit" name='weapon' value='scissors'>
</form>
