<h2><%= @game.player1.name %>, please choose your move!</h2>
<div>
  <img src='./img/rock.png'/> Rock
</div>
<div>
  <img src='./img/paper.png'/> Paper
</div>
<div>
  <img src='./img/scissors.png'/> Scissors
</div>
<h4>Rules</h4>
  <ul>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
    <li>Paper beats Rock</li>
  </ul>
