<h1><%=@player.name%>, choose one!</h1>

<form action="/rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/scissor" method="post">
  <input type="submit" value="Scissor">
</form>
