 <h1><%= @player %> is playing</h1>

<h1>Choose an attack:</h1>

<form method="link" action="/rock">
<input type="submit" value="Rock">
</form>

<Form method="link" action="/paper">
<input type="submit" value="Paper">
</form>

<Form method="link" action="/scissors">
<input type="submit" value="Scissors">
</form>
