<h1 align='center'><%= @player.name %> - choose your weapon!</h1>

<h1></h1><h1></h1>

<form align='center' action='/attack' method='post'>
  <input type='submit' value='Rock' name='attack'>
  <input type='submit' value='Paper' name ='attack'>
  <input type='submit' value='Scissors' name='attack'>
</form>
