<center>
  <h2>Welcome to classical game of Rock Paper Scissors, </h2>
  <h1><%= @game.player.name %>!!! </h1>

    <form action='/action' method='post'>
      <input name='choice' type='submit' value='Rock'>
      <input name='choice' type='submit' value='Paper'>
      <input name='choice' type='submit' value='Scissors'>
    </form>


</center>
