<%= "Welcome to RockPaperScissors, #{@game.player.name.capitalize}!" %>
<br>
Please choose your weapon
<form action="/weapon" method="post">
  <input type="submit" name="weapon" value="rock">
  <input type="submit" name="weapon" value="paper">
  <input type="submit" name="weapon" value="scissors">
</form>
