<style>
body {
    background-image: url("https://wallpapers.walldevil.com/wallpapers/w02/preview/860626-funny-rock-paper-scissors.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
</style>
<center><h2>Welcome <%=@player%>, get ready to play!</h2></center>

<center><form action="/battle" method="get">
  <input type="submit" value="I am ready!">
</form></center>
