<h2> Good luck <%=@game.player.name%>! </h2>

<form action="/play" method="post">
  Rock
  <input type="radio" id="rock" name="player_turn" value="rock"> <br>
  Paper
  <input type="radio" id="paper" name="player_turn" value="paper"> <br>
  Scissors
  <input type="radio" id="scissors" name="player_turn" value="scissors"> <br>
  <input type="submit" value="GO!" <br>
</form>
