<h1> Hello <%=$player1.name%> <h1>

  <h2> What are you going to throw? <h2>

    <body>
      rock </br>
      paper </br>
      scissors </br>

      Please input your choice ("rock","paper" or "scissors") <body>

    <form action="/display" method="post">
      <input type="text" name="choice">
      <input type="submit" value="Submit">
    </form>
