<html>
<body style="background-color:#e6dcef;">
<h2 style="text-align:center"><font color="r#615b63"> <%= @game.player.name %> </font> vs. <font color="#756844">Computer!</font></h2>
<h2 style="text-align:center"> Please select an option:</h2>
 <form action="/selection" method="post" align="center" >
   <input type="image" src="https://ak9.picdn.net/shutterstock/videos/18019309/thumb/1.jpg" value="Rock"  name="option" width="250" height="250" style="border-radius:120px;" id="rock">
   <input type="image" src="http://www.cartooncolor.com/images/12%20field%20bond%20paper.jpg" value="Paper" alt="Paper" name="option" width="250" height="250" style="border-radius:120px;">
   <input type="image" src="http://images.clipartpanda.com/scissors-coloring-pages-f9f1723cf0f5924a2184da807ea953b0.png" value="Scissors" alt="Scissors" name="option" width="250" height="250" style="border-radius:120px;">
</form>
</body>
</html>
