<h1> Welcome To Rock, Paper, Scissors <h1>

<h2> <font color="blue" <strong> <%= RPS.instance.player.player_name %> </strong> </font>vs Computer <h2>

<form action='/choose_move' method='post'>
  <button type='button'> <input type='submit' name=choice value='Rock'</button>
<form action='/choose_move' method='post'>
  <button type='button'> <input type='submit' name=choice value='Paper'</button>
<form action='/choose_move' method='post'>
  <button type='button'> <input type='submit' name=choice value='Scissors'</button>
</form>
