Hello <%= @player.name %>
<br>
<form action="/result" method="post" >
<input type="submit" name="player_pick" value="Rock">
<input type="submit" name="player_pick" value="Scissors">
<input type="submit" name="player_pick" value="Paper">
</form> 