<div align = "center">
<h1>Select tool to play!</h1>

<%= @name %>

<form method="POST" action= "/play">
  <input type="submit" name="tool" value="Rock" />
  <input type="submit" name="tool" value="Paper" />
  <input type="submit" name="tool" value="Scissors" />
</form>

You chose <%= @tool %>!
<div id="opponent"
  Opponent chose <%= @opponent_tool.to_s.capitalize %>!
</div>
