<h1>Hello <%=@turn.player_name%>, welcome to Rock paper scissors.</h1>
<h1>Choose one of the three shapes.</h1>

<form method="POST" action="/play">
  <input type="submit" name="shape" value="Rock"/>
  <input type="submit" name="shape" value="Paper"/>
  <input type="submit" name="shape" value="Scissors"/>
</form>

Your move is: <%=@turn.player_shape%>

<div id="Opponent">
<br>Opponent chose: <%=@turn.opponents_shape.to_s.capitalize%><br>
</div>
