

<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors</title>
    <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->
  </head>

  <body>
    <h1 id='instructions'><%= @player_1 %> choose wisely</h1>
  </body>
</html>
