<h2>Lets play <%=@game.player.name%>!</h2>

<form action="/result">
  <input type="submit" name="hand" value="Rock">
  <input type="submit" name="hand" value="Paper">
  <input type="submit" name="hand" value="Scissors">
</form>
