<h1> Choose an option, <%= @game.player1.name %> </h1>
<br>
<br>
<form action='/optionp1' method='post'>
  <input type='submit' value='Rock' name ="commit">
  <input type='submit' value='Paper' name="commit">
  <input type='submit' value='Scissors' name="commit">
</form>
