<center><img src="title.jpg">
<p>

<form action="/name" method="post">
  <label for="playername">
  Please enter player 2's name: <input type="text" name="playername" />
  <input type="submit" value="Submit">
</form>
