<h1>
  It's <%=@game.player_one_name%> vs <%=@game.player_two_name%>!
</h1>
<form action='/play' method=post>
<input type='submit' value='Rock' name=choice>
<input type='submit' value='Paper' name=choice>
<input type='submit' value='Scissors' name=choice>
</form>
