<div style='width: 400px; border: 3px solid #b10d19; text-align:center; margin:0 auto; '>
  <img src='http://1.bp.blogspot.com/-m_OvTCAXR7Y/VcWhhdQBjlI/AAAAAAAAQwA/hBD5NnDr6lg/s1600/rpslz1.jpg' width="400">
    <p><% if @name != "" %>
        <font size="6"><strong><u>Hello <%= @name %></u></strong></font>
        <% session[:player1] = @name %>
     <% else %>
        <font size="6"><strong><u>Hello Mr Anonymous</u></strong></font>
        <% session[:player1] = "Mr Anonymous" %>
      <% end %></p>
  <div style="float: left; width: 280px; ">
   <img src='http://1.bp.blogspot.com/-kyinWTNypjQ/VcZPcu8AMTI/AAAAAAAAQw0/m64rH1hFg30/s320/rpsls.jpg' width="270">
  </div>
  <div style="float: left; width: 120px; ">
  <font size="4"><p>Choose wisely</p>
  <p><form action="/play_spock" method="post">
  <select name="choice">
      <option value = "rock">Rock</option>
      <option value = "paper">Paper</option>
  <option value = "scissors">Scissors</option>
    <option value = "lizard">Lizard</option>
  <option value = "Spock">Spock</option>
  </select></p>
    <p><input type="submit" value ="Present Choice"></p></font>
  </div>
<img src='http://3.bp.blogspot.com/-HusxZpp2u4g/VcZO4F4N8OI/AAAAAAAAQws/a08uZ98kkls/s1600/rpsls%2Brules%2B2.jpg' width="380" >
</div>