<body style="background-color:lightgrey;font-family:helvetica;">
Hello <%= @name %> welcome to the armoury!

<center><form action="/game" method="post">
  <input type="checkbox" name="weapon_type" value="rock"> Rock<br>
  <input type="checkbox" name="weapon_type" value="paper"> Paper<br>
  <input type="checkbox" name="weapon_type" value="scissors"> Scissors<br>
  <input type="submit" value="Submit">
</form></center>

</body>
