<h1> <%=@player_name%> vs bot! Here we go... </h1>

<nav> Choose your weapon: 
<form action="/results" method="post">
 <input type="submit" value='Rock' name='weapon'>
 <input type="submit" value='Paper' name='weapon'>
 <input type="submit" value='Scissors' name='weapon'>
</form>
</nav>