<%= @player_name %> you are now facing the champion of the arena <br>

<br> Choose your move <br> <br>

<form action="move" method="post">
  <input type="submit" value="Rock" name="weapon">
  <input type="submit" value="Paper" name="weapon">
  <input type="submit" value="Scissors" name="weapon">
</form>