<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>

  <h2> Welcome <%= @game.player_1.name %> </h2>
  <h3>Select Rock, Papers or Scissors.</h3>

  <form action="/runMethod", method="get">
    <button name="choice", type="submit", value="Rock">Rock</button>
    <button name="choice", type="submit", value="Paper">Paper</button>
    <button name="choice", type="submit", value="Scissors">Scissors</button>
  </form>

</body>
</html>