<style>

#lights {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(https://media.giphy.com/media/hRNAHcNewOV8Y/giphy.gif) 100 round; /* Safari 3.1-5 */
    -o-border-image: url(https://media.giphy.com/media/hRNAHcNewOV8Y/giphy.gif) 100 round; /* Opera 11-12.1 */
    border-image: url(https://media.giphy.com/media/hRNAHcNewOV8Y/giphy.gif) 100 round;
}

</style>


<body background="https://img00.deviantart.net/4385/i/2014/211/0/0/gon_jajanken_wallpaper_by_mistercharless-d7sxht2.jpg">
<h1 style="text-align:center; color:#0B0548;">Rock, Paper, Scissors!</h1>
<h2 style="text-align:center; color:#F4E25E;" id="lights"><%= $player.name.upcase %></h2>

</body>
