<html>
  <head>
  </head>
  <body>
    <div style="text-align:center;">
      <br><br><br>
      <h1> Welcome <%= @game.player.name %> to your game of Rock-Paper-Scissors! </h1>
    </div>
  </body>
</html>
