<%= erb :header %>
<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>
<h2>Let's play Rock Paper Scissors!</h2>
<h3>Choose one option</h3>

<a href="/rock"><img src="/images/rock.png" alt="rock_img" name='rock'></a>

<a href="/paper"><img src="/images/paper.png" alt="paper_img" name='paper'></a>

<a href="/scissors"><img src="/images/scissors.png" alt="scissors_img" name='scissors'></a>
