<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <h1 class="header-text">Rock, Paper, Scissors</h1>
      </header>
      <section class="content-wrapper">
        <h2 class="section-title"><%=@current_player.name%>'s turn</h2>
        <form class="form-content" action='/choice' method='post'>
          <input class="submit-button" name="choice" type="submit" value="Rock">
          <input class="submit-button" name="choice" type="submit" value="Paper">
          <input class="submit-button" name="choice" type="submit" value="Scissors">
        </form>
      </section>
    </div>
  </body>
</html>
