<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Game!</title>
  </head>
  <body>
    <div class="game">
      <h2>Ready to play, <span id="player_name"><%= @game.player.name %></span>?</h2>
      <div class="buttons">
        <form action="/play">
          <input id="button_game" type="submit" name="move" value="Rock">
          <input id="button_game" type="submit" name="move" value="Paper">
          <input id="button_game" type="submit" name="move" value="Scissors">
        </form>
        <br>
      </div class="outcome">
      <% if @game.player.choice %>
        You went with <%= @game.player.choice %> x Computer went with <%= @game.computer.choice %>
        <br>
        <%= @game.result %>
      <% end %>
    </div>
  </body>
</html>
