<%= @game.player.name %> takes on Hal!

<form name="player" action="/choice" method="post">
  <input type="submit" value="Rock" name="player_choice">
</form>

<form name="player" action="/choice" method="post">
  <input type="submit" value="Paper" name="player_choice">
</form>

<form name="player" action="/choice" method="post">
  <input type="submit" value="Scissors" name="player_choice">
</form>
