<h1>Welcome to Rock Paper Scissors, <%=session[:game].player.name%>!</h1>

<form action="/result" method="post">
<input type="submit" name="choice" value="Rock">
<input type="submit" name="choice" value="Paper">
<input type="submit" name="choice" value="Scissors">
</form>
