Hi
<br> <%= @welcome_message %>
<form action="/choice" method="POST" >
<button type="submit" name="choice" value="rock">rock</button>
<button type="submit" name="choice" value="paper">paper</button>
<button type="submit" name="choice" value="scissors">scissors</button>
<br> <%= @game.choice_message %>
<br> <%= @game.winning_message(@winner) %>
