<h1> <%= @game.player1.name %> vs The Computer </h1>

<form id="moves" action='/move' method="get">
    <input id="rock"
    type="submit" name="move" value="rock">

    <input id="paper"
    type="submit" name="move" value="paper">

    <input id="scissors"
    type="submit" name="move" value="scissors">
</form>
