Hello <%= @name %>! What move would you like to make?
<br>
<form>
  <input type='submit' value="Rock">
</form>
<form>
  <input type='submit' value="Paper">
</form>
<form>
  <input type='submit' value="Scissors">
</form>
