<%= @marketer_name_1 %> please select your option:
<br>
<br>
<form action='/option' method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>



