<h3> Welcome <%= @player1.name%>, to this riveting game of rock paper scissors </h3>

<form action="/result" method="post">
	<input type="submit" name="player_choice" value="rock">
	<input type="submit" name="player_choice" value="paper">
	<input type="submit" name="player_choice" value="scissors">
</form>