<h1><%=@player_name%>, choose your move!</h1>
<form action='/save_move' method='post'>
  <select name='player_move'>
    <option value='Rock'>Rock</option>
    <option value='Paper'>Paper</option>
    <option value='Scissors'>Scissors</option>
  </select>
  <button type='submit'>Go!</button>
</form>
