<h1><p style="color:red">Welcome <%= @player.capitalize %></p></h1>
<button action='/attack'><input type='submit' value='Rock'></button>
<button action='/attack'><input type='submit' value='Paper'></button>
<button action='/attack'><input type='submit' value='Scissors'></button>
