<h1> Hello <%= @player_1_name %>!</h1>



<h3>Welcome to the one of the most thrilling game a human mind could<br>
possibly came up with in which the computer's brain will be trying<br>
to match your undoubtedly incredible cognitive powers, some people<br>
might want to call sheer luck. </h3>



<h2>Please select Rock, Paper or Scissors to begin the game!</h2>



<form action="/game_on" method="post">
  <label> <input type="radio" name="rps" value="Rock"/> Rock </label>
  <label> <input type="radio" name="rps" value="Paper"/> Paper </label>
  <label> <input type="radio" name="rps" value="Scissors"/> Scissors </label><br>
  <br><input type="submit" value="Submit"/><br>
</form>
