<%= @player %> vs Computer

<h2>What&apos;s your weapon?</h2>

<form action="/result" method='post'>
  <input type="radio" name="choice" value="rock">Rock<br>
  <input type="radio" name="choice" value="paper">Paper<br>
  <input type="radio" name="choice" value="scissors">Scissors<br>
  <input type="submit" value="OK">
</form>
