<div style='border: 3px dashed #4ac3de; padding: 1em'>

  <center><b>Welcome <%= @player_name %>!</b></center>

</div>
<br>
<div>
  <br>
  <center><input type="submit" value="Click here to continue"></center>
</div>


<!--
<form><center>
  <select name="dropdown">
    <option value = "" selected>Select an option</option>
    <option value = "Scissors"> Scissors</option>
    <option value = "Paper"> Paper</option>
    <option value = "Rock"> Rock</option>
    <input type="submit" value="Submit">
  </select>
</center</form> -->
