<head>
  <link rel="stylesheet" type="text/css" href="../public/styles.css"/>
</head>
<div id="container">
<h1>Hi, <%=@game.player_1.name %>! Let's Play!</h1>
<div class="playerbox" id="player1box">

<form action="/rps" method='post'>
  <input id= 'rockbutton' type='submit' name='rps_choice' value='Rock'/>
  <input id= 'paperbutton' type='submit' name='rps_choice' value='Paper'/>
  <input id= 'scissorsbutton' type='submit' name='rps_choice' value='Scissors'/>
</form>

</div>

<div class='playerbox' id="player2box">

</div>
</div>
