<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CYBER RPS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Press+Start+2P" rel="stylesheet">

    <video playsinline autoplay muted loop id="bgvid">
    <source src="img/index-bg.mp4" type="video/mp4">
    </video>

    <style media="screen">
    body {
      background: url(img/index-bg.mp4);
      background-size: 100%;
    }

    h1 {
      font-family: 'Permanent Marker', cursive;
      font-size: 70pt;
      font-weight: 600;
      background: -webkit-linear-gradient(#70c8f8, #fa21e2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-family: 'Permanent Marker';
      font-size: 30pt;
      color: #dd09db;
      margin-bottom: 70pt;
    }

    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    .padded {
      margin: 10pt;
      padding: 20pt;
    }

    div#rock {
      border: 3pt solid #fa21e2;
      background-color: #000;
    }

    div#paper {
      border: 3pt solid #00ff00;
      background-color: #000;
    }

    div#scissors {
      border: 3pt solid #70c8f8;
      background-color: #000;
    }

    p#copyright {
      font-family: 'Press Start 2P';
      color: #bbb;
      font-size: 8pt;
    }

    input[type=text] {
      font-family: 'Press Start 2P';
      border: 3pt solid #fa21e2;
      background-color: #000;
      color: white;
    }

    button {
      font-family: 'Press Start 2P';
      font-size: 18pt;
      background-color: #000;
      border: 3pt solid #fa21e2;
      color: #fa21e2;
    }

    button#rock {
      border: 3pt solid #fa21e2;
      color: #fa21e2;
    }

    button#paper {
      border: 3pt solid #00ff00;
      color: #00ff00;
    }

    button#scissors {
      border: 3pt solid #70c8f8;
      color: #70c8f8;
    }

    .svg {
      width: 40%;
      height: auto;
    }
  </style>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class="container-fluid text-center">
      <h1><%= @game.player1.name %> vs. <%= @game.player2.name %></h1>
      <h2>Choose your Weapon</h2>

    <div class="row">
        <div class="col-md-4">
          <div id="rock" class="padded">
            <img class="svg" src="img/rock.svg" alt="">
            <form class="rock" action="/attack" method="post">
              <div class="btn-group">
                <button id="rock" type="submit" name="rock">Rock</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-4">
          <div id="paper" class="padded">
            <img class="svg" src="img/paper.svg" alt="">
            <form class="paper" action="/attack" method="post">
              <div class="btn-group">
                <button id="paper" type="submit" name="paper">Paper</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-4">
          <div id="scissors" class="padded">
            <img class="svg" src="img/scissors.svg" alt="">
            <form class="scissors" action="/attack" method="post">
              <div class="btn-group">
                <button id="scissors" type="submit" name="scissors">Scissors</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
