<div style='border: 3px dashed #4ac3de; padding: 1em'>

  <center><b>Welcome <%= @player_name%>!</b></center>

</div>
<br>
<div>
  <br>
  <form action='/choose'>
  <center><input type="submit" value="Click here to continue"></center>
  </form>
</div>
