<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title> Rock, Paper, Scissors </title>
</head>

<body>
  <h1> <%= @player_name %> is playing! <h1>
    <h2> Select rock, paper or scissors: </h2>
    <div>
      <form action='/rock' method='post'>
        <input type='image' src='/images/rock.jpg' style="width: 20%;height:200px" alt='Rock'>
      </form>

      <form action='/paper' method='post'>
        <input type='image' src='/images/paper.jpg' style="width: 20%;height:200px" alt='Paper'>
      </form>

      <form action='/scissors' method='post'>
        <input type='image' src='/images/scissors.jpg' style="width: 20%;height:200px" alt='Scissors'>
      </form>
      <body>
      </div>
