<h1>Welcome <%= @game.player.name %></h1>

<h2>Choose your move:</h2>

<a href="/rock">
  <img src="https://media.gettyimages.com/photos/rock-picture-id151905617?b=1&k=6&m=151905617&s=612x612&w=0&h=xdC_3sMrKUFg3XMqT5KGJ3x6mt_ZaeMpgwGPRTWvdtQ=" alt="Rock" style="width:413px;height:275px;border:0;">
</a>
<a href="/paper">
  <img src="http://stationeryinfo.com/uploads/images/company/54e81fb34e7be2004a28736b/pr/54e8238f4e7be2aa50287365_logo.jpg" alt="Paper" style="width:450px;height:252px;border:0;">
</a>
<a href="/scissors">
  <img src="https://goldenopenings.com/assets/images/12InchChromeLarge.jpg" alt="Scissors" style="width:450px;height:247px;border:0;">
</a>
