<h1><%= $game.player_1.name %> vs Computer</h1>

<form action="/answer" method="post">
  <label for="answer">
    Type "Rock..Paper..Or..Scissors"
    <input type="text" name="answer">
  </label>
  <input type="submit" value="Submit">
</form>
