<img src="http://wallpaperpulse.com/img/2927329.jpg"
style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

<h1> <%=@outcome.player_name_1%> vs <%=@outcome.player_name_2%> <h1>
<div align="center">
  <h2> <%=@outcome.player_name_1%>'s turn to choose </h2>
</div>
  <div>
    <form action="/play_2_second">
      <label for="Rock">
      <input type="hidden" name="product" value="Rock">
      THE ROCK 'AKA SMASHER' ==============>>>>
      <input type="submit" value="Rock">
    </label>
    </form>
  </div>

  <div>
    <form action="/play_2_second">
      <label for="Paper">
      <input type="hidden" name="product" value="Paper">
      THE PAPER 'AKA HUGGER' ==============>>>>
      <input type="submit" value="Paper">
    </label>
    </form>
  </div>

  <div>
    <form action="/play_2_second">
      <label for="Scissors">
      <input type="hidden" name="product" value="Scissors">
      THE Scissors 'AKA Slicer' ==============>>>>
      <input type="submit" value="Scissors">
    </label>
    </form>
  </div>
