<link rel="stylesheet" href="index.css">

<h1><center>
  Hi <%= @player_name %>!
</center></h1>

<center>
<img src="https://media1.tenor.com/images/4e8db6e4e3ad1e969329cb4596980be8/tenor.gif?itemid=12141675" alt="waving"
<center>
