<h1> Rock Paper Scissors </h1>

<p> let's play! </p>

<form action="/attack" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
