<div class= "outer">
  <div class = "inner">
    <h1> <%= @player_1_name %> wins! <h1>
    <img src= "https://media.giphy.com/media/kQg7fQMvVD5Ha/source.gif" alt="celebration">
  </div>
</div>
<style>
  .outer {
    display: flex;
    justify-content: center;
  }

  .inner {
    margin-top: 100px;
    width: 400px;
    text-align: center;
  }
</style>
