<h1><%= @name %> vs Computer</h1>

<form action="/store_move" method="post">
  <button type="submit" name="rock">Rock</button>
  <button type="submit" name="paper">Paper</button>
  <button type="submit" name="scissors">Scissors</button>
</form>
