<div class = "title">
  <h1>Welcome to the game <%=$game.player_1.name%>!</h1>
</div>
<div class = "subtitle">

<h2>Please select a choice from below</h2>
</div>


<div class="move_choices">

<form action="/p1_choice" method="post">
  <input id="rock" type="submit" name ="p1_choice" value="Rock"/>
  <input id="paper" type="submit" name ="p1_choice" value="Paper"/>
  <input id="scissors" type="submit" name ="p1_choice" value="Scissors"/>
  <input id="lizard" type="submit" name ="p1_choice" value="Lizard"/>
  <input id="spock" type="submit" name ="p1_choice" value="Spock"/>
</form>
</div>
