<h1> Rock / Paper / Scissors </h1>
<h3>
  Hi <%=@player_name%>,
  <form action='./submit' method='post'>
    <input type='radio' name='option' value='rock' id='rock'> Rock
    <input type='radio' name='option' value='paper' id='paper'> Paper
    <input type='radio' name='option' value='scissors' id='scissors'> Scissors <br>
    <input type='submit' value='submit'>
  </form>
</h3>
