 Hello, <%= @name %>

 Rock
 Paper
 Scissors

 <form>
   <input type='submit' name='rock' value='ROCK'/>
   <input type='submit' name='paper' value='PAPER'/>
   <input type='submit' name='scissors' value='SCISSORS'/>
 </form>
