Welcome <%= @player_1.name %>!<br>
<br>
<form action="/move">
  <input name = "move" type="submit" value="Rock">
  <input name = "move" type="submit" value="Paper">
  <input name = "move" type="submit" value="Scissors">
</form> 