<h1>Rock Paper Scissors</h1>
<br><br/>
<h1>Hi <%= @player.name.capitalize %><h1/>
<h2> <%= @game.shape %> <h2/>

<h2>Leave blank for 1 player</h2>

<h2>or enter 2nd name</h2>

<form
  </label>
  <button type='submit'>Play</button>
<form>
