<h1><%= @game.player1.name%></h1>
<h2>Welcome: please choose your weapon!</h2>

<form action="/select" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
