Hello <%= @player %>, let's play!
<h2> Rock / Paper / Scissors </h2>
<form action="/play" method="post">
  <input type="submit" name="object" value="Rock">
  <input type="submit" name="object" value="Paper">
  <input type="submit" name="object" value="scissors">
</form>
