<h1>Welcome, <%= @name %></h1>
<form name='rps' action='/move' method='POST'>
  <input type='submit' name='move' value='Rock'>
  <input type='submit' name='move' value='Paper'>
  <input type='submit' name='move' value='Scissors'>
</form>
