<form >
<%= @player1_name%> vs <%= @player2_name%>
</form>

<form action= '/attack' method='get'>
<input type='submit' name='button' value='rock'>
<input type='submit' name='button' value='scissors'>
<input type='submit' name='button' value='paper'>
</form>
