<h1>Rock, Paper, Scissors</h1>

<form action = '/result' method = "post">
  <p>Hello <b><%=@rps_game.player_1.name%></b>! You are playing against <b><%=@rps_game.player_2.name%></b>.</p>
  <p>Please make your selection and then click 'Submit'.</p>
  
  <p><label for = "rock"><b>Rock</b>
    <input type = "radio" name = "rps_choice" value = "rock" checked/>
  </label></p>
  <p><label for = "paper"><b>Paper</b>
    <input type = "radio" name = "rps_choice" value = "paper"/>
  </label></p>
  <p><label for = "scissors"><b>Scissors</b>
    <input type = "radio" name = "rps_choice" value = "scissors"/>
  </label></p>  
  
  <input type = "submit" name = "play_computer" value = "Submit"/> 
  
</form>


<!--<form action = '/end_game' method = "get">-->
<!--  <input type = "submit"/> -->
<!--</form>-->

<a href = '/end_game'>Quit</a>
