<h2><%=@name%> please make a choice!</h2>
<form method="post" action="/game-on">
    <button type="submit" name="choice" value="Rock">Rock</button>
</form>
<form method="post" action="/game-on">
    <button type="submit" name="choice" value="Paper">Paper</button>
</form>
<form method="post" action="/game-on">
    <button type="submit" name="choice" value="Scissors">Scissors</button>
</form>
