<p>Choose from your weapon! And choose carefully...</p>

  <input type="radio" weapon="weapon" value="Rock" required>Rock<br>
  <input type="radio" weapon="weapon" value="Paper" required>Paper<br>
  <input type="radio" weapon="weapon" value="Scissors" required>Scissors<br>
  <input type="submit" value="PLAY!">
</form>
