<h1> <%= @game.p1.name %> & <%= @game.p2.name %> playing ROCK - PAPER - SCISSORS! </h1>

<form action="" method="post" >
  <!-- <label> P1: </label> -->
   <input type="submit" value="Rock">
 </form>
