<head>
  <link rel = "stylesheet"
    type = "text/css"
    href = "styles.css" />
</head>

<body>
  <div class = "main">
    <div class = "wrapper">
      <div>
        <p1>Rock, Paper, Scissors</p1>
      </div>
      <p2 class="glow"><%=@name%></p2>
      <br>
      <p2>Choose your move</p2>
      <br>
      <br>

      <form action="/result" method="post" class="brightness">
        <input type="image" src="rock.jpg" name="rock" class="btTxt submit" id="saveForm" />
        <input type="image" src="paper.jpg" name="paper" class="btTxt submit" id="saveForm" />
        <input type="image" src="scissors.jpg" name="scissors" class="btTxt submit" id="saveForm" />
      </form>

    </div>
  </div>
</body>