<h1 align='center'><%= @player_name %> - choose your weapon!</h1>

<h1></h1><h1></h1>

<form align='center' action='/attack' method='post'>
  <button type='submit' name='rock'> Rock </button>
</form?
