<%= @name %>

<form action="/play" method="post">
  <input type="submit" name = "option" value="Rock" />
  <input type="submit" name = "option" value="Paper" />
  <input type="submit" name = "option" value="Scissors" />
</form>

You chose <%= @option %>

<div id="computer">
  Computer chose <%= @option.to_s.capitalize %>
</div>
