<!DOCTYPE hmtl>
<html>
  <body>
    <div id="player_1">
      <h2> <%= @game.player_name_1 %> </h2>
    </div>

    <div class='options'>
      <form>
        <input type="submit" value="Rock">
      </form>

      <form>
        <input type="submit" value="Paper">
      </form>

      <form>
        <input type="submit" value="Scissors">
      </form>
    </div>
  </body>
</html>
