<h1> <%= @username %> vs Machine </h1>
<form action="/result" method="post">
  <h3> Rock: <input type="radio" name="selection" id="rock"> </h3>
  <h3> Paper: <input type="radio" name="selection" id="paper"> </h3>
  <h3> Scissors: <input type="radio" name="selection" id="scissors"> </h3>
  <h3> <input type="submit" value="Submit"> </h3>
</form>
