<h1> Welcome to Rock Paper Scissors, <%= @game.player.name %>! </h1>
<br>
<br>
<form action="/choice" method="post">
  <input type="submit" name="choice" value="rock">
    <input type="submit" name="choice" value="paper">
    <input type="submit" name="choice" value="scissors">
</form>
