<h1>Player 1: <%= @player_1_name %></h1>
<h1>Choose your weapon!</h1>
<form action="weapon" method="post">
  <label for="weapon">
  Weapon
  <input type="text" name="weapon">
  <input type="submit" value="Submit">
</form>
