<p>Welcome <%= $player_1.name %> to Rock, Paper, Scissors :)</p>

<form action="/choice_rock" method="get">
  <input type="submit" value="Rock">
<br>
<input type="submit" value="Paper">
<br>
<input type="submit" value="Scissors">
