<!DOCTYPE html>
<html>
<body style="background-color:#e6ffe6;">

<h1>Rock, Paper, Scissors</h1>
<h2>A true game of skill...</h2>

<%=@player%>, are you ready to play?
<br>
<br>

<form action="/move" method="post">
<input type="radio" id="paper" value="paper" name="selection">
<label for="paper">PAPER</label>
<input type="radio" id="scissors" value="scissors" name="selection">
<label for="paper">SCISSORS</label>
<input type="radio" id="rock" value="rock" name="selection">
<label for="paper">ROCK</label>
<input type="submit" value="Play"> 
</form>

</body>
</html>
