<div>
  <h1> Rock - Paper - Scissor</h1>
  <h1> <%= @player %></h1>
   <form action='/game' method='post'>
    <input type='submit' name='rock' value="Rock!"></input>
    <input type='submit' name='paper' value="Paper!"></input>
    <input type='submit' name='scissor' value="Scissor!"></input>
  </form> 
  <h2 align='center'> <%= @user_input %> </h2>
  <h2 align='center'> <%= @cpu_input %> </h2>
</div>