<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

<div class="intro">
  <p><%= @game.player.name %>     vs     Computer </p>
</div>

<div class="move">
  <form  class="left" action="/rock" method="post">
    <!-- <img src="/img/rock.png" /><br><br> -->
    <button type="submit" name="shape" value="Rock">Rock</button>
  </form>

  <form class="middle" action="/paper" method="post">
    <!-- <img src="/img/paper.png" /><br><br> -->
    <button type="submit" name="shape" value="Paper">Paper</button>
  </form>

  <form class="right" action="/scissors" method="post">
    <!-- <img src="/img/scissors.png" /><br><br> -->
    <button type="submit" name="shape" value="Scissors">Scissors</button>
  </form>
</div>
