<head>
<style>
.header{
  text-align: center;
}
.text{
  text-align: center;
  font-size: 20pt;
}
.move{
  text-align: center;
}
</style>
</head>

<body>
<div class='header'>
<h1>Hello <%= @name %>! Let's play rock paper scissors!</h1>
</div>

<div class='text'>
<%= @name %> vs <%= @com %>
</div>

<br><br>

<div class='move'>
<form action='/choose' method='post'>
  <label for='choice'>Make your move:</label>
  <select name='choice' id='player_choice'>
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input type='submit' value='Submit'>
</form>
</div>
</body>