
        <h1> Welcome <%= @player_name %>! </h1>

        <form action = '/game' method = 'post'>
          <input type = "radio" id = 'rock' name = "weapon" value = "Rock" >
          <label for= 'rock'> Rock </label>
          <input type = "radio" id = 'paper' name = "weapon" value = "Paper" >
          <label for = 'paper'> Paper </label>
          <input type = "radio" id = 'scissors' name = "weapon" value = "Scissors" >
          <label for = 'scissors'> Scissors </label>
          <input type = "radio" id = 'lizard' name = "weapon" value = "Lizard" >
          <label for = 'lizard'> Lizard </label>
          <input type = "radio" id = 'spock' name = "weapon" value = "Spock" >
          <label for = 'spock'> Spock </label>
          <input type = "submit" value = "Submit" >
