    <h4 class="text-center">What's your name?</h4>

    <form action="/arena" method="get">
    <input class="center-block" type="text" name="name" placeholder="Required" required>
    <input value="submit"  name="submit" class="center-block" type="submit">
    </form>

