<h2>What is your selection, <%= @name %>?</h2>

<form action='/pick' method='post' name='pick'>
  <select name='pick'>
    <option value='rock'>Rock</option>
    <option value='paper'>Paper</option>
    <option value='scissors'>Scissors</option>
  </select>
  <input type='submit' value='Submit'/>
</form>
