<h1>Welcome <%= @p1.name%></h1>

<h1>Would you like to play Rock/Paper/Scissors?</h1>

<h1>When you make your choice the game will begin.</h1>

<form action= "/rock">
    <div class="button">
     <input type="submit" value="Rock" />
 </div>
</form>

<form action= "/spock">
    <div class="button">
     <input type="submit" value="Spock" />
 </div>
</form>


<form action= "/paper">
    <div class="button">
     <input type="submit" value="Paper" />
 </div>
</form>

<form action= "/lizard">
    <div class="button">
     <input type="submit" value="Lizard" />
 </div>
</form>

<form action= "/scissors">
    <div class="button">
     <input type="submit" value="Scissors" />
 </div>
</form>
