<h1>Hello <%= @player.name %> </h1>

<br>

  <button onclick="<% @move = :rock %>" id="Rock">Rock</button>
  <button onclick="<% @move = :paper %>" id = "Paper">Paper</button>
  <button onclick="<% @move = :scissors %>" id = "Scissors">Scissors</button>

<br> <br> <br> 
Your move is <%= @move %>


