<h1 style="text-align:center;">"Hello, <%= @name %>, now we can play!"</h1>

<form action="/play" method="post">
  <input type="submit" name="shape" value="Rock">
  <input type="submit" name="shape" value="Paper">
  <input type="submit" name="shape" value="Scissors">
</form>

You chose <%= @shape %>!
<!-- You chose Paper
You chose Scissors -->
