<body>
<p> Welcome <%= @name %> </p>

<form method='POST' action='/play'>
  <input type='submit' name='throw' value='Rock'>
  <input type='submit' name='throw' value='Paper'>
  <input type='submit' name='throw' value='Scissors'>
</form>


<div> You threw <%= @throw.to_s.downcase %>! </div>

<div id='opponent'>
  Your opponent threw <%= @opponent_throw.to_s.downcase %>!
</div>

<div id='result'>
  You <%= @result %>!
</div>
</body>
