<%= player_name %>

<form action="/calculate" method="post">
<% weapons.each do |weapon| %>
  <a href="/result"><input type="submit" name="weapon" value="<%= weapon.capitalize %>"></a>
<% end %>
</form>