<!DOCTYPE html>
  <head>
    <link href="/styles/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="landing-page">
      <h1>Hi, <%= @game.player.name %>!</h1>
      <h2>Are you ready to play?</h2>
    </div>

    <div class="instructions">
      <h3>Select your move below and press play:</h3>
    </div>

    <form class="play-form" action="/choice" method="post">
      <div class="moves">
          <input id="rock" type="radio" name="choice" value="Rock" />
          <label class="image rock" for="Rock"></label>
          <input id="paper" type="radio" name="choice" value="Paper" />
          <label class="image paper" for="Paper"></label>
          <input id="scissors" type="radio" name="choice" value="Scissors" />
          <label class="image scissors" for="Scissors"></label>
      </div>
      <br><br>
      <input type="submit" value="Play" class="btn btn-success">
    </form>

    <a href="/" class="btn btn-success">Start as new player</a>

  </body>
</html>
