<h1>Registeration confirmed, get ready...</h1>
<%= @game.player1.name.capitalize %>
<br>


<!--

insert "<%= @game.player1.name %> turn to play"


# 3 buttons
## rock
## paper
## scissors


no need for dupe buttons -->
