Welcome to the game, <%= @game.player_1.name %>. You are competing against <%= @game.player_2.name %>.

<form action="/result" method="post">
  <input type="submit" name="item" value="Rock">
</form>

<form action="/result" method="post">
  <input type="submit" name="item" value="Paper">
</form>

<form action="/result" method="post">
  <input type="submit" name="item" value="Scissors">
</form>
