<h1 class=player1 > <%=  @player1.capitalize %> </h1>

<h2 class=move > Make your move! </h2>

<form action="/attack" method='post'>
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
