<h1>Hi <%= @player_1 %>!</h1>

<h3>Please select an option, either (Rock, Paper or Scissors.)</h3>

<form method='post' form action="/RPS">
  <input type="text" value="player_choice">
  <input type='submit' value='Submit'>
</form>



