<%= @game.player.name %>

<form action="/result" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/result" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/result" method="post">
  <input type="submit" value="Scissors">
</form>
