<h2> Hi <%= $player_name %>, make your move! </h2>

<h3> <form action='/player_move' method='post'> 
 <input type='submit' name='player_move' value='Paper' >
      <input type='submit' name='player_move' value='Rock' >
      <input type='submit' name='player_move' value='Scissors' > 
</form> </h3>

