<%= @name %>

<form action="/choice" method="post">
  <input type="submit" name ="choice" value="ROCK">
  <input type="submit" name ="choice" value="PAPER">
  <input type="submit" name ="choice" value="SCISSORS">
</form>
