<!DOCTYPE html>
  <head>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="landing-page">
      <h1>Welcome, Kat!</h1>
      <h2>Are you ready to play?</h2>
    </div>

    <form action="/choice" method="post">
      <label>
        <img src="/images/rock.png" style="height: 60px">
        <input type="radio" name="choice" value="rock">Rock
      </label>
      <label>
        <img src="/images/paper.png" style="height: 60px">
        <input type="radio" name="choice" value="paper">Paper
      </label>
      <label>
        <img src="/images/scissors.png" style="height: 60px">
        <input type="radio" name="choice" value="scissors">Scissors
      </label>
      <input type="submit" value="Play">
    </form>

  </body>
</html>
