<div align = "center">
<h1>Welcome to the RPS Challenge!</h1>

<%= @name %>

<form method="POST" action= "/play">
  <input type="submit" name="tool" value="Rock" />
  <input type="submit" name="tool" value="Paper" />
  <input type="submit" name="tool" value="Scissors" />
</form>

You chose <%= @tool %>!
