<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header>
    <h1><%= @player_name.name %></h1>
    </header>
    <main>
    Which one will you pick?
    <input type="button" name="Rock" href='/result'>
    <input type="button" name="Paper" href='/result'>
    <input type="button" name="Scissors" href='/result'>

    </main>

  </body>
</html>