<%=@game.player_name %><br></br>

<form action="/newplay" method="post">
  <input type="submit" name = "option" value="Rock" /><br></br>
  <input type="submit" name = "option" value="Paper" /><br></br>
  <input type="submit" name = "option" value="Scissors" /><br></br>
</form><br></br>

You chose <%=@game.player_option.to_s.capitalize %><br></br>

<div id="computer">
  Computer chose <%=@game.computer_option.to_s.capitalize %>
</div><br></br>

<%if @game.win? %>
You win!
<%end %>
