<h1> Player: <%=  @player %> </h1>

<h2> Make your move... </h2>

<form action="/move" method="post">
<input type="submit" value="ROCK">
<input type="submit" value="PAPER">
<input type="submit" value="SCISSORS">
<form>
