<header class="header">
  <section class="logo">
    <a href="https://github.com/mic-css/rps-challenge" target="_blank">
      <i class="fa fa-github-square"></i> rps::NS
    </a>
  </section>
  <section class="scoreboard">
    <%= @game.player(1).name %>
    vs.
    <%= @game.player(2).name %>
  </section>
  <section class="exit-button">
    <a href="/">
      exit <i class="fa fa-times"></i>
    </a>
  </section>
</header>
<%= yield %>
