Welcome <%= @player_2.name%>!
Choose your weapon:
<form action="/player2move" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
</form>