<h2><%= %>, your turn</h2>

<section>
<form action = '/outcome' method ='post'>
  <input type='submit' value ='rock' name='rock'>
  <input type='submit' value ='paper' name='paper'>
  <input type='submit' value ='scissors' name='scissors'>
</form>
</section>

<style>
section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}


</style>