<p>Hello <span style="color: red"><%= @game.player1.name %></span>!</p>

<form action="/result" method="post">
  <p>Please select either rock, paper or scissors:</p>

  <input type="radio" id="" name="choice" value="Rock">
  <label for="rock">Rock</label><br>

  <input type="radio" id="" name="choice" value="Paper">
  <label for="paper">Paper</label><br>

  <input type="radio" id="" name="choice" value="Scissors">
  <label for="scissors">Scissors</label><br/><br/>

  <input type="submit" value="Submit choice">
</form>