Welcome to the game <%= @player_1_name %></br></br>


To play, please enter ROCK, PAPER or SCISSORS</br></br>

<form action="/winner" method="post">
  <label for="choice">
    Enter choice </label>
    <input type="text" name="choice">
  <input type="submit" value="Submit">
</form>
