<h1><center> ~~ Welcome to ~~</center></h1>
<h1><center> Rock! Paper! Scissors! </center></h1>

<div style='border: 25px dotted gold'>
  <% if @player_1 %>
  <h1><center> <%= @player_1.name %></center></h1>
  <% end %>
</div>
