<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>

    <h1><%= @player.name %> vs. Computer</h1>
    <br>

    <h2>Choose your weapon!</h2>
    <br>
    <form action="/result" method="get">
      <input type="radio" id="rock" name="weapon" value="rock" checked>
      <label for="rock">ROCK</label>
      <br>
      <input type="radio" id="paper" name="weapon" value="paper">
      <label for="paper">PAPER</label>
      <br>
      <input type="radio" id="scissors" name="weapon" value="scissors">
      <label for="scissors">SCISSORS</label>
      <br>
      <br>
      <input type="submit" value="Play">
    </form>
  </body>
</html>
