<h1>Choose your weapon!</h1>
<form action="/outcome" type="post">
  <input type="submit" name ="weapon" value="Rock">
  <input type="submit" name ="weapon" value="Paper">
  <input type="submit" name ="weapon" value="Scissors">
</form>
