<h2> Alright, let's play! </h2>
<h3> It's <h3> <h3 style="color:blue;"><%= $game.first_player_name %><h3><h3> vs RPS-bot </h3>
<br>

<h4> <%= $game.first_player_name %> select your action! </h4>
<form action="/result" method="get">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
