<!DOCTYPE html>
<html>
  <head>
    <title>RPS Game</title>
    <link rel="stylesheet" href="public/style.css">
  </head>

  <body>
    <div class="centered">

      <h2>Make your selection <%= @game.player.name.capitalize %>:</h2>
      <br>
      <form action="/choice" method="post">
        <button type="submit" class="btn" name="choice" value="rock">
          Rock
        </button>
        <p>
        <button type="submit" class="btn" name="choice" value="paper">
          Paper
        </button>
        <p>
        <button type="submit" class="btn" name="choice" value="scissors">
          Scissors
        </button>
      </form>
    </div>
  </body>
</html>
