Welcome <%= @game.player.name %>! Are you ready for a game?
Please select one of the options below:

<form action="/result">
  <input type="submit" value="Rock">
  <input type="submit" value="Scissors">
  <input type="submit" value="Paper">
</form>
