<h1>Welcome : <%=$player_one.name%>!</h1>
<h1>let's start playing!</h1>

<form action='/result' method = "post">
  <label for="rock">Rock</label>
  <input type="radio" name="move" id="rock" value="rock"><br>
  <label for="paper">Paper</label>
  <input type="radio" name="move" id="paper" value="paper"><br>
  <label for="scissors">Scissors</label>
  <input type="radio" name="move" id="scissors" value="scissors"><br>
  <input type="submit" value="Submit">
</form>

 