<%= @player %> - choose Rock, Paper, or Scissors


<form action="/choice" method="post">
  <input type="submit" value="Rock" name="choice">
  <input type="submit" value="Paper" name="choice">
  <input type="submit" value="Scissors" name="choice">
</form>
