<h1>
  It's <%=@game.player_name%> vs Computer!
</h1>
<form action='/result'>
<input type='submit' value='Rock' name=choice>
<input type='submit' value='Paper' name=choice>
<input type='submit' value='Scissors' name=choice>
