<h1>  <font color="blue"> <%= @game.player1.name %> </font> vs <font color="red"> <%= @game.player2.name %> </font> </h1>

<form action="/move">
  <input type="submit" name="move" value="rock">
</form>

<form action="/move">
  <input type="submit" name="move" value="paper">
</form>

<form action="/move">
  <input type="submit" name="move" value="scissors">
</form>
