<h1>Welcome to Rock, Paper, Scissors, <%= @game.player.name %>!</h1>

<h2>Please make a choice from the following options:</h2>

<form action="/result" method="post">
  <input type = "button" value = "Rock"/>
  <input type = "button" value = "Paper"/>
  <input type = "button" value = "Scissors"/>
</form>
