<h1>Ready to play <%= @player_name %> ?</h1>
<h2>Select your move!</h2>
<br>
<form action="/choice" method="post">
	<input type="radio" value="rock" name="player_choice"> rock <br>
	<img src="images/rock.png">
	<input type="radio" value="paper" name="player_choice"> paper <br>
	<img src="images/paper.png">
	<input type="radio" value="scissors" name="player_choice"> scissors <br>
	<img src="images/scissors.png">
	<input type="submit" value="submit" name="submit">
</form>

<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>