<p><%=@player_name%> chose: <%=@player_move%></p>
<p>Computer chose: <%=@computer_move%></p>
<p>The winner is...</p><h1><%=@winner%>!!!!!</h1>

<form action="/start">
  <input type="submit" value="Play again">
</form>
