<%= @player_name %> vs Computer
<br>
<%= @player_name %> has 0 points
<br>
The Computer has 0 points
<br>

<h3>Enter Rock, Paper or Scissors to make your move</h3>
<form action="/result" method="get">
  <label for="player_move">
    What's your move?<input type="text" name="player_move">
  </label>
  <input type="submit" value="Play">
</form>
