<h1>
  <%=@game.player_1.name%> vs. <%=@game.player_2.name%>
</h1>

<form action="/player_2_choice" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
  <input type="submit" value="Spock" name="move">
  <input type="submit" value="Lizard" name="move">
</form>

<h2><pre>
    _______          _______              _______
---'   ____)    ---'    ____)____     ---'   ____)____
      (_____)              ______)              ______)
      (_____)             _______)           __________)
      (____)             _______)           (____)
---.__(___)   ---.__________)         ---.__(___)

</pre></h2>
<h4><pre>

                   .--'"""""--._                                     
                .-'  o\\b.\o._o.`-.                                  
             .-'.- )  \d888888888888b.                               
            /.'   b  Y8888888888888888b.                             
          .-'. 8888888888888888888888888b                            
         / o888 Y Y8888888888888888888888b                           
        / d888P/ /| Y"Y8888888888888888888b                          
       J d8888/| Y .o._. "Y8888888888888Y" \                         
       |d Y888b|obd88888bo. """Y88888Y' .od8                         
       Fdd 8888888888888888888bo._'|| d88888|   
       Fd d 88\ Y8888Y "Y888888888b, d888888P   
       d-b 8888b Y88P'     """""Y888b8888P"|           
      J  8\88888888P    `m.        """""   |                         
      || `8888888P'       "Ymm._          _J     
      |\\  Y8888P  '     .mmm.YM)     .mMF"'                   
      | \\  Y888J     ' < (@)>.- `   /MFm. |                         
      J   \  `YY           ""'   ::  MM @)>F        
       L  /)  88                  :  |  ""\|                         
       | ( (   Yb .            '  .  |     L        
       \   bo  8b    .            .  J     |                         
        \      "' .      .    .    .  L   F                          
         o._.:.    .        .  \mm,__J/  /                           
         Y8::'|.            /     `Y8P  J                            
         `|'  J:   . .     '   .  .   | F                            
          |    L          ' .    _:    |                             
          |    `:        . .:oood8bdb. |               Live long and prosper         
          F     `:.          "-._   `" F                             
         /       `::.           """'  /                              
        /         `::.          ""   /                               
    _.-d(          `:::.            F                                
 .-'.-888b.          `::::.     .  J                                 
'   Y888888b.          `::::::::::'                                  
    `Y88888888bo.        `::::::d                                    
     `"Y8888888888boo.._   `"dd88b.                                  
 . '     `"Y8888888888888bood8888P `-._                              
             `"Y8888888888888888P      `-._                          
          - .    ""Y88888888888P        ` .`-.                       
     -  -   -   __.   ""Y8888P'             . `.                     
              _           ""'                 . `.           
</pre></h4>

<h3><pre>
    _.-~~-.__
 _-~ _-=-_   ''-,,
('___ ~~~   0     ~''-_,,,,,,,,,,,,,,,,
 \~~~~~~--'                            '''''''--,,,,
  ~`-,_      ()                                     '''',,,
       '-,_      \                           /             '', _~/|
  ,.       \||/~--\ \_________              / /______...---.  ;  /
  \ ~~~~~~~~~~~~~  \ )~~------~`~~~~~~~~~~~( /----         /,'/ /
   |   -           / /                      \ \           /;/  /
  / -             / /                        / \         /;/  / -.
 /         __.---/  \__                     /, /|       |:|    \  \
/_.~`-----~      \.  \ ~~~~~~~~~~~~~---~`---\\\\ \---__ \:\    /  /
                  `\\\`                     ' \\' '    --\'\, /  /
                                               '\,        ~-_'''"
</pre></h3>