<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rock Paper Scissors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Welcome <%= @game.player_1.name.capitalize %>, to Rock Paper Scissors</h2>
  <p>Select your hand...Good luck :)</p>
  <% if !@game.selection.nil? %>
  <p>You have selected: <%= @game.selection.capitalize %></p>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <form method="post" action="/selection" >
          <input type="hidden" name="selection" value="rock"  />
          <button type="submit" id="Rock" class="thumbnail">
            <img src="images/rock.png" class="img-responsive" />
          </button>
      </form>
    </div>
    <div class="col-md-3">
      <form method="post" action="/selection" >
          <input type="hidden" name="selection" value="paper"  />
          <button type="submit" id="Paper" class="thumbnail">
            <img src="images/paper.png" class="img-responsive" />
          </button>
      </form>
    </div>
    <div class="col-md-3">
      <form method="post" action="/selection" >
          <input type="hidden" name="selection" value="scissors"  />
          <button type="submit" id="Scissors" class="thumbnail">
            <img src="images/scissors.png" class="img-responsive" />
          </button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
