<h1>Hi <%=@name%>, welcome to rock, paper, scissors!</h1>
<h1> Make your choice: </h1>
<form action='/result' method='post'>
  <button type='submit' name='player_choice' value='rock'>Rock<br>
  <button type='submit' name='player_choice' value='paper'>Paper<br>
  <button type='submit' name='player_choice' value='scissors'>Scissors<br>
</form>
