Hey <%= @player_name %>, Lets play Rock X Paper X Scissors

<form action='/play' method='post'>
  <h2> Please make a move </h2>
  <input type='radio' value='Rock'> Rock<br>
  <input type='radio' value='Paper'> Paper<br>
  <input type='radio' value='Scissors'> Scissors<br>
  <input type='Submit' value='Submit'>
</form>
