<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make your choice</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1><%= @player.name %> make your choice</h1>
    <div>
      <form action="/decider" method='post'>
        <input type="submit" value="Rock">
        <input type="hidden" value="Rock" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Paper">
        <input type="hidden" value="Paper" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Scissors">
        <input type="hidden" value="Scissors" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Lizard">
        <input type="hidden" value="Lizard" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Spock">
        <input type="hidden" value="Spock" name="choice">
      </form>
    </div>
  </body>
</html>
