<center><h1>Welcome <%=@user%> </h1></center>
<center><h2>Please Choose one of the options below</h2></center>

<center><input type="button" value="Rock"></center>
<center><input type="button" value="Paper"></center>
<center><input type="button" value="Scissors"></center>