<body style="text-align:center;">
    <h1 style="font-family:Palatino; font-size:300%;">Rock Paper Scissors</h1>
    <h3 style="font-family:Palatino; font-size:150%;">Player name: <%= @player1_name %></h3>
</body>