  <!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- prevents mobile zoom-->
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title>Play Screen</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/play.css" rel="stylesheet" type="text/css">
	</head>
<body>
<div class="jumbotron">
<h1>CHOOSE WISELY</h1>
</div>
<div class="row">
<form action="/selection" method="post">
	<button type="submit" name="selection" value="Steve Irwin" class="steve">
		<img src="http://southparkstudios.mtvnimages.com/images/shows/south-park/clip-thumbnails/season-2/0218/south-park-s02e18c11-the-ice-man-hunter-16x9.jpg" alt="Steve Irwin" role="Choose Steve Irwin" height="200px" width="300px">
	 </button>
	<button type="submit" name="selection" value="Stingray" class="stingray">
		<img src="http://resources3.news.com.au/images/2013/09/04/1226710/135799-stingray-and-generic.jpg" alt="Stingray" role="Choose stingray" height="200px" width="300px">
	</button>
	<button type="submit" name="selection" value="Crocodile"  class="crocodile">
		<img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Crocodile_Crocodylus-porosus_amk2.jpg" alt="Crocodile" role="Choose crocodile" height="200px" width="300px">
	</button>
</form>
</div>
</body>
</html>

