<h1>Welcome <%=@player_name%>! - You are ready to Rock!... (or Paper/Scissors)<h1>

<div>
  <form action='/rock'>
    <button style='font-size:60px'  type='submit'>ROCK!!</button>
  </form>
  <form action='/paper'>
    <button style='font-size:60px'  type='submit'>PAPER!!</button>
  </form>
  <form  action='/scissors'>
    <button style='font-size:60px' type='submit'>SCISSORS!!</button>
  </form>
</div>
