<h1>Let the fight begin!</h1>
<h2><%= @game.player_1.name %> vs Kakashi!</h2>

<h3>Choose your weapon wisely:</h3>
<form action='/rock' method="post">
	<button type="submit" name='rock'>Rock</button>
</form>
<form action='/paper' method="post">
	<button type="submit" name='paper'>Paper</button>
</form>
<form action='/scissors' method="post">
	<button type="submit" name='scissors'>Scissors</button>
</form>

<img src="https://raw.githubusercontent.com/frodri13/rps-challenge/master/img/rps.jpg" />
