<div>
  <%= @player_name %> vs. Machine
</div>

 <br>

<div>
  <%= @player_name %> choose your weapon...
</div>

<br>

<form action="/weapon" method="post">
  <label for="player_weapon">
  	Rock, paper or scissors?
  <input type="text" name="player_weapon">
  </label>
  <input type="submit" value="Fight!">
</form>