<%= @player_name %> vs. Computer
<form action="/result" method="post">
  <label for="choice">
<button name="Rock" type="submit" value="Rock">Rock</button>
<button name="Paper" type="submit" value="Paper">Paper</button>
<button name="Scissors" type="submit" value="Scissors">Scissors</button>
  </label>
</form>
