<body style='text-align: center; background-image: linear-gradient(to bottom right, purple, silver);'>
 
  <h1 style='margin: 100px;'> <%= @player_1.player %> vs CPU </h1>
  <form action='/rock' method='post'>
    <input type='submit' value='Rock'>
  </form>  
  <form action='/paper' method='post'>
    <input type='submit' value='Paper'>
  </form>
  <form action='/scissors' method='post'>
    <input type='submit' value='Scissors'>
  </form>  
</body>