<%= @game.player_1.name %> vs <%= @game.player_2.name %>
</br>
</br>
<%= @game.player_1.name %> has made his choice
</br>
</br>
<%= @game.player_2.name %>, make your choice:
<form action="/result" method="post">
  <input type="submit" name="player_2_option" value="Rock">
  <input type="submit" name="player_2_option" value="Paper">
  <input type="submit" name="player_2_option" value="Scissors">
  <input type="submit" name="player_2_option" value="Spock">
  <input type="submit" name="player_2_option" value="Lizard">
</form>