<%= @game.player.name %> vs. Computer
<br>

<form method="post" action="/choice">
<input type="submit" name="shape" value="ROCK">
<input type="submit" name="shape" value="PAPER">
<input type="submit" name="shape" value="SCISSORS">
</form>
