<h2> <%=@player.name%>, welcome to a game of * Rock Paper Scissors * </h2>

<h4> Now it's time to choose, what are you going to do ? Choose wisely.</h4>

<form action='/computer_choice'>
  <input type='submit' value='Rock' name="choice">
  <input type='submit' value='Paper' name="choice">
  <input type='submit' value='Scissors' name="choice">
</form>
