<h1> Are you ready <%=@name.capitalize%>? </h1>

<form action='/play'>
  <p> Choose one option from the following: </p>
  <button name="option" type="submit" value="Rock">Rock</button>
  <button name="option" type="submit" value="Paper">Paper</button>
  <button name="option" type="submit" value="Scissors">Scissors</button>
</form>

<p> Your move: Rock </p>
