<h1>Hello <%= @name %>. Ready to play?</h1>

<form action="/result" method='post'>
  <input type="submit" value="Rock" name="player_choice">
  <input type="submit" value="Paper" name="player_choice">
  <input type="submit" value="Scissors" name="player_choice">
</form>
