<h1 align="center"> <%= @player_name %> - please select your hand gesture of choice </h1>

<form>
  <input type="radio" name="selection"> Rock<br>
  <input type="radio" name="selection"> Paper<br>
  <input type="radio" name="selection"> Scissors
</form>

<form action="/fight">
    <input type='submit' value='Play now'>
</form>
