<h1><%= @player %> VS Game</h1>
<h2>Select from options below:</h2>
<form action="/game" method="post">
<select name="Game options:">
  <option value="rock">Rock</option>
  <option value="scissors">Scissors</option>
  <option value="paper">Paper</option>
</select>
</form>
