
<table style="height: 100%; left: 0; position: absolute; text-align: center; width: 100%;">
 <tr>
  <td>
   <div style="text-align: left; display: inline-block;">
     <%= "The winner is #{$game.winner}" %>"
     <a href='/play_again' id='play'>play again?</a>"
   </div>
  </td>
 </tr>
</table>
