<center>
  <body bgcolor='yellow'>
<html style='font-family: futura;'>
<font size="40" style="color:#FF00FF">R     |     P    |     S</font>
<font size=100></font>
<h2> Enter Your Name </h2>

<form action='/names' method='post'>
  <input type='text' name='player1'>
<div style="color:#FFFF00" size="50">
-------------------------------------------
</div>
<div id="centerbuttons">
<input
  type='submit'
  style="background-color:#FFFF00;
         color:#FF00FF;
         font-weight:bold;
         border-color:#FFFF00;"
  value='DUEL'
>
</div>
</form>

<font size="40">
<image style="font-size:40"
       src='Rock_icon.png'
       width="35"
       height="35">  |
<image src='paper_icon.png'
       width="35"
       height="35">  |
<image src='Scissors_icon.png'
       width="35"
       height="35">
</font>
</html>
