<html>

<head>
  <link rel="stylesheet" href="public/reset.css" />
  <link rel="stylesheet" href="css/style2.css" />
</head>

<body>
  <h1><%= Game.current_game.player.name %> challenges the Champion to a game of <br>ROCK, PAPER, SISSORS...<br>LIZARD, SPOCK!</h1>

  <h2>Pick your weapon wisely...</h2>

  <div class="weapons">

    <div class="rock">
      <form action="/result">
        <img src="http://megaicons.net/static/img/icons_sizes/8/178/512/rock-paper-scissors-rock-icon.png"/>
        <input type="submit" name="player_choice" value="ROCK" />
      </form>
    </div>

    <div class="paper">
      <form action="/result">
        <img src="http://megaicons.net/static/img/icons_sizes/8/178/512/rock-paper-scissors-paper-icon.png" />
        <input type="submit" name="player_choice" value="PAPER" />
      </form>
    </div>

    <div class="scissors">
      <form action="/result">
        <img src="http://megaicons.net/static/img/icons_sizes/8/178/256/rock-paper-scissors-scissors-icon.png" />
        <input type="submit" name="player_choice" value="SCISSORS" />
      </form>
    </div>

  </div>

  <div class="bottom">

    <div class="lizard">
      <form action="/result">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/11784-200.png" />
        <input type="submit" name="player_choice" value="LIZARD" />
      </form>
    </div>

    <div class="spock">
      <form action="/result">
        <img src="http://www.stickmotive.ch/kostenlose_bekannnte_leute_IMG/Mr-Spock.gif" />
        <input type="submit" name="player_choice" value="SPOCK" />
      </form>
    </div>

  </div>

</body>

</html>
