<head>
 <link rel="stylesheet" href="style.css">
  </head>

<h1><font size="8" color="blue" font face="geneva"><%= @player_name %> vs. Computer</font></h1>
<h2><font size="6" color="blue" font face="geneva">Ready to play!</font></h2>
<h3><font size="5" color="blue" font face="geneva"><%= @player_name %>, please select your weapon of choice!</font></h3>

<img src="https://media.giphy.com/media/3ohzdGnD5vAud1NCZW/giphy.gif">
<br>

<form action="/rock">
  <input class="button" type="submit" value="Rock"/>


  <form action="/paper">
    <input class="button" type="submit" value="Paper"/>


    <form action="/scissors">
      <input class= "button" type="submit" value="Scissors"/>
      </form>
