<h1>Hello, <%= @player_name %></h1>
<p>You'll be playing against the computer.
Hope you brought your A game.</p>
<div>Choose one:</div>
<form action='/rock' method="post">
  <button>Rock</button>
</form>
<form action='/paper' method="post">
  <button>Paper</button>
</form>
<form action='/scissors' method="post">
  <button>Scissors</scissors>
</form>
