<h2><%= @player.name %> vs. Computer</h2>

<form>
  <input type='submit' value='Rock'>
</form>
<form>
  <input type='submit' value='Paper'>
</form>
<form>
  <input type='submit' value='Scissors'>
</form>
