<p>Choose an option, <%= @game.player.name %></p>

<form action='/options' methods='post'>
  <!-- <button type='submit' name='option' value='Rock'>Rock</> -->
  <input type='submit' name='option' value='Rock' />
  <input type='submit' name='option' value='Paper' />
  <input type='submit' name='option' value='Scissors' />
</form>
