<form action="/play">
  <font size="7">Thank you for registering to play <%= @registeredplayer%>!<br><br></font>
  <font size="5">Lets play Rock, Paper, Scissors!<br><br></font>
  <font size="4">Please select your choice below, and see if you're a winner...<br></font>
  <br><br>
<select name = "dropdown">
            <option value = "rock">Rock</option>
            <option value = "paper">Paper</option>
            <option value = "scissors">Scissors</option>
         </select>
         <input type = "submit" value = "Are you ready?" />
</form>