<h1><%= session[:player_1_name] %> vs Computer</h1>
<br>
<form action="/results" method="post">
Make your move...
<button name="p1_choice" type="submit" value="Rock">Rock</button>
<button name="p1_choice" type="submit" value="Paper">Paper</button>
<button name="p1_choice" type="submit" value="Scissors">Scissors</button>
</form>
