<h1>You have selected <%=$winner.player1.move%> as your move</h1>
<h1>Your opponent has selected <%=$winner.player2.move%></h1>

<form action="/winner" method="get">
    <input type='submit' value='Find Out Winner'/>
</form>
