<p>Your name is <%= PLAYER.name %> </p>

<p>CHOOSE YOUR WEAPON</p>
<form action="/play" method="POST">
  <input type= "submit" name= "choice" value="rock"> 
  <input type= "submit" name= "choice" value="paper">
  <input type= "submit" name= "choice" value="scissors">
</form>



