<h1>Welcome <%= @name %> to the Rock, Paper, Scissors game!</h1>

<form action="/rock" method="get">
  <button name="rock" type="submit">Rock</button>
</form>
<form action="/paper" method="get">
  <button name="paper" type="submit">Paper</button>
</form>
<form action="/scissors" method="get">
  <button name="scissors" type="submit">Scissors</button>
</form>