<h1> <%=$player.name%> vs Computer </h1>
<h3> Choose your weapon! <h3>

<p> 
<form action="/result" method="post"> 
  <input type="radio" name="playerchoice" value="Rock">Rock
  <input type="radio" name="playerchoice" value="Paper">Paper
  <input type="radio" name="playerchoice" value="Scissors">Scissors                               
  <input type="submit" value="submit">
</form>
<p>
    
