<head>
</head>

<body>
<h1> Rock Paper Scissors Lizard Spock! </h1>
<p> <%= @player_name %>, let's play RPSLS!" </p>
<p> Choose your move! </p>
<form method='post' action='/play'>
  <select name='possible_moves'>
    <% @options.each do |option| %>
      <option value="<%= option%>"> <%= option %> </option>
    <% end %>
    <input class="fsSubmitButton" type="submit" value="Go!"></input>
</select>
</form>
</body>
