<div>
Scoreboard:
<%= "#{$game.player_1.name}: #{$game.player_1.score}" %>
<%= "#{$game.player_2.name}: #{$game.player_2.score}" %>
</div>

<%= "#{$game.player_1.name}, select your move!" %>
<form action='/rock' method='get'>
  <button>rock</button>
</form>
<form action='/paper' method='get'>
  <button>paper</button>
</form>
<form action='/scissors' method='get'>
  <button>scissors</button>
</form>
