<h1>Welcome <%= $player_one.name %>! </h1>
<br>
<h2>Choose your weapon!</h2>

<br>

<form action="/result" method="get">
  <input type="submit" value="ROCK!">
</form>
<form action="/result" method="get">
  <input type="submit" value="PAPER!">
</form>
<form action="/result" method="get">
  <input type="submit" value="SCISSOR!">
</form>
