Hi <%= @player %>!

<form action="/selection1" method="post">
  <input type="submit" value="Rock" name="Rock">
</form>

<form action="/selection2" method="post">
  <input type="submit" value="Paper" name="Paper">
</form>

<form action="/selection3" method="post">
  <input type="submit" value="Scissors" name="Scissors">
</form>
