<!DOCTYPE html>
<html>
<body>

<h1> <%= @player.name %> </h1>
<h2> What move would you like to make? </h2>
<form action="/game" method="get">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>

</body>
</html>
