<section class="page">
  <br><br>

  Welcome <%= @player_name %>!
  <br><br>

  Choose your weapon...
  <br><br>
  <form action="/game" method="post">

    <input type="image" src="img/rock.png" name="weapon" value="rock">
    <br><br>
    <input type="image" src="img/paper.png" name="weapon" value="paper">
    <br>
    <input type="image" src="img/scissors.svg" name="weapon" value="scissors">
  </form>
</section>
