<h1>Welcome <%= @game.player_1.name %>!</h1>
<h3>Please choose:</h3>
<a href="/form_shape?choice=rock">Rock</a><br>
<a href="/form_shape?choice=paper">Paper</a><br>
<a href="/form_shape?choice=scissors">Scissors</a><br>
