<center>
<h1><%=@current_player.name%>, Pick Your Weapon</h1>
<br>
<br>
<form action="/action" method="post">
  <input id="rock_id" type="radio" name="weapon" value="Rock" > Rock
  <input id="paper_id" type="radio" name="weapon" value="Paper"> Paper
  <input id="scissors_id" type="radio" name="weapon" value="Scissors"> Scissors
  <br>
  <br>
  <br>
  <input id="submit" type="submit" valuve="Sumbit">
</form>

<img src= "https://www.pinclipart.com/picdir/big/176-1761475_mickey-rock-paper-scissors-mickey-mouse-hands-clipart.png" style="transform:rotate(-90deg);">
</center>
