<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../style.css">

<h1>Welcome, Player 2!</h1>
<body>
<img src="https://pxt.azureedge.net/blob/68f66c3ddc3acfc4c53157abf92eace202d46db2/static/courses/csintro/conditionals/rock-paper-scissors-items.png">
<form action='/start-2-player-game' method="post">
  <label for="player2">Player 2, enter your name:</label>
    <input type="text" id="player2" name="player2">
  <button name="submit" type="submit">Let's Go!</button>
</form>
</body>
