<head>

</head>

<body class='page_layout' class='page__style'>

  <h1 class='header_layout' class='header__style'>
    Are you ready to Rock, Paper, Scissors, <%= @player_1 %> and <%= @player_2 %>?
  </h1>

  <form action='/r-p-s' class='form_layout'>
    <input type='submit' class='button__style' value='R-P-S!'>
  </form>
</body>