<!DOCTYPE html>
<html>
<body style="background-color:#e6ffe6;">

<h1>Rock, Paper, Scissors</h1>
<h2>A true game of skill...</h2>

<%=@player.name%>, are you ready to play?
<br>
<br>

<input type="radio" id="paper" name="selection">
<label for="paper">PAPER</label>
<input type="radio" id="scissors" name="selection">
<label for="paper">SCISSORS</label>
<input type="radio" id="rock" name="selection">
<label for="paper">ROCK</label>

</body>
</html>
