<h3> <%= @player1_name %>, it's time to make your choice: </h3>

<form action = "/choice1" method = "post" >
  <input id = "choice_rock" type="radio" name="choice1" value="rock"> Rock <br />
  <input id = "choice_paper" type="radio" name="choice1" value="paper"> Paper <br />
  <input id = "choice_scissors" type="radio" name="choice1" value="scissors"> Scissors <br />
  <input id = "choice_spock" type="radio" name="choice1" value="spock"> Spock <br />
  <input id = "choice_lizard" type="radio" name="choice1" value="lizard"> Lizard <br />
  <input type="submit" value="Submit" />
</form>
