<%= $player.name %> vs Computer

<h2>What&apos;s your weapon?</h2>

<form action="/play" method='post'>
  <input type="radio" name="move" value="rock">Rock<br/>
  <input type="radio" name="move" value="paper">Paper<br/>
  <input type="radio" name="move" value="scissors">Scissors<br/>
  <input type="submit" id="OK" value="OK">
</form>
