<h3>Let's Play <%= @player_1.name %>!</h3>

<form action="/game_over" method="post">
  <input name = "move" type="submit" value="Rock">
  <input name = "move" type="submit" value="Paper">
  <input name = "move" type="submit" value="Scissors">
</form>