<h2>Welcome <%= @player_1_name %>!</h2>

Please select an option:

<form action="/resolve" method="post">
<input type="submit" value="Rock" name='player_1_choice'>
</form>

<form action="/resolve" method="post">
<input type="submit" value="Paper" name='player_1_choice'>
</form>

<form action="/resolve" method="post">
<input type="submit" value="Scissors" name='player_1_choice'>
</form>
