<h1> It's your turn, <%= @player1_name %>!</h1>

<BR>

<h1> Please choose your weapon! </h1>

<form action='/choice' method='post'>
	<button value='rock'>pic</button>
	<button value='paper'>pic</button>
	<button value='scissors'>pic</button>
</form>

