Game Started

<form action="/move" method="post">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>

<% if $game.chosen_move.nil? %>
Make a move
<% else %>
<%= $game.player.name %> chose <%= $game.chosen_move %>
<% end %>

<div id="opponent">
<% if $game.opponent_chosen_move.nil? %>
The opponent is waiting...
<% else %>
<%= $game.opponent.name %> chose <%= $game.opponent_chosen_move %> 
<% end %>
</div>