<body>
 <h1> Welcome to the game, <%=@name%><h1>
   <form action = "/result" method = "POST" >
     <input type= "radio" id= "rock" name="attack" value = "rock" checked = "checked"> Rock
     <input type= "submit" value= "Ready to go">
   </form>
</body>
