<html>
  <body style ="background-color:rgb(51, 51, 204)">
    <h1 style="color:white; font-family:georgia" align="center"> Player: <%= @name %> </h1>
      <br>
      <br>
    <form align="center" action="in_play" method="post">
      <input type="submit" value="Rock" style="height:400px; width50px">
      <input type="submit" value="Paper" style="height:400px; width50px">
      <input type="submit" value="Scissors" style="height:400px; width50px">
    </form>
  </body>
<html>
