<h1>Welcome <%= @name %> to Rock, Paper, Scissors <%= @name_1 %></h1>

<form action="/move" method="post">

  <label for="select">
    <button name="select" value="rock">rock</button>
    <button name="select" value="paper">paper</button>
    <button name="select" value="scissors">scissors</button>
  </label>
</form>
