<h2><%= session[:player_name] %> what is your choice?</h2>
<br><br>

<form action="/play_round" method="post">
  <input type="hidden" name="button" value="Rock"/>
  <input type="submit" value="Rock">
</form>

<form action="/play_round" method="post">
  <input type="hidden" name="button" value="Paper"/>
  <input type ="submit" value="Paper">
</form>

<form action="/play_round" method="post">
  <input type="hidden" name="button" value="Scissors"/>
  <input type ="submit" value="Scissors">
</form>