<div style = 'background-color: orange'>
<h1>Hello <%=@player%>, ready to Rock some Scissors?</h1>
</div>
<form action='/compmove', method='post'>
  <select name="move">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  <input type="submit" value="Submit">
</form>
