
<%= "Welcome to the game, #{@player}!" %>
<p>Choose your weapon</p>
<form action="/outcome" method='post'>
  <div>
    <input type="radio" name="input" value="rock" id="rock">
    <label>Rock</label>

    <input type="radio" name="input" value="paper" id="paper">
    <label>Paper</label>

    <input type="radio" name="input" value="scissors" id="scissors">
    <label>Scissors</label>
  </div>
  <br>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
