<h1>Rock Paper Scissors!</h1>
<br>
<h2>Please enter player names</h2>
<form action="/players" method="post">
  <label for="player1">
    Player 1 Name:
    <input type="text" name="player1" value ="Tom">
  </label>
  <br>
  <label for="player2">
    Player 2 Name:
    <input type="text" name="player2" value="Computer">
  </label>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
