<h1>Welcome!</h1>
<h2>Player 1: <%= @game.player_1.name %></h2>
<h3>Which of these would you like to pick?</h3>
<h3>Note that you're against the computer. It'll soon be updated to multiple players. Thanks for your cooperation. :)</h3>
<form action="/fight" method="post">
  <b><input type="submit" name="choice" value="Rock"></b>
  <b><input type="submit" name="choice" value="Paper"></b>
  <b><input type="submit" name="choice" value="Scissors"></b>
</form>
