<h1>Rock - Paper - Scissors, in 3... 2... 1!</h1>

</br>

<!-- <a href='/result' padding-right: 10px; padding-left: 10px;> <% @game.player_choice = :rock %>
<img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-rock-icon.png" alt="Rock" width="100" height="100">
</a>

<a href='/result' padding-right: 10px; padding-left: 10px;> <% @game.player_choice = :paper %>
<img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-paper-icon.png" alt="Paper" width="100" height="100">
</a>

<a href='/result' padding-right: 10px; padding-left: 10px;> <% @game.player_choice = :scissors %>
<img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-scissors-icon.png" alt="Scissors" width="100" height="100">
</a> -->


<!-- <form action="/choices" method="get">

  <button name="player_choice" type="submit" value="rock">
    <img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-rock-icon.png" alt="Rock" width="100" height="100">
  </button>

  <button name="player_choice" type="submit" value="paper">
    <img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-paper-icon.png" alt="Paper" width="100" height="100">
  </button>

  <button name="player_choice" type="submit" value="scissors">
    <img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-scissors-icon.png" alt="Scissors" width="100" height="100">
  </button>

</form> -->

<a href='/choices'>
  <button type="button" id="rock">
    <img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-rock-icon.png" alt="Rock" width="100" height="100">
  </button>
</a>

<a href='/choices'>
  <button type="button" id="paper">
    <img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-paper-icon.png" alt="Paper" width="100" height="100">
  </button>
</a>

<a href='/choices'>
  <button type="button" id="scissors">
    <img src="http://megaicons.net/static/img/icons_sizes/8/178/128/rock-paper-scissors-scissors-icon.png" alt="Scissors" width="100" height="100">
  </button>
</a>
