Welcome <%= @user %>! Choose below:

<form method='POST'>
  <input type="submit" name="choice" value="Rock" class="button">

  <input type="submit" name="choice" value="Paper" class="button">

  <input type="submit" name="choice" value="Scissors" class="button">
</form>

