
<h1><%= @player_name %>, choose your weapon:<h1>

<form>
  <input type="radio" name="weapon" value="scissors"> Rock<br>
  <input type="radio" name="weapon" value="paper"> Paper<br>
  <input type="radio" name="weapon" value="scissors"> Scissors<br>
  <br>
  <br>
  <input type="submit" value="FIGHT">
</form>
