<h1>Welcome to the game <%= @player %></h1>

<h2>Choose your weapon</h2>

<button type="button" name="Rock">Rock</button>
<button type="button" name="Paper">Paper</button>
<button type="button" name="Scissors">Scissors</button>
