<body>

<%= @player_name %> Score : 0

<h4>Choose an option</h4>

<form action="/action" method="post">
  <input type="submit" value="ROCK">
  <input type="submit" value="PAPER">
  <input type="submit" value="SCISSORS">
</form>

</body>
