<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<center><br>
<% if @player %>
<h1>Hello, <%= @player%>!</h1><br>
<h2>3...2....1!</h2>
<% end %>

<% unless @player %>
<br><h1>You <%= @play_result%>!</h1>
<h2>Your opponent's pick : <%= @opponent_pick %></h2><br>
<br><h2>Want to play again?</h2><br>
<% end %>

<form action = "/result" method = "post"><div>
<input type = "submit" name = "Rock" value = "Rock">
<input type = "submit" name = "Paper" value = "Paper">
<input type = "submit" name = "Scissors" value = "Scissors">
</div></form>

<%unless @player %>
<br><br><h6><a href="/">Go back to main</a></h6>
<% end %>
</center>
