<h1><%= game.player_1.name %> vs <%= game.player_2.name %></h1>
<p><%= game.player_1.name %>, choose your weapon:</p>
<form action="/weapon" method="post">
  <p>
    <button class="weapon" type="submit" name="rock">Rock</button>
    <button class="weapon" type="submit" name="paper">Paper</button>
    <button class="weapon" type="submit" name="scissors">Scissors</button>
  </p>
  <p>
    <button class="weapon" type="submit" name="lizard">Lizard</button>
    <button class="weapon" type="submit" name="spock">Spock</button>
  </p>
</form>
