<h1> Hello, <%= session[:name] %>! Make your choice </h1>

<form action="/choice" method="POST">
<label for="Rock">
<input type="submit" name="player_choice" value="Rock">
</label>
</form>
<form action="/choice" method="POST">
<label for="Paper">
<input type="submit" name="player_choice" value="Paper">
</label>
</form>
<form action="/choice" method="POST">
<label for="Scissors">
<input type="submit" name="player_choice" value="Scissors">
</label>
</form>
