<div>
  Name: <%= @active %>
</div>
<div>
  <form action="/move_entry" method="post">
    <input value="Rock" type="submit" name="move">
    <input value="Paper" type="submit" name="move">
    <input value="Scissors" type="submit" name="move">
    <% if @extended %>
    <input value="Lizard" type="submit" name="move">
    <input value="Spock" type="submit" name="move">
    <% end %>
  </form>
</div>
