<h1>Welcome <%=@first_name %></h1>

<p1>Choose your weapon</p1>
<form action="/Scissors">
  <input type="submit" value="Scissors"
<\form>
<form action="/Paper">
  <input type="submit" value="Paper"
<\form>
<form action="/Rock">
  <input type="submit" value="Rock"
<\form>
