<!DOCTYPE html>
<html>
<head >
  <style media="screen">
    .message {
      font-size: 15em;
      color: #BADA55;
    }
  </style>
</head>

<body>


<span class=message> You are: <%= @p1_name %> </span>

</body>
</html>
