<!DOCTYPE html>
<html>
<head>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h3>Game Menu</h3>
  <div id="gametype">
    <form action="/oneplayer">
      <input type='submit' value='one-player'>
    </form>
    <form action="/twoplayer">
      <input type='submit' value='two-player'>
    </form>
    <form action="/">
      <input type='submit' value='back'>
    </form>
  </div>
</body>
</html>
