<%= @player_one_name %>: Choose your weapon!

<br>

<form action="/result">
  <input type="submit" value="ROCK!">
</form>
<form action="/result">
  <input type="submit" value="PAPER!">
</form>
<form action="/result">
  <input type="submit" value="SCISSOR!">
</form>
