<html>
<body bgcolor="#F5F4F0">

      <style>
        .box{
          height:100%;
          widht:100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .btnimage:focus {
          outline:0
        }
      </style>
      <center>

      <h1><%=@player%><br>
        choose Your Move... </br></h1>
      </center>
      <div class="box">

        <form action="/result" method="post">
          <button type="submit" name="move" value="Rock"><img height="250" src="./rock.jpeg"/></button>
          <button type="submit" name="move" value="Paper"><img height="250" src="./paper.jpeg"/></button>
          <button type="submit" name="move" value="Scissor"><img height="250" src="./scissor.jpeg"/></button>
        </form>
      </div>
    </body>
