<body>
<p> Welcome <%= @name %> </p>

<form method='POST' action='/play'>
  <input type='submit' name='throw' value='Rock'>
  <input type='submit' name='throw' value='Paper'>
  <input type='submit' name='throw' value='Scissors'>
</form>


<div> You threw <%= @throw %>! </div>

<div> Your opponent threw <%= @opponent_throw %>! </div>

</body>
