<h1><%= "#{@player1.name} vs. #{@player2.name}" %></h1>
<h3><%= "#{@player1.name}, Select your weapon" %></h3>

<form class="weapons" action="/move" method="post">
  <input type="submit" name="p1_move" value="Rock">
  <input type="submit" name="p1_move" value="Paper">
  <input type="submit" name="p1_move" value="Scissors">
</form>
