<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Let&lsquo;s Play Rock Paper Scissors!</title>
    <meta charset='utf-8'/>
    <link rel='stylesheet' href='battle-styles.css'/>
  </head>
  <body>
    <div class='page'>
      <h1><%= @player %> vs. Superhans</h1>
    </div>
  </body>
</html>
