<%= @player %> Vs. NPC

<% if @action %>
<br>
<%= @player %> chose <%= @action %>
<% end %>

<form action="/action" method="POST">
  <input name="action" type="submit" value="Rock">
  <input name="action" type="submit" value="Paper">
  <input name="action" type="submit" value="Scissor">
</form>
