<%= $player.name %>

<form action='/move' method='post'>
  <input type="submit" name="move" value="rock">
  <input type="submit" name="move" value="paper">
  <input type="submit" name="move" value="scissors">
</form>
