<%= Player.current.name %> Let's play Rock, Paper, Scissors!
<form action="/choice" method="post">
<input type="submit" name="choice" value="Rock">
<input type="submit" name="choice" value="Paper">
<input type="submit" name="choice" value="Scissors">
</form>
