<h1> Choose an option, <%= @game.player1.name %> </h1>
<br>
<br>

<form action='/optionsolo' method='post'>
  <input type='submit' value='Rock' name ="solo" class='button'>
  <input type='submit' value='Paper' name="solo" class='button'>
  <input type='submit' value='Scissors' name="solo" class='button'>
  <input type='submit' value='Lizard' name="solo" class='button'>
  <input type='submit' value='Spock' name="solo" class='button'>
</form>
