<link rel="stylesheet" href="styles.css" media="screen" charset="utf-8">

<h1>Welcome <%= @game.player_name %> to Rock Paper Scissors!</h1>

<h3>Please select your 'weapon of choice' from the options below</h3>

<div class="item_buttons">
  <form action="/play" method="post">
    <input type="submit" id="rock" name="item" value="Rock">
    <input type="submit" id="paper" name="item" value="Paper">
    <input type="submit" id="scissors" name="item" value="Scissors">
  </form>
</div>

<h2>You selected <%= @game.player_item.to_s.capitalize%></h2>

<div class="computer">
  <h2>Computer selected <%= @game.computer_item.to_s.capitalize%>!</h2>
</div>

<% if @game.draw? %>
<h1>You draw!</h1>

<% elsif @game.win? %>
<h1>You win!</h1>

<% elsif @game.lose? %>
<h1>You lose!</h1>

<% end %>
