<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <h1>Computer player present - Come at me bro</h1>
    </div>
    <div class="">
      <h1>Human player: <%= @human_player_name %></h1>
    </div>
    <div class="player_options">

    </div>

  </body>
</html>
