So <%= @player_name %>, you think you've got what it take to beat me!

Let's see it!

<form action="/throwdown">
  <input type="submit" value="Rock">
    <input type="submit" value="Paper">
      <input type="submit" value="Scissors">
</form>
