<h1><%= @player %></h1>
<h2>choose a guesture</h2>
<form action="/playing" method="post">
     <div class="row">
       <input type="submit" value="rock" name="hand" class="round button">
       <input type="submit" value="paper" name="hand" class="round button">
       <input type="submit" value="scissors" name="hand" class="round button">
     </div>
   </form>
