<div>
  <h1> Rock - Paper - Scissor</h1>
  <h1> <%= @player %></h1>
   <form action='/play' method='post'>
    <button type='text' name='rock'>Rock</button>
    <button type='text' name='paper'>Paper</button>
    <button type='text' name='scissor'>Scissor</button>
  </form>
</div>