<h3><%= session[:user_name] %> is playing Rock, Paper, Scissors</h3>
<br>
Select one of Rock, Paper or Scissors:
<form>
  <input type=submit value='Rock'>
</form>
<form>
  <input type=submit value='Paper'>
</form>
<form>
  <input type=submit value='Scissors'>
</form>
