<h1><%=@game.player2.name%>, it's your turn!</h1>

<form action="/saveturn" method="post">
<input type="submit" name="choice" value="Rock">
<input type="submit" name="choice" value="Paper">
<input type="submit" name="choice" value="Scissors">
<input type="hidden" name="round" value="2">
</form>
