<h1> ROCK/PAPER/SCISSORS </h1>
<h3>
  Hi <%=@player_name%>,
  <form action='./submit' method='post'>
    <input type='radio' name='option' value='rock'> Rock
    <input type='radio' name='option' value='paper'> Paper
    <input type='radio' name='option' value='scissors'> Scissors
    <input type='submit'>
  </form>
</h3>
