<div><h1>[Names]</h1> 
<h2><%= @game.player.name%> vs. <%=@game.computer.name%></h2>
<h1>[Scores] </h1>
<h2>Player = <%= @game.player.points%> Computer = <%= @game.computer.points%> </h2>

<div>
<h2>Rock, Paper, Scissors!</h2>
<form action="/move" method="post">
  <label for="rps">Make your move:</label>
  <select name="rps" id="rps">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
