<head>
   <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
 <h1> Welcome to the game, <%=@game.player_1.name%><h1>
 <h2> Player 1 is the great  <%=@game.player_1.name%>  </h2>
 <h2> Player 2 is the mighty  <%=@game.player_2.name%> </h2>
   <form action = "/choices" method = "POST" >
     <p> Player 1 </p>

     <input type= "radio" id= "rock" name="attack" value = "rock" checked = "checked"> Rock
     <input type= "radio" id= "paper" name="attack" value = "paper"> Paper
     <input type= "radio" id= "scissors" name="attack" value = "scissors"> Scissors
     <br>
     <p> Player 2 </p>

     <input type= "radio" id= "rock_2" name="attack_2" value = "rock" checked = "checked"> Rock
     <input type= "radio" id= "paper_2" name="attack_2" value = "paper"> Paper
     <input type= "radio" id= "scissors_2" name="attack_2" value = "scissors"> Scissors
     <input type= "submit" value= "Attack your opponent">
   </form>
</body>
