<div style = 'width: 110%; text-align: center;background-color: #6699ff; font-size: 1.2em; height: 120%'>
<h1>Welcome <%=@name%>!</h1>
<p>Make a selection:</p>

<form action="/game_play" method="post">
  <select name="rps_choices">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select> <br>
  <input type="submit" name="Go" value="Go" style ='width: 6%; height: 6%; border-radius: 60px; margin-top: 30px'>
</form>

</div>
