<h3> <%=$game.player_1%>'s hand on deck </h3>

<form action="/round_1" method="post">
  choose your weapon:<br>
  <input type='radio' name ='weapon' value='Rock' id='Rock'/> Rock <br>
  <input type='radio' name ='weapon' value='Paper' id='Paper'/> Paper <br>
  <input type='radio' name ='weapon' value='Scissors'id='Scissors'/> Scissors <br>
  <input type="submit" value="Submit" />
</form>
