Welcome, <%= @name %>

<form method="POST" action="/play">
  <input type="submit" name="shape" value="ROCK" />
  <input type="submit" name="shape" value="PAPER" />
  <input type="submit" name="shape" value="SCISSORS" />
</form>


You selected <%= @shape %>!
