<header>
  <h1><%= @game.players_name
    %> vs. Computer</h1>
</header>

<main class="options">
  <h2>Choose your option wisely</h2>
  <a href='/game?choice=rock'>
    <button class="option"><span class="rock"></span>Rock</button>
  </a>
  <a href='/game?choice=paper'>
    <button class="option"><span class="paper"></span>Paper</button>
  </a>
  <a href='/game?choice=scissors'>
  <button class="option"><span class="scissors"></span>Scissors</button>
  </a>
  <div class="bottom-row">
    <a href='/game?choice=lizard'>
      <button class="option"><span class="lizard"></span>Lizard</button>
    </a>
    <a href='/game?choice=spock'>
      <button class="option"><span class="spock"></span>Spock</button>
    </a>
  </div>
</section>