


<h1>Welcome to the arena, <%= @player_1_name %>. How shall you fight <%= @player_2_name %>? Select your weapon!</h1>


<div>

    <a href="/combat">

  </a>


  <form action = "/combat_selection" method = "post">

    <img src="/rock.png" alt="Rock" style="height:325px;border:0" name="rock">
      <input type="submit" name="selection" value ="Rock"/>

    <img src="/scissors.png" alt="Paper" style="height:325px;border:0"
    name="paper">
      <input type="submit" name="selection" value = "Paper" />

    <img src="/paper.png" alt="Scissors" style="height:325px;border:0" name="scissors">
      <input type="submit" name="selection" value = "Scissors" />

  </form>




</div>
