Hello <%= @player.name %>
<br>
<form action="/result" method="post" >
<input type="submit" name="player_pick" value="rock">
<input type="submit" name="player_pick" value="scissors">
<input type="submit" name="player_pick" value="paper">
</form> 