<h1 style = "text-align:left;float:left;"><%= @player.name %> Score : <%= @player.score %> </h1>
<h1 style = "text-align:right;float:right;"><%= @computer.name %> Score : <%= @computer.score %> </h1>
