Hello <%= @player.name %>, let's play Rock Paper Scissors!
<form action="/calculate" method="post">
  <button name="player option" value= "rock">Rock</button>
  <button name="player option" value= "paper">Paper</button>
  <button name="player option" value= "scissors">Scissors</button>
</form>
