<body style="background-color:#E0F7F9;">
<%= @player_name %>

<p style="color:black; font-family:verdana; font-size:300%:">Choose one from: Rock, Paper, Scissors</p>

<div>
    <button name="submit" type="submit" value="Rock">Rock</button>
    <button name="submit" type="submit" value="Paper">Paper</button>
    <button name="submit" type="submit" value="Scissors">Scissors</button>
</div>
</body>
