<p><%= @player %> vs. <%= "computer" %></p>

<div id="buttons">
 <a href="/attack"><button>Rock</button></a>
</div>

<div id="buttons">
 <a href="/attack"><button>Paper</button></a>
</div>

<div id="buttons">
 <a href="/attack"><button>Scissors</button></a>
</div>
