<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="congrats">
Congrats! Your username is now Dave
    </div>
  </body>
</html>
