 <% if @name.empty? %> Please enter a name
 <form action='/' method='get'>
   <input type='submit' value='Go Back' />
 <%end%>
<% if !@name.empty? %>
 Hello, <%= @name %>
 Please choose  a weapon :
 Rock
 Paper
 Scissors

 <form action='/weapon' method='post'>
   <input type='submit' name='weapon' value='ROCK'/>
   <input type='submit' name='weapon' value='PAPER'/>
   <input type='submit' name='weapon' value='SCISSORS'/>
 </form>
 <%end%>
