Hello <%= @name %>! What move would you like to make?
<br>
<form action="/result" method="post">
  <input type='submit' name="option" value="rock">
  <input type='submit' name="option" value="paper">
  <input type='submit' name="option" value="scissors">
</form>
