<p> Rock Paper Scissors </p>
<p> Player name: <%= @game.player.name %> </p>

<form action="/selection">
  <input type="submit" value="Rock">
</form>

<form action="/selection">
  <input type="submit" value="Paper">
</form>

<form action="/selection">
  <input type="submit" value="Scissors">
</form>
