<h1>
  <%=@game.player_1.name%> vs. <%=@game.player_2.name%>
</h1>

<form action="/player_2_choice" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
</form>