<%= @player %>
<!-- <a href="/game">Rock</a>
<a href="/game">Scissors</a>
<a href="/game">Paper</a> -->

<form method="post" action="/rock">
    <input type='submit' value='Rock'>
</form>
<form method="post" action="/scissors">
    <input type='submit' value='Scissors'>
</form>
<form method="post" action="/paper">
    <input type='submit' value='Paper'>
</form>
