<div class="container-fluid">
  <div align="center">
    <form action="/result" method = "post">
      <div class="row text-center">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label for="move">Select your move <%= session["user"] %></label>
              <select name="move"class="form-control" id="sel1">
                <option value="rock">rock</option>
                <option value="paper">paper</option>
                <option value="scissors">scissors</option>
              </select>
            </div>
          </div>
      </div>
      <div class="row text-center">
        <div class = "col-sm-12 col-offset-3">
      <input type="submit" value="Submit">
      </div>
    </div>
  </form>
  </div>
</div>


