<%= @game.player1.name.capitalize %>


<h1>Choose:</h1><br>
<form action="/multiplayer_play1" method="POST">
	<select name="choice">
	  <option value="paper">Paper</option>
	  <option value="rock">Rock</option>
	  <option value="scissors">Scissors</option>
  </select>

	<input type="submit">
</form>