<h1>Choose Rock, Paper, or Scissors!</h1>

<form action='/result' method='post'>
    <input type='submit' value='Rock'>
    <input type='submit' value='Paper'>
    <input type='submit' value='Scissors'>
</form>

<!-- To do list
- Add the registered persons name to the register route
- Do an if statement in the result route
- 
-->