<!DOCTYPE hmtl>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div id="player_1">
      <h2> <%= @game.player_name_1 %> </h2>
    </div>

    <div class='options'>
      <form action="/result" method="post">
        <input type="submit" name="player_choice" value="rock">
      </form>

      <form action="/result" method="post">
        <input type="submit" name="player_choice" value="paper">
      </form>

      <form action="/result" method="post">
        <input type="submit" name="player_choice" value="scissors">
      </form>
    </div>
  </body>
</html>
