<h2><%=@game.player.name%></h2>

<table border="0" align='center'>
  <tr>
    <td><form action="/results">
      <input type="hidden" name="choice" value="Rock">
      <input type="submit" value="Rock">
    </form></td>

    <td><form action="/results">
      <input type="hidden" name="choice" value="Paper">
      <input type="submit" value="Paper">
    </form></td>

    <td><form action="/results">
      <input type="hidden" name="choice" value="Scissors">
      <input type="submit" value="Scissors">
    </form></td>
  </tr>
<table>
