<div>
  <h1>Player 2: <%= @name %></h1>
  <form method='post'>
    <select name='move'>
      <option value='rock'>Rock</option>
      <option value='paper'>Paper</option>
      <option value='scissors'>Scissors</option>
    </select>
    <input type='submit' value='Submit'>
  </form>
</div>