<%= @game.player_1.name %> VS Computer

<form action="/rock" method="get">
  <input type="submit" value="Attack with Rock!">
</form>

<form action="/paper" method="get">
  <input type="submit" value="Attack with Paper!">
</form>

<form action="/scissors" method="get">
  <input type="submit" value="Attack with Scissors!">
</form>
