<style>
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
form {text-align:center;}
</style>

<body style='background-image: url("https://www.netclipart.com/pp/m/123-1235981_new-rock-paper-scissors-thanks-to-karmachela-rock.png"); background-size: 100% 100%'>

<br><br><br><br>
<h1>Let the game begin!</h1>
<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>
<br><br><br><br><br>
<h3><%= @game.player_1.name %>, please choose your move:</h3>
<br>

<form action="/results" method="post">
  <input type="radio" name="weapon" value="Rock"> Rock<br>
  <input type="radio" name="weapon" value="Paper"> Paper<br>
  <input type="radio" name="weapon" value="Scissors"> Scissors<br><br><br>
  <input type="submit" value="Submit">
</form>
