<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pusheen RPS Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Let's Play</h2>
  <h4><%= @player_1.name %> vs. <%= @player_2.name %>!</h4>      
  <img src="https://media.giphy.com/media/dNgK7Ws7y176U/giphy.gif" class="rounded" alt="Pusheen" width="304" height="236"> 
</div>

<div class="container">
<h4>Take your pick!</h4>
<form action="/game_over" method="post">
  <input name = "move" type="submit" value="Rock">
  <input name = "move" type="submit" value="Paper">
  <input name = "move" type="submit" value="Scissors">
</form>
</div>

</body>
</html>