<h1>Choose your weapon, <%=@game.player1.name%></h1>

<form action="/choice" method="POST">
  <label for="rock">Rock</label>
  <input type="radio" name="choice" value="Rock" id="rock">
  <br>
  <label for="paper">Paper</label>
  <input type="radio" name="choice" value="Paper" id="paper">
  <br>
  <label for="scissors">Scissors</label>
  <input type="radio" name="choice" value="Scissors" id="scissors">
  <br>
  <br>
  <input type="submit" name="submit" value="Confirm Choice">
</form>
