<h1> <%= session[:player_1_name] %> vs. Invincible computer! </h1>
<br>
<h2> Please select from the drop down menu. </h2> 
<form action="/" method="post">
  <select name="rps">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
  </select>
</form>
