<%# using 2 dummy instance variables to display the name of the player that gets input on the form. These variables get passed to the view via params! %>


Welcome <%= @player_name %>!

<p> What's going to be? Rock, Paper or Scissors? </p> 

<form action="/result" method="post">
<button type="submit" name="rock" value="rock"> Rock </button>
<button type="submit" name="paper" value="paper"> Paper </button>
<button type="submit" name="scissors" value="scissors"> Scissors </button>
</form>
