<%= @player_1.name %>

<form action='/player_rock'>
<input type="submit" value="Rock">
</form>

<form action='/player_paper'>
<input type="submit" value="Paper">
</form>

<form action='/player_scissors'>
<input type="submit" value="Scissors">
</form>
