<h1>Hi <%= @game.player.name %>! Let's play Rock Paper Scissors! </h1>

<form action = "/option", method = "post">
  <input type = 'submit', name = "option", value = "Rock">
  <input type = 'submit', name = "option", value = "Paper">
  <input type = 'submit', name = "option", value = "Scissors">
</form>
