<%= @game.player.name %> takes on Hal!

<form name="player" action="/choice" method="post">
  <input type="submit" value="rock" name="player_choice">
</form>

<form name="player" action="/choice" method="post">
  <input type="submit" value="paper" name="player_choice">
</form>

<form name="player" action="/choice" method="post">
  <input type="submit" value="scissors" name="player_choice">
</form>
