<h2><%= @game.player1.name %> wins count: <%= @game.player1.wins %></h2>
<h3>Choose your move:</h3>

<form action='/move' method='POST'>
  <label><input type='radio' name='move' value='rock' required>Rock</label>
  <label><input type='radio' name='move' value='paper'>Paper</label>
  <label><input type='radio' name='move' value='scissor'>Scissor</label>
  <br>
  <input type='submit' value='Play!'>
</form>
