<h1>Player: <%= @name %></h1>

<h2>Select Your Move</h2>

<form action="/result">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>