<html>
<h1> <%= @player_one_name %>!</h1>
<h2> Do you fancy another try? </h2>
<br/>
<br/>
<h2>Please select your hand.</h2>
<br/>

<form action="/challenge" method="post">
<button type="submit" name="choice" value="rock">Rock</button>
<button type="submit" name="choice" value="paper">Paper</button>
<button type="submit" name="choice" value="scissors">Scissors</button>
</form>

</html>
