<style>
body {
  background-color: Blue;
}
</style>
<h1 style = "color: silver;">
  It's your move! </h1>
<h2 style = "colour: grey;">
  Choose an action! </h2>

<form action="/result" method="post">
  <label for="p1_move">
    <input type="radio" name="p1_move" value="Rock"> Rock <br>
    <input type="radio" name="p1_move" value="Paper"> Paper<br>
    <input type="radio" name="p1_move" value="Scissors" checked> Scissors<br>
    <br>
    <input type="submit" value="I'm ready!">
  </label>
</form>
