<center>
  Hello <%= @marketeer1 %>!<br>
  3....<br>
  2....<br>
  1....<br>
  <form action="/choice" method="post">
    <input type="submit" name="choice" value="Rock">
    <input type="submit" name="choice" value="Paper">
    <input type="submit" name="choice" value="Scissors">
  </form>
</center>
