<h1>Time to play, <%= @player_name %>!</h1>

<form action="/hand">
  <lable for="rock">
    <input type="submit" value="Rock">
  </lable>
  <lable for="paper">
    <input type="submit" value="Paper">
  </lable>
  <lable for="scissors">
    <input type="submit" value="Scissors">
  </lable>
</form>
