<%= @player_1_name %> vs <%= @computer %>!
<br><br>

<form action="/rps" method = "post">

      <%= @player_1_name %>, choose - rock, paper or scissors:
      <br>
      <input type="radio" name="rps" value="rock"> rock<br>
      <input type="radio" name="rps" value="paper"> paper<br>
      <input type="radio" name="rps" value="scissors"> scissors<br>
  
  <input type="submit" value="OK">
</form>
