<h1> <%= @player.name %> vs Computer </h1>

<form action="/input" method="post">
  <input type="submit" value="CHARMANDER">
  <input type="submit" value="SQUIRTLE">
  <input type="submit" value="BULBASAUR">
</form>
