<html>
<head>

</head>

<body>
  <div class="header">
    <h1><%=@game.player1%></h1>
    <h2>it's time to choose..</h2>
  </div>
  <div class="choices">
    <form action="/choice" method="post" name="choice" value="rock">
      <input type="image" id="rock" src="http://www.amazingwallpaperz.com/wp-content/uploads/Nature-Rock-Wallpaper-Widescreen-HD.jpg">
    </form>
</body>
</html>
