
<h1> <%= @player_name %> choose your weapon! </h1>

<form action="/move" method="post">
    <input type="submit" value="Rock!" name="player_move">
</form>

<form action="/move" method="post">
    <input type="submit" value="Paper!" name="player_move">
</form>

<form action="/move" method="post">
    <input type="submit" value="Scissors!" name="player_move">
</form>