<h2> <%= @name %> choose your weapon </h2>

<form action="/who-wins" method="post">
  <input type="radio" name="choice" value="Rock">Rock</input>
  <input type="radio" name="choice" value="Paper">Paper</input>
  <input type="radio" name="choice" value="Scissors">Scissors</input>
  <input type="submit" value="Submit">
</form>