Welcome, young <%=@current_game.P1.name%>!
Choose your weapon!
<form align="center" action='/fight_ralph' method='post'>
  <label for= 'weapon'>Weapon:<label>
    <input type= 'text'  name= 'weapon'>
  </label>
  <div align="center">
    <input type= 'submit' value= 'Fight Ralph!'>
  </div>
</form>
