


Welcome to the arena, <%= @player_1_name %>. How shall you fight Roborory? Select your weapon!


<h2>

    <a href="/combat">
    <img src="/rock.png" alt="Rock" style="height:325px;border:0" name="rock">
  </a>

  <a href="/combat">
    <img src="/scissors.png" alt="Paper" style="height:325px;border:0"
    name="paper">
  </a>

  <a href="/combat">
    <img src="/paper.png" alt="Scissors" style="height:325px;border:0" name="scissors">
  </a>


</h2>


href="/attack_confirmation" value='Attack
