<%= @name %>


<form action='/result' method='post'>
<select name='choice'>
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>
<input type='submit' value='submit'>
</form>
