<!-- <h1><%= @player_1%>, choose your weapon!</h1> (Scope not working, put in some class methods to store name!)-->
<h1>Choose your weapon!</h1>
<form action="/players_choice" type="post">
  <input type="submit" name ="weapon" value="Rock">
  <input type="submit" name ="weapon" value="Paper">
  <input type="submit" name ="weapon" value="Scissors">
</form>
