<h1>Matchup:</h1>
<%= $game.player_1 %> vs Computer

<h2> <%= $game.player_1 %>, Choose your move</h2>
<form action='/result' method='post'>
  <input type='submit' name='rps_choice' value='Rock'>
  <input type='submit' name='rps_choice' value='Paper'>
  <input type='submit' name='rps_choice' value='Scissors'>
</form>
