<h1><%= @game.players[1].name %>, you're up next!</h1>
Choose your weapon:
<p>
<a href="/result2?weapon=rock"><button class="weapon-button"><img alt="Rock" src="/images/rock.jpg"></button></a>
<a href="/result2?weapon=paper"><button class="weapon-button"><img alt="Paper" src="/images/paper_fn.jpg"></button></a>
<a href="/result2?weapon=scissors"><button class="weapon-button"><img alt="Scissors" src="/images/scissors.png"></button></a>
