<h1>Let's play ROCK PAPER SCISSORS <%= @player1_name %>! </h1>
<h2>Choose your weapon!</h1>

<form action ='/outcome'>
<button name="subject" type="submit" value="rock">ROCK</button>
<button name="subject" type="submit" value="paper">PAPER</button>
<button name="subject" type="submit" value="scissors">SCISSORS</button>
</form>