<h1>Rock Paper Scissors</h1>
<h2>RPS: <%= @game.player.name %> vs. Computer</h2>
<h3>Pick one of the below:</h3>

<form action="/result" method="post">
  <button name="choice" type="submit" value="rock">Rock</button>
  <button name="choice" type="submit" value="paper">Paper</button>
  <button name="choice" type="submit" value="scissors">Scissors</button>
  <button name="choice" type="submit" value="spock">Spock</button>
  <button name="choice" type="submit" value="lizard">Lizard</button>
</form>
