<center><img src="title.jpg">
<p>

  <img src="bender.jpg" style="width:150px">
<p>Would you like to play against Bender?
  <form action="/bender" method="get" ><input type="submit" value="Yes" name="option"></form>
  <form action="/2player" method="get"><input type="submit" value="No" name="option"></form>
