<%= @player_1_name %> vs. CPU

<div class="container">
    <button class="pick-option-button">Rock</button>
    <button class="pick-option-button">Paper</button>
    <button class="pick-option-button">Scissors</button>
</div>