<body style="background-color:#7bb88d">
<div align="center">
<h1 style="color:#cafabb"><%= @player %></h1> 
<h3 style="color:#cafabb"> Select your option </h3>

<button type="button">Rock</button>      
<button type="button">Paper</button>       
<button type="button">Scissors</button>  

</div>
</body>