<h2> <%= @player_two_name%>, pick a move <h2>

  <form method="post" action= "/results_two_player">
    <label for="Rock">
      Rock
    <button type="submit" name="player_two_move" value ="Rock"> Rock </button>
    </label>
    <label for="Paper">
      Paper
    <button type="submit" name="player_two_move" value ="Paper"> Paper </button>
    </label>
    <label for="Scissors">
      Scissors
    <button type="submit" name="player_two_move" value ="Scissors"> Scissors </button>
    </label>
  </form>
