<%= @player_name %>, choose your move:
<br>
<br>
<form action="/play" method='post'>
  <input type="submit" name='option' value='Rock'><br><br>
  <input type="submit" name='option' value='Paper'><br><br>
  <input type="submit" name='option' value='Scissors'><br><br>
</form>

Your move was: <%= @option%>