<!DOCTYPE html>

<html>
<head>
  <title>Rock, Paper, Scissors: Play!</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>


<div id = "main" class="center-element">

  <h1>Welcome to the game, <%=@player_name%>!</h1>

</div>


</body>

</html>