<body>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>

  <h2>Your choice:
  <br>
  <br>
    <b></em><%=@choice%></em></b>
  <br> 
  <br> 
    Computer's  ==>  <b><em><%= @cp %></em></b>
  </h2>
  <br>
  <% if @score.decide_winner(@choice, @cp) == :tie %>
    <h2><b>Draw</b></h2>
  <% elsif @score.decide_winner(@choice, @cp) == :p1 %>
    <h2><b>You win</b></h2>
  <% else %>
    <h2><b>Computer Wins</b></h2>
  <% end %>
  <br>

  <form action='/play_one_player' method="post">
    <input type="submit" value="Again...">
  </form>
</body>

