<%= @player_1_name %></br>

<form action="/play" method="POST">
  <input type="submit" name="throw" value="Rock"/>
  <input type="submit" name="throw" value="Paper"/>
  <input type="submit" name="throw" value="Scissors"/>
</form>
