<style>
h1.serif {font-family: "Courier New", Courier, monospace;}
h2.serif {font-family: "Courier New", Courier, monospace;}
p.serif {font-family: "Courier New", Courier, monospace;}
.center {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 70px 0;
}
</style>
<div class="center">
<h1 class ="serif"><%=@player_name %> vs. The Machine</h1>
<p class ="serif">Choose your weapon, then prepare for battle!</p>
</div>
<div class="center">
<form action="/game" method="post">
    <input type="image" src="http://images.gofreedownload.net/fist-outline-lineart-clip-art-11366.jpg"
     align="left" width="250" heigth="90" name="weapon" id="weapon" value="Rock">
    <input type="image" src="http://www.clker.com/cliparts/9/6/9/1/1194985251383288862paper_RPSWB.svg.hi.png"
     align="middle" width="320" heigth="160" name="weapon" id="weapon" value="Paper">
    <input type="image" src="http://cliparwolf.com/cliparts/files/open-hand-outline-hand-24473_640.png"
     align="right" width="320" heigth="160" name="weapon" id="weapon" value="Scissors">
</form>
</div>
