<h1>  <font color="blue"> <%= @player.name %> </font> vs <font color="red"> <%= @computer.name %> </font> </h1>

<form action="/move">
  <input type="submit" name="move" value="rock">
</form>

<form action="/move">
  <input type="submit" name="move" value="paper">
</form>

<form action="/move">
  <input type="submit" name="move" value="scissors">
</form>
