<h1> PLAY! </h1>

<h2><%= "Welcome  #{@player.name}!" unless @player.nil? || @player.name.empty? %> </h2>


<form action="/outcome" method="post">
  <input type="hidden", name="action", value="rock" />
  <input type="submit" value="Rock">
</form>

<form action="/outcome" method="post">
  <input type="hidden", name="action", value="paper" />
  <input type="submit" value="Paper">
</form>

<form action="/outcome" method="post">
  <input type="hidden", name="action", value="scissors" />
  <input type="submit" value="Scissors">
</form>