<head>
  <link rel = "stylesheet"
    type = "text/css"
    href = "styles.css" />
</head>

<body>
  <div class = "main">
    <div class = "wrapper">
      <div>
        <p1>Rock, Paper, Scissors</p1>
      </div>
      <p2 class="glow"><%=@name%></p2>
      <br>
      <p2>Choose your move</p2>
      <br>
      <br>
      <form>
        <input type="submit" class="invisible" formaction="/result1" value="rock" id="rock-CSS" ></button>
        <input type="submit" class="invisible" formaction="/result2" value="paper" id="paper-CSS" ></button>
        <input type="submit" class="invisible" formaction="/result3" value="scissors" id="scissors-CSS" ></button>
      </form>
    </div>
  </div>
</body>