<h1>Welcome to the game <%=@player_1_name%>!</h1>

<h2>Please select a choice from below</h2>

<form action="/choices" method="post">
  <input type="submit" name ="choice" value="Rock"/>
</form>

<form action="/choices" method="post">
  <input type="submit" name ="choice" value="Paper"/>
</form>

<form action="/choices" method="post">
  <input type="submit" name ="choice" value="Scissors"/>
</form>
