<h1><%= @player_1%> vs Computer</h1>

<form action="/result" method="post">
  <label for="weapon">
    Please select your weapon:
  </label>
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
