<h1>LET'S PLAY <%= @name %>!</h1>
<br>
<h3>Choose your move</h3>

<form action="/rock" method="post">
  <input type="submit" value="ROCK!">
</form>
<form action="/paper" method="post">
  <input type="submit" value="PAPER!" action="/paper" method="post">
</form>
<form action="/scissors" method="post">
  <input type="submit" value="SCISSORS!" action="/scissors" method="post">
</form>
