<h1> Welcome <%=@player_name%> to your game of Rock, Paper, Scissors</h1>
<h1> Would you like to pick Rock, Paper, or Scissors? </h1>


<!-- <div class="mainselection">
<select name="State" id="input7">
    <option></option>
    <option value="Alabama">Rock</option>
    ...
    <option value="Wisconsin">Paper</option>
    <option value="Wyoming">Scissors</option>
</select>
</div> -->
