<h1>Rock Paper Scissors!</h1>
<h3>Hi <%= @player_1_name %></h3>
<h4>To play, please enter Rock, Paper, or Scissors!</h4>

#<form action="/names" method="post">
<label for="game_entry">
  You choose:
<input type="text" name="game_entry">
</label>
<input type="submit" value="Submit">
</form>