Welcome <%=@name%>
<br>
Choose your move
<br>
<form action=/play method=post>
<input type ='submit' name='move' value='Rock'>
<input type ='submit' name='move' value='Paper'>
<input type ='submit' name='move' value='Scissors'>
</form>
