<h1> <%= @player_1 %> vs Computer </h1>

<form action='/result'>
  <select name = "Move">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value='SHOOT!'>
</form>
