<h1><%= @player_1_name %> vs <%= @player_2_name %></h1>
<p>Choose your weapon:</p>
<form action="/weapon" method="post">
  <button class="weapon" type="submit" name="rock">Rock</button>
  <button class="weapon" type="submit" name="paper">Paper</button>
  <button class="weapon" type="submit" name="scissors">Scissors</button>
</form>
