Welcome to the game, <%= @player_name %>

Please choose which hand you would like to play.
<form action="/hand">
  <input type="submit" value="Rock">
</form>

<form action="/hand">
  <input type="submit" value="Paper">
</form>


<form action="/hand">
  <input type="submit" value="Scissors">
</form>
