<font face="courier" color="blue">
  <h1 align="center" >Rock Paper Scissors Game</h1>
    <h2 align="center" >The computer vs. <%= @game.player.name %></h2>

    <form action="/rock" method="post">
      <input type="submit" name="user_move" value="Rock"/>
    </form>
    <form action="/paper" method="post">
      <input type="submit" name="user_move" value="Paper"/>
    </form>
    <form action="/scissors" method="post">
      <input type="submit" name="user_move" value="Scissors"/>
    </form>
  </font>
