Ok! <%= @player %>, choose your weapon: <br>
<br>
<form action="/result">
  <input type="radio" value="Rock">
  <input type="radio" value="Paper">
  <input type="radio" value="Scissors">
</form>

<%# Options:
Pick Rock, paper, or scissors %>

@player.play(result)
