So <%= @player_name %>, you think you've got what it take to beat me!

Let's see it!

<form action="/battle" method="post">
  <input type="submit" name="selection" value="Rock">
    <input type="submit" name="selection" value="Paper">
      <input type="submit" name="selection" value="Scissors">
    </form>
