<%= "please enter rock, paper or scissors" if @user_error %>
Player 1: <%=@player_one %>
<form action="/play_game" method="post">
Enter Move<br>
<select name="move">
  <option value="rock">rock</option>
  <option value="paper">paper</option>
  <option value="scissors">scissors</option>
</select>
<input type="submit" value="play">
<br>