<%= @game.player1.name.capitalize %>

<h1>Choose:</h1>

<form action="/outcome" method="GET">
	<input type="submit" name="choice" value="scissors">
	<input type="submit" name="choice" value="paper">
	<input type="submit" name="choice" value="rock">
</form>