<%=@game.player.name%> - time to take your turn
<form action='/result' method='post'>
  <input type="radio" name="radios1" id="rock" value="rock">rock
  <input type="radio" name="radios1" id="paper" value="paper">paper
  <input type="radio" name="radios1" id="scissors" value="scissors">scissors
  <input type='submit' value='Confirm!'>
</form>
