<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <body>

    <h1> <%= @turn.player_name %>, welcome to the ROCK, PAPER, SCISSORS! </h1>
    <h2> DO: <h2>

    <form action="/play" method="post">
      <input type="submit" name="player_choice" value="Rock!">
      <input type="submit" name="player_choice" value="Paper!">
      <input type="submit" name="player_choice" value="Scissors!">
    </form>

    <p> You chose <%= @turn.player_choice.to_s.capitalize %> </p>

    <div id="computer">
      Computer chose <%= @turn.computer_choice.to_s.capitalize %>!
    </div>!


  </body>
</html>
