<h2><%= @player.name %> vs. Computer</h2>

<form method= "POST" action='/play'>
  <input type='submit' name='shape' value='Rock'>
  <input type='submit' name='shape' value='Paper'>
  <input type='submit' name='shape' value='Scissors'>
</form>

<p>You threw: <%= @choice %></p>
<p>Computer threw: <%= @computer_choice.to_s.capitalize %></p>
