<html>
<body style="text-align:center; font-family: monaco; color: white; background-color: #804000">
  <p>Welcome <%=@user%>, ready to battle?</p>
<p>
  <form action="/weapon" method="post">
    <input type="image" name="choice" value='rock' src="/images/rock.jpg" width="110"  height="50" alt='Rock'>
    <input type="image" name="choice" value="paper" src="/images/paper.jpg" width="110"  height="50" alt='Paper'>
    <input type="image" name="choice" value="scissors"src="/images/scissors.jpg" width="110"  height="50" alt='Scissors'>
    <button type="submit" name="choice" value="lizard">Lizard</button>
    <button type="submit" name="choice" value="spock">Spock</button>
  </form>

  <p>
  <body>
</html>
