
<!DOCTYPE html>
<html>
<%= @player_1.name %>
<head>
<link rel=”stylesheet” type=”text/css” href=”/css/style.css” />
</head>

<form method="post" action="/decision">
<div class="rock">
<INPUT type="submit" name="player_choice" value="rock">
</div>
<div class="paper">
<INPUT type="submit" name="player_choice" value="paper">
</div>
<div class="scissors">
<INPUT type="submit" name="player_choice" value="scissors">
</div>
</form>
