<h1><%= @game.player_1.name %> vs <%= @game.player_2.name %></h1>
<h2>Choose either rock, paper or scissors!</>


<form action='/move' method="POST">
<h3><%= @game.player_1.name %> move: </h3>
  <input type='text' name='player_1_move'>
  <br>
  <h3><%= @game.player_2.name %> move: </h3>
  <input type='text' name='player_2_move'>
  <br></br>
  <input type="submit" value="GO!">
</form>

