<!DOCKTYPE  html>
<html>
<head>
  <title> Register to start the battle </title>
</head>
<body style="text-align: center">
  <h1>Nice to see you</h1>
  <h1>welcome to the game: <%=@player%></h1>
</body>
</html>
