<h1><%= @game.player.name %>, choose your weapon...</h1>
<form action="/battle" method="post">
  <input type="radio" name="weapon" value="rock"  id='rock'>Rock<br>
  <input type="radio" name="weapon" value="paper" id='paper'>Paper<br>
  <input type="radio" name="weapon" value="scissors" id='scissors'>Scissors<br>
  <input type="submit" class="btn"  value="Let's go!">
</form>
