<h2>Hello <%= @player_1_name %>!</h2>
<p>Lets do this!</p>
<p>Choose your weapon: Rock, Paper or Scissors!</p>
<form action = '/choice' method='post'>
  <input id='Rock' type='radio' name='choice' value='Rock'> Rock
  <input id='Paper' type='radio' name='choice' value='Paper'> Paper
  <input id='Scissors' type='radio' name='choice' value='Scissors'> Scissors<br>
  <button type="submit">Submit</button>
</form>
