<div>
  <%= @player_1_name %> dares to challenge the AI!
<br>
  <a href="/weapons"><button>Select Weapon of Choice</button></a>
</div>

<style>

div {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  text-align: center;
}

</style>
