<div class='row'>
    <div class='col-sm'></div>
    <div class='col-sm'><div class='player_name'><%= @player_name %></div></div>
    <div class='col-sm'><div class='vs_sign'>VS</div></div>
    <div class='col-sm'><div class='player_name'><%= @opponent_name %></div></div>
    <div class='col-sm'></div>
</div>
<span class="buffer"></span>
<%= erb :result %>
<span class="buffer"></span>
<%= erb :buttons %>