<h1> <%= @player_name %>! Select your move </h1>

<form action="/result" method="post">
  <input type="submit" name="player_move" value="Rock">
  <input type="submit" name="player_move" value="Paper">
  <input type="submit" name="player_move" value="Scissors">
</form>