<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Sarpanch|" rel="stylesheet">
</head>

<body>

<h1><%= @game.player.name%> vs Computer!!</h1>

<h2>Pick your poison...</h2>

<form action="/options" method="post">
  <input type="image" src="rock.png" value="rock" name="choice">
  <input type="image" src="paper.png" value="paper" name="choice">
  <input type="image" src="scissors.png" value="scissors" name="choice">
</form>

</body>
