<div style="text-align: center">
  <h1><%= @player.name %> playing Rock Paper Scissors.</h1>
  <form action='/move' method='post'>
    <input type='submit' name='move' value='rock'>
    <input type='submit' name='move' value='paper'>
    <input type='submit' name='move' value='scissors'>
  </form>
</div>
