<h1> Welcome <%= @game.player.name %>, please select a move!</h1>

<form action="/result" method="get">
  <select name="move">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  <input type="submit" value="Submit">
</form>
