Welcome <%= @player %>, please choose an option <br><br>

<button type="button" name="button" value="rock">Rock</button>
<br><br>
<button type="button" name="button" value="paper">Rock</button>
<br><br>
<button type="button" name="button" value="scissor">Rock</button>
<br><br>
