

<h1>CHOOSE WISELY</h1>
<form action="/selection" method="post">
	<button type="submit" name="selection" value="Steve Irwin" class="steve-irwin">
		<img src="http://southparkstudios.mtvnimages.com/images/shows/south-park/clip-thumbnails/season-2/0218/south-park-s02e18c11-the-ice-man-hunter-16x9.jpg" alt="Steve Irwin" role="Choose Steve Irwin" height="200px" width="300px">
	 </button>
	<button type="submit" name="selection" value="Stingray" class="stingray">
		<img src="http://resources3.news.com.au/images/2013/09/04/1226710/135799-stingray-and-generic.jpg" alt="Stingray" role="Choose stingray" height="200px" width="300px">
	</button>
	<button type="submit" name="selection" value="Crocodile"  class="crocodile">
		<img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Crocodile_Crocodylus-porosus_amk2.jpg" alt="Crocodile" role="Choose crocodile" height="200px" width="300px">
	</button>
</form>


