<body style="background-color:#ffe7a3">
<div align="center">
<h1><%= @player %></h1> <br>
<h2> Select your option </h2>


<button type="button">Rock</button>      
<button type="button">Paper</button>       
<button type="button">Scissors</button>  

</div>
</body>