<h1>Welcome <%= @name %></h1>

<h2>Please select one of the following options:</h2>

<form action="/winner" method="post">
	<button name="player_move" type="submit" value="Rock">Rock</button>
	<button name="player_move" type="submit" value="Paper">Paper</button>
	<button name="player_move" type="submit" value="Scissors">Scissors</button>
	</form>
