<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cutive+Mono|Dawning+of+a+New+Day|Gaegu|Nanum+Brush+Script|Quicksand|Sacramento&display=swap" rel="stylesheet">


<h1 class="title"> Let's play <%= @name.capitalize %>! </h1>
<!-- <h2> Feeling lucky? </h2> -->

<img class="player-choice"src="images/background.jpg" alt="rockpaperscissor-img">

<a class="rock-link" name="rock" href="/rock">Rock</a>
<a class="paper-link" name="paper" href="/paper">Paper</a>
<a class="scissor-link" name="scissors" href="/scissor">Scissors</a>

<!--
<input type="submit" id="rock_image" name="Rock!" alt="scissor_image" value="">
<input type="submit" id="scissor_image" name="Scissor!" alt="scissor_image" value="">
<input type="submit" id="paper_image" name="Paper!" alt="scissor_image" value="">

<form action="/rock" method="post">
  <input type="image" class="game-selection" name="Rock!" alt="Submit"  width="48" height="48">
</form>



  <input type="image" class="game-selection" src="images/paper.png" alt="Submit"  width="48" height="48">
  <input type="image" class="game-selection" src="images/scissors.png" alt="Submit"  width="48" height="48">


<a class="play-link" name="rock" href="/rock">Play!</a> -->


<!-- https://img.icons8.com/doodle/48/000000/paper-plane--v1.png

<!-- #each links to new page?
#or same page- ?


#random  -->

<!-- <head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- ExternalStyleSheet -->
  <!-- <link rel="stylesheet" href="css/styles2.css">
</head>
<!-- <button type="button" class="btn btn-lg btn-outline-dark btn-block">Rock!</button>
<button type="button" class="btn btn-lg btn-outline-dark btn-block">Paper!</button>
<button type="button" class="btn btn-lg btn-outline-dark btn-block">Scissors!</button> -->

<!-- <i class="button-store fas fa-check-circle fa-3x">Click me~</i> -->
