<h1>Player: <%= @game.players[0].name %></h1>
<h1>Player 2: <%= @game.players[1].name %></h1>

<form class="" action="/choose" method="post">
  <input type="hidden" name="choice" value="rock">
  <input type="submit" name="rock" value="rock">
</form>

<form class="" action="/choose" method="post">
  <input type="hidden" name="choice" value="paper">
  <input type="submit" name="paper" value="paper">
</form>

<form class="" action="/choose" method="post">
  <input type="hidden" name="choice" value="scissors">
  <input type="submit" name="scissors" value="scissors">
</form>
