<p> Ok, <%= @game.player_2.name %>, it's your turn...</p>

<form action='/player_2_move' method='post'>
<input type="submit" name="Choice" value="Rock">
</form>

<form action='/player_2_move' method='post'>
<input type="submit" name="Choice" value="Paper">
</form>

<form action='/player_2_move' method='post'>
<input type="submit" name="Choice" value="Scissors">
</form>
