<%=@name1 %> has joined and is ready.  <br><br>

<! name is select name = "first_move">

<form action="/moves" method="post"">
      <label for="move1"><%=@name1 %>'s Move</label>
      <select name="first_move" id="move1">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissor">Scissor</option>
      </select>
      <input type="submit" value="Submit" />
</form>