<html>
<body>
  <h2 align = "center"><%=@player1.name%> Vs. <%=@player2.name%><h2>

    <br> Select a weapon</br>
    <form action="/play" method = "POST">
      <input type = "radio" name = "weapon" value = "rock">Rock
      <input type = "radio" name = "weapon" value = "paper">Paper
      <input type = "radio" name = "weapon" value = "scissors">Scissors
      <button type = "submit">Play</button>
    </form>
  <br >  <%= @play_result_confirmation%> </br>
</body>

</html>
