<h1><%=@game.player.name%> vs. Computer</h1>

<h3>What will you pick?</h3>

<form action="/choice" method="POST">
  <input type="submit" name="choice" value="Rock">
</form>
<form action="/choice" method="POST">
  <input type="submit" name="choice" value="Paper">
</form>
<form action="/choice" method="POST">
  <input type="submit" name="choice" value="Scissors">
</form>
