<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPS Game</title>
  </head>
  <body>
    <h1><%= @player.name %></h1>

    <div>
      <form method="post" action="/play">
        <p>Select a shape to play:</p>
        Rock <input type="submit" name="choice" value="Rock">
        Paper <input type="submit" name="choice" value="Paper">
        Scissors <input type="submit" name="choice" value="Scissors">
      </form>
    </div>

    <% if @player.choice != nil %>
    <div>
      <p>You have selected <%= @player.choice.to_s.capitalize %>!</p>
    </div>
    <div>
      <p>The computer had selected <%= @computer_choice.to_s.capitalize %>!</p>
    </div>
    <% end %>

  </body>
</html>
