<h1> <div style='color: red'><%= @player1_name %></div> vs. <%= @player2_name %> </h1>
<h2> --- ready to play? ---- </h2>

<p><div style='color: red'><%= @player1_name %></div></p><p>Chose your weapon of choice:</p>

<form action='/play' method ='POST'>
  <fieldset id='choice'>
    <input type='submit' name='choice' id='Rock1' value ='Rock'/>
    <input type='submit' name='choice' id= 'Scissors1' value ='Scissors'/>
    <input type='submit' name='choice' id='Paper1' value ='Paper'/>
  </fieldset>
</form>
