<body style="background-color: #90c9bf; text-shadow: 2px 2px 3px rgba(0,0,0,.2); font-size: 18px; color: #ffcc00">
  <h1> Welcome, <%= @player_1 %></h1>
  <h2>What's your move?</h2>
  <a href="https://www.rock-paper-scissors-game.com/i/rock.png">
  <img src="https://www.rock-paper-scissors-game.com/i/rock.png" height="200" width="150" style="float:left">
  </a>
  <a href="https://www.rock-paper-scissors-game.com/i/paper.png">
  <img src="https://www.rock-paper-scissors-game.com/i/paper.png" height="200" width="150" style="float:centre">
  </a>
  <a href="https://www.rock-paper-scissors-game.com/i/scissors.png">
  <img src="https://www.rock-paper-scissors-game.com/i/scissors.png" height="200" width="150" style=”float:right”>
  </a>
</body>
</a>

