<h1>Welcome to the jungle <%= @name %>!</h1>
<p>Boy have we got a brown cow stunning game for you</p>

<h2>Make your choice:</h2>
<form action="/move" method="post">
    <input type="submit" value="rock" name="player_move">
    <input type="submit" value="paper" name="player_move">
    <input type="submit" value="scissors" name="player_move">
</form>
