<h1><%= @player_1_name %> vs <%= @player_2_name %></h1>

<h2>Options:</h2>

<form action="/choice" method="post">
    <input type="submit" value="Rock" name="Rock"/>
    <input type="submit" value="Paper" name="Paper"/>
    <input type="submit" value="Scissors" name="Scissor"/>
</form>
