<link rel="stylesheet" href="css/styles.css">
<div class="container">
  <h1>Welcome, <%= @player1.name %></h1>
  <br>
  Choose your weapon:
  <br>
  <a href="/result?weapon=rock"><button class="weapon-button"><img alt="Rock" src="/images/rock.jpg"></button></a>
  <a href="/result?weapon=paper"><button class="weapon-button"><img alt="Paper" src="/images/paper_fn.jpg"></button></a>
  <a href="/result?weapon=scissors"><button class="weapon-button"><img alt="Scissors" src="/images/scissors.png"></button></a>
</div>
