<!DOCTYPE html>
Welcome to Rock, Paper, Scissors <%= @name %>!
<form class="" action="/result" method="post">
  <input type="submit" name="" value="Rock">
  <input type="submit" name="" value="Paper">
  <input type="submit" name="" value="Scissors">
</form>
