<h1> Choose one: Rock, Paper, Scissors</h1>
<form action="/game" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>





