<body style="background-color:powderblue;">
<center>
<br>
<h2 style='font-family:helvetica,sans-serif;color:white'>What is your selection, <%= @name %>?</h2>

<form action='/pick' method='post' name='pick'>
  <select name='pick'>
    <option value='rock'>Rock</option>
    <option value='paper'>Paper</option>
    <option value='scissors'>Scissors</option>
  </select>
  <input type='submit' value='Submit'/>
</form>
</center>
</body>
