<h2>Game On!</h2>

<%= @player_name %> vs. The Dark Web o.0

<h3> Select your weapon of choice... </h3>

<form action="/selection" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
