<%= @player %> vs. Computer

<form action='/rock' method='get'>
  <input type='submit' value='Rock'>
</form>
<form action='/paper' method='get'>
  <input type='submit' value='Paper'>
</form>
<form action='/scissors' method='get'>
  <input type='submit' value='Scissors'>
</form>
