<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      background-color: #add8e6;
    }
  </style>
  </head>
  <h1> Are you ready to play <%= @name %> ... </h1>
  <h3> <%= @name %> vs Computer </h3>
  <h4> Select something to play with : </h4>
  <img width='150px' src='https://res.cloudinary.com/itsellej/image/upload/v1533400140/rock-paper-scissors/rock.png'>
  <a href= '/rock'> Rock </a><br>
  <img width='150px' src='https://res.cloudinary.com/itsellej/image/upload/v1533400144/rock-paper-scissors/scissors.png'>
  <a href= '/scissors'>Scissors </a><br>
  <img width='150px' src='https://res.cloudinary.com/itsellej/image/upload/v1533400143/rock-paper-scissors/paper.png'>
  <a href= '/paper'>Paper </a>
</html>
