<h1 style="text-align: center;"><%= @player_1%> vs Computer</h1>
<p style="text-align: center;" >Choose your weapon:</p>
<div style="text-align: center;">
  <button>Rock</button>
  <button>Paper</button>
  <button>Scissors</button>
</div>
