<div>
  <%= @player_name %> vs. Machine
</div>

 <br>

 <div>
  <%= @player_name %> choose your weapon...
</div>

<br>

<form action="/play" method="post">
  <input type="submit" name="player_weapon" value="Rock"/>
  <input type="submit" name="player_weapon" value="Paper"/>
  <input type="submit" name="player_weapon" value="Scissors"/>
</form>

<div>
  You chose <%= @player_weapon %> and the computer chose <%= @computer_weapon.to_s %>
</div>