<h1>
  <%=@game.player_1.name%> vs. <%=@game.player_2.name%>
</h1>

<form action="/player_1_choice" method="post">
  <input type="submit" value="Rock" name="commit">
  <input type="submit" value="Paper" name="commit">
  <input type="submit" value="Scissors" name="commit">
</form>