<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Rock, Paper, Scissors</title>
  </head>

  <body>
    <h1>Make your choice, <%=@game.current_turn.name%>.</h1>
    <form action='/calculate_multiplayer_results' method='post'>
      <input type='submit', name ='choice', value='Rock'>
      <input type='submit', name='choice', value='Paper'>
      <input type='submit', name='choice', value='Scissors'>
    </form>
  </body>
</html>