<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="form">
      <form action="/play_two" method="post">
        <label for="name">Enter your name player two:</label>
        <input type="text" name="player_two[name]" required><br>
        <label for="rps">Choose your weapon!</label>
        <select name="player_two[rps]" required>
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select><br>
        <input type="hidden" name="player_one" value="">
        <input type="submit" value="Submit">
      </form>
      <%= @player_one %>
    </div>
  </body>
</html>
