<h1><%= "#{@game.player_1.name} vs The Great Cthulhu" %></h1>
<br>
<%= "#{@game.player_1.name}, what is your weapon of choice?" %>
<br>
<form action="/name" method="post">
  <input type="submit" value="Rock">
</form>
<form action="/name" method="post">
  <input type="submit" value="Paper">
</form>
<form action="/name" method="post">
  <input type="submit" value="Scissors">
</form>
