<h1> Welcome <%= @game.player.name %>! </h1>
<br>
<h2> You have chosen ROCK! </h2>

<br>

<form action="/result" method="get">
  <input type="submit" value="ROCK!">
</form>
<form action="/result" method="get">
  <input type="submit" value="PAPER!">
</form>
<form action="/result" method="get">
  <input type="submit" value="SCISSORS!">
</form>
