<h2>When you are ready, please submit your choice, paper, scissors or rock?!</h2>

<form action="/result" method="post">
  <input type="text" name="player_input">
  <input type="submit" value="Submit">
</form>

