
<h1> <%= @player_name %> is playing!!!</h1>

<br>

<table style="width: 4%;" border = "4"cellpadding = "1">
	<tr>
		<th colspan="3"><h2>Game Options</h2></th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><p><img src="/images/rock.JPG"/></p></td>
		<td><p><img src="/images/paper.JPG"/></p></td>
    <td><p><img src="/images/scissor.JPG"/></p></td>
	</tr>
	<tr>
  <td><h3><a href='/rock'>Rock</a></h3></td>
  <td><h3><a href='/paper'>Paper</a></h3></td>
  <td><h3><a href='/scissors'>Scissor</a></h3></td>
	</tr>
</tbody>
</table>