<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" href="styles.css">
    </head
    
    <body>



<h1> <%= @player_name %> VS Mac!</h1>

<h2> Choose your weapon! <h2>


<form action="/outcome" method="post">
  <input name="player_choice" type="submit" value="Rock">
</form>

<form action="/outcome" method="post">
  <input name="player_choice" type="submit" value="Paper">
</form>

<form action="/outcome" method="post">
  <input name="player_choice" type="submit" value="Scissors">
</form>
</body>
</html>

