<h1> <%= @player_name %> is ready to play Rock, Paper, Scissors! </h1>
<br>
<form action="/outcome" method="post">
Please choose rock, paper or scissors:
<br>
<input type="text" name="choice">
<input type="submit" value="GO!">
</form>