Hello, <%= @name %>

<form  action="/play" method="post">
  <input type="submit" name="Move" value="Rock">
  <input type="submit" name="Move" value="Paper">
  <input type="submit" name="Move" value="Scissors">
</form>
