<%= @player.name %> vs. Computer
<br>
<form action="/choice" method="post">
  <input name="choice" type="submit" value="Rock">
  <input name="choice" type="submit" value="Paper">
  <input name="choice" type="submit" value="Scissors">
</form>
