<h2>Welcome <%=@player%>, prepare yourself for the game of your life!<h2>
<h3>Which do you choose?<h3>
<form action='/player_choice' method='POST'>
  <input type='submit' name="choice" value="Rock">
  <input type='submit' name="choice" value="Paper">
  <input type='submit' name="choice" value="Scissors">
</form>

<% if @choice %>
  You chose <%= @choice %>!
  <form action='/end_game'>
    <input type='submit' value='Confirm'>
  </form>
<% end %>


<!-- # <% if @choice %>
#   PC chose <%= [:Rock, :Paper, :Scissors].sample %>
# <% end %> -->
