<br></br><br></br>
<table align = "center">
    <tr>
  	  <td align = "center">
  	    <img id = "rock" src = "http://cdn1.sciencefiction.com/wp-content/uploads/2013/06/The-Rock-wwe-champion-hd-wallpapers.jpg.jpeg" height = "300">
  	  </td>
	    <td align = "center">
        <img id = "paper" src = "http://assets.marthastewart.com/styles/wmax-1500/d19/ft_halloween00mummy/ft_halloween00mummy_sq.jpg?itok=6IzHSQ7x" height = "300">
      </td>
   </tr>
</table>

<style>

html {
  background: url(http://www.thealarmco.co.uk/wp-content/uploads/2014/10/FIRE-2-GENERIC.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>
