<body bgcolor="#010101">

<p style="color: #E2F3C5; font-size: 100px; text-align: center; font-family: monaco;"><%= @player_name %> vs Bert </p>


<form action="/" method="get">

<p> <input type="submit" style="position: absolute; bottom: 30px; left: 430px; padding: 30px; color: #010101; font-size: 40px; border-radius: 50px; background-color: #A4FA03;" value="RAWK"></p>

<p> <input type="submit" style="position: absolute; bottom: 30px; left: 1060px; padding: 30px; color: #010101; font-size: 40px; border-radius: 50px; background-color: #A4FA03;" value="PAYPAH"></p>

<p> <input type="submit" style="position: absolute; bottom: 30px; left: 700px; padding: 30px; color: #010101; font-size: 40px; border-radius: 50px; background-color: #A4FA03;" value="SKIZZORS"></p>
</form>
