<h1>Choose Rock, Paper or Scissors <%= @player %></h1>
<div>
  <form action='/RSP-choice' method="post">
    <input type="submit" name="Rock" value="Rock">
    <input type="submit" name="Paper" value="Paper">
    <input type="submit" name="Scissors" value="Scissors">
  </form>
</div>
