<h1> Rock Paper Scissors </h1>

<p> let's play! </p>


<form action="/attack" method="post">
  <input type="submit" name="weapon" value="rock">
  <input type="submit" name="weapon" value="paper">
  <input type="submit" name="weapon" value="scissors">
</form>
