<p><%= @game.player.name %>, make your choice!</p>
<p>and Good Luck</p>
  <form method="POST" action="/result">
    <input class="button" type="submit" value="paper" name="weapon">
    <input class="button" type="submit" value="scissors" name="weapon">
    <input class="button" type="submit" value="rock" name="weapon">
  </form>
