
<h1><%= @game.player1.name %> VS <%= @game.player2.name %></h1>

<form action="/player1_move" method="post">
<div>
  <label for="Rock">Rock</label>
  <input type="radio" name="move" value="Rock">
  <label for="Paper">Paper</label>
  <input type="radio" name="move" value="Paper">
  <label for="Scissor">Scissor</label>
  <input type="radio" name="move" value="Scissors">
  <button type="submit" value="submit"><%= @game.player1.name %>'s move</button>
</div>
</form>

<% if @game_mode == 'multiplayer' && !@game.player2.move %>
<form action="/player2_move" method="post">
<div>
  <label for="Rock">Rock</label>
  <input type="radio" name="move" value="Rock">
  <label for="Paper">Paper</label>
  <input type="radio" name="move" value="Paper">
  <label for="Scissor">Scissor</label>
  <input type="radio" name="move" value="Scissors">
  <button type="submit" value="submit"><%= @game.player2.name %>'s move</button>
</div>
</form>
<% end %>
