<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <title>Register</title>
  </head>
  <body style="background-color: #333;">
    <br>
    <br>
    <br>
    <section class="col-md-6 mx-auto card">
      <br>
      <div>
        <h1>Welcome <%= @player %> </h1>
        <p>Please select rock, paper or scissors</p>
      </div>
      <form action="/play" method="post">
      <div class="form-group">
      <select name="rock_paper_scissors" class="form-control">
        <option value="1">Rock</option>
        <option value="2">Paper</option>
        <option value="3">Scissors</option>
      </select>
    </div>
      <br>
      <input type="submit" value="Play" class="btn btn-outline-primary btn-block">
      <br>
      </form>
    </section>
  </body>
</html>
