<center>
<h1> OTHER PLAYER COVER YOUR EYES OR YOU ARE A CHEAT </h1>

  <h2> <%= @game.player_2.name %>!! CLICK ROCK, PAPER OR SCISSORS TO BATTLE </h2>

  <form action = "/moves">
    <button name="move2" type='submit' value="rock">Rock</button>
    <button name="move2" type='submit' value="paper">Paper</button>
    <button name="move2" type='submit' value="scissors">Scissors</button>
  </form>


</center>


















<style>
      body {
        -webkit-animation: colorchange 20s infinite;
        animation: colorchange 20s infinite;
      }
      @-webkit-keyframes colorchange {
        0% {
          background: #8ebf42;
        }
        25% {
          background: #e6ebef;
        }
        50% {
          background: #1c87c9;
        }
        75% {
          background: #095484;
        }
        100% {
          background: #d0e2bc;
        }
      }
      @keyframes colorchange {
        0% {
          background: #8ebf42;
        }
        25% {
          background: #e6ebef;
        }
        50% {
          background: #1c87c9;
        }
        75% {
          background: #095484;
        }
        100% {
          background: #d0e2bc;
        }
      }
    </style>
