<form action="/choice" method="post">

  <h2>
    <% if @game.players.size == 1 %>
      <input type="hidden" name="player_id" value="0">
      <%= @game.player1.name %>, please choose:
      <% elsif @game.players.size == 2 %>
        <input type="hidden" name="player_id" value="1">
        <%= @game.player2.name %>, please choose:
      <% end %>
    </h2>

    <input type="radio" id="Rock" name="choice" value="Rock">
    <label>Rock</label>
    <br>
    <input type="radio" id="Paper" name="choice" value="Paper">
    <label>Paper</label>
    <br>
    <input type="radio" id="Scissors" name="choice" value="Scissors">
    <label>Scissors</label>
    <br>
    <input type="submit" value="Submit">
  </form>
