<style>
  body {
    text-align: center;
    font-family: "Arial";
    background-color: Turquoise ;
    color: SlateBlue;
    font-size: 20px;
  }
  h1 {
    font-size: 50px;
    margin-top: 50px;
    color: Tomato;
  }
  button {
    font-size: 25px;
    padding: 14px 40px;
    background-color: SlateBlue;
    color: white;
  }
</style>

<h1><%=@player%>, let's start the game!</h1>

<h2>Choose:</h2>
<form action="/game">
<button type="submit" name="choice" value="ROCK">ROCK</button>
<button type="submit" name="choice" value="PAPER">PAPER</button>
<button type="submit" name="choice" value="SCISSORS">SCISSORS</button>
</form>
