<div class="container" style="text-align: center">
  <h2>
    Choose your weapon <%= @name %>:
  </h2
  <div class="weapon" style="text-align: justify">
    <h3>Rock</h3>
    <h3>Paper</h3>
    <h3>Scissors</h3>
  </div>
</div>
