<h2> <%= @player_1_name %> is ready to play! </h2>

<form action="/move" method="post">
	<label for="player_1_move">
		Rock, Paper or Scissors?
		<input type="test" name="player_1_move">
		<input type="submit" value="Submit">
	</label>
</form>
<!--
<h2> <%= @player_2_name %> is ready to play! </h2>
-->