<%= @player_1_name %>

<form action="/player1_choice" method="post">
  <label for="player1_choice">Enter Rock, Paper or Scissors
    <input type="text" name="player1_choice">
  </label>
  <input type="submit" value="Submit">
</form>
