<div style="text-align: center;"><%= @game.player_1.name %> vs. <%= @game.player_2.name %></div>
<h1><div style="text-align: center;"> Make your choice, <%= @game.player_1.name%></div></h1>
<!-- <form action="/play_player2"> -->
<form action="/change_player">
<div style="text-align: center;">
  <button name="choice" value="rock"><img src="/images/rock.png" alt="rock" style="width:276px;height:163px;"></button>
  <button name="choice" value="paper"><img src="/images/paper.png" alt="paper" style="width:276px;height:163px;"></button>
  <button name="choice" value="scissors"><img src="/images/scissors.png" alt="scissors" style="width:276px;height:163px;"></button>
</div>
</form>
