<%= @name %> vs. Bot

<form method="post" action="/play">
  <input type="submit" name="choice" value="Rock" />
  <input type="submit" name="choice" value="Paper" />
  <input type="submit" name="choice" value="Scissors" />
</form>

You chose <%= @choice %>!

# Need to use an ID so capybara can find the bot choice
<div ID="bot">
  Bot chooses Paper<%= @bot_choice %>!
</div>
