<a href="/game?choice=rock" id="Rock">
<img class="rock" src="/images/rock.png" alt="Rock">
</a><br>

<a href="/game?choice=paper" id="Paper">
<img class="paper" src="/images/paper.png" alt="Paper">
</a><br>

<a href="/game?choice=scissors" id="Scissors">
<img class="scissors" src="/images/scissors.png" alt="Scissors">
</a>
