<h1>I hope you're prepared, <%= @name %></h1>
<h3>Select your weapon</h3>

<form class="weapons" action="/play" method="post">
  <input type="submit" name="action" value="Rock">
  <input type="submit" name="action" value="Paper">
  <input type="submit" name="action" value="Scissors">
</form>
