<!DOCTYPE html>
<html>
<head>
  <title>Play Rock, Paper, Scissors</title>
</head>

<body>
	<h2>Your move, <%=@player_name%></h2>
<form action="/move" method="post">
  <p><button type="submit" name="move" value="rock">ROCK</button></p> 
  <p><button type="submit" name="move" value="paper">PAPER</button></p> 
  <p><button type="submit" name="move" value="scissors">SCISSORS</button></p> 
</form>
</body>