<p>
  <form action="/game-result" method="post">
    Please make your choice <%= @player_name %>.<br>
    <button type="submit" name="player_choice" value="rock">Rock!</button>
    <button type="submit" name="player_choice" value="paper">Paper!</button>
    <button type="submit" name="player_choice" value="scissors">Scissors!</button>
    <button type="submit" name="player_choice" value="lizard">Lizard!</button>
    <button type="submit" name="player_choice" value="spock">Spock!</button>
  </form>
</p>
