<body style="background-color:#FFDCB7; border: 3px solid black">
  <div style="text-align:center">
    <h1><%= @game.player_1.name %> vs. Computer </h1>
  </div>
  <form action="/attack" method="post">
      <input type="submit" value="Pinch">
    </div>
  </form>
</body>
