<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
form {text-align: center;}
</style>
</head>
<body>
<body style="background-color:lightpink;">
<h1>Welcome <%= @Player1 %>, you are Player 1</h1><p><p>

<p>Which move would you like to play?</p>

<form action='/move' method='post'>
<!-----------------
  <input type='submit' id='rock' name='rock' value='Rock'>
  <input type='submit' id='paper' value='Paper'>
  <input type='submit' id='scissors' value='Scissors'>
  ----------------->
  <input type="text" id="move1" name="move1"><br>
  <input type='submit' value='Submit'>
</form>
</body>
</html>