<%= @player_name %> vs Computer
<div>
<a href="/game?option=rock">Rock</a>
<a href="/game?option=paper">Paper</a>
<a href="/game?option=scissors">Scissors</a>
<a href="/game?option=spock">Spock</a>
<a href="/game?option=lizard">Lizard</a>
</div>
