<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors</title>
    <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->
  </head>

  <body>
    <h1 id='instructions'><%= @player_1 %> choose wisely</h1>

    <form action="/check" id='rock_button' method="post">
      <button type="submit" name="choice" value="rock">Rock</button>
    </form>
    <br>
    <form action="/check" id='paper_button' method="post">
      <button type="submit" name="choice" value="paper">Paper</button>
    </form>
    <br>
    <form action="/check" id='scissors_button' method="post">
      <button type="submit" name="choice" value="scissors">Scissors</button>
    </form>
  </body>
</html>
