<div>
  <p>The rules of the game:</p>


  <form action="/attack1">
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
  </form>

  </div>
