<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <style>
    body {
      background: azure;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Hi <%= @name %>!</h1>

  <form action='/play' method='POST'>
    <label>Enter your choice: </label>
    <input type='submit' name='choice' value='Rock'/>
    <input type='submit' name='choice' value='Scissors'/>
    <input type='submit' name='choice' value='Paper'/>
  </form>

  <h4>You chose: <%= @player_choice %></h4>
  <h4 class='computer_choice'>Computer chose:  <%= @computer_choice.to_s.capitalize%> </h4>

  You won!
  
</body>
</html>
