<p><%= @player_name %> vs. Computer</p>

<form action='/result' method='post'>
  <input type="radio" id='rock' name='choice' value="Rock">
  <label for='rock'>Rock</label><br>
  <input type="radio" id='paper' name='choice' value="Paper">
  <label for='paper'>Paper</label><br>
  <input type="radio" id='scissors' name='choice' value="Scissors">
  <label for='scissors'>Scissors</label><br>
  <input type="submit" value="Submit">
</form>
