<head>
</head>

<body>
<h1> Rock Paper Scissors Lizard Spock! </h1>
<% if session[:no_players] == 1 %>
<form method="post" action="/player_names">
  <p> Please enter your name to play. </p>
  <input type="text" name="player_name_1" value="Enter your name here"/><br>
  <input type="submit" value="Play!"/>
</form>
</body>
<% else %>
<form method="post" action="/player_names">
  <p> Player 1, please enter your name to play. </p>
  <input type="text" name="player_name_1" value="Enter your name here"/>
  <p> Player 2, please enter your name to play. </p>
  <input type="text" name="player_name_2" value="Enter your name here"/><br>
  <input type="submit" value="Play!"/>
</form>
<% end %>
