<h2>Game On!</h2>

<%= @player_name %> vs. The Dark Web o.0

<h3> Select your weapon of choice... </h3>

<form action="/selection" method="post">
  <button name="weapon" type="submit" value="Rock">Rock</<button>
  <button name="weapon" type="submit" value="Paper">Paper</<button>
  <button name="weapon" type="submit" value="Scissors">Scissors</<button>
</form>
