<b><%=@p1_name%></b> vs. <b><%=@player2.name%></b><br />

<form action="/result" method="post"> Choose Rock, Paper or Scissors:<br />
  <input type="submit" name="p1_choice_input" value="Rock" />
  <input type="submit" name="p1_choice_input" value="Paper" />
  <input type="submit" name="p1_choice_input" value="Scissors" />

</form>
