<h1><%=@round.player_1_name%> is ready to play</h1>
Make a choice: Rock, Paper or Scissors

<form action="/play" method="post">
    <input type='submit' name='shape' value='Rock' />
    <input type='submit' name='shape' value='Paper' />
    <input type='submit' name='shape' value='Scissors' />
</form>

You chose <%=@round.player_1_shape.to_s.capitalize %>

<div id="computer">
    Computer chose <%=@round.computer_shape%>
</div>