<h1>Welcome <%= @player_1.name %>!</h1>

<p>Please select either:</p>
<form action="/result" method="post">
<input id='rock' type="submit" value="rock">
<input id='paper' type="submit" value="paper">
<input id='scissors' type="submit" value="scissors">
</form>

