<head>
  <style>
  .gamestart {
    font-family: "Futura", serif;
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center; }

  .start {
    font-family: "Futura", serif;
    font-size: 15px;
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }

  </style>
</head>

<body>

  <div class="gamestart">
    <h2> Welcome <%= @player %>!</h2>
  </div>

  <div class="start">
    <h4> Are you ready to rumble? Pick your choice! </h4>
  </div>

</body>
