Player name <%=@player_name%>  vs Computer

<br> </br>
<form action = '/rock' method = "post">
  <input type = "submit" value = "Rock">
</form>
<br>
<form action = '/paper' method = "post">
  <input type = "submit" value = "Paper">
</form>
<br>
<form action = '/scissors' method = "post">
  <input type = "submit" value = "Scissors">
</form>
