<div style="text-align: center">
  <form action="/attack", method="post">
    <button name="move" value="rock" type="submit">Rock</button>
    <button name="move" value="paper" type="submit">Paper</button>
    <button name="move" value="scissors" type="submit">Scissors</button>
  </form>
</div>