<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Play</title>
  <link rel="stylesheet" href="css/master.css" type="text/css"/>
</head>
<body>
  <h1><%= "Hello #{@player.name}!"%></h1>
  <h2>To Play: choose Rock, Paper or Scissors!</h3>
  <form action="/decision" method="post" >
    <input type="submit" name="rock" value="Rock" class="round-button">
    <input type="submit" name="paper" value="Paper" class="round-button">
    <input type="submit" name="scissors" value="Scissors" class="round-button">
  </form>
</body>
</html>
