<h1 style='text-align:center'><%= "#{@game.player}" %> vs Computer!!</h1>
<form style='text-align:center' method='post' action='/movechoice'>
  <button type='submit' name='move' value='Rock'></button>Rock
  <button type='submit' name='move' value='Paper'></button>Paper
  <button type='submit' name='move' value='Scissors'></button>Scissors
</form>
