
<center>
<h1> Welcome <%=@game.player %> </h1>


<h1> Choose your weapon </h2>


   <a href="/play" method='POST'>Rock<img src='http://images.freeimages.com/images/premium/previews/3261/32613928-cartoon-large-rock.jpg' title="Rock" width="300" height="200" name='choice' value='Rock' /></a>

   <a href="/play" method='POST'>Paper<img src='http://images.all-free-download.com/images/graphiclarge/blank_white_paper_cartoon_clip_art_12090.jpg' title='Paper' width="300" height="200" name='choice' value='Paper'/></a>

   <a href="/play" method='POST'>Scissors<img src='http://www.clker.com/cliparts/d/b/d/6/11949839942140777322scissors.svg.med.png' title='Scisors' width="300" height="200" name='choice' value='Scissors'/></a>


<p> You chose <%=@game.player_choice%> </p>
<div id="computer">
 Computer chose  <%=@game.computer_choice%>
</div>

<% if @game.win? %>
You win!
<% elsif @game.lose? %>
You lose!
<% elsif @game.draw? %>
You draw!
<% end %>
</center>
