<head>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<center>
  <h1 class="header">
  <%= @game.player.name %> VS RPS
  </h1>
</center>

<center>
  <form action = "/choice" method = "post">
    <div>
      <button class="button" type='submit' name="choice" value='Rock'>Rock</button>
    </div>
    <div>
      <button class="button" type='submit' name="choice"  value='Paper'>Paper</button>
      &emsp;
      &emsp;
      &emsp;
      &emsp;
      <button class="button" type='submit' name="choice" value='Scissors'>Scissors</button>
    </div>
    &emsp;
    <div>
      <button class="button" type='submit' name="choice" value='Lizard'>Lizard</button>
      &emsp;
      <button class="button" type='submit' name="choice" value='Spock'>Spock</button>
    </div>
  </form>
</center>
