<h1> Player 1 is <%= @player1 %> </h1>

<form action="/attack" method="post"> 
<h2> Please choose your weapon:</h2>
  <select name="attack"> <option value="Rock">Rock</option>
<option value="Paper">Paper</option>
<option value="Scissors">Scissors</option>
  </select>
  <button type="submit">attack</button>
</form>
