<h2><%= $new_game.player_1.name.upcase %></h2>

<!-- decision made to use radio buttons for choices as they only allow for one selection and cannot be deselected. -->

<form action="/results" method="post">
  <p>CHOOSE YOUR WEAPON!
    <br />
    <input id="rock" class="radio" type="radio" name="weapon_select" value="rock" checked="checked"/> ROCK
    <input id="paper" class="radio" type="radio" name="weapon_select" value="paper"/> PAPER
    <input id="scissors" class="radio" type="radio" name="weapon_select" value="scissors"/> SCISSORS
  </p>
  <input type="submit" name="fight" value="FIGHT!"/>
</form>
