<h1>Play Rock Paper Scissors</h1>
<h4>It's <%= @player_1_name %> against <%= @player_2_name %>!</h4>
<body>
Please select an option:
<form action="/action" method="post">
  <input name="choice" type="submit" value="Rock">
  <input name="choice" type="submit" value="Paper">
  <input name="choice" type="submit" value="Scissors">
  </body>
