<%= @marketer_name_1 %> please select your option:
<br>
<br>
<form action='/choice' method="post">
  <input type="submit" value="Rock" name="choice">
  <input type="submit" value="Paper" name="choice">
  <input type="submit" value="Scissors" name="choice">
</form>



