<center><h1> Hello, <%= @player.name %>. Please select rock, paper or scissors:  </h1>

<form method='post' action="/result">
	<input type="submit" name="choice" value="scissors"/>
	<input type="submit" name="choice" value="rock"/>
	<input type="submit" name="choice" value="paper"/>
</form></center>
