<head>
  <link rel="stylesheet" href="/css/master.css">
</head>

<h1> <%= @game.player.name %> vs Machine </h1>

<form action="/result" method="post">
  <h3> Rock: <input type="radio" name="selection" id="rock" value="rock"> </h3>
  <h3> Paper: <input type="radio" name="selection" id="paper" value="paper"> </h3>
  <h3> Scissors: <input type="radio" name="selection" id="scissors" value="scissors"> </h3>
  <h3> Lizard: <input type="radio" name="selection" id="lizard" value="lizard"> </h3>
  <h3> Spock: <input type="radio" name="selection" id="spock" value="spock"> </h3>
  <h3> <input type="submit" value="Submit"> </h3>
</form>


<footer>
RPS-Challenge
</footer>
