<head>
  <title>Play Rock, paper, scissors!</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"
  type='text/css'>
  <link rel='stylesheet' href='style.css' media='screen' title='no title' charset='utf-8'>
</head>

<body class="play_page">
  <%= @player_1 %> vs. bot
  <br>
</body>
