<html>
  <div>Pick your weapon, <%=@game.player.name%>.</div>
  <body background="http://i.imgur.com/2HYkQon.jpg">
  <form method="POST" action="/result">
    <input type="text" name="selection" placeholder="rock/paper/scissors">
    <input type="submit" value="THROW!">
</html>
