<%= @player_1_name %> will start
<div class="start">
  <p>choose your weapon</p>
</div>
<div class="choices">
  <div class="choice" id="r">
    <img src="./rps-challenge/images/rock.png" alt="">
  </div>
  <div class="choice" id="p">
    <img src="./rps-challenge/images/paper.jpg" alt="">
  </div>
  <div class="choice" id="s">
    <img src="./rps-challenge/images/scissors.png" alt="">
  </div>
</div>
<a href="/rock">Rock</a>
<a href="/paper">Paper</a>
<a href="/scissors">Scissors</a>
