<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css"/>
<title>Rock Paper Scissors - Round 1</title>
</head>
<body>
<form action="/saveturn" method="post">
  <div class="grid-container-playgame">
  <div class="PlayHeading"><h1><%=@game.player1.name%>, it's your turn!</h1><h2>Pick your weapon</h2></div>

  <div class="ButtonChoice"><%@game.settings.weapon_list.each { |btn| %>
    <button class="<%=btn%>_btn" name="choice" type="submit" value="<%=btn.capitalize%>"></button>
<% } %><input type="hidden" name="round" value="1"></div>
  <div class="play_rules"></div>

</div>
</form>
<form action="/rules">
  <p>
    <center>
      <button type="submit" class="rules_btn" value="Rules" onclick="location.href='/rules';"></button>
    </center>
  </p>
</form>

</body></html>
