Welcome to the game <%=@game.player1_name%>

<form method= "POST" action="/play">
  <input type="submit" name="option" value="rock"/>
    <input type="submit" name="option" value="paper"/>
      <input type="submit" name="option" value="scissors"/>
</form>

<p>you chose <%= @game.option.to_s %></p>

<p>computer chose <%= @game.computer_option %></p>


<% if @game.winner? %>
you win!
<% elsif @game.lose? %>
better luck next time :(
<% elsif @game.draw? %>
its a draw
<% end %>
