<h1> <%= @game.player.name %> vs Computer </h1>

<form action='/result'>
  <input type='submit' value='Rock'>

</form>

<form action='/result'>
  <input type='submit' value='Paper'>

</form>

<form action='/result'>
  <input type='submit' value='Scissors'>

</form>
