<%= @name %><br></br>

<form action="/play" method="post">
  <input type="submit" name = "option" value="Rock" /><br></br>
  <input type="submit" name = "option" value="Paper" /><br></br>
  <input type="submit" name = "option" value="Scissors" /><br></br>
</form><br></br>

You chose <%= @option %><br></br>

<div id="computer">
  Computer chose <%= $computer_option.to_s.capitalize %>
</div><br></br>
