Your move, <%= @name %>.
<br>
<form action="/play" method="POST">
  Choose Rock, Paper, or Scissors:
  <input type="submit" name="Choice" value="Rock">
  <input type="submit" name="Choice" value="Paper">
  <input type="submit" name="Choice" value="Scissors">
</form>
