<h2>Pick a move: </h2>
<form action='/choice' method='post'>
  <input type="submit" name='player_choice' value="Rock">
</form>

<form action='/choice' method='post'>
  <input type="submit" name='player_choice' value="Paper">
</form>

<form action='/choice' method='post'>
  <input type="submit" name='player_choice' value="Scissors">
</form>

