<body style="background-color:darkgrey;font-family:helvetica;" >


<h1 style="color:white;text-align:center;"> Welcome to RPS <%= @player_1_name %>!</h1>
<h2 style="color:white;text-align:center;"> You have chosen to play the <%= @player_hand_side %> hand.</h2>
<h3 style="color:white;text-align:center;"> You are now registered and ready to start playing... </h3>

</body>
