<h1>R.P.S Game</h1>
<h2><%= @player_1 %> vs. CPU</h2>
Select your attack: <br>

<form action="attack">
  <input type="radio" name="choice" id="rock" value="rock"> Rock<br>
  <input type="radio" name="choice" id="paper" value="paper"> Paper<br>
  <input type="radio" name="choice" id="scissors" value="scissors"> Scissors<br>
  <input type="submit" value="Go!">
</form>
