<h1><%= @player_name %> vs. Computer</h1>

<h2>Choose either Rock, Paper Or Scissors.</h2>

<form action="/outcome" method="post">
  <select name="choice" size="3"> 
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissorts">Scissors</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
