<h1><%= $game.player_1.name %> vs. <%= $game.player_2.name %> </h1>

<h2>Make your pick!</h2>
<form action="/move" method="post">
  <input type="radio" name="player_1_move" value="Rock"/> Rock
  <input type="radio" name="player_1_move" value="Paper"/> Paper
  <input type="radio" name="player_1_move" value="Scissors"/> Scissors
  <input type="submit" value="Submit">
</form>