<h3>rock paper scissor</h3>
<form>
  <p>it's up to you:</p>
  <label for="rock">r  o  c  k</label>
  <input id="rock" name="rock" type="checkbox" value="rock">
  <br>
  <label for="paper">p  a  p  e  r</label>
  <input id="paper" name="paper" type="checkbox" value="paper">
  <br>
  <label for="scissor">s  c  i  s  s  o  r</label>
  <input id="scissor" name="scissor" type="checkbox" value="scissor">
  <br>
</form>
  <a href="/result">did you win or lose?</a>

