<h1> Hi, <%= @game.player %>, make your move... </h1> 

<form action="/attack" method="post">

  <input type="submit" value="rock" name="name">
  <input type="submit" value="paper" name="name">
  <input type="submit" value="scissors" name="name">

</form>
