Welcome, <%= @player_name %>
<form action='/battle' method='post'>
  <button name='player_choice' type='submit'>ROCK!</button>
  <input type="hidden" name="player_choice" value="rock" />
  </form>
<form action='/battle' method='post'>
  <button name='player_choice' type='submit'>PAPER!</button>
  <input type="hidden" name="player_choice" value="paper" />
  </form>
<form action='/battle' method='post'>
  <button name='player_choice' type='submit'>SCISSORS!</button>
  <input type="hidden" name="player_choice" value="scissors" />
  </form>
