<form action="/play" method="post">
    <h1> Enter your choice :() </h1>
    
    <button name="move" type="submit" value="Rock"> Rock </button>
    <button name="move" type="submit" value="Paper"> Paper </button>
    <button name="move" type="submit" value="Scissors"> Scissors </button>
</form>

