<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="../styles/play.css" />
    <link rel="stylesheet" href="../styles/site.css" />
  </head>
  <body>
    <h1>Hi, <%= @name%>!</h1>
  </body>
</html>
