Choose your weapon</>
<form action="/choice" method="POST">
  <button value="rock" name="weapon">ROCK</button>
  <button value="paper"name="weapon">PAPER</button>
  <button value="scissors" name="weapon">SCISSORS</button>
</form>
