<h1> Thank you for entering your name </h1>
<br>
Welcome <span style="text-transform:uppercase"><b><%= @player_1_name %></b> </span> let's play Rock, Paper, Scissors!
<br>
Rock, Paper, Scissors, Shoot! Please pick a button
<br>
<form action="/move" method="post">
<input type="submit" value="Rock">
</form>
<form action="/move" method="post">
<input type="submit" value="Paper">
</form>
<form action="/move" method="post">
<input type="submit" value="Scissors">
</form>