<h1>Welcome <%= @player_name %> </h1>

<form action="/weapon" method="post">
  <div class="row">
    <input type="submit" value="Rock" name="weapon">
    <input type="submit" value="Paper" name="weapon">
    <input type="submit" value="Scissors" name="weapon">
  </div>
</form>
