<!DOCTYPE html>
<html>

  <center>
  <h1><%= @player %></h1>
  <h1>vs.</h1>
  <h1>The Enemy</h1>

  <h2>Select a weapon to play</h2>

  <a href="/rock">ROCK</a>

  <a href="/paper">PAPER</a>

  <a href="/scissors">SCISSORS</a>

  </center>

</body>
</html>
