<h1> Welcome, <%=@player1%>!</h1>

<form action="/result" method="get">
<input type="submit" value="Rock!" style="width:400px;height:250px;""/>
</a>

<a href="/roshambo">
<img src="https://images-eu.ssl-images-amazon.com/images/I/61OorFhm6SL._SY355_.jpg" style="width:400;height:250px; border:thick dashed black"/>
</a>
