<center>
<h2>Hi, <%=@name%>. Rock, paper, scissors?</h2>
<form action='/attack' method='get'>
  <input type='submit' name='attack' value='Rock'><input type='submit' name='attack' value='Paper'><input type='submit' name='attack' value='Scissors'>
</form>
<form action='/' method='get'>
  <input type='submit' value='Home'>
</form>
