<h1>Welcome <strong style="color:#ffa500;"><%= @player_1 %></strong> to Rock/ Paper/ Scissors!</h1>
<h2>Pick one! </h2>
<!-- <form action="/result" method="post">
  <label for="option">Rock:
    <input type="radio" name="rock" value"1">
  </label>
  <label for="option">Paper:
    <input type="radio" name="paper" value"2">
  </label>
  <label for="option">Scissors:
    <input type="radio" name="scissors" value"3">
  </label>
  <br/>
  <br/>
  <input type="submit" value="Submit">
</form> -->

<!-- <form action="/result" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form> -->

<form action="/result" method="post">
  <select name="name">
    <option name="rock" value="rock">rock</option>
    <option name="paper" value="paper">paper</option>
    <option name="scissors" value="scissors">scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
