<p><%= @player_name%> chose: <%= @user_choice %> The Computer chose: <%= @computer_choice %></p>
<h3>You Win!!</h3>
<a href="/play">
  <button type="button" name="play-again">Play again</button>
</a>
