<h1> Welcome <%= @game.player.name %>! </h1>

<h2> Are you ready to challenge the computer? </h2>

<h3>  </h3>

<form action="/choice" method="post">
Pick your tool of destruction:

<input type="radio" name="choice" id="Rock" value="Rock" /> Rock
  <!-- <img src="http://images.freeimages.com/images/previews/5ae/rocks-1408556.jpg"> -->
<input type="radio" name="choice" id="Paper" value="Paper" /> Paper
  <!-- <img src="http://images.freeimages.com/images/previews/dcc/newspaper-1198887.jpg"> -->
<input type="radio" name="choice" id="Scissors" value="Scissors" /> Scissors
  <!-- <img src="http://images.freeimages.com/images/previews/844/scissors-1316595.jpg"> -->
<input type="submit" value="Choose"/>

</form>
