<center>
<body style="background-color:grey;">
<h1><%=@player_name%> vs Computer</h1>
<img src="https://media.giphy.com/media/dsKALVnvGKgn4bLu2a/giphy.gif">
<h2>Choose your weapon:</h2>
<form action="/game" method="get">
<input type="submit" name="weapon_choice" value="Rock">
<input type="submit" name="weapon_choice" value="Paper">
<input type="submit" name="weapon_choice" value="Scissors">
</form>
</center>