<h1><%= @player_name %> VS Game</h1>
<h2>Select from options below:</h2>
<form action="/game" method="post">
  <input type="submit" name="weapons" value="Rock">
  <input type="submit" name="weapons" value="Scissors">
  <input type="submit" name="weapons" value="Paper">
</form>
