<head>
  <title><%=$game.player.name%> vs Vaith</title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
<h1><%=$game.rand_messages%> <%=  $game.player.name%>? </h1>

<div id="container">

<div class="choice">
  <a href="/rock">
    <div class="rock" style="border-radius: 25px;">
      <img src="rock.png" alt="rock" style="width:22vw;height:22vh;">
    </div>
  </a>
</div>

<div class="choice">
  <a href="/paper">
    <div class="paper" style="border-radius: 25px;">
      <img src="paper.png" alt="paper" style="width:22vw;height:22vh;">
    </div>
  </a>
</div>

<div>
  <a href="/scissors">
    <div class="scissors" style="border-radius: 25px;">
      <img src="scissors.png" alt="scissors" style="width:22vw;height:22vh;">
    </div>
  </a>
</div>

</div>

</body>