<h1>Choose an option below:</h1>

<form action="/result" method="get">
<input type="submit" value="ROCK">
</form>
<form action="/result" method="get">
<input type="submit" value="PAPER">
</form>
<form action="/result" method="get">
<input type="submit" value="SCISSORS">
</form>
