<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- defining our character set and title -->
    <meta charset="utf-8">
    <title>RPS</title>
  </head>

  <body>
    <h1>Let's begin!</h1><br>
  </body>
</html>
