<html>
  <body style ="background-color:rgb(51, 51, 204)">
    <h1 style="color:white; font-family:georgia" align="center"> Player: <%= @name %> </h1>
      <br>
      <br>
  <h2 style="color:white; font-familt:georgia" align="center"> Please choose option:
  </h2>
    <form align="center" action="/in_play" method="post">
      <select name=“choice”>
         <option value=“Rock”>Rock</option>
         <option value=“Paper”>Paper</option>
         <option value=“Scissor”>Scissor</option>
      </select>
      <input type="submit" value="Play!">
      </form>
  </body>
<html>
