<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: pink;
}
</style>
</head>
<h1>Welcome <%= @player_name %> to the game of Rock, Paper and scissors !</h1>
<form action="/result" method="post">
  <h2>Please select your one of the moves:</h2>
  <div style = "position:relative; left:260px; top:55px;">
  <input type="submit" name="player_choice" value="Rock" style="width: 150px; margin: 0 auto;">
  <input type="submit" name="player_choice" value="Paper" style="width: 150px; margin: 0 auto;">
  <input type="submit" name="player_choice" value="Scissors" style="width: 150px; margin: 0 auto;">
  </div>
</form>
