<h1>Rock, Paper, Scissors</h1>

<form action = '/result' method = "post">
  <p>You are playing against the computer.</p>
  <p>Please make your selection and then click 'OK'.</p>
  
  
  <p><label for = "rock"><b>Rock</b>
    <input type = "radio" name = "rps_choice" value = "rock"/>
  </label></p>
  <p><label for = "paper"><b>Paper</b>
    <input type = "radio" name = "rps_choice" value = "paper"/>
  </label></p>
  <p><label for = "scissors"><b>Scissors</b>
    <input type = "radio" name = "rps_choice" value = "scissors"/>
  </label></p>  
  
  <input type = "submit" value = "Submit" name = "play_computer"/> 
  
</form>