<p>Round 1!</p>
<br>
<%= NameLog.name %>
<br>
<br>
<p><a href="/result?move=rock">Rock</a></p>
<br>
<p><a href="/result?move=paper">Paper</a></p>
<br>
<p><a href="/result?move=scissors">Scissors</a></p>
