<h2>Welcome to Rock, Paper, Scissors</h2>
<br>
<h2>Please choose Rock, Paper or Scissors below</h2>

<form action="/process" method="post">
<input type="image" value="Rock" src = "http://cdn3-www.wrestlezone.com/assets/uploads/2016/01/TheRock-3.jpg" width='250' height='180' alt='Submit'>
<input type="image" value="Paper" src = "https://s-media-cache-ak0.pinimg.com/736x/e6/6d/5c/e66d5c1b42b46cbe0af58068aec2640b.jpg" width='114' height='180' alt='Submit'>
<input type="image" value="Scissors" src = "http://yadbw.com/wp-content/uploads/2017/04/funny-scissors-zip-tie.jpg" width='196' height='180' alt='Submit'>
</form>
