<div>
  <%= @player %>
</div>
<div>
<form action='/Rock' method='post'>
  <input type="submit" name="" value="Rock">
</form>
<form action="/Scissors" method="post">
  <input type="submit" name="" value="Scissors">
</form>
<form action="/Paper" method="post">
  <input type="submit" name="" value="Paper"
</form>
</div>
