<p>Hello <span style="color: red"><%= $player.name %></span>!</p>

<form action="/result">
  <p>Please select either rock, paper or scissors:</p>
  <input type="radio" id="" name="rock" value="rock">
  <label for="rock">Rock</label><br>
  <input type="radio" id="" name="paper" value="paper">
  <label for="paper">Paper</label><br>
  <input type="radio" id="" name="scissors" value="scissors">
  <label for="scissors">Scissors</label><br/><br/>
  <input type="submit" value="Submit">
</form>