<div align="center">
  <br>
<p><%= @game.name %>, make your choice:</p>

<div>
<form action="/rps" method="get" style="display: inline-block;" >
  <input type="submit" value="rock" name="choice">
</form>

<form action="/rps" method="get" style="display: inline-block;" >
  <input type="submit" value="paper" name="choice">
</form>

<form action="/rps" method="get" style="display: inline-block;" >
  <input type="submit" value="scissors" name="choice">
</form>
</div>

<img src="https://rockpaperscissors.com/wp-content/uploads/2016/12/rps-logo-og.png">
</div>

<br>

<div align="center">
<div><%= @game.log %></div>
</div>

<br>

<div align="center">
  <form action="/restart" method="get">
    <input type="submit" value="Restart game">
  </form>
</div>
