<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel='stylesheet'>
<style>
  body { font-family: 'Major Mono Display', monospace;
  ;font-size: 30px;}
</style>
<body style="background-color: #FD4B4B;" align="center">
  <br>
<h1>Rock Paper Scissors</h1>
  <br>
<% if @choice == nil %>
<h2><%= @player_1 %> make your choice!</h2>
  <br>
  <form action="/choose" method="post">
    <table width="50%" align="center">
      <tr>
      <th><input type="submit" name="choice" value="Rock" height ="50px" width="200px"></th>
      <th><input type="submit" name="choice" value="Paper" height ="50px" width="200px"></th>
      <th><input type="submit" name="choice" value="Scissors" height ="50px" width="200px"></th>
      </tr>
    </table>
  </form>
<% else %>
<h2><%= @player_1 %> you have chosen <%= @choice %>!</h2>
<% end %>
</body>
