<h1> <%= @game.player.name %> vs Computer  </h2>

<% if @game.mode == "normal" %>
<form action="/move" method="post">
  <input type="submit" name="move" value="rock">
  <input type="submit" name="move" value="paper">
  <input type="submit" name="move" value="scissors">
</form>
<% elsif @game.mode == "lizard_spock" %>
<form action="/move" method="post">
  <input type="submit" name="move" value="rock">
  <input type="submit" name="move" value="paper">
  <input type="submit" name="move" value="scissors">
  <input type="submit" name="move" value="lizard">
  <input type="submit" name="move" value="spock">
</form>
<% end %>

<% if @game.player_move %>
<h2> Your move: <%= @game.player_move %>, Computer's move: <%= @game.computer_move %> </h2>
<h1> <%= @game.result %>! </h1>
<% end %>

<form action="/" method="get">
  <input type="submit" value="Back to homepage">
</form>
