<head>
<link rel="stylesheet" type="text/css" href="layout.css">
</head>

<h1><%=@new_game.player.name%> vs Computer</h1>

<h2> Choose your weapon... </h2>

<form action="/choice" method="post">
  <label for="weapon">
    Choose Rock, Paper or Scissors...
    <input type="submit" name="weapon" value="Rock">
    <input type="submit" name="weapon" value="Paper">
    <input type="submit" name="weapon" value="Scissors">
  </label>
</form>
