<center>
<h1>Welcome, <%= @name %></h1>

<div>
  <form action="/result" method="get">
    <label for="player_move"><h1>Choose: Rock, paper or scissors.</h1></label>
    <input type="text" name="player_move">
  </div>
<br>

  <div>
    <button type="submit" value="Submit">GO!</button>
  </div>
</center>
