<h2> <%= @player %> vs. Computer </h2>
<h3><%= @player %>, choose one from the following options: <i>rock</i>, <i>paper</i> or <i>scissors</i>.</h3>
<input type="submit" value="Rock">
<br>
<br>
<input type="submit" value="Paper">
<br>
<br>
<input type="submit" value="Scissors">
