<center>
  <br>
  <br>

<%= @player_name %> has entered the game.
<br>
<br>

What is your move <%= @player_name %>?

<br>
<br>

<form action="/answer" method="post">
  <input type="submit" name="player_choice" value="Rock">
  <input type="submit" name="player_choice" value="Paper">
  <input type="submit" name="player_choice" value="Scissors">
</form>

</center>
