<html>
<h1>Rock, Paper, Scissors</h1>
<link rel="stylesheet" type="text/css" href="/style.css"/>

<body>
<div id="move"> Make your move <%= @game.player_name(1) %>!</div>
<br>
<form action='/result' method='post'> 
<input type="hidden" name="move" value="Rock">
<button for="move" type="submit">Rock</button>
</form>
<form action='/result' method='post'> 
<input type="hidden" name="move" value="Paper">
<button for="move" type="submit">Paper</button>
</form>
<form action='/result' method='post'> 
<input type="hidden" name="move" value="Scissors">
<button for="move" type="submit">Scissors</button>
</form>
</body>