<style>
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
form {text-align:center;}
</style>

<br><br><br><br>
<h1>Let the game begin!</h1>
<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>
<br><br><br><br><br>
<h3><%= @game.player_1.name %>, please choose your move:</h3>
<br>

<form action="/result" method="post">
  <input type="radio" name="gender" value="male"> Rock<br>
  <input type="radio" name="gender" value="female"> Paper<br>
  <input type="radio" name="gender" value="other"> Scissors<br><br><br>
  <input type="submit" value="Submit">
</form>
