<html>
<div>
  <h1>
    <%= @game.player_1.name%>, ready to play Rock Paper Scissors???
  </h1>

  <form action='/game_over' method='get'>
    <input type="submit" value="I wanna rock, ROCK!"
</div>
</html>
