<h1>You chose <%= @game.player_1.choice %></h1>

<h2>Your opponent chose <%=@game.player_2.choice %>.</h2>

<h2><%=@game.play(@game.player_1.choice, @game.player_2.choice)%></h2>

<a href="/">Play again</a>
