
<h1><%= @player_name %>, choose your weapon:<h1>
<form action="/chosen_weapon" method="post">
  <input type="submit" name="weapon" value="Rock"><br>
  <input type="submit" name="weapon" value="Paper"><br>
  <input type="submit" name="weapon" value="Scissors"><br>
</form>
