<center>
<h1 style='color: blue'> Welcome <%= @p1_name %>.</h1>
<br>
<h2 style='color: Pink'>Basic Rules:</h2>
Rock wins over Scissors, <br>
Paper wins over Rock,<br>
Scissors wins over Paper.
<br>
<br>
<h3 style='color: blue'>Pick your choice of poison from below:</h3>

<form action="/choice" method="get">
  <input type="submit" name="choices" value="Rock">
  <input type="submit" name="choices" value="Paper">
  <input type="submit" name="choices" value="Scissors">
</form>
</center>
