<h1> <%= @player.name %> vs Ash </h1>

<form action="/input" method="post">
  <input type="submit" name="charmander"   value="CHARMANDER">
  <input type="submit" name="squirtle"     value="SQUIRTLE">
  <input type="submit" name="bulbasaur"    value="BULBASAUR">
</form>
