<%= "Welcome to RockPaperScissors, #{@player.name}!" %>
<br>
Please choose your weapon
<form action="/index" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
