 <center>
   <% if @game.player.name.empty? %> <h1 style="font-size:80pt;color:brown">Please enter a name!</h1>
    <body background="http://static.brusheezy.com/system/resources/previews/000/019/429/original/wrapping-paper-high-resolution-textures-1.jpg">
    </body>

    <form action='/' method='get'>
     <input type='submit' value='Go Back' style="font-size:100pt;color:brown;background-color:transparent" />
    </form>
  <%end%>

  <% if !@game.player.name.empty? %>
    <body>
      <h1 style="font-family:Helvetica;font-size:80pt;color:blue"> Hello, <%= @game.player.name %> </h1>
      <p>Let's play Rock, Paper, Scissors<p>
</body >
 <form action='/weapon' method='post'>
   <table>
     <thead>
       <th colspan=3> Please choose  a weapon</th>
     </thead>
     <tbody>
       <tr>-----------------------</tr>
       <tr>
         <td> <input type='submit' name='weapon' value='  ROCK  ' style="font-size:80pt;color:green;background-color:lightgrey"/></td>
         <td> <input type='submit' name='weapon' value='  PAPER  ' style="font-size:80pt;color:brown;background-color:lightyellow"/></td>
         <td> <input type='submit' name='weapon' value='SCISSORS' style="font-size:80pt;color:white;background-color:blue"/></td>
       </tr>
       <tr>-----------------------</tr>
     </tbody>
   </table>

 </form>
  <%end%>
  </body>
<center/>
