<!DOCTYPE html>
<html>
<body>

<h2> Make the right move from the dropdown menu. </h2>

  <form action="/move" method="post">
    <select name="move">
      <option value="rock">ROCK</option>
      <option value="paper">PAPER</option>
      <option value="scissors">SCISSORS</option>
    </select>
    <input type="submit" value="Play">
  </form>

</body>
</html>
