<!DOCTYPE html>

<head>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>


<body>
  <h1 class="rainbow"> <%= @player_1.name %> </h1>
  <h1 style="text-align:center;"> VS </h1>
  <h1 style="text-align:center;"> COMPUTER </h1>

  <form action="/play" method="post">
    <input type="radio" name="weapon" value="rock" > Rock<br>
    <input type="radio" name="weapon" value="paper"> Paper<br>
    <input type="radio" name="weapon" value="scissors"> Scissors
    <input type="submit" value="Fight!">
  </form>


</body>
