<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Player Decision</title>
</head>
<body>
  <h1><%= "#{@username} chose #{@decision}"%></h1>
  <a href="/outcome">Computer's turn</a>
</body>
</html>
