<body background="">
 <center>
  <br>
   <br>
   <h3> GREETINGS <%= @player_name %> </h3>
    <h1> CHOOSE YOUR WEAPON  </h1>
  </center>
     <br>
    <a href="/round_one">
    <img src="http://www.onformsculpture.co.uk/upload/artists/artist_supplied/Thirty%20Late/single-pebble-against-white-background-natalie-kinnear.jpg" alt="ROCK" height="320" width="450">
    <img src="http://gb.fotolibra.com/images/previews/538316-crumpled-paper-ball.jpeg" alt="PAPER" height="260" width="380">
    <img src="http://cdn.cutleryandmore.com/products/large/651.jpg" alt="SCISSORS" height="260" width="380">
    </a>
