<link rel="stylesheet" type="text/css" href="style.css">
<h1><%= "Welcome to Rock Paper Scissors, #{@game.player.name}!" %></h1>
<br>
<h2>Please pick your weapon</h2>
<form action="/weapon" method="post">
  <input type="submit" name="weapon" value="rock">
  <input type="submit" name="weapon" value="paper">
  <input type="submit" name="weapon" value="scissors">
</form>
