<head>
  <h1 style='text-align:center'> Let's Play <%= @player %> </h1>
</head>

<br>
<br>

<h3 style='text-align:center;color:rgb(148, 134, 134)'>Rock, Paper or Scissors?</h3>

<br>
<br>

<body style='background-image:linear-gradient(rgb(241, 163, 244),rgb(167, 225, 235))'>

  <br>

</body>
