<p> Choose one option! </p>

  <form action="/play" method="POST">
    <select name="shape" value='Shape'>
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissor">Scissor</option>
    <select>
      <input  type="submit" value="Submit">
  </form>

