<h1> <%= @player1 %>, make your move! </h1>
  <br>
  <form action="/move1" method="post">
    <label for="player1move">Player 1, choose your move:</label>
    <select name="player1move">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
    <button type="submit">Submit</button>
  </form>
