Select your piece <%= @player %>!

<form action="/selection" method="post">
  <input type="submit" value="Rock" name="choice">
</form>

<form action="/selection" method="post">
  <input type="submit" value="Paper" name="choice">
</form>

<form action="/selection" method="post">
  <input type="submit" value="Scissors" name="choice">
</form>
