<h1><%= @p1_name%></h1>
<h2>Welcome: please choose your weapon!</h2>

<form action="/select" method="post">
  <input type="submit" name="p1_choice" value="Rock">
  <input type="submit" name="p1_choice" value="Paper">
  <input type="submit" name="p1_choice" value="Scissors">
</form>
