<h1><%= @game.player.player_name %> vs. Computer</h1>


<h2> Choose wisely...</h2>
<form action="/results" method="post">
  <input type="checkbox" value="rock" id="rock" name="player_choice">Rock
  <input type="checkbox" value="paper" id="paper" name="player_choice">Paper
  <input type="checkbox" value="scissors" id="scissors" name="player_choice">Scissors
  <input type="submit" value="Submit">
</form>
