<%=@p1_name%> vs. The Computer <br />

  Choose Rock, Paper or Scissors
<form action="/result" method="post">
  <!-- <input type="radio" name="p1_choice_input" id="Rock"/><br /> -->
  <input type="radio" name="Rock" id="Rock"/><br />
  <input type="submit" value="Submit!" />
</form>
