<h1>Rock * Paper * Scissors</h1>

<h1>Welcome, <%=@game.player.name%>!  What's your move?</h1>

<form action="/selection" method="post">
  <label for="choice">Your selection is:</label>
  <input type="submit" name="player_choice" value=:ROCK>
  <input type="submit" name="player_choice" value=:PAPER>
  <input type="submit" name="player_choice" value=:SCISSORS>
</form>
