<%= @game.player1.name %> VS COMPUTER
<br>
<br>
<form action = /play-rock method = post>
  <input type = "submit" value = "ROCK">
</form>

<form action = /play-paper method = post>
  <input type = "submit" value = "PAPER">
</form>

<form action = /play-scissors method = post>
  <input type = "submit" value = "SCISSORS">
</form>
