Welcome to the game of Rock/Paper/Scissors, <%= @player_name %>
<div class="choice">
  <form action="/play">
    <input type="submit" name="move" value="Rock">
    <input type="submit" name="move" value="Paper">
    <input type="submit" name="move" value="Scissors">
  </form>
</div>
<div class="game">
  <% if @move %>
    <%= @player_name %> chose <%= @move %>
    Computer chose <%= @computer.move %>
  <% end %>
</div>
