Welcome <%= @player_name %>, please choose an option to start the game:

<form action='/result' method='post'>
  <input type='submit' value='Rock'>
</form>

<form action='/result' method='post'>
  <input type='submit' value='Paper'>
</form>

<form action='/result' method='post'>
  <input type='submit' value='Scissors'>
</form>

