<h1 style='font-size:300%; color:#151B54; font-family:helvetica'><%=@player_name%>, choose your move!</h1>
<form action='/save_move' method='post'>
  <select name='player_move' style='font-size:200%; color:#342D7E; font-family:helvetica'>
    <option value='Rock'>Rock</option>
    <option value='Paper'>Paper</option>
    <option value='Scissors'>Scissors</option>
  </select>
  <button type='submit' style='font-size:200%; color:#0000A0; font-family:helvetica'>Go!</button>
</form>
<body style='background-color:pink;'></body>
