<h1>  <font color="blue"> <%= @player.name %> </font> vs <font color="red"> Computer </font> </h1>

<form action="/move">
  <input type="submit" value="rock">
</form>

<form action="/move">
  <input type="submit" value="paper">
</form>

<form action="/move">
  <input type="submit" value="scissors">
</form>
