<html>
  <body style="background-color:powderblue;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Player: <%= @name %> </h1>
    <br>
    <br>
    <h2 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Please choose option: </h2>
    <br>
    <br>
    <form align="center" action='/in_play' method="post">
      <input type="submit" name="Choice" value="Rock">
      <input type="submit" name="Choice" value="Paper">
      <input type="submit" name="Choice" value="Scissors">
    </form>
  </body>
<html> 
