Pick your weapon:
<form action='/result-page' method='POST'>
<input type='radio' id='rock' name='choice' value='rock'>rock
<input type='radio' id='paper' name='choice' value='paper'>paper
<input type='radio' id='scissors' name='choice' value='scissors'>scissors
<input type='submit' value='Submit'>
</form>
