<style>
h1 {text-align:center;}
h2 {text-align:center;}
label {text-align:center;}
</style>
<br><br><br><br>
<h1>Let the game begin!</h1>
<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br><br><br><br><br>