<%= @player %>

<form action='/select' method='get'>
  <input type='submit' name='choose' value='rock'>
  <input type='submit' name='choose' value='paper'>
  <input type='submit' name='choose' value='scissor'>
</form>

<% if @choose %>
  <%= "#{@player} chose #{@choose}" %>
<% end %>

<br>

<% if @computer %>
  <%= "Computer chose #{@computer}" %>
<% end %>

<br>

<% if @result %>
  <%= @result %>
<% end %>
