<!DOCTYPE html>
  <html>
    <head>
      <title>RPSLS</title>
    </head>
    <body>
      <header>
        <h1> Welcome <%= @player_name %>! </h1>
        <h3> This game is Rock-Paper-Scissors-Lizard-Spock! </h3>
      </header>
      <main>
        <form action '/game' method = 'post'>
          <input type = "button" name = "rock" value = "Rock" >
          <input type = "button" name = "paper" value = "Paper" >
          <input type = "button" name = "scissors" value = "Scissors" >
          <input type = "button" name = "lizard" value = "Lizard" >
          <input type = "button" name = "Spock" value = "Spock" >
          <input type = "submit" value = "Submit" >
        </form>
      </main>
    </body>
  </html>
