<%=@player_1_name %> vs. The Machine

<form action="/game" method="post">
    <input type="submit" name="weapon" id="weapon" value="Rock">
    <input type="submit" name="weapon" id="weapon" value="Paper">
    <input type="submit" name="weapon" id="weapon" value="Scissors">
</form>
