<header>
</header>
<body>
  <h1>Fight!<h1>
  <h3>(Street Fighter voice)</h3>

  <h4><%=$game.player_1_name%> vs <%=$game.player_2_name%></h4>

  <form action="/attack">
    <button type="submit" value="Rock">Rock</button>
    <button type="submit" value="Paper">Paper</button>
    <button type="submit" value="Scissors">Scissors</button>
    <button type="submit" value="Spock">Spock</button>
    <button type="submit" value="Lizard">Lizard</button>
  </form>
</body>
