Hello <%= @game.player_1.name %>

<form action="/rock" method="post">
  <input type="submit" value="Choose Rock">
</form>

<form action="/paper" method="post">
  <input type="submit" value="Choose Paper">
</form>

<form action="/scissors" method="post">
  <input type="submit" value="Choose Scissors">
</form>
