<head>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<h1>Rock Paper Scissors</h1>
<div class="player-container left">
  <div class="rps-container cc-selector">
    <form id="rps-form" action="/choice" method="post">
      <input id="rock" type="radio" name="choice" value="rock" />
      <label class="drinkcard-cc rock" for="rock"></label>
      <input id="paper" type="radio" name="choice" value="paper" />
      <label class="drinkcard-cc paper" for="paper"></label>
      <input id="scissors" type="radio" name="choice" value="scissors" />
      <label class="drinkcard-cc scissors" for="scissors"></label>
    </form>
  </div>
  <h2><%=@game.player.name%></h2>
</div>
<div class="computer-container right">
  <div class="rps-container">
  </div>  
  <h2><%=@game.computer.name%></h2>
</div>
<div class="controls">
  <input type="submit" form="rps-form" value="Go!" class="left"/>
</div>
