<link rel="stylesheet" href="styles.css" media="screen" charset="utf-8">

<h1>Welcome <%= @game.player_name %> to Rock Paper Scissors!</h1>

<div class="item_buttons">
  <input type="submit" name="item" value="Rock">
  <input type="submit" name="item" value="Paper">
  <input type="submit" name="item" value="Scissors">
</div>
