<h1>Welcome to Rock, Paper, Scissors, <%= @game.player.name %>!</h1>

<h2>Please make a choice from the following options:</h2>


<button type="button">Select Rock</button>

<button type="button">Select Paper</button>

<button type="scissors">Select Scissors</button>
