Let's play <%= @name %>!
<br>
<br>
<form action="/play" method="post">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>

You chose <%= @move %>!
<br>
<br>
Opponent chose <%= @opponent_move %>!
