<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/rps_style.css">
	</head>

	<body>
		<h1><%= @game.player.name %> vs The Computer</h1>
		<h3>Don't forget...</h3>
		Scissors cuts Paper
		<br>
		Paper covers Rock
		<br>
		Rock crushes Lizard
		<br>
		Lizard poisons Spock
		<br>
		Spock smashes Scissors
		<br>
		Scissors decapitate Lizard
		<br>
		Lizard eats Paper
		<br>
		Paper disproves Spock
		<br>
		Spock vaporizes Rock
		<br>
		and... as it always has...
		<br>
		Rock crushes Scissors
		<br>

		<h3>Choose your weapon!</h3>
			<form action="/weapon" method="post">
				<button type="submit" name="choice" value="rock">Rock</button>
				<button type="submit" name="choice" value="paper">Paper</button>
				<button type="submit" name="choice" value="scissors">Scissors</button>
				<button type="submit" name="choice" value="lizard">Lizard</button>
				<button type="submit" name="choice" value="spock">Spock</button>
		</form>
	</body>
</html>