<%= @player %>

<form action='/select' method='get'>
  <input type='submit' name='choose' value='Rock'>
  <input type='submit' name='choose' value='Paper'>
  <input type='submit' name='choose' value='Scissor'>
</form>

<% if @choose %>
  <%= @choose %>
<% end %>

<% if @result %>
  <%= @result %>
<% end %>
