Welcome <%=@game.player1.name%> VS <%=@game.player2.name%>
<div>Choose your weapon</div>
<form action="/weapon" method="post">
  <% @weapons.each do |weapon| %>
    <input type="image" name="weapon" value="<%=weapon %>" src="http://baconmockup.com/100/100" alt="<%= weapon.capitalize %>">
  <% end %>
</form>
