<center>
  <h2>Welcome to classical game of Rock Paper Scissors, </h2>
  <h1><%= @player1_name %>!!! </h1>

    <form action='/move_confirmation' method='get'>
      <input type='submit' value='Rock'>
      <input type='submit' value='Paper'>
      <input type='submit' value='Scissors'>
    </form>


</center>
