<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div>
      <h1> Hello <%=@player1%>! Let's play rock paper scissors!</h1>
    </div>
    <div>
      <h2> Click a button: </h2>
    </div>
    <div>
      <form action="/result">
        <input type="submit" value="Rock">
        <input type="submit" value="Paper">
        <input type="submit" value="Scissors">
      </form>
    </div>
  </body>
</html>
