<center><h1><%= @game.player1.name %> vs. Computer </h1>

<center><p style="font-family:Courier; color:Blue; font-size: 20px;"><%= @game.player1.name %>: 1 life </p>
<center><p style="font-family:Courier; color:Red; font-size: 20px;"> Computer: 1 life </p>


<form action="/weapon_selection" method="post">
  <label for="player_1_weapon">
    Rock
  </label>
  <input type="submit" value="Select">
</form>

<form action="/weapon_selection" method="post">
  <label for="player_1_weapon">
    Paper
  </label>
  <input type="submit" value="Select">
</form>

<form action="/weapon_selection" method="post">
  <label for="player_1_weapon">
    Scissors
  </label>
  <input type="submit" value="Select">
</form>
