<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Rock, Paper, or Scissors
    <form action="/moves" method="post">
    <input type="radio" name="move" value="Rock" id="Rock"> Rock
    <input type="radio" name="move" value="Paper" id="Paper"> Paper
    <input type="radio" name="move" value="Scissors" id="Scissors"> Scissors
    <input type="submit" value="Play!">
    </form>
  </body>
</html>
