<h1><%= $player_name %>, choose your weapon!!</h1>

<form method="post" action="/weapon">
  <input type="radio" id="Rock" name="weapon" value="Rock"/>
  <label for="Rock">Rock</label><br>
  <input type="radio" name="weapon" value="Paper"/>
  <label for="Paper">Paper</label><br>
  <input type="radio" name="weapon" value="Scissors"/>
  <label for="Scissors">Scissors</label><br>
  <input type="submit" value="Submit"/>
</form>