<!DOCTYPE html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <form>
    <h1><%= @name %></h1>
    <label for="Action">Pick your Wepon</label>
    <input type="submit" value="Rock!" name="rock">
    <input type="submit" value="Paper!" name="paper">
  </form>
</body>
</html>