Welcome, <%= @player_name %>!<br></br>

Choose your weapon...<br></br>

<form action="/play" method="post">
  <input type="submit" name= "option" value="Rock">
  <input type="submit" name= "option" value="Paper">
  <input type="submit" name= "option" value="Scissors">
</form>

You selected <%= @option %>!

<div id="cpu">
  CPU selected <%= @cpu_option %>
</div>
