<h1> <%= @game.player.name %> vs Computer!</h1>

<h2> Choose from these different options: </h2>

<form action="/selection" method="post">
  <input type="radio" name="option" value="rock" id="rock" > rock<br>
  <input type="radio" name="option" value="paper" id="paper" > paper<br>
  <input type="radio" name="option" value="scissors" id="scissors"> scissors<br><br>
  <input type="submit" value="Submit">
</form>
