<font face="courier" color="blue">
  <h1 align="center" >Rock Paper Scissors Game</h1>
    <h2 align="center" >The computer vs. <%= @player.name %></h2>

    <form action="/rock" method="post">
      <input type="submit" name="rock" value="Rock"/>
    </form>
    <form action="/rock" method="post">
      <input type="submit" name="rock" value="Rock"/>
    </form>
    <form action="/rock" method="post">
      <input type="submit" name="rock" value="Rock"/>
    </form>
  </font>
