<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors | Play</title>
  </head>

  <body>
    <h1>Ready <%= @player_1 %>?</h1>
    <h2>Choose rock, paper or scissors</h2>
    <form action="/play" method="POST">
      <input type="submit" name="move" value="rock"/>
      <input type="submit" name="move" value="paper"/>
      <input type="submit" name="move" value="scissors"/>
    </form>
  </body>
</html>
