<center><h1><%= $player.name.capitalize %> pick one</h1></center>

<center><form action="/result" method="post">
  <input type="submit" name="move" value="Scissors">
</form>
<form action="/result" method="post">
  <input type="submit" name="move" value="Rock">
</form>
<form action="/result" method="post">
  <input type="submit" name="move" value="Paper">
</form></center>
