<%= @game.player1.name %> vs Computer <br> <br>
<%= @game.player1.name %>. Rock, Paper, or Scissors? <br><br>
<form action="/chosen" method="post">
 <input type="submit" value="Rock!" name="choice">
 <input type="submit" value="Paper!" name="choice">
 <input type="submit" value="Scissors!" name="choice">
</form>
<%= @game.choice_message(@game.choice) if @game.game_started? %> <%= @game.computer_choice_message(@game.computer_choice) if @game.game_started? %>
