<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body { font-family: "Arial"; font-size: 16px;}
      .btn {
        background-color: #99CCFF;
        font-size: 16px;
        cursor:pointer;
      }
    </style>
  </head>
  <body>
      <p style= 'color: green'> <%= @player_1 %> is playing. </p>
      <p style= 'color: blue'> Click on the button to play: </p>
      <form action='/move' method='post'>
        <input type="radio" name="move" id="Rock" value="Rock">Rock
        <br>
        <input type="radio" name="move" id="Paper" value="Paper">Paper
        <br>
        <input type="radio" name="move" id="Scissors" value="Scissors">Scissors
        <br>
        <input type="radio" name="move" id="Lizard" value="Lizard">Lizard
        <br>
        <input type="radio" name="move" id="Spock" value="Spock">Spock
        <br>
        <br>
        <button class="btn" type= 'submit'>Submit </button>
      </form>
        <br>
        <% if @playing %>
          <p style= 'color: green'> Your choice is: <%= @move %> </p>
          <p style= 'color: blue'> The computer's choice is: <%= @random %> </p>
          <p style= 'color: red'> The outcome is: <%= @winner %> </p>
        <% end %>
    </body>
</html>
