<h1>Welcome <%= @name %></h1>

<h2>Please select one of the following options:</h2>

<form action="/rock">
  <input type="submit" value="Rock">
</form>
<form action="/paper">
  <input type="submit" value="Paper">
</form>
<form action="/scissors">
  <input type="submit" value="Scissors">
</form>
