<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock, Paper, Scissors</title>
    <style>
div {display: block;}
h1 {
        color: #ff577f;
        font-size: 48px;
        font-weight: 100;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        border: 30px solid #ff577f;
        border-radius: 4px;
      }
 
      h2 {
        color: #ff884b;
        font-size: 30px;
        text-align: center;
        font-weight: normal;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding: 0px
      }

      body {
          background-color: #ffc764;
      }

      

            button {
        color: #ebebeb;
        font-size: 18px;
        background: transparent;
        display: block;
        margin: 0 auto 30px auto;
        padding: 15px 30px;
        border-radius: 40px;
        box-shadow: 5px 5px 5px  #41aea9;
        border-color: #41aea9;
        transition: all 200ms ease-in-out;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      button:hover {
        cursor: pointer;
        color: white;
        background:#41aea9;
      }
          form {
        text-align: center;
      }
      
      input[type=text] {
        font-size: 30px;
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 2px black;
        background-color: white;
        color: black;
        border-radius: 4px;
      }

      input[type=submit] {
        width: 15%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 2px black;
        background-color: #ff884b;
        color: white;
        font-size: 25px;
      }
    img {
      disaplay; block;
      margin: 0 auto;
      border-radius: 4px;
      max-width: 80%;
}
      hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}


    </style>
</head>
<body>

<h1><%=@game.player.name%> has entered the game!</h1>