<!DOCTYPE html>

<html lang="en">
<head>
  <title>Rock Papper Sciccors!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <div class="container" id="main_body">
    <div class="jumbotron">
      <h1><strong><%= @player_1 %></strong> vs. <strong><%= @player_2 %></strong></h1>
    </div>
  </div>
</body>
</html>