<body bgcolor="seashell">
<center>
<div style='border: 4px dotted goldenrod'>
  <center>
    Hello <%= @game.player.name %>!
  </center>
</div>
<form action="/choose" method="get">
  <input type="submit" value="Choose weapon">
</form>
</center>
