<h1>You're up <%= @name %>!</h1>

<form action='/choice' method='post'>
  <input type='submit' name='Rock' value='Rock'>
  <input type='submit' name='Paper' value='Paper'>
  <input type='submit' name='Scissors' value='Scissors'>
</form>
