<h1> Make your move <%= @player_name = params[:player_name] %>!</h1>
<form action="/play">
<STRONG><%= @player_name %> click to play!</STRONG>
<input type="submit" value="Rock">
<input type="submit" value="Paper">
<input type="submit" value="Scissors">
</form>