<head>
<style>
  body {
    background-image: url("https://www.urbancontest.com/images/2016/aprile/androidrock1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 150%;
    color: white;
    text-align: center;
  }
  h1, h3 {
    text-shadow: 3px 0 black;
  }
  label {
    font-size: 100%;
  }
  select {
    font-size: 75%;
  }
</style>
</head>
<body>
<h1> Rock, Paper, Scissors </h1>
<h3> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h3>
<form action="/select_weapon" method="post">
  <label>Take a pick: </label>
  <select name="weapon">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <br><br>
  <input style="font-size: 100%" type='submit' value='Submit'>
</form>
</body>
