<table style='width:100%; text-align:center'>
  <br><br>
  <tr> <td> Enter Player 2 name: </td></tr>
  <tr>
    <td>
      <form action='/multiplayer'>
      <input type='text' name='player_2_name'>
      <br><br>
      <input type='submit' value='Continue'>
      </form>
    </td>
  </tr>
</table>