Today has come to play...: <%= @name.upcase %>!!!
<br>
Rock, paper or scissors? (Choose wisely)
<form action="/player_choice" method="post">
  <input type="text" name="choice">
  <input type="submit" value="Game on!">
</form>
