<section>
  <h2>Good luck <%= @player_name %>!</h2>
  <h2>What weapon do you pick?</h2>
  <form action="/selection" method="post">
    <input type="submit" name="weapon" value = "Rock" class = "weapon_option">
    <input type="submit" name="weapon" value = "Paper" class = "weapon_option">
    <input type="submit" name="weapon" value = "Scissors" class = "weapon_option">
  </form>
</section>
