<link href="/styles.css" type="text/css" rel="stylesheet">
<body>
<%= @selected.player.name %>

<form method="post" action="/rock">
    <input type='submit' value='Rock'>
</form>
<form method="post" action="/scissors">
    <input type='submit' value='Scissors'>
</form>
<form method="post" action="/paper">
    <input type='submit' value='Paper'>
</form>
</body
