<h1><%= @player %> vs. Robot</h1>

<% if @winner %>
  <h3>You chose: <%= @player_move.capitalize %>...</h3>
  <h3>Robot chose: <%= @robot_move.capitalize %>...</h3>
  <h1><%= @winner %> wins!</h1>
  <br />
<% end %>

<h2>
  <% if @winner %>
    Play again!
  <% else %>
    Make your move!
  <% end %>
</h2>

<form method="POST" name="move" action="/move">
  <div>
    <label for="rock">Rock</label>
    <input type="radio" name="move" id="rock" value="rock">
  </div>

  <div>
    <label for="paper">Paper</label>
    <input type="radio" name="move" id="paper" value="paper">
  </div>

  <div>
    <label for="scissors">Scissors</label>
    <input type="radio" name="move" id="scissors" value="scissors">
  </div>

  <div>
    <input id="submit-button" type="submit" value="Go!">
  </div>
</form>