<body bgcolor='#99ddff'>
  <font face='verdana' color='black'>

Okay <%=@game.player.name%>, let's play.

<p> </p>

Choose your weapon:

<p> </p>

<form action='/scissors' method='get'>
  <div class='button'>
    <button type='submit'>Scissors</button>
  </div>
  </form>

  <form action='/paper' method='get'>
    <div class='button'>
      <button type='submit'>Paper</button>
    </div>
  </form>

<form action='/rock' method='get'>
  <div class='button'>
    <button type='submit'>Rock</button>
  </div>
</form>
