<h1>Rock Paper Scissors</h1>
<h2>RPS: <%= @player_name %> vs. Computer</h2>
<h3>Pick one of the below:</h3>
<form action="/result" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
