<html>
  <h1>Player 2, Make your Choice</h1>
  <form action='/player2-choice' method='post'>
    <input type='submit' value='Rock'>
    <br>
    <input type='submit' value='Paper'>
    <br>
    <input type='submit' value='Scissors'>
  </form>
</html>