<h1> Hello <%=$player1.name%> <h1>

  <h2> What are you going to throw? <h2>

    <body>
      1 = Rock </br>
      2 = Paper </br>
      3 = Scissors </br>

      Please input your choice (1,2 or 3) <body>

    <form action="/display" method="post">
      <input type="text" name="choice">
      <input type="submit" value="Submit">
    </form>
