<form action="/result">
Ah, <%= @player_1_name%>, you know the drill...
  <p> </p>
<label for="enter choice">
    <p>Rock,  Paper,  Scissors,  Spock,  Lizard?</p>
      <p> </p>
    <input type="text" name="choice" id="enter choice" placeholder="Enter choice here..." required>
</label>

    <input type="submit" value="Submit">
</form>