<div>
  <h2>Player 1: <%= @p1_name %></h2>
</div>

<div>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='ROCK'>
  </form>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='PAPER'>
  </form>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='SCISSORS'>
  </form>
</div>
