<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1><%= @player %>, let's play Rock Paper Scissors!</h1>
  <h2>Which will you choose? Please make your selection below...</h2>
  <a href="/result">Rock</a>
</body>
</html>
