<!DOCTYPE html>
<html>
<body>
<center>
<h1>Hello, <%= @player_name %>!</h1>

<h2>Choose a weapon to play.</h2>

<form action='/choice' method='post'>
  <button name='move' type='submit' value='Rock' />ROCK</button>
  <button name='move' type='submit' value='Paper' />PAPER</button>
  <button name='move' type='submit' value='Scissors' />SCISSORS</button>
</form>

</center>
</body>
</html>
