<div>
<p><%= @game.player.name %> </p><p class="white"> VS. </p><p> Computer </p>
</div>
<form action="/rock" method="post">
  <input type="image" src="rock.png" class="rock" type="submit" value="Rock">
</form>
<form action="/paper" method="post">
  <input type="image" src="paper.png" class="paper" type="submit" value="Paper">
</form>
<form action="/scissors" method="post">
  <input type="image" src="scissors.png" class="scissors" type="submit" value="Scissors">
</form>
