<!doctype html>
<html>

  <head>
    <title>Rock Paper Scissor game challenge</title>
  </head>
  
  <body>
    <h1>Welcome, <%= @game.player.name %></h1>
    <form action="/pick" method="post">
        <input type="submit" value="rock" name="weapon">
        <input type="submit" value="scissors" name="weapon">
        <input type="submit" value="paper" name="weapon">
        <input type="submit" value="lizard" name="weapon">
        <input type="submit" value="spock" name="weapon">
    </form>
</body>

</html>