<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Welcome, <%=@player.name%>!</h1>
    <h2>Please make your move...</h2>
    <form action="/result" method="post">
      <label for="weapon">Weapon choice
        <select name="weapon">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissor">Scissor</option>
        </select>
      </label>
    </form>
  </body>
</html>
