Welcome to the game of Rock/Paper/Scissors, <%= @player_name %>
<form action="/play">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
