<html>
<head>
  <meta charset="utf-8">
  <title>Play RPS</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>

<body>
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>Let's go, <%= @game.player1.name %></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15 ">Make your choice!</span>
              <form id="play_game" action="/decide-winner" method="post">
                <div class="field padding-bottom--24">
              <div id="icons">
                    <div class="radio-toolbar">
                      <input type="radio" id="rock" name="player_action" value="✊"><label for="rock">✊</label>
                      <input type="radio" id="paper" name="player_action" value ="🖐️"><label for="paper">🖐️</label>
                      <input type="radio" id="scissors" name="player_action" value="✌"><label for="scissors">✌</label>
                    </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Continue">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>