<body style="color:darkred;width:100%;text-align:center">

  <h1><%= @name %> vs. Computer </h1>
  <br/><br/>


  <br/><br/>
  <form action="/play">
    <input type="submit" value="Play">
  </form>
  <br/><br/>
  <form action="/save_game">
    <input type="submit" value="Save Game">
  </form>
  <form action="/exit_game">
    <input type="submit" value="Exit Game">
  </form>

</body>
