<h1> <%= @game.player.name %> vs Computer  </h2>

<form action="/move" method="post">
  <input type="submit" name="move" value="rock">
  <input type="submit" name="move" value="paper">
  <input type="submit" name="move" value="scissors">
</form>

<% if @game.player_move %>
<h2> Your move <%= @game.player_move %>, Computer's move <%= @game.computer_move %> </h2>
<h1> <%= @game.winner %>! </h1>
<% end %>
