<h1>Choose Rock, Paper, or Scissors, <%= @player_1 %>! </h1>

<form action='/result'>
    <button name='button' type='submit' value='Rock'>Rock</button>
    <button name='button' type='submit' value='Paper'>Paper</button>
    <button name='button' type='submit' value='Scissors'>Scissors</button>
</form>

