<html>
<h1><%= @game.players[0].name %> vs. <%= @game.players[1].name %></h1>
<h2><%= @game.players[@game.turn_manager.turn].name %> - please select your choice</h2>
<form action='player-choice' method ='post'>
  <div>
    <input type="radio" id="Rock"
           name="radio_button" value="rock">
    <label for="Rock">Rock</label>
  </div>
  <div>
    <input type="radio" id="Paper"
           name="radio_button" value="paper">
    <label for="Paper">Paper</label>
  </div>
  <div>
    <input type="radio" id="Paper"
           name="radio_button" value="scissors">
    <label for="Paper">Scissors</label>
  </div>
  <div>
    <button type="submit" name ="submit">Submit</button>
  </div>
</form>

</html>