<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Play</title>
      <link rel="stylesheet" href="style.css" />
      <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class ="module">
<% if @player_1_name && @player_2_name %>
  <h1> <%=@player_1_name%> vs. <%=@player_2_name%> </h1>
  <h2> <%=@current_player%> it's your turn </h2>
  <form action='/play' method='post'>
    <input class="button" name="choice" type= "submit" value="Rock">
    <input class="button" name="choice" type= "submit" value="Paper">
    <input class="button" name="choice" type= "submit" value="Scissors">
  </form>
  <img src="https://img.icons8.com/ios/100/000000/hand-rock.png">
  <img src="https://img.icons8.com/carbon-copy/100/000000/paper-plane.png">
  <img src="https://img.icons8.com/ios/100/000000/hand-scissors.png">
  </div>
<% end %>
</body>
</html>
