<!DOCTYPE html>

<html>
<head>
  <title>Rock, Paper, Scissors: Play!</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>


<div>

  <h1>Welcome to the game, <%=@player_name%>!</h1>

  <p class = "bodytext">Choose your move:</p>

  <div id = "choices">
    
    <div class = "bordered rps-choice" name="rock">
      <img src="/images/rock.svg" alt="Rock"/>
    </div>

    <div class = "bordered rps-choice" name="paper">
      <img src="/images/paper.svg" alt="Paper"/>
    </div>

    <div class = "bordered rps-choice" name="scissors">
      <img src="/images/scissors.svg" alt="Scissors"/>
    </div>
  </div>

</div>


</body>

</html>