 <div>
 <p> <%= session[:name2] %>, Please choose Rock, Paper or Scissors</p>
  <img src='http://www.t-shirtland.gr/resources/cliparts/admin/699/ico.jpg'>
  <p></p> 
 <form action='/two_player_result'>
    <select name="Option2">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
    <input type="submit" value="Draw">
  </form>
<div>