<%= @player_1.name %>
<form method="post" action="/decision">
  <input name= 'player_choice' type="submit" value="Rock" style="font-size : 50px; width: 50%; height: 100px;">
</form>
<form method="post" action="/decision">
  <input name= 'player_choice' type="submit" value="Paper" style="font-size : 50px; width: 50%; height: 100px;">
</form>
<form method="post" action="/decision">
  <input name= 'player_choice' type="submit" value="Scissors" style="font-size : 50px; width: 50%; height: 100px;">
</form>
