<form action="/play/new" method='post'>
  <h1>Rock, Paper, Scissors</h1>
  <h2><%= @player_name %>, please choose your weapon:</h2>
  <button name='player_weapon' type='submit' value='rock'>Rock</button>
  <button name='player_weapon' type='submit' value='paper'>Paper</button>
  <button name='player_weapon' type='submit' value='scissors'>Scissors</button>

</form>
