<h1 style="text-align:center">Rock-Paper-Scissors</h1>
<h3 style="text-align:center; color:gray">The workplace grind-ungrinder</h3>
<h2 style="text-align:center"><%= @game.player1.name%> v <%= @game.player2.name%> </h2>
<br>
<br>
<br>
<br>
<br>
<body style="text-align:center">
Choose your move:</p>

<form action="/move" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
</form>
</body>
