<h2> Hi <%=$game.player_name%>! Play ROCK, PAPER, SCISSORS! </h2>

<div>

<img src= "https://media.giphy.com/media/E7ClVqqCl8bVS/giphy.gif">

<h3> To play, select rock, paper or scissors </h3>

<form action="/play" method="post">

<input type='submit' name="user_choice" value='rock'></input>

<input type='submit' name="user_choice" value='paper'></input>

<input type='submit' name="user_choice" value='scissors'></input>

</form>

<h3> Computer will randomly choose </h3>

</div>
