<%= @game.player.name %>'s Game
<form action="/result" method="get">
<input type="submit" value="rock">Rock</button>
<input type="submit" value="paper">Paper</button>
<input type="submit" value="scissor">Scissor</button>
</form>
