<%= @game.player_1.name %> vs. <%= @game.player_2.name  %>

Choose your attack
<form action="/attack", method='get'>
  <input type="submit" value="Attack">
  <!-- <input type="submit" value="OK"> -->
</form>


<div class="button">
  <button type="submit">Send your message</button>
</div>
