<%= @player_1 %>!
Please choose one of the following weapons:<br>
<form method="post" action="/select">
     <input id="Rock" type="radio" name="weapon" value="Rock">Rock<br>
     <input id="Paper" type="radio" name="weapon" value="Paper">Paper<br>
     <input id="Scissors" type="radio" name="weapon" value="Scissors">Scissors
     <input type="submit" value="Choose"/>
   </form>

input id="AmountOption" name="AmountOption" type="radio" value="1">
