

<p style="font-size:48px"> <%= @player_1_name %> vs. Computer </p>
<div style="display:grid;grid-template-columns:1fr 1fr;grid-gap:50px">
<p> <%= @player_1_name %> </p>

<p> Computer </p>
</div>



<form   method="post" action='/send-move'>
    <input style="color:blue; height:50px;"  type="submit" name="move" value="Rock" />
    <input style="color:blue; height:50px;"  type="submit" name="move" value="Paper" />
    <input style="color:blue; height:50px;"  type="submit" name="move" value="Scissors" />
</form>
