<h1>Welcome to Rock, Paper, Scissors Online</h1>

<h2><%= @player_1%> vs CPU</h2>

<form action='/move'>
<h3><input type="submit" value="Rock"></h3>
<h3><input type="submit" value="Paper"></h3>
<h3><input type="submit" value="Scissors"></h3>
</form>