<%=@p1_name%> vs. The Computer <br />

<form action="/result" method="post">
  Enter Rock, Paper or Scissors: <input type="text" name="p1_choice_input" /><br />
  <input type="submit" value="Submit!" />
</form>
