<%= @game.player_1.name %> you are now facing <%= @game.player_2.name %> <br>

<br> Choose your move <br> <br>

<form action="move" method="post">
  <input type="submit" value="Rock" name="weapon">
  <input type="submit" value="Paper" name="weapon">
  <input type="submit" value="Scissors" name="weapon">
  <input type="submit" value="Lizard" name="weapon">
  <input type="submit" value="Spock" name="weapon">
</form>