Rock Paper Scissors
Player name: <%= @player %>

<form action="/selection">
  <input type="submit" value="Rock">
</form>

<form action="/selection">
  <input type="submit" value="Paper">
</form>

<form action="/selection">
  <input type="submit" value="Scissors">
</form>
