<%= @game.player_1.name %> vs. <%= @game.player_2.name %><br/>

<br><%= @game.player_1.name %> - make your choice<br/>

<br><form action='/evaluate_round' method="post">
  <input type="radio" value="Rock" checked required name="player_1_pick"> Rock<br/>
  <input type="radio" value="Paper"  name="player_1_pick"> Paper<br/>
  <input type="radio" value="Scissors" name="player_1_pick"> Scissors<br/>
<br/><input type="submit" value='OK'>
</form>
