<%= session[:player_1_name] %> vs. Computer - Make a choice

<form action="/choice" method="post">
  <label for="Rock">
  <input type="submit" name="player_1_move" value="Rock">
  </label>
</form>
  <form action="/choice" method="post">
  <label for="Paper">
  <input type="submit" name="player_1_move" value="Paper">
  </label>
</form>
  <form action="/choice" method="post">
  <label for="Scissors">
  <input type="submit" name="player_1_move" value="Scissors">
  </label>
</form>
