<h2>Hello, <%= @name%>!</h2>
<br>
<h3>Pick one:</h3>
<br>

<form action='/play' method="post">
  <input type="submit" name='choice' value="Rock">
  <input type="submit" name='choice' value="Paper">
  <input type="submit" name='choice' value="Scissors">
</form>

You chose <%=@choice %>!
<br>
<div id="opponent">
The computer has chosen <%= @computer_choice.to_s.capitalize%>!
</div>