<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="button.css" />
</head>
<body>
Welcome to Rock, Paper, Scissors <%= @name %>!
<form class="" action="/rock" method="post">
  <input class="button button1" type="submit" name="" value="Rock">
</form>
<form class="" action="/paper" method="post">
  <input class="button button1" type="submit" name="" value="Paper">
</form>
<form class="" action="/scissors" method="post">
  <input class="button button1" type="submit" name="" value="Scissors">
</form>
<form class="" action="/">
  <input class="button button1" type="submit" name="" value="Home">
</form>
</body>
