<h1>Choose your weapon!</h1>
<form action="/result" method="post">
</br><input type="submit" name ="weapon" value="rock">
</br> <input type="submit" name ="weapon" value="paper">
</br>  <input type="submit" name ="weapon" value="scissors">
</form>
