<p style="color:#FFB914"><%=@player%> vs Computer</p>
<h1>             </h1>
<h1>             </h1>
<h1>             </h1>

<a href = "/play/Rock"><Button>Rock </Button></a>
<a href = "/play/Paper"><Button>Paper </Button></a>
<a href = "/play/Scissors"><Button>Scissors </Button></a>
