<h1> Welcome <%=@name%>. Choose your weapon! </h1>

<form method="post" action="/result">
  <input type="radio" name="weapon" value="rock">Rock</input><br>
  <input type="radio" name="weapon" value="paper">Paper</input><br>
  <input type="radio" name="weapon" value="scissors">Scissors</input><br>
  <input type="submit" name="submit" value="PLAY!"></input>
</form>
