Player <%= @player_1_name %> created

<form action='move'>
  <label for='player_move'>
    Choose your move
  <input type='submit' value='Rock'>
  <input type='submit' value='Paper'>
  <input type='submit' value='Scissors'>
  </label>
</form>
