<h1> What is your move <%= $player.name %>?</h1>
  <form action="/win" method="get">
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
  </form>