<% if @result.nil? %>
  Waiting for your friend...
  <a href="/player1_result">See the result</a>
<% else %>
  <%= @player.compare(session[:player1_rps].to_sym,
    session[:player2_rps].to_sym) %>
<% end %>
