<p><%= @player.name %> vs. Computer!</p>

<form name="input" action="/round" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
