<%= @player_1_name %>, choose your weapon:

<select>
  <option value="Weapon:">Weapon:</option>
  <option value="Rock">Rock</option>
  <option value="Paper">Paper</option>
  <option value="Scissors">Scissors</option>
</select>
