<p>Hello, <%=@p_name.name%></p>

<p>Please enter Rock, Paper or Scissors:</p>

<form action="/result" method="post">

  <input type="text" choice="rps">
  <button type='submit'> Shoot! </button>

</form>
