<body background="">
 <center>
  <br>
   <br>
   <h3> GREETINGS <%= @player_name %> </h3>
    <h1> CHOOSE YOUR WEAPON  </h1>
  </center>
     <br>
     <a hrerf="/game">
    <form action="/game" method="post">
      <input type="image" value="ROCK" src="http://www.onformsculpture.co.uk/upload/artists/artist_supplied/Thirty%20Late/single-pebble-against-white-background-natalie-kinnear.jpg" name="weapon" height="320" width="450">
       <input type="image" value="PAPER" src="http://gb.fotolibra.com/images/previews/538316-crumpled-paper-ball.jpeg" name="weapon" height="260" width="380">
        <input type="image" value="SCISSORS" src="http://cdn.cutleryandmore.com/products/large/651.jpg" name="weapon" height="260" width="380">
    </form>
  </a>
