<div>
<b><%= @player_name %></b> vs <b>Computer</b>
</div>
<div>
<a href="/game?option=rock"><img src="/rock.png"/></a>
<a href="/game?option=paper"><img src="/paper.png"/></a>
<a href="/game?option=scissors"><img src="/scissors.png"/></a>
<a href="/game?option=spock"><img src="/spock.png"/></a>
<a href="/game?option=lizard"><img src="/lizard.png"/></a>
</div>
