Hello <%= @name %>!

Choose your weapon!

<form action="/results"  >
  1. Rock     <input type="submit" name="weapon" value="Rock"/>
  2. Paper    <input type="submit" name="weapon" value="Paper"/>
  3. Scissors <input type="submit" name="weapon" value="Scissors"/>
</form>
