<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='style/play_style.css' type="text/css" rel='stylesheet'/>
    <title>Play</title>
  </head>
  <body>

  <div class='text'>
    <h1>Welcome, <%= @player_one %>.</h1>
  </div>
  <div class='text'>
    <h2>What would you like to play?</h2>
  </div>

<form action='/winner' method='get'>
  <button type="submit" name="hand" value="rock">ROCK</button>
  <button type="submit" name="hand" value="paper">PAPER</button>
  <button type="submit" name="hand" value="scissors">SCISSORS</button>
</form>

</body>
</html>
