<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Alex plays <%= @game.player_1.weapon %> against AI Overlord<br>

    <form action="/AI_turn" method="post">
      <input type="submit" value="Opponents turn">
    </form>
  </body>
</html>
