<!DOCTYPE html>

<html>
<head>
  <style>
    form {
  text-align: center;
  }
  div {
    background-color: #e2bb85;
    color: #0a0a0a;
    padding: 22px;
  }
  </style>
</head>
<body>
  <form action="/play" method="post" >
    <div>
      <h1>Rock, Paper or Scissors?</h1>
      <h2>
        <input type="submit" style="font: 30px Arial" value="Rock" />
        <input type="submit" style="font: 30px Arial" value="Paper" />
        <input type="submit" style="font: 30px Arial" value="Scissors" />
      </h2>
      <br>
    </div>
</form>
</body>
</html>
