<h1> <%= @player.name %></h1>
<h2> Pick one! <h2>
<p>
  <form action="/outcome" method="get">
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
  </form>
</p>