<h1><p style="color:red">Welcome <%= @player.capitalize %></p></h1>
<a href='/rock'><button><input type='submit' value='Rock'></button></a>
<a href='/paper'><button><input type='submit' value='Paper'></button></a>
<a href='/scissors'><button><input type='submit' value='Scissors'></button></a>
