<form>
  <body style="background-color:blue;" style="font-family:verdana;">

    <form action="/play" method="get">
    <div>
        <h1>You have chosen  <%=@weapon%></h1>
        <br>

      </div>
</form>
