<h1><%= @player_name %> VS. Computer</h1>
<br><br>
<form action="/results">
  <input type="submit" name="submit" value="ROCK">
  <input type="submit" name="submit" value="PAPER">
  <input type="submit" name="submit" value="SCISSORS">
</form>