<%= @player %> vs Computer
<h1>             </h1>
<h1>             </h1>
<h1>             </h1>


<form action="/play" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
