<h2> Welcome <%= @player %>, please select rock, paper or scissors:</h2>

<div>
<form action="/selection" method="get">
  <input type = "submit" value="rock">
  <input type = "submit" value="paper">
  <input type = "submit" value="scissors">
</form>
</div>

