<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make your choice</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>ðŸ’¡<%= @player.name %>ðŸ’¡ make your choice</h1>
      <form action="/decider" method='post'>
        <input type="submit" value="Rock ðŸ¤˜">
        <input type="hidden" value="Rock ðŸ¤˜" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Paper ðŸ“„">
        <input type="hidden" value="Paper ðŸ“„" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Scissors âœ‚ï¸">
        <input type="hidden" value="Scissors âœ‚ï¸" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Lizard ðŸ¦Ž">
        <input type="hidden" value="Lizard ðŸ¦Ž" name="choice">
      </form>
      <form action="/decider" method='post'>
        <input type="submit" value="Spock ðŸ––">
        <input type="hidden" value="Spock ðŸ––" name="choice">
      </form>
  </body>
</html>
