<head>
  <title>Rock Paper Scissors</title>
</head>
<style>
.Page {
  background-image: url("https://memegenerator.net/img/instances/19088591/you-forgot-paper-covers-rock-but-scissors-cuts-paper-and-rock-crushes-scissors-kiff-we-have-conundru.jpg");
  margin-left: 200px;
  margin-right: 200px;
}
.interface {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("https://media.comicbook.com/2018/07/john-cena-smackdown-return-1125058-1280x0.jpeg");
  background-color: #cccccc;
}
.score {
  margin-right: 350px;
  margin-left: 350px;
  margin-top: 30px;
  background-color: white;
}
.moves{
  margin-right: 200px;
  margin-left: 200px;
}
.GO {
  padding: 30px;
  color: red;
  background-color: green;
  border-radius: 90% ;
}
.move_choice {
  background-image: url("https://media2.giphy.com/media/xTiTnoHt2NwerFMsCI/200.gif");
  background-color: #cccccc;
  flex: 1; 
}
.Radi {
  color: red;
  font-size: 25px;
}
  .Result {
  margin-left: 400px;
  margin-right: 400px;
  background-image: url("https://media.giphy.com/media/3j6WrBwv5V9Ic/giphy.gif");
  border-style: inset;
}
.moveck {
  transform: scale(1.5);
}
</style>
<body class="Page">
  <div class="interface"align="center">
    <div class="score">
      <br>
      <h1 align="center"><%=@score.join(' - ')%></h1>
      <h2 align="center"> <%=@names.join(' Vs. ')%> </h2>
      <% if !@game.first_round %>
        <h1><%= "#{@game.names[0]} used #{@game.move_list[0]} against #{@game.names[1]}'s #{@game.move_list[1]}"%></h1>
        <% end %>
      <br>
    </div>
    <div class="Result"
        <br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
    </div><br><br>
    <form class="moves"id="move"action="move"method="post">
      <div class="move_choice"align="center">
        <br>
        <br>
        <br>
        <label class="Radi">
        <input type="radio"value="Rock"name="move"id="Rock">Rock
        <input type="radio"value="Paper"name="move"id="Paper">Paper
        <input type="radio"value="Scissors"name="move"id="Scissors">Scissors
        <input type="radio"value="Lizard"name="move"id="Lizard">Lizard
        <input type="radio"value="Spock"name="move"id="Spock">Spock
        </label>
        <br>
        <br>
        <br>
      </div>
      <input class="GO"type="submit"value="Go!">
      <br><br><br><br>
    </form>
  </div>
   <div data-video=XgUB3lF9IQA
         data-autoplay="1"         
         data-loop="0"             
         id="youtube-audio">
  </div>
<script src="https://www.youtube.com/iframe_api" height="0px"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
</body>