<h1>Rock, Paper, Scissors</h1>
<h1><%= @player1_name.name %> vs Computer</h1>

<div class="hit_button">
  <form action='/rock' method='post'>
    <input name="option" type="submit" value="Rock">
  </form>
</div>

<div class="hit_button">
  <form action='/paper' method='post'>
    <input name="option" type="submit" value="Paper">
  </form>
</div>

<div class="hit_button">
  <form action='/scissors' method='post'>
    <input name="option" type="submit" value="Scissors">
</div>
