<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/play.css">
      <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    </head>
  </head>
  <body>
    <div class="title">
      <%= @single_game.player.name %> vs. Computer
    </div>
    <div class="information">
      <%= @single_game.player.name %>, pick your weapon.
    </div>
    <div class="options">
      <form action="/attack" method="post">
        <input type="submit" value="rock" class="weapon rock" name="weapon">
        <input type="submit" value="paper" class="weapon paper" name="weapon">
        <input type="submit" value="scissors" class="weapon scissors" name="weapon">
      </form>
    </div>
  <body>
</html>
