<p>
  Welcome, <%= @player_name %>
</p>

<form action="/weapon" method="post">
    <input type="submit" value="rock" name="weapon">
    <input type="submit" value="paper" name="weapon">
    <input type="submit" value="scissors" name="weapon">
</form>
