<div style = 'background-color: orange'>
<h1>Hello <%=@player%>, ready to Rock some Scissors?</h1>
</div>
<form action='/compmove', method='post'>
  <select name="move", id="move">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  <input type="submit" value="Submit">
</form>
