<h2>Player 1: <%= @game.player_one.name %></h2>
<h2>Player 2: <%= @game.player_two.name %></h2>

<div class='buttons'>
  <form action='/throw' method='post'>
    <button type='submit' name='move' value='rock'>Rock</button>
    <button type='submit' name='move' value='paper'>Paper</button>
    <button type='submit' name='move' value='scissors'>Scissors</button>
  </form>
</div>