<p>Hi, <span style="color: red;"> <%= @player_name %> </span></p>

<p>
  Make your move
  <div>
    <form action="/move" method="post">
      <input name="choice" type="submit" value="Rock">
      <input name="choice" type="submit" value="Paper">
      <input name="choice" type="submit" value="Scissors">
    </form>
  </div>
</p>
