<div>Welcome <%=@player1%>!</div></br>

<form action='/rock'>
  <input type='submit' value='Rock'>
</form>

<form action='/paper'>
  <input type='submit' value='Paper'>
</form>

<form action='/scissors'>
  <input type='submit' value='Scissors'>
</form>
