<p> Ok, <%= @game.player_1.name %>, make your choice...</p>

<form action='/player_1_move' method='post'>
<input type="submit" name="Choice" value="Rock">
</form>

<form action='/player_1_move' method='post'>
<input type="submit" name="Choice" value="Paper">
</form>

<form action='/player_1_move' method='post'>
<input type="submit" name="Choice" value="Scissors">
</form>
