<%= @game.player.name + ', please select your move' %>


<form action='/round' method='POST'>
  <button type="submit" name="move" value="rock">Rock</button>
  <button type="submit" name="move" value="paper">Paper</button>
  <button type="submit" name="move" value="scissors">Scissors</button>
  <button type="submit" name="move" value="lizard">Lizard</button>
  <button type="submit" name="move" value="spock">Spock</button>
</form>
