ro<!DOCTYPE html>
<html>

  <head>
    <title>Rock Paper Scissors!</title>
  </head>

  <body>
<div>
  <center>
      Greetings, <%= @name %>!
      <br><br>
      Choose your weapon.
      <form action="/result" method="post">
        <input type="radio" id="weapon" name= "rock" value="rock">Rock
        <br>
        <input type="radio" id="weapon" value="paper">Paper
        <br>
        <input type="radio" id="weapon" value="scissors">Scissors
        <br>
        <input type="submit" value="submit">
      </form>
</div>
  </center>

  </body>
</html>
