<h1><%= @player_name %> VS. Computer</h1>
<br><br>
<form action="/results">
    <% @game.choices.each do |choice| %>
    <input type="submit" name="submit" value=<%= choice.name %>>
    <% end %>
</form>