<html>
<body style="background-color:powderblue;"><center>
<h1>Hello <%=@name%>!</h1>
<form action="/game" method="post">
Please enter a move <input type="text" name="move">
  <input type="submit" value="Play!">
</form>
</body>
</html>
