<%= @game.players.first.name %> vs Computer <br>
<br>

<form action="/play_game" method="post">
  <button type="submit" name="choice" value="rock"> Rock </button>
</form>
<form action="/play_game" method="post">
  <button type="submit" name="choice" value="paper"> Paper </button>
</form>
<form action="/play_game" method="post">
  <button type="submit" name="choice" value="scissors"> Scissors </button>
</form>