<!DOCTYPE html>
  <html>

    <head>


    </head>

    <style>


    </style>


    <body>
    <h1>Choices have been decided</h1>

    <h3> <%= @game.player1.name %>: <%= @game.player1.choice %> </h3>
    <h3> <%= @game.player2.name %>: <%= @game.player2.choice %> </h3>

    </body>

  </html>
