<%= @player_1_name %>

<form action="/play" method="post">
  <input type="submit" name="option" value="Rock">
  <input type="submit" name="option" value="Paper">
  <input type="submit" name="option" value="Scissor">
</form>

You have selected <%= @option %>