<h1>Hello <%= @name %>!</h1>

<h2> Choose your weapon! </h2>

<form action="/results"  >
     <input type="submit" name="weapon" value="Rock"/>
     <input type="submit" name="weapon" value="Paper"/>
     <input type="submit" name="weapon" value="Scissors"/>
</form>
