<h1><%= @name %> </h1>
<h2>Welcome to the fist!</h2>

<form action="/game_outcome" method="post">
  <input type="submit" name="p1_name" value="Rock">
  <input type="submit" name="p1_name" value="Paper">
  <input type="submit" name="p1_name" value="Scissors">
</form>
