<div class="game">
<h3>Now it's time to play <%= @player_name %> !</h3>


<div>
<form>
<label for=text>Rock
<input type="checkbox" name="option1" value="rock" id="rock">
<label>

<label for=text>Paper
<input type="checkbox" name="option2" value="paper" id="paper">
<label>

<label for=text>Scissors
<input type="checkbox" name="option3" value="scissors" id="scissors">
<label>

</form>
</div>

</div>

<style>
.game{
margin: auto;
width: 50%;
padding: 10px;
}
</style>
