<body style="text-align:center;">
    <img src="https://s28209.pcdn.co/wp-content/uploads/2017/04/rock-paper-scissors-featured.jpg" alt="rock paper scissors">
    <h3 style="font-family:Palatino; font-size:150%; background-color:SlateBlue; color:white;">Player name: <%= @player1_name %></h3>
</body>