Player: <%= @player_name %> <br>
</br>

Select your weapon of choice <br>
<br>

<form action="/result" method="post">
  <input type="submit" value="ROCK">
  <input type="submit" value="PAPER">
  <input type="submit" value="SCISSORS">
</form>
