<h1><%= @game.player.name %> vs <%= @game.opponent.name %>!  </h1>

<form action="/player-1-selection" method="post" >
  <label>What's your selection <%= @game.player.name %>? </label>

  <select name="choices">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
    <option value="Lizard">Lizard</option>
    <option value="Spock">Spock</option>
  </select>

  <input type="submit" value="Submit">
<form>