<!DOCTYPE html>
<html>
  <head>
    <title>ROCK. PAPER. SCISSORS.</title>
  </head>
  <body>
    <header>
      <h1>ROCK. PAPER. SCISSORS.</h1>
      <h2><%=current_player.name%></h2>
    </header>
    <div>
      <form>
        <input type="submit" value="Rock"/>
        <input type="submit" value="Paper"/>
        <input type="submit" value="Scissors"/>
      </form>
    </div>
  </body>
</html>