<body bgcolor="#8C7853">
  <h1><b><center> &#10063; &#10061; &#9988; Welcome <%=@turn.player_name%> &#10063; &#10061; &#9988;</center></h1></b>
  <link rel='stylesheet' href='css/style.css'><img class='RPS' src ='https://www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg'  HEIGHT="400" WIDTH="1300">
  <h1><b> <center> Choose one of the following weapons... and good luck ! </center></h1></b>
  <form method="POST" action="/play">
    <div style="text-align:center" >
      <input type="submit" name="weapon" value="Rock"  style="height:150px; width:100px"/>
      <input type="submit" name="weapon" value="Paper" style="height:150px; width:100px"  />
      <input type="submit" name="weapon" value="Scissors" style="height:150px; width:100px"/>
    </div>
  </form>

  You have chosen <%=@turn.player_weapon.to_s.capitalize %>

  <div id="opponent_weapon">
    Your opponent has chosen <%=@turn.opponent_weapon.to_s.capitalize%>
  </div>

  <% if @turn.win? %>
  You win!
  <%elsif @turn.lose? %>
  You lose!
  <%else%>
  Draw!
  <%end %>
