<!DOCTYPE html>

<html>
	<body>
		<h1><%= @game.player.name %> vs The Computer</h1>
		<br>
		<h3>Choose your weapon!</h3>
			<form>
			<input type="submit" value="Rock">
			<input type="submit" value="Paper">
			<input type="submit" value="Scissors">
			<input type="submit" value="Lizard">
			<input type="submit" value="Spock">
		</form>
	</body>
</html>