<head>
  <style>
    body {
      background-image: url('https://wrpsa.com/wp-content/uploads/2021/08/rock-paper-scissors-neon-icons-vector.jpg');
      background-size: cover;
      color: #1aff1a;
      text-shadow: 1px 1px black;
    }
    #container {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 100;
      right: 0;
      left: 0;
      margin: auto;
      width: 40%;
      height: 60%;
      text-align: center;
    }
    .choice {
      margin-top: 1.5rem;
      margin-bottom: 0;
      font-size: 1.1rem;
    }
    .rps {
      font-size: 1.6rem;
      text-transform: uppercase;
      margin-top: 0.5rem;
    }
    /* #rps-options {
      background-color: pink;
    } */
    input {
      background-color: #ffff33;
      color: #000099;
    }
  </style>
</head>
<body>
  <div id="container">

    <h1> Bot vs. <%= @player.name %> </h1>
    <p> Choose wisely: </p>
    <%# 3 choices %>
    <section id='rps-options'>
      <form action='/choose_rock'>
        <input type='submit' value='Rock'>
      </form>
      <form action='/choose_paper'>
        <input type='submit' value='Paper'>
      </form>
      <form action='/choose_scissors'>
        <input type='submit' value='Scissors'>
      </form>
    </section>
    <%# after player picks one this section is updated %>
    <section>
      <p class='choice'><%= @player.name %>'s choice:</p>
      <p class='rps'><%= @rock || @paper || @scissors %> </p>
    </section>

    <section>
      <p class='choice'>Bot's choice:</p>
      <p class='rps'> <%= @choice %> </p>
    </section>
  </div>
</body>