<h3> <%= @game.player_1.name %> plays rock scissor paper. Good luck! </h3>

<h4> Please choose one: </h4>
<form action ='/confirmation-single'>
  <button name="option" type= "submit" value="rock"> Rock  </button>
  <button name="option" type= "submit" value="scissor"> Scissor </button>
  <button name="option" type= "submit" value="paper"> Paper  </button>
</form>
