<head>
  <link rel='stylesheet' href='index.css' media='screen' title='no title' charset='utf-8'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
</head>
<body class = "play_page">
  <h1>Hello, <%= @game.player.name%>! </h> <h2>Let's start the game!</h2>
    <form action='/playerchoice' method='post'>
      <label for='choice'>Please make your choice:</label>
        <input type='submit' value='Rock' name = 'Rock'>
        <input type='submit' value='Paper' name = 'Paper'>
        <input type='submit' value='Scissors' name = 'Scissors'>
      </form>
    </body>
