<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Rock, paper and scissors</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>Rock, paper and scissors</h1>
    </header>

      <div class="center">
      <h2>Hello <%= @name %>! Rock, paper or scissors?</h2>
       <form action="/game" method="post">
         <input type="text" name="move" placeholder="Write your move">
         <button type="submit">Play</button>
       </form>
      </div>
  </body>
</html>
