<div style = 'width: 100%; text-align: center; background-color: ##6699ff; font-size: 1.3em; height: 100%'>
<h1>Welcome <%=@name%>!</h1>
<p>Computer vs. <%=@name%> </p>
<p>Choose your attack:</p>

<form action="/play" method="post">
  <select name="user_choice">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select> <br>
   <input type="submit" name="Go" value="Go" style ='width: 5%; height: 5%; border-radius: 50px; margin-top: 20px'>
</form>

</div>
