<body class="play_page">
  <%= @game.player.name %> vs. bot
  <br><br>
  Choose a weapon...
  <br><br>
  <section class="weapon_form">
    <form action="/battle" method="post">
      <input type="submit" value="Rock" name="weapon">
      <input type="submit" value="Paper" name="weapon">
      <input type="submit" value="Scissors" name="weapon">
    </form>
  </section>


  <section class="battle_results">
    <% if @game.player.weapon %>
      <%= @game.player.name %> chose <%= @game.player.weapon %>
    <% end %>
  </section>
</body>
