<%= @game.player.name %>'s Game
<form action="/result" method="get">
<input type="submit" name="Rock" value="Rock">Rock</button>
<input type="submit" name="paper" value="Paper">Paper</button>
<input type="submit" name="scissor" value="Scissor">Scissor</button>
</form>
