<form action="/result">
Ah, <%= @player_1_name%>, you know the drill...
<br/>
<label>
    Rock, Paper, Scissors?
    <br/>
    <input type="text" name="choice">
</label>

    <input type="submit" value="Submit">
</form>