<html>
<h1><%= @game.players[0].name %> vs. <%= @game.players[1].name %></h1>
<h2><%= @game.players[@game.turn_manager.turn].name %> - please select your choice</h2>
<form action='player-choice' method ='post'>
  <div>
    <input type="radio" id="Choice1"
           name="rock" value="rock">
    <label for="Choice1">Rock</label>
  </div>
  <div>
    <input type="radio" id="Choice2"
           name="paper" value="paper">
    <label for="Choice2">Paper</label>
  </div>
  <div>
    <input type="radio" id="Choice3"
           name="scissors" value="scissors">
    <label for="Choice3">Scissors</label>
  </div>
  <div>
    <button type="submit" name ="submit">Submit</button>
  </div>
</form>

</html>