<h1><%= @player %> vs Computer</h1>
<h2>Select one of the following</h2>
<form action="/play" method="get">
  <input type="submit" name="Rock"  value="Rock">
  <input type='submit' name='Paper' value='Paper'>
  <input type='submit' name='Scissors' value='Scissors'>
</form>
