<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Play page</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
  <div class="container">
    <section class="center-align">
      <h4>It's <%= player %> Vs Computer</h4>
      <hr>
      <h5>Choose a move to play</h5><br>
    </section>

    <section class="center-align">
      <form action="/api/attack" method="post">
        <input type="submit" name="move" value="Rock">
        <input type="submit" name="move" value="Paper">
        <input type="submit" name="move" value="Scissors">
      </form>
    </section>
  </div>

  <script src="/js/materialize.js"></script>
</body>
</html>