<h2 color="blue"> Puny <%= $player.name %>, You dare challenge me?</h2>
<h3>Very well. Commenceth the game!</h3>
<form action="/attack" method="post">
  <input type='submit' value="Rocketh">
  <input type='submit' value="Paperth">
  <input type='submit' value="Scissorththhth">
</form>
