<head>
    <link rel="stylesheet" type="text/css" href="play.css">
</head>

<body>

  <div class="gamestart">
    <h2> Welcome <%= @player %></h2>
  </div>

  <div class="start">
    <h4> Are you ready to rumble? Pick your choice! </h4>
  </div>

<div class="rimage">
  <img src="https://media.giphy.com/media/xtAP7Us20PlDi/giphy.gif" style="width:250px;height:170px;" />
</div>

<div class="simage">
  <img src="https://media.giphy.com/media/277qtNfJNNCGk/giphy.gif" style="width:250px;height:170px;" />
</div>

<div class="pimage">
  <img src="https://media.giphy.com/media/yUrUb9fYz6x7a/giphy.gif" style="width:250px;height:170px;" />
</div>


<div class="rock">
  <form action = '/rock' method = 'post' >
    <input type='submit' value='Rock'>
  </form>
</div>

<div class="scissors">
  <form action = '/scissors' method = 'post' >
    <input type='submit' value='Scissors'>
  </form>
</div>

<div class="paper">
  <form action = '/paper' method = 'post' >
    <input type='submit' value='Paper'>
  </form>
</div>

</body>
