<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Assistant:800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1><%= @player_name %></h1>

    <form action="/move" method="post">
      <table>
        <tr>
          <td width="33%"><input type="submit" name="player_move" value="Rock"></td>
          <td width="34%"><input type="submit" name="player_move" value="Paper"></td>
          <td width="33%"><input type="submit" name="player_move" value="Scissors"></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>
