<!DOCTYPE html>

<%= "Prepare to fight #{ @player1 }!" %><br>
<form action="/" method="post">
<button onclick="myFunctionRock()" id="r" >Rock!</button>
<button onclick="myFunctionPaper()" id="p" >Paper!</button>
<button onclick="myFunctionScissors()" id="s" >Scissors!</button>
<script>
let choice
let botArray = ["Rock" , "Paper" , "Scissors"]
let outcome
let rand = botArray[Math.floor(Math.random() * botArray.length)]
function myFunctionRock() {
  choice = "Rock";
  jsLogic()
}

function myFunctionPaper() {
  choice = "Paper"
  jsLogic()
}

function myFunctionScissors() {
  choice = "Scissors";
  jsLogic()
}

function jsLogic() {
  if choice == rand
    document.write("No One Wins!");
  } else if choice == "Rock" && rand == "Paper"
    outcome = "You Lose!";
  } else if choice == "Rock" && rand == "Scissors"
    outcome = "You Win!";
  } else if choice == "Paper" && rand = "Rock"
    outcome = ("You Win!";
  } else if choice == "Paper" && rand = "Scissors"
    outcome = "You Lose!";
  } else if choice == "Scissors" && rand = "Rock"
    outcome = "You Lose!";
  } else if choice == "Scissors" && rand = "Paper"
    outcome = "You Win!";
  }
  alert(outcome)
}
  </script>

 </form>
