<link rel="stylesheet" href="main.css"/>

<div class="page">
  <table width="500px">
  <tr>
    <th colspan="3"><h1>Hello, <%= @game.player.name.capitalize %>!</h1></th>
  <tr>
    <th colspan="3">
      <span style="line-height:150%">
        Take a deep deep breath<br>
        Don't think too much<br>
        Just follow your instinct<br>
      </span>
      <h2>Now choose one of them!</h2><br>
    </th>
  </tr>
  <tr>
    <th>
      <form action="/rock" method="post">
        <input type="image" src="rock.jpg" value="rock" width="200px">
      </form>
    </th>
    <th>
      <form action="/paper" method="post">
        <input type="image" src="paper.jpg" value="paper" width="140px">
      </form>
    </th>
    <th>
      <form action="/scissors" method="post">
        <input type="image" src="scissors.jpg" value="scissors" width="150px">
      </form>
    </th>
  </tr>
</table>
</div>
