<%= @player_name %>
<div>
<form action='/who_wins' method='post'>
  <input type='hidden' name='player_weapon' value='Rock' />
  <input type='submit' value='Rock' />
</form>
<form action='/who_wins' method='post'>
  <input type='hidden' name='player_weapon' value='Scissors' />
  <input type='submit' value='Scissors' />
</form>
<form action='/who_wins' method='post'>
  <input type='hidden' name='player_weapon' value='Paper' />
  <input type='submit' value='Paper' />
</form>
</div>
