<h1> Hello, <%= @name %> </h1>

<form action="/play" method="POST">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>

<%= @name %> you selected <%= @move %>!
