<div>
  <% if !@choice %>
    <p> Will you choose rock, paper or scissors? </p>
    <form action='/winning'>
      <input type='text' name='choice'>
      <input type='submit' value='Your choice is final!'>
    </form>
  <% end %>
</div>