<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>

  <h2> Welcome <%= @game.player_1.name %> </h2>
  <h3>Select Rock, Papers or Scissors.</h3>

  <form>
    <input type="button" onclick="location.href = '/outcome'" value="Rock"/>
  </form>

</body>
</html>