<h2>Choose your weapon...</h2>
<div>
  <form action='/result' method='post'>
    <input name='weapon' type='submit' value='Rock'>
  </form>
  <form action='/result' method='post'>
    <input name='weapon' type='submit' value='Paper'>
  </form>
  <form action='/result' method='post'>
    <input name='weapon' type='submit' value='Scissors'>
  </form>
</div>
