<h3><%= @marketeer %> vs Computer </h3>
<form action='/rock_response' method="post">
  <button>Rock</button>
</form>
<form action='/paper_response' method="post">
  <button>Paper</button>
</form>
<form action='/scissors_response' method="post">
  <button>Scissors</button>
</form>
