<h1><%= $game.player %> vs Computer!!</h1>

<form action="/options" method="post">
  <input type="submit" value="Rock" name="choice" style = "margin-top: 15px;">
  <input type="submit" value="Paper" name="choice" style = "margin-top: 15px;">
  <input type="submit" value="Scissors" name="choice" style = "margin-top: 15px;">
</form>

<h1><%= $game.choice %></h1>
