<div>Hello, <%=name%>. You are playing with computer.</div>
<form action='/winner' method='post'>
  <p>Select one:</p>
  <input type='radio' name='choice'value='rock' id='rock'>
  <label for='rock'>ROCK</label>
  
  <input type='radio' name='choice' value='paper'id='paper'>
  <label for='paper'>PAPER</label>

  <input type='radio' name='choice'value='scissors' id='scissors'>
  <label for='scissors'>SCISSORS</label>

  <input type='submit' value='Submit'>
</form>
