<h2>Welcome <%= @game.player.name %>, let's start a game!</h2>

<form action="/choose_weapon" method="post">
  <label for="rock">
    Rock
    <input type="radio" name="player_choice" id="rock" value="rock">
  </label>

  <label for="paper">
    Paper
    <input type="radio" name="player_choice" id="paper" value="paper">
  </label>

  <label for="scissors">
    Scissors
    <input type="radio" name="player_choice" id="scissors" value="scissors">
  </label>

  <label for="spock">
    Spock
    <input type="radio" name="player_choice" id="spock" value="spock">
  </label>

  <label for="lizard">
    Lizard
    <input type="radio" name="player_choice" id="lizard" value="lizard">
  </label>

  <input type="submit" value="OK">
</form>
