<!DOCTYPE html>
<html>
<head>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1>Game Menu</h1>
  <div id="gametype">
    <form action="/single_player">
      <input type='submit' value='single-player'>
    </form>
    <form action="/multi_player">
      <input type='submit' value='multi-player'>
    </form>
  </div>
</body>
</html
