<h1><%=@player_name%>, choose your move!</h1>
<form action='/save_move' method='post'>
  <select name='player_move'>
    <option value='rock'>Rock</option>
    <option value='paper'>Paper</option>
    <option value='scissors'>Scissors</option>
  </select>
  <button type='submit'>Go!</button>
</form>
