<h2> <%= @player_name %> vs. <% @computer_name %> </h2>
<br>
<%= @player_name %> Please enter below: rock, paper or scissors 
<br>
<form action='move' method='post'>
  <input type='text' name='player_move'>
  <input type="submit" value="Submit">
</form>