<p>Hello, <%= @name2 %>!</p>
<form action='/select2?player2=ROCK' method='post'>
    <input type='submit' value="ROCK">
</form>
<form action='/select2?player2=PAPER' method='post'>
    <input type='submit' value="PAPER">
</form>
<form action='/select2?player2=SCISSORS' method='post'>
    <input type='submit' value="SCISSORS">
</form>