<h1>Choose your item:</h1>
<table>
  <tr>
    <td><div><img src="https://www.dropbox.com/pri/get/Web/rock.jpg?_subject_uid=63541668&w=AABJvY-4YD4bJSBaKRPz7i2NsIv0Bo-8NXrLBuraGdYyyw"></div></td>
    <td><div><img src="https://www.dropbox.com/pri/get/Web/paper.jpg?_subject_uid=63541668&w=AACmW2yNVBMDVE817u8qw0zNvTeX9GUI7RwNNCNmN7xNxQ"></div></td>
    <td><div><img src="https://www.dropbox.com/pri/get/Web/scissors.jpg?_subject_uid=63541668&w=AAC7T6gA-rBAH7oMJ0Dngg0N3vGbj4LqkNcZGy-QJ7xO2Q"></div></td>
  </tr>
  <tr>
    <td><form action="/rock" method="post">
      <input type="submit" name="Rock">
    </form></td>
    <td><form action="/paper" method="post">
      <input type="submit" name="Paper">
    </form></td>
    <td><form action="/scissors" method="post">
      <input type="submit" name="Scissors">
    </form></td>
  </tr>
  </form>
</table>
