<center>
  <body bgcolor='yellow'>
<html style='font-family: futura;'>
<font size=40>R     |     P    |     S</font>
<font size=100></font>
<h2> Welcome Please Enter Your Name </h2>

<form action='/names' method='post'>
  <input type='text' name='player1'>
<div>
</div>
<div id="centerbuttons">
  <input type='submit' value='DUEL'>
</div>
</form>
</html>
