<style>
  .container {
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
  }
</style>
<div class="container">
  <h2>
    Choose your weapon <%= @name %>:
  </h2
  <div class="weapon-list">
    <ul>
      <li>Rock</li>
      <li>Paper</li>
      <li>Scissors</li>
    </ul>
  </div>
</div>
