<h1><%=@player.name%> vs. Computer</h1>

<form method="get" action="/result">
  <button id="rock" type="submit" value="rock" name="rock">Rock</button>
  <button id ="paper" type="submit" value="paper" name="paper">Paper</button>
  <button id="scissors"type="submit" value="scissors" name="scissors">Scissors</button>
</form>
