Welcome <%= @name %>.

Choose your weapon...
<br><br>
<form action="/result">
  <input type="submit" value="Rock">
</form>
<form action="/result">
  <input type="submit" value="Paper">
</form>
<form action="result">
  <input type="submit" value="Scissors">
</form>
