<head>
<link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="container"><h1> Welcome <%= @player_name  %> </h1>

<h2> Please choose your move </h2>

<a href="/rock"><button id="rock">Rock</button></a>
<a href="/paper"><button id="paper">Paper</button></a>
<a href="/scissors"><button id="scissors">Scissors</button></a>
</div>
</body>