<h1><%=@player_1%> VS. Computer </h1>
<form action="/round_1" method="post">

  <input type="submit" name="attack" value="Rock"> 
   <input type="submit" name="attack" value="Paper">
    <input type="submit" name="attack" value="Scissors">
</form>