<h2> <%= @player.name %>, pick an option </h2>

<form method="POST" action="/result">
    <button name="attack" type="submit" value="Attack">Rock</button>
    <button name="attack" type="submit" value="Attack">Paper </button>
    <button name="attack" type="submit" value="Attack">Scissors</button>
</form>