
<html>
<head>
<style>
h1 {text-align: center;}
form {text-align: center;}
p {text-align: center;}
</style>
</head>
<body style="background-color:powderblue;">

<h1>Welcome to the game, <%= @player %>!</h1>

<form action='/player_move' method="post">
  <label for="move">Choose a move:</label>
  <select id="move" name="choice">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>

<p> You chose <%= @choice %></p>

</body>
</html>
