<h1> <%= $game.player_1 %> - Make your move </h1>

<form action="/results" method="post">
    <input type="hidden" name="selection" value="rock" />
    <input type="submit" value="Rock">
</form>

<form action="/results" method="post">
    <input type="hidden" name="selection" value="paper" />
    <input type="submit" value="Paper">
</form>

<form action="/results" method="post">
    <input type="hidden" name="selection" value="scissors" />
    <input type="submit" value="Scissors">
</form>
