<h2><%= @game.player.name.capitalize %>, Select your choice</h2>
<div class="">
  <form action="/move" method="post">
    <input name="choice" type="submit" value="Rock">
    <input name="choice" type="submit" value="Paper">
    <input name="choice" type="submit" value="Scissor">
  </form>
</div>
