<center>
  <h1>Feeling lucky <%= @p1 %>?</h1>
  <br><br>

   <h3>Make your move</h3>
   <br><br>

   <form action="/choice" method="post">
         <input value="Rock" type="submit" name="move">
         <input value="Paper" type="submit" name="move">
         <input value="Scissors" type="submit" name="move">
   </form>
</center>
