<p>Player Name: <%= @game.player.name %></p>

<form action="/player_moves" method="post">
  <fieldset>
    <legend>Enter your move</legend>
    <div>
      <input type="radio" name="move" id="rock" value="rock">
      <label for="pock">rock</label>
    </div>
    <div>
      <input type="radio" name="move" id="paper" value="paper">
      <label for="paper">paper</label>
    </div>
    <div>
      <input type="radio" name="move" id="scissors" value="paper">
      <label for="scissors">scissors</label>
    </div>
    <div>
      <input type="submit" value="Play">
    </div>
  </fieldset>
</form>