<h1>Welcome <%= @name %>!</h1>
<p>Choose your weapon!</p>
<form method="GET" action='/result'>
  <input type='submit' name='weapon' value='ROCK'/>
  <input type='submit' name='weapon' value='PAPER'/>
  <input type='submit' name='weapon' value='SCISSORS'/>
</form>
