<%= @player_1_name %> is playing vs <%= @computer_name %>!

<form action="/rock_computer">
  <input type="submit" value="Rock">
</form>
<form action="/paper_computer">
  <input type="submit" value="Paper">
</form>
<form action="/scissors_computer">
  <input type="submit" value="Scissors">
</form>
<form action="/">
  <input type="submit" value="Quit">
</form>
