<center><h1>Welcome to Scissors, Paper, Rock</h1>
<h2>Do you want to challenge a Computer or a Human?</h2>


<form action='/one_player' method='get'>
  <input type="submit" value="Computer">
</form>

<form action='/two_players' method='get'>
  <input type="submit" value="Human">
</form>
</center>

