<h1> <%= @game.player1.name %> vs The Computer </h1>

<form id="moves" action='/move' method="post">
    <input id="rock"
    type="submit" name="move" value="rock">

    <input id="paper"
    type="submit" name="move" value="paper">

    <input id="scissors"
    type="submit" name="move" value="scissors">

    <input id="spock"
    type="submit" name="move" value="spock">

    <input id="lizard"
    type="submit" name="move" value="lizard">
</form>
