Choose your weapon, <%= @player.name %>

<form method='post' action='/weapon'>
  <div class='button'>
    <input type='submit' value='paper' id='paper'>
  </div>
  <div class='button'>
    <input type='submit' value='scissors' id='scissors'>
  </div>
  <div class='button'>
    <input type='submit' value='rock' id='rock'>
  </div>

</form>
