<h1> Welcome to Rock Paper Scissors, <%= @player.name %>! </h1>
<br>
<br>
<form action="/choice" method="post">
<button type="choice">Rock</button>
<button type="choice">Paper</button>
<button type="choice">Scissors</button>
</form>
