
<h1><font size="8" color="red" font face="arial"><%= @player_name %> vs. Computer</font></h1>
<h2><font size="6" color="red" font face="arial">Ready to play!</font></h2>
<br />
<h3><font size="5" color="red" font face="arial"><%= @player_name %>, please select your weapon of choice!</font></h3>
<br />

<form action="/rock">
  <input type="submit" value="Rock"/>
  </form>

  <form action="/paper">
    <input type="submit" value="Paper"/>
    </form>

    <form action="/scissors">
      <input type="submit" value="Scissors"/>
      </form>
<!-- <a href="/rock">Rock</a>
<a href="/paper">Paper</a>
<a href="/scissors">Scissors</a> -->
