Hi <%= session[:players][0].name %>, ready to play?
<br /><br />

<form action="/move" method="post">
  <label for="move">
    Enter your move:
    <input type="text" name="player_0_move" value="Rock">
  </label>
  <br /><br />
  <input type="submit" value="Submit">
</form>

