Welcome, <%= @name %>

<form method="POST" action="/play">
  <input type="submit" name="shape" value="rock" />
  <input type="submit" name="shape" value="paper" />
  <input type="submit" name="shape" value="scissors" />
</form>


You selected <%= @shape %>!

<div id="opponent">
Opponent selected <%= @opponent_shape %>!
</div>
