<h1>Play Rock Paper Scissors</h1>

<form action = "/move" method = "post">

  <label for = "rockpaperscissors">
    Enter r for Rock, p for Paper, s for Scissors.
  <input type = "text" name = "rockpaperscissors">
  </label>
  <input type = "submit" name = "Submit">
</form>

<%= @playername %> vs computer
