<%= @game.player_1.name %> vs. Computer
<br>
Please choose your weapon!

<form action="/result" method="post">
<input type="submit" value="Rock">
<input type="submit" value="Paper">
<input type="submit" value="Scissors">
</form>

<!-- <form action="/result" method="post">
  <button type="submit" value='rock' name='weapon'>Rock </button>
</form>

<form action="/result" method="post">
  <button type="submit" value='paper' name='weapon'>Paper </button>
</form>

<form action="/result" method="post">
  <button type="submit" value='scissors' name='weapon'>Scissors </button>
</form> -->