<h1> <%= @player_1_name %> vs. RPS-A-TRON 5000 </h1>

<h2> Choose your weapon! </h2>

<form action="/play" method="post">
  <input type="submit" name="weapon" value="Rocking Rock"</>
  <input type="submit" name="weapon" value="Powerful Paper"</>
  <input type="submit" name="weapon" value="Slicing Scissors"</>
</form>

<h2> You chose <%= @weapon %>! </h2>

<h2> RPS-A-TRON 5000 chose <%= @pc_weapon %>! </h2>

<% if @turn_result.win? %>
Congratulations..You bested RPS-A-TRON 5000..Wait for RPS-A-TRON 5001!
<% elsif @turn_result.lose? %>
HA! Naturally you lsot to RPS-A-TRON 5000
<% elsif @turn_result.draw? %>
I-i-imposible you drew with RPS-A-TRON 5000?!?
<% end %>
