<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
<style>
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
  height:100%;
  width:100%;
  position:fixed;
  background-image: url("http://www.radleyice.com/wp-content/uploads/2012/06/DSC_3375-Edit.jpg");
  background-color: #93B874;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<body>
<h2><%= @game.human.name %>, choose your lizard</h2>
<h3>Ultradominant Orange-throat</h3>
<form action="/orange-throat" method="post">
    <input type="image" src="http://www1.ucsc.edu/currents/02-03/art/orange_lizard.03-06-23.200.jpg" alt="Orange-throat" width="78" height="78" />
</form>
<h3>Dominant Blue-throat</h3>
<form action="/blue-throat" method="post">
    <input type="image" src="http://www1.ucsc.edu/currents/02-03/art/machoblue.03-06-23.200.jpg" alt="Blue-throat" width="78" height="78" />
</form>
<h3>Yellow-throated sneaker</h3>
<form action="/yellow-throat" method="post">
    <input type="image" src="http://www1.ucsc.edu/currents/02-03/art/yellow_lizard.03-06-23.jpg" alt="Yellow-throat" width="78" height="78" />
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
</body>
