<h2> <%= @game.player.name %> vs. <%= @game.computer.name %> </h2>
<br>
<%= @game.player.name %> please enter below: rock, paper or scissors 
<br>
<form action='/rps' method='post'>
  <input type='text' name='player_move'>
  <input type="submit" value="Submit">
</form>