<body style="background-color:lightgrey;font-family:helvetica;">
<center><h1 style="text-align:center;">Rock, Paper, or Scissors, you decide!</h1>


  <h2>Hello <%= @name %> welcome to the armoury!</h2>

<form action="/game" method="post">
  <input type="submit" name="weapon_type1" value="Rock"><br>
  <input type="submit" name="weapon_type2" value="Paper"><br>
  <input type="submit" name="weapon_type3" value="Scissors"><br>
</form></center>

</body>
