Please select a choice:
<form action='/game' method='get'>
<input type="radio" name="choice" value="rock">Rock<br>
<input type="radio" name="choice" value="paper">Paper<br>
<input type="radio" name="choice" value="scissor">Scissors<br>
<input type="submit" value="Let's play!">
</form>
<p><%="#{outcome}"%><p/>

<br>
<form action='/'>
<input type="submit" value="I'm finished">
</form>