<!DOCTYPE html>

<html>
<head>
  <style>
    form {
  text-align: center;
  }
  div {
    background-color: #e2bb85;
    color: #0a0a0a;
    padding: 22px;
  }
  </style>
</head>
<body>
  <form action="/calculate" method="post" >
    <div>
      <h1>Choose your weapon: Rock, Paper or Scissors?
        <input type="submit" value="Rock" name="weapon_type"/>
        <input type="submit" value="Paper" name="weapon_type"/>
        <input type="submit" value="Scissors" name="weapon_type"/>
      </h1>
      <br>
    </div>
</form>
</body>
</html>
