Hello, <%= @move.name %>!

<form method="post" action="/play">
  <input type="submit" name="choice" value="Rock" />
  <input type="submit" name="choice" value="Paper" />
  <input type="submit" name="choice" value="Scissors" />
</form>

You chose <%= @move.choice %>!
<div id="computer">
  The computer chose <%= @move.computer_choice.to_s.capitalize %>!
</div>
