<h3 class="text-center" >What's your name?</h3>

<form action='/player' method='post' class="text-center">
  Your name: <input type= 'text' name= 'name' class="text-center" required>
  <input type= 'submit' name= 'Submit' value= 'Submit!' required>
</form>