<div style="text-align: center; font-family: 'Trebuchet MS'; color: blue; font-size: 40px; padding: 50px; border: 50px solid blue; background-color: green">
  <p>
    <%= @player %> vs. Venom
  </p>
</div>