
<p> Player: <%= $name %> vs. Computer </p>

<form action="/result">
  <input type="submit" id="rock" value="Rock">
</form>

<form action="/result">
  <input type="submit" id="paper" value="Paper">
</form>

<form action="/result">
  <input type="submit" id="scissors" value="Scissors">
</form>
