
<p>User: <%=@game.player1.name%></p> 

<img src="rock.png" alt="">

<form action="/result" method="post" >

<button type="submit" name="result" value="Rock"><img src="/images/rock.png"></button>
<button type="submit" name="result" value="Paper"><img src="/images/paper.png"></button>
<button type="submit" name="result" value="Scissors"><img src="/images/scissors.png"></button>

</form>