<%= @player_name %> vs Computer <br>
<br>

<form action="/game" method="post">
  <button type="submit" id="choice" value="rock"> Rock </button>
  <button type="submit" id="choice" value="paper"> Paper </button>
  <button type="submit" id="choice" value="scissors"> Scissors </button>
</form>