<h1>Welcome <%= @marketeer_name.capitalize %>!</h1>

<h2>Choose: Rock, Paper or Scissors</h2>
<!-- <form action="/register" method="post" > -->
   <input type="submit" value="Rock">
   <input type="submit" value="Paper">
   <input type="submit" value="Scissors">
 <!-- </form> -->
