<div>
  <h2>
    <%= @player %>, are you ready to play?
   </h2>
</div>

<div>
  <h3>Make your move... </h3>
  <input type='radio' id='rock' name='options' value='rock'>
  <label for='rock'>Rock</label>
  <input type='radio' id='paper' name='options' value='paper'>
  <label for='Paper'>Paper</label>
  <input type='radio' id='scissors' name='options' value='scissors'>
  <label for='scissors'>Scissors</label>
</div>

<div>
  <input type='button' value='Play!'>
</div>