<h1>Welcome <%= @player.name %></h1>

Please pick an option:
<form action='/choice' method='post'>
  <select name="option">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
  <input type="submit" name="Submit" value="Submit">
</form>
