<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color:#FCFAFC;">
        <div class="container">
            <div class="span12" align="center">
                <h1>
                    <%= @player_name.name %>
                    Vs. Computer
                    <h1></div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-1 centered">
                            <form action='/rock' method='post'>
                                <input type='submit' value='Rock' class="btn btn-default">
                            </form>
                        </div>
                        <div class="col-md-1 centered">
                            <form action='/paper' method='post'>
                                <input type='submit' value='Paper' class="btn btn-default">
                            </form>
                        </div>
                        <div class="col-md-1 centered">
                            <form action='/scissor' method='post'>
                                <input type='submit' value='Scissor' class="btn btn-default">
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 centered">
                            <h3>User Input:
                                <%= @player_input %></h3>
                        </div>
                        <div class="col-md-2 centered"></div>
                        <div class="col-md-5 centered">
                            <h3>Computer Input:
                                <%= @computer_result %></h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5 centered">
                            <% if @player_input == :rock %>
                            <img src="/img/human_rock.gif" alt="Human Rock Gif" height="400" width="400"/>
                            <% elsif @player_input == :paper %>
                            <img src="/img/human_paper.gif" alt="Human Paper Gif" height="400" width="400"/>
                            <% elsif @player_input == :scissor %>
                            <img src="/img/human_scissor.gif" alt="Human Scissor gif" height="400" width="400"/>
                            <%else%>
                            <img src="/img/human_hand.png" alt="Human hand png" height="400" width="400"/>
                            <% end %>
                        </div>

                        <div class="col-md-2 centered">
                            <% if @result == :start %>
                            <h4>Choose between Rock,paper,scissor</h4>
                        <% else %>
                            <h4>
                                <%= @result %>
                            </h4>
                            <% end %>
                        </div>

                        <div class="col-md-5 centered">
                            <% if @computer_result == :rock %>
                            <img src="/img/robot_rock.gif" alt="Robot Rock Gif" height="400" width="400"/>
                            <% elsif @computer_result == :paper %>
                            <img src="/img/robot_paper.gif" alt="Robot Paper Gif" height="400" width="400"/>
                            <% elsif @computer_result == :scissor %>
                            <img src="/img/robot_scissor.gif" alt="Robot Scissor gif" height="400" width="400"/>
                            <%else%>
                            <img src="/img/robot_hand.png" alt="Robot hand png" height="400" width="400"/>
                            <% end %>
                        </div>
                    </div>

                </div>
            </body>
