<html>
  <h1>Play Rock Paper Scissors!</h1>
  <% if @player_1.choice == nil %>
    <h2>Welcome <%= @player_1.name %>, let's start</h2>
  <% else %>
    <h2> You chose "<%= @player_1.choice %>" </h2>
  <% end %>

  </br>
  </br>
  <form action = '/rock'>
    <input type = 'submit' value = 'Rock' >
  </form>
  </br>
  <form action = '/paper'>
    <input type = 'submit' value = 'Paper' >
  </form>
  </br>
  <form action = '/scissors'>
    <input type = 'submit' value = 'Scissors' >
  </form>
</html>
