<head>
<link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
</head>

<h1>Choose your weapon</h1>
<form action="/result" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>

<style type="text/css">
  h1 { color: red;
    font-size: 50px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    padding-top: 50px;

  }
  form {
    text-align: center;
  }
  input[type="submit" i]{
    background-color: #f44336;
    color: white;/* Red */
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    border-radius: 0px;
    border: 0px;
  }
</style>
