<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script type="text/javascript" src="js/mousetrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body>

<div id="main_game_header">
  <h2>Round <%= @round_no %></h2>
  <h2>Choose your weapon!</h2>
  <br>
</div>

<div id="weapons_box">
  <form method="post" action="/fight">
    <ul>
      <li>
        <button class="weapon_option" type="submit" name="weapon" value="ruby">
            <img class="weapon_icon" src="images/right/ruby.png">
            <br>Ruby
        </button>
      </li>
      <li>
        <button class="weapon_option" type="submit" name="weapon" value="paper">
            <img class="weapon_icon" src="images/right/paper.png">
            <br>Paper
        </button>
      </li>
      <li>
        <button class="weapon_option" type="submit" name="weapon" value="scissors">
            <img class="weapon_icon" src="images/right/scissors.png">
            <br>Scissors
        </button>
      </li>
    </ul>
  </form>
</div>

<div class="popup" id="scores_popup">
  <p class="popup_contents" id="scores_contents">Scores!</p>
</div>

<div class="popup" id="rules_popup">
  <p class="popup_contents" id="rules_contents">Rules!</p>
</div>

<div class="popup" id="easter_egg_popup">
  <img id="quack" src="images/quack.jpg">
</div>

</body>

</html>