<div class="">
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  <h1><%= @player_name %>vs Computer</h1>
  <div class="">
    <img src="images/rock.png" alt="" style="width:200px">
    <img src="images/paper.png" alt="" style="width:200px">
    <img src="images/scissors.png" alt="" style="width:350px">
  </div>
  <h2>Rock, Paper, Scissors?</h2>

  <form action="/result" method="post">
    <input id="button" type="submit" name="choice" value="Rock">
    <input id="button" type="submit" name="choice" value="Paper">
    <input id="button" type="submit" name="choice" value="Scissors">
  </form>
</div>
