<h1>Hello <%= @turn.player_name.to_s.capitalize %></h1>

<form action="/play" method="post">
  <input type="submit" name="shape" value="Rock">
  <input type="submit" name="shape" value="Paper">
  <input type="submit" name="shape" value="Scissors">
</form>

You choose <%=@turn.player_shape.to_s.capitalize%>!
<div id="opponent">
  Opponent choose <%=@turn.opponent_shape.to_s.capitalize%>!
</div>

<% if @turn.win?%>
  You win!
<% elsif @turn.lose?%>
  You lose!
<% elsif @turn.draw? %>
  Draw!
<%end%>
