<h1>  Welcome <%= $game.player_name %> </h2>
<br>
<h2> Choose your hand <h2>

  <form action ="/result" method = "post" >
    <input type= "submit" name ="hand" value = "Rock">
  </form>

  <form action ="/result" method = "post" >
    <input type= "submit" name= "hand" value = "Paper">
  </form>

  <form action = "/result" method ="post" >
    <input type = "submit" name ="hand" value = "Scissors" >
  </form>
