<h1>Welcome to Scissors, Paper, Rock</h1>
<h2>Do you want to challenge a human or a computer?</h2>


<form action='/one_player' method='get'>
  <input type="submit" value="One Player">
</form>

<form action='/two_players' method='get'>
  <input type="submit" value="Two Players">
</form>

