<h1>R.P.S Game</h1>
<h2><%= @game.player_1.name %> vs. CPU</h2>
Select your attack: <br>

<form action="attack">
  <input type="radio" name="choice" id="rock" value="Rock"> Rock<br>
  <input type="radio" name="choice" id="paper" value="Paper"> Paper<br>
  <input type="radio" name="choice" id="scissors" value="Scissors"> Scissors<br>
  <input type="submit" value="Go!">
</form>
