<html>
  <head>
  <h1>Rock, Paper, Scissors... Go!</h1>
  </head>

  <body>
    <h2>Are you ready to play, <%= @player_name %>?</h2>
    <h3> Choose your weapon </h3>
      <div class="weapons">
        <button class="weapon"> <span style='font-size:100px;'>&#128074;</span> </button>
        <button class="weapon"> <span style='font-size:100px;'>&#9995;</span> </button>
        <button class="weapon"> <span style='font-size:100px;'>&#9996;</span> </button>
      </div>

      
      


  </body>
</html>