<h1><%= @player %> vs computer!</h1>

<h2>Rock, Paper, Scissors?</h2>
<form action="/choice" method="post">
  <input type="submit" name="choice" value="Rock" />
  <input type="submit" name="choice" value="Paper" />
  <input type="submit" name="choice" value="Scissors" />
</form>
