<h2>Player Name = <%=@player%></h2>
<h3>What move would you like to play?</h3>
<a href="/rock"><button>Rock</button></a>
<a href="/paper"><button>Paper</button></a>
<a href="/scissors"><button>Scissors</button></a>