<link rel="stylesheet" href="stylesheet.css" type="text/css" />
<div align = "center">
<h1>Player One</h1>
<h3>Please enter your name</h3>
<form action="/player_one_confirmed" method="post">
  <input type="text" name="player_one_name"><br><br>
  <input type="submit" value="OK">
</form>
</div>
