<h1><%= @player.name %> vs. Computer</h1>
<h2>Ready to play!</h2>
<br />
<h3><%= @player.name %>, please select your weapon of choice!</h3>
<br />

<a href="/choice">Rock</a>
<a href="/choice">Paper</a>
<a href="/choice">Scissors</a>
