Hello, <%= @name %>!

<form action="/play" method="post">
  <h2> &#9994; <button type="submit" name="choice" value="Rock"> Rock </button></h2> 
  <h2> &#9995; <button type="submit" name="choice" value="paper"> Paper </button></h2> 
  <h2> &#9996; <button type="submit" name="choice" value="scissors"> Scissors </button></h2> 
</form> 
