<h1><%= @game.player1.name%></h1>
<h2>Welcome: please choose your weapon!</h2>

<form action="/select" method="post">
  <input type="submit" name="p1choice" value="rock">
  <input type="submit" name="p1choice" value="paper">
  <input type="submit" name="p1choice" value="scissors">
</form>
