<%= @player_2_name %>

<form action="/player2_choice" method="post">
  <label for="player2_choice">
    Enter Rock, Paper or Scissors
    <input type="text" name="player2_choice">
  </label>
  <input type="submit" value="Submit">
</form>
