<h1 style = "text-align:left;float:left;"><%= @player.name %> Score : <%= @player.score %> </h1>
<h1 style = "text-align:right;float:right;"><%= @computer.name %> Score : <%= @computer.score %> </h1>
<form style = "text-align: center;" action = "/play" method = "post">
  <input type="submit" value= "Rock" name ="Player_choice">
  <input type="submit" value= "Paper" name ="Player_choice">
  <input type="submit" value= "Scissor" name ="Player_choice">
</form>
