<h1><%=@name1%> vs <%=@name2%></h1>
<h2>Hi <%=@name1%>, please choose one option</h2>

<form action='/single_result' method='post'>
  <input type="hidden" name="user1" value="rock" />
  <input type="submit" value="Rock">
</form>

<form action='/single_result' method='post'>
  <input type="hidden" name="user1" value="paper" />
  <input type="submit" value="Paper">
</form>

<form action='/single_result' method='post'>
  <input type="hidden" name="user1" value="scissors" />
  <input type="submit" value="Scissors">
</form>

<form action='/single_result' method='post'>
  <input type="hidden" name="user1" value="spock" />
  <input type="submit" value="Spock">
</form>

<form action='/single_result' method='post'>
  <input type="hidden" name="user1" value="lizard" />
  <input type="submit" value="Lizard">
</form>
