Hi <%=@name%> - let's play Rock, Paper, Scissors!<br>


Pick one:
<form action="/result" method="post">
<button type="submit" value="rock" name="shape">Rock</button>
<button type="submit" value="paper" name="shape">Paper</button>
<button type="submit" value="scissors" name="shape">Scissors</button>
</form>
