<%= @player_name %> vs. The computer

<form action="/result" method="post">
  <input type="radio" name="player_choice" value="rock" id="rock"><label for="rock"> Rock</label>
  <input type="radio" name="player_choice" value="paper" id="paper"><label for="paper"> Paper</label>
  <input type="radio" name="player_choice" value="scissors" id="scissors"><label for="scissors"> Scissors</label>
  <br><input type="submit" value="Submit">
</form>
