<link rel="stylesheet" type="text/css" href="/mystyle.css">

<h1>Welcome <%= @game.player_1.name %></h1>

<img src="https://s2.favim.com/orig/141212/cute-drawing-friends-funny-Favim.com-2304562.jpg"/>

<h2>Choose your weapon</h2>

<form action="/result" method="post">
  <input type="submit" value="Rock" name="player_weapon">
  <input type="submit" value="Paper" name="player_weapon">
  <input type="submit" value="Scissors" name="player_weapon">
</form>
