

<h1><%= @player_name %> vs. Computer</h1>
<h2>Ready to play!</h2>
<br />
<h3><%= @player_name %>, please select your weapon of choice!</h3>
<br />

<form action="/rock">
  <input type="submit" value="Rock"/>
  </form>

  <form action="/paper">
    <input type="submit" value="Paper"/>
    </form>

    <form action="/scissors">
      <input type="submit" value="Scissors"/>
      </form>
<!-- <a href="/rock">Rock</a>
<a href="/paper">Paper</a>
<a href="/scissors">Scissors</a> -->
