<h1>Welcome <%=@player%>! Get ready to play!</h1>
<h2>Choose your move:</h2>

<form method="post" action="/game">
    <input type="submit" name = "move" value = "Rock"</input>
    <input type="submit" name = "move" value = "Paper"</input>
    <input type="submit" name = "move" value = "Scissors"</input>
</form>
