<h1>Rock, Paper, Scissors</h1>

<h2>Game On <%= @game.player_one.name %>!</h2>

<form action="/rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/scissors" method="post">
  <input type="submit" value="Scissors">
</form>

<form action="/lizard" method="post">
  <input type="submit" value="Lizard">
</form>

<form action="/spock" method="post">
  <input type="submit" value="Spock">
</form>
