<h1><%= @game.player_1.name %> vs <%= @game.player_2.name %></h1>

<form action = "/play" method="post">
<input type="submit" name="player_1_move" value="rock">
<input type="submit" name="player_1_move" value="paper">
<input type="submit" name="player_1_move" value="scissors">
<input type="submit" name="player_1_move" value="spock">
<input type="submit" name="player_1_move" value="lizard">
</form>
