<br>
<br>
<br>
<center><h1 style="color:purple;">Make your move <%= @game.player.name %></h1></center>
<br>
<br>
<center><form action="/rock" method="post">
  <input type="submit" class="button" value="Rock">
</form>
<br>
<center><form action="/paper" method="post">
  <input type="submit" class="button" value="Paper">
</form>
<br>
<center><form action="/scissors" method="post">
  <input type="submit" class="button" value="Scissors">
</form>

<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
