<h1><%=@player%> Please choose Rock, Paper or Scissors to play</h1>

<form id="Weapon_choice" action='/choice' method="get">
  <input choice="rock"
   type="submit" name="choice" value="rock">
</form>

<form id="Weapon_choice" action='/choice' method="get">
  <input choice="paper"
   type="submit" name="choice" value="paper">
</form>

<form id="Weapon_choice" action='/choice' method="get">
  <input choice="scissors"
   type="submit" name="choice" value="scissors">
</form>
