<html>
  <head></head>
  <body>
    <div class="player1action">
      <div class="title">
        Player 2, pick your weapon.
      </div>
      <form action="/attack_multi" method="get">
        <input type="submit" value="rock" class="weapon" name="weapon2">
        <input type="submit" value="paper" class="weapon" name="weapon2">
        <input type="submit" value="scissors" class="weapon" name="weapon2">
      </form>
  </div>
</body>
</html>
