<p><%= @game.player.name %>, make your choice!</p>
<p>and Good Luck</p>
  <form method="POST" action="/result">
    <input class="button" type="submit" value="PAPER" name="weapon">
    <input class="button" type="submit" value="SCISSORS" name="weapon">
    <input class="button" type="submit" value="ROCK" name="weapon">
  </form>
