<%= @game.player_1.name %> is playing vs <%= @game.player_2.name %>!

<form action="/rock_computer">
  <input type="submit" value="Rock">
</form>
<form action="/paper_computer">
  <input type="submit" value="Paper">
</form>
<form action="/scissors_computer">
  <input type="submit" value="Scissors">
</form>
<form action="/">
  <input type="submit" value="Quit">
</form>
