<!DOCTYPE html>

<html>
	<body>
		<h1><%= @game.player.name %> vs The Computer</h1>
		<br>
		<h3>Choose your weapon!</h3>
			<form action="/weapon" method="post">
				<button type="submit" name="choice" value="rock">Rock</button>
				<button type="submit" name="choice" value="paper">Paper</button>
				<button type="submit" name="choice" value="scissors">Scissors</button>
				<button type="submit" name="choice" value="lizard">Lizard</button>
				<button type="submit" name="choice" value="spock">Spock</button>
		</form>
	</body>
</html>