<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1> Hello <%= $videogame.player_1.name %> !! You are ready to start the game.</h1>
  <h1> <%= $videogame.player_1.name %> vs <%= $videogame.player_2.name %>
  <h2> Select one of the following options: </h2>
  <div class="button">
  <input type="submit" value="Rock"> <input type="submit" value="Scissors">  <input type="submit" value="Paper">
</div>
</body>
</html>
