<p><%= @player %> vs. <%= "computer" %></p>

<div id="options">
 <a href="/strike"><button>Rock</button></a>
</div>

<div id="buttons">
 <a href="/strike"><button>Paper</button></a>
</div>

<div id="buttons">
 <a href="/strike"><button>Scissors</button></a>
</div>
