<!DOCTYPE html>
<html>
<head>
	<title>Rock, paper, scissors!</title>
</head>
<body>
	<%= "Hello, #{@player}" %>
	<form action="/move" method="post">
		<button name="choice" type="submit" value="rock">rock</button>
		<button name="choice" type="submit" value="paper">paper</button>
		<button name="choice" type="submit" value="scissors">scissors</button>
		<button name="choice" type="submit" value="spock">spock</button>
		<button name="choice" type="submit" value="lizard">lizard</button>
	</form>
	Win count: <%= @wins %> <br><form action="/reset" method="post"><button type="submit" value="reset">reset</button></form>
	<%= @confirmation if @confirmation %>
</body>
</html>