Hello <%= @turn.player_name %>!

<form method="POST" action="/play">
  <input type="submit" name="shape" value="Rock" />
  <br>
  <input type="submit" name="shape" value="Paper" />
  <br>
  <input type="submit" name="shape" value="Scissors" />
  <br>
</form>

<%= @turn.player_shape.to_s.capitalize %> selected!
<br>
<div id="opponent">
  <%= @turn.opponent_shape.to_s.capitalize %> selected by Opponent!
</div>

<% if @turn.win? %>
  You Winner!
<% elsif @turn.lose? %>
    You Loser!
<% elsif @turn.draw? %>
    Stalemate!
<% end %>
