<!DOCTYPE html>
<html>
  <h3> Are you ready to play <%= @name %> ... </h3>
  <h4> <%= @name %> vs Computer </h4>
  <h5> Select something to play with : </h5>
  <a href= '/rock'>Rock </a><br>
  <a href= '/scissors'>Scissors </a>
</html>
