<h1>Rock, Paper, Scissors<h1>

<p> Make your move <p>

<form action="/results" method="post">
  <input type="submit" value="Rock">
</form>
<form action="/results" method="post">
  <input type="submit" value="Paper">
</form>
<form action="/results" method="post">
  <input type="submit" value="Scissors">
</form>