<h1><%= @name %> vs. Computer</h1>
<br>
<form action="/rock">
  <input type ="submit" value="rock">
</form>
<form action="/paper">
  <input type ="submit" value="paper">
</form>
<form action="/scissors">
  <input type ="submit" value="scissors">
</form>