<%= @player_name %>, choose your move

<form action="/results">
  <input type="submit" value="Rock &#129704;">
</form>

<form action="/results">
  <input type="submit" value="Paper &#128220;">
</form>

<form action="/results">
  <input type="submit" value="Scissors &#9986;">
</form>