<%=@p1_name%> vs. The Computer <br />

<form action="/result" method="post">
  Enter Rock, Paper or Scissors:<br />
  <input type="submit" name="p1_choice_input" value="Rock" />
  <input type="submit" name="p1_choice_input" value="Paper" /> 


</form>
