Welcome, <%= @game.player.name %>

<form action="/game" method="post">
  <input type="submit" value="Rock" name="choice">
  <input type="submit" value="Paper" name="choice">
  <input type="submit" value="Scissors" name="choice">
</form>
