Welcome <%= @player_name.capitalize %>!
<br>
<H1> <%= "Select from one of the following options:" %> </H1>

<button type="button">Rock</button>
<button type="button">Paper</button>
<button type="button">Scissors</button>
