<h2>Hello <%= @name %>!</h2>
<p>Please select your weapon for this round</p>

<form action="/weapons" >
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissor">
</form>
