<html>

<body>
    <h1> Welcome to the game <b style="color:rgb(236, 36, 1);"><%= @player_name %></b>!</h1>
    <br>
    <br>
    <br>
    <h2><%= @player_name %> choose your weapon:</h2>
    <br>
    <form action="/player1_move" method="post">
        <div>
            <label for="Rock">Rock</label>
            <input type="radio" name="move" value="Rock">
            <label for="Paper">Paper</label>
            <input type="radio" name="move" value="Paper">
            <label for="Scissor">Scissor</label>
            <input type="radio" name="move" value="Scissor">
            <button type="submit" value="submit">Submit</button>
        </div>
    </form>
</body>

</html>