<!DOCTYPE html>
<html>

    <h1> Welcome to Rock, Paper, Scissors, <%=@player%>! </h1>

    <form action='/game' method="post">

      <div class='row clearfix'>
        <div class='col-4' id='first'>
          <img src="http://geology.com/articles/difficult-rocks/difficult-rock-identification.jpg"><br>
          <input type="radio" name="choice" id="Rock" value="Rock"> rock</input>
        </div>

        <div class='col-4' id='second'>
          <img src="http://www.dick-blick.com/items/102/40/10240-1009-1-2ww-m.jpg"><br>
          <input type="radio" name="choice" id="Paper" value="Paper"> paper</input>
        </div>

        <div class='col-4' id='third'>
          <img src="http://www.orthotape.com/thumbnail.asp?file=assets/images/cast%20kits/razor-edge-softgrip-scissors_product_main.jpg&maxx=450&maxy=0"><br>
          <input type="radio" name="choice" id="Scissors" value="Scissors"> scissors</input>
        </div>
      </div>

      <div class='row'>
        <div class='button'>
          <input class='button2' type="submit" value="Submit">
        </div>
      </div>

    </form>

</html>
