Player: <%= @player_name %>
<form action="/turn" method="post">
  <input type="submit" name="choice" value="rock">
  <input type="submit" name="choice" value="paper">
  <input type="submit" name="choice" value="scissors">
</form>
