<h1>Welcome to the game <%=$game.player_2.name%>!</h1>

<h2>Please select a choice from below</h2>

<form action="/p2_choice" method="post">
  <input type="submit" name ="p2_choice" value="Rock"/>
</form>

<form action="/p2_choice" method="post">
  <input type="submit" name ="p2_choice" value="Paper"/>
</form>

<form action="/p2_choice" method="post">
  <input type="submit" name ="p2_choice" value="Scissors"/>
</form>
