<h1>Welcome to the jungle <%= @name %>!</h1>
<p>Boy have we got a brown cow stunning game for you</p>

<h2>Make your choice:</h2>
<form action="/playing">
    <input type="submit" value="rock" name="rock">
</form>
