<div class="container-fluid inner">
  <div class="row">
    <div class="col-md-4 vcenter">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= game.first_player_name %></h2>
      </div>
    </div><!--
  --><div class="col-md-4 vcenter">
    <h2><%= game.current_turn_name %>'s turn</h2>
      <form action="/process" method="post">
        <input type="hidden" name="element" value="rock">
        <input class="btn btn-default" type="submit" value="ROCK">
      </form>
      <form action="/process" method="post">
        <input type="hidden" name="element" value="paper">
        <input class="btn btn-default" type="submit" value="PAPER">
      </form>
      <form action="/process" method="post">
        <input type="hidden" name="element" value="scissors">
        <input class="btn btn-default" type="submit" value="SCISSORS">
      </form>
    </div><!--
  --><div class="col-md-4 vcenter">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= game.second_player_name %></h2>
      </div>
    </div>
  </div>
</div>
