<h3><%= session[:player_name] %> is playing Rock, Paper, Scissors</h3>
<br>
Select one of Rock, Paper or Scissors:
<form action=rock method=post>
  <input type=submit value='Rock'>
</form>
<form action=paper method=post>
  <input type=submit value='Paper'>
</form>
<form action=scissors method=post>
  <input type=submit value='Scissors'>
</form>
