Welcome to the game <%= @game.player1_name %> and <%= @game.player2_name %> 
<div>
It's <%= @game.current_player_name %>'s turn

<form action='/rock' method='post'>
  <div>
    <button type='submit'>Rock</button>
  </div>
</form>


<form action='/paper' method='post'>
  <div>
    <button type='submit'>Paper</button>
  </div>
</form>

<form action='/scissors' method='post'
  <div>
    <button type='submit'>Scissors</button>
  </div>
</form>

