<!DOCTYPE html>
<html>
<head>
  <link href='styles.css' rel='stylesheet'/>
</head>
<body>
<header>
<h1><%= @player_name %> vs. <%= @opponent_name%></h1>
</header>
<div id='main'>

<div id='left_column'>
<p>Make your choice:</p>
<form action='/choice' method='post'>
  <input id='btn' type='submit' name='player_choice' value='Rock' />
  <input id='btn' type='submit' name='player_choice' value='Paper' />
  <input id='btn' type='submit' name='player_choice' value='Scissors' />
</form>
</div>
<div id='central_column'><br></div>
<div id='left_column'>
<% if @player_choice %>
<%= @player_name %> has chosen!
<% end %>
</div>

<div id='right_column'>
<% if @opponent_choice %>
<%= @opponent_name%> has chosen!
<% end %>
</div>

<div id='central_column'>
<% if @player_choice && @opponent_choice %>
<a href='/winner'>Check who won...</a>
<% end %>
</div>

</div>
</body>
</html>
