<h1><%= @game.player.name %> win/loss <%= @game.player.wins %>/<%= @game.player.loses %></h1>
<body>
<form action ="/choice" method='post'>

    <input type="submit" value="ROCK" name="choice">
    <input type="submit" value="PAPER" name="choice">
    <input type="submit" value="SCISSORS" name="choice">

</form>
</body>
