<html>
  <body>
    <h1>Rock, Paper, Scissors</h1>
    <h2><%=@player_name%> vs. Machine</h2>
    <p>Select your weapon:</p>
    <form action='/challenge' method='post'>
      <button type='submit'>Rock</button>
      <button type='submit'>Paper</button>
      <button type='submit'>Scissors</button>
    </form>
  </body>
</html>
