<center><label for="options"><%=@player_name%>, pick rock paper or scissors</label></center>

<center><form action='/outcome' method=post>
          <select name="options" id="options">
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
            <input type=submit value=Confirm>
        </form>
</center>