<html>
<head>
<style>
body {
    background: DarkSalmon;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

</style>
</head>
<body>
<h1>

<%= @player_1_name %> vs. COMPUTER

</h1>

<h2>
<%= @player_1_name %>
</h2>

<h3>
<a href="/attack"><button>rock</button></a>
<a href="/attack"><button>paper</button></a>
<a href="/attack"><button>scissors</button></a>

</h3>

