<h2>
  Welcome <%= @name %>!
</h2>
<h4>
  Please make your choice
</h4>

<form action="/choice" method="post">
  <input type="submit" name ="choice" value="ROCK">
  <input type="submit" name ="choice" value="PAPER">
  <input type="submit" name ="choice" value="SCISSORS">
</form>
