<h1>Let's play ROCK PAPER SCISSORS <%= @player1_name %>! </h1>
<h2>Choose your weapon!</h1>

<form action ='/outcome' method='post'>
<input type='text' name='player_weapon'>
<input type='submit' value='Your Weapon'>
</form>
