Welcome <%=@player1.name%> and <%=@player2.name%>. <p></p>

<%=@player1.name%>'s turn: please make your choice. <p></p>

<form action="/player_1_choice" method="post">
<input type="submit" name="scissors" value="Scissors"/>
<input type="submit" name="paper" value="Paper"/>
<input type="submit" name="rock" value="Rock"/>
</form>
