<h2 class="rules">You know the rules...</h2>

<a href="/game?choice=rock" id="Rock">
<img class="rock" src="/images/rock-pic.png" alt="Rock">
</a><br>

<a href="/game?choice=paper" id="Paper">
<img class="paper" src="/images/paper-pic.png" alt="Paper">
</a><br>

<a href="/game?choice=scissors" id="Scissors">
<img class="scissors" src="/images/scissors-pic.png" alt="Scissors">
</a>
