
  <center>
<h1> Welcome <%=@game.player.name %> </h1>
<h1> Choose your weapon </h2>


  <a href="/result">Rock<img src='http://images.freeimages.com/images/premium/previews/3261/32613928-cartoon-large-rock.jpg' title="Rock" width="300" height="200" /></a>

 <a href="/result">Paper<img src='http://images.all-free-download.com/images/graphiclarge/blank_white_paper_cartoon_clip_art_12090.jpg' title='Paper' width="300" height="200" /></a>

 <a href="/result">scissors<img src='http://www.clker.com/cliparts/d/b/d/6/11949839942140777322scissors.svg.med.png' title='scisors' width="300" height="200" /></a>

  </center>
