<h1>  <%= @game.player.name %> vs. Computer </h1>
<h2> <%= @game.player.points %> : <%= @game.computer.points %>


<button type="button" onclick="location='/rock'">ROCK</button>
<button type="button" onclick="location='/paper'">PAPER</button>
<button type="button" onclick="location='/scissors'">SCISSORS</button>

  <!-- <div id="choose rock">
  <form action="/rock" method="get">
    <input type ="submit" value="Submit names" />
  </form>
</div> -->
