<div>
<h1>Welcome to the game <%= @game.player.name %>!</h1>
</div>
<div>
<h2>Please choose your weapon...</h2>
</div>
<div>
  <form>
    <form action="/weapon" method="post">
      <label for="rock">Rock</label>
      <input type="radio" name="weapon" id="rock" value="rock"><br>
      <label for="paper">Paper</label>
      <input type="radio" name="weapon" id="paper" value="paper"><br>
      <label for="scissors">Scissors</label>
      <input type="radio" name="weapon" id="scissors" value="scissors"><br><br>
      <input type="submit" value="Submit">
    </form>
  </form>
</div>
