<h3>Hey, <%= stored_player_02.name %>!</h3>

<form action="/result" method="post">
  <label for="player_02_weapon">
    rock, paper or scissors?
  </label>
  <input type="text" name="player_02_weapon">
  <input type="submit" value="Choose">
</form>

<br>

<form action="/register" method="get">
  <label>
    Not you, folks?
  </label>
  <input type="submit" value="Register new players">
</form>
