<div>
<h1>Hi <%= @name %>!</h1>
<h3>Choose your weapon:</h2>
  <form method="post" action="/rock">
    <input type="submit" value="Rock">
  </form>
  <form method="post" action="/paper">
    <input type="submit" value="Paper">
  </form>
  <form method="post" action="/scissors">
    <input type="submit" value="Scissors">
  </form>





</div>
