<a href="/game?choice=rock" id="Rock">
<img class="choice" src="images/rock.png" alt="Rock">
</a>

<a href="/game?choice=paper" id="Paper">
<img class="choice" src="images/paper.png" alt="Paper">
</a>

<a href="/game?choice=scissors" id="Scissors">
<img class="choice" src="images/scissors.png" alt="Scissors">
</a>
