<h2>Welcome <%= @game.player_name %>, let's start a game!</h2>

<form action="/choose" method="post">
  <label for="rock">
    Rock
    <input type="radio" name="player_choice" id="rock" value="rock">
  </label>

  <label for="paper">
    Paper
    <input type="radio" name="player_choice" id="paper" value="paper">
  </label>

  <label for="scissors">
    Scissors
    <input type="radio" name="player_choice" id="scissors" value="scissors">
  </label>

  <input type="submit" value="OK">
</form>
