<!DOCTYPE html>
<html>
  <head>
    <title>Play RPS</title>
  </head>
  <body>

    <h2> Welcome, <%= @game.player_one.name %>! </h2>
    <br>
    <h3> Make your move: </h3>
    <form action='/move' method='post' id='form'>
      <button type="submit" form="form" name='move' value=0>Rock</button>
      <button type="submit" form="form" name='move' value=1>Paper</button>
      <button type="submit" form="form" name='move' value=2>Scissors</button>
    </form>

  </body>
</html>
