<p>Hello, <%= @name1 %>!</p>

<form action='/select1?player1choice=ROCK' method='post'>
    <input type='submit' value="ROCK">
</form>

<form action='/select1?player1choice=PAPER' method='post'>
    <input type='submit' value="PAPER">
</form>

<form action='/select1?player1choice=SCISSORS' method='post'>
    <input type='submit' value="SCISSORS">
</form>

<form action='/select1?player1choice=LIZARD' method='post'>
    <input type='submit' value="LIZARD">
</form>

<form action='/select1?player1choice=SPOCK' method='post'>
    <input type='submit' value="SPOCK">
</form>