<h1> <%= @player_name %> Vs. Computer <h1>
  <form action='/attack' method='post'>
    <input type='submit' value='Rock'>
    <input type='submit' value='Paper'>
    <input type='submit' value='Scissor'>
  </form>
<img src="/img/human_hand.png" alt="Start image of human hand" height="300" width="300"/>

You Win!

<img src="/img/robot_hand.png" alt="Start image of robot hand" height="300" width="300"/>
