<!DOCTYPE html>
<html>
<head>
  <link href="/css/play.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1><%=@game.current_player.name%>'s turn</h1>
  <div id="options">
    <div id="rock">
      <p>ROCK</p>
      <form action="/game" method="post">
        <input type='submit' name='rock' value='Submit'>
      </form>
    </div>
    <div id="paper">
      <p>PAPER</p>
      <form action="/game" method="post">
        <input type='submit' name='paper' value='Submit'>
      </form>
    </div>
    <div id="scissors">
      <p>SCISSORS</p>
      <form action="/game" method="post">
        <input type='submit' name='scissors' value='Submit'>
      </form>
    </div>
  </div>
</body>
</html>
