<h1>Feeling pumped <%= @player_1_name %>?</h1>
<h2>Choose rock paper or scissors and press submit to play</h2>
<form action="/rps" method="post">
<input type="text" name="rps">
<input type="submit" value="Submit">
</form>
