<head>
  <link rel="stylesheet" href="stylesheets/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="stylesheets/play.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
</head>

<div class="scores">
  <h1><%= @game.player.name %><br> <span><%= @game.player.score %></span></h1>
  <h1>vs</h1>
  <h1>Computer <br> <span><%= @game.npc_score %></span></h1>
</div>

<div class="choose">
<h2>Select your item:</h2>

<form action="/battle" method="post">
  <input type="radio" name="weapon" value="rock"  id='rock' checked>Rock<br><br>
  <input type="radio" name="weapon" value="paper" id='paper'>Paper<br><br>
  <input type="radio" name="weapon" value="scissors" id='scissors'>Scissors<br><br>
  <button type="submit">Let's go!</button>
</form>
</div>

<div class="pic">
  <img src="images/rps.png" alt="rps"/>
</div>
