<h1>It's time to play...Rock, Paper, Scissors</h1>

<form action="/fighting" method="post">
  <input type="radio" name="game" value="Rock" checked="checked" id="Rock">
    Rock
  <input type="radio" name="game" value="Paper" id="Paper">
    Paper
  <input type="radio" name="game" value="Scissors" id="Scissors">
    Scissors
  <input type="submit" value="Fight!" id="Fight!">
</form>