<h1>Welcome to Rock, Paper, Scissors <%= @player_name.name %>!</h1>
<h2>Try beat the computer, make your choice below:</h2>

<form action="/move" method="post">
  <input type="submit" value="Rock">
</form>
<form action="/move" method="post">
  <input type="submit" value="Paper">
</form>
<form action="/move" method="post">
  <input type="submit" value="Scissors">
</form>

