<%= Game.current.current_player.name %> Let's play Rock, Paper, Scissors ft. Spocks and Lizards!<br>
<form action="/choice" method="post">
<button type="submit" name="weapon" value="Rock">Rock</button>
<button type="submit" name="weapon" value="Paper">Paper</button>
<button type="submit" name="weapon" value="Scissors">Scissors</button>
<button type="submit" name="weapon" value="Spock">Spock</button>
<button type="submit" name="weapon" value="Lizard">Lizard</button>
</form>
