<h1>Rock + Paper + Scissors</h1>
<h1>BATTLE TIME</h1>
Welcome <%= @name %>
<br>
<br>
Select weapon
<br>

<br>
<form action='/rock' method="post">
<input type="submit" value="Rock">
</form>
<form action='/scissors' method="post">
<input type="submit" value="Scissors">
</form>
<form action='/paper' method="post">
<input type="submit" value="Paper">
</form>
