<h1> <%= @player%> vs Computer </h1>
<form action= '/results' method = "post">
<p> Pick one of the following choices: </p>
<input type = "radio" name = "choice" value = "rock">
<label for="rock">Rock</label>
<input type = "radio" name = "choice" value = "paper">
<label for= "paper"> Paper</label>
<input type = "radio" name = "choice" value = "scissors">
<label for= "Scissors"> Scissors</label>
<input type="submit" value="Play">
</form>