<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- defining our character set and title -->
    <meta charset="utf-8">
    <title>RPS Player</title>
  </head>

  <body>
    <h1> Hi <%= @game.player1_name %> let's play!</h1><br>
    <form action="/move" method="post">
      <div>
        <button type="submit" name="action" value="rock">Rock</button>
        <button type="submit" name="action" value="paper">Paper</button>
        <button type="submit" name="action" value="scissors">Scissors</button>
      </div>
    </form>
  </body>
</html>
