<html>
  <h1><%= @game.player_1.name %> vs. Computer</h1>
  <h3>Choose your weapon:</h3>
  <form action="/weapon" method="post">
    <p><input type="submit" name="weapon" value="Rock"></p>
    <p><input type="submit" name="weapon" value="Paper"></p>
    <p><input type="submit" name="weapon" value="Scissors"></p>
  </form>
</html>
