<h1> <%=@game.player1.name %> vs. <%=@game.player2.name %> </h1>
<form action="/play2_vs" method="get" id="pick"> </form>

  <div class="left" >
  <h2><%=@game.player1.name %>'s turn:</h2>
  <h2><%=@game.player2.name %>, please close your eyes :)</h2>
  <button class="button2" type="submit" name="choice1" form="pick" value="rock"><span>Rock </span></button>
  <button class="button3" type="submit" name="choice1" form="pick" value="paper"><span>Paper </span></button>
  <button class="button" type="submit" name="choice1" form="pick" value="scissors"><span>Scissors </span></button>
  </div>


<style>
  .left{
    float: left;
    width: 50%;
  }

  .right{
    float: left;
    width: 50%;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: "✌";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button2 span:after {
    content: "👊";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button2:hover span {
    padding-right: 25px;
  }

  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button3 {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button3 span:after {
    content: "✋";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button3:hover span {
    padding-right: 25px;
  }

  .button3:hover span:after {
    opacity: 1;
    right: 0;
  }

</style>
