<h1><div>Welcome <%=$player1.name%>!</div></h1></br>
<h3>Please select one of the below:</h3>

<form action='/choice' method='post'>

  <select name='weapon_choice'>
    <option value='rock'>Rock</option>
    <option value='paper'>Paper</option>
    <option value='scissors'>Scissors</option>
  </select>

  <input type='submit' value='FIGHT!'>
</form>

<h3>You chose <%=$weapon%></h3>
