<h3>Select your move</h3>
<form action="/play" method="post">
  <input type="submit" value="rock" name="player_selection">
   <input type="submit" value="paper" name="player_selection">
    <input type="submit" value="scissors" name="player_selection">
</form>