<title>Rock Paper Scissors</title>
<h2><i><%=@name%> is ready to Rock-Paper-Scissor!!</i></h2>
<br>

<form action='/rock'>
  <input type='submit' value='Rock'>
</form>

<form action='/paper'>
  <input type='submit' value='Paper'>
</form>

<form action='/scissors'>
  <input type='submit' value='Scissors'>
</form>
