<p>Hello, <%= @name2 %>!</p>

<form action='/select2?player2choice=ROCK' method='post'>
    <input type='submit' value="ROCK">
</form>

<form action='/select2?player2choice=PAPER' method='post'>
    <input type='submit' value="PAPER">
</form>

<form action='/select2?player2choice=SCISSORS' method='post'>
    <input type='submit' value="SCISSORS">
</form>

<form action='/select2?player2choice=LIZARD' method='post'>
    <input type='submit' value="LIZARD">
</form>

<form action='/select2?player2choice=SPOCK' method='post'>
    <input type='submit' value="SPOCK">
</form>