<h1> Rock, Paper, Scissors! </h1>
<br>
<h2> <%= @name %> VS Computer </h2>

<form action = '/play' method = post>
  <input type = 'image' value = 'Rock' src = '/Rock.jpg' name = 'choice'>
  <input type = 'image' value = 'Paper' src = '/Paper.jpg' name = 'choice'>
  <input type = 'image' value = 'Scissors' src = '/Scissors.jpg' name = 'choice'>
</form>

<% if @choice %>
<h2> <%= @name %> chooses <%= @choice %>! </h2>
<% end %>
