<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPS Game</title>
  </head>
  <body>
    <h1><%= @name %></h1>

    <div>
      <p>Select a shape to play:</p>
      Rock
      Paper
      Scissors
    </div>
  </body>
</html>
