Welcome <%=@player_name%>!

<p> Now click to select your weapon: </p>
<form action="/weapon_select">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>