<body>
<form>
<input type=checkbox name=checkbox value=Rock>Rock
<input type=checkbox name=checkbox value=Paper>Paper
<input type=checkbox name=checkbox value=Scissors>Scissors
</form>
<br>
<%=@game.player1.name%>
<br>

<form>
<input type=checkbox name=checkbox value=Rock>Rock
<input type=checkbox name=checkbox value=Paper>Paper
<input type=checkbox name=checkbox value=Scissors>Scissors
</form>
<br>
<%=@game.player2.name%>
</body>