<body>
    <h1>Hello <%= @player_1_name %></h1>
    <div id="button-container">
        <button id="rock">Rock</button>
        <button id="paper">Paper</button>
        <button id="scissors">Scissors</button>
    </div>
    <div id="results">
        <p id="player-score">Your score is: 0</p>
        <p id="computer-score">The computer score is: 0</p>
        <p id="result-tie">Tie rounds: 0</p>
    </div>
    <script src="script.js"></script>
</body>