<%= @player_1_name %> vs CPU
<br>
<form action="/move" method="post">
  <input name="move" type="submit" value="Rock">
  <input name="move" type="submit" value="Paper">
  <input name="move" type="submit" value="Scissor">
</form>
