<h2><%=@game.player.name%></h2>

<table border="0" align='center'>
  <tr>
    <td><form action="/rock">
      <input type="submit" value="Rock">
    </form></td>

    <td><form action="/paper">
      <input type="submit" value="Paper">
    </form></td>

    <td><form action="/scissors">
      <input type="submit" value="Scissors">
    </form></td>
  </tr>
<table>
