<h1><%= @player_1_name %></h1>
<h4> PREPARE TO FIGHT!! </h4>
<form action="/rock" method="post">
<input type="submit" value="Rock">
</form>
<form action="/paper" method="post">
<input type="submit" value="Paper">
</form>
<form action="/scissors" method="post">
<input type="submit" value="Scissors">
</form>
