<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPS</title>
  </head>
  <body>
    <form action="/result" method="get">
      <input type="submit" class ="button" name="move" value="Rock">
      <input type="submit" class ="button" name="move" value="Paper">
      <input type="submit" class ="button" name="move" value="Scissors">
    </form>
  </body>
</html>
