<h1> <%= @player %>, make your move! </h1>
<br>
<form>
  <label for="move">Choose your move:</label>
  <select name="move">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <button type="submit">Submit</button>
</form>
