<div style = "background: yellow">
<h1>Rock Paper Scissors!</h1>
<br>
<h2>Please enter player names</h2>
<form action="/players" method="post">
  <label for="player1">
    Player 1:
    <input type="text" name="player1" value ="John">
  </label>
  <br>
  <br>
  <label for="player2">
    Player 2:
    <input type="text" name="player2" value="Computer">  * Leave this as computer if you dont have friends, you miserable thing!
  </label>
  <br>
  <br>
  <input type="submit" value="submit">
    <br>  <br>
</form>
<div>
