<h1> What is your move <%= $player.name %>?</h1>

  <form action="/attack" method="post">
    <input type="submit" value="Rock" name="choice">
    <input type="submit" value="Paper" name="choice">
    <input type="submit" value="Scissors" name="choice">
  </form>