<style>
body {
  font-family: georgia;
  color: white;
  text-align: center;
  background-color: navy;
}
h1 {
  font-family: georgia;
  color: red;
  text-align: center;
}
</style>
<h1><%= @player_one_name %></h1>
