<head>
<title>Rock, Paper, Scissors</title>
<link rel='stylesheet' type='text/css' href='styles.css') />
</head>

<body>
<h1><%= @p1 %> vs Computer</h1>

<pre>Choose your attack</pre>


<div class='inner'><form action='/rock' method='get'>
  <input type='submit' value='Rock'></div>
</form></div>

<div class='inner'><form action='/paper' method='get'>
  <input type='submit' value='Paper'></div>
</form></div>

<div class='inner'><form action='/scissors' method='get'>
  <div class='inner'><input type='submit' value='Scissors'></div>
</form></div>

</body>
