<h1> Time to play! </h1>

<div style='border: dashed red 2px'>
  <h2> <%= @player_1 %> vs. The Computer </h2>

<%= @player_1 %> choose your shape:<br><br>

<form action='/choose' method='post'>
  <input type='submit' value='Rock'>
  <input type='submit' value='Paper'>
  <input type='submit' value='Scissors'>
</form>
</div>
