<html>

<head>
  <link rel="stylesheet" href="public/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <h1><%= Game.current_game.player.name %> challenges Edward to a game of ROCK, PAPER, SISSORS!</h1>

  <div class="weapons">

    <div class="rock">
      <form action="/result">
        <input type="submit" name="player_choice" value="ROCK" />
      </form>
    </div>

    <div class="paper">
      <form action="/result">
        <input type="submit" name="player_choice" value="PAPER" />
      </form>
    </div>

    <div class="sissors">
      <form action="/result">
        <input type="submit" name="player_choice" value="SCISSORS" />
      </form>
    </div>

  </div>

</body>

</html>
