<center>
<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<form action="/calculate" method="post">
      <p><input type="radio" name="choice" value="scissor" id="scissor">scissor</p>
      <p><input type="radio" name="choice" value="rock" id="rock">rock</p>
      <p><input type="radio" name="choice" value="paper" id="paper">paper</p>
      <input type="submit" value="Game on!">
    </form>

</center>
