<h1>Welcome <%= @game.player.name %>! Let's play Rock, Paper, Scissors!</h1>

<form action="/result" name="choice" method="post">
  <input type="submit" name="choice" value="Rock">
  <input type="submit" name="choice" value="Paper">
  <input type="submit" name="choice" value="Scissors">
</form>
