<h1>Welcome to the game <%=$game.player_1.name%>!</h1>

<h2>Please select a choice from below</h2>

<form action="/p1_choice" method="post">
  <input type="submit" name ="p1_choice" value="Rock"/>
</form>

<form action="/p1_choice" method="post">
  <input type="submit" name ="p1_choice" value="Paper"/>
</form>

<form action="/p1_choice" method="post">
  <input type="submit" name ="p1_choice" value="Scissors"/>
</form>

<form action="/p1_choice" method="post">
  <input type="submit" name ="p1_choice" value="Lizard"/>
</form>

<form action="/p1_choice" method="post">
  <input type="submit" name ="p1_choice" value="Spock"/>
</form>
