<h1>You chose <%= @user_chooses %>.</h1>

<h1>I chose <%= @computer_chooses %>.</h1>

<h1> <%= @won %> </h1>

<form action="/begin_game" method="post"
  <div>
    <button type="submit">Play Again</button>
  </div>
</form>
