<center>
<br>
<br>
<h1><%= @game.player1.name %> vs. Computer</h1>
    <form action ="/winner" method ="post">
  <label for="move1">
    Enter move:
    <select name="moves">
  <option value="Rock" selected>Rock</option>
  <option value="Paper">Paper</option>
  <option value="Scissors">Scissors</option>
</select>
  </label>
  <br>
  <br>
  <input type="submit" value="Shoot!">
</center>