<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- defining our character set and title -->
    <meta charset="utf-8">
    <title>RPS Player</title>
  </head>

  <body>
    <% if @game.move_counter == 1 %>
      <h1><%= @game.return_name(1) %> make your choice:</h1><br>
    <% elsif @game.move_counter == 2 %>
      <h1><%= @game.return_name(2) %> make your choice:</h1><br>
    <% end %>

    <form action="/move" method="post">
      <div>
        <button type="submit" name="action" value="rock">Rock</button>
        <button type="submit" name="action" value="paper">Paper</button>
        <button type="submit" name="action" value="scissors">Scissors</button>
      </div>
    </form>
  </body>
</html>
