<%= @player_1_name %> vs
<%= @player_2_name %>

<%= @player_1_name %> has made his choice

<form action="/player_2_turn" method="post">
    <button type="text">Rock</button>
    <button type="text">Paper</button>
</form>