<%= @player_1_name %> vs CPU
<br>
<form action="/attack" method="post">
  <input name="attack" type="submit" value="Rock">
  <input name="attack" type="submit" value="Paper">
  <input name="attack" type="submit" value="Scissor">
</form>
