<%= @player_name %> vs Computer

<form action="/attack1" method="post">
  <input type="submit" value="Scissors" name="move">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
</form>