<h1 style = "text-align:left;float:left;"><%= @game.player_1.name %> Score : <%= @game.player_1.score %> </h1>
<h1 style = "text-align:right;float:right;"><%= @game.player_2.name %> Score : <%= @game.player_2.score %> </h1>
<form style = "text-align: center;" action = "/play" method = "post">
  <input type="submit" value= "Rock" name ="Player_choice">
  <input type="submit" value= "Paper" name ="Player_choice">
  <input type="submit" value= "Scissor" name ="Player_choice">
</form>
