<h2><%= @name1 %>, let's play Rock, Paper, Scissors!</h2>

<form action = "/result" method="post">
  <input id="Rock" type="radio" name="rpc-radio" value="Rock" checked />rock<br>
  <input id="Paper" type="radio" name="rpc-radio" value="Paper" />paper<br>
  <input id="Scissors" type="radio" name="rpc-radio" value="Scissors" />scissors<br>
  <br/>
  <input type="submit" value="ok" />
</form>
