<h1>You are now playing the computer! </h1>
<h2>Please choose rock, paper or scissors</h2>
<form action="/result" method="post">
  <input type="submit" name = 'choice' value="Rock">
  <input type="submit" name = 'choice' value="Paper">
  <input type="submit" name = 'choice' value="Scissors">
</form>
