<html>
  <head>
    <link href="<%= url('/style.css') %>" rel='stylesheet' type='text/css' />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class='header'><%= "#{session[:player]}" %> vs Computer!! </div>
    
    <div id='outer'>
      <form style='text-align:center' method='post' action='/move'>
        <button class='rockbutton' type='submit' name='move' value='Rock'></button>
        <button class='paperbutton' type='submit' name='move' value='Paper'></button>
        <button class='scissorsbutton' type='submit' name='move' value='Scissors'></button>
      </form>
    </div>

    <div id='outer' class='subheader'>
      Choose your weapon!!
    </div>
  </body>
</html>
