<!DOCTYPE html>
  <head>
    <link href="/styles/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="landing-page">
      <h1>Hi, <%= @game.player.name.capitalize %>!</h1>
      <h2>Are you ready to play?</h2>
    </div>

    <div class="instructions">
      <h3>Select your move below and press play:</h3>
    </div>

    <form class="play-form" action="/choice" method="post">
      <label>
        <img src="/images/rock.png" style="height: 80px">
        <input type="radio" name="choice" value="Rock"><p>Rock</p>
      </label>
      <label>
        <img src="/images/paper.png" style="height: 80px">
        <input type="radio" name="choice" value="Paper"><p>Paper</p>
      </label>
      <label>
        <img src="/images/scissors.png" style="height: 80px">
        <input type="radio" name="choice" value="Scissors"><p>Scissors</p>
      </label>
      <br><br>
      <input type="submit" value="Play" class="btn btn-success">
    </form>

    <a href="/" class="btn btn-success">Start as new player</a>

  </body>
</html>
