<link rel="stylesheet" type="text/css" href="/mystyle.css">

<h2><%= @game.player_1.name %> choose your weapon</h2>

<img src="https://s2.favim.com/orig/141212/cute-drawing-friends-funny-Favim.com-2304562.jpg"/>

<form action="/result" method="post">
  <input class="weapon_button" type="submit" value="Rock" name="player_weapon">
  <input class="weapon_button" type="submit" value="Paper" name="player_weapon">
  <input class="weapon_button" type="submit" value="Scissors" name="player_weapon">
</form>
