<h1>Rock, Paper, Scissors!</h1>
<p><%= @player %> vs. The Machine</p>
<h2><%= @player %>, pick one option...</h2>

<input type="submit" value="ROCK"><input type="submit" value="PAPER"><input type="submit" value="SCISSORS">
