<h4> Game: </h4>
Rock, Paper, Scissors 
<h4> Format: </h4> Best of <%= @game_type %>
<br><br>

<br>
<h2> Make your choice </h2>
<form action="/enter_dragon" method="post">
<input class="start_button" type="submit" value="ROCK">
<input class="start_button" type="submit" value="PAPER">
<input class="start_button" type="submit" value="SCISSORS">
</form>