<h2>The Result</h2>
<div style="background-color:beige; border:6px outset #F7730E; width: 600px;"><center>
<table style="width: 600px;"><tr><th><b><%= @player_1 %> chose <%= @player_1_choice %></b></h3></th>
<th><b>Paper</b></h3></th><th><b>Scissors</b></th></tr>
<tr>
<td style="width: 200px;"><center><img src = ></center></td>
<td style="width: 200px;"><center><img src = ></center></td>
<td style="width: 200px;"><center><img src = </center></td>
</tr>
</table></center>
</div>
<style>
  table, th, td {
    border: 1px solid orange;
  }
  th, td {
    padding: 10px;
  }
</style>