<!DOCTYPE html>
  <html>
    <head>
      <title>RPSLS</title>
    </head>
    <body>
      <header>
        <h1> Welcome <%= @player_name %>! </h1>
        <h3> This game is Rock-Paper-Scissors-Lizard-Spock! </h3>
      </header>
      <main>
        
      </main>
    </body>
  </html>
