<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>

<p><%= @game.player_2.name %>, what is your move?</p>

<form action="/player_two_choice" method="post">
  <select name="player_two_choice">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
