<!DOCTYPE html>
<html>
  # <head>
  #   <link rel="stylesheet" type="text/css" href="/style.css" />
  # </head>
  <body>
    <header>
    <h1><%= @player_name.name %></h1>
    </header>
   
    <main>
    </main>

  </body>
</html>