<%= @game.player1.name %> and Finn vs. Jake
Select your awesome move!<br>
<form action="/winner" method="post">
  <input type="submit" name="player_move" value="Rock">
  <input type="submit" name="player_move" value="Paper">
  <input type="submit" name="player_move" value="Scissors">
</form>