<h1> Welcome <%= @player.name %>!</h1>
<p> Please select your weapon </p>
<form action="/weapon" method="post">
  <input type="hidden" name="weapon" value="Rock">
  <input type="submit" value="Rock">
</form>
<form action="/weapon" method="post">
  <input type="hidden" name="weapon" value="Paper">
  <input type="submit" value="Paper">
</form>
<form action="/weapon" method="post">
  <input type="hidden" name="weapon" value="Scissors">
  <input type="submit" value="Scissors">
</form>
