<h1>Rock, paper, scissors</h1>

<p>Player name is <%= @player1_name %> vs. the computer</p>

<!-- <p>Choose one of the following:</p>
<form method='post' action='/players'>
<select name="rps">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>
<input type='submit' value='Submit'/>
</form> -->
