<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play a game</title>
</head>
<body>
  <form action='/result' method='POST'>
  <p>Hi <%= $game.player.name %>! Make your choice:</p>
  <div>
    <input type="radio" id="rock"
     name="move" value="rock" checked>
    <label for="rock">ROCK</label>

    <input type="radio" id="paper"
     name="move" value="paper">
    <label for="paper">PAPER</label>

    <input type="radio" id="scissors"
     name="move" value="scissors">
    <label for="scissors">SCISSORS</label>
  </div>
  <div>
    <button type="submit">Play</button>
  </div>
</form>
</body>
</html>