<h1> Hello <%=$game.player.name %> - please choose an action to play <h1>

<form action='/game' method='post'>
  <input type='submit' name='selection' value='Rock'/>
  <input type='submit'name='selection' value='Paper'/>
  <input type='submit' name='selection' value='Scissors'/>
</form>
