<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Has Started</title>
</head>
<body>
  <h1>Ready to win <%= @player.capitalize %>?</h1>
  <form action="/move" method="post">
    <input type="submit" value="Rock, Paper, Scissors...">
  </form>
</body>
</html>