<%= @player_1 %>!
Please choose one of the following weapons:<br>
Rock:
<form action="/attack">
  <input type="submit" value="Choose">
</form><br>

Paper:
<form action="/attack">
  <input type="submit" value="Choose">
</form><br>

Scissors:
<form action="/attack">
  <input type="submit" value="Choose">
</form>
