<center>
    <h2>Welcome to</h2>
    <h1>Rock Paper Scissors Lizard Spock! </h1>
    <h2>Hi, <%= $game.player.name%>! Today you are playing against <%= $game.computer.name%>.</h2>
    <h2>What is your weapon of choice?</h2>

    <form action=>
        <input type="radio" name="weapon" align="left" value="rock"> Rock<br>
        <input type="radio" name="weapon" align="left" value="paper"> Paper<br>
        <input type="radio" name="weapon" align="left" value="scissors"> Scissors<br>
        <input type="radio" name="weapon" align="left" value="lizard"> Lizard<br>
        <input type="radio" name="weapon" align="left" value="spock"> Spock<br>
    </form>
    <input type="submit" value="Submit">
</center>