<div>
  <h2>Player 1: <%= RPS.game.p1.name %></h2>
</div>

<div>
  <h2>Player 2: <%= RPS.game.p2.name %></h2>
</div>

<div>
  <h3>↓Choose your move below↓</h3>
</div>

<div>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='ROCK'>
  </form>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='PAPER'>
  </form>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='SCISSORS'>
  </form>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='LIZARD'>
  </form>
  <form action='/play' method='post'>
    <input type='submit' name='move' value='SPOCK'>
  </form>
</div>
