
Welcome, <%= @game.player.name %>

<form action="/game" method="post">
  <input type="submit" value="rock" name="choice">
  <input type="submit" value="paper" name="choice">
  <input type="submit" value="scissors" name="choice">
</form>
