<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rock, Paper, Scissors</title>
    <link rel=stylesheet type=text/css href=/site.css />
    <link rel=stylesheet type=text/css href=/play.css />
  </head>
  <body>
    <h1>Hi, <%= @name%>!</h1>
    <h3>What's your play?</h3>
    <p class="choicesContainer">
      <figure>
        <img class="rockImg" src=/images/rock.png />
        <figcaption>Rock</figcaption>
      </figure>
      <figure>
        <img class="paperImg" src=/images/paper.png />
        <figcaption>Paper</figcaption>
      </figure>
      <figure>
        <img class="scissorsImg" src=/images/scissors.png />
        <figcaption>Scissors</figcaption>
      </figure>
    </p>
  </body>
</html>
