<h1>Let's play!</h1>
<h2>Choose your move by clicking the button</h2>
<p>Your points: <%=0%>
<p><%='Opponent'%>'s points: <%=0%>

  <form action ="/move" method="post">
    <input type="submit" value="Rock"/>
    <input type="submit" value="Paper"/>
    <input type="submit" value="Scissors"/>
  </form>
