<div style="text-align:center">
  Rock, paper, scissors!
  Make your choice:
  <div>
    <!-- <img src="https://images.unsplash.com/photo-1554322662-5b660295377d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8cm9ja3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="ROCK"> -->
    <button type="button" name="rock">Rock</button>
    <!-- <img src="https://images.unsplash.com/photo-1535350356005-fd52b3b524fb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8cGFwZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="PAPER"> -->
    <button type="button" name="paper">Paper</button>
    <!-- <img src="https://images.unsplash.com/photo-1503792501406-2c40da09e1e2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c2Npc3NvcnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="SCISSORS"> -->
    <button type="button" name="scissors">Scissors</button>
  </div>
</div>
