<h1 style='text-align:center'><%= "#{@game.player}" %> vs Computer!!</h1>
<form style='text-align:center' method='post' action='/attackchoice'>
  <button type='submit' name='attack' value='Rock'></button>Rock
  <button type='submit' name='attack' value='Paper'></button>Paper
  <button type='submit' name='attack' value='Scissors'></button>Scissors
</form>
