<h1> Welcome, <%=@player1%>!</h1>

<form action="/rock" method="post">
<input type="submit" value="Rock!" style="width:350px;height:180px;"/>
</form>

<form action="/paper" method="post">
<input type="submit" value="Paper!" style="width:350px;height:180px;"/>
</form>

<form action="/scissors" method="post">
<input type="submit" value="Scissors!" style="width:350px;height:180px;"/>
</form>
