<!DOCTYPE html>
<html>
<head>
  <title>Rock-Paper-Scissors</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>

<header>Rock-Paper-Scissors</header>

<h2>Hi, <%= @player.name %>!</h2>
<h2>What hand would you like to play?</h2>
<br>

<form action='/rock' method='post'>
  <input type='submit' value='ROCK' name='ROCK'>
</form>

<form action='/paper' method='post'>
  <input type='submit' value='PAPER' name='PAPER'>
</form>

<form action='/scissors' method='post'>
  <input type='submit' value='SCISSORS' name='SCISSORS'>
</form>

</body>
</html>