<h3><%= @player_1 %> vs. Stoney. Fight!</h3>

<h3>Choose Rock</h3>
<form method='post' action='/attack_rock_win'>
  <input type='submit' value='Rock'></input>
</form>

<form method='post' action='/attack_loss'>
  <input type='submit' value='Paper'></input>
</form>

<form method='post' action='/attack_scissor_win'>
  <input type='submit' value='Scissors'></input>
</form>