<h2> Hi <%= @player_name %> What is your move? </h2>
<form action='/go' method='post'> 
<input type='submit' name='player_go' value='Paper' >
<input type='submit' name='player_go' value='Rock' >
<input type='submit' name='player_go' value='Scissors' >
</form>


