Player: <%= @player_name %>
<h2>Make your choice!</h2>
<form action="/select" method = "post">
  <input type="submit" value="Rock" name="choice">
  <input type="submit" value="Paper" name="choice">
  <input type="submit" value="Scissors" name="choice">
</form>