<head>
  <h1 style='text-align:center'> Let's Play <%= @game.player.name %> </h1>
</head>

<br>
<br>

<h3 style='text-align:center;color:rgb(230, 80, 80)'> Rock, Paper or Scissors? </h3>

<br>
<br>

<body style='background-image:linear-gradient(rgb(241, 163, 244),rgb(167, 225, 235))'>

  <table style="width:30%;margin-left:auto;margin-right:auto">
    <tr style="text-align:center">
      <th><input type="button" name="rock" value="Rock"></th>
      <th><input type="button" name="paper" value="Paper"></th>
      <th><input type="button" name="scissors" value="Scissors"></th>
    </tr>
  </table>

  <br>

</body>
