<h1><%= @marketeer_name %>! Welcome to the Rock, Paper, Scissors Game! </h1>

<form action="/play" method="post">
  <input type="submit" name="play_option" value="Rock">
  <input type="submit" name="play_option" value="Paper">
  <input type="submit" name="play_option" value="Scissors">
</form>

You chose: <%= @play_option %>