<h1><center><%=@player%> Vs Computer</center></h1>
<br>
<h3><%= @player%>, select your choice</h3>
  <form action="/result" method="get">
   <input type="submit" value="ROCK">
  </form>

  <form action="/result" method="get">
    <input type="submit" value="PAPER">
  </form>

  <form action="/result" method="get">
    <input type="submit" value="SCISSOR">
  </form>
