<h1>Hello <%=@player_name%>, welcome to Rock, Paper, Scissors! </h1>
<br></br>
<h2> Please choose one of the following options: </h2>

<form action = "/choice" method = "post">
       <input type="submit" name="choice" value="Rock" />
   </form>

<form action = "/choice" method = "post">
      <input type="submit" name="choice" value="Paper" />
  </form>

  <form action = "/choice" method = "post">
        <input type="submit" name="choice" value="Scissors" />
    </form>
