<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
</head>

<body>

<div id="main_game_header">
  <h2>Round 1<%= @round_no %></h2>
  <h2>Choose your weapon!</h2>
  <br>
</div>

<div id="weapons_box">
  <form method="post" action="/fight">
    <ul>
      <li>
        <button class="weapon_option" type="submit" name="weapon" value="ruby">
            <img class="weapon_icon" src="images/right/ruby.png">
            <br>Ruby
        </button>
      </li>
      <li>
        <button class="weapon_option" type="submit" name="weapon" value="paper">
            <img class="weapon_icon" src="images/right/paper.png">
            <br>Paper
        </button>
      </li>
      <li>
        <button class="weapon_option" type="submit" name="weapon" value="scissors">
            <img class="weapon_icon" src="images/right/scissors.png">
            <br>Scissors
        </button>
      </li>
    </ul>
  </form>
</div>

</body>

</html>