Hi <%= @player_1_name %>!
<br><br>

<form action="/rps" method = "post">
    <label for="rps">
      <%= @player_1_name %>, choose - rock, paper or scissors:
      <input type="text" name="rps">
    </label>
  <input type="submit" value="OK">
</form>
