Hello <%= @player.name %>, let's play Rock Paper Scissors!
<form class="" action="index.html" method="post">
  <input type="submit" value= "Rock">
  <input type="submit" value= "Paper">
  <input type="submit" value= "Scissors">
</form>
