<!DOCTYPE html>
<h1>Player 1: <%= @player_1%> </h1>

<html>
<body bgcolor="#33FF52">
  <div align="center">
    <br>
    <br>
    <h1>Let's go!</h1>
    <form action="/choose" method="get">
      <button type="Submit" name="rock">Rock</button>
      <button type="Submit" name="paper">Paper</button>
      <button type="Submit" name="scissors">Scissors</button>
    </form>
   </div>
</body>
</html>
<%# <p>Rock, Paper or Scissors </p> %>