<h2>Make your choice, <%= @game.player.name %>.</h2>
<form action='/choice' method='post'>
  <input name='choice' type='submit' value='rock'>
  <input name='choice' type='submit' value='paper'>
  <input name='choice' type='submit' value='scissors'>
</form>