<div>
  <h1> <%=@game.human_player_name%> vs Bot of Doom<h1>
</div>
<div>
  <h1>Rock, Paper, Scissors!</h1>
</div>
  <h2> Human choose your hand gesture by clicking one of the choices below </h2>
  <form action='/play' method='post'>
  <input type='radio' ID=1 name='choice' value='ROCK' /> ROCK
  <input type='radio' ID=2 name='choice' value='PAPER' /> PAPER
  <input type='radio' ID=3 name='choice' value='SCISSORS' /> SCISSORS
  <input type='submit' class='button' value='go' >
</form>

<h1>Human chose <%=@game.human_player_choice%>!</h1>

<div id="bot">
<h1>Bot of doom chooses <%=@game.bot_choice%>!</h1>
</div>

<% if @game.human_wins? %>
  <h1>Human wins!</h1>
<% elsif @game.human_loses? %>
  Human loses!
<% elsif @game.draw? %>
 Its a draw!
<% end %>
