<h1><%=@player_1_name%>, prepare for battle!</h1>
<p>Start by selecting your attack of choice (Rock, paper or scissors).</p>
<form action="/rock">
  <input type="submit" value="Rock" />
</form>
<form action="/paper">
    <input type="submit" value="Paper" />
</form>
<form action="/scissors">
  <input type="submit" value="Scissors" />
</form>
<p>Check out the image below for an explanation of how the game works.</p>
<p>Good luck...</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/460px-Rock-paper-scissors.svg.png" alt="RPS rules">
