<%=@player%> is registered as a player
<form action="/choice" method="post">
<input type="submit" value=<%=@choices[0]%>  name='choice'>
  <input type="submit" value=<%=@choices[1]%> name='choice'>
  <input type="submit" value=<%=@choices[2]%> name='choice'>
</form>
