<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div>
<h1><p><%= @game.player_1.name%>!</p> Choose your weapon</h1>
<form action="/game" method="post">
<input type="image" src="/imgs/paper.png" alt="Paper" value="paper" name="weapon">
<input type="image" src="/imgs/rock.png" alt="Rock" value="rock" name="weapon">
<input type="image" src="/imgs/scissors.png" alt="Scissors" value="scissors" name="weapon">
</form>
</div>
</body>