<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>

<h2 class = "center_two"> <%= @name_two %> ?</h2>

<form action='/choice' method='post' class = "center_two">
  <input type='submit' name='Rock' value='Rock'>
  <input type='submit' name='Paper' value='Paper'>
  <input type='submit' name='Scissors' value='Scissors'>
</form>
