<body>
  <h1>Player One: <%=@player_one%></h1>
  <div id="options">
      <div id="rock">
        <p>ROCK</p>
        <form action="/names" method="post">
          <input type='submit' name='rock' value='Choose'>
        </form>
      </div>
      <div id="paper">
        <p>PAPER</p>
        <form action="/names" method="post">
          <input type='submit' name='rock' value='Choose'>
        </form>
      </div>
      <div id="scissors">
        <p>SCISSORS</p>
        <form action="/names" method="post">
          <input type='submit' name='rock' value='Choose'>
        </form>
      </div>
    </div>
  </body>
