<center><font size=20>
<%= $humanplayer.name %> Vs. <%= $computerplayer.name %>
<p>
<p>
Pick a move, Meatbag!
<p>
<form action="/move" method="post">
<input type="submit" value="Rock" name="move">
<input type="submit" value="Paper" name="move">
<input type="submit" value="Scissors" name="move">
</form>
