<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        background-color: #FCCCAF;
      }
      p {
        font-size: 30px;
        text-align: center ;
      }

      div {
        text-align : center;
      }
   </style>
  </head>
  <body>
    <div>
    <h2> Please choose the player_1 movement? </h2>
      <form action="/ask_player_2_movement" method="post">
        <select name="player_1_movement">
          <option value="scissors">siccors</option>
          <option value="rock">rock</option>
          <option value="paper">paper</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>

  </body>
</html>
