<head>
  <title>Rock, Paper, Scissors!</title>
</head>

<body>
  <h1>Make your selection, <%= @name %></h1>
  <input type="submit" name="rock" value="Rock">
  <input type="submit" name="paper" value="Paper">
  <input type="submit" name="scissors" value="Scissors">
</body>
