<h1><%=@game.player_1.name%> vs Computer</h1>

<form action="/choose_rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/choose_paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/choose_scissors" method="post">
  <input type="submit" value="Scissors">
</form>
