<html> 
  <head>
  </head>

  <body>
    <h2> <%= @player_name %> vs. The Champion </h2> 
    <h3> Hi <%= @player_name %>, choose rock, paper or scissors! </h2> 

    <a href> Rock </a>
    <br>
    <a href> Paper </a>
    <br>
    <a href> Scissors </a>
    
  </body>
</html>