<!DOCTYPE html>
<html>
<body>

 <h1> New Challenger: <%= @player_1 %> </h1>

</body>

<form action='/selection'>
  <button class="btn rock">Rock</button>
  <button class="btn paper">Paper</button>
  <button class="btn scissors">Scissors</button>

</form>


</html>