<h1>It's Rock, Paper Scissors with <%= @name %></h1>

<p> <%= @name %>, make your choice </p>
<form action='/choice' method='post'><input type="submit" value="Rock"/></form>
<form action='/choice' method='post'><input type="submit" value="Paper"/></form>
<form action='/choice' method='post'><input type="submit" value="Scissors"/></form>
