<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>

<body>

  <h2> Welcome <%= @player_1_name %> </h2>

  <form>
         <input type="button" onclick="location.href = '/outcome'" value="Rock"/>
      </form>

</body>
</html>