<head>
  <title>Rock Paper Scissors</title>
</head>
<style>
.Page {
  background-color: gold;
  margin-left: 200px;
  margin-right: 200px;
}
.interface {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: blue;
}
.score {
  margin-right: 250px;
  margin-left:250px;
  margin-top: 30px;
  background-color: white;
}
.moves{
  margin-right: 200px;
  margin-left: 200px;
  border: dashed;
}
.GO {
  padding: 30px;
  color: red;
  background-color: green;
  border-radius: 90%;
}
</style>
<body class="Page">
  <div class="interface"align="center">
    <div class="score">
      <br><br>
      <h1 align="center">Score</h1>
      <h2 align="center"> </h2>
      <br><br>
    </div>
    <form class="moves"id="move"action="move"method="post">
      <input class="GO"type="submit"value="Go!">
    </form>
  </div>
</body>