<div style="color: red; border: 10px solid red; text-align: center; padding: 40px; font-family: trebucket">
  <p style="font-size: 100px; font-family: trebucket">
    <%= @player %> vs. Computer
  </p>
</div>