<h1>Let's go, <%= @player_name %>!</h1>
<h2>Choose your weapon:</h2>
<form action="/rock"><input type="submit" value="ROCK"></form>
<form action="/paper"><input type="submit" value="PAPER"></form>
<form action="/scissors"><input type="submit" value="SCISSORS"></form>
