Hello, <%=session[:name]%>!

<form action='/choices' method='POST'>
  <input type="submit" value="Rock" name="choice"/>
  <input type="submit" value="Paper" name="choice"/>
  <input type="submit" value="Scissors" name="choice"/>
</form>

Your choice is <%=session[:choice]%>!