<%=@player_name%> vs. Computer
<br><br>
<%=@player_name%> ENTER YOUR MOVE
<br><br>
<form action="/choice" method="post">
  <select name="player_choice" size="3">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
