<h1> &#x270a Rock &#x270b Paper &#x270c Scissor!</h1>
<h1> <%= @name %> vs. Computer</h1>

<form method="post" action="/move">
  <input type="submit" name = "move" value= "Rock" >
  <input type="submit" name = "move" value= "Paper" >
  <input type="submit" name = "move" value= "Scissors" >
</form>
