<h1> Welcome <%= @player_name.capitalize %>! </h1>
<br>
<h2> <%= @player_name.capitalize %>, you have chosen <%= @player_choice.upcase %>! </h2>

<br>

<form action="/result" method="get">
  <input type="submit" value="LET'S PLAY!" name ="computer_choice">
</form>
