<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Rock Paper Scissors!</title>
</head>

<body>
  <h1><%= $game.player_1.name %> vs. <%= $game.player_2.name %> </h1>

  <h2>Make your pick!</h2>
  <form action="/fight" method="post">
    <input type="radio" name="player_1_move" value="Rock" /> Rock
    <input type="radio" name="player_1_move" value="Paper" /> Paper
    <input type="radio" name="player_1_move" value="Scissors" /> Scissors<br><br>
    <button name="submit" value="Submit">Submit</button>
  </form>
</body>

</html>