<style> body {
    background-color: white;
    /*background-image: url("https://www.weirdasianews.com/wp-content/uploads/2012/06/janken.jpg");*/
    background-size: 100% 100%;
}

h1 {
    color: red;
    font-family: helvetica;
    font-size: 80px;
}

input[type=text] {
    width: 20%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: blue;
    align-content:  center;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 100px;
    cursor: pointer;
    text-decoration-color: green;
    font-size: 10 0px;
}

</style>

<div align="center">

<h1> Please select number of players! </h1>

<form action="/index" >
  <input type="submit" value="One">
</form>
<form action="/index_2" >
  <input type="submit" value="Two">
</form>
<div align="center">

</div>
