
<p>User: <%=@player.name%></p> 

<img src="rock.png" alt="">

<form action="/result" >

<input type="image" src="/images/rock.png" alt="rock">
<input type="image" src="/images/paper.png" alt="paper">
<input type="image" src="/images/scissors.png" alt="scissors">

</form>