<h2>okay lets play</h2> <%= @game.player.name %>

<h1> Please select your weapon </h1>
<form action="/deciding"> 
<input type="radio" name="selection" value="rock" id="rock"><label for="rock">rock</label>
<input type="radio" name="selection" value="paper" id="paper"><label for="paper">paper</label>
<input type="radio" name="selection" value="scissors" id="scissors"><label for="scissors">scissors</label>
<input type="submit" value="Submit">
</form>