<h1 style='font-family: futura'>Rock Paper Scissors</h1>
<h3 style='font-family: futura'>Hi <%=@player.name%>!</h3>
<a href='/play'><button>Rock</button></a>
<a href='/play'><button>Paper</button></a>
<a href='/play'><button>Scissors</button></a>

