<p id="player">Welcome <%= @name %>, lets play</p>
<div id="game_box">
  <p><%= @move %></p>
  <p><%= @result %></p>
  <form action="/play" method="post">
    <button type="submit" name="move" value="Rock">Rock</button>
    <button type="submit" name="move" value="Paper">Paper</button>
    <button type="submit" name="move" value="Scissors">Scissors</button>
  </form>
</div>
