<h1>Hello <%= @player.name %>!</h1>

<p>
  <form action='/selection' method='post'>
    <input type='image' name='choice' value='rock' src="https://s-media-cache-ak0.pinimg.com/30x30/40/b5/38/40b5389dfa57a717a8cef4867801c0bf.jpg">
    <button type='submit' name='choice' value='paper'>Paper</button>
    <button type='submit' name='choice' value='scissors'>Scissors</button>
  </form>
</p>
