<center>

<link rel="stylesheet" type="text/css" href="/style.css">

<h2> Choose your move </h2>

<br>

<form action='/game' method="post">

  <select name='move'>
  <option value="Rock">Rock</option>
  <option value="Paper">Paper</option>
  <option value="Scissors">Scissors</option>
  </select>

  <input type="submit" value="Confirm">

</form>
</center>

