<div>
Thank you, <%=$player1.name%>!
</div>
<div>
Make your move: Rock or Paper
<form action="/winner" method="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
</form>
</div>