<!DOCTYPE html>
<html>

  <head>
    <title>Rock Paper Scissors!</title>
  </head>

  <body>
<div>
  <center>
      <p><h2>Greetings, <%= @player.name %></h2></p>

      <p><h2>Choose your weapon</h2></p>

      <form action="/result" method="post">
        <input type="radio" id="rock" name= "rock" value="rock">
        <label for="rock">Rock</label>
        <br><br>
        <input type="radio" name= "paper" value="paper">
        <label for="paper">Paper</label>
        <br><br>
        <input type="radio" name= "scissors" value="scissors">
        <label for="scissors">Scissors</label>
        <br><br>
        <input type="submit" value="submit">
      </form>
</div>
  </center>

  </body>
</html>
