<h1>It's <%= @player1 %> vs. <%= @player2 %></h1>

<p> <%= @player1 %>, make your choice </p>
<button type="button"> Rock </button>
<button type="button"> Paper </button>
<button type="button"> Scissors </button>
