Let's play <%= @player_1.name %>!
<br>
<br>
Please pick Rock, Paper or Scissors
<br>
<br>
<form action="player_rock">
  <input type="submit" value="Rock">
</form>
<br>
<br>
<form action="player_paper">
  <input type="submit" value="Paper">
</form>
<br>
<br>
<form action="player_scissors">
  <input type="submit" value="Scissors">
</form>
