<h1><%= @game.players_name
  %> vs. Computer</h1>

<section>
  <a href='/game?choice=rock'><button>Rock</button></a>
  <a href='/game?choice=paper'><button>Paper</button></a>
  <a href='/game?choice=scissors'><button>Scissors</button></a>
  <a href='/game?choice=lizard'><button>Lizard</button></a>
  <a href='/game?choice=spock'><button>Spock</button></a>
</section>