player: <%= @player %> please choose your weapon: rock, paper, or scissors

<form action="/player_choice" method="post">
  <input type="text" name="weapon">
  <input type="submit" value="submit">
</form>
