Hello, <%= @turn.player_name %>!<br>

<form method="POST" action="/play">

  <input type="submit" name="player_utensil" value="Rock" /><br><text=FFFFFF# we need the name here for the input to retreive for params later>
  <input type="submit" name="player_utensil" value="Paper" /><br>
  <input type="submit" name="player_utensil" value="Scissors" /><br>
</form>

<%=@turn.player_utensil.to_s.capitalize%>! You chose wisely. <text=FFFFFF# this text should only be visible after the player selects the game tool>

<div id="bot_utensil" <text=FFFFFF# Using id here because we not expecting more than one bot>
  O-oh! The gamebot chose the <%=@turn.bot_utensil.to_s.capitalize%> utensil.<text=FFFFFF# We ve put this text into an identifyable element using div>
</div>

<% if @turn.win? %>
  You win!
<% elsif @turn.lose? %>
  You lose!
<% elsif @turn.draw? %>
  It's a draw!
<% end %>
