<!DOCTYPE html>

<html lang="en">
<head>
  <title>Rock Papper Scissors!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <div class="container" id="main_body">
    <div class="jumbotron">
      <h1><strong><%= @game.player_1.name %></strong> vs. <strong><%= @game.player_2.name %></strong></h1>
    </div>
      <% if @game.result %>
        <h2><%= @game.result %></h2>
      <% else %>
        <h2><%= @game.active_player.name %> make your move!</h2>
      <% end %>
      <form action="/scissors" method="post">
        <button type="submit" class="button btn btn-outline-primary">Scissors</button>
      </form>
      <form action="/paper" method="post">
        <button type="submit" class="button btn btn-outline-primary">Paper</button>
      </form>
      <form action="/rock" method="post">
        <button type="submit" class="button btn btn-outline-primary">Rock</button>
      </form>
  </div>
</body>
</html>