<html>
<head>
<style>
body {background-color: #000000; color: white}
h1   {color: gold; font-size: 300%;}
p    {color: red;}
</style>
</head>
<body>

<div align="center">
<div style='border: 3px solid gold'>
<h1> Welcome <%= @player_1_name %> </h1>
</div>
<br>
You're playing against <b><%= @player_2_name %></b>
<h2>Make your selection:</h2>
</div>

<div align="center">
<form action="/selection" method="post">
  <input type="hidden", name="action", value="rock" />
  <input type="submit" value="ROCK">
</form>

<form action="/selection" method="post">
  <input type="hidden", name="action", value="paper" />
  <input type="submit" value="PAPER">
</form>

<form action="/selection" method="post">
  <input type="hidden", name="action", value="scissors" />
  <input type="submit" value="SCISSORS">
</form>
</div>

</body>
