<h1>Welcome <%=@player%></h1>

<h2>Choose your move</h2>

<!-- Should they be separate views? -->
<a href="/rock">Rock</a>
<a href="/paper">Paper</a>
<a href="/scissors">Scissors</a>


<!-- If use a form in stead of clickable links: -->
<!-- <input type="submit" value="Rock">
<input type="submit" value="Paper">
<input type="submit" value="Scissors"> -->
