<p>Choose your weapon, <%=@name%>! And choose carefully...</p>

  <form action = "/play-game" method = "post">
    Rock
  <input type="radio" name="weapon" value ="rock">
    <br>
    <br>
    Paper
  <input type="radio" name="weapon" value ="paper">
    <br>
    <br>
    Scissors
  <input type="radio" name="weapon" value ="scissors">
  </form>
  <input type="submit" value="PLAY!">
</form>
