<center>

  <h1>
<%= @player_1_name %>, lets play ROCK, PAPER, SCISSORS!
</h1>
    <h2>  Make your move!
      </h2>
      <style>.container {
                          display: block;
                          position: relative;
                          padding-left: 35px;
                          margin-bottom: 12px;
                          cursor: pointer;
                          font-size: 22px;
                          -webkit-user-select: none;
                          -moz-user-select: none;
                          -ms-user-select: none;
                          user-select: none;
                        }
        </style>
        <h4>
      <body>
        <!-- <form action='/' method='post'> -->
      <label class="container"> Rock
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container"> Paper
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container"> Scissors
            <input type="radio" name="radio">
            <span class="checkmark"></span>
              </label>
              <br>
              <input type="submit" value="Shazam!">
        <!-- </form> -->
      </body>

    </h4>
</center>
