

Pick your weapon: <br>
<form action="/winner" method="post">
  <input type="radio" name="rock" value="Rock">Rock<br>
  <input type="radio" name="paper" value="Paper">Paper<br>
  <input type="radio" name="scissors" value="Scissors">Scissors<br>
  <input type='submit' value='Submit'>
  </form>
