<h1>Ok <%= @name %>, pick your weapon</h1>

<form action='/play' method='post'>
  <button type='submit' name='choice' value='rock'>
    ROCK
  </button>
  <button type='submit' name='choice' value='paper'>
    PAPER
  </button>
  <button type='submit' name='choice' value='scissors'>
    SCISSORS
  </button>
</form>