<h2><%= @game.human.name %>, choose your lizard</h2>
<h3>Ultradominant Orange-throat</h3>
<form action="/orange-throat" method="post">
    <input type="submit" value="Orange-throat" />
</form>
<h3>Dominant Blue-throat</h3>
<form action="/blue-throat" method="post">
    <input type="submit" value="Blue-throat" />
</form>
<h3>Yellow-throated sneaker</h3>
<form action="/yellow-throat" method="post">
    <input type="submit" value="Yellow-throat" />
</form>
