<%= @name %> vs. Computer
<br>

<form method="post" action="/play">
<input type="submit" name="shape" value="ROCK">
<input type="submit" name="shape" value="PAPER">
<input type="submit" name="shape" value="SCISSORS">
</form>

<p>You chose <%= @shape %></p>
Computer chose <%= $game.computer.choice %></p>