<h2> Welcome <%= @game.player.player_name %>! <h2>

<h3> What is it going to be? Rock, Paper or Scissors? </h3> 

<form action="/option" method="POST">
<button type="submit" name="option" value="Rock"> Rock </button>
<button type="submit" name="option" value="Paper"> Paper </button>
<button type="submit" name="option" value="Scissors"> Scissors </button>
</form>

