<h1>Please choose Rock Paper or Scissors <%=@player_name%>!</h1>
<form action='/play_game' method='post'>
  <button class='rock_button' type='submit'>Rock</button>
  <input type="hidden" name="choice" value="Rock">
</form>
<form action='/play_game' method='post'>
  <button class='paper_button' type='submit'>Paper</button>
  <input type="hidden" name="choice" value="Paper">
</form>
<form action='/play_game' method='post'>
  <button class='scissors_button' type='submit'>Scissors</button>
  <input type="hidden" name="choice" value="Scissors">
</form>
