
Okay then <%=@player1_name%>, which item do you want to play?

<form action="/submit_item" method="post">
  <button name="rock" type="submit" value="rock">Rock</button>
  <button name="paper" type="submit" value="paper">Paper</button>
  <button name="scissors" type="submit" value="scissors">Scissors</button>
</form>
