<h1><%= @player_name %>, you are now registered</h1>

<h1>Time to play Rock Paper Scissors with <%= @computer_name %></h1>
<h2>Choose your weapon:</h2>

<form action="" method="post">
  <input type="radio" name="weapon" value="Rock">Rock<br><br>
  <input type="radio" name="weapon" value='Paper'>Paper<br><br>
  <input type="radio" name="weapon" value="Scissors">Scissors<br><br>
  <input type="submit" value="Submit">
</form>
