<h1>Hi <span style="color: mediumaquamarine"><%= @player %></span>!</h1>
<h2>Your move...Rock, Paper or Scissors?</h2>

<form action='/move' method='post'>
  <input type='text' name='player_move'>
  <input type='submit' value='Play'>
</form>


<img src="http://giphygifs.s3.amazonaws.com/media/E7ClVqqCl8bVS/giphy.gif">
