<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Play page</title>
</head>
<body>
<h1>Lets play Rock Paper Scissors</h1>
<p>It's <%= player %> Vs Computer</p><br>
<p>Please choose an attack type to begin</p>

<form action="/api/attack" method="post">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>

</body>
</html>