<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h1><%= "#{@player1.name} vs. #{@player2.name}" %></h1>
<h3><%= "#{@player2.name}, Select your weapon" %></h3>

<form class="button" action="/p2_choice" method="post">
  <input type="submit" name="p2_choice" value="Rock">
  <input type="submit" name="p2_choice" value="Paper">
  <input type="submit" name="p2_choice" value="Scissors">
  <input type="submit" name="p2_choice" value="Lizard">
  <input type="submit" name="p2_choice" value="Spock">
</form>
