<div style='border: 3px dashed red'>
  <p>Hello <%= @marketeer1 %>!
  </div>

  <p>Choose: rock, paper or scissors?</p>

  <form action="/">
    <input type="submit" value="rock">
    <input type="submit" value="paper">
    <input type="submit" value="scissors">
  </form>
