So <%= @player_name %>, you think you've got what it take to beat me!

Let's see it!

<form action="/battle" method="POST">
  <input type="submit" name="Weapon" value="Rock">
    <input type="submit" name="Weapon" value="Paper">
      <input type="submit" name="Weapon" value="Scissors">
    </form>
