<h1><%= @name1 %> vs. <%= @name2 %></h1>
<h2>Player = <%= @player %> </h2>
<img class="front-picture" src="https://lolsnaps.com/images/upload_pic/f412814c-rock-paper-scissors.jpg">
<form action="/choice" method="post">
  <button type="submit" name="choice" value="Rock" id="Rock" />rock
  <button type="submit" name="choice" value="Paper" id="Paper" />paper
  <button type="submit" name="choice" value="Scissors" id="Scissors" />scissors
</form>
