<html>
  <body>
  <h1> Hey <%= @game.player.name %> </h1>
  <br>
      <form action='/result' method="post">
        <br>
        <button type="submit" id="play_type" value='ROCK' name='type'>ROCK</button>
        <br>
        <button type="submit" id="play_type" value='PAPER' name='type'>PAPER</button>
        <br>
        <button type="submit" id="play_type" value='SCISSORS' name='type'>SCISSORS</button>
      </form>
      <br>
      <h4> Round: <%= @game.round %> out of 3 </h4>
    </body>
  </html>
