<p>Welcome <%= @game.player.name %></p>
<p>Please choose from the following options:</p>
<form action="/result" method="post">
  <label>Choose Rock</label>
  <input type="radio" name="player_choice" value="rock" id="rock">
  <label>Choose Paper</label>
  <input type="radio" name="player_choice" value="paper"id="paper">
  <label>Choose Scissors</label>
  <input type="radio" name="player_choice" value="scissors" id="scissors">
  <input type="submit" value="submit">
</form>
