<head>
  <link rel="stylesheet" type="text/css" href="<%=url("/stylesheet.css")%>" />
</head>


<h1> Are you ready <%=@game.player.name.capitalize%>? </h1>


<form action='/option' method="POST">
  <p> Choose one option from the following: </p>
  <button name="option" class="button" value="Rock">Rock</button>
  <button name="option" class="button" value="Paper">Paper</button>
  <button name="option" class="button" value="Scissors">Scissors</button>
</form>
