<h1> Welcome <%= @player_1_name %> <h2>

Choose a move:
<form method="post" action="/result">
  <input type="submit" name="input" value="rock">
  <input type="submit" name="input" value="rock">
  <input type="submit" name="input" value="scissors">
</form>
