<%= @player_1.name %> vs. <%= @player_2.name %>

<form action="/choice" method="post">
  <input type="submit" name="player_choice" value="Rock">
  <input type="submit" name="player_choice" value="Paper">
  <input type="submit" name="player_choice" value="Scissors">
</form>
