<% if @player_attack == "Rock" %>
<%= $player_1.name %> chooses Rock!
<% elsif @player_attack == "Paper" %>
<%= $player_1.name %> chooses Paper!
<% else @player_attack == "Scissors" %>
<%= $player_1.name %> chooses Scissors!
<% end %>
<a href="/computer_move">OK</a>
