<body class = "play_page">
<h1>Hello, <%= @player_name%>! </h> <h2>Let's start the game!</h2>
  <input type='submit' value='Rock'> <input type='submit' value='Paper'> <input type='submit' value='Scissors'>
</body>
