<h1>Hi <%=@name%>, welcome to rock, paper, scissors!</h1>
<h1> Make your choice: </h1>
<form action='/result' method='post'>
  <input type='submit' value='Rock'>
  <input type='submit' value='Paper'>
  <input type='submit' value='Scissors'>
</form>
