<h3>player_1_name</h3>
<h3>Choose your weapon</h3>
<form action='/result' method="post">
    <input class = "button" type = "submit" value = "Rock" name = "player_choice">
    <input class = "button" type = "submit" value = "Paper" name = "player_choice">
    <input class = "button" type = "submit" value = "Scissors" name = "player_choice">
</form>
