<p><%= @player_2.name %>, please choose an option below:</p>
<br>
<form action='/player2_has_picked' method='post'>
  <label>Rock
    <input type='radio' name='hand2' value='Rock' checked></label><br>
    <label>Paper
      <input type='radio' name='hand2' value='Paper'></label><br>
      <label>Scissors
        <input type='radio' name='hand2' value='Scissors'></label><br>
        <br>
        <input type='submit' value='Select'>
      </form>