
<table style="height: 100%; left: 0; position: absolute; text-align: center; width: 100%;">
 <tr>
  <td>
   <div style="text-align: left; display: inline-block;">
     <%= "You chose #{$game.player_choice}" %><br>
     <%= "Computer chose #{$game.computer_choice}" %><br>
     <%= "The winner is #{$game.winner}" %><br>
   </div>
  </td>
 </tr>
</table>
