<h2 style="font-family: 'Lucida Console', Courier, monospace;color:brown;text-align:center;background-color: lightblue;">Okay <%= @game.player.name %> lets play </h2>

<h1 style="color:brown;text-align:center;font-family: 'Lucida Console', Courier, monospace;background-color: lightblue;"> Please select your weapon </h1>
<form action="/deciding" style="color:brown;text-align:center;font-family: 'Lucida Console', Courier, monospace;background-color: lightblue;"> 
<input type="radio" name="selection" value="rock" id="rock"><label for="rock">Dwayne 'The Rock' Johnston</label>
<input type="radio" name="selection" value="paper" id="paper"><label for="paper">Paper Person</label>
<input type="radio" name="selection" value="scissors" id="scissors"><label for="scissors">Edward Scissorhands</label>
<input type="submit" value="Submit">
</form>

<img style="border-radius: 50%;text-align:center;background-color: lightblue;" src="https://www.geo.tv/assets/uploads/updates/2020-09-19/308804_2497316_updates.jpg" width="645" height="369">
<img style="border-radius: 50%;text-align:center;background-color: lightblue;" src="https://i.pinimg.com/originals/37/23/bf/3723bf2ce10b1706349f6f9609354e65.jpg" width="344" height="344">
<img style="border-radius: 50%;text-align:center;background-color: lightblue;" src="https://i.pinimg.com/originals/1e/4e/a6/1e4ea697dcdff0f8b827db689001b8e8.jpg" width="207" height="344">