<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body { font-family: "Arial" }
    </style>
  </head>
  <body>
      <p style= 'color: green'> <%= @player_1 %> is playing </p>
    </body>
</html>
