<h1> Welcome <%= @game.player.name %>! </h1>
<h2> Choose your weapon </h2>

<div class='button'>

<form action='/result' method='post' >
<button name='player_move' type='submit' value='Rock'>Rock</button>
<button name='player_move' type='submit' value='Paper'>Paper</button>
<button name='player_move' type='submit' value='Scissors'>Scissors</button>
</div>
</form>
</div>
</div>
