%h2.text-center
  = "It's time #{@turn.player_name}"

%form.text-center{ method: "POST", action: "/play" }
  %input.btn.btn-success{ type:"submit", name: "choice", value: "Rock" }
  %input.btn.btn-success{ type:"submit", name: "choice", value: "Paper" }
  %input.btn.btn-success{ type:"submit", name: "choice", value: "Scissors" }
  %input.btn.btn-success{ type:"submit", name: "choice", value: "Lizard" }
  %input.btn.btn-success{ type:"submit", name: "choice", value: "Spock" }

  #player
    %h2.text-center You selected #{@turn.player_choice.to_s.capitalize}!
  #opponent
    %h2.text-center Opponent selected #{@turn.opponent_choice.to_s.capitalize}!
    
  - if @turn.win? == true
    %h2.text-center.text-success You Won!
  - elsif @turn.lose? == true
    %h2.text-center.text-danger You Lose!
  - elsif @turn.draw? == true
    %h2.text-center.text-primary You Draw!
