<!DOCTYPE html>
Welcome to Rock, Paper, Scissors <%= @name %>!
<form class="" action="/rock" method="post">
  <input type="submit" name="" value="Rock">
</form>
<form class="" action="/paper" method="post">
  <input type="submit" name="" value="Paper">
</form>
<form class="" action="/scissors" method="post">
  <input type="submit" name="" value="Scissors">
</form>
