<title>Rock Paper Scissors Lizard Spock</title>
<h2><i><%=@name%> is ready to Rock!!</i></h2>
<br>
<h3><i>The rules: Scissors cuts paper. Paper covers rock.<i></h3>
<h3><i>Rock crushes lizard. Lizard poisons Spock.<i></h3>
<h3><i>Spock smashes scissors. Scissors decapitates lizard.<i></h3>
<h3><i>Lizard eats paper. Paper disproves Spock.<i></h3>
<h3><i>Spock vaporizes rock. Rock crushes scissors.<i></h3>
<br>

<form action='/rock'>
  <input type='submit' value='Rock'>
</form>

<form action='/paper'>
  <input type='submit' value='Paper'>
</form>

<form action='/scissors'>
  <input type='submit' value='Scissors'>
</form>

<form action='/lizard'>
  <input type='submit' value='Lizard'>
</form>

<form action='/spock'>
  <input type='submit' value='Spock'>
</form>
