<header class="header">
  <section class="logo">
    rps::NS
  </section>
  <section class="scoreboard">
    <%= @game.player(1).name %>
    vs.
    <%= @game.player(2).name %>
  </section>
  <section class="exit-button">
    <a href="/"><i class="fa fa-times fa-2x"></i></a>
  </section>
</header>
