<h1><%= @player_1 %> V Computer</h1>


<form action="/referee" method="post">
  <input type="submit" name="player_pick" value="Rock" />
  <input type="submit" name="player_pick" value="Paper" />
  <input type="submit" name="player_pick" value="Scissors" />
</form>
