<h1><span style="color: red"><%= @player_1_name %></span>vs. Computer</h1>
<h2>Ready to play!</h2> 
<br />

<!-- <h3><%= @player_1_name %>'s <span style="color: red"> : <%= @player_2_hp %></span></h3> -->
