<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1><%= @game.player_1.name %> vs <%= @game.player_2.name %></h1>
  <% if @game.multiplayer? %>
    <h2>Dave's choice. No peeking Jim!</h2>
  <% end %>
  <form action="/result" method="post">
    <button type="submit" name="player_1_choice" value='Rock'>Rock</button>
    <button type="submit" name="player_1_choice" value='Paper'>Paper</button>
    <button type="submit" name="player_1_choice" value='Scissors'>Scissors</button>
  </form>
</body>
</html>