<html>
  <head></head>
  <body>
    <div class="title">
      <%= @single_game.player.name %> vs. Computer
    </div>
    <form action="/attack" method="get">
      <input type="submit" value="rock" class="weapon" name="weapon">
      <input type="submit" value="paper" class="weapon" name="weapon">
      <input type="submit" value="scissors" class="weapon" name="weapon">
    </form>
  <body>
</html>
