<html>
  <h1> Up and running! </h1>
  <!-- <p> <%=@name_in_lights%> </p> -->
  <!-- <p> <%=@game.user.name%> </p> -->
  <!-- <p> <%=@game.set_ai_weapon%> </p>
  <p> <%=@game.get_user_name%> </p>
  <p> name above? </p> -->
</html>
