<h1><%= @game.player.name %> vs <%= @game.computer.name %></h1>

<h2>Options:</h2>

<form action="/choice" method="post">
  <input type="hidden" name="choice" value="0">
  <input type="submit" value="Rock">
</form>
<form action="/choice" method="post">
  <input type="hidden" name="choice" value="1">
  <input type="submit" value="Paper">
</form>
<form action="/choice" method="post">
  <input type="hidden" name="choice" value="2">
  <input type="submit" value="Scissors">
</form>
