<html>
<body>
  <h1>Rock Paper Scissors</h1>

 <h2>Hello <%= @player %>! </h2>

 Please select Rock, Paper, or Scissors.

 <form action="/playrock">
    <input type="submit" value="Rock" />
    </form>

<form action="/playpaper">
  <input type="submit" value="Paper" />
  </form>

<form action="/playscissors">
  <input type="submit" value="Scissors" />
  </form>

</body>
</html>
