<div>
    <h1>Player 1: <%= @name %></h1>
    <h3>You played: <%= @move %></h3>
    <br>
    <br>
    <h1>Player 2: Computer</h1>
    <h3>You played: <%= @computer_move %></h3>
    <br>
    <br>
    <h2>Match Outcome: <%= @outcome %></h2>
</div>