<h2>Enter your names</h2>

<form action="/name_pvp" method="post">
  <h3>Player 1</h3>
  <input type="text" name="player1_name">

  <h3>Player 2</h3>
  <input type="text" name="player2_name">

  <input type="submit" value="Submit">
</form>
