<head>

</head>
<body class='page_layout' class='page__style'>
  <h1 class='header_layout' class='header__style'>
    <%= @player_1 %> wins with rock against <%= @player_2 %>'s garbage Scissors
  </h1>

</body>