<body style="background-color:lightyellow;">
<h2> <%= @player_1_name %> chooses <%= @weapon_choice %></h1>

  <form action="/result">
    <input type="submit" style="padding-top: 14px" value="Fight">
  </form>

<img src="http://theactionelite.com/site/wp-content/uploads/2014/06/eGc2a3EyMTI_o_bruce-lee-enter-the-dragonoperation-dragon-nunchaku-600x455.jpg">
