<h1>Welcome, <%=@game.player1.name%>! Your game is ready.<h1>
<h2>Please proceed by pressing the button below :)</h2>
<form action="/entry" method="get">
  <input type="submit" value="Rock Paper Scissors!">
</form> --> %>
