<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>
  <h1>Results:</h1>
  <h2> You selected <%= @user_choice %></h2>
  <h2> The computer selected <%=@computer_choice %></h2>
  <br>
  <h1><%= if @winner == draw%> is the winnerr!! </h1>
</body>
</html>
