<form action='/player1' method='post'>
  <p>Please enter your names to start playing:</p>
  Player 1: <input type='text' name='player_1' required>
  Player 2: <input type='text' name='player_2' required>
  <input type='submit' value='Start'>
</form>
