<h1>Rock-Paper-Scissors HQ</h1>
<h2>You have chosen to play our Advanced Rock-Paper-Scissors AI: <b>Deep Green</b></h2>
<h3>Please register below to play</h3>

<form action='/name' method='post'>
  <label for="player_1_name">
    Player's name
     <input type ="text" name="player_1_name">
  </label>
 <input type="submit" value="Submit">
</form>
