<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <style>
    * { margin: 0; padding: 0;
        text-align: center !important;
        margin: auto !important;
        color: Black;
        background-size: cover;
        font-family: helvetica;
      }
    html, body {height:100%}
  </style>
</head>
<header>
  <img src="http://www.babylonclub.ca/wp-content/uploads/2012/12/RPS.png" >
  <h1>Welcome to Rock Paper Scissors Online!<h1>
</header>
<body>
<div>
<h2>Provide your name please!</h2><br>
<form action="/gamepage" method="post">
  <input type='text' name='name'>
  <input value="Submit" type="submit">
</form>
<div>
</body>
</html>
