<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <style>
    body {
      background: #041C32;
      text-align: center;
      color: #FFE6BC;
    }
  </style>
</head>
<body>
  <h1>Enter your name to play the game.</h1>
  <form action='/play' method='post'>
    <label><strong>First Name:</strong> </label>
    <input type='text' name='name'/>
    <button type='submit' value="Register">Register</button>
  </form>
</body>
</html>