What's your name?
<br>
<br>
<form action="/game" method="post">
<input type="text" placeholder="Name" name="Name">
<br>
<br>
Please select Rock, Paper, Scissors, Lizard or Spock:
<br>
<br>
<input type="text" placeholder="Rock, Paper, Scissors, Lizard or Spock?" name="rps">
<br>
<br>
<input type="submit" value="Start Game">
</form>
