<body style="background-color:lightgrey;font-family:helvetica;">

  <h1 style="text-align:center;">Register your name to play:</h1>

  <center><form action="/registered" method="post">
    <label for="name">
      Name:
      <input type="text" name="name" value= "">
    </label>
    <input type="submit" value="Submit">
  </form></center>

</body>
