<html>
<head>

</head>

<body>
  <div class="header">
    <div class="rock">
      <h1>ROCK</h1>
    </div>
    <div class="paper">
      <h1>PAPER</h1>
    </div>
    <div class="scissors">
      <h1>SCISSORS</h1>
    </div>
  </div>
  <form action="/names" method="post">
    <div class="player-input">
      <h2>Name:</h2>
      <input type="text" name="player1" placeholder="Enter your name">
    </div>
    <div class="play">
      <input type="submit" value="play">
    </div>
  </form>
</body>
</html>
