<form action="/save-names" method="post">
  <input type=text name=player1_name value="Player 1">
  <input type=hidden name=computer_opponent value="true">
  <button type=submit>Let's do this</button>
</form>
