<section <h1> Please enter your name to begin the game: </h1> 
<br>
<br>
	<form action="/register" method="post">
		<input type="text" name="name" required>
		<a <input type="submit" href="/game">Register</a>
	</form>
</section>