<form action="/register" method="post">
  <label for="name">Player name</label>
  <input type="text" name="player_name" id="name_input">
  <input type="submit" value="Start game" id="start_game">
</form>