<html>

<head>
  <title>Register</title>
</head>

<body>
  <h1>Registration Form</h1>
  <p>Enter your details below</p>
</body>

<form action="/names" method="post">

  <div>
    <label for="player_1_name">Name:</label>
    <input type="text" name="player_1_name">
  </div>

  <div>
    <label for="player_1_title">Title:</label>
    <input type="text" name="player_1_title">
  </div>

  <input type="submit" value="Submit">

</form>

</html>
