<!DOCTYPE html>
<html>
<head>
<!-- <link rel=”stylesheet” type=”text/css” href=”/styles.css” /> -->
<link rel="stylesheet" href="/css/styles.css"/>

</head>
<body><h1>Great, now enter your details</h1>
<form action="/register-process" method="post">
  <p><label for="name">Player 1 name:</label><input name="name" type="text"></p>
  <%if @gametype == "Multiplayer"%>
  <p><label for="name2">Player 2 name:</label><input name="name2" type="text"></p>
  <%end%>
  <p><input type="submit" value="Play"></p>
  <input type="hidden" name="gametype" value="<%=@gametype%>">
  <input type="hidden" name="gamevariant" value="<%=@gamevariant%>">
</form></body></html>
