<section <h1> Please enter your name to begin the game: </h1> 

	<form action="register">
		<input type="text" name="name" required>
		<input class='button' type="submit" name="Register" value="Register"
		form action="/">
	</form>
</section>
