<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <h1>Register in order to play a game.</h1>
  <form action='/name' method='post'>
    <label>Enter your name: </label>
    <input  type='text' name='name'/>
    <button type='submit' value="Register">Register</button>
  </form>
</body>
</html>