<h1>Player vs AI</h1>
<h2>Please register below to play</h2>

<form action='/names' method='post'>
  <label for="player_1_name">
    Player's name
     <input type ="text" name="player_1_name">
  </label>
 <input type="submit" value="Submit">
</form>
