<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
  </head>
  <body id="registration-body">
    <h1>Rock, Paper, Scissors</h1>
      <p><em>Want to get away from your daily grind?</em></p>
    <h3>Register your name to play RPS!</h3>
      <form action="/name" method="post">
        <input id="player-name" type="text" name="name">
        <div id="reg-button">
          <input id="register-button" type="submit" value="Register">
        </div>
      </form>
  </body>
  <div id="rps-image">
    <img src="/images/RPS.png"/>
  </div>
</html>
