<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
  <title>Rock Paper Scissors Lizard Spock!</title>
  </head>
  <body>
    <div id="header">
      <h1>Rock Paper Scissors Lizard Spock!</h1>
    </div>
    <div>
      <img src="https://www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg" class="w3-circle" alt="Norway" style="width:50%">
</div>
    <div>
      <h2> Player Name</h2>
    </div>
    <form action="/name" method="post">
      <label for="player_name">
        Player Name
      <input type="text" name="player_name">
      <input type="submit" value="Submit"
      </label>
    </form>
    </div>
  </body>
</html>
