<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Enter your name to play!</h2>
<div>
</div>
<form action='/setup' method='post'>
    <input type="text" placeholder='Name' name = "player_name">
<h2>Choose your weapon!</h2>
<div>
</div>
    <input type="text" placeholder='Rock, Paper or Scissors' name = "user_choice">
    <div>
    </div>
    <input type="submit" name="submit" value="Click To Play!">
</form>
