What's your name?
<br>
<br>
<form action="/game" method="post">
<input type="text" placeholder="Name" name="Name">
<br>
<br>
</form>
Select Rock, Paper or Scissors:
<br>
<br>
<button type="button">Rock</button>
<br>
<br>
<button type="button">Paper</button>
<br>
<br>
<button type="button">Scissors</button>






<!-- <br>
<br>
<input type="text" placeholder="Board Size" name="board_size">
<input type="text" placeholder="How many pieces" name="pieces">
Select a ship's position:
<input type="text" placeholder="Ship Coordinates" name="coords">
<br>
<br>
<input type="submit" value="Start Game">
</form> -->
