<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register for game</title>
  </head>
  <body>
    <div align="center"><br>
      <h1>Register to Play</h1>
      <form name="register" action="/name" method="post">
        <label for="player1">
          Enter your name:
        </label>
        <input type="text" name="player1">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
