<form action="/record" method="post">
  <label for="player_name">
    <h3>What is your name, champion?</h3>
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Onward!"
</form>