<p>Please enter your name:</p>
<form action = "/start_game" method = "post">
  <input type = "text" name = "first_name" required>
  <select name = "game_type">
    <option value = "one_player">One Player</option>
    <option value = "two_player">Two Player</option>
  </select>
  <input type = "submit" value = "Submit">
</form>