<h3>Please register with your name to play</h3>
<form action="/player" method="post">
  <label for="player_01_name">
    Your name:
  </label>
  <input type="text" name="player_01_name">
  <input type="submit" value="submit">
</form>
