<form action="/save-names" method="post">
  <input type=text name=player1_name value="Player 1">
  <input type=text name=player2_name value="Player 2">
  <button type=submit>Let's do this</button>
</form>
