<div>
  <h1>Looks like you are bored!</h1>

  <form method="post">
    <label>Let's start our game by entering your name:
      <input type='text' name='name'>
    </label>
    <input type='submit' value='Play!'>
  </form>
</div>
