<h1>You have successfully registered, <%= @player %>!</h1>
<br>
<h2>Please click button below to start the game!</h2>
<br>
<form action="/play" method="post">
    <input type="submit" value="Play Game">
</form>

