<body style="background-color:darkgrey;font-family:helvetica;">

<h1 style="text-align:center;">Rock, or Paper, or Scissors, you decide!</h1>

<h2 style="color:white;text-align:center;"> Welcome to RPS <%= @name %>!</h2>
<h2 style="color:white;text-align:center;"> You are registered and ready to start playing.</h2>
<h3 style="color:white;text-align:center;"> Now let's head to the armoury to choose your weapon...</h3>

<center><form action="/play" method="get">
  <input type="submit" value="Choose your Weapons!">
</form></center>

</body>
