<center>
  <head>
    <style>
      body {
        background: url("http://uthmag.com/wp-content/uploads/2015/02/Rock_Paper_Scissors_by_smashmethod.jpg") no-repeat fixed;
      }
    </style>
    <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

  <div>
    <form action="/game/get_ready" method="post">
    Enter your name:-
    <input type="text" name="name">
    Number of rounds:-
    <input type="text" name="rounds">
    <input type="submit" value="submit">
    </form>
  </div>
</center>