<h3>Please register your names to play Rock, Paper, Scissors.</h3>
<form action="/players" method="post">
  <label for="player_01_name">
    Player 01:
  </label>
  <input type="text" name="player_01_name">
  <label for="player_02_name">
    Player 02:
  </label>
  <input type="text" name="player_02_name">
  <input type="submit" value="Submit">
</form>
