<h3>Please register your name to play Rock, Paper, Scissors.</h3>
<form action="/player" method="post">
  <label for="player_01_name">
    Your name:
  </label>
  <input type="text" name="player_01_name">
  <input type="submit" value="Submit">
</form>
