<html>
<head>
  <link rel="stylesheet" href="public/reset.css" />
  <link rel="stylesheet" href="css/register.css" />
</head>

<body>
  <div class="header">
    <div class="rock">
      <h1>ROCK</h1>
    </div>
    <div class="paper">
      <h1>PAPER</h1>
    </div>
    <div class="scissors">
      <h1>SCISSORS</h1>
    </div>
  </div>
  <div class="input">
    <form action="/names" method="post">
      <div class="player-input">
        <label for="player1">Enter your name here...</label>
        <input type="text" name="player1" placeholder=" name">
        <input type="submit" value="play">
      </div>
    </form>
  </div>
</body>
</html>
