<table style="height: 100%; left: 0; position: absolute; text-align: center; width: 100%;">
 <tr>
  <td>
   <div style="text-align: left; display: inline-block;">
     <form action='/start_game' method='post'>
       <label for="name">Register your name to play:</label>
       <input type='text' name='name'>
       <input type='submit' value='Register'>
     </form>
   </div>
  </td>
 </tr>
</table>
