What's your name?
<br>
<br>
<form action="/game" method="post">
<input type="text" placeholder="Name" name="Name">
<br>
<br>
Select Rock, Paper or Scissors:
<br>
<br>
<input type="text" placeholder="Rock, Paper or Scissors?" name="rps">
<br>
<br>
<input type="submit" value="Start Game">
</form>
