<h1>Welcome to Rock Paper Scissors</h1>
<h2>Please enter your name below to register</h2>

<form action="/battleground" method="post" id="form">
  <label for="player_1_name">
    Enter your name here:
    <input type="text" name="player_1_name">
  </label>
  <button type="submit">Submit</button>
</form>
