<body style="background:#BDBDBD">
  <form action="/new_game" align="center" method="post">
    <p><font face="verdana">What's your name?</font></p>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
</body>
