<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <h3> Please fill out the form below</h3>

    <form action="/confirmation" method="post">
      <div>
        <label for="f_name">First name:</label>
        <input type="text" id="f_name" name="first_name">
      </div>
      <div>
        <label for="l_name">Last name:</label>
        <input type="text" id="l_name" name="last_name">
      </div>
      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
