
<h1>
Old Skool classic - Paper Scissors Rock
</h1>
<h2>Sign in to play</h2>

<form action="/names" method="post">
  <p>
  <label for="Player_1">
    Player1
  <input type="text" name="Player_1">
  </label>
  </p>
  <p>
  <input type="submit" value="Submit">
</p>
</form>
