<center>

<p>Please enter your names</p>

<form action = '/registration' method = 'post'>
  <p><input type = 'text' name = 'player1_name'> Player 1</p>
  <p><input type = 'text' name = 'player2_name'> Player 2</p>
  <input type = 'submit' value = 'Submit'>
</form>

</center>