<!DOCTYPE html>

<html>

<head>
  <title>Opponent's Response</title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <p><%= @opponent.name %> responds with <%= @opponent.decision %></p>


<form action='/result' method='get'>
  <input type='submit' value='Get Result'>
</form>

</body>



</html>
