<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results Page</title>
    <link rel="stylesheet" href="results.css">
  </head>
  <body>
    <h1>The results are in!</h1>
    <p><%= @player.name %> choose <%= @player.choice %></p>
    <p>Computer choose <%= @computer_choice %></p>
    <p><%=@game_result%><p>
    <form action="/play" method="get">
    <input type="submit" value="Replay">
    </form>
  </body>
</html>
