<h2> You selected </h2>
<%= @player_move %>
<h2> Computer selected </h2>
<%= @computer_move %>
<h2> Result </h2>
<% if @result == "draw" %>
<h2> It's a tie! Play again! </h2>
<% elsif @result == "player wins" %>
<h2> You won! Congratulations! </h2>
<% elsif @result == "computer wins" %>
<h2> Computer won! Next time! </h2>
<% end %>

<form action="/play">
  <input type="submit" value="Play again">
</form>
