<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div>

<center><font size=10><%=@name%> chose <%=@move%>.<br>
Computer chose <%=@comp_move%>.<br>

<%= @result %>.</font><center>
</body>
