<div>
  <h3><%= @game.player_1.name %>, you chose <%= @game.player_1_choice %> </h3>
</div>
<div>
  <h3>The computer chose <%= @game.player_2_choice %></h3>
</div>
<div>
  <h2><%=@game.result%></h2>
</div>
