<h4>The results are in:</h4>
<p></p>
<h3><%= @game.winner %></h3>
<p></p>

You chose to play <%= @game.player_move %>
<p></p>
The Computer played <%= @game.computer_move %>
<p></p>


Play again?
<form action="/play" method="get">
<input type="submit" value="Play">
</form>
