<html>
  <head>
  <style>
    body {
      text-align: center;
      background-color: #559E54;
      font-family: Arial, Gadget, sans-serif;
    }

    h1 {
      font-family: "Arial Black", Gadget, sans-serif;
      font-color: #B83214;
    }

    input[type=submit] {
      width: 100px;
    }
  </style>
  </head>

  <body>
    You picked <%= @game.player.move %>.<br>
    The computer picked <%= @game.computer.move %>.

    <h1><%= @game.message %></h1>
  </body>
</html>
