<html>
<body style="background-color:#e6dcef;">
<h2 style="text-align:center"><%= @game.player.name %> chose <%= @game.player.player_selection.to_s %></h2>
<h2 style="text-align:center">Computer chose <%=@game.computer.computer_selection%></h2>
</body>
</html>
