<!doctype html>
<html>
  <head>
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" type='text/css' href="style.css">
  </head>
  <body>
    <div class="title">
      <h1> <%= @player1_name %>, you chose <%= @player1_choice %>!</h1><br><br><br><br>
      <h2>Computer chose <%= @comp_move %>!</h2><br><br>
      <h3><%= @result %></h1>
    </div>
  </body>
</html>
