<title>Rock-Paper-Scissors</title>
<body>
<div style ="text-align: center;font-family: Tahoma">
<p><%= $game.player.name %> chose <%= $game.player_move %></p>
<p>Computer chose <%= $game.computer_move %></p>
</div>
<div style ="text-align: center">
<% if $game.win? %>
<p style ="text-align: center;font-family: Impact;font-size: 50px">WIN!</p>
<p style ="font-family: Tahoma">You have won the game </p>
<% elsif $game.draw? %>
<p style ="text-align: center;font-family: Impact;font-size: 50px">DRAW!</p>
<p style ="font-family: Tahoma">You have have drawn with the computer </p>
<% else $game.lose? %>
<p style ="text-align: center;font-family: Impact;font-size: 50px">LOSE!</p>
<p style ="font-family: Tahoma">You have lost the game </p>
<% end %>
</div>
<div style ="text-align: center">
  <form action="/play" method="get">
  <input type="submit" value="play again">
  </form>
</body>
