<!doctype html>
<font color="white" face="Arial Black">
<center>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Rock Paper Scissors</title>
  <meta name="description" content="Rock Paper Scissors">
  <meta name="author" content="Ed">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<style>
body
  {
      background-image:url('http://www.gifmania.co.uk/Objects-Animated-Gifs/Animated-Toys/Rock-Paper-Scissors/Rock-Paper-Scissors-87015.gif');
      background-size:100%;
      background-repeat: repeat-y;
      background-attachment: fixed;
      height:100%;
      width:100%;
  }
</style>
<body>

<h1> <%=@game.player.name%> picked <%=@game.player_rpc.to_s%> </h1>
<h1> RPS-Bot picked <%=@game.comp_rpc%> </h1>
<h1> <%=@game.print_winner%> </h1>

<form action="/play" >
  <input type="submit" value='Play Again' />
</form>


</center>
</body>
</html>
