<% if @game.player.weapon %>
  <h2>You chose <%= @game.player.weapon %><h2>
  <h2>The computer chose <%= @game.npc_choice %><h2>
  <h1><%= @game.result %></h1>
<% end %>
<a href="/play">Play again</a>
