<% if @result == :lose %>
  <h1>Awww, you lost! :(</h1>
<% elsif @result == :win %>
  <h1>Woohoo! You won! :D</h1>
<% else %>
  <h1>It's a tie :)</h1>
<% end %>

<p>Your weapon: <%= @player_choice %></p>
<p>Computer's weapon: <%= @computer_choice %></p>
<p>
  <a href="/play">Play Again!</a>
  <a href="/">Change Player</a>
</p>
