<div style = 'background-color: lightblue'>
  <h2>Well, well, well <%=@player%>, interesting choice - you chose <%=@move%></h2>
</div>
<div style = 'background-color: red'>
  <h2> The computer chose...
    <br>
    <br>
    <%=@comp.compmove%>
  </h2>
</div>

<div style = 'background-color: green'>
  <%= <h1>
