<center><h1> Computer chose: <%= @computer_choice %>. You chose: <%= @choice %>.<%= @game.result %> </h1>

	<form action="/play" method="post">
		<input type="submit" value="Play again?">
	</form></center>
