<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    You picked <%= @game.player_1.move %>.<br>
    The computer picked <%= @game.player_2.move %>.

    <h1><%= @game.message %></h1>
  </body>
</html>
