You chose <%=@move.capitalize%> and your opponent chose <%=@opponent.capitalize%>
<br>

<%=@result.capitalize%>
<br>
<form action='/name' method='post'>
<input type='submit'value='Play Again'>
</form>
