<h1>
  Rock Paper Scissors
</h1>

<h2>
  <%= @player_name %> went for
</h2>

<h3>
  Rock vs
</h3>

<h3>
  Paper vs
</h3>

<h3>
  Scissors vs
</h3>

<form action="/play" method= post>
  <input type= "submit" value = "Play again">
</form>
