<% case%>
<% when $game.player_1.win?%>
  Congratulations You have Won!
<% when $game.player_1.tie? %>
  It is a Tie!
<% else $game.player_1.lost?%>
I am sorry you have lost!
<% end %>


<form action='/one_player_game'>
  <button type="submit" value="playagain">Play Again</button>
</form>
