<!DOCTYPE html>
<html>
<center>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    You played: <strong> <%= @move %> </strong><br>
    Computer played: <strong><%= @computer_move %> </strong><br>
    <mark><%= @result %></mark>
    <div>
      <a href="/result">Play Again</a>
    </div>
  </body>
  <center>
</html>
