<%# options:

1.
*You won!
*Play again.

2.
*You lost, the computer won!
*Play again. %>

Congratulations, You got here<br>
<br>
<form action="/names">
  <input type="submit" value="New Game">
</form>

<form action="/play">
  <input type="submit" value="Play again">
</form>
