<h1>You have played <%= @player_move %>.  The computer played: <%= @computer_move %> <h1>

<h1>You have <%= @result %>!!<h1>

  <form action='/play'>
    <button style='font-size:80px'  type='submit'>PLAY AGAIN</button>
  </form>
