<div>
  You selected <%= ['rock', 'paper', 'scissors'][@game.player1.choice] %>
</div>
<div>
  The computer selected <%= ['rock', 'paper', 'scissors'][@game.player2.choice] %>
</div>
<div id="result">
  <%= @result %>
</div>
<a href="/play">Play again?</a>

