<h1>Game result: <%= @result%></h1>

<h2> Your move: </h2>
<h3>  <%= @user_move %>! </h3>

<h2> Computer's move: </h2>
<h3> <%= @computer_move %>! </h3>

<form action="/game" method="post">
  <input type="submit" value="Play again!">
</form>
