<%=@player1%> chose <%=@P1RPS%>!

<br />

The computer chose <%=@newroll%>!

<br />

You win/lose!

<form action="/play" method="get">
<input type="submit" value="New game!" style="width:350px;height:180px;"/>
</form>
