<head>
  <link rel="stylesheet" type="text/css" href="<%=url("/stylesheet.css")%>" />
  <title>Rock, Paper, Scissors</title>
</head>

<h2>
Your move: <%=@game.player.option.capitalize%>
<br>
Computer's move: <%=@game.computer.random_move.capitalize%>
<br>
<br>
 <% if @game.winner == @game.player %>
  You win!
  <% elsif @game.winner == @game.computer %>
  Computer wins!
  <% elsif @game.winner == :draw %>
  Draw!
  <% end %>
</h2>
