<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: paleturquoise;

}
</style>
</head>

<h3>You chose: <%= $option%></h3>

<h3>Opponent chose: <%= $opponent%></h3>
<h4> <%=$result%> </h4>
<br>
<a href="/">play again</a>

<body>
