<html>
  <title>Rock Paper Scissors Results</title>
    <body style='background-color:lightYellow; margin-top: 200px'><center>
    <div><b> Rock Paper Scissors Results!</b>
   <h2><%= @player_name %> selected: <%= @player_move %>.
   <br> Computers selected: <%= @rps_rand %></h2>
    </center></body>
</html>