<link rel="stylesheet" type="text/css" href="results.css">

<h1> Rock, Paper, Scissors!!! </h1>

<h3>You Chose: <%= @choice.capitalize %></h3>
<h3>The Computer Chose: <%= @game.computer.choice.capitalize %></h3>
<h3>The result is:</h3>
<h3><%= @game.result %></h3>

<form action="/play">
  <input type="submit" value="Re-match">
</form>
<form action="/">
  <input type="submit" value="New Game">
</form>
