
<html>
<body style="background-color:powderblue; font-family:verdana;"><center>
Your move was: <%=@move%><br>

The computer moved: <%=@game.guess%><br>

<%=@message%><br>

<a href="/">Play again</a>
</body>
</html>
