<h2>You chose <%=@game.player.choice%>...</h2>
<h3>Your opponent chose <%=@game.opponent.choice%>...</h3>
<h4><%=@game.result%>

  <form action="/" method="get">
    <input type = "submit" value = "Play Again"/>
  </form>
