<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Teko|Fredericka+the+Great|Lobster" rel="stylesheet">

<style>

</style>
<html>
  <body>
    <div><%= @game.message %></div>

  </body>
  </html>
  </body>
</html>
