<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <p><%= @game.player_1.name %> chose <%= @game.player_1.move %></p>
  <p><%= @game.player_2.name %> chose <%= @game.player_2.move %></p>
</body>
</html>
