<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Your choice: <%= @option %>!</h1>
      <h1>Computer's choice: <%= @random_option %>!</h1>
    </div>
  </body>
</html>
