<div>
Your choice is <%=session[:choice].capitalize%>!
</div>

Opponent chose <%=@opponent_choice.capitalize%>!

<div>
<%= @game.confirmation_message(@end_result)%>
</div>

<br>
<a href="/play">Play again</a>

   