<center>
  <h3>Computer chose <%=@computer_attack%></h3>
  <br><br><br><br>
  <% if @winner == "DRAW" %>
    <h2>A draw.... well that was anti-climactic.... just try again....</h2>
  <% else %>
    <h1><%=@winner%> is the ultimate champion of everything ever!!!</h1>
  <% end %>
  <br><br>
  <form action="/play" method="get" >
  <input type="submit" value="Play again!">
  </form>
</center>