<style>
body {
    background-image: url("http://www.theblaze.com/wp-content/uploads/2014/05/shutterstock_122451364.jpg");
}
</style>

<h1>You threw <%= @game.first_move.to_s %>!</h1>

<h1>Your opponent threw <%= @game.second_move.to_s %>!</h1>

<h2> Result: you <%=@game.calculate_result(@player_1, @player_2).to_s%>!</h2>
