<h1><%= @msg_generator[1] %></h1>
<h2><%= @msg_generator[0] %></h2>


<h3>You chose <%= @action.downcase %> </h3>
<h3>Computer player chose <%= @result.comp_move %></h3>

<form class="" action="/play_again" method="post">
  <input type="submit" name="game_choice" value="Play Again">
  <input type="submit" name="game_choice" value="New Player">
</form>
