<!DOCTYPE html>
  <head>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="choice">
      <h1>You selected <em><%= @game.player.choice %></em> and the computer selected <em><%= @game.computer.choice %></em>.</h1>
    </div>

    <div class="result">
      <% if @game.result == :draw %>
        <h2>Sorry, it was a draw!</h2>
      <% elsif @game.result == :win %>
        <h2>You won!!</h2>
      <% elsif @game.result == :lost %>
        <h2>You lose!!</h2>
      <% end %>
    </div>

    <div class="return-to-home">
      <h1>Want to play again?</h1>
      <a href='/play'>Yes</a>
    </div>

  </body>
</html>
