<h1> Result </h1>
<br>
<br>

<% if @result == 'player1' %>
  <%= @game.player1.name %> wins! :D
<% elsif @result == 'player2' %>
  <%= @game.player2.name %> wins! :D
<% elsif @result == 'draw' %>
   It's a tie! Try again!
<% end %>

<br>
<br>

<form action='/play' method='get'>
  <input type='submit' value='Play again'>
</form>
