<p> <%= $player.name %> chose <%= $player.move %>: </p>

<% if $player.move == "rock" %>
  <p>Rock on!</p>
<% elsif $player.move == "paper" %>
  <p>Origami skills!</p>
<% else %>
  <p>Sharp choice!</p>
<% end %>

<p> Computer chose <%= @computer %> </p>
<br/>

<% if $results.win? %>
  <p>You rule supreme!</p>
<% elsif $results.lose? %>
  <p>Can&apos;t beat the machine</p>
<% elsif $results.draw? %>
  <p>It&apos;s a draw!</p>
<% end %>


<a href='/play'>Play again</a>
