<p> The computer chose: <%= @comp_input %> </p>
<p> Your input was: <%= @player_input %> </p>


<p> The result was: <%= @game.play %> </p>

<p> Would you like to play again? </p>
<p><a href="/play"> Play with same name </a> </p>
<p><a href="/"> Play as a new player </a> </p>
