

<body style='background-image: url(http://lifewallpaperz.com/cat/3/background-image-03.html)'>
  <p style="font-size: 30px; font-family: Times New Roman">Result</p>
  <p style="font-size: 30px; font-family: Times New Roman"><%= session[:winner] %></p>
</body>
