<div style="font-family: 'Fira Mono', 'Lucida Console', monospace; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align: center">
<%= @message %>
  <form action="/game" style="padding: 10px">
    <input type="submit" value="Play again">
  </form>
</div>