<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<%= url('/styles.css') %>">

<h1>
  You <%= @decision %>
</h1>

<h2>
  You chose <%= @p1_choice %> and your opponent chose <%= @p2_choice %>
</h2>

<p>
  <form action="/game" method="post">
    Make your choice <br />
    <button type="submit" name="Choice" value="Rock" />Rock!</button>
    <button type="submit" name="Choice" value="Paper" />Paper!</button>
    <button type="submit" name="Choice" value="Scissors" />Scissors!</button>
  </form>
</p>

<h2>
  <a href="/">Homepage</a>
</h2>
