

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/drop-in.css">
    </head>
  <body>
    <div>
      <h1>You selected <%= @player_move %></h1>
    </div>
    <div>
      <h1>The computer selected <%= @computer_move %></h1>
    </div>
    <div>
      <h1><%= $game.result %></h1>
    </div>
    <div>
    <form action="/" method="get">
    <input type="submit" value="Play again?">
    </form>
    </div>
  </body>
</html>
