You <%= @outcome %>.
<br>
You chose <%= @game.player_1.weapon.capitalize %>.
<br>
The computer chose <%= @game.player_2.weapon.capitalize %>.
<br>
<form action="/play" method="get">
  <input type="submit" value="New Game">
</form>
