<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Sarpanch|" rel="stylesheet">
</head>

<body>

<h1>You picked <%= $game.choice %>!</h1>

<h1><%= $game.winner %>!</h1>

</body>
