
<html>
<head>
<style>
body {background-color: lightcyan;}
p    {color: royalblue;}
</style>
</head>
<p>The computer chose <%= @computer_choice %></p>
<p>You chose <%= @choice %></p>
<p><%= @winner %> won!</p>
<form action="/" method="get">
  <input type="submit" value="Play Again">
</form>
</html>
