<!DOCTYPE html>

<head>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>


<body>
  <h1 class="rainbow"> <%= @player_1.name %> </h1>
  <h1 style="text-align:center;"> VS </h1>
  <h1 style="text-align:center;"> COMPUTER </h1>

  <br>
  <br>
  <h1 style="text-align:center;"> [WINNER DECLARATION] </h1>
  <br>
  <br>

  <p> <%= @player_1.name %> attacked with <%= @player_1.weapon %>! </p>




</body>
