
<h2> You chose: <%= session[:player_1_choice] %> </h2> 

<h2> Your opponent chose: <%= session[:player_2_choice] %> <h2> 

<h1> <%=Logic.find_winner(session[:player_1_choice], session[:player_2_choice]) %> </h1>
