<head>
<link rel="stylesheet" href="/css/game_view.css">
</head>
<body>
  Computer chose <%= @computer_choice%><br>
  <%= @result%>
  <form action='/start-game'>
  <button name='start_over' value='Start_over'>Start over</button>
  </form>
</body>