<body>

  <h1>Hey <%= @player_1 %> what a great game of RPS!!</h1>
  <%= @player_1 %> result:<br>
  Computer result: 

  <!-- <form action='result'>
    <input type="submit" value='RPS!'>
  </form> -->

</body>