<div>
<br>
  <h2>
    <%= @game.player.name %>, you selected <%= @game.weapon_selected %>...
  </h2>

  <h2 align="right">
    I have selected <%= @game.computer_weapon %>...
  </h2>
<br>
  <h1 align="center">
    <%= @game.result_text %>
  </h1>
</div>
<br>
<br>
<div>
  <h2 align="center">Page back to play again...</h2>
</div>
