<link rel="stylesheet" type="text/css" href="style.css">
<h1><%= "#{@game.player.name}, you picked #{@game.player.weapon}!"%></h1>
<br>
<h1><%= "Computer picked #{@game.computer.weapon}!"%></h1>
<br>
<h1><%= @game.result.capitalize %></h2>

<form action="/" method="get">
<input type="submit" value="Play again">
</form>
