<div>
  <h2><%= @game.player_1.name %>, you chose <%= @game.player_1_choice %> </h2>
</div>
<div>
  <h2>The computer chose <%= @game.player_2_choice %></h2>
</div>
<div>
  <h2>The winner is </h2>
</div>
