<%= Player.current.name %> chose <%= Game.current.player_choice.class %><br>
The Computer chose <%= Game.current.computer_choice.class %><br>
<%= Game.current.result_string %><br>
<a href="/play">Play again?</a>
