<div id='computers-pick'>

  The other player picked: <%= @computers_choice %>
  <% computer_image = { 'rock' => '<img src="/images/rock.jpg" height="20%" width="20%" id="rock">',
      'paper' => '<img src="/images/paper.png" height="20%" width="20%" id="paper">}',
      'scissors' => '<img src="/images/scissors.jpg" height="20%" width="20%" id="scissors">'} %>
  <%= computer_image[@computers_choice] %>
</div>
<div id='result'>
  <h1> <%= @result %> </h1>
</div>
<a href='/again' id='try_again'>Play Again</a>