<html>
<body bgcolor="#F5F4F0">
<center>

<h1>You chose <span style="color: red"><%= @game.player_move %></span>!</h1>

<h1>Your opponent chose <span style="color: blue"><%= @game.opponent_move %></span>!</h1>

<h1><span style="color: orange"><%= @game.winner %></span></h1>

<form action="/" method="get">
<input type="submit" value="Play again!">
</center>
</html>
