<h1> <%=@player.name%> vs bot! </h1>

<section><%=@player.name%> picked <%=@player.weapon%>!</section>
<section> Computer picked <%=@game.cpu.cpu_weapon.capitalize%>!</section>

<footer> And the winner is? <%@game.results(weapon)%> </footer>