<head>
<h1 style="background-color:black;color:white;"> Makers Academy Marketing Array Game Suite </h1>
</head>
<!-- <style>
.content {
  max-width: 500px;
  margin: auto;
}
</style> -->
<body style="background-color:white;color:black;text-align:center;font-family:verdana"">
<h2>Welcome to Rock, Paper, Scissors!</h2>

<h2> <%= @game.player.name %> chose <%= @game.player.choice %> </h2>
<h2> Computer chose  <%= @game.opponent.choice %> </h2>

<% if @game.winner == :player %>
  <h2><%= @game.player.name %> won!</h2>
<% elsif @game.winner == :opponent %>
  <h2>Computer won!</h2>
<% else @game.winner == :draw %>
  <h2>It was a Draw!</h2>
<% end %>

<!-- <a href='/play'>
   <button>Play again</button>
</a> -->

<form action = '/play' method = 'get'>
  <input type = "submit" value = "Play again">
</form>

<!-- <a href='/'>
   <button>Quit</button>
</a> -->

<form action = '/' method = 'get'>
  <input type = "submit" value = "Quit">
</form> <br>
