<h2>Your Choice: <%= $game.player %> </h2>

<h2>The Computer's Choice: <%= $game.ai %> </h2>

<h1> <%= $game.result %> </h1>

<form action='/play'>
    <button name='button' type='submit' value='Submit'>Play again!</button>
</form>

