<div>
  You chose <%= @choice %>.
</div>

<div>
  Computer chose...?
</div>


<div>
  <h1> <%= @result %> </h1>
</div>

<a href="/"><button> New player </button></a>
<a href="/play"><button> Play again? </button></a>
