<h1>🎉 NOT IMPLEMENTED YET wins! 🎉</h1>
<h2><%= session[:players][0].name %> move: <%= session[:players][0].move %></h2>
<h2><%= session[:players][1].name %> move: <%= session[:players][1].move %></h2>
<br />
<a href="/play">Play again?</a>
