<h1><%= @result %></h1>

<p>You chose: <%= @player_choice %></p>
<p>The computer chose: <%= @computer_choice %></p>
<p class="statement"><%= @statement %></p>


<form id="play_again" action="/play">
    <input type="submit" value="Play again">
</form>

<a href='/'>Change your name</a>
