<!-- <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css"> -->
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<style>
  body {background-color:#FFC76C; text-align:center; font-family: 'Bangers', cursive;}
  h1 {font-size:50px; color:#5BFF9A; background-color:#8E42CC; margin:50px; padding:30px;}
  h2 {font-size:35px; color:#854ECC; margin:40px; padding:20px;}
  form {font-size:36px; color:black; background-color:#FCD57A; margin:50px; padding:20px;}
</style>

<h1>You <%= @decision %></h1>

<h2>You chose <%= @p1_choice %> and your opponent chose <%= @p2_choice %></h2>

<p>
<form action="/game" method="post">
  Make your choice
  <input type="submit" name="Choice" value="Rock">
  <input type="submit" name="Choice" value="Paper">
  <input type="submit" name="Choice" value="Scissors">
</form>
</p>

<h2><a href="/">Homepage</a></h2>
