<h1>You chose: <%= $game.player_choose_weapon(@player_weapon) %></h1>

<h1>Computer chose: <%= $game.cp_choose_weapon %></h1>

<h1><%= $game.announce_winner %></h1>
<form action="/play">
  <input type="submit" value="Again?">
</form>
