  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    body {
      background: #041C32;
      text-align: center;
      color: #FFE6BC;
    }
  </style>
</head>
<body>
  <h1>You chose: <%= @player_choice %></h1>
  <h1 class='computer_choice'>Computer chose:  <%= @computer_choice.to_s.capitalize%> </h1>
  <h3><%= @result %></h3>
</body>
</html>