<p>You chose <%= $player.choice %> </p>
<p>Your opponent chose <%= $game.opponent_choice %> </p>

<br>

<p>
  <% if $result == 'Win' %>
    You won!
  <% elsif $result == 'Lose' %>
    You lost!
  <% else %>
    It was a draw!
  <% end %>
</p>

<br>

<form action='/play'>
  <input type='submit' value='Play again'>
</form>