

<h1 style='color: maroon; text-align:center; font-size: 300%'> The Winner is..... </h1>
<br><br><br>
<h3 style="color: maroon; text-align: center; font-size: 200%"> <%= @result %> </h4>

<br><br><br>
<h3 style="color: maroon; text-align: center; font-size: 200%">  <a style="color: maroon" href='/start-game'>Play again </a></h3>
