<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Sumana" rel="stylesheet">
<h1>You chose <%=@player_option%></h1>
<h1>Opponent chose <%=@opponent_option%></h1>
