<!DOCTYPE html>

<html>
  <head>
    <title>RPS: A game of skill</title>
  </head>
  <body>
  <style>
    body {
    background-color: #66ff99
}
  </style>
    <h1> <%= @name %>, you chose <%= @weapon %></h1>

  </body>
</html>
