<body>
  <div class="upper">
<h1>
   <p><%=@game.result %></p>
 </h1>
</div>
</body>

<style>

body {
  background-image: url("https://beacon-center.org/wp-content/uploads/2013/04/Figure2_Jesse.Kruger.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.upper {
  color: #e67300;
  text-align: center;
  font-family: 'Monaco', monospace;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36.3px;
}
