<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>You chose paper!</h1>
    </div>
  </body>
</html>
