<!DOCTYPE html>
<html>
  <body>
    <a href="/play">Back to Play </a>
    <h2> <%= @game.player_name_1%>, you selected <%= @game.p1_selection%> </h2>
    <h1> <%= @game.result %></h1>
    <h2> Your oponent has selected <%= @game.pc_selection%> </h1>
  </body>
</html>
