  <pre>
<body style="font-family:courier; line-height: 0">
  <p>Game over <%=@visitor%>!</p>
  <p><%=@outcome %></p>
  <form action="/newgame">
    <input type="submit" value="Play again!" >
  </form>
</body>
</pre>