<%= Player.current.name %> chose <%= Game.current.player_choice.class %>
The Computer chose <%= Game.current.computer_choice.class %>
<%= Game.current.result_string %>
<a href="/play">Play again?</a>
