<%= "#{@game.player.name}, you picked #{@game.player.weapon}!"%>
<br>
<%= "Computer picked #{@game.computer.weapon}!"%>
<br>
<%= @game.result %>

<form action="/">
<input type="submit" name="weapon" value="Play again">
</form>
