<link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
<h1>ROCK PAPER SCISSORS!</h1>
<h1><%= @winner %></h1>
<!-- Your opponent chose <%= @otherchoice %> -->

<a href="/gameplay">Play again!</a>
