<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>

  <body>

    <h1> The winner is...<%= @name %></h1>

    <div>
    <img src= 'https://allthingsbooker.files.wordpress.com/2016/12/winner.jpg'>
    <div>

  </body>
</html>
