<style>
main {
  text-align: center;
  font-family: helvetica;
  font-size: 2.5vw;
  padding: 1vh 10vw;
  color: white;
  background: grey;
}

div {
  color: grey;
  font-size: 5vw;
  background: lightyellow;
}
</style>


<main>
Your weapon: <%= @p1 %> <----------->
Computer's weapon: <%= @p2 %> <br><br><br>
<div>
  <%= @result %>
</div>
</main>
