<%="#{@player_name}: #{@player_weapon}"%>
<br>
<%="Computor: #{@computer_weapon}"%>
<br>
<%="Result: #{@player_name} #{@result}"%>
<br>
<form action="/choose_weapon" method="post">
  <input type="submit" value="Start another game">
</form>
