<p><%=@game.result%></p>

<a style="text-decoration:none;color:white" href="/welcome">
  <button style="font-family: Impact; letter-spacing:3px; width:220px; height: 60px; background-color:orange;color:black;font-size:28px;">Play again</button>
</a>
