<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      background-color: lightblue;
      text-align: center;
      padding: 150px 0;
    }
    </style>
     </head>

  <body>
<div>
<h1> You Win! :) </h1>
</div>
<h1> You Lost! :( </h1>

<form action='/play' method='get'>
  <div class='button'>
    <button type='submit'>Play again!</button>
    </div>
  </form>

  </body>
</html>
