<div style="margin-bottom: 30px">
<h1>Rock, Paper, Scissors</h1>
</div>
<div style="margin-bottom: 15px">
You chose <%= session[:user_choice] %> <br>
Computer chose <%= session[:computer_choice] %>
</div>
