<center><h1> Computer chose: <%= @c_choice %>. You chose: <%= @p_choice %>. <%= @game.result %> </h1>

	<form action="/play" method="post">
		<input type="submit" value="Play again?">
	</form></center>
