<head>
<link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
</head>

<h1>COMPUTER PLAYED ***</h1>
<h2>YOU WON/LOST!</h2>

<form action="/play">
  <input type="submit" value="Play again">
</form>

<style type="text/css">
  h1 { color: red;
    font-size: 50px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    padding-top: 50px;
  }
  h2 { color: red;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    text-align: center;
  }
  form {
    text-align: center;
  }
  input[type="submit" i]{
    background-color: #f44336;
    color: white;/* Red */
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    border-radius: 0px;
    border: 0px;
  }
  </style>
