<style>

h1 {
  text-align: center;
  font-style: italic;
  font-weight: 200;
}

#user_choice {
  width:200px;
  height:200px;
  float: left
  }

</style>

<div id="user_choice">
<h1> You picked <%= @player.choice %> </h1>
<% if @player.choice == "rock" %>
  <img src='https://static01.nyt.com/images/2011/08/21/magazine/21mag-abstractimages-slide-XOE4/21mag-abstractimages-slide-XOE4-jumbo.jpg' alt="rock" id="user_choice">
<% elsif @player.choice == "paper" %>
  <img src="https://static01.nyt.com/images/2011/08/21/magazine/21mag-abstractimages-slide-2T4N/21mag-abstractimages-slide-2T4N-jumbo.jpg" alt="paper" id="user_choice">
<% elsif @player.choice == "scissors" %>
  <img src="https://static01.nyt.com/images/2011/08/21/magazine/21mag-abstractimages-slide-IRQ1/21mag-abstractimages-slide-IRQ1-jumbo.jpg" alt="scissors" id="user_choice">
<% end %>
</div>
