<div align="center">
  <% if @result == "draw" %>
    <p style="color:red">DRAW!</p>
    </br>
    <a href='/game'>Replay?</a>
  <% else %>
    <p><span style="color:red"><%= @result %></span></p>
    </br>
    <a href='/game/new'>New Game?</a>
  <% end %>
</div>





