<html>

<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<h2>Your chose: {Scissors}</h2>
<h2>Computer chose: {}</h2>
<h2>{result of the game}</h2>
<br />
<br />
<div class="buttons">
  <div class="action_btn">
  <button name="submit" class="action_btn play again" type="submit" value="Play again" onclick="myFunction4()">Play again</button>
  </div>
</div>

</html>