<html>
<head>
  <style>
    h1 {text-align: center;}
  }
  </style>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1 style="color: #731768;">You put <%= $weapon %> the computer chose <%= $comp_weapon %></h1>

</body>
</html>

<body>
  <div class="gaudy-wrapper">
    <p><em><span class="letter0"><%= @result %></span></em></p>
  </div>
</body>

<html>
<head>
<style>
  h1 {text-align: center;}
  h2 {text-align: center;}
  h4 {text-align: center;}
  h5 {text-align: center;}
  form {text-align: center;}
}
</style>
</head>
<body>
