<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
  </head>
  <body>
      <div> <%= @game.player.player_name %> chose <%= @game.player.users_choice %> </div>
      <div> Computer chose <%= @game.computer.choice_made %> </div>
      <div> <%= @game.final_choice %> </div>
  </body>
  </html>
