<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Nothing+You+Could+Do&display=swap" rel="stylesheet">

  <head>
    <script src="https://kit.fontawesome.com/48e6684c73.js" crossorigin="anonymous"></script>
  </head>

<style>
body {
  background-color: #F7B15C;
  color: #1e2020;
  text-align: center;
  font-family: 'Bangers', cursive;
  border: 20px solid black;
  border-radius: 7px;
  height: 100vh;
}

h1 {
  margin-top: 50px;
}

.btn {
  background-color: #F7B15C;
  border: none;
  color: #1e2020;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
}

h2 {
  font-size: 80px;
}

</style>

<% if  @winner == 'player' %>
<h1> You beat The Computer! Yay</h1>
<img src='https://media.giphy.com/media/MEWeqM3BehSDLdghe2/giphy.gif'>
<% elsif @winner == 'computer' %>
<h1> The Computer beat you. The bots are taking over.</h1>
<img src='https://media.giphy.com/media/U8MnmuVDpK264/giphy.gif'>
<% else %>
<h1>It's a draw.</h1>
<img src='https://media.giphy.com/media/G5X63GrrLjjVK/giphy.gif'>
<% end %>

<form action='/try_again' method='post'>
  <button class="btn" value='try_again' name='try_again'><i class="fas fa-redo-alt"></i> Play again</button>
</form>
