<!DOCTYPE html>
  <head>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="choice">
      <h1>You selected <em><%= @player.choice %></em> and the computer selected <em><%= @computer.choice %></em>.</h1>
    </div>

    <div class="result">
    </div>

  </body>
</html>
