<html>
  <head>
    <meta http-equiv="refresh" content="2;url=/game" />
  </head>
  <body>
    <div style="text-align:center;">
      <br><br><br>
      <h1> Welcome <%= @game.player.name %> you have played... TBC</h1>
    </div>
  </body>
</html>
