<body bgcolor = "#FCFAF7">
  <center>
<h1> ROCK PAPER SCISSOR </h1>
<h3>
  result: <%=@result%>
  <form action='/play'>
    <input type='submit' value='play again'>
    </form>
    </h3>
    </center>
    </body>
