<body style="background-color:powderblue;">
<center>
<br>
<style>
  h2 { font-family:helvetica,sans-serif;color:white }
  p { font-family:helvetica,sans-serif;color:white }
</style>

<h2><%= @name %> picked <%= @pick %>.</h2>
<h2>The computer picked <%= @computer_pick %>.</h2>
<% if @winner == 'computer' %>
<h2>The computer wins!</h2>
<% elsif @winner == 'player' %>
<h2><%= @name %> wins!</h2>
<% else %>
<h2>It's a draw!</h2>
<% end %>
<p><a href='/play'>Play again</a></p>
</center>
</body>
