<h1> <%=@the_result%> </h1>

<style>
  h1 {
    color: orange;
    font-size: 100px;
    text-align: center;
    margin: 250px
  }
</style>

<form action='/back_home' method="post">
  <input type="submit" name = "submit" value = "Dare to play again?">
</form>

<style>
  form {
    color: blue;
    text-align: center;
  }
</style>


<style>
  body {
    background-color: rgb(25, 70, 150);
  }
</style>
