<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
  <div>
  <p>Player entered ===> <%= @userinput %></p>
  <p>Computer selected ===> <%= @output %></p>
  <p>The <b>result</b> is ===> <%= @result %></p>
  </div>
  </body>
</html>
