<% if @player_choice == "Rock" %>
<h2>You played Rock!</h2>
<% elsif @player_choice == "Paper" %>
<h2>You played Paper!</h2>
<% elsif @player_choice == "Scissors" %>
<h2>You played Scissors!</h2>
<% end %>

"Computer played Rock!"
"Computer played Paper!"
"Computer played Scissors!"

<form action="/nextgame" method="post">
  <input type="submit" value="Next Game">
</form>
