<body style="background-color:powderblue;">

<h1 style="color:blue;">Rock, Paper, Scissors Game </h1>

<h2 style="color:red;">BMO chose: <%= @game.computer_choice %>

<h1 style="color:green;"><%= @game.winner %></h1>
