<html>
  <head>
    <meta http-equiv="refresh" content="2;url=/game" />
  </head>
  <body>
    <div style="text-align:center;">
      <br><br><br>
      <h2> Welcome <%= @game.player.name %> you have played <%= @game.player_play %></h2>
    </div>
    <div style="text-align:center;">
      <br><br><br>
      <h2> The dastardly computer has played <%= @game.ai_play %></h2>
    </div>
    <div style="text-align:center;">
      <br><br><br>
      <h3> The winner is therefore <%= @game.results[(@game.round-2)] %></h3>
    </div>
  </body>
</html>
