<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1>Result:</h1>
  <h2><%= @name %>: <%= @choice %></h2>
</body>
</html>