<style>
#grad {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
</style>
<div class="grad"><h1>ROCK PAPER SCISSORS what what?</h1></grad>
<%=  $game.playername %> chose <%= $game.move %> <br>
AI chose <%= $game.ai_move %> <br>
Result: <%= @results[$game.who_wins?] %> <br>

