<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Result</title>
  </head>
  <style>
    body {
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    text-align: center;
    }
  </style>

  <body>
    <h2> <%= "#{@game.player.name} chose #{@game.player_weapon}" %> </h2>
    <h2> <%= "#{@game.computer.name} chose #{@game.computer_weapon}" %> </h2>
    <div> <%= "The result: #{@game.result}" %> </div>
  </body>
</html>
