<html>
<body bgcolor="#F5F5F5">
<div align="center">
<img src=https://bit.ly/2GHTtZ4>
<p style="color:gold;font-size:50px;">The winner is: <%=@result%> </p>
<h2>Want to try again? </h2>
<form action="/player1">
<input type="submit" value="Try Again">
</form>
<h2>Or maybe change the players? </h2>
<form action="/">
<input type="submit" value="Change players">
</form>
</body>
</html>
