<div>
  You selected <%= ['rock', 'paper', 'scissors'][@player1_choice] %>
</div>
<div>
  The computer selected <%= ['rock', 'paper', 'scissors'][@player2_choice] %>
</div>
<div id="result">
  <%= @result %>
</div>

