<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url('/style.css') %>" type="text/css"/>
</head>

<body>
<h1><%=
  if @result == 'P1'
    'You won!'
  elsif @result == 'P2'
    'You lost'
  else
    'Draw'
  end
%></h1>

<h2><%= @game.p1.move.capitalize %> vs <%= @game.p2.move.capitalize %></h2>
<br>
</body>
</html>