<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="button.css" />
</head>
<body>
<%= @result %>
  <form class="" action="/replay">
    <input class="button button1" type="submit" name="" value="Play Again!">
  </form>
  <form class="" action="/">
    <input class="button button1" type="submit" name="" value="Home">
  </form>
</body>
