<center>
  Alex choice: <%= @marketeer1_choice %> <br>
  Computer choice: <%= @marketeer2_choice %> <br>
  Result: <%= @result %>
  <form action="/play" method="get">
    <input type="submit" value="Play again">
    </form>
    <form action="/" method="get">
      <input type="submit" value="I have enough">
      </form>
</center>
