<h2> <%=@results%></h2>
  <div id="page-wrap">
<form method="POST" action="/game_over">
<input class="btn" type="submit" name="redirect_to" value="Play Again">
<input class="btn" type="submit" name="redirect_to" value="End Game">
</form>
</div>