<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>
<body>

<div>
<h1> You chose <%= @player1_choice.capitalize %>! </h1>
</div>

<div>
Your opponent chose <%= @player2_choice.capitalize %>
</div>

<div>
<%= @message %>
</div>

</body>
</html>
