<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors - Play</title>
  </head>
  <body>
    <h1><%= @game.player_name %> vs. Computer</h1>
    <p>You chose <%= @game.player_move %></p>
    <p>Computer chose <%= @game.opponent_move %></p>
    <p>You <%= @game.result %>!</p>
  </body>
</html>
