<!DOCTYPE html>
<html>
  <head>
    <link href='/style.css' rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  </head>
  <body>
    <h2>You chose: <%=@game.player.player_choice%>
    <br>
    The computer chose: <%=@game.computer.computer_choice%>
    <br>
    <h1>You <%=@game.result%>!</h1>
    <br>
    <h2><a href='/game'>Want to play again?</a></h2>
  </body>
</html>
