<h1><%=@player_name%> vs Computer AI</h1>
<h2>You chose <%=@player_move%> Computer chose <%=@computer_move %></h2>
<h2><%=%></h2>
<form action='/play' >
  <label for="play_again">
    <input type='submit' value='Play Again'>
  </label>
</form>