<h2>Your weapon: <%= @game.player.weapon %></h2>
<h2>Deep Blue's weapon: <%= @game.computer_player.weapon %></h2>
<h2>Winner of this match is: <%= @game.winner %></h2>
<h3>Do you want to play again?<h3>
<a href='/play'>Yes</a><br>
<a href='/game_over'>No</a><br>
