<body bgcolor='#99ddff'>
  <font face='verdana' color='black'>

<%= @game.player.name %> chooses <%= @game.player.choice %>.
<p> </p>
Computer chooses <%= @game.comp %>.
<p> </p>
<%= @game.play %>!

  </font>
</body>
