You win
You chose <%= @p1_choice %>, your opponent chose <%= @p2_choice %>

<form action="/game" method="post">
  Make your choice
  <input type="submit" name="Choice" value="Rock">
  <input type="submit" name="Choice" value="Paper">
  <input type="submit" name="Choice" value="Scissors">
</form>

<a href="/">Homepage</a>
