<h2>Computer chose <%= @game.player2.weapon %></h2>
<h2>You chose <%= @game.player1.weapon %></h2>

<h1><%= @game.result %></h1>

<form class="" action="/reset" method="post">
  <button type="submit">Play again</button>
</form>
