<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>And the winner is...</title>
  <head>

<body bgcolor="#7AEAF5"; style="text-align: center" >
<%= @name %> has selected :<%= @player_selection %>&nbsp &nbsp
The computer player has selected :<%= @computer_choice %><br>
<% @game_result %><br>

<% if @game_result == "draw" %>
  Result is a draw
<% end %>
<% if @game_result == "win" %>
  <%= @name %> is the winner
<% end %>
<% if @game_result == "lose" %>
  The computer is the winner
<% end %>



</body>
</html>
