
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Averia Gruesa Libre' rel='stylesheet'>
<style>
body {
    padding: 50px;
    font-family: 'Averia Gruesa Libre';
    font-size: 30px;
    color: white;
    background-color: powderblue;
}

</style>
</head>

<body>
<center> <% @x = ["ROCK", "PAPER", "SCISSORS"] %>
<h1>Your Selection:</h1><h1><div id="result"><%= @result %></div></h1>
<h1>Computer's Selection:</h1><h1><div id="computer_label"><%= @y = @x.sample %></div></h1>
  <style>
  div[id=computer_label]  {
    color: white;
    box-sizing: border-box; width: 20%;
    background: #b19cd9;
    border: 4px solid #39CCCC;
    font-family: 'Averia Gruesa Libre';
    font-size: 50px;
  }
  div[id=result]  {
    color: white;
    box-sizing: border-box; width: 20%;
    background: #ffbcd9;
    border: 4px solid #39CCCC;
    font-family: 'Averia Gruesa Libre';
    font-size: 50px; }
</style>
<% if @y == "ROCK" && @result == "SCISSORS" %>
<b><h1>THE COMPUTER WINS!<em><b></h1><b>
<% elsif @y == "SCISSORS" && @result == "ROCK" %>
<b><h1>YOU WIN!</h1><b>
<% elsif @y == "PAPER" && @result == "ROCK" %>
<b><h1>THE COMPUTER WINS!</h1><b>
<% elsif @y == "ROCK" && @result == "PAPER" %>
<b><h1><div>YOU WIN!<div></h1><b>
<% elsif @y == "SCISSORS" && @result == "PAPER" %>
<b><h1>THE COMPUTER WINS!</h1><b>
<% elsif @y== "PAPER" && @result == "SCISSORS" %>
<b><h1>YOU WIN!</h1><b>
<% else %>
<b><h1>ITS A TIE!</h1><b>
<% end %>
</center>

</body>
</html>
