<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: #99ccff
  }
</style>
</head>
<BODY>
  <center>
  <h1> The result of the round </h1>
  <h2><%=@name%> chose <%=@choice%></h2>
  <h2>HAL chose <%=@ai_choice%>
  <h2><%=@result%></h2>
  <form action="/fight" >
    <div class="button">
      <button type="submit">Play again?</button>
    </div>
  </form>
  </center>
</BODY>
</html>
