<title>Rock-Paper-Scissors</title>
<body>
<div>
<p><%= $game.player.name %> chose <%= $game.player_move %></p>
<p>Computer chose <%= $game.computer_move %></p>
<% if $game.win? %>
<p>You have won the game </p>
<% elsif $game.draw? %>
<p>You have have drawn with the computer </p>
<% else $game.lose? %>
<p>You have lost the game </p>
<% end %>
<div>
  <form action="/play" method="get">
  <input type="submit" value="play again">
  </form>
</body>
