<body>

  <h1>Hey <%= @player_1 %> what a great game of RPS!!</h1>
  <%= @player_1 %> result: <%= @player_1_result %><br>
  Computer result: <%= @result %>

  <!-- <form action='result'>
    <input type="submit" value='RPS!'>
  </form> -->

</body>