
<html>
<head>
<style>
body {background-color: lightcyan;}
p    {color: royalblue;}
</style>
</head>
<p> Player 1 chose <%= @choice1 %></p>
<p> Player 2 chose <%= @choice2 %></p>
<p><%= @winner %> won!</p>
<form action="/" method="get">
  <input type="submit" value="Play Again">
</form>
</html>
