<h1><%= @player_name %> selected <%= @player_selection %></h1>
<h1>The computer selected <%= @computer_selection %> </h1>
<h1> <%= @result %> </h1>

<form method="get" action="/play">
  <input type="submit" value="Play Again" name="play_again" />
</form>
  
