<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results Page</title>
  </head>
  <body>
    <h1>The Results are in!</h1>
    <p><%= @player.name %> choose <%= @player.choice %></p>
    <p>Computer choose <%= @computer_choice %></p>
    <p><%=@game_result%><p>
  </body>
</html>
