<link rel='stylesheet' href='css/styles.css'>

<div class ="container">

  <h1>Result: You <%=@outcome%>.</h1>

  <p>You chose <%= @weapon %>.</p>

  <p>The computer chose <%= @comp_weapon %>.</p>

  <div class="padder">
    <a href="/game"><button class="rps-button">Restart Game</button></a>
  </div>

</div>
