<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results Page</title>
  </head>
  <body>
    <h1>The Results are in!</h1>
    <p>PLAYER NAME choose RPSLS choice</p>
    <p>Computer choose RPSLS automated choice</p>
    <p>RESULT WIN LOSE TIE<p>
  </body>
</html>
