<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <p><%= "You chose #{@choice}!" %></p>
    <p><%= "The computer chose #{@game.computer}!" %></p>
    <p><%= "The result is #{@game.result}!" %></p>
    <p><%= "Score: #{@score}" %></p>
    <p><a href="/game">Play again?<a/></p>
  </body>
</html>
