<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <% if 'Rock'%>
    <%= "The winner is..." %>
    <% else %>
    <%= "The winner is computer" %>
    <% end %>

    <div>
    <img src= 'https://allthingsbooker.files.wordpress.com/2016/12/winner.jpg'>
    <div>

  </body>
</html>
