<h1>Rock * Paper * Scissors</h1>

<h2>You chose:  <%=@game.player.choice%></h2>
<h2>The computer chose:  <%=@game.computer.choice%></h2>


<% if @game.result == "Player wins" %>
<h1>YOU WON!</h1>
<% elsif @game.result == "Computer wins" %>
<h1>YOU LOST!</h1>
<% elsif @game.result == "DRAW" %>
<h1>YOU DREW!</h1>
<% end %>



<form action="/play" method="GET">
  <input type="submit" value="PLAY AGAIN?">
</form>

<form action="/" method="GET">
  <input type="submit" value="Change Player?">
</form>
