<center>
  Alex choice: <%= @marketeer1_choice %> <br>
  Computer choice: <%= @computer_choice %> <br>
  Result: <%= @result %>
  <form action="/play" method="get">
    <input type="submit" value="Play again">
    </form>
</center>
