<div align="center">
  <div>
  You chose <%=@game.player_1.choice%>. 
  <br><br>
  Computer chose <%=@game.computer_choice%>.
  </div>
  <br>
  <div class="narrative">
    <%=@game.print_result %>
  </div>
</div>