<div class="">

<link rel="stylesheet" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<h1>The Result:</h1>
<h2><%= @player %> chose: <%= @choice %></h2>
<h2>Computer chose: <%= @computer %></h2>
<h1><%= @result %></h1>

<form action="/">
  <input type="submit" value="Play again?">
</form>
</div>
