<center><h1> Rock Paper Scissors </h1>

  <h2> <%= @game.player.name %> entered <%= @game.player_selection %> </h2>

  <h2> The computer entered <%= @game.computer_selection %> </h2>

  <h2> <%= @game.result %> </h2></center>
