<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: #99ccff
  }
</style>
</head>
<BODY>
  <center>
  <h1> The result of the round </h1>
  <h2><%=@name%> chose <%=@choice%></h2>
  </center>
</BODY>
</html>
