<h1>
  Rock Paper Scissors
</h1>

<h2>
  <%=@current_game.the_player.name%>went for<%=@current_game.the_player.choice.item%>
</h2>

<h3>
  <!-- Bot went for<%=@current_game.computer.choice.item%> -->
</h3>



<form action="/choose" method= "post">
  <input type= "submit" value = "Play again">
</form>

<form action="/" method="get">
  <input type= "submit" value = "Home Page">
</form>
