<h2> <%=$player.name%> chose: <%=$player_choice%> <h2>
<h2> Computer chose: <%= $computer_choice =["Rock", "Paper", "Scissors"].sample %> <h2>
<h1> <%= $player.play($player_choice, $computer_choice)  %> 

    <div>
    <img src= 'https://www.ads.org.uk/wp-content/uploads/thumb_6917_rockpaperscissors-480.jpg'>
   </div>
 