<!DOCTYPE html>
<html>
  <head>
    <title>RPS Game</title>
    <link rel="stylesheet" href="/style.css">
</head>



<body>
  <div class="centered">

    <h2>You chose: <%=@game.user_choice.capitalize%></h2>

  </div>
</body>
