<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
    <link rel=stylesheet type=text/css href=/site.css />
    <link rel=stylesheet type=text/css href=/result.css />
  </head>
  <body>
    <h1>Hi, <%= @name%>!</h1>
    <p class="choicesContainer">
      <img src="<%= @imgLink%>" class="playerChoiceImage" />
      <h2>Your choice: <%= @choice%></h2>
    </p>
  </body>
</html>
