<%= Game.see_player_name %> chose <%= Game.see_result[:player_move] %>
<br>
Robot chose <%= Game.see_result[:opponent_move] %>
<br>
<%= Game.see_result[:outcome] %>
<br>
<form action=play>
  <input type=submit value='Play again?'>
</form>
