<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Results / Rock / Paper / Scissors</title>
  </head>
  <body>

    <div class="container">
      <div class="box">
      
        <% if @winner %>
          <h1><%= @winner.move %> beats <%= @loser.move %></h1>
          <div class="blink_me">
            <h2><%= @winner.name %> wins!</h2>
          </div>
        <% else %>
          <h2>It's a draw! :( </h2>
        <% end %>  
        <a href="/game">Play again?</a>     
      </div>
    </div>

  </body>

</html>