<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= url('/style.css') %>" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<h1><%=
  if @result == 'P1'
    'You won!'
  elsif @result == 'P2'
    'You lost'
  else
    'Draw'
  end
%></h1>

<h2><%= @game.p1.move.capitalize %> vs <%= @game.p2.move.capitalize %></h2>
<br>
<form action="/choose-move" method="get">
  <button class="myButton" type="submit" value="Play again">Play again</button><br>
</form>
</body>
</html>