<h2 style="font-family: calibri">
  <p>So <%= @player%>, who won?</p>
  You picked: <%= @player_choice %><br>
  Computer picked: <%= @computer_choice %><br>
  <p><%= @game %></p>
</h2>
<p style="font-family: calibri">
  <a href="http://localhost:9292/game">Play again</a>
</p>
