<% if ["rock", "paper", "scissors"].include?(@player_choice.downcase) %>
<%= @name %> has choosen <%= @player_choice.downcase %>
<br>
Computer has choosen <%= @computer_choice %>
<% else %>
Please choose rock, paper or scissors
<% end %>
<br>
<form action="/play" >
  <input type="submit" value="Play again">
</form>

