<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1><%= @player.name %>, you have chosen '<%= @player.selection.to_s.capitalize %>'</h1>
  <h1> The computer's selection is... <%= @cpu.selection.to_s.capitalize %></h1>
  <h1><%= @result %></h1>
</body>
</html>
