<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<% if $p1 > (($best_of.to_i) * 0.5) %>
<h1>
<%= $name.capitalize %> wins the overall.
</h1>

<% elsif $p2 > (($best_of.to_i) * 0.5) %>
<h1>Computer player wins the overall. </h1>

<% end %>

<img src=/champion.jpg>
