<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/rps_style.css" />
  </head>
  <body>

You selected <%= @game.p1_move %>

Computer selects <%= @game.p2_move %>

<%= @game.result(@game.p1_move, @game.p2_move) %>

</body>
</html>
