<style type="text/css">
	.center { text-align: center }
	.container { text-align: center }
	.inner { display: inline-block; 
			background: #abd3db; 
			width: 500px; 
			border-radius: 10px; 
			color:#3a585e;
			font-family: Helvetica, Arial;
			border: 1px solid #3a585e }
</style>

<br>
<div class="container">
	<div class="inner">
		<h1 class="center">Congratulations, <%= session[:winner] %></h1>
		<h1 class="center">You are the winner.</h1>
		<br>
	</div>
</div>