<!DOCTYPE html>
<html lang="en">
<style>
h1, h2, h3, body {
  font-family: georgia;
  color: white;
  text-align: center;
  background-color: navy;
}
</style>
<head>
<h1><%= @player_one_name %>, your move was <%= @move %></h1>
</head>
<body>
</body>
</html>
