<link href="/style.css" type="text/css" rel="stylesheet">
<font size = "5"; color = "navy">
<br>
<h2 align ="center"><%= @game.player.name %> vs. Computer</h2>
<div align = "center">
<img src="http://www.ponderweasel.com/wp-content/uploads/2014/11/who-invented-rock-paper-scissors.png">
</div>
<h1 align ="center"><%= @game.winner %> won!</h1>
