<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1><%= @results %></h1>
    <h3>You chose <%= @p1 %></h3>
    <h3>Computer chose <%= @p2 %></h3>
  </body>
</html>
