<style>
.container {
  position: relative;
  text-align: center;

  width: 500px;
  height: 500px;

  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24
}
</style>
<div class="container">
<image src="https://mcdn.wallpapersafari.com/small/91/80/BKrqaJ.jpg" style="border-style: solid; border-width:5px; width:100%;" >
<div class="centered"><%= @game.message %></div>
</div>