<div class="text-center">
<% if @result == "Win!" %>
  <h2>You won! The computer chose <%= @player.capitalize %>.</h2>
  <img src="http://i.imgur.com/fwnb9hc.png">
<% elsif @result == "Lost!" %>
  <h2>You lost! The computer chose <%= @player.capitalize %>.</h2>
  <img src="http://i.imgur.com/r2GH5OJ.png"></br>
<% elsif @result == "Draw!" %>
  <h2>Draw! The computer also chose <%= @player.capitalize %>.</h2>
  <img src="http://i.imgur.com/o4muAhf.png"></br>
<% end %>
  <br>
  <form action='/player' method='post' class="text-center">
  <a href="/game" class="btn btn-info text-center">Play again!</a>
  </form>
</div>