<link rel="stylesheet" href="css/styles.css">

<div class="container">
  <h1>You <%= @outcome %>.</h1>
  <p>You chose <%= @game.player_1.weapon.capitalize %>.
  <br>The computer chose <%= @game.player_2.weapon.capitalize %>.</p>
  <form action="/play" method="get">
    <input type="submit" value="Rematch!">
  </form>
  <form action="/" method="get">
    <input type="submit" value="New Game">
  </form>
</div>
