<!DOCTYPE html>
<html>
  <head>
    <title>RPS Results</title>
  </head>
  <body>

    You chose: <%= @game.player_one.move %>
    <br>
    Bot chose: <%= @game.player_two.move %>
    <br>
    <%= @game.results_message %>

  </body>
</html>
