<!DOCTYPE html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1><%= @player.name %></h1>
  <form action="/fight" method="post">
    <label for="Action">Pick your Weapon</label>
    <input type="submit" value="Rock" name="rock">
    <input type="submit" value="Paper" name="paper">
    <input type="submit" value="Scissors" name="scissors">
  </form>
  <h2><%= @player.weapon %> vs. <%= @cpu.weapon %> </h2>
</body>
</html>