<h2>Your weapon: <%= @player_weapon %></h2>
<h2>Deep Blue's weapon: <%= @computer_weapon %></h2>
<h2>Winner of this match is: <%= @result %></h2>
<h3>Do you want to play again?<h3>
<a href='/play'>Yes</a><br>
<a href='/game_over'>No</a><br>
