You chose: <%= @player_choice %>
<br>
Ricky chose: <%= @game.log[-1][1] %>
<br>
Result: <%= @game.log[-1][0] %>
<br>
Accumulated: <%= @game.print_log %>
<br>
<br>
<form  action="/play" method="get">
  <input type="submit" value="Play Again">
</form>
<form  action="/restart" method="get">
  <input type="submit" value="Restart">
</form>
