<body>
  <style>

    body {
      background-image:url('http://js.itivy.com/jiaoben1104/images/escheresque_ste.png');
      }

    div {
      position: fixed;
      width: 30em;
      top: 30%;
      left: 20%;
      border: 5px solid gray;
      padding: 1em;
      padding-top: 0em;
      align-text: center;
      font-size: 1.5em;
      border-radius: 25px;
      box-shadow: 5px 5px black;
      background-color: white;
      }
      
  </style>
  <center>
    <div>
      <h1><%=@game.game_logic%></h1>
    </div>
  </center>
</body>