<h4><%= @game.player.name %> chose <%= @game.player.weapon.name_of_weapon %></h4>

<h4>The computer has chosen <%= @game.computer.choice %></h4>

<h4><%= @game.result %></h4>


<img src = "https://st3.depositphotos.com/3537243/31961/v/450/depositphotos_319616336-stock-illustration-gold-winner-crown-banner-isolated.jpg" >

