<link rel="stylesheet" href="/spectre.min.css">

<div class="container" style="padding-top:200px">
  <div class="columns">
    <div class="column col-5 centered text-center" >
      <h1>Results</h1>
      <h3><%= "#{@game.player1.name.capitalize} vs. #{@game.player2.name.capitalize}" %></h3>

      <div style="padding-top:20px">
        <h4><%="#{@game.player1.name} : #{@game.player1.action.to_s} "%></h4>
        <h4><%="#{@game.player2.name} : #{@game.player2.action.to_s} "%></h4>
      </div>

      <div style="padding-top:20px">
        <% if @game.result == true %>
          <h1>It's A Tie!<h1>
        <% else %>
          <h1><mark><%= @game.result.name.upcase %> Wins!</mark><h1>
        <% end %>
      </div>

      <form action="/">
        <div style="padding-top: 20">
          <button class="btn btn-lg" type="submit">Play Again</button>
        </div>
      </form>
    </div>
  </div>
</div>
