<!DOCTYPE html>
<html>
<body style="background-color:#e6ffe6;">

<h1>Rock, Paper, Scissors</h1>
<h2>A true game of skill...</h2>


<% if @result == :win %>
  <%= @game.player_one.name %>, your opponent played <%= @game.player_two.weapon.to_s%>, you win!
<% end %>
