<h1> You chose <%= @player_choice %> <h1>
<h1> Computer chose <%= @computer_choice %> <h1>
<br>
<h1> You <%= @result %> <h1>

<form action=/play method='get'>
<input type='submit' value='Play Again'>
</form>
