<p> <%= @game.player_1.name %> picked: <%= @game.player_1_choice %> </p>

<p> Computer picked: <%= @game.computer_choice %> </p>

<p> The result is: <%= @game.result %> </p>

<a href="/" > Start again! </a>