<h2> <%= @result%> </h2> <br><br>

<h3> <%= session[:player_1_name]%>: <%= session[:player_1_move]%> | Computer: <%= @computer_move%></h3> <br><br>

<form action="/home" method="GET">
<input type="submit" value="Return">
</form>