<!DOCTYPE html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1><%= @player.name %></h1>
  <form action="/play" method="post">
    <input type="submit" value="Play Again" name="play again">
  </form>
  <h2><%= @player.weapon %> vs. <%= @cpu.weapon %> </h2>
</body>
</html>