<p>You played '<%= params[:move] %>'</p>
<br>
<% comp_move = ['rock', 'paper', 'scissors'].sample %>
<p>The computer plays '<%= comp_move %>'</p>
<p>
<p>You <%= Result.new(params[:move], comp_move).judge.to_s %>!</p>
