<h1>Your choice:   /   Computer's choice:</h1>
<img id="<%= @players_card.card_id %>" src="img/<%= @players_card.card_number %>.jpg" />
<img id="<%= @random_card.card_id %>" src="img/<%= @random_card.card_number %>.jpg" />
