<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Battle Has Been Decided</title>
  </head>
  <body>
    <h2>Your choice of weapon: <%= @game.player.choice %>
      <br>
    <h2>Your opponents choice of weapon: <%= @game.computer.choice %>
      <br>
    <h3><%= @game.result %></h3>
  </body>
</html>
