<link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel='stylesheet' type='text/css'>

<style>

body {
  background-color:#D3D3D3;
}

#result {
  text-decoration: none;
  font-size:10em;
  font-family:'Indie Flower', cursive;
  position: fixed;
  margin-right: 25px;
  margin-left: 200px;
  margin-top: 150px;
  color:black;
}

#play_again {
 text-decoration: none;
  font-size:5em;
  font-family:'Indie Flower', cursive;
  position: fixed;
  margin-right: 25px;
  margin-left: 500px;
  margin-top: 500px;
  color:#696969;
}
#play_again:hover {
 font-size:7em;
}


</style>

<h2 id="result"> <%= @final %> </h2>

<a id="play_again" href ='/start'>Play again</a>