<head>
  <style>
  body {
    color: green;
    text-align: center;
    font-size: 50px;
    float: centre;
    background: url('srockpaper.jpg') center center;
    background-size: cover;
  }
  </style>
</head>
<body>
<h2><%=@game.player.name%> you chose <%=@game.player.choice%>, the computer <%=@game.computer_choice%></h2>
<h1><%=@game.outcome%></h1>
</body>
