<div class="results">
  <h2>You chose <%= @game.player.weapon %><h2>
  <h2>The computer chose <%= @game.npc_choice %><h2>
  <h1><%= @game.result %></h1>
  <a href="/play">Play again</a> <a href="/">New game</a>
</div>
<div class="img">
  <img src="https://media.giphy.com/media/13XW2MJE0XCoM0/giphy.gif" alt="css_fail" />
</div>
