<h1>Rock Paper Scissors</h1>

You chose <%= @choice%><br>
Your opponent chose X<br>

WIN/DRAW/LOSE<br>
<br>
<div class="inline">
<form action="/play">
  <input type="submit" value="Play again?">
<form action="/">
  <input type="submit" value="Restart">
</form>
</div>