<br>
<br>

<% if @result == 'player1' %>
  <p> <%= @game.player1.name %> wins! :D </p>
<% elsif @result == 'player2' %>
<p>  <%= @game.player2.name %> wins! :D </p>
<% elsif @result == 'draw' %>
  <p> It's a tie! Try again! </p>
<% end %>

<br>
<br>

<form action='/play'  method='get'>
  <input type='submit' value='Play again' class='button'>
</form>
<form action='/'  method='get'>
  <input type='submit' value='Start new game' class='button'>
</form>
