<style>
body { background-color: #99ccff; }
</style>

<h3><%= @game.player.name %> chose <%= @game.player.selection %></h3>
<h3>Computer chose <%= @game.computer.selection %></h3>
The winner is <%= @game.winner %>
