<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>You chose <%=@weapon.type%>!</h1>
    <h1>The computer chose <%=@computer_player.move%>!</h1>
  </body>
</html>
