<body style="color:darkblue;">
  <% if @game.win?%>
    <h1>The result is .... You won!</h1>
  <% end %>
  <% if @game.lose?%>
    <h1>The result is .... You lost!</h1>
  <% end %>
  <% if @game.draw?%>
    <h1>The result is .... a draw. Nobody wins!</h1>
  <% end %>

  <br/><br/>
  <a href="/play">OK</a>
</body>
