<html>
<% if @winner = @player %>
  <body style ="background-color:rgb(51, 51, 204)">
  <h1 style="color:white; font-family:georgia" align="center"> Winner Winner Chicken Dinner! </h1>
  </body>
<% else %>
<body style ="background-color:rgb(178,34,34)">
  <h1 style="color:white; font-family:georgia" align="center"> LOSER! </h1>
  </body>
  <% end %>
  <html>
