<link rel="stylesheet" type="text/css" href="/css/style.css">
<br />

<h1>Judgement Day has arrived!!!</h>

<h2><%= @game.player_1.name %> chose <%= @game.player_1.weapon%>!
<br />

Jigsaw chose <%= @game.player_2.weapon %>!</h2>

<br />
<br />

<h1><%= @game.result %></h1>
