<div>
  <p> Player 1 picked <%= @player_selection %> <p>
  <p> Player 2 picked <%= @opponents_selection %> <p>

  <p> <%= @result %> </p>

  <form action="/SignIn">
    <input type="submit" value="Replay">
  </form>
</div>