<h1>Rock, Paper, Scissors</h1>
<h2>Game Result</h2>


<p>"Glenn", you played "rock".</p>
<p>The computer played "paper".</p>
<p><%=  %>The computer is the winner because rock covers paper.</p>

<form action = '/play' method = "get">
  <input type = "submit" value = "OK"/> 
</form>
<!--<a href = '/play'>OK</a>-->





