<!doctype html>
<html>

  <head>
    <title>Rock Paper Scissors Game</title>
    <style>
      body {
        font-family:helvetica;
      }
    </style>
  </head>

  <body style="background-color:#00bfff;">
    <div style="width:800px; margin: 0 auto; text-align: center;">
      <h1 style="font-size: 50px;"><%= @player1_name %>, you chose <%= @player1_choice %>!</h1><br><br><br><br><br><br><br><br><br>
      <h1 style="font-size: 100px;"><%= @result %></h1>
    </div>
  </body>

</html>