<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  You chose <%= game.player_1_weapon %>. The computer chose <%= game.player_2_weapon %>
  <% if game.result == :draw %>
    It's a draw!
  <% elsif game.result == :win %>
    Congratulations, you win!
  <% else %>
    Bad luck, you lose!
  <% end %>
  <form action="/" method="get">
    <input type="submit" value="Play again?">
  </form>
</body>
</html>
