<center> <h1> Scores on the doors: &#x1F6AA;</h1> </center>
<center> <h1> <%= @rps.message %> </h1> </center>
<center> <img src="https://theplaylist.net/wp-content/uploads/2016/08/Russell-Crowe-and-Sven-Ole-Thorsen-in-Gladiator-2000-1200x520.jpg" alt="Russell Crowe"> </center>
<center> <h2> <%= @rps.choice %> vs <%= @rps.rival.capitalize %> </h2> </center>
<form action="/" method="get">
  <div class="button">
    <center> <button type="submit">Back to Battle</button> </center>
  </div>
