<div>
  <p>You selected</p>
  <p><%= @game.player.weapon %></p>
  <p>Computer selected</p>
  <p><%= @random_option %></p>
  <p>The winner is</p>
  <p class="winner"><%= @winner %></p>
    <a href="/play-again" class="button">PLAY AGAIN</a>
    <a href="/" class="button">SWITCH PLAYER</a>
</div>
