<br>
<br>
<% if @gamemode == :singleplayer %>
<p style="font-size:60px"> Skynet chose <%= @game.player2.player_choice %></p>
<br>
<br>
<%end%>

<% if @result == 'player1' %>
  <p> <%= @game.player1.name.capitalize %> wins! :D </p>
<% elsif @result == 'player2' %>
    <% if @gamemode == :singleplayer %>
    <p> Skynet wins! :(  </p>
    <% else %>
  <p> <%= @game.player2.name.capitalize %> wins! :D </p>
  <% end %>
<% elsif @result == 'draw' %>
  <p> It's a tie! Try again! </p>
<% end %>

<br>
<br>

<form action='/play'  method='get'>
  <input type='submit' value='Play again' class='button'>
</form>
<form action='/'  method='get'>
  <input type='submit' value='Start new game' class='button'>
</form>
