<div>
  You selected <%= @game.player1.choice_human %>
</div>
<div>
  The computer selected <%= @game.player2.choice_human %>
</div>
<div id="result">
  <%= @result %>
</div>
<a href="/play">Play again?</a>

