<h1>You chose <%= @player_choice %>.'</h1>
<h1>The computer chose <%= @computer_choice %>.'</h1>
<h1><%= @result_message %></h1>
<form action='/play'>
  <input type='submit' value='AGAIN AGAIN'>
</form>