<h1>You selected <%= @game.player_selection %> </h1>
<!--<%= @cpuselection = ["Rock","Paper","Scissors"].sample%>-->
<h1>Your opponent selected <%= @game.cpu_selection %>
<h1>The result: <%= @game.game_result%></h1>


<a href="/info">Play Again?</a>

