<html>
<!-- <link href="/CSS/styles.css" rel="stylesheet" type="text/css" /> -->
<head>
  <title>ROCK PAPER SCISSORS RESULTS</title>
</head>

<body>
<center>
<BR>
<img src='http://www.bettergov.org/assets/1/Page/results_logo.jpg'>
<BR>
Results here
<BR>
<!-- none of these static files are working and no idea why.
Need to ask teachers as I did like in tutorial
<img src='http://localhost:4567/public/images/homepagelogo.jpg'>
<img src="/Users/guillaumebouffard/Projects/rps-challenge/public/images/homepagelogo.jpg"> -->
<BR><BR>
<a href ='/choose_hands'>Play a new game</a>
</center></body>

</html>