<%= "#{$game.player_1.name} moved: #{$game.player_1.move}"%>
<br>
<%= "#{$game.player_2.name} moved: #{$game.player_2.move}"%>
<br>
<% if $game.result == 'draw' %> It's a draw!! <% end %>

<% if $game.result != 'draw' %>
<%= "#{$game.result.name} won this round!"%>
<% end %>

<form action='/play' method="get">
  <button>Next round</button>
</form>
