<!DOCTYPE html>

<html>
  <head>
    <title>Rock Paper Scissors | Result</title>
  </head>

  <body>
    <h1><%= @result %></h1>
    <button type="button">Play again</button>
    <button type="button">New game</button>
  </body>
</html>
