<body>
  <p> Your weapon of choice: <%= @weapon %></p>
  <p> The AI's weapon of choice: <%= @ai_weapon %></p>
  <h3><%= end_game_message %></h3>
</body>

<style>
  body {
    margin: 400 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
  }

</style>
