<link rel="stylesheet" type="text/css" href="/style.css">
<h1>Rock,  Paper,  Scissors,  Lizard,  Spock!<h1>
<div class="space"></div>
<p><%= @game.result(@p1, @p2) %></p>
<div class="space"></div>
<a class="button" href="/play">Play again</a>
