<h2><%=@game.player.name%> chose <%=@game.player_choice%>!</h2>
<h2>Computer chose <%=@game.computer_choice%>!</h2>
  <% if @game.player.status == :win %>
  <h1><%=@game.player.name%> wins!</h1>
  <%elsif @game.player.status == :draw%>
  <h1>It's a draw!</h1>
  <%else%>
  <h1>Computer wins!</h1>
  <%end%>

  <form action="/play">
    <input type="submit" value="Play Again">
  </form>
