<h2><%=@game.player.name%> chose <%=@game.player_choice%>! Computer chose <%=@game.computer_choice%>!
  <% if @game.player.win %>
  <h1><%=@game.player.name%> wins!</h1>
  <%elsif @game.player.draw%>
  <h1>It's a draw!</h1>
  <%else%>
  <h1>Computer wins!</h1>
  <%end%>
