<h1 style="color: red; font-family: verdana">You chose <%= @choice %> and <%= @result %>!</h1>

<div>
  <form action="/play">
    <input type="submit" value="Play again?">
</div>

<div>
  <img id="photo" src="">
</div>

