<!DOCTYPE html>

<html>
  <head>
    <title>RPS: A game of skill</title>
  </head>
  <body>
  <style>
    body {
    background-color: #66ff99
}
  </style>
    <h1> <%= @name %> chose <%= @weapon %></h1>
    <h1> Computer chose <%= @computer_weapon %></h1>
    <h1> <%= @result %>
  </body>
</html>
