<!DOCTYPE html>
<html>
<body style="background-color:#e6ffe6;">

<h1>Rock, Paper, Scissors</h1>
<h2>A true game of skill...</h2>

<%= @game.player_one.name %>, you played <b><%=@game.player_one.weapon.to_s.upcase%></b><br>
Your opponent played  <b><%= @game.player_two.weapon.to_s.upcase%></b><br><br>
<% if @result == :win %>
  You win!
<% end %>

<% if @result == :lose %>
  You lose!
<% end %>

<% if @result == :draw %>
  You draw!
<% end %>

<br><br>
<form action="/play" method="get">
<input type="submit" value="Play Again?"> 
</form>