<h1><%= @message %></h1>

<h3>You chose <%= @action.downcase %> </h3>
<h3>Computer player chose <%= @result.comp_move %></h3>

<form class="" action="/play_again" method="post">
  <input type="submit" name="game_choice" value="Play Again">
  <input type="submit" name="game_choice" value="New Player">
</form>
