<head>
  <link rel="stylesheet" type="text/css" href="<%=url("/stylesheet.css")%>" />
</head>

<h2>
Your move: <%=@player_move%>
<br>
Computer's move: <%=@computer_choice%>
<br>
<br>
<%=@game.winner%>
</h2>
