<body style="background-color:#FFDCB7; border: 3px solid black">
  <h1> <%= @game.player_1.name %> chose <%= @result_1 %> </h1>
  <h2> The computer chose <%= @game.computer %> </h2>
  <h3> <%= @outcome %> </h3>
  <form action="/play" method="post">
    <div style="width:100%;height:100%;position:absolute;vertical-align:middle;text-align:center;">
      <input type="submit" value="OK">
    </div>
  </form>
</body>
