
<html> 
<h1>Rock, Paper, Scissors</h1>
<link rel="stylesheet" type="text/css" href="/style.css"/>
<div>
<body>Computer played <%= @computer_move %></div>
<br>
<div>
<%= $game.player_name(1) %> played <%= @move %>
</div>
<br>
<div>
<%= $game.check_winner(@move, @computer_move)%>
</div>
</body>
