
<center>
  <h1 style = "color:blue;text-align:center;">RESULT</h1>
  computer choses <%= @game.number_to_name(@game.computer_bet) %><br>
  <%= @game.action(@result) %> <br>
  <p style = "color:red;text-align:center;" ><%= @game.winner(@result) %></p> <br>
  <a style = "color:blue;text-align:center;" href="/play">One more?<a>

<div class="horizontal div1">
    <div class="vertical"> <br><br>
        <img src="https://raw.githubusercontent.com/makersacademy/course/master/images/rpsls.jpg?token=AS3HUZEazk_fWEuh2G-j30Px_ca7VoFdks5XnbXQwA%3D%3D"/>
    </div>
</div>
</center>
