<h2><%= @game.player1.name + ': ' + @game.player1.move %></h2>
<br>
<h2>Vs</h2>
<br>
<h2><%= @game.player2.name + ': ' + @game.player2.move %></h2>
<br>
<% if @game.winner == 'draw' %>
<h2>No winners, you draw!</h2>
<form action='/play'>
  <input type='submit' value='Play again'>
</form>
<% else %>
<h2><%= @game.winner.name %> wins!</h2>
<form action='/add-win' method='POST'>
  <input type='submit' value='Play again'>
</form>
<% end %>
