<div><h1>ROCK, PAPER, SCISSORS</h1></div>

<div><h2>You chose <%= @game.player_choice %></h2></div>
<div><h2>The game chose <%= @game.game_choice %></h2></div>

<div><h1>You <%= @result %>!</h1></div>
