<%= @result %>
<div>
<% if @congrats == session[:id] %>
Congratulations <%= session[:name] %>
<% elsif @result == 'Draw!' %>
<% else %>
You Lose!
<% end %>
</div>

<div>
Would you like to play again, <%= session[:name] %>?
</div>
<form action="/new_game" method="POST">
<input type="submit" value ="Yes">
</form>