<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>RPSLS</title>
</head>
<body>
  <% if @win == 'draw' %>
    <h1>It was a Draw!</h1>
  <% elsif @win %>
    <h1>Congratulation! You won!</h1>
  <% else %>
    <h1>You lost! Oh no!</h1>
  <% end %>
  <p>You picked <%= @player_choice %>, the computer picked <%= @computer_choice %></p>
  <br>
  <h2>Play again?</h2>
  <form action="/play_again" method="get">
    <input type="submit" value="Play!">
  </form>
</body>
</html>