<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styling.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <br>
    <br>
    <h2><%= @player_choice %> Vs. <%= @game.choice %></h1>
    <br>
    <h2>You <%= @result %>!</h1>
  </body>
</html>