<div style="text-align: center;font-size: 20px; padding: 20% 0;">
  <h1>Results</h1>
  <p >Your choice: <%= @player_choice%></p>
  <p >Computer choice: <%= @ai_choice%></p>
  <h3>Result: <%=@results_declaration%></h3>
  <a href="/play" style="display: ;text-decoration: none;border: black 1px solid;padding: 0.5rem 1.5rem;color: black;background: #ffd635;">Play Again</a>
</div>
