<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #FCCCAF;
    }
    p {
      font-size: 30px;
      text-align: center ;
    }

    div {
      text-align : center;
    }
 </style>
</head>
<body >
  <div>
    <h1><%= @message %></h1>
    <form method="get" action="/">
      <input type="submit" value="Play again" />
    </form>
  </div>
</body>
</html>
