<h2> <%= @gameplayers.result %>
<h2> <%= @gameplayers.display %>.
<!DOCTYPE html>
<html>
<body>

<button onclick="myFunction()">Check again</button>

<script>
function myFunction() {
    location.reload();
}
</script>

</body>
</html> 