<h4> <%= @game.player.player_name %> chose <%= @player_option.capitalize %> <h4>
<h4> Computer chose <%= @computer_option.capitalize %> <h4>

<h2> <%= @game.winner %> </h2>

<a href="/play">Play again?</a>
<a href="/">New Player?</a>
