<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
  
    <p> <%= @game.player_1.name %> picked: <%= @game.player_1_choice %> </p>

    <p> Computer picked: <%= @game.computer_choice %> </p>

    <p> The result is: <%= @game.result %> </p>

    <a href="/" > Start again! </a>

  </body>

</html>