<html style="text-align:center; font-family:tahoma"></html>
<h1>Welcome <%= Game.instance.player_1.name %>!</h1>
<h2>Lets play Rock, Paper, Scissors...</h2>
<h3>Pick your weapon:</h3>

<form action='/fight' method="post">
	<button type="submit" value='Rock' name="choice">Rock</button>
	<button type="submit" value='Paper' name="choice">Paper</button>
	<button type="submit" value='Scissors' name="choice" >Scissors</button>
</form>
