<center><p><%= @game.player.name %> chooses rock </p>
<p>computer chooses <%= @game.computer.computer_choice%> </p>

  <p><%= @game.winner%> </p>
</center>
<form action="/play-again" method="post">
<button> play again? </button>
</form>