<center><h1><%=@player.name%> chose Rock</h1>

<br>
<form action="/rock" method="get">
<input type= "submit" value = "Rock">
<br>
<br>
<form action="/paper" method="get">
<input type= "submit" value = "Paper">
<br>
<br>
<form action="/scissors" method="get">
<input type= "submit" value = "Scissors"></center>