<%if%>
<%= @player_1_name %> use rock
<p>Computer has chossen Scissors</p>
<p>You win!</p>
<% else %>
<<p>Computer has chossen Paper</p>
<p>You Loose!</p>
<%end%>
<a href="/play">Go back</a>
<a href="/">New Player</a>
