<h1> Rock Paper Scissors </h1>
<h2>Hi <%= @user.name %>, the results are in....</h2>
<br>
<div>You chose <%= @rps.player_choice %>, the computer chose <%= @rps.computer_choice %>. You <%= @rps.result %>!</div>
<div>
  <br>
  <a href='/games'> Back to Games </a>
</div>
