<h1> Rock Paper Scissors </h1>
<h2>Hi <%= @user.name %>, choose rock, paper or scissors... </h2>
<br>
<!-- <form action='/rock_paper_scissors'>
  <input type="submit" name="rock_paper_scissors" value="Rock Paper Scissors">
</form> -->
