<center>
<h2> You selected ROCK </h2>
<h2> Robotion selected <%= @robo_move %> </h2>

<h1> YOU *win/lose* </h1>

<img src="https://www.thegreatapps.com/application/upload/Apps/2015/12/rock-paper-scissors-34.png" alt="rock" style="width:200px;height:200px;" >

</center>
