<link rel="stylesheet" href="style.css">

<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cutive+Mono|Dawning+of+a+New+Day|Gaegu|Nanum+Brush+Script|Quicksand|Sacramento&display=swap" rel="stylesheet">

<h1 class="name-title">Rock loses!</h1> 
