<html>
  <body style="background-color:rgb(66, 190, 194)">
    <h1><%=Game.new.play("rock")%></h1><br>
    <form action="/game" method="get">
      <input type="submit" value="Play Again">
    </form>
  </body>
</html>