<center><h1><%=@game.player_name%> chose Rock </h1>

Vs.

<h1><%= @game_selection%></h1>

<br>
<br>

<h1><%=@result%></h1>

<br>
<br>
<form action="/rock" method="get">
<input type= "submit" name= rock value = "Rock">
</form>
<br>
<br>
<form action="/paper" method="get">
<input type= "submit" name= paper value = "Paper">
</form>
<br>
<br>
<form action="/scissors" method="get">
<input type= "submit" name= scissors value = "Scissors">
</form></center>