This is an app written by Rahul that lets you play rock-paper-scissors against a computer.

<form action="/play" method="get">
  <label for="player_name">
    Please enter your name:
    <input type="text" name="player_name"/>
  </label>
  <input type="submit" value="Submit"/>
</form>