<head>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<h1>Rock Paper Scissors</h1>
<div class="player-container left">
  <div class="rps-container cc-selector">
  </div>
  <h2><%=@game.player.name%></h2>
</div>
<div class="player-container right">
  <div class="rps-container">
  </div>  
  <h2><%=@game.computer.name%></h2>
</div>
<div>
  <input type="submit" form="rps-form" value="Go!" class="left"/>
</div>
<h2>You win!</h2>