<%= @game.player.name %> chose <%= @game.player_move %>
<br>
Computer chose <%= @game.computer_move %>
<br>
You <%= @game.result %> this round
<br>



<form action="/result" method="post">
  <input type="submit" value="OK">
</form>

