<html>

<head>
  <title>
    Round XXX
  </title>
</head>
<body>
  <h1><%= @player_1.full_name %> vs <%= @player_2.full_name %></h1>

  <form action="/round_winner" method="post">
    <p>Make your choice</p>

    <div>
      <input type="radio" name="move" value="rock" checked="checked"> rock
      <input type="radio" name="move" value="paper"> paper
      <input type="radio" name="move" value="scissors"> scissors
    </div>

    <input type="submit" value="Submit">
  </form>

</body>
</html>
