<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script type="text/javascript" src="js/mousetrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body>

<div id="rounds_question_box">
  <h3>Hi there, <%= @player_name %>!</h3>
  <br>
  <h3>How many rounds would you like to play?</h3>
</div>

<div id="rounds_option_box">
  <form method="post" action="/play">
  <ul id="rounds_option_list">
    <li><button class="rounds_option" type="submit" name="no_of_rounds" value="1">1</button></li>
    <li><button class="rounds_option" type="submit" name="no_of_rounds" value="3">3</button></li>
    <li><button class="rounds_option" type="submit" name="no_of_rounds" value="5">5</button></li>
    <li><button class="rounds_option" type="submit" name="no_of_rounds" value="7">7</button></li>
  </ul>
  </form>
</div>

<div class="popup" id="rules_popup">
  <div class="popup_contents" id="rules_contents">
    <p id="rules_header">The Rules...</p>
    <table>
      <tr>
        <th><img class="rules_image" src="images/left/ruby.png"></th>
        <th>ruby beats scissors</th>
        <th><img class="rules_image" src="images/right/scissors.png"></th>
      </tr>
      <tr>
        <th><img class="rules_image" src="images/left/scissors.png"></th>
        <th>scissors beat paper</th>
        <th><img class="rules_image" src="images/right/paper.png"></th>
      </tr>
      <tr>
        <th><img class="rules_image" src="images/left/paper.png"></th>
        <th>paper beats ruby</th>
        <th><img class="rules_image" src="images/right/ruby.png"></th>
      </tr>
    </table>
  </div>
</div>

<div class="popup" id="themes_popup">
  <p class="popup_contents" id="themes_contents">The Themes</p>
</div>

<div class="popup" id="easter_egg_popup">
  <img id="quack" src="images/quack.jpg">
</div>

</body>

</html>