<head>
  <style>
    body {
      font-family: 'Oswald', sans-serif;
      text-align: center;
      padding-top: 200px;
    }
    inner_border {
      border: 1px solid black;
    }
    medium_hr {
      padding: 50px;
    }
    center {
      align-items: center;
      text-align: center;
    }
    choice {
      border-color: black;
      border-width: 3px;
    }
  </style>
<head>
<body>
  <div class="inner_border">
    <h3><%= @user_name %> please choose one of the options below</h3>
    <div>
      <a class="choice" href="/result">Rock</a>
      <a class="choice" href="/result">Paper</a>
      <a class="choice" href="/result">Scissors</a>
    </div>
  </div>
<body>
