<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Round</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  
  <body>
    <div class="main">
      <h4>Now, <%= $game.bot.name %>, choose one: <i>Rock - Paper - Scissor</i></h4>

      <form action="/PvP_option2" method="POST">
        <button type="submit" name="option" value="Rock">
          <i class="far fa-hand-rock fa-5x"></i>
        </button>
        
        <button type="submit" name="option" value="Paper">
          <i class="far fa-hand-paper fa-5x"></i>
        </button>

        <button type="submit" name="option" value="Scissors">
          <i class="far fa-hand-scissors fa-5x"></i>
        </button>
      </form>
    </div>
  </body>
</html>
