<h2>Welcome, <%= $game.player %>!</h3>

<h4>Please, choose one:</h4>

<form action="/option" method="POST">
  <input type="submit" name="option" value="Rock">
  <input type="submit" name="option" value="Paper">
  <input type="submit" name="option" value="Scissors">
</form>
