<h3>Welcome, <%= @player %>!</h3>

<form action="/option" method="POST">
  <input type="submit" name="option" value="Rock">
  <input type="submit" name="option" value="Paper">
  <input type="submit" name="option" value="Scissors">
</form>