<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
        Hello <%= session[:name] %>
      </center>
    </body>
  </html>
