<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
          Hello <span id='player_name'><%= session[:name] %></span>
          <br>
          <img src="/images/goat.jpg" width=250>
          <br>
          <div class='small_print'>
            Photographer: Armin Kübelbeck,
            <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>
          </div>
      </center>
    </body>
  </html>
