<title>Rock! Paper! Scissors!</title> 

<h1>Rock! Paper! Scissors!</h1> 
<h2>The player today is: <%= @game.player.name %></h2>
<br>
<h2> Choose rock, paper or scissors by clicking an image </h2>

<a href="/rock">
<img alt="rock" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ef6864ee-4180-4473-9b56-1bcc37862eb9/d66p9kg-7e156fb4-4189-4f86-85d9-3e4adcbf3b68.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZWY2ODY0ZWUtNDE4MC00NDczLTliNTYtMWJjYzM3ODYyZWI5XC9kNjZwOWtnLTdlMTU2ZmI0LTQxODktNGY4Ni04NWQ5LTNlNGFkY2JmM2I2OC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.TCm6u3SO5N5Gg8D2SxuHcHLowmUolZYFbEI-SM1HtXs" </a>