<html>
<h2>Choose 1 option, <%= @game.user.name %></h2>
<form action="/weapon" method="POST">
  <input type="submit" name="choice" value="Rock"/>
  <input type="submit" name="choice" value="Paper"/>
  <input type="submit" name="choice" value="Scissors"/>
</form>
</html>
