Hello <%= session[:name] %>!

<p>
Let's get started.
</p>

Choose either rock, paper, or scissors:

<form method="POST">
<select name="choice">
  <option value="rock">rock</option>
  <option value="paper">paper</option>
  <option value="scissors">scissors</option>
</select> <br>
<input type="submit" value="submit">
</form>

The result is:
<%= @result %>
