<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='/style.css' />
</head>
<body>
<div>
  <h1>Rock Paper Scissors Showdown</h1>
  <div><%= @game.player.name %>, the time has come to choose your weapon:</div>
</div>
</body>
