<!DOCTYPE html>
<html>
<body style="background-color:#F48D37;">


  <center>
  <h1><%= @player %></h1>
  <h1>Vs</h1>
  <h1>Robot</h1>

  <a href="/rock">
    <img src="https://www.thegreatapps.com/application/upload/Apps/2015/12/rock-paper-scissors-34.png" alt="rock" style="width:200px;height:200px;">
  </a>

  <a href="/paper">
    <img src="https://www.thegreatapps.com/application/upload/Apps/2015/12/rock-paper-scissors-14.png" style="width:200px;height:200px;">
  </a>

  <a href="/scissors">
    <img src="https://www.thegreatapps.com/application/upload/Apps/2015/12/rock-paper-scissors-81.png" style="width:200px;height:200px;">
  </a>

  </center>


</body>
</html>
