<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
        <span class='name'><%= session[:name] %></span><br>
        <form action='/declare_winner' method='post'>
          <input type="submit" value="Rock">
          <input type="submit" value="Paper">
          <input type="submit" value="Scissors">
        </form><br>
        <img src="/images/goat.jpg" width=250><br>
        <div class='small_print'>
          Photographer: Armin Kübelbeck,
          <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>
        </div>
      </center>
    </body>
  </html>
