Hi <%= @name %>! Enter your move:

<form action='/rock' method='post'>
  <button type=submit>Rock!</button>
</from>
<form action='/paper' method='post'>
  <button type=submit>Paper!</button>
</from>
<form action='/sissors' method='post'>
  <button type=submit>Sissors!</button>
</from>
