<doctype! html>
  <html>
    <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" href="app.css">
    </head>

    <body>
      <center>
          Hello <span id='player_name'><%= session[:name] %></span>
      </center>
    </body>
  </html>
