<h1><%= @rps.result(@choice) %></h1>

<form action ='/play' method='get'>
<input type = 'submit' value ='Rematch'>
</form>

<style>

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

input {
  width: 200px;
  height: 60px;
}
