<p>Are you feeling lucky <%= @game.player_name %>?</p>
<form action="/move_choice" method="post">
  <select id="move" name="move">
    <option value="rock">Rock </option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Do it!">
</form>