Hi <%= @name %>! Enter your move:
<br>
<form action='/rock' method='get'>
  <button type=submit name='rock' >Rock!</button>
</from>
<br>
<form action='/paper' method='get'>
  <button type=submit name='paper' >Paper!</button>
</from>
<br>
<form action='/sissors' method='get'>
  <button type=submit name='sissors' >Sissors!</button>
</from>
