<body style="background: url(https://world.wng.org/sites/default/files/migrated_images/istock_000023224121_medium_1.jpg); background-repeat: no-repeat; background-position: center; background-size: 950px">
<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</center>
<Center>

  <p style="font-size:30px">Time to decide <b> <%= "#{$name.capitalize}" %> </b>: Rock, Paper or Scissors? (Choose Wisely)</p>
<form style="font-size:30px; font-family:arial" action='/result' method='post'>
  <input type='radio' name='rps' value='Rock' > Rock
  <input type='radio' name='rps' value='Paper' > Paper
  <input type='radio' name='rps' value='Scissors' > Scissors
  <input style="font-size:15px" type='submit' value='RPS Submit'>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </center>
  </body>
