<h2>Choose 1 option, <%= @username %></h2>
<form action="/rps" method="GET">
<input type="submit" name="choice" value="Rock"/>
<input type="submit" name="choice" value="Paper"/>
<input type="submit" name="choice" value="Scissors"/>
</form>
<h3><%= @username %>'s choice is <%= @choice %></h3>
<form action="god" method="POST">
<input type="submit" value="God"/>
</form>
