<h1>Hello <%= @name %></h1>
<form action="/rock" method="post">
  <input type="submit" name="choice" value="Rock">
</form>
<form action="/paper" method="post">
  <input type="submit" name="choice" value="Paper">
</form>
<form action="/scissors" method="post">
  <input type="submit" name="choice" value="Scissors">
</form>
