<h1>hello <%= $name_2 %>, please choose an option</h1>


<form action="/game" method="post">
  <input class="btn" type = "submit" id="rock" name="choice" value="rock">
  <input class="btn" type = "submit" id="rock" name="choice" value="paper">
  <input class="btn" type = "submit" id="rock" name="choice" value="scissors">
</form>
