<!DOCTYPE html>
<html>
<title> Hello Battlers! </title>
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/css/styles.css">
<iframe src="https://giphy.com/embed/ZNo3OCM9CoEVz71ilQ" width="480" height="270" frameBorder="0" class="giphy-embed"></iframe>


<body>
<h1> Let the Game Commence</h1>
<h4> Player vs. Computer</h4>


<form action="/player_name" method="POST" class="center">
<br>
<label for="player_name"> 
    
    Player please enter your name
    <input type="text" name="player_name"> 
</label>
<button type="submit" value="let's begin"> let's begin </button> 
</form> 
<br>
</body>

<iframe src="https://giphy.com/embed/Xmbnu0oH3bMEo" width="480" height="270" frameBorder="0" class="giphy-embed"></iframe>

</html>
