<br>
<form action="/choice" method="post">
  <input type="radio" id="rock" value="rock" name="choice">Rock<br>
  <input type="radio" id="paper" value="paper" name="choice">Paper<br>
  <input type="radio" id="scissors" value="scissors" name="choice">Scissors<br>
  <input type="submit" value="Submit">
</form>
