<h1>Hello <%= @game.player2.name %></h1>
<form action="/choice2" method="post">
  <input type="submit" name="choice2" value="Rock">
</form>
<form action="/choice2" method="post">
  <input type="submit" name="choice2" value="Paper">
</form>
<form action="/choice2" method="post">
  <input type="submit" name="choice2" value="Scissors">
</form>
