<h2> hi <%= @player %> </h2>

<form action="/rps_choice" method="post">
  <label for="selection">
    Select your weapon: 
  </label>

  <input type="radio" id="rock" name="selection" value="rock">
  <label for="male">Rock</label><br>

  <input type="radio" id="paper" name="selection" value="paper">
  <label for="female">Paper</label><br>

  <input type="radio" id="scisscors" name="selection" value="scisscors">
  <label for="other">Scisscors</label>

  <input type="submit" value="Fight">
</form>