<head>
  <title>RPS Multiplayer!</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<h1>Rock! Paper! Scissors!</h1>
<h2>The player right now is: <%= @game.active_player.name %></h2>
<br>
<h2> Choose rock, paper or scissors by clicking an image </h2>

<a href="/rock">
<img alt="rock" src="https://thumbs.gfycat.com/PastelForkedIguanodon-small.gif" </a>

<a href="/paper" <% @game.active_player.shake("paper") %> >
<img alt="paper" src="https://64.media.tumblr.com/331c99aa666ff157c4b4195e68e91c65/tumblr_oqd9wrhwyj1wq5uwno1_400.gifv" </a>

<a href="/scissors" <% @game.active_player.shake("scissors") %> >
<img alt="scissors" src="https://upload.wikimedia.org/wikipedia/commons/3/35/Scissors_Animation.gif" </a>