<html>
  <head>
    <title>RPS - Rules</title>
  </head>
  <body>
    <h1>Basic Rules</h1>
    <ul>
      <li>Rock beats Scissors</li>
      <li>Scissors beats Paper</li>
      <li>Paper beats Rock</li>
    </ul>
    <form action='/game-screen' method='get'>
      <input type='submit' value='Continue to Game'>
    </form>
  </body>
</html>
