<!DOCTYPE HTML>
<html>
  <head>
    <title>Rules</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="centered margintop">
      <img src="/rock-paper-lizard-spock.jpg" />
    </div>
    <form action="/play" class="centered">
      <button class="blue" type="submit" style="width: 24vw;">Okay, I'm ready!</button>
    </form>
  </body>
</html>
