<h2><%= @name %>, these are the rules of rock paper scissors!</h2>
</br>
<ol>
    <li>Scissors cut paper<li>
    <li>Paper wraps rock</li>
    <li>Rock blunts scissors</li>
</ol>

<form action='/play' method='get'>
  <input type='Submit' value='OK'>
</form>
