<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styling.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Rock Paper Scissors Lizard Spock</title>
  </head>
  <body>
    <h2>The Rules</h2>
    <h3>Scissors cuts Paper</h3> 
    <h3>Paper covers Rock</h3>
    <h3>Rock crushes Lizard</h3>
    <h3>Lizard poisons Spock</h3>
    <h3>Spock smashes Scissors</h3>
    <h3>Scissors decapitates Lizard</h3>
    <h3>Lizard eats Paper</h3>
    <h3>Paper disproves Spock</h3>
    <h3>Spock vaporizes Rock</h3>
    <h3>(and as it always has) Rock crushes Scissors</h3>
  </body>
</html>