<h2> OK, <%= $game.player_name %> it is! </h2><br>
<h2> The rules are as follows: </h2><br>

<h2> Rock beats Scissors </h2>
<h2> Scissors beats Paper </h2>
<h2> Paper beats Rock </h2><br>

<h3> As simple as that! Are you ready to enter the arena? </h3>

<form action="/arena">
<input type="submit" value="I'm ready!">
</form>