<!DOCTYPE html>
<html>
<head>
  <link href="/css/outcome.css" rel="stylesheet" type="text/css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h3>Game Menu</h3>
  <form action="/">
    <input type='submit' value='back'>
  </form>
  <img id="original" src="/images/rps.png">
  <img id="advanced" src="/images/rps-advanced.png">
</body>
</html
