<!DOCTYPE html>
<html>

<head>
    <!-- <link rel=”stylesheet” type=”text/css” href=”/styles.css” /> -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Rock Paper Scissors - Rules</title>
</head>

<body>

  <div class="grid-container-rules">
  <div class="rulesheading"><h1>The Rules</h1></div>
  <div class="classic_rules"><h2>Classic rules</h2>
    <p><span class="rules-win">Rock</span> crushes <span class="rules-lose">scissors</span>.</p>
    <p><span class="rules-win">Paper</span> covers <span class="rules-lose">rock</span>.</p>
    <p><span class="rules-win">Scissors</span> cuts <span class="rules-lose">paper</span>.</p>

  </div>
  <div class="rules_image"><center><img src="/images/RPSLS_RULES.png" alt="Rules" >
  <p><button type="button" class="back_btn" value="Back" onclick="window.history.back();"></button></p>
</div>
  <div class="spock_rules"><h2>Advanced rules</h2>
    <p><span class="rules-win">Scissors</span> cuts <span class="rules-lose">paper</span>.</p>
    <p><span class="rules-win">Paper</span> covers <span class="rules-lose">rock</span>.</p>
    <p><span class="rules-win">Rock</span> crushes <span class="rules-lose">lizard</span>.</p>
    <p><span class="rules-win">Lizard</span> poisons <span class="rules-lose">Spock</span>.</p>
    <p><span class="rules-win">Spock</span> smashes <span class="rules-lose">scissors</span>.</p>
    <p><span class="rules-win">Scissors</span> decapitates <span class="rules-lose">lizard</span>.</p>
    <p><span class="rules-win">Lizard</span> eats <span class="rules-lose">paper</span>.</p>
    <p><span class="rules-win">Paper</span> disproves <span class="rules-lose">Spock</span>.</p>
    <p><span class="rules-win">Spock</span> vaporizes <span class="rules-lose">rock</span>.</p>
    <p><span class="rules-win">Rock</span> crushes <span class="rules-lose">scissors</span>.</p></div>
  <!-- <div class="rules_back"><p><button type="button" class="back_btn" value="Back" onclick="window.history.back();"></button></p></div> -->

</div>

</body><html>
