<h1><%=  @player_1 %>, welcome! </h1>

<div><h3>How to play?</h3>
<p>You have three options; Rock, Paper and Scissors.
If you're not familiar with the game here are the rules:</p>
<ul>
  <li>Rock crushes scissors</li>
  <li>Paper wraps rock</li>
  <li>Scissors cuts paper</li>
</ul>

<p>Need more info? Visit this <a href =https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors>link</a>. Otherwise let's play!</p>
</div>

<form action='/play' method='get'>
  <input type='submit' value='Ready!'>
</form>
