<h1> Welcome <%= @name %> </h1>


<form action="/player_choice" method="post">
  <input name="choices" type="submit" value="Rock">
</form>

<form action="/player_choice" method="post">
  <input name= "choices" type="submit" value="Paper">
</form>

<form action="/player_choice" method="post">
  <input name="choices" type="submit" value="Scissors">
</form>
