<head>
<link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Bangers|Poiret+One" rel="stylesheet">
</head>

<div class="container">
  <h1 id="Subtitle">Your game has been saved.</h1>
  <br>
  <div>
    <form action="/play" method="get">
      <input class="restart-button" type="submit" value="Rematch">
    </form>
    <form action="/" method="get">
      <input class="restart-button" type="submit" value="New Game">
    </form>
  </div>
</div>
