<div style="text-align: center; padding: 20px">

<h1>Rock, Paper, Scissors, Lizard, Spock</h1>

<h2>Game Saved</h2>

<form action="/play" method="get">
  <input type="submit" value="Play Again?">
</form>
