<body style='text-align: center; background-image: linear-gradient(to bottom right, purple, silver);'>
    <%= @player_1.player %>: Scissors vs <%=@game.computers_pick %> :CPU
    <% if @game.select_winner == 'Wins!' %>
    <h1> Sicssors beats Paper: <%=@player_1.player%> Wins!</h1>
    <% elsif @game.select_winner == 'Lose!' %>
    <h1> Rock beats Scissors: CPU Wins!</h1>
    <% else %>
    <h1> Draw </h1>
    <%end%>
    <a href='/play'>play again</a>
</body>