<%= erb :header %>
<h1><%= @game.player_2.name %>'s turn</h1>
<h3>Choose one option</h3>

<a href="/sr"><img src="/images/rock.png" alt="rock_img" name='rock'></a>

<a href="/sp"><img src="/images/paper.png" alt="paper_img" name='paper'></a>

<a href="/ss"><img src="/images/scissors.png" alt="scissors_img" name='scissors'></a>
