<style>
body {
    background-image: url("http://canitbesaturdaynow.com/images/fpics/3628/da77b885826e5a458baa7ba182b38913.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
</style>
<center><h1><%=@game.winner%></h1></center>
<center><h3>You played: <%=@game.decision%></h3></center>
<center><h3>Computer played: <%=@game.cpu%></h3></center>

<center><form action="/battle" method="get">
  <input type="submit" value="Play Again!">
</form>
<form action="/" method="get">
  <input type="submit" value="End">
</form></center>
