<div>
  <h1> <%= @player_choice.upcase %> vs <%= @game_choice.upcase %> </h1>
</div>
<% if @player_choice == "scissors" && @game_choice == "scissors" %>
  <h2>YOU TIED! </h2>
<% elsif @player_choice == "scissors" && @game_choice == "rock" %>
  <h2>YOU LOSE!</h2>
<%elsif @player_choice == "scissors" && @game_choice == "paper" %>
  <h2>YOU WIN!</h2>
  <%# <img src=''> %>
<% end%>

<button><a href="/play"> PLAY AGAIN</a></button>