<center><h1><%=@game.player_name%> chose Scissors</h1>
Vs.

<%= @game.rock_paper_scissors%>

<br>
<br>
<form action="/rock" method="get">
<input type= "submit" value = "Rock">
<br>
<br>
<form action="/paper" method="get">
<input type="submit" value = "Paper">
<br>
<br>
<form action="/scissors" method="get">
<input type= "submit" value = "Scissors"></center>