<h1><%= @player_1_name %></h1>
<h4> You chose scissors!! </h4>

<h1><%= ["Opponent chose scissors. Its a DRAW!!!", "Opponent chose rock. You lose!", "Opponent chose paper. You win!!!"].sample %></h1>
