<!DOCTYPE html>
<html>
<body style="background-color:#F48D37;">

<center>
<h2> You selected SCISSORS </h2>
<h2> Robo selected <%= @robo_move %> </h2>

<img src="https://www.thegreatapps.com/application/upload/Apps/2015/12/rock-paper-scissors-81.png" alt="scissors" style="width:200px;height:200px;" >

<h1> <%= @win_or_lose %></h1>

</center>

</body>
</html>
