
<h1>Player: <%= @user %></h1>

<h2><%= @user_choice %></h2>

<h1>Opponent: Edward Scissor Hands</h1>

<h2><%= @opponent_choice %></h2>

<% if @opponent_choice == "Scissors" %>

<h1>It's a draw!</h1>

<% end %>

<% if @opponent_choice == "Rock" %>

<h1>Edward Scissor Hands wins!</h1>

<% end %>

<% if @opponent_choice == "Paper" %>

<h1><%= @user %> wins!</h1>

<% end %>

<form action ='/play' method='post'>
  <input type='submit' value='Rematch'>
</form>