
<center><p><%= @game.player.name %> chooses scissors </p>

<p>computer chooses <%= @computer.computer_choice%> </p>

 <p><%= @game.winner%> </p>
 <form action="/play-again" method="post">
<button> play again? </button>
</form>
</center>