<h1>Rock, Paper, Scissors</h1>
<h1>You picked Scissors</h1>
<h1>Computer picked <%= @game.computer_picks %></h1>
<h1><%= @game.result %></h1>

<iframe src="//giphy.com/embed/8a0Gjt3TmUFGM" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:-999999;"></iframe>

<div class="hit_button">
  <form action='/play' method='post'>
    <input name="option" type="submit" value="Play Again">
  </form>
</div>
