<p>You played <%=@game.decision%></p>
<p>Computer played <%=@game.cpu%></p>
<p><%=@game.winner%></p>
<form action="/battle" method="get">
  <input type="submit" value="Play Again!">
</form>
<form action="/" method="get">
  <input type="submit" value="End">
</form>
