<html>
  <body style="background-color:rgb(77, 196, 71)">
    <h1><%=Game.new.play("scissors")%></h1><br>
    <form action="/game" method="get">
      <input type="submit" value="Play Again">
    </form>
  </body>
</html>