<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      background-color: #e6e6fa;
    }
    img{
      width: 200px;
    }
  </style>
  </head>
  <h3> You've selected Scissors </h3>
  <img src='https://res.cloudinary.com/itsellej/image/upload/v1533400144/rock-paper-scissors/scissors.png'>
  <h3> Computer choose <%= @computer_choice %> </h3>
  <h3> <%= @result %> </h3>
  <a href='/play'>Play again </a>
</html>
