<!DOCTYPE html>
<html>

<center>
<h2> You selected SCISSORS </h2>
<h2> Your enemy selected <%= @computer%> </h2>


<h1><%= @outcome %></h1>

<h2> Press your browser's "Back" button to play again. </h2>

</center>
</body>
</html>
