<h2>You played Scissors!</h2>
<h2>The Computer Played <%= @computer_move %>!</h2>
<% if @result == :Scissors %>
<p>Game Result: Congratulations! You have won this round!</p>
<% elsif @result == :Draw %>
<p>Game Result: This Round Is A Draw!</p>
<% else %>
<p>Game Result: The Computer has won this round! </p>
<% end %>
