<h3>Your turn was... <%= @score %></h3>

<h3>Computer's turn was... <%= @computer_score %></h3>

<h2 id="result"><%= @result %></h2>

<form action="/play">
  <button value="play-again">Play again</button>
</form>