<html>
  <head>
    <title>Results</title>
  </head>

  <link rel=stylesheet type=text/css href=/main.css/>
  <body>
<h1>You played <%=@choice%> and your opponent played <%=@option%></h1><br>
<h1><%=@message%></h1><br>
<h1>That was fun! </h1>

Do you wanna play again?
<form action="/play" method="get">
<input type="submit" name="wanna-Play" value="Yes"> 
</form>

</body>
</html>
