<center>
				<div>
								<form action='/player_two' method='post'>
												<input type='text' name="name" value='Player 2' size='30'>
												<div><select name="weapon">
																<option value="rock">Rock</option>
																<option value="paper">Paper</option>
																<option value="scissors">Scissors</option>
																<option value="spock">Spock</option>
																<option value="lizard">Lizard</option>
												</select></div>
												<button>Play!<button>
								</form>
				</div>
</center>
