<html>
<head>
<style>
body {background-color: lightcyan;}
h1   {color: royalblue;}
h2   {color: royalblue;}
h3   {color: royalblue;}
</style>
</head>
<h1>Are you ready?</h2>
<h2>Enter player 2 name to begin</h3>
<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
</html>
