
<html>
<head>
<style>
body {background-color: lightcyan;
  font-family: "Courier New", Courier, monospace;}
h1 {color: royalblue;
  font-family: "Courier New", Courier, monospace;}
h2   {color: royalblue;}
</style>
</head>
<h1>Player 2, please choose rock, paper or scissors</h1>
<form action="/result" method="post">
  <input type="submit" name = 'choice' value="Rock">
  <input type="submit" name = 'choice' value="Paper">
  <input type="submit" name = 'choice' value="Scissors">
</form>
</html>
