<head>
  <link rel="stylesheet" href = "css/styles.css">
</head>

Hello <%= @game.player2.name %><br>
Choose your weapon...
<form action='/multi_player_results' method="post">
<input type='submit' name="weapon" value='rock'>
<input type='submit' name="weapon" value='paper'>
<input type='submit' name="weapon" value='scissors'>
</form>
