<h1><%=$game.player2.name%>'s go!</h1>
<form name="input" action="/multi-output" method="post">
  <label for="Option to throw">
    <select name = "Option to throw">
    <option value ="Rock" >Rock</option>
    <option value ="Scissors" >Scissors</option>
    <option value ="Paper" >Paper</option>
    </select>
  </label>
  <input type="submit" value="Submit">
  </form>
