<html>
<head>
<title>Game</title>
</head>
<body style="background-color:orange; text-align: center;">

<form action="/compare" method="post">

<h1 style="font-size:50px;; ">Choose your weapon</h1>
<input type="submit" value="rock">
<input type="submit" value="paper">
<input type="submit" value="scissor">

</body>
</html>
