
<div class='form-group play-line'>
  <label for='rock'><i class="fa fa-hand-rock-o"></i></label>
  <input type='radio' name='choice' value='rock' id='rock'>
</div>
<div class='form-group play-line'>
  <label for='paper'><i class="fa fa-hand-paper-o"></i></label>
  <input type='radio' name='choice' value='paper' id='paper'>
</div>
<div class='form-group play-line'>
  <label for='scissors'><i class="fa fa-hand-scissors-o"></i></label>
  <input type='radio' name='choice' value='scissors' id='scissors'>
</div>
<br>
<div class='form-group play-line'>
  <label for='lizard'><i class="fa fa-hand-lizard-o"></i></label>
  <input type='radio' name='choice' value='lizard' id='lizard'>
</div>
<div class='form-group play-line'>
  <label for='spock'><i class="fa fa-hand-spock-o"></i></label>
  <input type='radio' name='choice' value='spock' id='spock'>
</div>
<br>
