<head>


</head>

<body>
  <h1>Tommy's Game of Rock, Paper, Scissors</h1>
  <form action="/play" method="post">
    <label form="select">Please select you gesture:</label></br>
    Rock<input type="radio" name="gesture" value=":rock"></br>
    Paper<input type="radio" name="gesture" value=":paper"></br>
    Scissors<input type="radio" name="gesture" value=":scissors"></br>
    Spock<input type="radio" name="gesture" value=":spock"></br>
    Lizard<input type="radio" name="gesture" value=":lizard"></br>
    <input type="submit" value="Play">

    <!-- <select name="Gestures">
      <option value=":rock">Rock</option>
      <option value=":paper">Paper</option>
      <option value=":scissors">Scissors</option>
      <option value=":spock">Spock</option>
      <option value=":lizard">Lizard</option>
    </select> -->
  </form>

</body>
