<form action="/round_outcome" method="post">
<select name="selection">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
<input type="submit" value="Confirm selection">
</form>