<p>Hi <%= @name %>! What is your throw?</p>
<form method="post" action="/submit_throw">
<table>
<tr>
<td><input type="image" src="/images/rock.jpg" name="rock" style="width:150px"></td>
<td><input type="image" src="/images/paper.jpg" name="paper" style="width:150px"></td>
<td><input type="image" src="/images/scissors.jpg" name="scissors" style="width:150px"></td>
</tr>
</table>
</form>