<%= @player_1_name %> vs. <%= @player_2_name %>
<br />
<br />
<h3>Enter 'rock', 'paper' or 'scissors'</h3>
<br />
<%= @player_2_name %>'s move
<form action="/assign_move2" method="post">
<label for="player_2_move">
  <input type="text" name="player_2_move">
</label>
</form>
