<head>


<link rel="stylesheet" type="text/css" href="/styles.css">


</head>

<p> You choose <%= @rock %> and AI choose <%=@computer_choice%></p>
<h1> You <%= @answer %> </h1>

<h4> Want to play again? </h4>

<form action="/start_page" method="post">
  <input type="submit" value="Play again!">
</form>
