<div>
<p><%= @game.selection %>  </p>
<p class="white"> vs. </p>
<p> <%= @game.computer_selection %></p>
</div>
<div>
<form action="/play">
    <input class="button" type="submit" value="Play Again">
</form>
</div>
<div class="large outline">You <%= @game.outcome %></div>
