<h1>Welcome to Rock, Paper, Scissors !</h1>
<p> First, Choose the number of players </p>
<form action="/select">
  <input type="radio" name="player_mode" id="one" value="one"/>
  <label for ="one"> <img src="/images/1.png" alt="one player" style="width:107px;height:80px;">
  <input type="radio" name="player_mode" id="two" value="two"/>
  <label for ="two"> <img src="/images/2.png" alt="two players" style="width:107px;height:80px;">
  <p> Second, Choose the game mode </p>
  <input type="radio" name="game_mode" id="classic"value="classic"/>
  <label for ="one"> <img src="/images/classic.png" alt="classic" style="width:107px;height:80px;">
  <input type="radio" name="game_mode" id="spock" value="spock"/>
  <label for ="two"> <img src="/images/spock.png" alt="two players" style="width:107px;height:80px;">
  <br>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>









<!-- <form action="/select">
  <button name="mode" value="one"><img src="/images/1.png" alt="one player" style="width:304px;height:228px;"></button>
  <button name="mode" value="two"><img src="/images/2.png" alt="two players" style="width:304px;height:228px;"></button>
</form> -->