<form action="/input-choice" method=POST>
  <select name="selection">
  <option>- Choose Your Weapon -</option>
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Let's Play!">
</form>
