<div>
  <h2>Welcome <%= @game.player_1.name %>!</h2>
  <p>Please make your choice </p>
</div>

<form>
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
