<style> body {
    background-color: red;
    background-image: url("http://pngimg.com/uploads/paper_sheet/paper_sheet_PNG7233.png");
    background-size: 100% 100%;
}
</style>

<h1>Hi <%= @game.player_1.name %>! </h1>
<h1>Please type 'rock', 'paper', or 'scissors'! </h1>

<form action="/select" >
  <input type="text" name="weapon">
  <input type="submit" value="Submit">
</form>
