<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors - Select Weapon</title>
  </head>
  <body>
    <h1><%= @game.player_name %> vs. Computer</h1>
    <form action='/play' method='post'>
      <input type="radio" id="rock" name="move" value="rock" checked />
      <label for="rock">Rock</label>
      <input type="radio" id="paper" name="move" value="paper" />
      <label for="paper">Paper</label>
      <input type="radio" id="scissors" name="move" value="scissors" />
      <label for="scissors">Scissors</label>
      <input type='submit' value="Submit" />
    </form>
  </body>
</html>