<style> body {
    background-color: purple;
    /*background-image: url("http://braillepaper.com/wp-content/uploads/2014/01/cutsheet-closeup.png");*/
    background-size: 100% 100%;
}

h1 {
    color:  yellow;
    font-family: helvetica;
    font-size: 80px;
}
input[type=text] {
    width: 20%;
    font-size: 40px;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: yellow;
    border: none;
    color: purple;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 80px;
    cursor: pointer;
    text-decoration-color: green;
    font-size: 80px;
    text-emphasis-color: purple;
    float: left;
    align: center;
}
</style>


<h1>Hi <%= @game.player_2.name.capitalize %>! </h1>
<h1>Choose your weapon! </h1>
<div align="center">
<div align="center">
  <form action="/player_2_rock_2p" >
    <input type="submit" value="Rock">
  </form>
  <form action="/player_2_paper_2p" >
    <input type="submit" value="Paper">
  </form>
  <form action="/player_2_scissors_2p" >
    <input type="submit" value="Scissors">
  </form>
</div>
</div>
