<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='center'>
      <h1><%=@name%> you have chosen <%=@choice%></h1>
     <!--<h1>computer have chosen <%=@computer_choice%></h1>-->
    </div>
  </body>
</html>