<div align="center">

  <header>
    <h1><%= @player_1 %> vs. Ava</h1>
  </header>

  <header>
    <h2><%= @player_1 %> choose your weapon!</h2>
  </header>

  <form action ="/selection" method="post">
    <button class= "selection" type="submit" value = "rock" name="gesture"><img src="rock_sym.png"></button>
    <button class= "selection" type="submit" value = "paper" name="gesture"><img src="paper_sym.png"> </button>
    <button class= "selection" type="submit" value = "scissors" name="gesture"><img src="scissors_sym.png"> </button>
  </form>

</div>
