<h1><%=session[:name]%>, choose wisely</h1>

<form action="/result_rock" method="get">
  <input type="submit" value="Rock">
</form>

<form action="/result_paper" method="get">
  <input type="submit" value="Paper">
</form>

<form action="/result_scissors" method="get">
  <input type="submit" value="Scissors">
</form>
