<%= @player.name%> chose <%= @player.selected_option %>! Let us see what the computer chooses!

<br>

<form action="/result" method="post">
  <input type="submit" name="computer_choice" value="Generate computer choice">
</form>
