<h1> <%= @turn_player %> vs. <%= @non_turn_player %> </h1>

<h2> <%= @turn_player %>'s turn </h2>

<h3> Select Rock, Paper, or Scissors below <h3>

<form action='/rps' method='post'>
  <input type='submit' value='Rock'>
  <input type='submit' value='Paper'>
  <input type='submit' value='Scissors'>
</form>
