<center>
  <head>
    <style>
      body {
        background: url("http://uthmag.com/wp-content/uploads/2015/02/Rock_Paper_Scissors_by_smashmethod.jpg") no-repeat fixed;
      }
    </style>
    <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

  <body>
    <h1>Select number of players</h1>
    <h1><a href="/game/1_player">1 player (vs. CPU)</a></h1>
    <h1><a href="/game/2_player">2 players</a></h1>
  </body>
</center>