<h1> <%= @turn_player %> vs. <%= @non_turn_player %> </h1>

<h2> <%= @turn_player %>'s turn </h2>

<h3> Select Rock, Paper, or Scissors <h3>

<form action='/rps' method='post'>
  <select style='font-size:20px' name="RPS">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
    <option value="Spock">Spock</option>
    <option value="Lizard">Lizard</option>
  </select>
  <input style='font-size:20px' type='submit' value="Submit Choice">
</form>
