<html>
  <body>
    <h1 align = "center"> Rock Paper Scissors</h1>
    <h2 align = "center">"What mode would you like to play the game in?"</h2>
    <form action = "/register" method = "GET" align = "center">
      <br>
        <input type = "radio" name = "play_mode" id = "solo" value = "solo">Solo
        <input type = "radio" name = "play_mode" id = "multi" value = "multi">Multi
      </br>
      <br>
        <button type = "submit">Submit</button>
      </br>
    </form>
  </body>
</html>
