<h1> Please choose your Hand Shape <h1>
  <img src=https://www.rewardscentral.com.au/img/community/games/rpsImg.jpg>
  <br>
  <br>
<form action='/play' method='post'>
<button class='paper_button' type='submit'>Paper</button>
<input type="hidden" name="choice" value="Paper">
</form>
<form action='/play' method='post'>
<button class='scissors_button' type='submit'>Scissors</button>
<input type="hidden" name="choice" value="Scissors">
</form>
<form action='/play' method='post'>
<button class='rock_button' type='submit'>Rock</button>
<input type="hidden" name="choice" value="Rock">
</form>
