<html>
    <form method="post" action="set_name">
      <label for="player_one">
        Player name:
        <input type="text" name="player_one">
      </label>
      <input type="submit" value="Register!">
    </form>
</html>
