<html>
  <form method="post" action="set_names">
    <label for="player_one">
      Player one:
      <input type="text" name="player_one">
    </label>
    <label for="player_two">
      Player two:
      <input type="text" name="player_two">
    </label>
    <input type="submit" value="Register!">
  </form>
</html>
