<h1> <%= @player_1.name %> vs. <%= @player_2.name %></h1>

<h2> Let's get ready to ruuuuummmmblllleeeee!!!! </h2>

<form action="/play_two_players" method="get">
<input type="submit" value="Proceed">
</form>

