<h3>Your name is:
<br><%= @player %>
<br>

<br> You are playing against Ogruk the Bad, the evil
computer who likes to eat marmite at the full of the moon.

<p>It's your turn to make the first move.  Will you choose rocks, paper, or scissors?</p>

<p>Don't cock it up.</p>

<br>

<form action="/attack" method="get">
  <label for="attack with rock">
    Attack with rock
  </label>
  <input type="submit" value="Attack with rock">
</form>
