<html>
<head>
<style>
body {
  background-image: url('https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg');
}
</style>
</head>
<body>
<center><h1 style="font-family:verdana;"><%= $game.player1.name %> VS <%= $game.player2.name %> </h1>
<br>
<form action='/player_1'>
<input type="submit" value='Lets play!'>
</form>
</center>
</body>
</html>