<html>
<head>
<style>
body {
  background-image: url('https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg');
}
</style>
</head>
<body>
<center><h1 style="font-family:verdana;"><%= $game.player.name %> VS Computer </h1>
<br>
<form action='/rps'>
<input type="submit" value='Im Ready'>
</form>
</center>
</body>
</html>