<h2> Welcome to Rock, Paper, and Scissors Game! </h2>
<form action="/play1" method= "POST">
  Enter player1's name:<input type = "text" name="player1_name" autofocus>
  Enter player2's name:<input type = "text" name="player2_name">
  <input type="submit" value="Let's go!">
</form>
