<!DOCTYPE: html>
<html>
  <p>Welcome to Rock-Paper-scissors</p>
  <p>Plese enter player names below</p>
  <p>To play against computer, please leave Incumbent field blank<p>

  <form action="/player_create" method="post">
    Player 1<input type="text" name="player1">
    Incumbent<input type="text" name="incumbent">
    <input type="submit" value="Enter Game">
  </form>

</html>
