<head>
  <style>
  body {
    background: url('srockpaper.jpg') center center;
    background-size: cover;
  }
  h1 {
    color: green;
    text-align: center;
    font-size: 50px;
    float: centre;
  }
  form {
    color: green;
    text-align: center;
    float: centre;
  }
  </style>
</head>

<body>
  <h1>Please submit your name</h1>
  <form action="/name" method='post'>
    <input type='text' name='player'>
    <input type='submit' value='Submit'>
  </form>
</body>
