<h1> What is your name?</h1>

<form action="/play" method="post">
  Name:<input type="text" name="name">
  Name:<input type="text" name="name2">
  
<h1> Choose one: Rock, Paper, Scissors</h1>

  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
