<h2> "Welcome to Rock, Paper, and Scissors Game!" </h2>
<form action="/play" method= "POST">
  Enter your name:<input type = "text" name="player_name" autofocus></br>
  <input type="submit" value="Let's go!">
</form>
