<div style="text-align: center; margin-top: 100px">
  <form action="sign_up" method="post" id="sign_up">
    <h2>Please register your name</h2><br><br>
    <input type="text" name="username" autofocus><br>
    <input type="submit" value="Sign Up">
  </form>
</div>
