
<header>
  <h1> Welcome to Rock Paper Scissors! Single Player Lizard Spock! </h1>
</header>


<form name='multiplayer' action='/switch' method='post'>
	Change to :<input style='width: 120px; height: 30px'          type='submit' value='Multiplayer' name='game_type'>
</form>

<h2> Please enter your name: </h2>

<form name='input' action='/play' method='post'>
	Name: <input type'text' name='player_name'>
	      <input type='submit' value='Start'>
</form>


