<h1> Welcome to Rock Paper Scissors! </h1>

<h2> Please enter your name: </h2>

<form name='input' action='/play' method='post'>
	Name: <input type'text' name='player_1'>
	      <input type='submit' value='Start'>
</form>