<h1> Hands of War </h1>
<h2> Sign in to play </h2>
<form action='/names' method='post' name='form'>
  <label for='Player 1 name'> Your name <input name='Player 1' type='text'></label>
  <input type='submit' value='Submit'
</form>
