<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>
  <body>
    <h2>Welcome to Rock-Paper-Scissors!</h2>
    <h4>Please enter your username and password</h4>
    <form action="/names" method="post">
      <div>
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="username" placeholder="enter username">
      </div>
      <div>
        <label for="p_word">Password:</label>
        <input type="password" id="p_word" name="password" placeholder="enter password">
      </div>
      <div class="button">
        <button type="submit">Play</button>
      </div>
  </body>
</html>
