<div id="index">
  <h1> Enter your name </h1>
  <form id="form" action="/name" method="post">
    <input type="text" name="player" placeholder="Name" required="true">
    <input type="submit" value="submit">
  </form>
</div>
