<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Single Player Mode</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Indie Flower', cursive;
      }
    </style>
  </head>
  <body>
    <h1>Single Player Mode</h1>
    <h2>Please enter your name below:</h2>
    <form action="/sp-game" method="post">
  <input id="player1" type = "text" name="player1"><br>
  <input class = "button" type="submit"value="Start">
  </form>
  </body>
</html>
