<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Teko|Fredericka+the+Great|Lobster" rel="stylesheet">

<style>

</style>
<html>
  <body>

    <form action="/name" method="post" id="form">
      <label for="player1">
        Player 1:
        <input type="text" name="player1">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
