 Welcome <%= "#{@player_name}" %>! Please select your move! 

 <form action="/rock" method="post">
    <input type="submit" value="Rock">
</form>
<form action="/scissors" method="post">
  <input type="submit" value="Scissors">
</form>
<form action="/paper" method="post">
  <input type="submit" value="Paper">
</form>
<form action="/spock" method="post">
  <input type="submit" value="Spock">
</form>
<form action="/lizard" method="post">
  <input type="submit" value="Lizard">
</form>