<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<h1>Single player mode:</h1>

<form action='/names' method='post'>
  <h3>Enter your name here:</h3>
  <input type='text' name='player_one' >
  <input type='submit' value='Play' id='submit'>
</form>

</br>

<form action='/' method='get'>
  <input type='submit' value='Home' id='submit'>
</form>
