
<form action="/battle_comp" method='post' style="margin: 30px">
  <div style="margin-bottom: 30px">
    <h3>Enter Player name:</h3>
    <input type="text" name="name1">
    <h3>Enter Computer name:</h3>
    <input type="text" name="name2">
  </div>
  <input type="submit" value="Submit">
</form>
