<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <h1><%=@game.player_1.name%>, You are battling <%=@game.player_2.name%></h1>
    <h1>Play</h1>


    <form action='/player_1_rock' method='post'>
      <input type="submit" value="Rock"> <br>
    </form>

    <form action='/player_1_paper' method='post'>
      <input type="submit" value="Paper"> <br>
    </form>

    <form action='/player_1_scissors' method='post'>
      <input type="submit" value="Scissors"> <br>
    </form>

      <!-- <button type="submit" value="Rock" style="border: 0; background: transparent">
        <img src='http://www.onlygfx.com/wp-content/uploads/2016/05/hand-drawn-heart-1.png' width="150" height="150" alt="submit" />
      </button> -->



  </body>
</html>
