<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>single_name</title>
  </head>
  <body>
      Welcome please enter your name.

  <form action="/sp_game" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
  </form>

  </body>
</html>
