<style>
body {background-color: powderblue;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif}
</style>
 <body>
<h1>Rock, Paper, Scissors game</h1>
<br>
   <h2>Enter your name</h2>
<form action='/name' method='post'>
  <input type='text' name='name'>
  <input type='submit' value='Submit'>
</form>
</body>
