
<%= @game.players_names[0] %> vs. <%= @game.players_names[1] %>

<br>

<h5><%= @game.players_names[0]%> - Please pick an option below:</h5>

<form action="/single_player_select" method="post">

  <select name="single_select">
    <option value='l'>Lizard</option>
    <option value='p'>Paper</option>
    <option value='r'>Rock</option>
    <option value='s'>Scissors</option>
    <option value='sp'>Spock</option>
  </select>
  <button type="submit" name="submit">Select</button>

</form>