<body>
<h1>Single player mode activated<h1>
<form action='/names' method='post'><br />
  <label for='Player 1'>
    Player 1
    <input type='text' name='player_1_name'>
  </label><br />
  <input type='submit' value='Submit'>
</form>
</body>
