<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class = 'header'>
      <h2>Welcome to the Game, <%=@player_name%>!</h2>
      <h3>Please choose your attack:</h3>
    </div>
    <div class = 'icon_container'>
      <a href = '/results?choice=paper' id='Paper'><img src = 'paper.png' class = 'icon'></a>
      <a href = '/results?choice=rock' id='Rock'><img src = 'rock.png' class = 'icon' ></a>
      <a href = '/results?choice=scissors' id='Scissors'><img src = 'scissors.png' class = 'icon'></a>
      <a href = '/results?choice=lizard' id='Lizard'><img src = 'lizard.png' class = 'icon'></a>
      <a href = '/results?choice=spock' id='Spock'><img src = 'spock.png' class = 'icon'></a>
    </div>
    <div class = 'results_container'>
      <div class = 'choice_container'><%= erb :_user_choice %></div>
      <div class = 'game_log'><%= erb "_#{@result}".to_sym unless @result.nil? %></div>
      <div class = 'choice_container'><%= erb :_opponent_choice%></div>
    </div>
  </body>
</html>
