<img src="http://wallpaperpulse.com/img/2927329.jpg"
style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

<h1 align="center"> DEMOLISH YOUR BOREDOM </h1>


<style>
#play-button  {background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<form action="/name" method="post">

<label for="name">
  Enter your name
<input type="text" name="name">
</label>
<input style="position:absolute; right:600px; bottom:500px;" type="submit" id='play-button' value="submit">

</form>
