<h1>What do you want to be called?</h1>

<form action="/single_player_name" method="post">
  <label for="player_1_name">
  Player 1 Name
  <input type="text" name="player_1_name">
  </label>
  <input type="submit" name="Submit">
</form>