<h1>Welcome to single player! </h1><br>
<h1>In this mode you will face off against the expertly programmed AI known as the SuperComputer 5000!</h1>

<form action="/singleplayer/name" method="post">
  What is your name?<input type="text" name="Player1"><br>
    <input type="submit" value="Submit">
</form>