<%= erb :game_header %>
<br><br><br><br>
<div>
  <form action="/single_player_home" method="post">
    <label for="name_1" type="text"><p>Enter your name:</p></label>
    <input class="text_form" type="text" name="name_1">
    <br><br>
    <input class="action_button" type="submit" value="Play!">
  </form>
</div>
<%= erb :footer %>
