<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    Please enter your name!
    <form action="/submit" method="post">
      <input type="text" name="player_1_name">
      <input type="submit" name="Start Game">
    </form>
  </div>
</body>
