<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="bg-img">
    <div class="box">
      <center>
        <h1>Enter your name</h1>
        <form action='/set_player_name' method="post">
          <input type="text" name="player_name">
          <input type="submit" value="Game on!">
        </form>
      </center>
    </div>
  </div>

</body>
