<h2> Please enter your name </h2>
  <div id="page-wrap">
<form method="POST" action="/set_players_single">
<label for="players_name"> Name </label><input type="text" name="players_name" required>
<input class="btn" type="submit" value="Play!">
</form>
</div>