<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Single Player Mode</title>
  </head>
  <body>
    <h1>Single Player Mode</h1>
    <form action="/sp_game" method="post">
  <input id="player1" type = "text" name="player1"><br>
  <input class = "button" type="submit"value="Start">
  </form>
  </body>
</html>
