<center>
<h2>Welcome to Rock, Paper, Scissors World, Single Player</h2>
<h3> Register to play below: </h3>
<form action='/name' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
</html>
