<h1>Hi <%= session[:game].player1.name %>!</h1>
<h3>What's your move?</h3>
<form action='/move1' method='post'>
  <input type='submit' name='move' value='rock'/>
  <input type='submit' name='move' value='paper'/>
  <input type='submit' name='move' value='scissors'/>
</form>
