<h1>Welcome to Single Player</h1>
<h2>Enter your name and your choice of 'rock', 'paper' or 'scissors' below</h2>


<form action="/one_player" method="post">
  <label for="player_1_name">
    Enter your name
<input type="text" name="player_1_name">
  </label>
  <label for=player_1_choice>
    Enter your weapon of choice
<input type="text" name="player_1_choice">
  </label>
  <input type="submit" value="Submit">
  </form>
