You have selected single player mode

Please enter your name
<form action="/name" method="post">
  <label for="Name">
    <input type="text" name="player">
  </label>
    <input type="submit" value="Enter Game">
</form>
