<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS - Single Player</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <h1>Rock Paper Scissors - Single Player</h1>
    <form action="/singleplayer-game" method="post">
      <input type="text" name="name" value="" placeholder="Enter Name">
      <input type="submit" value="submit" class="btn btn-info">
    </form>
  </body>
</html>
