<h1>
  Ok, <%= @name_1 %>, time to play! Select your move:
</h1>

<form action="/result">
  <input type="radio" name="move" value="rock" checked > Rock
  <br>
  <input type="radio" name="move" value="paper"> Paper
  <br>
  <input type="radio" name="move" value="scissors"> Scissors
  <br>
  <input type="radio" name="move" value="lizard"> Lizard
  <br>
  <input type="radio" name="move" value="spock"> Spock
  <br>
  <input type="submit" value="Play">
</form>