<div>
  <h1>R P S !</h1>
</div>
<div>
  <form action="/single_player_home" method="post">
    <label for="name_1" type="text"><p>Enter your name player 1:</p></label>
    <input type="text" name="name_1">
    <br>
    <input type="submit" value="Play!">
  </form>
</div>
