<head>
  <link rel="stylesheet" href="/css/master.css">
</head>

<h3> Sign up to play! </h3>
<h2> Please enter your name </h2>

<h3> <form action="/play" method="post">
  <input type="text" name="username">
  <input type="submit" value="Play!">
</form>


<footer>
RPS-Challenge
</footer>
