<h1>Rock Paper Scissors!</h1>

<div>Please enter your name below</div>

<form action = "/name", method = "post">
  Name<input type = "text", name = "name">
  <input type = "submit", value = "Play!">
</form>
