<strong> <%= @rps.player1.name %> </strong>, you selected <em><%= @rps.player1.move %></em>
<br> <br>
<strong> The computer </strong> chose <em> <%= @rps.player2.move %> </em>
<br> <br>
<h4><strong> <%= @rps.check_winner_or_draw %> </strong> </h4>
