<html>
  <body>
    <h2 align = "center">Please enter player details to start game</h2>
    <form action = "/register" method = "POST" align = "center">
      <br>
        <label for = "player1">Player1</label>
        <input type = "text" name = "player1">
      </br>
      <br>
        <label for = "player2">Player2</label>
        <input type = "text" name = "player2" value = "Computer" readonly>
      </br>
      <br>
        <button type = "submit">Start Game</button>
      </br>
    </form>
  </body>
</html>
