<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      body { background-color: black;
            color: #e60073;
            text-align: center;
            font-size: 40px;
            font-family: 'Verdana';
        }

    </style>
    <title>Enter Name</title>
  </head>
  <body>

  </body>
</html>

<h2>Enter your name to start</h2>
<form action="/sp_name" method="post">
  <label for="player_1_name">
    Player 1
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
