<h1>Rock, Paper, Scissors</h1>
<h2>Enter your name before starting the game</h2>
<form action="/sp_name" method="post">
  <label for="player_1_name">
    Player 1
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
