Welcome to Single Player RPS
<br>
You are playing against the computer
<br>
Choose an option and see if you win?!?!??!
<br>
The rules are simple
"Rock > Scissors"
"Scissors > Paper"
"Paper > Rock"
<br>
<form action="/process_result" method='post'>
<button name='sp_rps' type='submit' value='Rock'>Rock</button>
<button name='sp_rps' type='submit' value='Paper'>Paper</button>
<button name='sp_rps' type='submit' value='Scissors'>Scissors</button>
</form>