<div>
  <h3>Computer chose <%= @ai_move %></h3>
</div>
<div>
  <h1>
    <%= "You won!" if @result == :player1_win %>
    <%= "You lost!" if @result == :player2_win %>
    <%= "Draw!" if @result == :draw %>
  </h1>
</div>