<html>
  <head>
    <title>Rock, Paper, Scissors</title>

    <link rel="stylesheet" href="splash-style.css">
  </head>
  <body>
    <center>
      <h1>Rock Paper Scissors</h1>

    <form action='/single_player_name' method='get'>
      <!-- <input type='submit' value='1P'> -->
      <button type="submit" name ='submit' value="1P" style="border: 0; background: transparent">
        <img src='http://www.iconninja.com/files/720/593/187/messenger-online-msn-icon.png' width="150" height="150" alt="submit" />
      </button>
    </form>

    <form action='/multiplayer_names' method='get'>
      <!-- <input type='submit' value='2P'> -->
      <button type="submit" name ='submit' value="2P" style="border: 0; background: transparent">
        <img src='http://src.onlinedown.net//supply/sup_logo/logo-1122/50399_g.jpg' width="150" height="150" alt="submit" />
      </button>
    </form>





  </center>


  </body>
</html>
