<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors</h1>

    <form action='/names' method='post'>
      Name <br>
      <input type="text" name="player_1_name"> <br>
      <input type="submit" value="Play">
    </form>

  </body>
</html>
