<head>
  <title>Welcome!</title>
  <link href="<%= url('/splash.css') %>" rel="stylesheet" type="text/css" />
</head>

<div class="splash">
<a href="/">
<div class="reveal makers">
  <p style="color: white">Welcome!</p>
</div>
</a>
</div>