<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors</h1>


    <form action='/single_player_name' method='get'>
      <input type='submit' value='1P'>
    </form>

    <form action='/multiplayer_names' method='get'>
      <input type='submit' value='2P'>
    </form>

  </body>
</html>
