<head>
  <title>Welcome!</title>
  <link href="<%= url('/splash.css') %>" rel="stylesheet" type="text/css" />
</head>

<div class="splash">
<a href="/welcome">
<div class="reveal makers">
  <p class="zoom" style="color: white">Let's Go!</p>
</div>
</a>
</div>