<title>Rock Paper Scissors Lizard Spock</title>

<h1><%=@rps.result%></h1>
<br>
<h2><i><%=@name%> chose Spock! Computer chose <%=@rps.weapons[:computer]%>!<i></h2>
  <br>
  <h3><i>The rules: Scissors cuts paper. Paper covers rock.<i></h3>
  <h3><i>Rock crushes lizard. Lizard poisons Spock.<i></h3>
  <h3><i>Spock smashes scissors. Scissors decapitates lizard.<i></h3>
  <h3><i>Lizard eats paper. Paper disproves Spock.<i></h3>
  <h3><i>Spock vaporizes rock. Rock crushes scissors.<i></h3>
  <br>
  <form action='/play'>
    <input type='submit' value='Play again'>
  </form>
