<body style="background:#BDBDBD">
  <p align="center"><font face="verdana">Decision time, <%= @name %>!</font></p>

  <p align="center"><font face="verdana">Let battle commence...</font></p>

  <form action="/outcome" align="center">
    <button type="submit" value="rock" name="move">ROCK</button>
    <button type="submit" value="paper" name="move">PAPER</button>
    <button type="submit" value="scissors" name="move">SCISSORS</button>
  </form>
</body>
