<p>Hello <%= @name %>!</p>

<p>Choose Rock, Paper or Scissors:</p>

<form action="/rock">
  <p><input type="submit" value="Rock"></p>
</form>

<form action="/paper">
  <p><input type="submit" value="Paper"></p>
</form>

<form action="/scissors">
  <p><input type="submit" value="Scissors"></p>
</form>