<h1> ROCK PAPER SCISSORS </h1>
Welcome!<br/>
<br/>
Please pick what kind of game you'd like to play!
<br/>
<form action="game_start">
    <fieldset id="ruleset">
        <input type="radio" value="RPS" checked required name="ruleset"> Rock Paper Scissors<br/>
        <!-- <input type="radio" value="RPSLS" name="ruleset"> Rock Paper Scissors Lizard Spock<br/> -->
    </fieldset>

    <fieldset id="players">
        <input type="radio" value="1P" checked required name="players"> Single Player<br/>
        <!-- <input type="radio" value="2P" name="players"> Multiplayer<br/> -->
    </fieldset>
    <input type="submit" value="Let's play!">
</form>
