<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    Welcome, <%= @player_1_name %>! You are playing against <%= @player_2_name %>.
  </div>
  <div>
    Make your choice: Rock, Paper, or Scissors!
    <form action='/choice' method='post'>
      <input type='submit' name='choice' value='rock'>
      <input type='submit' name='choice' value='paper'>
      <input type='submit' name='choice' value='scissors'>
    </form>
  </div>
</body>
