<p>Hello <%= @player_name %></p>
<p>Please enter 'rock', 'paper', or 'scissors':</p>
<form action="/choose_play" method="post">
  <input type='text' name='rock_paper_scissor'><button type="submit" name="RPS">Play</button>
</form>
