<h1> Hello <%= @name %> <h1>
<h2> What Move Do You Choose? <h2>

<form name="input" action="/decision" method="post">
<select style="height:40px;width:100px" name=move>
    <option value="R">Rock!</option>
    <option value="P">Paper?</option>
    <option value="S">Scissors...</option>
    <option value="L">Lizard<--</option>
    <option value="K">Spock--></option>
  </select>
  <input type="submit">
</form>
