<!DOCTYPE html>
<html>
  <body>
    <h1><%=@game.whos_turn.name%>'s turn!'</h1>
    <form action='/play' method='get'>
      <input type="radio" name="shape_choice" value="0">Pick <%=@game.shapes[0].name%><br>
      <input type="radio" name="shape_choice" value="1">Pick <%=@game.shapes[1].name%><br>
      <input type="radio" name="shape_choice" value="2">Pick <%=@game.shapes[2].name%><br>
      <button type='submit'>Play</button>
    </form>
  </body>
</html>
