<head>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<%= @name %> VS THE WORLD</br>

<a href="/cat" class='img' id='cat'></a>
<a href="/goku" class='img' id='goku'></a>
<a href="/patrick" class='img' id='patrick'></a>
