<h1>Welcome P1 <%= @playerone %></h1>

Rock, paper scissors

 <form action="/game" method="post">   
<label for="Please select an option">Choice:</label>

        <select id="choice" name="choice">
          <option selected></option>
          <option>Rock</option>
          <option>Paper</option>
          <option>Scissors</option>
        </select>
      </span>
    </div>
    <input type='submit' value='submit'>
</form>