<div style='padding-left: 25px; height: 200px; width: 600px; border: 3px solid red'>
  <br>
  <%= @name2 %>, choose your object...
  <br>
  <br>
  <form action='/start_game_double2' method="post">
    <input height="100" name="object2" src'images/rock.jpg' type="image" value="rock" width="150">
    <input height="100" name="object2" src='images/paper.jpg' type="image" value="paper" width="70">
    <input height="100" name="object2" src='images/scissors.png' type="image" value="scissors" width="100">
    <input height="100" name="object2" src='images/spock.jpeg' type="image" value="spock" width="100">
    <input height="100" name="object2" src='images/lizard.jpg' type="image" value="lizard" width="100">
  </form>
</div>
