<head>

	<link type='text/css' rel='stylesheet' href='/stylesheet.css'/>
	
	<title>RPS - Enter your name</title>

	<style>

		button {
			background-color: #00ffbf;
			color: black;
			font-size: 30px;
			font-family: Impact;
			height: 60px;
			width: 180px;
			text-align: center;
			vertical-align: middle;
			border-radius: 8px;
    }

    div {
    	margin:auto;
    }

	</style>

</head>

<body>

	<h2> Please enter your name below: </h2>

<BR>

<form action='/names' method='post'>
	<div>
		<input type='text' name='player1_name'>
		<BR>
		<button>Submit</button>
	</div>
</form>


</body>

