<!DOCTYPE html>
<head>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Welcome to the game!</h1>
</br>
<p>Please select your move by hitting a button below</p>
</br>
</br>
<form action="/results" method="get">
<input class="enter-button" type=submit name=move value="Rock">
<input class="enter-button" type=submit name=move value="Paper">
<input class="enter-button" type=submit name=move value="Scissors">
</body>