<html>
<body>
  <h1>It's time for <%=@player%> to play!</h1>
  <form action='/choice' method='post'>
      Make your choice: </br>
      <input type='radio' name='choice' value='rock' id='rock'>Rock</br>
      <input type='radio' name='choice' value='paper' id='paper'>Paper</br>
      <input type='radio' name='choice' value='scissors' id='scissors'>Scissors</br>
      <input type='submit' value='Play'>
  </form>
</body>
</html>
