<center>
<h1 style="text-shadow: 1px 0 10px black; color: white;">Rock Paper Scissors!</h1>

<h2>Get ready, <%= @player_1_name %>! </h2>

<h3>You are up against... Joker! <h3>

<form action="/choice" method="post">
  <input type="image" src="https://i.ibb.co/NN67K1x/raised-fist.png" value="Rock">
    <input type="image" src="https://i.ibb.co/bKMqcMv/raised-hand.png" value="Paper">
  <input type="image" src="https://i.ibb.co/G51WPpw/victory-hand.png" value="Scissors">
</form> 
</center>
