<p>Decision time, <%= @name %>!</p>

<p>Let battle commence...</p>

<form action="/outcome">
  <button type="submit" value="rock" name="move">ROCK</button>
  <button type="submit" value="paper" name="move">PAPER</button>
  <button type="submit" value="scissors" name="move">SCISSORS</button>
</form>
