<center>
<head>
  <style>
    body {
      background: url("http://www.superbwallpapers.com/funny/rock-paper-scissors-16937/") no-repeat fixed;
    }
  </style>
  <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

<body>
  <h1><a href="/game/register_players">START A GAME</a></h1>
</body>
</center>