<center>
<h1 style="text-shadow: 1px 0 10px black; color: white;">Rock Paper Scissors!</h1>

<h2>Get ready, <%= @player_1_name %>! </h2>

<h3>You are up against... Joker! <h3>

<form action="/choice" method="post">
  <input type="submit" style="color: transparent; height: 200px; width: 200px; background-size: 100%; background-image:url(https://i.ibb.co/NN67K1x/raised-fist.png)" value="rock" name="player_1_choice">
  <input type="submit" style="color: transparent; height: 200px; width: 200px; background-size: 100%; background-image:url(https://i.ibb.co/bKMqcMv/raised-hand.png)" value="paper" name="player_1_choice">
  <input type="submit" style="color: transparent; height: 200px; width: 200px; background-size: 100%; background-image:url(https://i.ibb.co/G51WPpw/victory-hand.png)" value="scissors" name="player_1_choice">
</form> 
</center>
