<head>

	<link type='text/css' rel='stylesheet' href='/stylesheet.css'/>
	
	<title>RPS - Enter your name</title>

</head>

<body>

	<h2> Please enter your name below: </h2>

<BR>

<form action='/names' method='post'>
	<input type='text' name='player1_name'>
	<div>
	<button>Submit</button>
</div>
</form>


</body>

