<div style='padding-left: 25px; height: 200px; width: 600px; border: 3px solid red'>
  <br>
  <%= @name %>, choose your object...
  <br>
  <br>
  <form action='/game' method="post">
    <input type="image" src='images/rock.jpg' name="object" value="rock" width="150" height="100">
    <input type="image" src='images/paper.jpg' name="object" value="paper" width="70" height="100">
    <input type="image" src='images/scissors.png' name="object" value="scissors" width="100" height="100">
    <input type="image" src='images/spock.jpeg' name="object" value="spock" width="100" height="100">
    <input type="image" src='images/lizard.jpg' name="object" value="lizard" width="100" height="100">
  </form>
</div>
