<h1 style="color:#004d00;size:6;text-align:center;">
    Player name: <%= @name %>!!!
</h1>

<h2 style="color:#004d00;size:6;text-align:left;">
  Welcome <%= @name %>. Are you ready to play Rock/Paper/Scissors?
</h2>
<form action= "/play">
  <input type="submit" value="Start game">
</form>

<img style='border: 3px double red' src='https://media.giphy.com/media/PS0VHHgFpZ9fO/giphy.gif'>
