<form action='/choose' method='post'>
  <%= @playername %>, make your decision:
  <br>
  <input type='radio' name='choice' value='rock' checked>Rock
  <br>
  <input type='radio' name='choice' value='paper'>Paper
  <br>
  <input type='radio' name='choice' value='scissors'>Scissors
  <br>
  <input type='submit' value='Rock, paper, scissors!'>
</form>