<h1 style="color: #6c0499;">Hello, <%= @player_name %>!</h1>

<form action="/start" method="post">
  <h2> &#9994; <button type="submit" name="choice" value="Rock"> Rock </button></h2>
  <h2> &#9995; <button type="submit" name="choice" value="Paper"> Paper </button></h2>
  <h2> &#9996; <button type="submit" name="choice" value="Scissors"> Scissors </button></h2>
</form>

Your choice was: <%= @choice %>!
