<head>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<%= @name %> VS THE WORLD</br>

<a href="/rock" class='img' id='rock'></a>
<a href="/paper" class='img' id='paper'></a>
<a href="/scissors" class='img' id='scissors'></a>
