<center>
  <head>
    <style>
      body {
        background: url("http://uthmag.com/wp-content/uploads/2015/02/Rock_Paper_Scissors_by_smashmethod.jpg") no-repeat fixed;
      }
    </style>
    <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

  <body>
    <h1>
      <u>ROCK, PAPER, SCISSORS</u></br>
      <a href="/game/new">New Game</a>
    </h1>
  </body>
</center>