<html>
<h3>Welcome <%=@player1%>! Please click on rock, paper or scissors below to play!</h3>
<form action="/results" method="get">
  <button>Rock</button>
  <button>Paper</button>
  <button>Scissors</button>
</form>
</html>
