<div style="width: 50%; margin: 10% auto; text-align: center">
<img src="https://e-commerce.paradisevalley.edu/cis234/jloop/mojoYoga.png"
width="346px" height="242px">

<h2> Hello, my name is Mojo and I play RPS all day.</h2>

<p>Enter your name below, sucker.</p>
<form action='/name' method='post'>
  <input type='text' name='name'><br>
  <input type='submit' value='start'><br>
</form>

</div>
