<html>
  <head> </head>
  <body>
    <h1> Rock, Paper, Sciccors </h1>
    <h2> Are you ready for the challenge?</h2>
    <p>
      <form action="/names" method="post">
        <div>
          <h3> Player One </h3>
            <input type="text" name="player_one" />
        </div>
        <div>
          <h3> Player Two </h3>
            <input type="text" name="player_two" />
        </div>
        <div>
          <input type="submit" value="Start Game" />
        </div>
      </form>
    </p>
    <p> Made lovingly by an aspiring Maker </p>

  </body>
</html>
