<h1>Welcome to: "Poker Without the Cards" </h1>
<h2>Please enter your name:</h2
<form action="/names" method="post">
  <input type="text" name= 'player_name'>
  <input type="submit" value="Submit">
</form>
