<center>
  <h1 style="color: green"> Rock, Paper, Scissors </h1>
  <form action="/player_name" method="post">
    Your Name:
      <input type="text" name="player_name"/>
      <input type="submit" value="submit"/>
  </form>
</center>
