<body class='start-game'>
  <div>
    <h1 class='headers top'>Let battle commence!</h1>

    <h1 class='fighters'><%= @game.player1.name %> vs Computer</h1>

    <h2 class='points-player1'>You won!</h2>

    <a href='/player-1-turn' class='start-game-button'>Start game</a>
  </div>
</body>
