<h1>R.P.S!</h1>

<%= @player_1 %> Choose One

<form action="/choice"  method="post">
  <input type="submit" name="player_move" value="Rock">
  <input type="submit" name="player_move" value="Paper">
  <input type="submit" name="player_move" value="Scisors">
</form>