<p>Hello <%= @name %>!</p>

<p>Choose Rock, Paper or Scissors:</p>

<form action="/rock" method="post">
  <p><input type="submit" value="Rock"></p>
</form>

<form action="/paper" method="post">
  <p><input type="submit" value="Paper"></p>
</form>

<form action="/scissors" method="post">
  <p><input type="submit" value="Scissors"></p>
</form>