<div class='container start_container'>
  <div class='userImgContainer'>
     <div class='igcontainer'>
       <img src='images/boy.svg' alt='avatar' id='user_avatar'>
     </div>
     <div class='name_score'>
       <h3 class='badge badge-dark'> Score <%=@game.player.score%> <h3>
       <h4><%=@game.player.name%> </h4>
     </div>
  </div>

  <div class='computerImageContainer'>
    <div class='igcontainer'>
      <img src='images/robot.svg' alt='avatar' id='computer_avatar'>
    </div>
    <div class='robot_info'>
      <h3 class='badge badge-dark'> Score <%=@game.score%> <h3>
      <h4><%=@game.name%> </h4>
    </div>
  </div>
</div>