<h1>Welcome to the game!</h1>

<p>Please select your move by hitting a button below</p>

<form action="/results" method="get">
<input type=submit name=move value="Rock">
<input type=submit name=move value="Paper">
<input type=submit name=move value="Scissors">