<h1> Hello <%= @name %> <h1>
<h2> What Move Do You Choose? <h2>

<form name="input" action="/decision" method="post">
  <select style="height:40px;width:100px" name=move>
    <option value="1">Rock!</option>
    <option value="2">Paper?</option>
    <option value="3">Scissors...</option>
  </select>
  <input style="height:200px;width:100px" type="submit" value="FIGHT!!!">
</form>