

<center>
<h1> Ready to play?</h1>
<h2> Enter your name below </h2>

<div id='name form'>
  <form action='/names' method='post'>
    <label for='players_name'> Enter name
      <input type='text' name='players_name'>
    </label>
      <p> <input type ="submit" value="Submit!" /> </p>
    </form>
</div>

<img src='http://www.gifmania.co.uk/Objects-Animated-Gifs/Animated-Toys/Rock-Paper-Scissors/Rock-Paper-Scissors-87015.gif' />
</center>
