
<h2> Please enter your name and click submit </h2>

<div id='name form'>
  <form action='/names' method='post'>
    <label for='players_name'> Enter name
      <input type='text' name='players_name'>
    </label>
      <p> <input type ="submit" value="Submit!" /> </p>
    </form>
</div>
