<head>


<link rel="stylesheet" type="text/css" href="/styles.css">


</head>

<p> You made it this far well done!</p>

<p> Now lets begin.....select a picture by clicking on rock, paper or scissors</P>

<h2> Rock </h2>
<a href='/select1'>
<img src= "http://i2.wp.com/worldrps.com/images/rpsver3/rockexample.jpg?resize=432%2C190" alt="Rock"/>
</a>

<h2> Paper </h2>
<a href='/select2'>
<img src= "http://i1.wp.com/worldrps.com/images/rpsver3/Paperexample.jpg?resize=432%2C190" alt="Paper"/>
</a>

<h2> Scissors </h2>
<a href='/select3'>
<img src= "http://i2.wp.com/worldrps.com/images/rpsver3/Scissorsexample.jpg?resize=432%2C190" alt="Scissors"/>
</a>
