<h1> Welcome  </h1>
<h2> <%= @shapes%> </h2>
<form action='/start' method="post">
  <input type="radio" name="shape" value="rock" id = "rock" checked> Rock
  <input type="radio" name="shape" value="scissors" id = "scissors"> Scissors
  <input type="radio" name="shape" value="paper" id = "paper"> Paper
  <input type="submit" value="Submit">
</form>