<html>
  <head>
  </head>
  <body>
    <div style="text-align:center;">
      <br><br><br>
      <h1> THIS IS THE EPIC ROCK - PAPER - SCISSORS </h1>
    </div>
    <div style="text-align:center;">
      <form action="/" method="post">
        <div>
          <label for="player_name">Please enter your name to begin:</label>
          <input type="text" name="player_name">
          <input type="submit" id="submit">
        </div>
      </form>
    </div>
  </body>
</html>
