<h1>Get ready to rock, paper, scisscors</h1>

<h3>Your name: <=% @player %></h3>
<h3>Your selection: <=% @player.weapon %></h3>

<h2>Ready to fight the PC for the title?</h2>

<form action="/fight" method="post">
  <input type="submit" value="Run">
</form>

