<div style='text-align: center; border: 15px dotted yellow'>
  <h1 text-align='center'><%= @player %> has entered the arena!</h1>
</div>
<br>
<form action='/play'>
  <input type='submit' value="Let's go!">
</form>
