<style>
body {
  background-color: #FBFBFB;
  margin: 50px;
  font-family: Helvetica Neue;
}

h1 {
  color: #232323;
  font-style: italic;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 60px;
  text-align: center;
  padding: 20
}

h3 {
  color: #232323;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

div {
  display: block;
  text-align: center;
}

input {
  font-size: 20px;
  color: #232323;
}
</style>
<body>
  <h1>WELCOME</h1> 
  <h2>&#128075;</h2>
  <h3>PLEASE ENTER YOUR NAME</h3>
  <div>
    <form action="/add-player" method="post">
      <input type="text" name="single_player_name" >
      <input type="submit" value="Submit">
    </form>
  </div>
</body>