$navBgColour :#1F1F1F;
$iconContainerWidth : 100px;
$fontColor: #F5EAEA;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

*{
  margin:0;
  outline: 0;
  padding: 0;
}

nav{
  width: 100%;
  background-color: $navBgColour;
  height: 50px;
  ul{
    li{
        list-style: none;
        color: #F5EAEA;
        line-height: 50px;
    }
  }
}
    
.start_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  .userImgContainer{
    margin-right: 20px;
    .igcontainer{
      width: $iconContainerWidth;
    }
    #user_avatar{
      width: 100%;
    }
  .name_score{
     text-align: center;
     h3{
       color: $fontColor;
       font-family: $opensans;
     }
     h4{
       font-family: $opensans;
     }
    }
  }
  .computerImageContainer{
    .igcontainer{
      width: $iconContainerWidth;
    }
    #computer_avatar{
      width: 100%;
    }
    .robot_info{
      text-align: center;
      h3{
        color: $fontColor;
        font-family: $opensans;
      }
      h4{
        font-family: $opensans;
      }
    }
  }
}