<form action="/submit_player2_name" method="post">
Enter Player 2 Name<br>
<input type="text" name="name" placeholder "enter your name">
<br>
Enter Player 2 move<br>
<select name="move">
  <option value="rock">rock</option>
  <option value="paper">paper</option>
  <option value="scissors">scissors</option>
</select>
<input type="submit" value="submit">
<br>