<h1> Swap Players </h1>
<% if @number_of_players == 2 %>
<form action='/selection' method='get'>
  <input type='submit' name='go' value='Next turn'/>
</form>
<% elsif @number_of_players == 1 %>
<form action='/computer_selection' method='get'>
  <input type='submit' name='go' value='Computers go'/>
</form>

<% end %>
