<link href="<%= url('/global.css') %>" rel="stylesheet" type="text/css" />

<div class="outer_div">
<div class="inner_div">
<p><%= @game.player_2.name%> turn</p>
<form action="/options">
<input type=submit value="Ok">
</form>
</div>
</div>