<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Assistant:800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <%= @content %>
  </div>
</body>
</html>
