 #potential second route
<form action="/player_move" method="post">
  <input type="radio" name="<%=@name%>" value="rock"> Rock<br>
  <input type="radio" name="<%=@name%>" value="paper"> Paper<br>
  <input type="radio" name="<%=@name%>" value="scissors"> Scissors<br>
  <input type="submit" value="Make your move">
</form>
