
  <body class = "container">
    <div class="row">
      <div class="col-md2 col-md col-md-2" style="display: block;">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Link</a>
              </li>
              <li>
                <a href="#">Link</a>
              </li>
            </ul>
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Brand</a>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Link</a>
                  </li>
                  <li>
                    <a href="#">Link</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </nav>
        <div class="jumbotron">
          <h1>
            Hello, World!
          </h1>
          <p>
            This is the coolest!
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">Learn more</a>
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3>
              Span 4
            </h3>
            <p>
              Content
            </p>
          </div>
          <div class="col-md-4">
            <h3>
              Span 4
            </h3>
            <p>
              Content
            </p>
          </div>
          <div class="col-md-4">
            <h3>
              Span 4
            </h3>
            <p>
              Content
            </p>
          </div>
        </div>
        <h3>
          Span 4
        </h3>
        <p>
          Content
        </p>
      </div>
      <div class="col-md4 col-md8 col-md-8" style="display: block;">
        <h3>
          Span 4
        </h3>
        <p>
          Content
        </p>
      </div>
      <div class="col-md2">
        <h3>
          Span 4
        </h3>
        <p>
          Content
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
  </body>

</html>
