<!DOCTYPE html>
<html>

<head>
    <!-- <link rel=”stylesheet” type=”text/css” href=”/styles.css” /> -->
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<form action="/register" method="post">
  <div class="grid-container">
  <div class="welcome"><h1>Welcome to rock paper scissors</h1></div>
  <div class="item2"></div>

  <div class="item3"><h2>What type of game do you want to play?</h2></div>
  <!-- <div class="cc-selector"> -->

  <div class="item7"><input checked="checked" id="classic1" type="radio" name="gamevariant" value="classic" />
  <label class="drinkcard-cc classic" for="classic1"><!--Rock, paper, scissors classic--></label>
</div>
  <div class="item8">  <input id="spock1" type="radio" name="gamevariant" value="spock" />
  <label class="drinkcard-cc spock" for="spock1"><!--Rock, paper, scissors, lizard, spock--></label>
</div>
  <!-- </div> -->
  <div class="classic-title"><p>Classic</p></div>
  <div class="spock-title"><p>Lizard, Spock</p></div>
  <div class="item6"><h2>Who do you want to play against?</h2></div>
  <div class="item9"><button type="submit" class="robot" name="gametype" value="Single player"></button></div>
  <div class="item10"><button type="submit" class="human" name="gametype" value="Multiplayer"></button></div>
  <div class="single-title"><p>Robot</p></div>
  <div class="multi-title"><p>Player 2</p></div>
  <div class="item4"></div>


</div>

</form>
