<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/thanks.css" />
  </head>

  <body>
    <div>
      <h1>Thanks for playing, <%= @game.player.name %>!</h1>
    </div>
  </body>
</html>  
