<div style="text-align:center; margin-top: 20%; margin-bottom: 20%">

<h3> Welcome, <%=@game.player.name%>! </h3>

<form action='/result' method='post'>
  <select name='roll'>
  <option value="Rock">Rock</option><br>
  <option value="Paper">Paper</option><br>
  <option value="Scissors">Scissors</option>
  </select>
  <br><br><br>
  <input type='submit' value='Throw!'>
</form>

</div>