
<h1> It's a tie! </h1>
<h2> You chose <%= @game.player.weapon %> Godzilla chose <%= @game.computer.random_weapon %>

<form action="/restart" method="post">
  <input type="submit" value="Play again?">
</form>
