<div style='color: #dd3b2a; font-size: 40px; font-weight: 500'>
Result of match between <%= @game.player_name %> and RPS-Bot:
</div>
<BR>
<BR>
Match was a tie!
<BR>
<BR>
<%= @game.player_choice %> was played against <%= @game.computer_choice %>
