<body>

<h1 style="color: black"> Computer chose: <%= @game.weapon2.type.capitalize %> </h1>

<h1 style="color: black"> You tied! </h1>


<% unless @player.nil? %>
    <h2 style="color: blue"> <%= "Player: #{@player.name}" unless @player.name.empty? %> </h2>
    <h3 style="color: darkblue"> <%= "Score: #{@player.score}" %>  </h3>
<% end %>


<form action="/outcome" method="post">
  <input type="hidden", name="action", value="rock" />
  <input type="submit" value="Rock">

  <input type="hidden", name="action", value="paper" />
  <input type="submit" value="Paper">

  <input type="hidden", name="action", value="scissors" />
  <input type="submit" value="Scissors">

  <input type="hidden", name="action", value="spock" />
  <input type="submit" value="Spock">

  <input type="hidden", name="action", value="lizard" />
  <input type="submit" value="Lizard">
</form>