<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>It's a tie</title>
  </head>
  <body>
    <div>Both Players played <%=@game.player1.weapon %> </div></div>
    <div>It's a tie!</div>
    <a href="/play">Play Again?</a>
  </body>
</html>
