<body>
<h1> It is a tie! </h1>

<p> Play again! </p>

<div>
<form action='/rock'  method='post'>
    <input type='image' src='rock.png' width="30%" name='ATTACK' value='ROCK'>
</form>

<form action='/paper'  method='post'>
    <input type='image' src='paper.png' width="30%" name='ATTACK' value='PAPER'>
</form>

<form action='/scissors'  method='post'>
    <input type='image' src='scissors.png' width="30%" name='ATTACK' value='SCISSORS'>
</form>
</div>
</body>