<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

  <h2>You played <%=@player.choice%>. Computer played <%=@computer.choice%>.</h2>
  <h3>Game is a tie</h3>

  <form name="input" action="/choose" method="get">
    Play again? <input type="submit" value="Yes please!">
  </form>

</body>
</html>
