<h2> <font color="black">You have selected <%= RPS.instance.player.player_choice %>! </font> </h2>
<font color="black">Your opponent has selected <%= RPS.instance.opponent_move %>! </font>
<h2> The game has ended in a tie! <h2>
