<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
    <title>RPS-Tie</title>
  </head>
  <body>
    <div>
    <p>The game was a tie</p>
    </div>
    <div id="submit-container">
      <a href="/play"><button name="Restart" class="round-box button">Play again</button></a>
    </div>
  </body>
</html>