<html>
    <body>
        <h1> The computer played <%= $game.computer %>. It is a tie! </h1>

        <p> Play again! </p>

        <div class='row'>
            <div class='column'>
                <form action='/rock'  method='post' class='image'>
                    <input type='image' src='rock.png' width="50%" name='ATTACK' value='ROCK'>
                </form>
            </div>

            <div class='column'>
                <form action='/paper'  method='post' class='image'>
                    <input type='image' src='paper.png' width="50%" name='ATTACK' value='PAPER'>
                </form>
            </div>

            <div class='column'>
                <form action='/scissors'  method='post' class='image'>
                    <input type='image' src='scissors.png' width="50%" name='ATTACK' value='SCISSORS'>
                </form>
            </div>
            
            <div class='column'>
                <form action='/lizard' method='post' class='image'>
                    <input type='image' src='lizard.png' width="50%" name='ATTACK' value='LIZARD'>
                </form>
            </div>

            <div class='column'>
                <form action='/spock' method='post' class='image'>
                    <input type='image' src='spock.png' width="50%" name='ATTACK' value='SPOCK'>
                </form>
            </div>
        </div>
    </body>
</html>