<body bgcolor ='#F4BAC8'>
  <body topmargin='100' leftmargin ='200' rightmargin='200'> 
  <font face='futura'>
<center>
  <h1><br>
    The game was a tie
    </br>
    <br>
    No winner means you're both losers. 
    </br>
    <br>
    Beautiful, beautiful losers. 
    </br>
  </h1>
</center>
</font>
</body>
