<h2> <div> <p> It's your turn <%= @game.player2.name %>! Pick your poison... </p> </div> </h2>
<div> <p> (Look away <%= @game.player1.name %>, don't be a cheater!) </p> </div>

<form action="/two_player_move2" method="post">
<input type="submit" value="Rock" name="choice">

<form action="/two_player_move2" method="post">
<input type="submit" value="Paper" name="choice">

<form action="/two_player_move2" method="post">
<input type="submit" value="Scissors" name="choice">

<form action="/two_player_move2" method="post">
<input type="submit" value="Lizard" name="choice">

<form action="/two_player_move2" method="post">
<input type="submit" value="Spock" name="choice">
</form>
