<p>Please try again, invalid choice! </p>
<p>Must be one of 'rock', 'paper', 'scissors', 'lizard', 'spock'</p>
<p>Please enter your choice <%= @player_name %>.</p>
<form action='/game-result' method="post">
  <input type="text" name="player_choice">
  <input type="submit" value="Submit my choice">
</form>
