<%= @game.p1_name %> vs. <%= @game.p2_name %>

<%= @game.p2_name %>'s Turn

<form action='/p2_choose' method='post'>
  <%= erb :selections %>

  <input type='submit' value='Play!' class='btn btn-primary'>
</form>
