<%= @game.p1_name %> vs. <%= @game.p2_name %>

<%= @game.p2_name %>'s turn

<form action='/p2_choose' method='post'>
  <label for='rock'>Rock</label>
  <input type='radio' name='choice' value='rock' id='rock'>

  <label for='paper'>Paper</label>
  <input type='radio' name='choice' value='paper' id='paper'>

  <label for='scissors'>Scissors</label>
  <input type='radio' name='choice' value='scissors' id='scissors'>

  <input type='submit' value='Play!'>
</form>
