<% if !@choice.empty? %>
Your choice : <%= @choice %>
Your opponents play : <%= @opponents_choice %>

<% if @win == true %>
  YOU WIN !!
<% elsif @win == nil %>
  Tied 
<% else %>
  You lose ..
<% end %>
<% end %>

<form action='/play'>
  <input type='submit' value='Play again!'>
</form>
