<h1><%= @game.p1_name %> vs. <%= @game.p2_name %></h1>

<h2><%= @game.p2_name %>'s Turn</h2>

<section class='player_1 well col-md-4 col-md-offset-1'>
  <i class="fa fa-hand-o-left massive"></i>
</section>

<section class='player_1 well col-md-4 col-md-offset-7'>
  <form action='/p2_choose' method='post'>
    <%= erb :selections %>

    <input type='submit' value='Play!' class='btn btn-primary'>
  </form>
</section>
