<h2>Welcome <%=@game.player_1.name%> to Rock, Paper, Scissors!</h2>

<body>
Choose below <%=@game.player_1.name%>
<br>
<br>
<form action='/rock' method='get'>
<div><input type='submit' value ='Rock'></div>
</form>
</body>