<% if @capacity_check %>
  <h1>Game is full</h1>
  <% else %>
  <% if @player_name %>
    <h2>Player: <%= @player_number %> <%= @player_name %><h2>
    <% if @winner %>
    <h2>You Win: <%= @your_hand %> beats <%= @opponent_hand %></h2>
    <% end %>
    <h2>Choose your hand</h2>
  <form action="/two-player" method="POST">
    <input type="submit" value="rock" name="hand">
    <input type="submit" value="paper" name="hand">
    <input type="submit" value="scissors" name="hand">
  </form>
  <% else %>
  <h1>Enter name</h1>
  <form action="/two-player" method="POST">
    <input type="text" name="name">
    <input type="submit" value="start game">
  </form>
  <% end %>
<% end %>