<form action='/names' method='post'>
  <label>Please give both your names:</label><br>
  <input type='text' id='player_1' name='player_1'>
  <input type='text' id='player_2' name='player_2'>
  <button type='submit'>Submit</button>
</form>
