
<h1>Enter names</h1>

<form action="/battle" method='post' style="margin: 30px">
  <div style="margin-bottom: 30px">
    <h3>Enter Player 1:</h3>
    <input type="text" name="name1">
    <h3>Enter Player 2:</h3>
    <input type="text" name="name2">
  </div>
  <input type="submit" value="Submit">
</form>
