<h1> You are playing in 2-player mode </h1>

<p>Please fill in your name</p>

<form action='/2-player' method ='POST'>
  Player 1: <input type='text' name='Player1 name' required/>
  Player 2: <input type='text' name='Player2 name' required/>
  <input type='submit' value ='Submit'/>
</form>
