<div>
    <h1>Congratulations <%= $GAME2.player_2.name %>! You have won!</h1>
    <img src='/images/fireworks.png'>
    <br>
    <br>
    <br>
    <br>
    <h1>Sorry <%= $GAME2.player_1.name %>!
    <br>
    Maybe next time.</h1>
    <img src='/images/crying_baby.png'>
</div>