<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%= erb :header_partial %>
  <body>
    <div class="w3-center">
      <h1>Welcome to Rock, Paper, Scissors</h1>
      <p>Please enter your names:</p>
      <form action="/two_player_name_save" method="post">
        <ul class="w3-ul">
          <li>
            <input type="text" name="player1_name">
          </li>
          <li>
            <input type="text" name="player2_name">
          </li>
          <li>
            <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" value="play">Play!</button>
          </li>
        </ul>
      </form>
    </div>
  </body>
</html>