<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>RPSLS</title>
</head>
<body>
<h1>Welcome to Rock, Paper, Scissors</h1>
<p>Please enter your names:</p>
<form action="/two_player_name_save" method="post">
  <input type="text" name="player1_name">
  <input type="text" name="player2_name">
  <input type="submit" value="Play!">
</form>
</body>
</html>