<head>
  <link rel="stylesheet" href="styles.css">
</head>

<h1>Enter names:</h1>

<body>
  <form action="/play_two_player" method="post">
    <label for="player1_name">
      <h2>Player 1:</h2>
      <br>
      <input type="text" name="player1_name">
    </label>
    <br>
    <label for="player2_name">
      <h2>Player 2:</h2>
      <br>
      <input type="text" name="player2_name">
    </label>
    <br>
    <br>
    <button type="submit" name="Submit" value="Submit">Submit</button>
  </form>
</body>
