<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Error! A name must be entered for both players</h2>
<h2>Enter your names to beign</h2>
<form action="/two_names" method="post">
  <label for="player_1_name">
    Player One
    <input type="text" name="player_1_name">
  </label>

  <label for="player_2_name">
    Player Two
    <input type="text" name="player_2_name">
  </label>

  <input type="submit" value="Submit">
</form>
