Enter your names to begin!

<form method='post' action='/names'>
  <div>
    <label for="player1">Player 1 name: </label>
    <input type='text' name='p1name'>
  </div>

  <div>
    <label for="player2">Player 2 name: </label>
    <input type='text' name='p2name'>
  </div>

  <div class='button'>
    <input type='submit' value='play' id='play'>
  </div>

</form>
