

<div class="row">
  <div class="small-5 small-centered columns">
    <form action='/player-names' method="post">
      <label for="player_one">
        Your name:
        <input type="text" name="player_one">
      </label>
      <label for="player_one">
        Your name:
        <input type="text" name="player_two">
      </label>
      <input type="submit" value="play">
    </form>
  </div>
</div>
