<body>
  <div class="container-fluid">
    <p> Player 1, please make your selection </p>
    <form action="/two-player-game-player1" method="post">
    <select id='selection' name="selection">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
      <option value="lizard">Lizard</option>
      <option value="spock">Spock</option>
    </select>
    <input type="submit" value="Selection">
    </form>
  </div>
  <div id="footer">
    <a href="/account">Back to account</a>
  </div>
</body>
