<html>
  <head>
  </head>
  <body style="text-align:center">
    <br>
    <h1>Enter your names</h1>
    <hr width="75%" style="border: 1px dashed black;" />
    <hr style="height:30px; visibility:hidden;" />


    <form action="/names" method="post">

      <label for="player1">
         Marketeer 1 name: <input align="center" type="text" name="marketer_1">
      </label>

      <hr style="height:10px; visibility:hidden;" />

      <label for="player2">
         Marketeer 2 name: <input align="center" type="text" name="marketer_2">
      </label>

        <hr style="height:30px; visibility:hidden;" />

    <input style="width: 200px;" type="submit" value="Choose Game">

    </form>
  </body>
</html>
