<p> Welcome to two player RPS, <%= session[:name] %>

<p> Can you please let us know the name of player 2?

  <form method='POST'>
  <input type = "text" name = "name_2">
  <button type = "submit" formaction="/two_player_game"> Let's go! </button>
   </form>
