	
	<h2>Please enter both player names below!</h2>

	<form action='/two_player_get_names' method="post">
	    Player One<input type="text" name="player_one_name">
	    Player Two<input type="text" name="player_two_name">
	    <input type="submit" name="submit" value="Submit names">
	</form>




