<head>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>

<body>
<h1>Rock! Paper!! Scissors!!! Lizard!!!! Spock!!!!!</h1>
<p>Sign in to play:</p>
<form action='/two_player_setup' method='post'>
  <p>Player 1 name:</p>
  <input type='text' name='p_1'>
  <p>Player 2 name:</p>
  <input type='text' name='p_2'>
  <button type='submit' value='submit'>Go!</button>
</form>
</body>
