<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styling.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Rock Paper Scissors Lizard Spock</title>
  </head>
  <body>
    <br>
    <br>
    <h2>Rock Paper Scissors Lizard Spock</h2>
    <div>
      <center><form action="/names" method="post">
        <input type="text" name="player1" placeholder="Player 1">
        <input type="text" name="player2" placeholder="Player 2">
        <br>
        <br>
        <input type="submit" value="Submit" class="button">
      </form></center>
    </div>
  </body>
</html>
