<form action='/name' method='post'>
  <label>Please give both your names:</label><br>
  <input type='text' id='player1' name='player1'>
  <input type='text' id='player2' name='player2'>
  <button type='submit'>Submit</button>
</form>
