<div style="text-align:center">
  <h2>Ready to play <%= @game.player_one.name %>?</h2>
  <p>Make your choice:</p>
  <form action="/two_players/player_one/receive_choice" method="post">
    <input type="submit" name="selection" value="Rock">
    <input type="submit" name="selection" value="Paper">
    <input type="submit" name="selection" value="Scissors">
  </form>
</div>
