<h2>Two player game</h2>

<p>What is player 1's name?</p>
 <form action="/names" method="post">
  <input type="text" name="player_1">
  <p>What is player 2's name?</p>
  <input type="text" name="player_2">
  <br>
  <input type="submit" value="Submit">
</form>
