<h1>What do you want to be called?</h1>

<form action="/two_player_names" method="post">
  <label for="player_1_name">
  Player 1 Name
  <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
  Player 2 Name
  <input type="text" name="player_2_name">
  </label>
  <input type="submit" name="Submit">
</form>