<form action='/two_player' method=post>
  Please enter player one's name: <br>
  <input type=text name='player_one' > <br>
  Please enter player two's name: <br>
  <input type=text name='player_two' > <br>
  <input type=submit value='Submit' >
  </form>
