<!DOCTYPE html>
<html>
  <head>
    <title>Player name entry form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style media="screen">
      center {

      }
    </style>
  </head>
  <body>
    <div>
      <center id="welcome">
        <h1>Please enter your names</h1>
        <form class="" action="/start_two_player" method="post">
          <label>
            Player 1
            <input type="text" name="player_1">
          </label>
          <br>
          <label>
            Player 2
            <input type="text" name="player_2">
          </label>
          <br>
          <input type="submit" value="Submit">
        </form>
      </center>
    </div>
  </body>
</html>
