<!DOCTYPE html>

<div style="text-align:center">
  <h2>Welcome to rock, paper, scissors!</h2>
  <div class="">
    <form action="/two_players/game_setup" method="post">
      Player 1: <input type="text" placeholder="Name" name="player_1_name">
      Player 2: <input type="text" placeholder="Name" name="player_2_name">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
