<center><h1>Enter your names...</h1>

  <form action="/two_player_names" method="post">
  <label>Player 1</label>
  <input type="text" name="player_one_name">
  <label>Player 2</label>
  <input type="text" name="player_two_name">
  <input type="submit" value="Submit">
</form>
</center>