<h2>Human vs. Human</h2>
<br>
<form action='/names' method='post'>
  <label>Player 1, please enter your name:<br>
<input type='text' name='Player_1_Name'>
</label><br>
  <label>Player 2, please enter your name:<br>
<input type='text' name='Player_2_Name'>
</label><br><br>
<input type='submit' value='Submit'>
</form>