

<form action="/2_player_name" method="post">
<style>
.center {
  background-color: #FFC300;
  width: 30%;
  border: 3px solid black;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 30px

}
</style>

<body>

  <div class="center">

  <h2>Player 1's name:</h2>
  <label for="p1_name">
   <input type="text" name="p1_name">
  </label>

  <h2>Player 2's name:</h2>
  <label for="p2_name">
  <input type="text" name="p2_name">
  </label>

<p></p>
  <input type="submit" value="Submit">
  </div>

</body>

</form>
