<div>
  Player 1 name

  <form action='/result' method = 'get'>
  <input type = 'text' name = 'p1name'> 

  Player 2 name

  <form action='/result' method = 'get'>
  <input type = 'text' name = 'p2name'>
  <input type = 'submit'>
  </form>
</div>
