<div><center><font size=10>
  Enter your move! Rock, paper, scissors, lizard or spock?!</font><center></div><br>
    <center><form action='/submit_name' method='post'>
    <input type='text' name='move'>
  <div>
    <center><font size=10>
        Enter your name! <br>
      <input type='text' name='name'><br>
      <center><input type='submit' value='Submit'>
</form>
