<h1><%= @game.players[0].name %> is playing</h1>

<h1>Choose an attack:</h1>


<form method="link" action="/2rock">
  <input type="submit" value="Rock">
</form>

<Form method="link" action="/2paper">
  <input type="submit" value="Paper">
</form>

<Form method="link" action="/2scissors">
  <input type="submit" value="Scissors">
</form>
