<h1><%= @game.players[1].name %> is playing</h1>

<h1>Choose an attack:</h1>

<form method="link" action="/2tie">
  <input type="submit" value="Rock">
</form>

<form method="link" action="/2lose">
  <input type="submit" value="Paper">
</form>

<form method="link" action="/2win">
  <input type="submit" value="Scissors">
</form>


<div class="center">
  <img src="https://media.giphy.com/media/WN00WINYziSQM/giphy.gif">
  </div>
