<body class = 'container'>
  <h1> Rock, Paper, Scissors - Two Player Game </h1>
  <form action='/' method="post">
    <h2> Player 1 Please enter your name <h2>
  <input type="text" name="two_player_name" required>
</div>


<h2> How to Play </h2>
<h3>Please enter either Rock, Paper or Scissors below and press "Play" </h3>

<form action="/twoplayer" method="post">
    <select name="two_player_choice">
      <option value="rock">rock</option>
      <option value="paper">paper</option><option value="scissors">scissors</option>
    </select>
    <input type="submit" value="Play">
</form>


</body>
