<h1> <%=@player_1.name%> vs. Machine </h1>
<p> </p>

  <h2> Are you ready you play ROCK, PAPER, SCISSOR???</h2>


  <form action='/play'>
    <div class='button'>
      <button type='submit' value='Play Round 1'>Play Round 1</button>
    </div>
  </form>
