<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RPS - Makers Week 3</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <header id="header">
      <h1>THE THUNDERDOME!</h1>
    </header>

    <h2><%= @game.victory_message %></h2>

    <form action="/" method="get">
      <input type="submit" name="new_round" value="New Game" id="player_buttons">
    </form>
  </body>
</html>
