<%= @player1 %> 
<br>
What do you want to choose?
<br>
<form action = "/view_option" method = post>
<input type = "submit" name = 'shape' value = "Rock" >
<input type = "submit" name = 'shape' value = "Paper">
<input type = "submit" name = 'shape' value = "Scissors">
</form>