<style>
  body {font-family:Verdana;}
</style>

<h1><%=@player_1_name %></h1> vs. <h1><%=@player_2_name %></h1>

<form action="/choose_weapon">
  <input type="submit" value="I was born ready" />
</form>
