<% if session[:username] && session[:username_1] %>
  <%= session[:username] %> vs. <%= session[:username_1] %>
<% end %>

<form action="/vs_computer" id="rps_form" method="post">
  <input type="radio" name="rps" id="rock" value="rock">Rock
  <input type="radio" name="rps" id="paper" value="paper">Paper
  <input type="radio" name="rps" id="scissors" value="scissors">Scissors
  <input type="submit" value="Play">
</form>
