<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/global.css" />
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


<h1> Please hold tight y'all! We're just waiting a sec for another player... </h1>

<a href='/result' id='try_again' class='myButton'>Check Again!</a>