<h1>Choose your Weapon:</h1>

<form action='/outcome' method='post'>
  <input style="width:200px" type="image" src="http://bit.ly/21Ayl5R" name="weapon" value="rock">
</form>

<form action='/outcome' method='post'>
  <input  type="image" style="width:100px" src="http://bit.ly/22u0qhq" name="weapon" value="paper" >
</form>

 <form action='/outcome' method='post'>
  <input type="image" name="weapon" value="scissors" style="width:200px" src="http://polyv.re/1puzdMU" />
</form>