<h1>Choose a weapon from the dropdown:</h1>
<form action="/choice" method="post">
  <select name="weapon">
    <% @weapons.each do |weapon| %>
      <option value="<%= weapon %>"><%= weapon.to_s.capitalize %></option> %>
    <% end %>
  </select>
  <input type="submit" value="Submit" />
</form>
