<center>

  <h1>Ok, <font color='<%="#{@name_colour}"%>'><%="#{@player_name}"%></font> Choose your weapon</h1>

</center>

<center>


  <form action='/result' method='post'>

    <input name='weapon' type='Submit' value='ðŸ‘Š'>
    <input name='weapon' type='Submit' value='ðŸ¤š'>
    <input name='weapon' type='Submit' value='âœŒï¸'>

  </form>

</center>
