<h1>Choose your Weapon:</h1>

<form action='/outcome'>
  <input style="width:200px" type="image" src="http://bit.ly/21Ayl5R" value="rock">
</form>

<form action='/outcome'>
  <input  type="image" style="width:100px" src="http://bit.ly/22u0qhq" value="paper" >
</form>

 <form action='/outcome'>
  <input type="image" style="width:200px" src="http://polyv.re/1puzdMU" value="scissors"/>
</form>