<h1>RPS</h1>
<br><br>
<%= @user.name %> vs Computer
<br><br>
<form action="/play" method="post">
  <select name="weapon_type">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Play">
</form>
