<input type="radio" id="paper" value="paper" name="selection">
<label for="paper">PAPER</label>
<input type="radio" id="scissors" value="scissors" name="selection">
<label for="paper">SCISSORS</label>
<input type="radio" id="rock" value="rock" name="selection">
<label for="paper">ROCK</label>
<input type="submit" value="Play"> 
