Choose your Weapon:

<form action='/outcome'>
  <input style="width:200px" type="image" src="http://bit.ly/21Ayl5R" value="rock">
</form>

<form action='/outcome'>
  <button type="Submit" value="paper">Paper</button>
</form>

 <form action='/outcome'>
  <button style="width:200px" type="image" src="http://bit.ly/1Raq3wu" value="scissors">Scissors</button>
</form>