<h1>Choose a weapon from the dropdown:</h1>
<form action="/choice" method="post">
  <select name="weapons">
    <% @weapons.each do |weapon| %>
      <option name="<%= weapon.to_s %>"><%= weapon.to_s.capitalize %></option> %>
    <% end %>
  </select>
</form>
