<%= @player_1.name %>
<br>
Select your weapon:
<br>
<form action="/play_computer" method="post">
  Rock:
  <input type="radio" name="weapon" id="Rock" value="Rock">
  Paper:
  <input type="radio" name="weapon" id="Paper" value="Paper">
  Scissors
  <input type="radio" name="weapon" id="Scissors" value="Scissors">
  <br>
  Play the computer:
  <input type="submit" value="Play">
  Or add another player:
  <input type="submit" value="Add player" formaction="/multiplayer">
</form>
