OK <%= $player.name %> - choose your weapon!
<br>
<br>
Rock, paper, scissors?
<br>
<br>
<form action="/choices" method="post">
  <button name="rock" type="submit" value="ROCK">ROCK</button>
  <button name="paper" type="submit" value="PAPER">PAPER</button>
  <button name="scissors" type="submit" value="SCISSORS">SCISSORS</button>
</form>
