<center>

<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

  <h1>
    Ok, <font color='<%=@name_colour%>'><%="#{@player_name}"%></font> Choose your weapon
  </h1>

  <form action='/result' method='post'>
    <input name='weapon' type='Submit' value='ðŸ‘Š' class='item' id='rock'>
    <input name='weapon' type='Submit' value='ðŸ¤š' class='item' id='paper'>
    <input name='weapon' type='Submit' value='âœŒï¸' class='item' id='scissors'>
  </form>

</center>
