<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: #99ccff
  }
</style>
</head>
<BODY>
  <center>
  <h1> Greetings, warrior. </h1>
  <h2> Register below: </h2>
  <form action="/names" method="post">
    <input type="text" name="name">
    <div class="button">
      <button type="submit">Click to register</button>
    </div>
  </form>
  </center>
</BODY>
</html>
