<b>Hello <%= @playername %> </b>
<p><h3>Welcome to rock paper scissor game</h3></p>

<form action='/game' method='POST'>
<input type='text' name='user_input'>
<input type='submit' value='Create'>
</form>