<h1>Welcome <%= $user1.name %> </h1>
<p><%= $user1.name %>: 0 pts </p>

<div style="display:inline-block">
  <form name="input" action="/play" method="post">
    <input type="submit" name="weapon" value="Rock">
    <input type="submit" name="weapon" value="Paper">
    <input type="submit" name="weapon" value="Scissors">
  </form>
</div>
