<h1>
  Hello welcome to rock, paper, scissors
</h1><br><br>
  Please select which mode you would like to play: <br>
<form action='/names'>
<input type='submit' value='One Player' name=mode>
<input type='submit' value='Two Player' name=mode>
</form>
