<br>
<center>
  <h1>Hello <%= @player1 %>! Let's play!</h1>
  <br>
  <br>
  <form action=/final method=get>
    <input type="submit" name="rock" value="rock">
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="paper" value="paper">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="paper" value="scissors">
  </form>
</center>

<br>
<center>
