<head>
<link rel="stylesheet" type="text/css" href="main_style.css">
</head>

<h1>Welcome to Rock Paper Scissor Lizard Spock!</h1>
<p>You will be playing against an advanced AI modeled on RPSLS masters.  
Please Enter your name and hit the button to begin your game</p>

<form action='/input_name' method='post'>
  <input type='text' id='name_field'
  placeholder='Insert your nickname' name='username'/>
  <button type='submit' id='play_button'>Start the Game!</button>
</form>
