<head>
<link rel="stylesheet" type="text/css" href="main_style.css">
</head>

<div>Welcome to Rock Paper Scissor Lizard Spock!</div>
<div>You will be playing against an advanced AI modeled on RPSLS masters.</div>
<div>Please Enter your name and hit Play! to begin your game</div>

<form action='/input_name' method='post'>
  <input type='text' id='name_field'
  placeholder='Insert your nickname' name='username'/>
  <button type='submit' id='play_button'>Start the Game!</button>
</form>
