<h1>Welcome to Rock, Paper, Scissors</h1>
<form action="/store_play_mode" method="post">
  <select name="play_mode">
    <option value="single_player">Single player</option>
    <option value="multiplayer">Multiplayer</option>
  </select>
  <button type="submit">Enter</button>
</form>
