<%= @player.name %>

<form action = '/choice' method = 'post'>

     <select name = 'option' id = 'choose'>
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
  <input type = 'submit' value = 'Submit'>
</form>

<form action='/choice' method = 'post'>
  <input type="submit" value="rock">
</form>
</div>
