<html>
  <body>
    <div>
      <h1>welcome <%= @name %>!</h1>
      <br></br>
      <h2>Make your choice!</h2>
      <br></br>
    </div>
    <div>
      <form action="/play" method="post">
      <input type="submit" value="rock" name="choice">
      <input type="submit" value="paper" name="choice">
      <input type="submit" value="scissors" name="choice">
      </form>
    </div>
  </body>
</html>
