<div style="text-align: center; margin-top: 100px">
  <h2>Thank you for signing up, <b><%= session[:username] %></b>!</h2><br>

  <a href="/vs_computer" style="text-decoration:none">
    Play with computer
  </a><br><br>
  <a href="/vs_friends" style="text-decoration:none">
    Play with friends
  </a>
</div>
