<p>
Welcome <%= @name %>
</p>

<form action='/play' method='post'>
  <input type='submit' value='Play ROCK'>
  <input type='submit' value='Play PAPER'>
  <input type='submit' value='Play SCISSORS'>
</form>
