<h1>Welcome <%= $user.name %> </h1>
<p><%= $user.name %>: 0 pts </p>

<div style="display:inline-block">
  <form action="/play">
    <input type="submit" value="Rock">
    <input type="submit" value="Paper">
    <input type="submit" value="Scissors">
  </form>
</div>
