<p>
Welcome <%= @name %>
</p>

<form action='/play' method='post'>
  <input name='move' type='submit' value='ROCK'>
  <input name='move' type='submit' value='PAPER'>
  <input name='move' type='submit' value='SCISSORS'>
</form>
