<head>
  <link rel="stylesheet" type="text/css" href="theme.css" />
</head>

<h1>Let's play RPS, are you ready <%= @player.name %>?</h1>

<form action=/play method="get" id="ready">
  <input type="submit" value="Begin game">
</form>
