<form>
  <body style="background-color:LIGHTCORAL;" style="font-family:verdana;">

    <!-- <img src='http://www.102interiors.co.uk/newpage'> -->
    <form action="/names" method="post">
    <div>
        <p>Welcome to the Game <%=@user_name%>

          <br>
        <input type="submit" name="submit" value="Submit!">
      </div>
</form>
