Welcome guys, let's play!
<br>
<br>

<form action="/play2" method="post">
  <select name="rpsGame" id="rpsGame">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>

  <select name="rpsGame2" id="rpsGame2">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <input type="submit" value="Submit">
</form>
