<h1>Rock, Paper, Scissors!</h1>

<form method="POST" action='/names'>

<div>
    <label for="player1">Player 1</label>
    <input type="text" id="player1" name="player1">
</div>

<div>
  <label for="player2">Player 2</label>
  <input type="text" id="player2" name="player2">
</div>

<div>
  <input id="submit-button" type="submit" value="Go!">
</div>
