Welcome <%= @player.name %>!

<form action = '/choice' method = 'post'>
  <!-- <input type="image" src="images/rock-19421_640.jpg" name="rock" id = 'rock'> -->
    <select name = 'weapon' id = 'choose'>
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
  <input type = 'submit' value = 'Submit'>
</form>
