<html>
<head>
  <title>Your RPS Game</title>
</head>
<body>
<h1>Welcome to your RPS Game!</h1>
<form action='/game' method='post'>
  <input type='text' name='player_name' id='player_name'><br>
  <br>
  <input type='submit' value='Sign In' id='sign_in'>
</form>
</body>
</html>
