<h1>Welcome to RPS, <span style="color: red"><%= @player_name %>!</span></h1>
<h2>Here are the rules:</h2>
<p>Scissors beats Paper.
  Paper beats rock.
  Rock beats scissors.</p>
<form action="/game">
  <input type="submit" value="I'm Ready!">
</form>
