<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0JoAY_x7SXGO-83MNDwl2P9dtk3dU_wOAVydfd_FviRtTeoi-iA">
  <hr style="height:250px; visibility:hidden;" />
  <center>
    <font size="40" color="white"> Welcome <%= @name %>! </font>
    <form action='/game' method="get">
    <input type="submit" value="Play" id="play">
  </form>
</body>
