<h1>Rock, Paper, Scissors!</h1>

<form method="POST" action='/create-player'>

<div>
  <label for="player">Player Name</label>
  <input type="text" id="player" name="player">
</div>

<div>
  <input id="submit-button" type="submit" value="Go!">
</div>
