<form>
  <body style="background-color:LIGHTCORAL;" style="font-family:verdana;">

    <!-- <img src='http://www.102interiors.co.uk/newpage'> -->
    <form action="/names" method="post">
    <div>
        <h1>Welcome to the Game <%=@user_name%></h1>
        <br>
        <h2>Please choose your weapon</h2>

        <button name="subject" type="submit" value="Rock">Rock</button>
        <br>        <br>
        <button name="subject" type="submit" value="Paper">Paper</button>
        <br>        <br>
        <button name="subject" type="submit" value="Scissors">Scissors</button>
      </div>
</form>
