<h1> Welcome <%= @player_name %>! Let's start the game. </h1>

<h2> What is your move? </h2>

<form action="/game" method="post">
  <input type="radio" id="Rock" name="move" value="Rock">
  <label for="Rock"> Rock</label><br>
  <input type="radio" id="Paper" name="move" value="Paper">
  <label for="Paper"> Paper</label><br>
  <input type="radio" id="Scissors" name="move" value="Scissors">
  <label for="Scissors"> Scissors</label><br>
  <input type="submit" value="Submit">
</form>
