<h1> Welcome to the game <%= @player_name %> </h1>

<h2> Rules for the Game are: <h2>

<img src="https://d14nx13ylsx7x8.cloudfront.net/lesson_image_blocks/assets/000/003/357/original/rock-paper-scissors.png" alt="Rock kills Scissors, Scissors kill Paper, Paper kills Rock" height="500" width="500"/>

<form action='/game' method='post'>
  <input type='submit' value='Start Game'>
</form>
