<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: #99ccff
  }
</style>
</head>
<BODY>
  <center>
  <h1> Greetings, warrior. </h1>
  <h2> Register below: </h2>
  <form action="/birthday" method="post">
    <input type="text" name="name">
    </form>
  </center>
</BODY>
</html>
