<div>
  <p> Let's play Roshambo, <%= @player_name %> ! </p>
  <p> Select one option: </p>
  <select id='move'>
    <option value='rock'> Rock </option>
    <option value='scissors'> Scissors </option>
    <option value='paper'> Paper </option>
  </select>
</div>