<H1>ROCK || PAPER || SCISSORS</h1>
<h2>Welcome to the game, 
<%= @name %></h2>

<form action='/newgame' method="post">
  <input type="submit" name="submit" value="Rock" id="pick" checked/>
  <input type="submit" name="submit" value="Paper" id="pick"/>
  <input type="submit" name="submit" value="Scissors" id="pick" />
</form>