<h1> <%= @player_name %>, you chose <%= @players_move %> </h1>

<h1> Computer chose <%= @computer_move %> </h1>

<h1> <%= @the_winner %> wins! </h1>

<form action='/'>
  <input type="submit" value='New Game'>
</form>