<!DOCTYPE html>

<html>
	<body>
		<%= @game.player.name %> chose <%= @game.player.weapon.to_s.capitalize %>
		<br>
		The Computer chose <%= @game.computer_weapon.to_s.capitalize %>
		
		<h2>You chose wisely. <%= @game.player.name %> wins!</h2>
		Don't get too excited. It was probably just a fluke.
		<br>
		<form action="/play" method="get">
			<input type="submit" value="Rematch!">
		</form>
	</body>
</html>