<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:lightyellow;">
    <div align='center'>
      <h1> <%= @player_1_name %> chooses <%= @weapon_choice %></h1>
      <font color="red"><h1> Computer chooses <%= @computer_choice %></h1></font>
      <h1><%= @player_1_name %> wins!!</h1>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCnmwxXL4URBHQepOtes5BmvdRHNALUcr_Lp5xEh-tP5fr2AH_">
      <h4>You were lucky chump. Wanna try again?</h4>

      <form action="/play">
        <input type="submit" value="Bring it on">
      </form></br>

      <form action="/">
        <input type="submit" value="Maybe next time">
      </form>
    </div>
