<body style="background-color:beige;font-family:verdana;text-align: center;">
<h1 style="color:goldenrod">MAMA Rock, Paper, Scissors</h1>
<br></br>

<h2><%=@player_name%> wins</h2>
<br></br>

<h3 style="color:darkblue;font-style: italic"><%=@player_name%> picked <%=@player_move%></h3>
<br></br>

<h3 style="color:crimson;font-style: italic"> The computer picked <%=@computer_move%> </h3>
<br></br>

<form action="/play">
    <input type="submit" value="Play again?">
 </form>

</body>