<h2 style="color:brown;text-align:center;font-family: 'Lucida Console', Courier, monospace;background-color: lightblue;">WOW! you are really good at this! <%= @game.player.name %> wins!</h2>

<h3 style="color:brown;text-align:center;font-family: 'Lucida Console', Courier, monospace;background-color: lightblue;"> <%= @game.player.name %>'s <%= @game.player.the_move %> kicked computer's <%= @game.bot.the_move %>'s butt</h3>

<form action="/play" style="color:brown;text-align:center;background-color: lightblue;"> 
<input type="submit" value="Play again?"> 
</form>