<h1> <%= @player_1_name %> chooses <%= @weapon_choice %></h1>
<h1> Computer chooses <%= @computer_choice %></h1>
<h1><%= @player_1_name %> wins!!</h1>

<h3>You were lucky chump. Wanna try again?</h3>
<form action="/play">
  <input type="submit" value="Bring it on">
</form>

<form action="/">
  <input type="submit" value="Maybe next time">
