<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= @player %> wins</title>
  </head>
  <body>
  <div>
    You chose <%= @player_choice %>
    Congratulaions, you won!
  </div>
  </body>
</html>
