<div>
<% if @game.comp_move == 0 %>
Computer chose Rock!
<% elsif @game.comp_move == 1 %>
Computer chose Paper!
<% else %>
Computer chose Scissors!
<% end %>
</div>

<div>
<%= @game.player.name %>...you win! <br>
</div>

<form action="/play">
  <input type="submit" value="Play again?">
</form>

<div>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsBbeks1WzoLOvbmJgtPKU3hRv4-mOpeni8g&usqp=CAU'>
</div>
