<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <h1 style="color: green">Congratulations, you won!</h1>
    <p>Computer chose <%=@comp_wp%></p>
    <p>You chose <%=@player_wp%></p>
      <form action="/play">
        <div>
          <input id="rematch-button" type="submit" value="Rematch">
        </div>
      </form>
      <form action="/">
        <div>
          <input id="change-player-button" type="submit" value="Change Player">
        </div>
      </form>
</body>
</html>
