<html>

<head>
</head>

<body>

  <h1>You have ...... WON!</h1>

  <div class="play_again">

    <form action="/play" method="get">
      <input type="submit" value="Play Again" />
    </form>

  </div>

  <div class="new_game">

    <form action="/" method="get">
      <input type="submit" value="New Challenger" />
    </form>

  </div>

</body>

</html>
