<html>
<head>
<style>
body {
  background-image: url('https://thumbs.dreamstime.com/z/you-win-banner-retro-winner-congratulation-glowing-light-bulbs-golden-confetti-burst-purple-background-winners-164212283.jpg');
}
</style>
</head>
<body>
<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="font-family:verdana;">Would you like to play again? </h1>
<form action='/rps'>
<input type="submit" value="Of Course!">
</form>
</center>
</body>
</html>