<html>

<head>
  <link rel="stylesheet" href="public/reset.css" />
  <link rel="stylesheet" href="css/style3.css" />
</head>

<body>

  <h1>You have ...... WON!</h1>

  <div class="buttons">

    <div class="play_again">

      <form action="/play" method="get">
        <input type="submit" value="Play Again" />
      </form>

    </div>

    <div class="new_game">

      <form action="/" method="get">
        <input type="submit" value="New Challenger" />
      </form>

    </div>

  </div>

  <img src="https://image.spreadshirtmedia.net/image-server/v1/designs/12011577,width=178,height=178,version=1385103525/piedra,-papel-o-tijera-v2.png">

</body>

</html>
