<h1>
<%= @game.player_1.name %>
<br/>
<h2>You win!</h2>
    <img class="myimg" src="/win.jpg"/>
</h1>

<h2><%= @game.player_1.name%>: <%= @game.player_1.weapon%></h2>
<h2>Computer: <%= @game.player_2.weapon%></h2>

<a href=/play>Play again</a>
<br/>
<a href=/>Quit</a>
