<html>
  <body>
    <h1><%= @player.name %> chose <%= @player.weapon.capitalize %>: Computer chose <%= @game.computer.weapon.capitalize %></h1>
    <h2>You win!</h2>
    <br>
    <a href='/play'><button>Play Again</button></a>
  </body>
</html>
