<html>
  <h1>Congrats mate- you've won!!! FUCK YEAH</h1>
  <h2>Specifically, you beat the shit out of the computer's choice of <%=  @game.computer_choice %>
    with a wonderfully clever choice of <%= @game.player_choice %></h2>
  <form action="/play" method="get">
    <input type="submit" value="Try again?">
  </form>
</html>
