<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
<link rel='stylesheet' href='style.css' />
</head>

<body class="text-center">

<h1>You Won!!!</h1><br>

<h2><%= @game.player_1.name %> chose: <%= @game.player_1.choice.upcase %> <br>
  <br>
Computer chose: <%= @game.player_2.current_choice.upcase %></h2> <br>
  <br>

<form action="/play" method="get">
  <button class="btn"> REPLAY </button>
</form>

</body>
