<h1> <%= $game.winner.weapon %> beats <%= $game.loser.weapon %>, <%= $game.winner.name %> has won!</h1>

<form action='/choose_opponent' method='Get'>
  <input type='submit' value='Play again?'></input>
</form>
