You won!
<br>
<%= @player.name %> picked: <%= @player.move.to_s.capitalize %><br>
<%= @computer.name %> picked: <%= @computer.move.to_s.capitalize %><br>

<form action="/play">
  <input type="submit" value="Play Again">
</form>