<html>
  <head>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
<h1>Computer choice is: <%=@counter%>. <br> You win! :)</h1>
<a href="/present_moves">Play again</a>
</body>
</html>
