<div class="centered">

  <h1>Outcome</h1> 
  <br><br>

  <%=@game.win%> has won! 
  <br>

  <form action='/weapons' method='get')>
    <button type='Submit'>Next Round</button>
  </form>

  <br><br>

  <%=@game.display_score%>

<div>