<body>
  <div class="upper">
    <h1>
      <p>Congratulations!</p>
      <p>You won!</p>
    </h1>
  </div>
</body>

<style>

body {
  background-image: url('http://campusriot.com/wp-content/uploads/2014/03/Bobs-Burgers-Season-4-Episode-15-The-Kids-Rob-a-Train.png');
  background-repeat:no-repeat;
  background-size:cover;
}

.upper {
  color: #000000;
  text-align: right;
  padding-right: 30px;
  padding-top: 175px;
  font-family: 'Monaco', monospace;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 50px;

}

.middle {
  color: #0B3240;
  text-align: center;
  font-family: 'Monaco', monospace;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36.3px
}

.lower {
  text-align: center;
}

input[type="text"] {
  border-style: solid;
  border-width: 2px;
  border-color: #16647F;
  justify-content: center
}

input[type="submit"] {

}
</style>
