<p style="text-align:center">&nbsp;</p>
<p style="text-align:center">
<span style="font-size:28px">
  <span style="font-family:Arial,Helvetica,sans-serif"><%= @game.player.name %> chose <%= @game.player_choice.type %>
  <br>
  Computer chose <%= @game.computer.weapon_choice %></span>
</span></p>
<p style="text-align:center">
  <span style="font-size:28px">
    <span style="font-family:Arial,Helvetica,sans-serif">Congratulations, <%= @game.player.name %> you won!</span>
  </span>
</p>

<p style="text-align:center">&nbsp;</p>

<center><img src="/images/winner.gif" width="300" height="300">
<br>
<br>

<form action='/choose' method='get'>
  <input type='submit' value='Play again'>
</center>
