<h3> <%= $player1.name %> chose <%= @player1_move %> </h3>

<h3> <%= $player2.name %>  chose <%= @player2_move %> </h3>

<h4> You win! Congratulations</h4>

<img src="https://i.imgur.com/UR2WcJg.jpg" title="source: imgur.com" /></a>