<h2><%= @game.player_1.name%>: <%= @game.player_1.weapon%> vs Computer: <%= @game.player_2.weapon%></h2>
<h2>You won!</h2>
<img class="myimg" src="/win.jpg"/>
</br>
<a href=/play>Play again</a>
<br/>
<a href=/>Quit</a>
