<h1><%= @name %> wins!</h1>

<a href="/" id="Restart">
   <button>Restart</button>
</a>

<a href="/play" id="Restart_Single">
   <button>Restart singleplayer game</button>
</a>

<a href="/multiplayer" id="Restart_Multi">
   <button>Restart multiplayer game</button>
</a>