<h2>WOW! you are really good at this! <%= @game.player.name %> wins!</h2>

<h3> <%= @game.player.name %>'s <%= @game.player.the_move %> kicked computer's <%= @game.bot.the_move %>'s butt</h3>

<form action="/play"> 
<input type="submit" value="Play again?"> 
</form>