<h2>In this round of RPS: <%= @name1 %> vs. <%= @name2 %>, <%= @name1 %> is the WINNER!</h2>
<img class="front-picture" src="http://www.quickmeme.com/img/c1/c1381acb087f06fd1dbe807277927b86a41f49d5175773e4d0287d95232590c0.jpg">
