<h1> <%= @game.player.name %> picked <%= @game.selection %> </h1>
<h1> Computer picked <%= @game.computer_choice %> </h1>
<h2> <%= @game.player.name %> won! </h2>

<img src="https://i.pinimg.com/originals/4b/2d/52/4b2d5254b52912811129713a00203ffe.gif"/>