    <h1>YOU WIN!</h1>
    <h2>Computer chose <%= computer_choice() %></h2>
    <h2>You chose <%= player_choice() %></h2>
    <br>
    <form class = "upper" action=/welcome method=get>
      <button type=submit value=AGAIN class="btn btn-primary">PLAY AGAIN?</button>
    </form>
