<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
          <h1><%= @outcome %> Wins!</h1>
    </div>

    <div class="">
      <form class="" action="/play">
            <input type="submit" name="" value="Play again?">
      </form>
    </div>

  </body>
</html>
