<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>

<body>
  <div>
    <p>won</p>
    <br>
    <h1><%= @winner %></h1>
    <form action="/" method="get">
      <input type="submit" value="Try Again">
    </form>
  </div>
</body>
