<p><%= Rps.game.player.name %>: <%= Rps.game.player.selection %></p>

<p>Opponent: <%= Rps.game.selection %></p>

<%if Rps.game.decision.decide == :playerwin %>

<p>You win!</p>

<%elsif Rps.game.decision.decide == :playerlose %>

<p>You lose!</p>

<%else%>
<p>It's a draw!</p>

<% end %>

<form action='playagain'>
  <button>
    Play again!
  </button>
</form>
