<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div>
    <h1>The battle is finished!</h1>
    <h2>You chose <%= @game.player1.weapon%></h2>
    <h2>The computer chose <%= @game.player2.weapon%></h2>

    <h2>You... <%= @game.result%>!</h2>

  </div>
</body>
</html>
