<h1>Congratulations</h1>

<h2><%= $result %> </h2>

<h3>Your adversary chose <%= @game.r_move %> and you chose <%= @game.move %></h3>

<img src="https://raw.githubusercontent.com/frodri13/rps-challenge/master/img/winner.jpeg" />