<div>
  __@name__ choose <%= @player_choice %><br>
  Computer  choose <%= @computer_choice %> <br>
  <%= @player_choice %> beat <%= @computer_choice %>
</div>

<div>
  <form action="/" method="get">
    <input type="submit" value="Play again!">
  <form>
</div>
