<html>
<head>
<title>Winner</title>
</head>
<body style="background-color:orange; text-align: center;">

<form action="/compare" method="post">

<h1 style="font-size:50px;; ">The winner is: </h1>

</body>
</html>
