<html style="text-align: center; font-family: Arial; color: Navy">

  <h2>Your choice: <%= @game.choice %></h2>
  <h2>Computer's choice: <%= @game.comp_choice %></h2>

  <h1><%= @game.winner %> wins!</h1>

</html>
