<center>
Your opponent has chosen <%= @opponent %>

<br>
<br>

<%= @winner %>
<br>
<br>
would you like to try again?
<br>
<form action="/selection" method="post">
<input type="submit" value="Yes">
</form>
</center>
