<div>
  __@name__ choose <%= @choice%><br>
  Computer  choose _something_ <br>
  <%= @choice %> beat <%= @choice %>
</div>

<div>
  <form action="/" method="get">
    <input type="submit" value="Play again!">
  <form>
</div>
