<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='style/winner_style.css' type="text/css" rel='stylesheet'/>
    <title>Winner</title>
  </head>
  <body>

    <h1>Opponent played <%=@game.opponent_hand%></h1>

    <h1><%= @game.result %></h1>
  </body>
 </html>
