WINNER DECLARED:

<p> <%= (session[:game]).player.name %> chooses <%= (session[:game]).player.weapon %> </p>
<p> Computer chooses <%= (session[:game]).opposition %> </p>
    <%= session[:game].winner %>
