  <body class="result">
    <section class ="player_choice">
      You chose: <span><%= @player_1_choice %></span></br>
    </section>
    <section class ="computer_choice">
      The computer chose: <span><%= @computer_choice %></span></br>
    </section>
    <section class="outcome">
      <%= @outcome %>!
    </section>
  </body>