<div>
  You called <%= @game.choice %>, Mr.Squiggles called <%= @game.random %>
  Congrats, you WON! Mr.Squiggles is sad... you meanie<br>
  <a class="btn" href="/start">START AGAIN</a><br>
  <a class="btn" href="/">START WITH NEW NAME</a>
</div>
<link rel="stylesheet" type="text/css" href="/styling.css" >
