<div style='color: #dd3b2a; font-size: 40px; font-weight: 500'>
Result of match between <%= @game.player_name %> and RPS-Bot:
</div>
<BR>
<BR>
<%= @game.player_name %>, you won the match against RPS-Bot!
<BR>
<BR>
<%= @game.player_choice %> beats <%= @game.computer_choice %>!
