<%= @player_name %>
<form action='/your_choice' method='post'>
  <input name='rock' value='false'>
  <input name='paper' value='false'>
  <input name='scissors' value='false'>
  <input type='submit' name='rock' value='true'>
  <input type='submit' name='paper' value='true'>
  <input type='submit' name='scissors' value='true'>
</form>
