<h2>Hi <%= @player.name %>😀</h2>
Please choose your move: <br/>
<form action='/your_choice' method='post'>
  <input type='submit' name='play_option' value='rock'>
  <input type='submit' name='play_option' value='paper'>
  <input type='submit' name='play_option' value='scissors'>
</form>
