body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* input, label {
  display: block;
} */

form {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: inline-block;
  align-items: center;
  /* width: 50%; */
}

input[type=text] {
  border: none;
  padding: 10px 10px;
  margin-bottom: 10px;
}

input[type=number] {
  border: none;
  padding: 10px 10px;
}

input[type=submit], input[type=reset] {
  border: none;
  border-radius: 7px;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit] {
  background-color: green;
}

input[type=reset] {
  background-color: red;
}

select {
  border-radius: 6px;
  border: none;
  padding: 10px 14px;
  background-color: #f1f1f1;
}