body {
	background-image: url('https://i.ytimg.com/vi/5jZ8OjJHLTw/maxresdefault.jpg');
	background-size: 100%
}


h1 { text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: yellow;
    word-spacing: 10px;
    text-shadow: 3px 5px green;
    font-size: 70px;
}

input[type="submit"]:hover {
	border: none;
	background-color: yellow;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

h2 {  text-align: center;
      font-family: "Lucida Console", Monaco, monospace;
	    color: yellow;
      word-spacing: 10px;
      text-shadow: 3px 5px green;
      font-size: 40px;
}

form {
    margin: 0 auto;
    width: 400px;

}

select {
        font-family: "Lucida Console", Monaco, monospace;;
        width: 400px;
        box-sizing: border-box;
        border: 1px solid #999;
        color: green;
}

label {
    font-family: "Lucida Console", Monaco, monospace;
    color: yellow;
    text-align: center;
    word-spacing: 10px;
    text-shadow: 3px 5px green;
}

input {
  font-family: "Lucida Console", Monaco, monospace;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #999;
  color: green;
}

a:link, a:visited {
    color: green;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
}
