body {
  background-image: url(/images/congruent_outline.png);
  text-align: center;
  color: white;
  font-family: Papyrus, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: italic;
	font-weight: 500;
	line-height: 30px;
  margin-top: auto;
  padding: 40px;
}

#player-name {
  width: 200px;
  text-align: center;
}

#reg-button {
  padding: 18px;
}

#register-button {
  font-size: 36px;
}

#rps-image {
  padding: 14px;
}

#row {
  padding-top: 50px;
}

#weapon-button {
  font-size: 20px;
  margin: 20px 30px 20px 20px;
  width: 100px;
  height: 20px;
  color: blue;
}

#img-rps {
  height: 200px;
  margin-right: 30px;
}

#rematch-button {
  font-size: 20px;
  margin: 20px 30px 20px 20px;
  width: 100px;
  height: 20px;
}

#change-player-button {
  font-size: 20px;
  margin: 20px 30px 20px 20px;
  width: 140px;
  height: 20px;
}
