* {
  padding: 0;
  margin: 0;
  font-family: impact;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  background-color: cornsilk;
  font-weight: 900;
  color: rgb(80, 80, 80)
}

h1 {
  font-size: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
}

h2 {
  font-size: 60px;
  margin-top: 40px;
}

input {
  border-radius: 100px;
  font-size: 40px;
  padding: 40px;
  font-size: 70px;
  margin-top: 70px;
}

.player {
  text-align: left;
  margin-left: 200px;
}

.computer {
  text-align: right;
  margin-right: 200px;
}
