

form {
text-align: left;
font-size: 3.5vw;
font-family: Arvo;
color: #4D4645;
}

input {
  font-family: Arvo;
  color: #4D4645;
  height: 20%;
  font-size: 3.5vw;
  background-color: #EFECEC;
  border: none;
}

input:hover {
    color: #181615;
    cursor: pointer;
}
