div.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f0f0f0;
}

div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 15px;
  color: #545454;
  text-align: center;
}

form input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #666;
}

form input[type=text]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px rgba(127,127,127, 1);
  border: 1px solid rgba(127,127,127, 1);
}

form input.formBtn:hover {
	background-color:#ccc;
}

form input.form-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  height: 33px;
  font-size: 13px;
  line-height: 15px;
  padding: 0 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(#545454 31%, #2b2b2b 95%);
  border: 1px solid #2b2b2b;
  color: white;
  margin: 20px 0;
}


ul li {
  list-style: none;
}


/* Error msg styles */
.error {
  color: red;
  font-size: 12px;
}


/* 'lights' blink effect animation */
.flashit {
  color: #ffc125;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
