div.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f0f0f0;
}

div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 15px;
  color: #545454;
  text-align: center;
}

form input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #666;
}

form input[type=text]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px rgba(127,127,127, 1);
  border: 1px solid rgba(127,127,127, 1);
}

form input.formBtn:hover {
	background-color:#ccc;
}

form input.form-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  height: 30px;
  line-height: 16px;
  padding: 0 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(#545454 31%, #2b2b2b 95%);
  border: 1px solid #2b2b2b;
  color: white;
  margin: 20px 0;
}


ul li {
  list-style: none;
}



/* Error msg styles */
.error {
  color: red;
  font-size: 12px;
}


/* 'lights' blink effect animation */
.flashit {
  color: #ffc125;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

/*.start-button {
  margin: 0 auto;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  background-color:#ccc;
  border:1px solid #212121;
  width:80px;
  height:40px;
}

.start-button a {
  color:#212121;
  text-decoration:none;
}*/
