html { font-family: 'Helvetica', sans-serif; }
h1, h2, h3, h4 {
  font-family: 'Helvetica', sans-serif;
}

/* CLASSES */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign_in_label {
  display: flex;
  align-items: center;
  margin-bottom: 12;
}

.sign_in_input {
  margin-left: 12;
}

.sign_in_button {
  margin:0px auto;
  display:block;
}
