html, body {
  animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
  0%		{ background-color: rgb(255, 235, 123);}
  25%		{ background-color: #ec9b30;}
  50%		{ background-color: #dd6e52;}
  75%		{ background-color: #ec9b30;}
  100%	{ background-color: rgb(255, 171, 116);}
}


* {
  font-size: 70px;
  font-weight: 900;
  font-family: impact;
  color: rgb(80, 80, 80);
  text-align: center;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: fixed;
}

.intro {
  margin-top: 80px;
  margin-left: 100px;
  text-align: left;
}

.name {
  font-size: 250px;
  margin-top: 80px;
  margin-left: 700px;
}

input {
  margin-left: 300px;
  margin-top: 250px;
  border-radius: 80px;
  padding: 60px;
  color: rgb(82, 82, 82);
  background-color: burlywood;
  box-shadow:0 0 15px 4px;
  margin-bottom: 150px;
}
