* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 65px;
  margin: 50px;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 30px;
  letter-spacing: 5px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}

.item1 {
  /* background-color: cadetblue; */
}

.item2 {
  /* background-color: salmon; */
  justify-self: center;
}

.item3 {
  /* background-color: royalblue; */
}

.item4 {
  background-color: orange;
}

.item5 {
  background-color: cadetblue;
}

.item6 {
  background-color: cadetblue;
}

.choice-btn {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

  