* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 65px;
  margin: 50px;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 30px;
  letter-spacing: 5px;
}

.container {
  display: grid;
  grid-template-columns: 8fr 4fr 8fr;
  justify-items: center;
  align-items: center;
}

.item1 {
  border: 3px solid black;
  text-align: center;
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bolder;
}

.item2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.item3 {
  border: 3px solid black;
  text-align: center;
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bolder;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 4;
  animation-timing-function: linear;
}


#showMe {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

.result-message {
  font-size: 25px;
}

.play-again-btn {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}


img {
  width: 90%;
  height: auto;
}