html {
    font-family: Barrio, cursive;
    color: white;
    background-color: #D34644;
}

body {
    height: 90vh;
    width: 90vw;
    margin: auto;
}

#title-box {
    font-size: 65px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

#subtitle-box {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

form {
    margin: auto;
    width: 100%;
    text-align: center;
    border: solid 1px transparent;
}

#form-box {
    margin: auto;
    text-align: center;
}

#name-box {
    background-color: transparent;
    color: white;
    font-family: Barrio, cursive;
    text-align: center;
    outline: none;
    resize: none;
    -webkit-appearance: none;
    border: solid 1px transparent;
    border-bottom: dotted 4px white;
    width: 280px;
    height: 50px;
}

#rounds_question_box {
    padding-top: 30px;
    font-size: 45px;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 10px;
}

#rounds_option_box {
    padding-top: 100px;
    margin: auto;
    width: 100%;
    text-align: center;
}

#rounds_option_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 250px;
}

li {
    display: inline
}

#submit-button {
    border: solid 1px transparent;
    -webkit-appearance: none;
    background-color: transparent;
    font-family: Barrio, cursive;
    font-size: 35px;
    color: white;
    padding-top: 40px;
}

#submit-button:hover {
    -webkit-text-fill-color: #D34644;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

input {
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    -webkit-text-fill-color: #D34644;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}