/* forms */
input {
  text-align:center;
}

input[type="name"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.form-signin {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* Utility helpers */
.spacing-div {
  height: 20px
}
