@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.main-div{
	font-family: 'Fjalla One', sans-serif;
	max-width: 800px;
	margin: 10px auto;
	padding: 16px;

}

p	{
	font-family: 'Fjalla One', sans-serif;
	margin-left: 1.66%;
	font-size: 22px;
	font-weight: 400;
  color: white;
	/* text-transform: uppercase; */
	/* border-bottom: 2px solid #f1f1f1; */
	/* width: 30%; */
	/* padding-bottom: 20px; */
}

label	{
	font-family: 'Fjalla One', sans-serif;
	margin-left: 1.66%;
	font-size: 22px;
	font-weight: 400;
  color: white;
	/* text-transform: uppercase; */
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

h1	{
	font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  color:white;
  text-align: center;

}
body {
  background-image: url("/images/abstract-art-astronomy-220071.jpg");
  background-color: #cccccc;
  font-family: 'Fjalla One', sans-serif;
	margin-left: 1.66%;
	font-size: 22px;
	font-weight: 400;
  color: white;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: gamevariant; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: howmany; }
.item7 { grid-area: classic2; }
.item8 { grid-area: spock2; }
.item9 { grid-area: single; }
.item10 { grid-area: multi; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header  '
    'header header header header  '
    'menu gamevariant gamevariant right '
    'menu classic2 spock2 right'
    'menu howmany howmany right '
    'menu single multi right';
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.cc-selector input[type=radio]{
    display:none
}

/* label[for="spock1"]
{
    display:none;
}

label[for="classic1"]
{
    display:none;
} */

cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.classic{
  background: url(/images/spritesheet_trans5.png) -150px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}
.spock{
  background: url(/images/spritesheet_trans5.png) -5px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    /* background-size:contain; */
    background-repeat:no-repeat;
    display:inline-block;
    width: 135px;
    height: 110px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:monospace; }
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }


/*
gametype-div input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.gametype-div-2 input{
    position:absolute;
    z-index:999;
}

.classic{
  background: url(/images/spritesheet_trans5.png) -150px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}
.spock{
  background: url(/images/spritesheet_trans5.png) -5px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}

.gametype-div-2  input:active +.option_cc, .gametype-div input:active +.option_cc{opacity: .9;}
.gametype-div-2  input:checked +.option_cc, .gametype-div input:checked +.option_cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.option_cc{
    cursor:pointer;
    /* background-size:contain; */
    /* background-repeat:no-repeat;
    display:inline-block;
    width: 135px;
    height: 110px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.option_cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
} */

/* Extras */
/* a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:monospace; }
.gametype-div-2 input{ margin: 5px 0 0 12px; }
.gametype-div-2  label{ margin-left: 7px; }
span.cc{ color:#6d84b4 } */ */

.radios .spock{
    background: url(/images/spritesheet_trans5.png) -5px -5px;
    display:inline-block;
    width: 135px;
    height: 110px;
}
.radios .spock input[type="radio"]:checked {
  background: url(/images/spritesheet_trans5.png) -730px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}

.radios .classic{
  background: url(/images/spritesheet_trans5.png) -150px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}

.radios .classic input[type="radio"]:checked {
  background: url(/images/spritesheet_trans5.png) -585px -5px;
  display:inline-block;
  width: 135px;
  height: 110px;
}

.radios input[type=radio]{
    display:none
}



/* .radios input[type=radio]:checked + .radio{
    background-color:#241009
} */

.rpsls {
  cursor: pointer;
    width: 135px;
    height: 110px;
    border-style: none;
    background: url(/images/spritesheet_trans5.png) -5px -5px;
}

.rps {
  cursor: pointer;
    width: 135px;
    height: 110px;
    border-style: none;
    background: url(/images/spritesheet_trans5.png) -150px -5px;
}

.robot {
  cursor: pointer;
    width: 135px;
    height: 110px;
    border-style: none;
    background: url(/images/spritesheet_trans5.png) -295px -5px;
}

.human {
  cursor: pointer;
    width: 135px;
    height: 110px;
    border-style: none;
    background: url(/images/spritesheet_trans5.png) -440px -5px;
}

  .rock_btn {
    cursor: pointer;
      width: 135px;
      height: 110px;
      border-style: none;
      background: url(/images/spritesheet_trans5.png) -875px -5px;
  }

  .paper_btn {
    cursor: pointer;
      width: 135px;
      height: 110px;
      border-style: none;
      background: url(/images/spritesheet_trans5.png) -1020px -5px;
  }

  .scissors_btn {
    cursor: pointer;
      width: 135px;
      height: 110px;
      border-style: none;
      background: url(/images/spritesheet_trans5.png) -1165px -5px;
  }

  .lizard_btn {cursor: pointer;
      width: 135px;
      height: 110px;
      border-style: none;
      background: url(/images/spritesheet_trans5.png) -1310px -5px;
  }

  .spock_btn {cursor: pointer;
      width: 135px;
      height: 110px;
      border-style: none;
      background: url(/images/spritesheet_trans5.png) -1455px -5px;
  }

  /*  */
  .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 150px 400px 400px 150px;
    grid-template-rows: 100px 100px 250px 100px 250px;
    grid-gap: 1px 1px;
    grid-template-areas: "welcome welcome welcome welcome" ". gamevariant-title gamevariant-title ." ". rps rpsls ." ". gametype-title gametype-title ." ". single multi .";
  }

  .welcome {
    display: grid;
    grid-area: welcome;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-gap: 1px 1px;
    grid-template-areas: ".";
    text-align: center;
  }

  .gamevariant-title {
    display: grid;
    grid-area: gamevariant-title;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: ".";
  }

  .rps {
    display: grid;
    grid-area: rps;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "." "rps-btn";
  }

  .rps-btn { grid-area: rps-btn; }

  .rps-title { grid-area: 1 / 1 / 2 / 3; }

  .rpsls {
    display: grid;
    grid-area: rpsls;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "." ".";
  }

  .rpsls-title { grid-area: 1 / 1 / 2 / 3; }

  .rpsls-btn { grid-area: 2 / 1 / 3 / 3; }

  .gametype-title {
    display: grid;
    grid-area: gametype-title;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: ".";
  }

  .single {
    display: grid;
    grid-area: single;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "." ".";
  }

  .single-btn { grid-area: 1 / 1 / 2 / 3; }

  .single-title { grid-area: 2 / 1 / 3 / 3; }

  .multi {
    display: grid;
    grid-area: multi;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "." ".";
  }

  .multi-btn { grid-area: 1 / 1 / 2 / 3; }

  .multi-title { grid-area: 2 / 1 / 3 / 3; }
