
body {
  margin: 0;
  font-size: 20px;
}

.container {
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
background-color: rgb(179, 217, 255);
}

#Title {
  font-size: 90px;
}

.restart-button {
  -webkit-border-radius: 100;
  -moz-border-radius: 100;
  border-radius: 100px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 18px;
  background: #11527a;
  padding: 7px 20px 7px 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.restart-button:hover {
  border: none;
  background: #11527a;
}

.weapon-button {
  border: none;
  background: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.weapon-button:hover {
  border: none;
  background: rgb(204, 230, 255);
}
