/* reference for centering things:
http://www.tipue.com/blog/center-a-div/ */

body {
  background-color: paleturquoise;
  font-family: fantasy;
  min-width: 1110px;
}

a {
  text-decoration: none;
}

h1 {
  color: cadetblue;
}

h1, p {
  text-align: center;
}


.bodytext {
  font-size: 1.3em;
  color: darkorchid;
}

.bordered {
  border-color: cadetblue;
  border-width: 1em;
  border-style: double;
}

.center-element
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} 

#sign-in {
  padding-top: 5em;
  width: 700px;
  height: 350px;
}

input {
  display: block;
  margin: auto;
}
.name-input {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

#name-submit-button {

  width: 9em;
  font-weight: bold;
  font-size: 1.25em;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#choices {
  display: flex;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: auto;
}

.rps-choice
{
    background-color: white;
    text-align: center;
    padding-top: 45px;
    min-width: 310px;
    height: 250px;
}

.choice-text {
  font-weight: bold;
}