body {
	background:rgb(73, 121, 241);
	color:transparent;
}

h2 {
  margin:50px 0;
  text-align: center;
  font-size:60px;
  font-family: 'Press Start 2P', cursive;
	color:#FFF
}

h3 {
  margin:50px 0;
  text-align: center;
  font-size:20px;
  font-family: 'Press Start 2P', cursive;
	color:#FFF
}


.button {
  background-color: rgb(73, 121, 241);
  color: white;
  font-family: 'Press Start 2P', cursive;
  border: 4px solid white;
  width: 200px;
	height: 75px;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
}

.button:hover {
  background-color: white;
  color: rgb(73, 121, 241);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}
 
.spockbutton {
  background:url('https://vignette2.wikia.nocookie.net/vsbattles/images/4/49/Spocks.png/revision/latest/window-crop/width/200/x-offset/0/y-offset/39/window-width/300/window-height/150?cb=20160501151337') no-repeat;
  color: white;
  font-family: 'Press Start 2P', cursive;
  border: 4px solid white;
  width: 200px;
	height: 75px;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
}

.spockbutton:hover {
  background-color: white;
  color: rgb(73, 121, 241);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

input[type=text] { 
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  width: 200px;
	height: 65px;
  border:4px 
  solid rgb(255, 255, 255); 
}

input[type=text]:focus {
  border-color:rgb(255, 255, 255); 
}