body {
  text-align: center;
  background-color: #e4d1d1;
}

.layout {
  display: grid;
  padding: 20%;
  grid-row-gap: 2em;
}

.division {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-row-gap: 2em;
}

.circular {
  background-color: #f9f3f3;
  border-style: solid;
  border-radius: 100%;
}

.img-buttons input:hover {
  background-color: #f25287;
}