@import 'https://fonts.googleapis.com/css?family=Coming+Soon';

body {
  font-size: 30px;
  text-transform: uppercase;
  background-image: url('https://www.laserfiche.com/content/uploads/2016/01/shutterstock_284660570.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: #FFEBCD;
  font-family: 'Coming Soon', cursive;
}

/*.container {
width: 80%;
margin-left: auto;
margin-right: auto;
text-shadow: 2px 2px #000;
}

.left, .middle, .right {
float: left;
text-align: center;
padding-top: 80px
}

.left, .right {
width: 40%;
}

.left img, .right img {
width: 70%;
padding-top: 60px;
}

.right img {
padding-top: 100px;
width: 70%;
}

.middle {
width: 20%;
}*/

.middle button {
background-color: #ff3333;
border: none;
border-radius: 8px;
color: white;
text-align: center;
font-size: 60%;
letter-spacing: 3px;
opacity: 0.8;
width: 15%;
height: 5%;
position: absolute;
top: 400;
right: 530;
text-transform: uppercase;
cursor:url(http://cur.cursors-4u.net/food/images2/foo124.gif),auto;
}
