<p>Ivan Drago is scientifically proven to hit three times harded than any other human.</p>
<p>Please enter the name of his next victim</p>

<form action='/names' method='post'>
  Enter your name:<br>
  <input type='text' name='playername'><br>
  <br>
  <input type='submit' value='Submit'>
</form>
