<h2>Ivan Drago is scientifically proven to hit three times harded than any other human.</h2>
<h2>Please enter the name of his next victim</h2>

<form action='/names' method='post'>
  Enter first name:<br>
  <input type='text' name='firstname'><br>
  Enter last name:<br>
  <input type='text' name='lastname'><br>
  <br>
  <input type='submit' value='Submit'>
</form>
