<p>Welcome to Rocky, Paper and Scissors</p>
<p>In the life or death version of the game, you will be facing Ivan Drago... fighting pride of the Soviet Union.</p>
<p>Warning: Whatever he hits, he destroys.</p>

<form action='/enter_names' method='gets'>
  <input type='radio' name='yes/no' value='yes'> Yes
  <input type='radio' name='yes/no' value='no' checked> No<br>
  <br>
  <input type='submit' value='Play!'>
</form>
