<p>My name is Drago. I defeat all man... Soon I defeat <%= @playername %>, if he dies... he dies.</p>

<form action='/ringwalk' method='gets'>
  <br>
  <input type='submit' value='To the ringwalks!'>
</form>
