<p>Keep calm and choose carefully, Drago is a master at this remember.</p>

<form action='/user_selection' method='post'>
  <label>Rock    </label>
  <input type='radio'  name='rps'     value='Rock'     checked>
  <label>Paper   </label>
  <input type='radio'  name='rps'     value='Paper'   >
  <label>Scissors</label>
  <input type='radio'  name='rps'     value='Scissors'> <br>
  <br>
  <input type='submit' value='Select'  >
</form>
