.form-name {
  span {
    position: relative;
  }

  label {
    left: 5px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
  }

  .input-text {
    border: solid 1px $text-color;
    padding: 0.5rem;

    &:active,
    &:focus {
      border: solid 1px $highlight-color;
    }

    &:active,
    &:focus,
    &:valid {
      outline: none;

      + label {
        transform: translateY(200%);
        color: #333;
      }
    }
  }

  .input-btn {
    display: none;
  }
}

.form-choice {
  label {
    display: block;
  }
}

.input-btn {
  background-color: transparent;
  border: solid 2px $text-color;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    cursor: pointer;
    border: solid 2px $highlight-color;
  }
}
