body,
input {
  font-family: monospace;
  color: $text-color;
}

a {
  color: $text-color;

  &:active,
  &:hover,
  &:focus {
    color: $highlight-color;
  }
}

.page-title {
  margin: 2rem auto;

  a {
    text-decoration: none;
  }
}
