body {
  text-align: center;
  background-color: #e4d1d1;
}

.layout {
  display: grid;
  padding: 5%;
  grid-row-gap: 0.5em;
}

.division {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-row-gap: 2em;
}
