body {
  background-image: url("background.jpg");
  background-size: cover;
}

#main_body {
  text-align: center;
  padding: 3rem;
  background-color: white;
}

.button {
  margin: 2.5px;
  width: 50%;
}
