body {
  background-color: #f4e9d7;
}



.scores {
  display: -webkit-inline-box;
  text-align: center;
  color: white;
  font-family: 'Hammersmith One', sans-serif;
  margin-left: 3rem;
}

h1 {
  font-size: 3rem;
  margin: 0.67em 0;
  padding: 0 2.8rem;
  margin-left: 11rem;
}

span {
  color: #47e5c2;
  font-size: 5rem;
}

form {
  width: 50%;
  height: auto;
}

.choose {
  width: 50%;
  color: white;
  padding-left: 17rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

button {
  padding: 13px 25px;
  border-radius: 5px;
  border: none;
  background: #47e5c2;
  color: white;
}

button:hover {
  transition: all 0.3s ease 0s;
  background: white;
  color: #47e5c2;
  cursor: hand;
}

img {
  border-style: none;
  width: 300px;
  margin: 0 auto;
  padding-left: 50rem;
  padding-top: 1.6rem;
}

h2 {
  text-decoration: underline;
  font-weight: lighter;
}
