.result {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.button {
  margin: 10px;
  border-radius: 15px;
  padding: 15px'
  width: 100px;
  background-color: #fff;
  font-family: Oswald;
  font-size: large;
}

.button:hover {
  background-color: #000;
  color: #fff;
}