*{
  background: #4bd550;
  text-align: center;
  color: #f9edfa;
  font-family: 'Courier New', Courier, monospace;
}

input{
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: #7829b8;
  font-weight: bolder; 
}

input:hover{
  background: #ec9718; 
  color: #2b0d44;
}