<html>
<head>
</head>
<body>
<div id="names">
<h3>Enter player names: </h3>
<form action="/players/names" method="post">
  <input id="first_name"type="text" name="player1_name">
  <input id="second_name" type="text" name="player2_name">
  <input id="names_submit" type="submit" value="Submit">
</div>
</form>
</body>
</html>
