<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/blink.css">
</head>

<div id="result" class="tab blink"><%= @winner %> won!</div>

<img id="diagram" src="http://desertdogdecals.com/image/cache/b7ec462bed1a7b6821b93419977aa5e4.png">

</html>
