html {
  height: 100%;
  min-height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

body {
  height: 100%;
  font-family: 'Old Standard TT', serif; }

main {
  border: 5px solid #EDD75A;
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: #405059;
  padding-top: 4em; }
  main .background-image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: no-repeat center center;
    background-size: cover; }
  main h1, main h2, main h3 {
    text-align: center;
    color: #EDD75A;
    font-family: 'Old Standard TT', serif; }
  main h1 {
    text-transform: uppercase;
    margin: 1.5em 0; }
  main h3 {
    font-style: italic; }
  main nav#new-game {
    text-align: center; }
    main nav#new-game input {
      display: inline-block;
      border: 3px solid #EDD75A;
      background: none;
      color: #fff;
      font-size: 1em;
      margin-bottom: 0.5em;
      cursor: pointer;
      transition: all 0.2s ease;
      font-family: 'Old Standard TT', serif;
      font-size: 1.4em; }
      main nav#new-game input:hover {
        background: #EDD75A;
        color: #444444; }

main#start .background-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: no-repeat center center;
  background-size: cover;
  background-image: url("img/start.jpg"); }
main#start h1 {
  text-transform: uppercase; }
main#start form {
  text-align: center; }
  main#start form label {
    font-family: 'Old Standard TT', serif;
    font-size: 1.6em;
    color: #EDD75A; }
  main#start form input {
    display: inline-block;
    border: 3px solid #EDD75A;
    background: none;
    color: #fff;
    font-size: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Old Standard TT', serif; }
    main#start form input:hover {
      background: #EDD75A;
      color: #444444; }
  main#start form input[type="text"] {
    background: #405059;
    padding: 0.2em 0;
    font-family: sans-serif;
    cursor: default;
    text-align: center; }
    main#start form input[type="text"]:hover {
      color: #fff; }

main#play .background-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: no-repeat center center;
  background-size: cover;
  background-image: url("img/play.jpg"); }
main#play form#moves {
  width: 100%;
  margin: 3em 0;
  text-align: center; }
  main#play form#moves input.move {
    width: 130px;
    height: 130px;
    display: inline;
    background: #EDD75A no-repeat center 10px;
    background-size: 100px;
    border: 0;
    padding-top: 80px;
    margin: 0 1em 0.5em;
    font-size: 1.2em;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    border-radius: 120px;
    border: 2px solid #444444;
    color: #444444;
    transform: all 0.3s ease;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease; }
    main#play form#moves input.move:hover {
      color: #EDD75A;
      background-color: #405059;
      border-color: #EDD75A; }
    main#play form#moves input.move:focus {
      outline: none; }
  main#play form#moves input#rock {
    background-image: url("img/rock.svg"); }
  main#play form#moves input#paper {
    background-image: url("img/paper.svg"); }
  main#play form#moves input#scissors {
    background-image: url("img/scissors.svg"); }
  main#play form#moves input#lizard {
    background-image: url("img/lizard.svg"); }
  main#play form#moves input#spock {
    background-image: url("img/spock.svg"); }

main#draw .background-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: no-repeat center center;
  background-size: cover;
  background-image: url("img/draw.jpg");
  background-position: center bottom; }

main#lose .background-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: no-repeat center center;
  background-size: cover;
  background-image: url("img/lose.jpg"); }

main#win .background-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: no-repeat center center;
  background-size: cover;
  background-image: url("img/win.jpg"); }
