@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
  font-family: sans-serif;
}

#player_name {
  font-family: 'Monoton', cursive;
  font-size: 50;
}

.small_print {
  font-size: 12;
}
