html {
  height: 100%;
}

body {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: -webkit-linear-gradient(
    to top,
    #12c2e9,
    #c471ed,
    #f64f59
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #12c2e9,
    #c471ed,
    #f64f59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 80%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 8px rgba(0, 0, 0, 6);
  color: white;
  display: flex;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  border-radius: 2rem;
}

h2 {
  height: 30px;
}

h3 {
  padding: 20px;
}

form {
  width: 650px;
}

button {
  width: 30%;
  padding: 20px;
  display: inline-block;
  justify-content: space-between;
}

img {
  width: 90%;
  padding: 20px;
  display: inline-block;
  justify-content: space-between;
}

footer {
  font-weight: 200;
  font-size: 15px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
}
