body {
  background: lightblue;
  padding-top: 5%;
  text-align: center;
  font-size: 100%;
}

h1 {
  padding: 4%;
}

h2 {
  padding: 4%;
}

.player_name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 4em;
}

.vs_sign {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 3em;
}

.action {
  background: salmon;
  padding: 5%;
  width: 80%;
  border: salmon;
  border-radius: 2%;
}

.action:hover {
  background: orangered;
}

.name_field {
  width: 70%;
  font-size: 2em;
  text-align: center;
}

.buffer {
  padding: 2.5%;
}
