*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #ffffff;
  --clr-dark: #303030;
  --clr-theme: #00CED1;

  --fs-h1: 3rem;

  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15),
        0.0625em 0.0625em 0.125em rgba(0,0,0,.075);
}

/* General layout */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  line-height: 1.6;
  text-align: center;
}

h1 {
    line-height: 1.1;
    margin: 0;
}

input[type=text],
h1 { 
  display: inline-block;
  font-size: var(--fs-h1); 
}

/* Form layout */
form {
  width: 50%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 100px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
}
input[type=text] {
  width: 100%;
  text-align: center;
}

.button__style {
  width: 100%;
  height: 6rem;
  background-color: var(--clr-theme);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button__style:hover {
  transition: 500ms;
  background-color: var(--clr-dark);
}

.r-p-s_button {
  width: 30%;
}