body {
    background-color: #085874;
}

h1 {
    margin-left: 50px;
    margin-right: 50px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
    padding-bottom: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px
}

h2 {
    margin-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px
}

h3 {
    margin-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px
}

h4 {
    margin-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 150px;
    position: relative;
    top: -180px;
}

p {
  margin-left: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px
}

img {
  position: relative;
  top: -125px;
  left: -50px;
}

.choice {
  height:25px;
  width:50px;
}
