body {background-color: darkturquoise;}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

link {
    text-align: center;
}

form {
    text-align: center;
}
