#this-player {
    left: 0;
    padding-left: 30px;
}

#other-player {
    right: 0;
    padding-right: 30px;
}

.player {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.name {
    font-size: 3em;
}

.choice {
    border: 2px solid black;
    padding: 40px;
    font-size: 2em;
}

#this-player .choice:hover {
    background-color: coral;
    cursor: pointer;
}

#result {
    font-size: 5em;
    z-index: 10;
    background-color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

#waiting-for-other-player-message {
    font-size: 1.8em;
}