body {
  font-family: Futura;
  background-image: url(/images/room.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*===============================================
  Players names
===============================================*/
.names {
  text-align: center;
  color: #ADA09C;
  font-size: 2em;
}

/*===============================================
  Players weapon and winner
===============================================*/

.players_weapon_container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 15px;
}

.player_weapon {
  font: italic 1em Papyrus;
  font-weight: 100;
  text-align: center;
  width: 40%;
  color:#8F8381;
}


.winner {
  font: normal 2.5em Futura;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

/*===============================================
  Players one weapon options
===============================================*/
.weapon_options_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 50%;
}

.weapon_option {
  background-color: transparent;
  border: solid 1px #8F8381;
  border-radius: 5px;
  color: #8F8381;
  font-size: 1em;
  font-weight: bold;
  padding: 8px 50px;
}

/*===============================================
  Players score
===============================================*/

.score {
  background-color: transparent;;
  display: flex;
  flex-direction: row;
}

.player_score {
  color: #ADA09C;
  font: normal 1em Futura;
  width: 50%;
  text-align: center;
}
