html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: rgb(146, 168, 204);
  text-align: center;
  margin: 0;
}
p {
  font-family: helvetica, sans-serif;
  font-size: 22px;
}
h1 {
  font-family: helvetica oblique, sans-serif;
  font-size: 50px
}
h2 {
  font-family: helvetica oblique, sans-serif;
  font-size: 34px
}
p {
  font-family: helvetica oblique, sans-serif;
  font-size: 34px
}
input[type=submit] {
  font-family: helvetica oblique, sans-serif;
  padding:5px 15px;
  border:0 none;
  border-radius: 10px;
  color: black;
  background-color: #5151af;
  margin: 10px;
  font-size: 20px;
}
