body {
  background-color: lightblue;
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
}

#info {
  margin: auto;
  width: 70%;
  color: white;
  background-color: black;
  border-radius: 20px;
}
