* {
  margin: 0;
  padding: 0;
}
 
body {
  background: black;
}
 

.splash {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reveal {
  width: 300px;
  height: 300px;
  margin: 50px;
  float: left;
}
 
.makers {
  background: url(makers_sliced.png) 0px 150px, url(makers_sliced.png) 0px -225px, black;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.5s ease;
  -moz-transition: background-position 0.5s ease;
  -o-transition: background-position 0.5s ease;
  -ms-transition: background-position 0.5s ease;
  transition: background-position 0.5s ease;
}
 
.makers:hover {
  background: url(makers_sliced.png) 0px 210px, url(makers_sliced.png) 0px -285px, black;
  background-repeat: no-repeat;
}
 
.reveal p {
  font: 45px/300px Helvetica, Arial, sans-serif;
  text-align: center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.reveal:hover p {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  cursor: pointer;
}

.zoom {
  size: 300px
}

.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
