body{

  background-image:url('https://ichef-1.bbci.co.uk/news/660/media/images/74580000/jpg/_74580127_162317629(1).jpg');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom;

}

h1{

  font-family:"Helvetica",sans-serif;
}
