* {
  margin: 0;
  padding: 0;
}
 
body {
  background: black;
  animation: focus_in 7s;
  animation-fill-mode: forwards;
}
 
@keyframes focus_in {
  0% {filter: opacity(0);}
  50% {filter: opacity(0.5);}
  100% {filter: opacity(1);}
}

.splash {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid red;
  animation: grow_circle 3s;
  animation-fill-mode: forwards;
}

.circle2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  animation: grow_circle 2s;
  animation-fill-mode: forwards;
}

.circle3 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid orange;
  animation: grow_circle 1s;
  animation-fill-mode: forwards;
}

.circle4 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid blue;
  animation: grow_circle 1.5s;
  animation-fill-mode: forwards;
}

.circle5 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid yellow;
  animation: grow_circle 0.5s;
  animation-fill-mode: forwards;
}

@keyframes grow_circle {
  0% {height: 0vh; width: 0vw;}
  25% {height: 50vh; width: 50vw;}
  50% {height: 100vh; width: 100vw;}
  75% {height: 150vh; width: 150vw;}
  100% {height: 200vh; width: 200vw;}
}

.reveal {
  width: 300px;
  height: 300px;
  margin: 50px;
  float: left;
}
 
.makers {
  background: url(makers_sliced.png) 0px 150px, url(makers_sliced.png) 0px -225px, black;
  background-repeat: no-repeat;
  -webkit-transition: background-position 1s ease; filter: blur(0px);
  -moz-transition: background-position 1s ease; filter: blur(2px);
  -o-transition: background-position 1s ease; filter: blur(4px);
  -ms-transition: background-position 1s ease; filter: blur(2px);
  transition: background-position 1s ease; filter: blur(0px);
}
 
.makers:hover {
  background: url(makers_sliced.png) 0px 210px, url(makers_sliced.png) 0px -285px, black;
  background-repeat: no-repeat;
  animation: focus_out 40s infinite;
}
 

@keyframes focus_out{
  0% {filter: blur(0px);}
  25% {filter: blur(0.5px);}
  50% {filter: blur(3px);}
  75% {filter: blur(4px);}
  100% {filter: blur(5px);}
  75% {filter: blur(7.5px);}
  50% {filter: blur(10px);}
  25% {filter: blur(15px);}
}

.reveal p {
  font: 45px/300px Helvetica, Arial, sans-serif;
  text-align: center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.reveal:hover p {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=100);
  opacity: 1;
  cursor: pointer;
}

.zoom {
  size: 300px
}

.zoom:hover {
  transform: scale(2);
}
