
section {
  margin: 120px 0;
}
h1 {
  line-height: 48px;
  font-size: 34px;
  color: #272044;
  font-weight: 900;
  text-align: center;
  margin: 10px;
  font-family: PT Mono, monospace;
}
h2 {
  line-height: 48px;
  font-size: 34px;
  text-align: center;
  color: #272044;
  padding: 70 0 50px;
  margin: 500 px;
  font-family: PT Mono, monospace;
}
p {
  font-size: 28px;
  line-height: 28px;
  font-family: PT Mono, monospace;
  text-align: center;
}
button {
  border-radius: 25px;
  margin: 10px;
  display: block;
  background-color: #fff;
  border: 3px solid #f2d500;
  color: #fc79f3;
  font-size: 20px;
  line-height: 22px;
  width: 40%;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
  font-family: PT Mono, monospace;
}
button:hover {
  color: #fff;
  background: #21c0ff;
}
.action_btn {
  width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.action_btn1 {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
input[type=text] {
  border-radius: 25px;
  background-color: #fff;
  border: 3px solid #21c0ff;
  font-size: 20px;
  text-align: center;
  line-height: 22px;
  padding: 16px 24px;
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.space {
  width: 20px;
  height: auto;
  display: inline-block;
}
