
body {
  background-color: skyblue;
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: center;
  }

h1 {
  font-family: "Roboto", sans-serif;
}

input {
  width: 50%
  padding: 12px 20px;
  margin: 8px 0;
  background-color: white;
}

a {
  width: 50%
  padding: 12px 20px;
  margin: 8px 0;
  background-color: white;
}