@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');


* {
    box-sizing: border-box;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body{
    /* background-color: cyan; */
    
}

.grad1 {
  background-color: grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, grey, pink); /* Standard syntax (must be last) */
}

.centre {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1{
  font-family: 'Trade Winds', cursive;
  text-align: center;
  margin-top: 50px;
}

h5{
  font-family: 'Trade Winds', cursive;
  font-size: x-large;
  text-align: center;
}

.full-width{
  max-width: 100%;
}

.vs{
  border-right: 3px red ridge;
}

.btn{
  border-radius: 50px;
  padding: 15px;
  font-size: xx-large;
  box-shadow:  0.5px 0.5px 1px 1px #ccc
}

.btn:hover{
  background-color: silver;
}

input[type=text]{
  font-size: 20px;
  width: 100%
}

input[type=submit]{
  font-size: 20px
}

::-webkit-input-placeholder{
  font-style: italic;
  color: #ccc;
}