body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreboard {
  /* put in left-hand corner */
  height: 100px;
  width: 100px;
}

.player_2_play {
  margin: auto;
  text-align: center;
  font-size: 120px;
  width: 100%;

}

.player_1_play {
  margin: auto;
  text-align: center;
  font-size: 50px;
  width: 100%;

}

.moves {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.move {
  font-size: 100px;
}
