h1 {
  color: darkred;
}

.item_buttons {
  border: 1px solid red;
}

.item_buttons input#paper {
  background:url(paper.jpg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border: 0;
}
