/* body {
background-color: lightgrey;
}

h1 {
  font-size: 90pt;
  color: turquoise;
  -webkit-text-stroke: 5px white;
  letter-spacing: -0.08em;
}

h2 {
  font-family: arial;
  font-size: 30pt;
  color: white;
} */
