body {
margin: 0;
font-family: 'Fruktur', cursive;
background-color:#dddddd;
color: peru;
text-align: center;
}

.hero-image {
background-image: url("rps_background.png");
height: 800px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px; 
}

.heading {
  color: #dddddd;
  text-shadow: 2px 2px 8px rgb(143, 136, 209), 0 0 20px peru;
  font-size: 200%;
  margin-top: 100px;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
  color: peru;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  margin: 4px;
  padding: 7px;
}

.options {
  font-size: 150%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  padding: 7px;
}

a{
  text-decoration: none;
  font-size: 150%;
}

a:link {
  text-shadow: 0 0 0px white;
  color: peru;
}

a:visited {
  text-shadow: 0 0 0px white;
  color: peru;
}

a:hover {
  text-shadow: 2px 2px 8px rgb(143, 136, 209), 0 0 20px peru;
  color: white;
}

a:active {
  text-shadow: 2px 2px 8px rgb(143, 136, 209), 0 0 20px peru;
  color: peru;
}