body {
  align-items: center;
  background-color: LightSteelBlue
}
h1 {
  position: relative;
  text-align: center;
}

.buttons {
  position: relative;
  text-align: center;
  font-style: bold;
}

#button_index {
  background-color: Indigo;
  border: solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#button_game {
  background-color: MediumPurple;
  border-style: solid;
  border-radius: 2px
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#text_field {
  padding: 15px 32px;
  font-size: large;
  text-align: center;
}

#player_name {
  color: Indigo
}

.game {
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.name {
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
