body {
  background-color: #f8a488;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

li {
  list-style-type: none;
  margin-top: 1em;
}

h1 {
  font-size: 3.125rem;
  margin-top: 20%;
}

h2 {
  color: #f8f5f1;
  font-size: 1.875rem;
}

.submit {
  background-color: #5aa897;
  border-radius: 25px;
  border: none;
  padding: 0.75em 1.35em;
}

.player1{
  padding: 1em;
  background-color: #f8f5f1;
  border-radius: 25px;
  text-align: center;
  border: none;
}

.submit:hover, .btn:hover {
  background-color: #f8f5f1;
  cursor: pointer;
}