body {
font-family: 'Open Sans', sans-serif;
  color: black;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 18px;
  margin: 0 0 0 0;
  padding: 20px ;
  font-weight: 300;
  background: white no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.rps {
  width: 200px;
  height: auto;
  padding: 50px;
}


.results {
  display: inline-block;
  vertical-align: top;
}

.results h4 {
  text-align: center;
}