<div>
  <form action="/name_assign" method="post">
    <div>
      <h3>Player name:</h3>
      <input type="text"  name="name" placeholder="Player name here....">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
