<div>
  <h2><%= @match.player.name %> pick Rock, Paper or Scissors! </h2>
</div>

<div>
    <form method="post">
      <input formaction="/rock" type="submit" value="Rock"/>
      <input formaction="/paper" type="submit" value="Paper"/>
      <input formaction="/scissors" type="submit" value="Scissors"/>
    </form>
</div>

<div>
  <h2> <%= @match.winner %> </h2>
</div>
