
  html {
    border: solid green;
    padding: 50px 50px 830px 100px;
  }

  h1 {
    position: relative;
    left: 350px;
    top: 0px;
    font-size: 40px;
  }
  h2 {
    text-align: center
  }
  h3 {
    text-align: center
  }
  .image {
    position: absolute;
    left: 550px;
    width: 420px;
    height: 530px;
    top: 350px;
    left: 402px;
  }
  .instructions {
    background-image: url("/img/rock.png");
    background-size: 450px 480px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    width: 300px;
    padding: 150px 100px 126px 100px;
    font-size: 18px;
    top: 110px;
  }
  .rules {
    background-image: url("/img/paper.png");
    background-size: 450px 480px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    width: 300px;
    padding: 120px 50px 122px 100px;
    font-size: 20px;
  }
  #sign_in {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 100px;
    left: 370px;
    padding: 100px;
    font-size: 23px;
  }
  .sign_in_heading {
    text-align: center;
  }
  .button {
    background-color: white;
    border: solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    top: 70%;
    left: 36%;
  }
  .options {
    border: solid black;
  }
  .rock{
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 250px;
    left: 250px;
  }
  .paper{
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 250px;
    right: 150px;
  }
  .scissors{
    z-index: 0;
    position: absolute;
    height: 350px;
    width: 350px;
    top: 390px;
    left: 500px;
  }
  #buttons2 {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  #player1 {
    position: absolute;
    border: solid black;
    padding: 50px;
    top: 15%;
    left: 10%;
  }
  #player2 {
    position: absolute;
    border: solid black;
    padding: 50px;
    top: 15%;
    right: 10%;
  }
  #winner {
    position: absolute;
    border: 50px solid transparent;
    border-image: url("http://www.gifstop.com/images/borders/pic.gif") 30;
    padding: 220px 200px 200px 220px;
    top: 35%;
    left: 18%;
    font-size: 50px;
  }
  .r1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 17%;
    left: 35%;
  }
  .p1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 17%;
    left: 46%;
  }
  .s1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 17%;
    left: 56%;
  }
  .play_again {
    position: absolute;
    background-color: white;
    border: solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    top: 5px;
    left: 30px;
  }
  .new_player {
    position: absolute;
    background-color: white;
    border: solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    top: 5px;
    right: 30px;
  }
