  <h1>Welcome to Rock Paper Scissors</h1>

  <form action = "/login" method = "post">
    <label for = "name">Enter Name:</label>
    <input type = "text" name = "player">
    <button value = "Submit" type ="submit">Submit</button>
  </form>