 <h1><%= $player.name%>, pick your choice</h1>

 <form action = "/result" method = "post">
  <button id = "rock" name= "value" type = "submit" value = "rock">Rock</button>
  <button id = "paper" name = "value" type = "submit" value = "paper">Paper</button>
  <button id = "scissors"name = "value" type = "submit" value = "scissors">Scissors</button>
 </form>