 <h1><%= $game.player.name%>, pick your choice</h1>
 <button value = "rock" type = "submit">Rock</button>
 <button value = "paper" type = "submit">Paper</button>
 <button value = "scissors" type = "submit">Scissors</button>