<body>
  <div>
    <h1>Enter Player Name</h1>
    <form action='/player' method='post'>
      <input type='text' placeholder='Enter Your Name' name='player'>
      <input type='submit' value='Submit'>
  </div>
</body>
