<body>
  <div>
    <h1>Enter Player Name</h1>
    <form action='/player' method='post'>
      <input type='text' placeholder='Enter Your Name' name='player'>
      <input type='submit' value='Submit'>
    </form>
  </div>
  <div>
    <h1>Ready To Play?</h1>
    <form action='/play'>
      <button type='submit' value='Play'>Play</button>
    </form>
    </div>
</body>
