<body>
  <div>
    <h1>Whats Your Move?</h1>
    <form action='/item'>
      <button type='submit' value='Rock'>Rock</button>
    </form>
    <form action='/item'>
      <button type='submit' value='Paper'>Paper</button>
    </form>
    <form action='/item'>
      <button type='submit' value='Scissors'>Scissors</button>
    </form>
  <div>
</body>
