<body>
  <div>
    <h1>Whats Your Move?</h1>
    <form action='/item' method='post'>
      <input type='radio' name='move' value='rock' checked>Rock<br>
      <input type='radio' name='move' value='paper'>Paper<br>
      <input type='radio' name='move' value='paper'>Scissors<br>
      <input type='submit' value='Submit'>
    </form>
  <div>
</body>
