body {
  margin: 0 auto;
  background-image: url("rpsls.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  background-position: center center;
  background-color: rgb(255, 237, 243)
}
.container {
  width: 300px;
  height: 120px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
input {
  height: 30px;
  width: 200px;
  font-size: 18px;
  margin-top: 18px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  outline: none;
}
.btnplay {
  padding: 15px 20px
  color: #fff;
  border-radius: 15px;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
  outline: none;
}
