html, body {
  font-family: Helvetica;
  margin: 0;
  height: 100%;
  color: rgb(49, 49, 49);
  font-size: 25px;
}

body {
  display: table;
  width: 100%;
}

.red-text, h1 {
  /* color: rgb(223, 19, 70); */
  color: rgb(20, 216, 183);
}

body > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.button {
  /* background-color: rgb(223, 19, 70); */
  background-color: rgb(20, 216, 183);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

div {
  padding: 10px;
}