/*
<link rel="stylesheet" type="text/css" href="/style.css">
*/

body {
  background-color: #1dcbdb;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

form { 
  margin: 0 auto; 
  width:220px;
  }
  