html, body {
  font-family: arial, sans-serif;
  height: 100%;
}
#wrapper {
  width:960px;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -50px;
}
* {
  margin: 0;
}
footer, .push {
    height: 50px;
}
.central {
  width:960px;
  margin: 0 auto;
}
h1 {
  margin: 10px 0 0 0;
}
h2 {
  font-size: 0.9em;
  margin: 0 0 10px 0;
}
#game_box {
  border: 1px solid;
  padding: 5px;
}
#game_box div {
  width: 50%;
  text-align: center;
}
.arena {
  min-height:100px;
}
