Choose wisely, young <%= @game.player.name %>...

<form action="/weapon" method="post">
  <input type="submit" value="rock" name="weapon">
  <input type="submit" value="paper" name="weapon">
  <input type="submit" value="scissors" name="weapon">
</form>
