<h1>  Welcome, <%= $player_1 %> </h1>
<h2> Select your weapon of choice:</h2>

<form action="/evaluate" method="get">
  <input type="submit" value="ROCK">
</form>
<form action="/evaluate" method="get">
  <input type="submit" value="PAPER">
</form>
<form action="/evaluate" method="get">
  <input type="submit" value="SCISSORS">
</form>
