<h1>  Test <%= @choice_1 %> </h1>
<h1>  Welcome, <%= @player_two.name %> </h1>
<h2> You are playing against <%= @player_one.name %>  </h2>

<h2> Select your weapon of choice:</h2>

<form action="/evaluate" method="get">
  <input type="submit" name="choice_2" value="ROCK">
</form>
<form action="/evaluate" method="get">
  <input type="submit" name="choice_2" value="PAPER">
</form>
<form action="/evaluate" method="get">
  <input type="submit" name="choice_2" value="SCISSORS">
</form>
