<h1>  Welcome, <%= @player_one.name %> </h1>
<h2> You are playing against <%= @player_two.name %>  </h2>

<h2> Select your weapon of choice:</h2>

<% if  @player_two.name != :the_computer %>
<form action="/choices_2" method="post">
  <input type="submit" name="choice_1" value="ROCK">
</form>
<form action="/choices_2" method="post">
  <input type="submit" name="choice_1" value="PAPER">
</form>
<form action="/choices_2" method="post">
  <input type="submit" name="choice_1" value="SCISSORS">
</form>
<% else  %>
<form action="/evaluate" method="get">
  <input type="submit" name="choice_1" value="ROCK">
</form>
<form action="/evaluate" method="get">
  <input type="submit" name="choice_1" value="PAPER">
</form>
<form action="/evaluate" method="get">
  <input type="submit" name="choice_1" value="SCISSORS">
</form>
  <% end %>
