Choose wisely, young <%= @name %>...

<form action="/rock" method="post">
  <input type="submit" value="Rock">
</form>

<form action="/paper" method="post">
  <input type="submit" value="Paper">
</form>

<form action="/scissors" method="post">
  <input type="submit" value="Scissors">
</form>
