<head>
  <title>Rock, paper, scissors, lizard, Spock</title>
</head>
<body>
  <h1><%= $player_name %></h1>

  <form action="/save_warrior_choice" method="post">
    <input type="submit" name="player_warrior" value="Rock">
    <input type="submit" name="player_warrior" value="Paper">
    <input type="submit" name="player_warrior" value="Scissors">
    <input type="submit" name="player_warrior" value="Lizard">
    <input type="submit" name="player_warrior" value="Spock">
  </form>

</body>