<head>
  <title>Rock, paper, scissors, lizard, Spock</title>
</head>
<body>
  <h1><%= $player_name %></h1>

  <form action="/save_spirit_animal_choice" method="post">
    <input type="submit" name="player_warrior" value="rock">
    <input type="submit" name="player_warrior" value="paper">
    <input type="submit" name="player_warrior" value="scissors">
    <input type="submit" name="player_warrior" value="lizard">
    <input type="submit" name="player_warrior" value="spock">
  </form>

</body>