Choose wisely, young <%= @player.name %>...

<form action="/weapon" method="post">
  <input type="submit" value="Rock" name="weapon">
  <input type="submit" value="Paper" name="weapon">
  <input type="submit" value="Scissors" name="weapon">
</form>
