<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title> Rock, Paper, Scissors </title>
</head>

<body>

  <h1> You have chosen: <%=@game.player_choice%>! <h1>

    <form action="/computer_turn">
      <input type="submit" value="Computer's choice"/>
    </form>
  </body>
