<!DOCTYPE html>
<html>
<head>
  <title>Rock,Paper,Scissors</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link async href="http://fonts.googleapis.com/css?family=Passero%20One" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id='replay'>
    <a id='play-again' href='/play'>Play again?</a>
  </div>
  <div id='result'>
    <h2 >You have selected <div class="enjoy-css"><%=@game.player.choice%></div></h2>
    <h2>The computer has selected <div class="enjoy-css"><%=@game.player.choice%></div></h2>
    <h1><div class="enjoy-css">You got a Draw!</div></h1>
  </div><br>

  <div class='result-pictures'>
    <img src="http://icons.iconarchive.com/icons/iconleak/or/256/justice-balance-icon.png"><br>
  </div>

</body>
</html>
