<h2><%=@p1_name%> selected <%=@p1_weapon%> </h1>
<h2><%=@p2_name%> selected <%=@p2_weapon%> </h1>
<h1>It's a draw... meh </h1>

<a href='/'>
    <button class="GFG">
        New game?
    </button>
</a>