<center><body style="background-image:url('https://cdn.pixabay.com/photo/2015/06/23/23/12/hand-819279_1280.jpg');background-repeat:no-repeat;background-position:center;">
<h1 style=font-size:200px;color:red;><center>It's a Draw!</center><h1>
<br>
  <center><form action="/play" method="get">
    <button style="height:75px;width:200px;font-size:25px" type="submit" value="Play Again?">Play Again?</button>
  </form></center>
<br>
<h2 style=font-size:100px;color:red;><center>Thanks for playing</center><h2>
