<head>
  <title>Rock, paper, scissors, lizard, Spock.</title>
</head>
<body>
  <h1><%= $player_name %>, you chose <%= $player_warrior %>.</h1>
  <h1>The computer chose <%= $computer %></h1>
  <h1>The winner is: <%= $winner_is %></h1>
</body>