<h1>Hi <%= @player %>!</h1>
<br>
<h2>Rules of the game:</h2>
<p>Rock beats Scissors<br>Paper beats Rock<br>Scissors beats Paper</p>
<h2>To start the game, press 'Start game'</h2>
<form action='/game' method='get'>
	<input type='submit' value='Start game'>
</form>
