<h2>Player: <%= @name %></h2>
<form action='/choice' method="post">
  <button type="submit" value='Paper' name="choice">Paper</button>
</form>
<form action='/choice' method="post">
  <button type="submit" value='Scissors' name="choice">Scissors</button>
</form>
<form action='/choice' method="post">
  <button type="submit" value='Rock' name="choice">Rock</button>
</form>
