<!DOCTYPE html>

<h1> <%= @name %> VS. Computer </h1>

<h3>Make your choice</h3>

<form action="/result" method="post">
  <button name='choice' value='rock'>Rock</button>
  <button name='choice' value='paper'>Paper</button>
  <button name='choice' value='scissors'>Scissors</button>
</form>
