<h2>Rock, paper or scissors!?</h2>
<h1>You decide!</h1>
<form action="/setup" method="post">
  <label for="player_name">
    Player name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>
