<body style=" background:powderblue"><center>
<h1 style="font-size:100px; text-align:center; color:green;">Rock Paper Scissors!</h1>

<form action="/gametype" method="post" style="text-align:center">
  <button name="playchoice" type="submit" value="PlayClassic" style="text-align:center; width:500px; font-size:50px;">Play Classic</button>
  <button name="playchoice" type="submit" value="PlayLS" style="text-align:center; width:500px; font-size:50px;">Play Lizard Spock</button>

</form>

</center></body>
