
<h1><%=@player.name%></h1>
<h2>You are against the computer..<h2>
<h2>ROCK, PAPER, OR SCISSORS?<h2>

<form action="/result" method="post">
  <input type="text" name="choice">
  <input type="submit" value="good luck">
</form>
