<div>
  Player one: <%= @player_one.username %>
</div>

<div>
  <form method="post" action="/move">
    <input type="submit" value="Rock" name="move">
    <input type="submit" value="Paper" name="move">
    <input type="submit" value="Scissors" name="move">
  </form>
</div>