<head>
  <link rel="stylesheet" href="style.css">
</head>

<div class="center">
  <p>Player one: <%= @player_one.username %></p>
  <form method="post" action="/end">
    <input type="submit" value="Rock" name="move">
    <input type="submit" value="Paper" name="move">
    <input type="submit" value="Scissors" name="move">
  </form>
</div>