<div>
  <h2><%=@game.player_1.name%> v. <%=Game::OPPONENT%></h2>
</div>

<div>
  <h2>Let's play</h2>
</div>

<div>
  <form action="/result" method="post">
    <h2><input type="submit" name='rock' value="ROCK"><input type="submit" name='paper' value="PAPER"><input type="submit" name='scissors' value="SCISSORS"></h2>
  </form>
</div>

<div>
  <label for="result">Result:</label> <output name="result">VARIABLE_HERE</output>
</div>
