<h1 class = "title">
  Welcome <%= @game.player_name %>
</h1>

<h3> Player: <%= @game.player_name %> </h3>

<form action = "/result" method = "post">
  <input type = "radio" name = "Rock" value = "Rock">Rock
  <input type = "radio" name = "Paper" value = "Paper">Paper
  <input type = "radio" name = "Scissors" value = "Scissors">Scissors
  <input type = "radio" name = "Spock" value = "Spock">Spock
  <input type = "radio" name = "Lizard" value = "Lizard">Lizard
  <input type = "submit" value = "Choose weapon">
</form>
