<h1 class = "title">
  Welcome <%= @game.player_name %>
</h1>

<h3> Player: <%= @game.player_name %> </h3>

<form action = "/result" method = "post">
  <input type = "submit" name = "Rock" value = "Rock">
  <input type = "submit" name = "Paper" value = "Paper">
  <input type = "submit" name = "Scissors" value = "Scissors">
  <input type = "submit" name = "Spock" value = "Spock">
  <input type = "submit" name = "Lizard" value = "Lizard">
</form>
