<body>

<center>
  <form action = "/choice" method = "post">
  <h2><font face = "gothic">Choose your weapon, <%=@name%>!</font></h2>
  <input type = "submit" font = "gothic" style = "width : 200px" value = "rock">
  <input type = "submit" font = "gothic" style = "width : 200px" value = "paper">
  <input type = "submit" font = "gothic" style = "width : 200px" value = "scissors">
</center>

</body>
