<section class="header">
  <h1 style="text-align: center;color:#212529; margin:2rem 0">
   What is your weapon of choice?
  </h1>
  <hr style="border-top: rgba(0, 0, 0, .1); margin-bottom:2rem">
  <h3 style="color:#6c757d; margin-top:2rem; position:relative; width:100%">
    <div style="display:inline-block">..choose wisely <i style="color:#212529"><%= @name %></i></div>
    <div style="text-align:right; float:right">wins:  <div style="display:inline"><%= @wins.to_s %></div> / <%= @total.to_s %></div>
  </h3>
  <form action="/results" method="post">
    <h5 style="text-align:center">
      <input type="hidden" value="none"/>
      <input type="submit" value="rock" name="rock" style="margin:1rem; width:25%"/>
      <input type="submit" value="Paper" name="paper" style="margin:1rem; width:25%"/>
      <input type="submit" value="Scissors" name="scissors" style="margin:1rem; width:25%"/>
    </h5>
    <hr style="border-top: rgba(0, 0, 0, .1); margin-top:3rem; width:75%">
    <h5 style="text-align:center; color:#454749">The future of this rock world is in your hands</h5>
  </form>
</section>