<section class="header">
  <h1 style="text-align: center;color:#212529; margin:2rem 0">
    Choose your weapon!
  </h1>
  <hr style="border-top: rgba(0, 0, 0, .1); margin-bottom:2rem">
  <h3 style="color:#6c757d">
    ..choose wisely 
  </h3>
  
</section>