
<h1><%=@player.name%>, make your choice!</h2>

<form action="/result" method="post">
  <button type="submit" value="rock">ROCK</button>
  <button type="submit" value="paper">PAPER</button>
  <button type="submit" value="scissors">SCISSORS</button>
</form>
