<h1> You chose <%=@weapon%> </h1>
<h2> Ready to do battle? </h2>
<form action ="/result" method="post">
  <input type="submit" value="Yes. I am ready to meet my fate.">
</form>
<form action ="/weapons" method="post">
  <input type="submit" value="No, take me back to the armoury!">
</form>
