<h2>Rock, paper or scissors!?</h2>
<h1>You decide!</h1>
<form action="/setup" method="post">
  <label for="p1_name">
    Player 1 name
    <input type="text" name="p1_name">
  </label>
  <label for="p2_name">
  <br>
  <br>
    Player 2 name*
      <input type="text" name="p2_name">
  </label>
    <input type="submit" value="Submit">
</form>

* leave Player 2 blank for 1 player game