!!!
%head
  %link{ :rel => :stylesheet,
  :type => :"text/css",
  :href => "/css/stylesheet.css" }
  %link{ :rel => :stylesheet,
  :type => :"text/css",
  :href => "https://use.fontawesome.com/releases/v5.0.12/css/all.css",
  integrity: "sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9",
  crossorigin: "anonymous" }