<h1 class = "title">
  Welcome to Rock, Paper, Scissors, Lizard Spock!
</h1>

<h3>Register to play below.</h3>
<form action = '/registration'>
  <input type = 'submit' value = 'Register to play'>
</form>
