<head>

   <style>
      button[type="submit"]{
      background-color: #1c87c9;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      }
   </style>

</head>

<body>

  <h1>Rock Paper Scissors Spock Lizard</h1>
  <br>
  <h4>Select Game Mode:</h4>
  <form action="/singleplayer-names">
    <button type="submit">Single Player</button>
  </form>
  <form action="/multiplayer-names">
    <button type="submit">Multiplayer</button>
  </form>

</body>
