<h1>Welcome to the Rock, Paper, Scissors Arena!</h1>

<h2>Choose single or multi-player</h2>

<form action='/single-name' method='post'>
  <input type='submit' value="Single-player">
</form>

<form action='/multi-name' method='post'>
  <input type='submit' value="Multi-player">
</form>
