<img class="rps-hero" src="http://www.babylonclub.ca/wp-content/uploads/2012/12/RPS.png" alt="Rock Paper Scissors">
<form action="/name" method="post">
  <input class="input" type="text" name="player_name" placeholder="Enter player name"><br>
  <input class="submit" type="submit" value="Submit">
</form>
