<br>
<h1> <center> <font face='Courier New' color="green"> Welcome to the most incredible game in the world: Rock, Paper, Scissors! </font> </center> </h1>
</br>

<h2> <font face='Courier New' color="pink"> Please enter your name to register before playing the game! </font> </center> </h2>

<form action="/game" method="POST">
  <label for="name">
    name:
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>
