<div>
  <img src="http://bit.ly/2FXJMl5" alt="ROCK PAPER SCISSORS">
</div>

<div>
  <h2>
  <form action="/play" method="post">
    <div>
      <label for="player_1">Player Name:</label>
      <input type="text" name="player_1" value=""> <input type="submit" value="Submit">
    </div>
  </form>
  </h2>
</div>
