<body>

<center>
  <form action = "/data" method = "post">
  <h2><font face = "gothic">Enter your name!</font></h2>
  <input type = "text" font="gothic" name = "name">

  <h2><font face = "gothic">Choose your weapon!</font></h2>
  <input type = "text" font="gothic" name = "choice"><br><br>
  <input type = "submit" font = "gothic" style = "width : 200px" value = "Play!">
  <!-- <select>
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
</center> -->

</body>
