<section class="header">
  <h1 style="text-align: center;color:#212529; margin-top:2rem">
    Welcome to Rock - Paper - Scissors
  </h1>
</section>

<section class="body"> 
  <form method="post" action="/game">
    <h4 style="text-align:center;margin-top:2rem">
      <hr style="border-top: rgba(0, 0, 0, .1); margin-bottom:2rem">
      <div style="text-align:left; width:auto; display:inline-block; width:25%">
        <label style="color:#6c757d">Name</label><br/>
        <input type="text" name="name" placeholder="user name" style="display:inline-block; width:100% !important" require/>
      </div>
      <input type="submit" value="Start game" style="display:block; margin:1rem auto; width:25%"/>
    </h4>
  </form>
</section>

<section class="footer" style="color:6c757d;margin-top:2rem">
  <hr style="border-top: rgba(0, 0, 0, .1)">
  <h4 style="text-align:center">Game rules</h4>
  <h5 style="text-align:center; color:#212529">rock beats scissors</h5>
  <h5 style="text-align:center; color:#212529">scissors beats paper</h5>
  <h5 style="text-align:center; color:#212529">paper beats rock</h5>
  <hr style="border-top: rgba(0, 0, 0, .1); width:66%"
</section>
