<head>
  <link rel="stylesheet" href="style.css">
</head>

<div>
  <form action="/submit-users" method="post">
    <input placeholder="Player one" type="text" name="username" class="username">
    <input type="submit" value="Submit">
  </form>
</div>
