<!DOCTYPE html>
<html>
  <head>
    <title>The First Battle</title>
    <style>
    body {
      background-image: url("http://i.imgur.com/uSMV62w.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 15px;
      color: black
    }
    </style>
  </head>
    <h1>
      The First Battle
    </h1>
    <h2>
      Sign in to play
    </h2>
    <form action="/name" method="post">
          Adam's name
          <input type="text" name="player_1_name">
          God's name
          <input type="text" name="player_2_name">
        <input type="submit" value= 'Submit'>
    </form>
  </body>
</html>
