<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title> Rock, Paper, Scissors </title>
</head>

<body>
  <div>
    <h1> Rock, Paper, Scissors </h1>
    <h2> Please enter your name: </h2>
  </div>

  <form action='/name' method='post'>
    <label for='player_name'>
      Name:
    </label>
    <input type='text' name='player_name'>
    <input type='submit' value='Save'>
  </form>
</body>
