<!DOCTYPE html>
<html>
<head>
  <title>Rock,Paper,Scissors</title>
  <link async href="http://fonts.googleapis.com/css?family=Passero%20One" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id='title'>
    <h1 id='title'><div class="enjoy-css">Welcome to Rock, Paper, Scissors</div></h1>
  </div>
  <div id='picture'>
    <img src="http://3.bp.blogspot.com/-Y0LHCZ_k17A/ULOvXc_oArI/AAAAAAAAeE4/GUKqPOx9Mu8/s1600/rigged-game-of-rock-paper-scissors.jpg">
  </div><br>
  <form id='first' action='/play' method='post'>
    <label id="marketeer"> <div class="enjoy-css">Marketeer: register here </div></label>
    <input type='text' name="name" >
    <input class='submit' type='submit' value="Submit">
  </form>
</body>
</html>
