<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div class="container">
      <form action="/names" method="post">
        <div>
          <input type="text" name="player_1" placeholder="Player name">
        </div>

        <input type="submit" name="submit" value="Play!" class="btnplay">
      </form>
    </div>
  </body>
</html>
