<html>
  <head></head>
  <body>
    <h1>Please enter your battle name!</h1>
    <form action="/name" method="post">
      <input type="text" name="name">
      <input type="submit" value="submit">
    </form>
  </body>
</html>