<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {padding: 14px 40px;}
</style>

<h1 style="color:Tomato;">Welcome to the Game</h1>

<h2>Sign in to play</h2>
<br>
<div style= "font-size: 30px;">
<form action="/names" method="post">
  <label for="player_name" font-size: 60px;>
    Player name
  <input type="text" name="player_1_name">
</label>
<!-- <label for="player_2_name">
  Player 2 name
  <input type="text" name="player_2_name">
</label> -->
  <input class= "button button1" type="submit" value="Submit">
</div>
</form>
