<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors... Who will win?!</h1>

    <form class="name-form" action="/add-name" method="post">
      <input type="text" name="name-input" value="Enter Name">
      <input type="submit" name="name-submit" value="Play">
    </form>
  </body>
</html>
