<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align:center; font-family:'Yantramanav', sans-serif;;}
h2 {text-align:center; font-family:'Yantramanav', sans-serif;}
form {text-align:center; font-family:'Yantramanav', sans-serif;}
body {background-color: #FBFBF9;}
</style>
</head>
<body>

<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
<center><a href="https://ibb.co/jmYyHa"><img src="https://preview.ibb.co/kSrUOF/hands.png" alt="hands" border="0" align="center"/></a></center>
<h2>Please enter your name!</h2>
<br>
<form action="/names" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Submit">
</form>
