Enter your name here if you want to play against a computer! <br>

<form action= '/names' method='post'>
  <input type='text' name='name' value='Single Player!!'/>
  <input type='submit' value='submit'/>
</form>

Or put in two names to play multiplayer!!! <br>

<form action= '/multi_names' method='post'>
  <input type='text' name='player1' value='Player 1'/>
  <input type='text' name='player2' value='Player 2'/>
  <input type='submit' value='submit2'/>
</form>
