
<h1>Rock Paper Scissors</h1>
<h4>Choose Players</h4>
<br>
<form action="/players1" method="get">
  <button class="button" type="submit">1 Player</button><br>
</form>
<br>
<form action="/players2" method = "get">
  <button class="button" type="submit">2 Players</button>
</form>
