<!DOCTYPE html>
<html lang="en">

  <head>
    <title> ROCK PAPER SCISSORS </title>
    <!-- <link rel="stylesheet" href='signup.css' type='text/css'> -->
  </head>

<body>
  <h1> ROCK PAPER SCISSORS: THE DULLEST GAME SINCE I-SPY </h1>
<h2> SIGN UP BELOW  </h2>
<form action= "/name" method= "post">
  <label for="player_name">
    My name is...
    <input type="text" name="player_name">
    <input type="submit" value="Bore me now!">
  </label>
</form>
