<body style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/1200px-Rock-paper-scissors.svg.png')">
  <h1>Rock Paper Scissors</h1>
<h2>Sign in to play</h2>

<form action="/names" method="post">
  <label for="player">
    Name
    <input type="text" name="player">
  </label>
    <br>
  <input type="submit" value="Submit">

</form>
</body>
