<h1>Welcome to Rock-Paper-Scissors!</h1>


<form action="/names" method="Post">

  <label for="player_1_name">
    Please enter your name to start:
    <input type="text" name="player_1_name">
  </label>

  <input type="submit" value="Submit">

</form>
