
<!DOCTYPE html>
<html>

<head>
  <title>Rock Paper Scissors!</title>
</head>

<body>
<div style="text-align:center">
<form action="/start_game" method="post">
  Player One Name: <input type="text" name="name" />
  <input type="submit" value="Submit">
</form><br /><br /><img src='https://rb.gy/cxk9ye'/>
</div>
<body>