<head>
  <link rel="stylesheet" href="style.css">
</head>

<div class="center">
  <h1>Rock, Paper, Scissors</h1>
  <form action="/submit-users" method="post">
    <input placeholder="Player one" required type="text" name="player_one" class="username">
    <input placeholder="Player two" type="text" name="player_two" class="username">
    <input type="submit" value="Submit">
  </form>
</div>
