<body>

<center>
  <form action = "/data" method = "post">
  <h2><font face = "gothic">Enter your name if you want to play!</font></h2>
  <input type = "text" font="gothic" name = "name"><br><br>
  <input type = "submit" font = "gothic" style = "width : 200px" value = "Play!">
</center>

</body>
