<h1>Scissors vs. Paper vs. Rock<h1>
<h2>Sign in to play:</h2>
<form action="/name" method="post">
  <input type="text" name="player" placeholder="enter player name">
  <input type="submit" value="Submit">
</form>