<h1>ROCK PAPER SCISSORS</h1>
<h3>Enter your name to play</h3>
<form action="/name" method="post">
  <label for="player_name">
    Player name:
    <input type="text" name="player_name">
  </label>
  <p></p>
  <input type="submit" value="Play">
</form>
