
<!DOCTYPE html>
<html>
<div style="font-family:Verdana">
  <head>
    <title>Rock Paper Scissors!</title>
  </head>
  <div style="text-align:center;font-size: large">
    <h1> Welcome to Rock, Paper, Scissors!!</h1><br /><br />
    <h3> Enter your name to get started!</h3>


  <body>
    <div style="text-align:center">
      <form action="/start_game" method="post">
        Name: <input type="text" name="player1" />
        <input type="submit" value="Submit">
      </form><br /><br /><img src='https://rb.gy/cxk9ye'/>
    </div>
  <body>
</div>