<!DOCTYPE html>

<h1>Rock, Paper, Scissors Game</h1>
<h3>Please sign in to play</h3>
<form action="/name" method="post">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <input type="submit" value="Let's Play!">
</form>
