<title>Rock, Paper, Sphinx</title>

<center>
<h1> Rock, Paper, Sphinx </h1>

<img src="https://i.pinimg.com/736x/97/24/77/9724778044bd39c2e2f628bf64b5fcf8.jpg" alt="Sphinx" style="width:400px;height:400px;">

<p>Before you stands the mighty Sphinx.<br>
   After years searching the desert you have finally found her.<br>
   Her eyes open and her voice rings loud:</p>
<h2>"What is your name traveller?"</h2>
<form action="/store_name" method="post">
  You muster all your courage and answer:<br>
  "My name is:
  <input type="text" name="name">!"<br><br>
  <input type="submit" value="Continue">
</form>
</center>
