<body style=" background:powderblue"><center>
<h1 style="font-size:50px; text-align:center; color:red;">Rock Paper Scissors!</h1>

<form action="/play" method="post" style="text-align:center">
  <h2>
    <label for="player_1_name" style="font-size:50px">
      Player 1 Name?
    </label>
  </h2>
    <input type="text" name="player_1_name"  style="font-size:30px; text-align:center">
  <h2>
    <label for="player_2_name" style="font-size:50px">
      Player 2 Name?
    </label>
  </h2>
    <input type="text" name="player_2_name"  style="font-size:30px; text-align:center">
    <h4>
      <input type="submit" value="Play" style="text-align:center; font-size:30px;">
    </h4>
</form>

</center></body>
