<h1>Hello there!</h1>
<form action='/selection' method='post'>
  <h2>What's your name?</h2>
  <input type='text' name='name'>
  <h2>What's your selection?</h2>

  <label for='selection'>selection:</label>

  <select name="selection">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select><br>
  <input type='submit' value='Play!'>
  <input type="hidden" value='cpu'>



  
</form>