<div id='title'>
  <h1>Rock, Paper, Scissors</h1>
</div>

<form action='/new-session' method='post'>
  <input type='text' name='name1' placeholder='Enter your name'>
  <input type='text' name='name2' placeholder='Leave blank to play computer'>
  <input type='submit' value='PLAY!'>
</form>

