<html>

<head>
  <title>Rock-Paper-Scissors-Lizard-Spock</title>
</head>

<h1>Rock-Paper-Scissors-Lizard-Spock<h1>

<h3>Enter your name to begin</h3>

<form action='/' method='post'>
  <label for="player_name">
    Player name:
    <input type="text" name="player_name">
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>

</html>
