<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <section id="overlay">
      <header>
        <h1>ROCK PAPER SCISSORS</h1>
      </header><br>
      <form action="/players" method="post">
        <p>
        <h3>Log In to play Rock Paper Scissors!</h3>
        </p><br>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required>
        <button name="play" value="Play" type="submit">Play</button>
      </form>
    </section>
  </body>
</html>