<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />

<h1> Rock, Paper, Scissors, Spock, Lizard!</h1>
<h2> Do you think you can beat AIbot?!</h2>
<p> Each turn you choose between Rock, Paper, Scissors, Spock and Lizard - each has its own uniqute advantages and disadvantages </p>
<img src="/img/rock.png" alt="Rock"/> <img src="/img/paper.png" alt="Paper"/> <img src="/img/scissors.png" alt="Scissors"/> <img src="/img/lizard.png" alt="Lizard"/> <img src="/img/spock.png" alt="Spock"/>
<ul>
  <li> <strong> Rock </strong> crushes scissors and lizard, but gets smothered by paper and vaporised by Spock</li>
  <li> <strong> Paper </strong> smothers rock and disproves Spock, but gets cut by scissors and eaten by lizard</li>
  <li><strong> Scissors </strong> cuts paper and decapitates lizard, but gets crushed by rock and smashed by Spock </li>
  <li><strong> Spock </strong> smashes scissors and vaporises rock, but is disproved by paper and poised by lizard </li>
  <li><strong> Lizard </strong> eats paper and poinsons Spock, but is crushed by rock and decapitated by lizard </li>
</ul>
<p> You choose one, and AIbot will also choose. The winner is victorius </p>
<form action="/name" method="post">
  <label for "player_name"> Enter your name!
    <input type="text" name="player_name">
  </label>
    <input type="submit" value="Let's Do This!">
</form>
<hr>
<br>
<small>Icons created by Studio Fibonacci from the <a href="https://thenounproject.com/">Noun Project</a>. Used under <a href="https://creativecommons.org/licenses/by/2.0/">CC.</a></small>
