<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <h1>Welcome, player</h1>
    <p> Please enter your name below: </p>
    <form action="/name_received" method="post" >
      <input type="text" name="Player">
      <input type="submit" value="Let's play">
    </form>
  </body>
</html>
