<h2>Choose your game mode</h2>

<div class="flexbox">

  <div class="flexitem">
    <form action="/pvp" >
      <input class="button" type="submit" value="Two Players">
    </form>
  </div>

  <div class="flexitem">
    <form action="/cpu" >
      <input class="button" type="submit" value="Single Player">
    </form>
  </div>
</div>
