<link rel="stylesheet" href="css/index.css">

<body>

  <div class='content'>
    <h1>Welcome To The Game</h1>
    <h3>Rock Papper Scissors</h3>
    <form class="form" action="/user" method="post">
      <label for="enter_name">
        <h3>Enter Your Name Below</h3>
        <input type="text" name="name">
      </label>
      <input type="submit" value="Submit">
    </form>
  </div>

</body>


