
<h1> Please Sign In:</h1>
<body>
<form action="/names">
  <input type="text" name="name">
  <input type ="submit" value="Submit">
</form>
</body>













<!-- <form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div> -->
