<!DOCTYPE html>
<html>
  <head>
    <title>Rock,Paper,Scissors</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <head>
  <body>
    <div id='picture'>
      <img src="http://3.bp.blogspot.com/-Y0LHCZ_k17A/ULOvXc_oArI/AAAAAAAAeE4/GUKqPOx9Mu8/s1600/rigged-game-of-rock-paper-scissors.jpg">
    </div>
    <form id='first' action='/play' method='post'>
      <label id="marketeer"> Marketeer: register here </label></br>
      <input type='text' name="name" >
      <input type='submit' value="Submit">
    </form>
  <body>
</html>
