<h1>Rock, Paper, Scissors</h1>
<form action="/name" method="post">
  <label for="player_name">Enter your name:</label>
  <input type="text" name="player_name">
  <button type="submit" value="submit">Start</button>
</form>
<br>
<img src="http://thescienceexplorer.com/sites/thescienceexplorer.com/files/styles/content_image__large/public/blog/rock%20paper%20scissors.png">
