<div class="container">
  <div class="box">
    <img class="rps-hero" src="http://www.babylonclub.ca/wp-content/uploads/2012/12/RPS.png" alt="Rock Paper Scissors">
    <form action="/name" method="post">
      <input class="input" type="text" name="player_one_name" placeholder="Enter player name"><br>
      <input class="submit" style="font-size: 1em;" type="submit" value="Submit">
    </form>
  </div>
</div>
