<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <section id="overlay">
      <header>
        <h1>ROCK PAPER SCISSORS</h1>
      </header><br>
      <section id="gif">
        <img src="https://media.giphy.com/media/kWJlSWnPgdlba/giphy.gif" class="imgGIF" style="width:50%;"/>
      </section>
      <form action="/players" method="post">
        <p>
        <h3>Log In to play Rock Paper Scissors!</h3>
        </p><br>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="type in your name..." required>
        <button class="button" name="play" value="Play" type="submit"><h3>Play</h3></button>
      </form>
    </section>
  </body>
</html>