<h1>Welcome to Rock, Paper, Scissors!<h1>
  <br>
<h2>Enter Your Name<h2>
  <br>
<form action="/names" method="post">
  <input type="text" name="player_1">
  <input type="submit" value="submit">
</form>
