!!!
%head
= haml :header_partial

%h1.title Welcome to Rock, Paper, Scissors!

%form{ action: '/name', method: 'POST', class: 'form' }
  %label Please enter your name:
  %input{ type: 'text', class: 'form_inputfield', name: 'name' }
  %input{ type: 'submit', class: 'button button_submit', value: 'Let\' play!' }