<center>
  <font face="Verdana" size="3">
    <p style="max-width: 200px; border: 3px solid #1F535D;background-color: #08CEF6">
      <form action="/names" method="post">
        <h4>Rock, Paper, Scissors!</h4>
        <h3>Enter your name</h3>
        <input type="text" name="player1" placeholder="Player Name"><br><br>
        <button type="submit">Start Game!</button>
      </form>
    </p>
  </font>
</center>
