<center><h1>Welcome to Rock Paper or Scissors!<h1>
<h2>Select a one or two player game:<h2></center>

<center>	<form action="/game_type" method="post">
  <button name="game_type" value="one_player">One Player</button>
  <button name="game_type" value="two_player">Two Player</button>
 
<center><img src= "http://i.imgur.com/quDgv5e.jpg" /></center>	
