<!DOCTYPE html>

<h1>Rock, Paper, Scissors Game</h1>
<h3>Please sign in to play</h3>
<form action="/names" method="post">
  <label for="<player1_name">
    Player 1 Name
    <input type="text" name="player1_name">
  </label>
  <label for="player2_name">
    Player 2 Name
    <input type="text" name="player2_name">
  </label>
  <input type="submit" value="Let's Play!">
</form>
