<center>

<h1>Welcome to Rock, Paper, Scissors!</h1>

<form method="post" action="/game">
      Please enter your name:
      <input type="text" name="Name">
      <input type="submit" value="Start Game!">
</form>

</center>