<html>
<head>
</head>

<body>
  <br>
  <h1> <center> <font face='Courier New' color="green"> Welcome to the most incredible game in the world: Rock, Paper, Scissors! </font> </center> </h1>
</br>

<br>
<center> <img src="http://www.ponderweasel.com/wp-content/uploads/2014/11/who-invented-rock-paper-scissors.png" alt="ponderweasel.com"></center>
</br>

<br>
<center> <form action="/game" method="POST">
  <label for="name">
    name:
    <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form></center>
<center> <h2> <font face='Courier New' color="blue"> Please enter your name to register before playing the game! </font> </center> </h2></center>
</br>
</body>
</html>
