<!DOCTYPE html>
  <html lang="en">

  <head>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>RPS</title>
  </head>
  <body>

  <div class='content'>
    <h1>Welcome To The Game</h1>
    <h3>Rock Papper Scissors</h3>
    <form class="form" action="/user" method="post">
      <label for="enter_name">
        <h3>Enter Your Name Below</h3>
        <input class="input_box" type="text" placeholder="Player Name" name="name">
      </label>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>

  </body>
</html>


