<h1>Rock Paper Scissors</h1>

<h3>Sign in to take on THE COMPUTER</h3>
<form action="/player-name" method="post">
  <label for="player_name">
    Player name
    <input type="text" name="player_name">
  </label>
  <input type="submit" value="Submit">
</form>

<h3>Game on...</h3>
