<h1 style="font-size:50px; text-align:center; color:red">Rock Paper Scissors!</h1>

<form action="/play" method="post" style="text-align:center">
  <h2>
    <label for="name" style="font-size:50px">
      What's your name?
    </label>
  </h2>
    <input type="text" name="name"  style="font-size:30px; text-align:center">
    <h4>
      <input type="submit" value="Play Single Player" style="text-align:center; font-size:30px;">
    </h4>
</form>

</center></body>
