
<center>
    <h1>Rock Paper Scissors</h1>
    <h2>Sign in to play</h2>
    <form action="/welcome" method="post">
      <label for="marketeer_name">
        Please enter your name:
        <input type="text" name="marketeer_name">
      </label>
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </center>
