
<h1> Welcome to <i>ROCK PAPER SCISSORS</i> game!</h1>
<h2> Enter you name:</h2>
<form action='/names' method='post'>
  <label for='player'>Player:
  	<input type='text' name='player'>
  </label>
  <input type='submit' value='Submit'>
</form>
