<div style="color:green;text-align:center">
  <h1> Welcome to Rock, Paper, Scissors, Lizard, Spock! </h1>
  <h2> Who would you like to play with? </h2>
  <form action="/opponent" method="post">
    <input type="submit" value="Computer opponent" name="opponent"/> 
    <input type="submit" value="Human opponent" name="opponent"/> 
  </form>
</div>