<h1>Let's play Rock, Paper, Scissors!</h1>
<h2>Sign in to play</h2>
<form action="/name" method="post">
  Player 1 name
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>