<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Enter your name below: </h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 Name:
    <input type="text" name="player_1_name">
  </label>
  <input type="submit" value="Submit">
</form>
