<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main">
      <h1>Please enter your battle name!</h1>
      <form action="/name" method="post">
        <input type="text" name="name">
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>