<!DOCTYPE html>
<html>

<head>
<title>Rock Paper Scissors!</title>
</head>

<div style="text-align:center; font-family:Verdana">
<body>

  <h1> Welcome to Rock, Paper, Scissors!!</h1><br /><br />
  <h3> Enter your name to get started!</h3>


    <form action="/start_game" method="post">
      Name: <input type="text" name="player1" />
      <input type="submit" value="Submit">
    </form><br /><br /><img src='https://rb.gy/cxk9ye'/>

</body>
</div>
</html>