<form action="/name" method="POST">
  <div>
    <!-- <label for="name">Player1:</label> -->
    <input type="text" name="name">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form>
