<h1>Rock, Paper, Scissors</h1>
<form action="/names" method="post">
  <p><label>Enter your name to play</label></p>
  <input type="text" name="player">
  <p><button type="submit">Play!</button></p>
</form>
