    <h1>Welcome to Rock, Paper, Scissors!</h1>
    <br>
    <h2>Please enter your name</h2>
    <br>
    <form action=/storage method=post>
      <input type=text name=NAME>
      <button type=submit value=ENTER class="btn btn-primary">ENTER</button>
    </form>
