<div>
  <h2>*** Rock -- Paper -- Scissors ***</h2>
</div>

<div>
  <h3>
  <form action="/names" method="post">
    <div>
      <label for="player_1">Enter name to start</label>
      <input type="text" name="player_1" value=""> <input type="submit" value="Submit">
    </div>
  </form>
</h3>
</div>
