<h1>Welcome to Rock, Paper, Scissors</h1>
<h1>Play against your greatest opponent: Takeshi Kovacs</h1>

<h2>Enter your name:</h2>

<form action='/names' method="post">
  <input type=“text” name="name" />
  <input type="submit" value="Enter name" />
</form>
