<center>
<br><br><br><br><br><br><br><br><br><br><br>
<body style="background-image:url('https://cdn.pixabay.com/photo/2017/01/22/12/08/imac-1999640_960_720.png');background-repeat:no-repeat;background-position:center;background-size:auto;">
<h1 style=color:white;vertical-align:middle;>Welcome to Rock, Paper, Scissors!<h1>
  <br>
<h2 style=color:white;vertical-align:middle;>Enter Your Name<h2>
<form action="/names" method="post">
  <input type="text" name="player_1">
  <input type="submit" value="Submit">
</form><center>
