<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <center>
        <h1>Play vs. Computer or a friend?</h1>
        <form action="/multi">
          <button name="multiplayer">Multiplayer</button>
        </form>
        <br>
        <form action="/single">
          <button name="single">Single Player</button>
        </form>
      </center>
    </div>
  </body>
</html>
