<!DOCTYPE html>
<html>

  <head>
  <style></style>
    <title>RockPaperScissors</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body>

  <%= yield %>

  </body>

</html>