<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheet.css'>
    <title>Rock Scissors Paper Game</title>
  </head>
  <body background="http://i.stack.imgur.com/YorMT.png">
    <br>
    <br>
    <div align ="center">
      <h1 align ="center">Welcome to Rock Paper Scissors Game</h1>
      <br>
      <br>
    <%= yield %>
      <br>
    </div>
  </body>
    <h5> ®Basile-2017</h5>
</html>
