<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
      <style type="text/css">
        body {
        text-align:center;
        }
      </style>
  </head>
  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <br>
    # # # # Dev Tools # # #
    <br>
    <br>
    <a href="http://localhost:9292">RACKUP</a>
    ..........
    <a href="http://localhost:9393">SHOTGUN</a>
    <br>
    <h2><%= session.inspect %></h2>
  </body>
</html>
