<!DOCTYPE html>
<html>
    <head>
        <title>RPS</title>
    </head>
    <body>


    <%= yield %>
<br>
<a href="http://localhost:9292">RACKUP</a>..........<a href="http://localhost:9393">SHOTGUN</a>

    </body>



</html>