<!DOCTYPE html>
<html>

  <head>
  <style></style>
    <title>RockPaperScissors</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <script src="script.js"></script>
  </head>

  <body>
  <div id="content">
  <h1 id="header">Welcome to Rock, Paper, Scissors</h1>
    <%= yield %>
    </div>

     <div id="footer">
  <a href="https://github.com/kevinlanzon">Created by Kevin Lanzon | Click to view my code</a>
</div>

  </body>

</html>