<!DOCTYPE html>
<html>
  <head>
    <title>ROCK | PAPER | SCISSORS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,900,200' rel='stylesheet' type='text/css'
  </head>
<div class="header">
  </div>
  <body>
  <div class="game_panel">
    <%= yield %>
  </div>
  </body>
</html>
