<!DOCTYPE html>
<html>

  <head>
  <style>
  body {background-color:darkgray}
  h1   {color:#2F2D2D}
  h2   {color:#2F2D2D}
</style>
    <title>RockPaperScissors</title>
    <link href="/styles/main.css" rel='stylesheet' type='text/css'>
    <script src="script.js"></script>
  </head>

  <body>
     <center>
        <%= yield %>
     </center>
  </body>

</html>