<!DOCTYPE html>
<html>
    <head>
        <title>RPS</title>

<style type="text/css">

    body {
    text-align:center;
    }


</style>

    </head>
    <body>


    <%= yield %>
<br>
<br>
# # # # Belows if for debugging purposes # # #
<br>

<a href="http://localhost:9292">RACKUP</a>..........<a href="http://localhost:9393">SHOTGUN</a>


        <br>
        <br>
        <br>
        <h3>   <%= session.inspect %>  </h3>

    </body>



</html>
