<!DOCTYPE html>
<html>
<head>
<link  href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<% @game.player.losses += 1 %>
<h1><%="You lose, #{@game.player.name}!"%></h1>
<br>
<form method="get" action="/play" id="replay">
  <button type="submit">Play again?</button>
</form>
<br>
<form method="get" action="/" id="nope">
  <button type="submit">Nah</button>
</form>
