<center><body style="background-image:url('https://cdn.pixabay.com/photo/2017/02/08/13/43/desperate-2048905_1280.jpg');background-repeat:no-repeat;background-position:center;background-size:auto;">
<h1 style=font-size:200px;color:red;><center>You Lost!</center><h1>
<br>
  <form action="/play" method="get">
    <button style="height:75px;width:200px;font-size:25px;margin-bottom:-35px;" type="submit" value="Play Again?">Play Again?</button>
  </form>
<br>
<h2 style=font-size:100px;color:red;>Thanks for playing<h2></center>
