<title>You lose!</title>

<center>
<h2>You pick <%=@player_pick%>.<br>
    Sphinx picks <%=@computer_pick%>.</h2>
You lose. Too bad. You are now the Sphinx's servant for all eternity.
<h2>"Excellent, let's put you to work shall we?"</h2>
This is your life now.
<h2>"It seems my garden has gotten a little unkempt"</h2>
She points at the desert surrounding you.<br>
It stretches out in all directions, as far as the eye can see.
<h2>"Some sand must have blown in when I wasn't looking.<br>
  "Could you sort it out please?"</h2>
She hands you a broom.
</center>
