<!DOCTYPE html>
<html>

<head>
  <title>Rock Paper Scissors!</title>
</head>
<div style="text-align:center">

  <body>

  <%= @name %> played: <%= @move %> Computer played: <%= @computers_move %><br>

  <%= @message %>

  </body>
</div>
</html>