<h1>Welcome to the Rock, Paper, Scissors Arena!</h1>

<h2>Enter your names to begin!</h2>

<form action='/multi-names' method='post'>
  <label for="player_1">
    Player 1 - your name please:
    <input type="text" name="player_1">
    <label for="player_2">
      Player 2 - your name please:
      <input type="text" name="player_2">
  <input type='submit' value="Play!">
</form>
