<div style="color:green;text-align:center">
  <h1> You will play against each other! </h1>
  <h2> Enter your names to play </h2>
  <div>
    <form action="/name" method="post">
      <label for="name_one"> Name: </label>
      <input type="text" name="name_one"/>
      <label for="name_two"> Name: </label>
      <input type="text" name="name_two"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
