<html>

<head>
  <title>Rock-Paper-Scissors-Lizard-Spock</title>
</head>

<h1>Rock-Paper-Scissors-Lizard-Spock<h1>

<h3>Enter your name to begin</h3>

<form action='/multiplayer' method='post'>
  <label for="player1_name">
    Player1 name:
    <input type="text" name="player1_name">
  </label>
  <label for="player2_name">
    Player2 name:
    <input type="text" name="player2_name">
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>

</html>
