<center>
<h1>

Welcome, <%= @game.player1.name %> and <%= @game.player2.name %> ...

<br>
<br>

So... <%= @game.player1.name %>: What's your move?
<br><br>

<form action="multiplayer_moves" method="post" >

  <select name="move1">
    <option value="ROCK">ROCK</option>
    <option value="PAPER">PAPER</option>
    <option value="SCISSORS">SCISSORS</option>
  </select>
  <br><br>

And... <%= @game.player2.name %>: What's your move?
<br><br>

  <select name="move2">
    <option value="ROCK">ROCK</option>
    <option value="PAPER">PAPER</option>
    <option value="SCISSORS">SCISSORS</option>
  </select>
  <br><br>

  <input type="submit" value="submit">
</form>

</h1>
</center>
