<div>
  <h2><%=@game.player_1.name%> are you ready to meet the 'Machine'?!</h2>
</div>

<div>
  <h3>Make up your own rules:</h3>
  <h3>You can set your own rules and play the machine the best out of (x) number of hands.</h3>
  <h3>When you are ready just click the button below.</h3>
</div>

<div>
  <h2>
    <form action="/game">
      <input type="submit" value="Start Game">
    </form>
  </h2>
</div>
