<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <%= @name %>
</body>
</html>


<!-- <form action="/name" method="post">
  <input type="text" name="name">
  <<input type="submit" value="Submit">
</form> -->
