<div>
  <h2>Warning: This game is really awesome.</h2>
</div>

<div>
  <h2>Player: <%=@game.player_1.name%></h2>
</div>

<div>
  <h2>
    <form action="/game">
      <input type="submit" value="Start Game">
    </form>
  </h2>
</div>
