<h1>Welcome to RPSLS!</h1>
<h2>Enter your name</h3>
<form action='/names' method='post'>
  <h3>Enter Player 1:</h3>
  <input type='text' name='player1'>
  <br>
  <input type='submit' value='Submit'>
</form>
