"CHOOSE YOUR WEAPON!"
<button type="submit" form="nameform" value="Submit">Rock</button>
<button type="submit" form="nameform" value="Submit">Paper</button>
<button type="submit" form="nameform" value="Submit">Scissors</button>