"CHOOSE YOUR WEAPON!"
<button type="submit" form="nameform" value="Submit">ROCK</button>
<button type="submit" form="nameform" value="Submit">PAPER</button>
<button type="submit" form="nameform" value="Submit">SCISSORS</button>