
<form method = 'post' action='/choices'>
  <select name='choices'>
    <option value='rock'>Rock</option>
    <option value='paper'>Paper</option>
    <option value='scissors'>Scissors</option>
  </select>
  <input type ='submit' value = "Okay!"/>
</form>
