<form action='/rock' method='post'>
        <input type='submit' value='ROCK'>

</form>


<form action='/scissors' method='post'>
        <input type='submit' value='PAPER'>

</form>

<form action='/paper' method='post'>
        <input type='submit' value='SCISSORS'>
    
</form>
