<h1> <%= @game.player.name %> chose <%=@game.player.selection%>!</h1>
<h1> AIbot chose <%=@game.computer.selection.capitalize%>!</h1>

<h2><%= @game.player.name %> loses. AIbot Wins!</h2>
<h2>All hail AIbot your new overlord!</h2>
