<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors - Outcome</title>
  </head>
  <body>
    <h1><%= @player.name %> chose <%= @weapon.choice %>!</h1>
    <h1>Computer chose paper!</h1>
  </body>
</html>
