<h1> Player 2 choose </h1>

<form action="/gameoutcome" method= 'POST'>
    Rock : <input type="radio" name="weapon" value= "Rock">
    <br>
    Paper : <input type="radio" name= "weapon" value= "Paper">
    <br>
    Scissors : <input type="radio" name= "weapon" value= "Scissors">
    <br>
    <input type="submit">
</form>