<style>
h1 {
    font-size: 30px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {padding: 14px 40px;}
</style>

<% if @game.player_1.weapon.nil? %>
	<h3>Welcome <%= @game.player_1.name%>, to the game. Choose your weapon</h3>
<% else %>
	<h3>Now <%= @game.player_2.name%>, it's your turn to choose your weapon</h3>
<% end %>


<form action="/choice" method="post">
  <div style= "font-size: 30px;">
  <input  type="radio" id= 'rock' name="choices" value="rock">Rock<br>
  <input  type="radio" id= 'paper' name="choices" value="paper">Paper<br>
  <input type="radio" id= 'scissors' name="choices" value="scissors">Scissors<br>
    <% if @game.game_mode == 'rpsls' %>
      <input type="radio" name="choices" value="lizard">Lizard<br>
      <input type="radio" name="choices" value="spock">Spock<br>
    <% end %>
  <input class= "button button1" type="submit" value="Play">
  </div>
</form>
