
<h1><%= "Hi #{@game.player.name}!" %></h1>
<h2>Pick your weapon:</h2>
<br>

<form method="gets" action="/results">
  <input type="radio" name="Rock" value="Rock"> Rock<br>
  <input type="radio" name="Paper" value="Paper"> Paper<br>
  <input type="radio" name="Scissors" value="Scissors"> Scissors<br>
  <input type="submit" value="Submit">
</form>
