<h1><%= @player_name %> vs. Computer</h1>
<form action="choices" method="post">
  <input type="submit" name="rock_button" value="rock">
  <input type="submit" name="paper_button" value="paper">
  <input type="submit" name="scissors_button" value="scissors">
</form>
