<h2>Player 2 please select your weapon</h2>
<form action="/player_2_weapon" method="post">
  <label for="p2_weapon">
    Weapon
    <input type="text" name="p2_weapon">
  </label>
  <input type="submit" value="Submit">
</form>