<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RPSLS</title>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/game.css">
    </head>
    <body>
      <div class="game_info_container">
        <div class="player1_info">
          <h1><%= @game.player1.name %>:   <%= @game.score[0] %></h1>
        </div>
        <div class="player2_info">
          <h1><%= @game.player2.name %>:   <%= @game.score[1] %></h1>
        </div>
      </div>
          <% if !@game.over? %>
              <div class="controls">
                <form action='/attack' method='post'>
                  <input class="control_button" type='submit' id='attack' value='Attack'>
                </form>
              </div>
              <div class="gif-container">
                  <img src="https://media.giphy.com/media/CatCCFZa6U8nK/giphy.gif">
              </div>
          <% elsif !@game.over? %>
            <h2>The computer is playing now</h2>
          <% else %>
          <h2>GAME OVER!</h2>
          <div class="gif-container">
              <img src="https://media.giphy.com/media/6drjXn0BgRaaQ/giphy.gif">
          </div>
          <% end %>
        </div>
    </body>
</html>

<form action='/single' method='post'>
  <input type='submit' value='1 player'>
</form>
<form action='/double' method='post'>
  <input type='submit' value='2 player'>
</form>
