Welcome, <%= @player1.name %>
<br>
Choose your weapon:
<br>
<a href="/result"><button class="weapon-button"><img alt="Rock" src="http://img.clipartall.com/rock-clipart-item-2-vector-magz-free-download-vector-graphics-rocks-clip-art-400_420.jpg"></button></a>
<a href="/result"><button class="weapon-button"><img alt="Paper" src="http://cliparting.com/wp-content/uploads/2016/07/Free-note-paper-clipart-free-vector-download-files-for.jpg"></button></a>
<a href="/result"><button class="weapon-button"><img alt="Scissors" src="http://clipart-finder.com/data/mini/35-safety_scissors_green.png"></button></a>
