<h1>Player 1: <%= @name %></h1>
<h1>Player 2: Takeshi Kovacs</h1>

<h1>Choose your weapon:</h1>

<form method='post' action='/play_rock'>
  <button type='submit'>ROCK</button>
</form>
<form method='post' action='/play_paper'>
  <button type='submit'>PAPER</button>
</form>
<form method='post' action='/play_scissors'>
  <button type='submit'>SCISSORS</button>
</form>
