<html>
  <style>
  </style>

  <body>
    <h2><%=@game.player%> vs. the unicorn</h2>

    <select>
        <option value="Your choice" disabled="disabled" selected="selected">Your choice</option>
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
        <input type="submit" value="Play"/>
    </select>
  </body>
</html>
