<html>

<head>
  <title>Rock-Paper-Scissors-Lizard-Spock</title>
</head>

<h1>
  <%= @game.player2.name %>, choose your attack:
</h1>

<br><br>

<form action='/play2' method='post'>
  <input type="submit" name="player2_attack" value="Rock">
  <input type="submit" name="player2_attack" value="Paper">
  <input type="submit" name="player2_attack" value="Scissors">
  <input type="submit" name="player2_attack" value="Lizard">
  <input type="submit" name="player2_attack" value="Spock">
</form>

</html>
