<h1> <%=@player.name%> VS AIbot!! </h1>

<p> Unless you've been living under a rock you already know the rules to Rock, Paper, Scissors.</p>
<p> Luckily, we don't discriminate against rock dwellers, so here's all you need to know </p>
<p> Each turn you get to choose between Rock, Paper and Scissors - each has its own uniqute advantages and disadvantages </p>
<ul>
  <li> <strong> Rock </strong> crushes scissors, but gets smothered by paper</li>
  <li> <strong> Paper </strong> smothers rock, but gets cut by scissors</li>
  <li><strong> Scissors </strong> cuts paper, but gets crushed by rock </li>
</ul>
<p> You choose one, and AIbot will also choose. The winner is victorius </p>
<p> Which do you choose?!</p>
