<h1 style="text-align:center; font-size:100px"><%= @player_1_name %> vs. <%= @player_2_name %></h1>

<h1 style="text-align:center; font-size:100px"><%= @player_1_name %></h1>

<h2>
<form action="/player-2-choice" method="post" style="text-align:center">
  Pick your weapon
  <button name="weapon_1" type="submit" value="Rock" style="text-align:center; font-size:30px;">Rock</button>
  <button name="weapon_1" type="submit" value="Paper" style="text-align:center; font-size:30px;">Paper</button>
  <button name="weapon_1" type="submit" value="Scissors" style="text-align:center; font-size:30px;">Scissors</button>
</form>
</h2>
