<h1>Hi <%=@player.name%>, let's play!</h1>
  <form action="/selection">
Please make your move selection: <input class="input" type="text" placeholder="rock, paper or scissors?" name="choice">
<br><br><input class="button" type="submit" value="Go!">
