<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Rock,Paper,Scissors</title>
</head>
<body>
  <div id='play'>
    <h1 class='name'><%=@game.player.name%>: <h3 style='color:white'>make a decision<h3></h1>
    <form id='form' action='/result' method='post'>
      <button id='rock' type='submit' value='Rock' name='choice'></button>
      <button id='paper' type='submit' value='Paper' name='choice'></button>
      <button id='scissors' type='submit' value='Scissors' name='choice'></button>
    </form>
    <h1 class='name'>Computer: <h3 style='color:white'>waiting for your choice<h3></h1>
    </div>
  </body>
  </html>
