<h1>Hi <%= @player_name %>! Welcome to Rock, Paper, Scissors!</h1>
<form action="/weapons">
  <div class="form-group">
    <input class="btn btn-default" type="submit" value="Rock">
    <input class="btn btn-default" type="submit" value="Paper">
    <input class="btn btn-default" type="submit" value="Scissors">
  </div>
</form>
