
<h1>Rock Paper Scissors</h1>
<h2>Sign in to play!</h2>
<form action="/names2" method="post">
  <label for="player_1_name">
  <p>Player 1 name</p><br>
  <input class="input" type="text" name="player_1_name">
  </label>
  <br>
  <label for="player_2_name">
  <p>Player 2 name</p><br>
  <input class="input" type="text" name="player_2_name">
  <br>
  <br>
  </label>
  <input class="button" type="submit" value="Submit">
</form>
