<h1>Hi <%= @player_1.name %>! Welcome to Rock, Paper, Scissors!</h1>
<form action="/weapons" method="POST">
  <div class="form-group">
    <input class="btn btn-default" type="submit" name="weapon" value="Rock">
    <input class="btn btn-default" type="submit" name="weapon" value="Paper">
    <input class="btn btn-default" type="submit" name="weapon" value="Scissors">
  </div>
</form>
