
<h1>Rock Paper Scissors</h1>
<h2>Sign in to play!</h2>
<form action="/names1" method="post">
<label for="player_1_name">
  <p>Player 1 name</p><br>
  <input class="input" type="text" name="player_1_name">
</label>
<input class="button" type="submit" value="Submit">
</form>
