<form action="/result">
   <label for="choice">
    <h3> Enter your choice:</h3>
  <input type="radio" name="choice" value="rock">Rock<br>
  <input type="radio" name="choice" value="paper">Paper<br>
  <input type="radio" name="choice" value="scissors">Scissors<br>
  <input type="radio" name="choice" value="spock">Spock<br>
  <input type="radio" name="choice" value="lizard">lizard<br>
  <br>
  <input type="submit" value="Submit">
</label>
</form>
