<h1> Pick your weapon Jess </h1>
<br />

<form action = '/result' method = 'gets'>

  <input type="submit" value="Rock"><br /><br />
  <input type="submit" value="Paper"><br /><br />
  <input type="submit" value="Scissors"><br /><br />
  </form>
