<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <%=@player1%> VS Computer
      <form action="/result">
        <button name="Rock">Rock</button>
        <button name="Paper">Paper</button>
        <button name="Scissors">Scissors</button>
      </form>
      </center>
  </body>
</html>

<!-- <img src="images/rock.jpg" alt="An angry Rock"> -->
