<h1><%= @game.player_1.name %> choose your move!<h1>

<h2>Choose from Rock, Paper or Scissors! Choose Wisely!<h2>
<form action="/results" method="get">
  <input type="text" name="move">
  <input type="submit" value="submit">
</form>
<h2>Good Luck!<h2>
