<div style="color:green;text-align:center">
  <h2> Choose your weapon, <%= @player1.name %>! </h2>
  <div>
    <form action="/move" method="post">
      <% @player1.weapons.rack.each do |weapon|%>
        <input type="submit" value="<%=weapon.to_s.capitalize%>" name="move"/> 
      <% end %>
    </form>
  </div>
</div>