<h1> Choose your weapon, <%= @player1.name %>! </h1>
<div>
  <form action="/move" method="post">
    <% @player1.weapons.rack.each do |weapon|%>
      <input type="submit" value="<%=weapon.to_s.capitalize%>" name="move"/> 
    <% end %>
  </form>
</div>
