<html>
    <head>
        <title>PLAY ROCK PAPER SCISSORS</title>
        <!-- <link rel="stylesheet" href='signup.css' type='text/css'> -->
    </head>

    <body>
      <h1> Hi there <%= @player %> </h1>
      <table class='buttons' border="1px">
          <tr>
              <td>Rock</td>
              <td>insert image and button</td>
          </tr>

          <tr>
              <td>Paper</td>
              <td> insert image and button </td>
          </tr>
          <tr>
              <td>Scissors</td>
              <td>Insert image and button</td>

          </tr>
      </table>


    </body>

</html>
