<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <h1>Rock, paper, scissors</h1>
    <p> <%= "#{@game.player}" %> vs. Computer </p>

    <form action="/rock" method="post" >
      <button type="submit" value="Rock" >ROCK
    </form>

    <form action="/paper" method="post" >
      <button type="submit" value="Paper" >PAPER
    </form>

    <form action="/scissors" method="post" >
      <button type="submit" value="Scissors" >SCISSORS
    </form>

  </body>
</html>
