<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
<h1> <%=@game.player.name%> vs AIbot!! </h1>
<h2> What do you choose?!</h2>
<form action="/selection" method="post">
  <input type="image"  src="/img/rock.png" name ="take_your_pick" value="Rock" alt="Rock" />
  <input type="image"  src="/img/paper.png" name ="take_your_pick" value="Paper" alt="Paper" />
  <input type="image"  src="/img/scissors.png" name ="take_your_pick" value="Scissors" alt="Scissors" />
</form>

<h3> Quick reminder: </h3>
  <li> <strong> Rock </strong> crushes scissors, but gets smothered by paper</li>
  <li> <strong> Paper </strong> smothers rock, but gets cut by scissors</li>
  <li><strong> Scissors </strong> cuts paper, but gets crushed by rock </li>
</ul>

<hr>
<br>
<small>Icons created by Christano Zoucas from the <a href="https://thenounproject.com/">Noun Project</a>. Used under <a href="https://creativecommons.org/licenses/by/2.0/">CC.</a></small>
