<head>
  <style>
    body {
      background-image: url("http://i.imgur.com/DPPa1p7.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    h1 {
      color: white;
      font-size: 100px;
      font-family: "Times New Roman body", Times, serif;
      margin-left: 60px
    }
  </style>
<head>

<body>
  <h1>
    God
  <h1>
  <h2>
    <%= @game.player_2.name %> is playing
  </h2>
  <div>
    <%= @game.player_2.weapon.type.to_sym %>
  </div>
  <form action="/play_player_2" method="post">
    <input type="text" name="weapon">
    <input type="submit" value="Play" >
  </form>
</body>
