Great <%=@game.player_1.name %>! Pick your weapon of choice.


<label for="weapons">Weapons</label>
<select id = "weapons">
  <option value = "1">ROCK</option>
  <option value = "2">PAPER</option>
  <option value = "3">SCISSORS</option>
</select>
