<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <%=@player1%> VS Computer

      </center>
  </body>
</html>

<!-- <img src="images/rock.jpg" alt="An angry Rock"> -->
