<h1>Let Play some awesome RPS <%= @name %></h1>

<h3>Pick one of the following</h3>

<div>
  <form class="form" action="/game" method="post">
    <input type="submit" value="Rock" name="rps">
  </form>

  <form class="form" action="/game" method="post">
    <input type="submit" value="Papper" name="rps">
  </form>

  <form class="form" action="/game" method="post">
    <input type="submit" value="Scissors" name="rps">
  </form>
</div>

<% if @rps != nil %>
  <h3><%= @name %> picked <%= @rps %></br>
  <h3>Computer picked <%= @computer.random_pick %></br>
<% end%>