<h2>Current Player: <%= @player_name %></h2>

<form action="/go" method="post">
  <p><input type="submit" value="Rock" name="hand"></p>
  <p><input type="submit" value="Paper" name="hand"></p>
  <p><input type="submit" value="Scissors" name="hand"></p>
</form>
