<center>
  <font face="Verdana" size="3">
    <p style="max-width: 200px; border: 2px solid #1F535D;background-color: #08CEF6">
      Hi <%= @player_1_name %>! <br><br>
      Pick an option below to start the game <br>
        <form action="/draw" method="post">
          <button type="submit">Rock</button>
          <button type="submit">Paper</button>
          <button type="submit">Scissors</button>
        </form>
    </p>
  </font>
</center>
