<h1>Player 1: <%= @name %></h1>
<h1>Player 2: Takeshi Kovacs</h1>

<h1>Choose your weapon:</h1>

<form method='post' action='/rock'>
  <button type='submit'>ROCK</button>
</form>
<form method='post' action='/paper'>
  <button type='submit'>PAPER</button>
</form>
<form method='post' action='/scissors'>
  <button type='submit'>SCISSORS</button>
</form>

<!-- <form action='/rock' method="post">
  <input type=“text” name="player_choice" />
  <input type="submit" value="Choose rock" />
</form>
<form action='/paper' method="post">
  <input type=“text” name="player_choice" />
  <input type="submit" value="Choose paper" />
</form>
<form action='/scissors' method="post">
  <input type=“text” name="player_choice" />
  <input type="submit" value="Choose scissors" />
</form> -->
