<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Rock,Paper,Scissors</title>
  </head>
  <body>
    <h1><%=@game.player.name%></h1>
    <form action='/result' method='post'>
      <button type='submit' value='Rock' name='choice'>Rock</button>
      <button type='submit' value='Paper' name='choice'>Paper</button>
      <button type='submit' value='Scissors' name='choice'>Scissors</button>
    </form>
    <h1>Computer: waiting for your choice<h2>
  </body>
</html>
