<html>

  <head>

  </head>

  <body>
      <h1>Rock, Paper, Scissors!</h1>
      <p><%= "#{@game.player_1.name} chose #{@game.player_1.choice}" %></p>
      <p><%= "#{@game.declare_winner}" %></p>
      <form action='/' method="get">
        <input type='submit' value='Play again!'>
      </form>
  </body>

</html>
