
<h1><%= "Hi #{@game.player.name}!" %></h1>
<h2>Pick your weapon:</h2>
<br>

<form action="">
  <input type="radio" name="weapon" value="Rock"> Rock<br>
  <input type="radio" name="weapon" value="Paper"> Paper<br>
  <input type="radio" name="weapon" value="Scissors"> Scissors<br>
  <input type="submit" value="Submit">
</form>
