<h1>Rock..Paper..Scissors</h1>

<% if @game.player2 == :no_player %>

    Waiting for another player to join...
    <br>
    <a href="/play?computer=yes">Play Computer</a>
<% else %>
    <% if @game.player2 == :computer %>
        You are playing the computer
        <br>
        <a href="/play?weapon=rock"><img src="/images/rock.png"></a>
        <a href="/play?weapon=paper"><img src="/images/paper.png"></a>
        <a href="/play?weapon=scissors"><img src="/images/scissors.png"></a>
        <br>

    <% else # There are two players %>

        You are playing <%= @game.opponent_of(@browser_id).name %>
        <br>

        <a href="/play?weapon=rock"><img src="/images/rock.png"></a>
        <a href="/play?weapon=paper"><img src="/images/paper.png"></a>
        <a href="/play?weapon=scissors"><img src="/images/scissors.png"></a>
        <br>

    <% end %>
<% end %>
