<h1><%= @player_name %> is playing!</h1>
<h2>Pick an option: </h2>
<form action="/choice/Scissors" method="post">
  <input type="submit" value="Scissors">
</form>
<form action="/choice/Paper" method="post">
  <input type="submit" value="Paper">
</form>
<form action="/choice/Rock" method="post">
  <input type="submit" value="Rock">
</form>

<% if @choice %>
You chose <%= @choice %>
<% end %>

