<h2><%= @player_name %> vs. <%= @computer_name %> </h2> 
<form action="/choose" method="post">
	<input type="submit" value="Rock" name="shape">
	<input type="submit" value="Paper" name="shape">
	<input type="submit" value="Scissors" name="shape">
</form>