<h1>Welcome <font color="red"><%= $game.player.name %></font>!</h1>
<h2>Ready to play? Pick your move!</h2>
<form action= "/move" method= "post">
  <input type="submit" name="move" value="ROCK">
  <input type="submit" name="move" value="PAPER">
  <input type="submit" name="move" value="SCISSORS">
</form>
