<div><%= @player_name %> vs Computer</div>
<div>Choose your weapon:</p>
<form action="/weapon" method="post">
  <button type="submit" name="rock">Rock</button>
  <button type="submit" name="paper">Paper</button>
  <button type="submit" name="scissors">Scissors</button>
</form>
