<head>
  <style>
    body {
      background-image: url("http://s3.thingpic.com/images/A6/SDpBWpyNnUauLr8YSVX14xsi.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
<head>

<body>
  <h1>
    Divine Battle
  <h1>
  <h2>
    <%= @game.player_1.name %> is playing
</body>
