<h1><%= @player_name %> is playing!</h1>
<h2>Pick an option: </h2>
<form action="/choice" method="post">
  <input type="submit" value="Scissors">
</form>
<form action="/choice" method="post">
  <input type="submit" value="Paper">
</form>
<form action="/choice" method="post">
  <input type="submit" value="Rock">
</form>
