<div>
  <h1><%= @game.player_choice %> <span class="versus">Vrs</span> <%= @game.computer_choice %></h1>
  <h2 id="comp"><%= @game.result %></h2>
  <form action="/game" method="get">
    <input class="submit" type="submit" value="Play again">
  </form>
</div>
