Hello, <%= @turn.player_name %>!

<form method="POST" action="/play">
  <input type="submit" name="shape" value="Rock" />
  <input type="submit" name="shape" value="Paper" />
  <input type="submit" name="shape" value="Scissors" />
</form>

You chose <%= @turn.player_shape.to_s.capitalize %>!

<div id="opponent">
  Opponent chose <%= @turn.opponent_shape.to_s.capitalize %>!
</div>

<% if @turn.win? %>
  You win!
<% elsif @turn.lose? %>
  You lose!
<% elsif @turn.draw? %>
  You draw!
<% end %>
