<html style="text-align:center; font-family:open-sans, sans-serif"></html>
<h1><%= @player_name %> VS the computer!</h1>

</br>

<form action="/result" method="post">
  <button type="submit" value='rock' name='weapon'>Rock </button>
</form>

<form action="/result" method="post">
  <button type="submit" value='paper' name='weapon'>Paper </button>
</form>

<form action="/result" method="post">
  <button type="submit" value='scissors' name='weapon'>Scissors </button>
</form>
