<html>

  <head>

  </head>

  <body>
      <h1>Rock, Paper, Scissors!</h1>
      <p><%= "#{@game.player} chose #{@game.choice}" %></p>
      <p><%= "#{@game.declare_winner}" %></p>
  </body>

</html>
