<%= @player_name %> vs. Computer
<form action="/result" method ="post">
  <input type="submit" name = "player_move" value="ROCK">
  <input type="submit" name = "player_move" value="PAPER">
  <input type="submit" name = "player_move" value="SCISSORS">
</form>
