<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
  </head>

  <body>
    <div id='profile-pic-2' class='left'>
      <%= "<img src='images/Clinton.jpg' height='350' width='600'>" %>
    </div>
    <form class='main-form-2' method='post' action='/play'>
      <h1 class='mainpage-header-2'><span class='republican'>ROCK,</span><br />
        <span style='padding-left:150px;'>PAPER,</span><br />
        <span class='democrat' style='padding-left:300px;'>POLITICS</span></h1>
      <%= "<h2 class='no-space'>Your Name:</h2> <input class='name-input' type='text' name='player'>" %><br>
      Your suggestion:<br>
      <input type='radio' name='choice' value='Rock' checked='checked'> Rock <br>
      <input type='radio' name='choice' value='Paper'> Paper <br>
      <input type='radio' name='choice' value='Scissors'> Scissors <br>
      <input type='radio' name='choice' value='Lizard'> Lizard <br>
      <input type='radio' name='choice' value='Spock'> Spock <br>
      <input class='start-button button-two' type='submit' value='PLAY'> <br>
    </form>

    <p class='mainpage-notice force-left force-down'>Clinton wants you on board, player two, to help<br>
      her beat Trump and win the election.</p>












      <!-- <form method='post' action='/play'>
        <h1>Rock, Paper, Scissors!</h1>
        <%= "<h2>Player Two\'s Name:</h2> <input type='text' name='player' value='#{@game.player_2.old_name unless @game.nil?}'>" %><br>
        <input type='radio' name='choice' value='Rock' checked='checked'> Rock <br>
        <input type='radio' name='choice' value='Paper'> Paper <br>
        <input type='radio' name='choice' value='Scissors'> Scissors <br>
        <input type='radio' name='choice' value='Lizard'> Lizard <br>
        <input type='radio' name='choice' value='Spock'> Spock <br>
        <input type='submit' value='Play'> <br>
      </form> -->
  </body>

</html>
