<!DOCTYPE html>
<html>

<head>
  <title>Rock Paper Scissors!</title>
</head>
<div style="text-align:center">

<body>
  
    <p style="text-shadow: 12px 12px 9px rgba(197,171,63,0.89);">
     <%= @name %> vs. Computer </p>
     
     <form action="/chooses_action" method="post">
      Rock: <input type="checkbox" id ="rock" value="Rock" name="move">
      Paper: <input type="checkbox" id ="paper" value="Paper" name="move">
      Scissors: <input type="checkbox" id="scissors" value="Scissors" name="move">
      <br><input type="submit" value="Make Move!">
      </form>
   
  </div>

</body>
</html>
