<head>
  <style>
    body {
      background-image: url("http://i.imgur.com/FHaYy5j.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    h1 {
      color: white;
      font-size: 70px;
      font-family: "Times New Roman body", Times, serif;
      margin-left: 60px
    }
    form {
      float: center;
      margin: 20px 20px 20px 400px;
    }
  </style>
<head>
<body>
  <h1>
    <%= @game.player_1.name %> is playing Adam
  <h1>
  <form action="/play_player_1" method="post">
    <input type="text" name="weapon">
    <input type="submit" value="Play" >
  </form>
</body>
