Great <%=@game.player_1.name %>! Pick your weapon of choice.

<label for="weapons">Weapons</label>
<select id = "weapons">
  <option value = "rock">ROCK</option>
  <option value = "paper">PAPER</option>
  <option value = "scissors">SCISSORS</option>
</select>
