<!DOCTYPE html>
<head>
<style>
  body {
    text-align: center;
    background: url("http://i.imgur.com/z4gkzAu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: trebuchet;
    font-size: 40px;
   }
  input[type="submit"] {
    background: grey;
    color: white;
    font-size: 18px;
   }
  input[type=text] {
     font-size: 18px;
     color: white
     border: 0;
   }
</style>
</head>
<body><h1> Rock Paper Scissors
<h2> Welcome <%= @name %></h2>
</body>
