<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <%=@player1%> VS Computer
      <form action="/selection" method='post'>
        <p>Pick your move:</p>
        <input type="radio" name="choice" value="Rock">Rock<br>
        <input type="radio" name="choice" value="Paper"> Paper<br>
        <input type="radio" name="choice" value="Scissors"> Scissors<br>
        <input type="submit" value="Play">
      </form>
    </center>
  </body>
</html>

<!-- <img src="images/rock.jpg" alt="An angry Rock"> -->
