<!DOCTYPE html>
<html lang="en">
  <head>
      <title>PLAY ROCK PAPER SCISSORS</title>
      <!-- <link rel="stylesheet" href='signup.css' type='text/css'> -->
  </head>

  <body>
    <h1> Hi there <%= @player %> </h1>
      <form action= "/play" method= "post">
        <input type="image" name="weapon_choice" value="rock" src="http://heavyeditorial.files.wordpress.com/2013/04/tumblr_lvb1i6pwa31qgc0j0.gif">
      </form>
      <form action= "/play" method= "post">
        <input type="image" name="weapon_choice" value="paper" src="http://cdn.makeagif.com/media/2-06-2016/z9tH1P.gif">
      </form>
      <form action= "/play" method= "post">
        <input type="image" name="weapon_choice" value="scissors" src="https://media.giphy.com/media/h6vTQ4kBIEP1m/giphy.gif" >
      </form>
  </body>
</html>
<!DOCTYPE html>
