<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-image: url("http://i.imgur.com/uSMV62w.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 15px;
        color: black
      }
    </style>
  <head>
  <body>
    <h1>
      The First Battle
    </h1>
    <h2>
      <% @game.player_1.name %> is playing adam
    </h2>
    Please choose between rock, paper, scissors
    <form action="/play_player_1" method="post">
      Adam's weapon
      <input type="text" name="weapon">
      <input type="submit" value="Play" >
    </form>
  </body>
</html>
