<h2>Choose your weapon set</h2>

<p>Enter as many weapons as you like, in order of hierarchy, separated by commas.</p>
<p>The last weapon on your list will beat the first weapon on your list</p>

<form action="/action_page.php" method="post">
  <input class="button" type="text" name="fname" value="John">
  <input class="button" type="submit" value="Submit">
</form>
