<h2>Enter your names</h2>

<form action="/name_pvp" method="post">
  <div class="flexbox">
    <div class="flexitem">
      <h3>Player 1</h3>
      <input class="button" type="text" name="player1_name">
    </div>
    <div class="flexitem">
      <h3>Player 2</h3>
      <input class="button" type="text" name="player2_name">
    </div>
  </div>
  <input class="button" type="submit" value="Submit">
</form>
