<h1> Welcome to Rock, Paper, Scisor!</h1>

<p>Please choose a name</p>

<form action="/register" method="POST">
  <input type="text" name="playername">
  <input type="submit" value="Start Game" name="submit">
</form>