<h1>Please Register To Play!</h1>
<form action="/setup" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name">
  </p>
  <p><input type="submit" value="OK"></p>
</form>
