<head>
  <style>
  body {
    background-size: cover;
  }
  </style>
<head>

<%= IMAGES[@game.weapons] %>
  <h1>
    Divine Battle
  <h1>
    <div>
    </div>
  <form action="/play1" method="get">
    <input type="submit" value="Play again" >
  </form>
</body>
