<h1><%=@player.name%></h1>
<h2>You were against the computer..<h2>
<h2>COMPUTER PICKED<<%=@battle.computer_choice%><h2>
<h2>YOU<%=@battle.result%><h2>

<h2>Play, again?<h2>
<form action="/" method="post">
    <input type="submit" value="Yes">
</form>
