<h1 style="text-align:center; font-size:100px"><%= @name %> picked <%= @choice %> </h1>
<h1 style="text-align:center; font-size:100px">Computer picked <%= @comp %> </h1>

<% if @result == "Player 1 Wins" %>
<h1 style="text-align:center; font-size:100px"><%= @name %> Wins!</h1>
<% else %>
<h1 style="text-align:center; font-size:100px">Computer Wins!</h1>
<% end %>
