<h1>Please choose rock, scissors or paper</h1>

<h1>Make a choice now</h1>

<form action="/rock">
   <input type="submit" value="rock">
</form>
<form action="/scissors">
   <input type="submit" value="scissors">
</form>
<form action="/paper">
   <input type="submit" value="paper">
</form>

<h2>You chose rock</h2>

<h2>Computer chose scissors</h2>

<h1>You have won, Rajeev!</h1>
