<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Rock,Paper,Scissors</title>
  </head>
  <body>
    <h1><%=@marketer.name%> has selected <%=@choice%></h1>
    <h2>Computer has selected <%=@computer.choice%></h1>
    <h1><%=@marketer.name%> has won the game</h1>
 </body>
</html>
