<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <%=@game.player1.name%> chose <%=@choice%>
      <br>
      <br>
      <%=@game.player1.name%> wins round
      <br>
      <br>
    </center>

  </body>
</html>
