<body>

<center>
  <h2><font face = "gothic"><%=@game.play%></font></h2>
  <h2><font face = "gothic"><%=@player.name%> choose <%=@player.choice%></font></h2>
    <h2><font face = "gothic">AI choose <%=@game.random%></font></h2>
  <h3><font face="verdana"><a href="/"> Restart the game </a></font></<h3>
</center>

</body>
