<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1> Results page </h1>
  <p>Player 1 choice is <%= @player_1 %> </p>
  <p>Computer choice is <%= @computer %> </p>
  <p>and the result is <%= @results %> </p>
</body>
</html>
