<h1>Player 1 has selected <%= @player_1_choice %></h1>
<h1>Player 2 has selected <%= @player_2_choice %></h1>
<h1>
<% if @game.result(@player_1_choice, @player_2_choice) == :win %>
  Congratulations - you won
<% else %>
  Sorry - you lost
<% end %>
</h1>
