<h1>Results!</h1>

Name: <%= @name %>

You selected: <%= @selection %>



Player 2 selected: <%= @player2_selection %>

<form action="/back" method="post">
  <input type="submit" value="Play again!">
</form>

