
<h1>Its a Draw!</h1>
<label for ="answer_1"> <%= @ans_1 %> </label>
<label for = "answer_2"><%= @ans_2 %></label>
<br>
<form action="/play1" method = "get">
  <br>
  <button class="button" type="submit">Play Again</button>
</form>
