<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Rock. Paper. Scissors.</h1>
    <br>
    <h2>You picked <%= @p_selection %></h2>
    <br>
    <h2>I picked <%= @ai_selection %></h2>
    <br>
    <h1><%= @result %></h1>
    <div style="text-align:center"> 
      <a href='/classic'>Play again?</a>
    </div>
  </body>
</html>