<h4>The results are in:</h4>
<p></p>
<h3><%= @game.result %></h3>
<p></p>
You chose to play <%= @game.player_move %>
<p></p>
The Computer played <%= @game.computer_move %>
<p></p>
<a href="/play">Play again!</a>
