<h1> You chose <%= $weapon %>.<h1>
<h1> Your opponent chose <%= $computer %>.</h1>

<%# # I want to write: 'You lose/win/draw' by using the global variable of $game. %>
# This does not work, though.

