<body>

<center>
  <h2><font face = "gothic"> win or lose message!<%=p @name%> <%=p @user_choice%></font></h2>
  <h3><font face="verdana"><a href="/"> Restart the game </a></font></<h3>
</center>

</body>
