<h1>Hello <%= @player_name %>, welcome to Rock-Paper-Scissors, MAMA-edition</h1>
<div>
  <form action="/select_hand" method="post">
    <input id="Paper" type="submit" name="player_1_hand" value="paper">
  </form>
</div>

<div>
  <form action="/select_hand" method="post">
    <input id="Rock" type="submit" name="player_1_hand" value="rock">
  </form>
</div>

<div>
  <form action="/select_hand" method="post">
    <input id="Scissors" type="submit" name="player_1_hand" value="scissors">
  </form>
</div>