<center><h1>Welcome <%= @player2 %>!<h1>
<h2>choose your rock paper or scissors<h2></center>

<center>	<form action="/alt_weapon" method="post">
  <button name="alt_weapon" value="Rock">Rock</button>
  <button name="alt_weapon" value="Scissors">Scissors</button>
  <button name="alt_weapon" value="Paper">Paper</button>

</form></center>