<html>
<center>
<h1>

SELECT GAME MODE:


<br>
<br>

<form action="/sp_names" method="get">
  <input type="submit" value="Singleplayer">
</form>

<form action="/mp_names" method="get">
  <input type="submit" value="Multiplayer">
</form>


<img src= "https://dl.airtable.com/.exploreCoverImages/112251f34e71db327669b3f31402f63f/ccde64df">


</h1>
</center>
</html>
