<h1>You selected </h1>
<form name="input" action="/play" method="get" >
  <input type="submit" value="Change selection">
</form>

<form name="input" action="/result" method="post" >
  <input type="submit" value="Proceed">
</form>
