<%=  $player_name %>
<form action="/rock" method="get">
  <input type="submit" value="rock">
</form>
<form action="/paper" method="get">
  <input type="submit" value="paper">
</form>
<form action="/scissors" method="get">
  <input type="submit" value="scissors">
</form>
