<h1> It's <%=@player_name%> vs CPU! </h1>

<h2>Please select your weapon</h2>
<form action="/calc" method="post">
  <label for="weapon">
    Weapon
    <input type="text" name="weapon">
  </label>
  <input type="submit" value="Submit">
</form>