<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h1>Enter your name:</h1>
      <form action="/name" method="post">
        Player 1: <input type = "text" name="player1"><br>
        <input type="submit"value="Submit">
      </form>
    </center>
  </body>
</html>
