<h1>Welcome to the Rock, Paper, Scissors Arena!</h1>

<h2>Enter your name to begin!</h2>

<form action='/single-name' method='post'>
  <label for="player_1">
    Your name:
    <input type="text" name="name">
  <input type='submit' value="Play!">
</form>
