<h1>The Rock, Paper, Scissors Arena!</h1>

<h2>Get ready to play <%= @game.player.name %>!</h2>

<form action='/single-game' method='post'>
  <label for="weapon">
    Choose rock, paper or scissors:
    <input type="text" name="weapon">
  <input type='submit' value="Submit">
</form>
