<head>

<!-- css add styling -->

</head>

<body>

  <h1>Rock Paper Scissors Spock Lizard</h1>
  <br>
  <h4>Enter Names:</h4>
  <form action='/mutliplayer-game' method='post'>
    Player 1 Name:<br>
    <input type="text" name=name_1><br>
    <br>
    <input type="submit" value="Start Game!">
  </form>


</body>
