</form></center>

<center><h1>Please enter your name<h1></center>

<center><form action="/names" method="post">
Player 1:
<input type="text" name="player_1">
<input type="submit" value="Submit">
</form></center>

 

