¯\_(ツ)_/¯

<head>
  <title>Rock, paper, scissors, lizard, Spock.</title>
</head>
<body>
  <h1>Player, enter your name:</h1>
  <form action="/save_player_name" method="post">
    <input type="text" name="player_name">
    <input type="submit" value="Enter the arena">
  </form>
</body>