<center><h1>Welcome <%= @player1 %>!<h1>
<h2>choose your rock paper or scissors<h2></center>

<center>	<form action="/weapon" method="post">
  <button name="weapon" value="Rock">Rock</button>
  <button name="weapon" value="Scissors">Scissors</button>
  <button name="weapon" value="Paper">Paper</button>

</form></center>