/*
 *= require reset
 *= require layout
 *= require header
 *= require footer
*/


h1 {
  background-color: skyblue;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #f2f5f8;
  font-weight: 300;
}