<!DOCTYPE html>
<html>
    <head>
        <title>BOOM</title>
    </head>

    <body>
      <h1> <%= @player %> chose <%= @p1_weapon %> </h1>
      <h1> Computer chose <%= @p2_weapon %> </h1>
    <body>
<html>
