</br>
<h1> <center>  <font face='Courier New' color="blue"><%= "You chose #{@game.player_weapon_string}" %></font> </center> </h1>
</br>
<h1> <center>  <font face='Courier New' color="red"><%= "#{@game.computer.name} chose #{@game.computer.weapon_choice}" %></font> </center> </h1>
</br>
<h1> <center>  <font face='Courier New' color="green"><%= "The winner of the game is: #{@game.finish}" %></font> </center> </h1>
