<h1> Ok <%= $player %> choose your weapon:</h1>

 <form method="post" action="/result"> 
      <input type="submit" name="p1move" value="rock" />
      <input type="submit" name="p1move" value="paper" />
      <input type="submit" name="p1move" value="scissors" />
  </form>
