<center>
<h1>Choose your weapon, <%= @player %>!</h1>
<form action="/weapons" method="post">
  <input type="submit" name="weapon" value="Rock">
  <input type="submit" name="weapon" value="Paper">
  <input type="submit" name="weapon" value="Scissors">
</form>
<% if @player_weapon %>
You have chosen <%= @player_weapon %>!
The computer has chosen <%= @computer_weapon %>!
<%= @result %>
<% end %>
</center>