<!DOCTYPE html>
<html>

<head>
  <title>Rock Paper Scissors!</title>
</head>

<body>
  <div>
    <p style="text-align:center; text-shadow: 12px 12px 9px rgba(197,171,63,0.89);">
    Welcome <%= @name %> </p>
  
   
   </div>

<body>