<!doctype html>
<html lang="en">
<head>
  <title>Welcome!</title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
  <form action='/' method='post'>
    <div><label for="name">Player 1 - please enter your name!</label>
    <input type='text' name='name'></div><br>
    <div><label for="name2">Player 2 - please enter your name!<br>
      Leave empty to play against Computer</label>
    <input type='text' name='name2'></div>
    <input type='submit' value='Go'>
  </form>
</body>
