    <h1 id = "player-name">Hello <%= @player1 %>! Let's play!</h1>
    <br>
    <br>
    <form id = "rsp-buttons" action=/final method=get>
      <button type=submit value=ROCK name=ROCK class="btn btn-primary">ROCK</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<button type=submit value=SCISSORS name=SCISSORS class="btn btn-primary">SCISSORS</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type=submit value=PAPER name=PAPER class="btn btn-primary">PAPER</button>
    </form>
