<title>You win!</title>

<center>
<h2>You pick <%=@player_pick%>.<br>
    Sphinx picks <%=@computer_pick%>.</h2>
You win! Oh glorious day! The secret of eternal life will be yours!
<h2>"Fine, I'll tell you."</h2>
Yes! Yes!
<h2>"The secret to eternal life is:"</h2>
Here it comes!
<h2>"It's *mumbles inaudibly*"</h2>
Darn!
</center>
