<center><body style="background-image:url('https://cdn.pixabay.com/photo/2015/01/08/18/24/children-593313_1280.jpg');background-repeat:no-repeat;background-position:center;background-size:auto;">
<h1 style=font-size:200px;color:red;><center>You Won!</center><h1>
  <center><form action="/names" method="post">
    <button style="height:75px;width:200px;font-size:25px;margin-bottom:25px;" type="submit" value="Play Again?">Play Again?</button>
  </form></center>
<h2 style=font-size:100px;color:red;><center>Thanks for playing</center><h2>
