<center>
<br>
<h1> <%= @player.choice%> vs <%= @computer.choice %> </h1>
<h2>Congratulations <%=@player.name%>, you won!</h2>

<form action="/">
  <input type="submit" value="Restart">
</form>
</center>