<h1>Rock * Paper * Scissors</h1>

<h2>You chose:  <%=@game.player.choice%></h2>
<h2>The computer chose:  <%=@game.computer.choice%></h2>

<h1>YOU WON!</h1>

<form action="/play" method="GET">
  <input type="submit" value="PLAY AGAIN?">
</form>

<form action="/" method="GET">
  <input type="submit" value="Change Player?">
</form>
