<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align:center; font-family:Helvetica,sans-serif;}
h2 {text-align:center; font-family:Helvetica,sans-serif;}
form {text-align:center; font-family:Helvetica,sans-serif;}
</style>
</head>
<body>

<% @game.player.wins += 1 %>
<h1><%="You win, #{@game.player.name}!"%></h1>
<br>
<form method="get" action="/play" id="replay">
  <button type="submit">Play again?</button>
</form>
<br>
<form method="get" action="/" id="nope">
  <button type="submit">Nah</button>
</form>
