<% if @game.player_wins? %>
Congratulations <%= @game.player_name %>, you have defeated the robot!
<% else %>
The AI uprising has begun. Run for cover, learn how to farm.
<% end %>
<br>
<form>
  <button formaction="/play_again" formmethod="POST" type="submit">Play again</a>
</form><br>
<form>
  <button formaction="/" formmethod="GET" type="submit">New Game</a>
</form>